[2018-03-27 14:40] corradio commented on #1272
Probably there's a bug in the RTE parser.
My suggestion: remove the price section of the RTE parser, and use ENTSOE
instead.

Olivier

On Tue, Mar 27, 2018 at 4:39 PM, Alex <notifications@github.com> wrote:

[2018-03-27 14:54] janvlug commented on #78
I sent an email to the [SER](https://www.energieakkoordser.nl/energieakkoord.aspx) to ask their reaction on the comment above.

[2018-03-27 15:00] alixunderplatz commented on #1272
@corradio the ENTSO-E data that is used for the live-view is a bit behind the RTE data, so the displayed prices from ENTSO-E are kind of "1 hour behind"

[2018-03-27 15:11] janvlug commented on #78
I sent a similar request to the Dutch minister of economical affairs and climate, Eric Wiebes.

[2018-03-27 15:12] PaulCornelissen commented on #1272
I all ready noticed the problem more than one week ago, but didn't yet report it. So it's not related to summer time.

I took these screenshot (not entirely sure which countries) 20th of march:
<img width="344" alt="screenshot 2018-03-20 17 08 57" src="https://user-images.githubusercontent.com/5185181/37976491-e8531d90-31e1-11e8-9b6b-1644d9f01b83.png">
<img width="338" alt="screenshot 2018-03-20 1

[2018-03-28 07:06] jarek commented on #959
Imports from the "rest of US" now appear on the website :+1:

[2018-03-28 07:41] brunolajoie commented on #959
Nice job!
What do you guys think about we should computing a static "rest of the US" carbon intensity for CAISO imports, in order to finetune CAISO carbon intensity? It seems feasible technically speaking

[2018-03-28 07:49] strassburger opened #1274 "El Hierro carbon intensity is undefined when producing only from hydro storage"
disappeared in ranking
Carbon data not shown.
situation:  hydro only

[2018-03-28 08:11] jarek commented on #1274
Thanks for noticing! Looks like currently El Hierro is running on _only_ discharge from hydro storage, which was charged up during windy weather recently:

![only storage production](https://user-images.githubusercontent.com/47415/38016670-068bf3b6-3270-11e8-9972-53f2ded2df7f.png)

This is possibly similar/same issue as seen for Aland #883 which can run on only imports with no local production.

[2018-03-28 08:15] jarek commented on #1274
Here is screenshot from https://demanda.ree.es/movil/canarias/el_hierro/total/2018-03-28 at 9:13 local time, confirming load of ~5.6 MW and production fully from hydro as of half an hour ago:
![demand and production](https://user-images.githubusercontent.com/47415/38016928-e6bb3fdc-3270-11e8-971d-a82689c8358a.png)

[2018-03-28 08:49] alixunderplatz commented on #959
@brunolajoie it's really hard to determine what is happening around California and where the energy is atually coming from.
1. There is a high share of hydro from [BPA](https://transmission.bpa.gov/business/operations/Wind/baltwg.aspx) (#1040) in the north.
2. [Nevada](https://www.eia.gov/state/?sid=NV#tabs-4) mostly generates from gas, but also has significant geothermal, solar and hydro.
3. [Ari

[2018-03-28 08:50] systemcatch commented on #1274
I think it should show in the rankings in this case?

[2018-03-28 08:54] alixunderplatz commented on #1274
The emissions from Pumped Storage are not displayed / accounted: 😟

![image](https://user-images.githubusercontent.com/25743609/38018843-5acc3fd4-3276-11e8-85d1-86736dee299c.png)

[2018-03-28 09:00] alixunderplatz commented on #1274
Given the fact that PS consume energy from the mix, the carbon content of the storage has already been considered previously. But still, the "other" LCA emissions of PS should be included.
It also says 24 g/kWh like for usual hydro, but once you switch to the Emissions tab, there are no absolute emissions for the pumped storage category.

[2018-03-28 09:18] jarek commented on #883
On the other hand, there are zones where no own production and supply only from imports is an error, e.g. Croatia right now:

![hr](https://user-images.githubusercontent.com/47415/38019961-54832e6e-3279-11e8-8d6b-36cf9909c1c2.png)

And this also happens when a central European country doesn't report their own production but the neighbours report exchanges (e.g. Austria, Switzerland). In those case

[2018-03-28 09:31] alixunderplatz opened #1275 "Add Idaho (IPCO / US-ID)"
There is generation data for **Idaho Power Company**:
https://www.idahopower.com/energy/delivering-power/generation-and-demand/

It has a delay of about 2-3 hours. It's also available as a table for the timeframe displayed in the chart.

![image](https://user-images.githubusercontent.com/25743609/38018727-063001c2-3276-11e8-8940-145545641c3a.png)

If you select one of the bars, a new window will o

[2018-03-28 10:01] systemcatch commented on #1275
Excellent find as usual Alex! I have some problems getting the chart to work in firefox but chromium handles it fine. Watching the network requests the chart is populated by data from https://api.idahopower.com/Energy/Api/V1/GenerationAndDemand/Subset

Looking at areas https://www.idahopower.com/about-us/service-area-map/ indicates they are separate from BPA.

[2018-03-28 10:10] alixunderplatz commented on #1275
@systemcatch perfect! I also couldn't revisit the [hourly chart](https://www.idahopower.com/energy/delivering-power/generation-demand-detail/?date=20180327&hr=19#tab-1-2), only works when I have been on another page of their site - maybe some cookie issue?

Looks like Idaho has been a net importer in 2017, covering 62% of their domestic demand according to this chart from [here](https://www.ceres.

[2018-03-28 10:32] systemcatch commented on #1275
Hourly D-1 exchanges are available at https://www.eia.gov/opendata/qb.php?category=2122572

[2018-03-28 10:34] alixunderplatz commented on #1275
And "total" hourly exchanges close to real-time are here:
https://www.eia.gov/realtime_grid/?src=home-undefined#/data/graphs?end=20180328T05&start=20180321T09&bas=0000000000g&regions=0

[2018-03-28 10:36] corradio commented on #1272
@alixunderplatz can you detail a bit what you mean by saying ENTSO-E data is behind RTE data?
You mean that the timestamps shown here
https://transparency.entsoe.eu/transmission-domain/r2/dayAheadPrices/show?name=&defaultValue=false&viewType=TABLE&areaType=BZN&atch=false&dateTime.dateTime=28.03.2018+00:00|CET|DAY&biddingZone.values=CTY|10YFR-RTE------C!BZN|10YFR-RTE------C&dateTime.timezone=CET_CE

[2018-03-28 10:52] alixunderplatz commented on #1272
@corradio Sure: Let's say we choose the price data for this recent hour 12:00-12:59 h CET.
For France, the correct day-ahead market price of 49.62 €/MWh is shown in the graph already.

Generation data for this period of time is also there.
![image](https://user-images.githubusercontent.com/25743609/38024623-e28ce19e-3285-11e8-984d-bab2d6d67572.png)
_ _ _ _

For bidding zone Germany/Austria/Luxembo

[2018-03-28 10:57] alixunderplatz commented on #1272
I can confirm there is nothing wrong with the data on ENTSO-E. Due to the market coupling mechanisms, some hours may have the same market prices for both bidding zones FR and DE/AT/LUX. For these two bidding zones, you can see prices for today are equal between 2 and 5 at night, which proves everything is okay there.

[2018-03-28 11:04] corradio commented on #1272
I've looked at the data behind the history graph, and I saw the following for DK-DK2:
- `stateDatetime`: 2018-03-27T11:00:00.000Z
- value: 47.53
On ENTSOE, using UTC:
- 10:00 - 11:00 -> 47.53
- 11:00 - 12:00 -> 45.13

So it seems like we're off by one hour indeed.

[2018-03-28 11:08] systemcatch commented on #1177
Further watching of the SPP and MISO data hasn't resolved the problem. Sometimes the SWPP actual and MISO scheduled are fairly near, other times they are 100's of MW apart. @corradio can you make a decision here? Either we wait for a better data source or use the SWPP one which is probably not that reliable.

[2018-03-28 11:22] corradio commented on #883
We have opened a backend issue to fix this

[2018-03-28 11:25] corradio opened #1276 "Hydro discharge total emissions not shown"
As explained in https://github.com/tmrowco/electricitymap/issues/1274#issuecomment-376813737

![image](https://user-images.githubusercontent.com/1655848/38026189-751f7ac6-328b-11e8-9cad-93924984bbcb.png)

![image](https://user-images.githubusercontent.com/1655848/38026191-7adc8e5e-328b-11e8-8121-961a5a93a50c.png)

[2018-03-28 11:25] corradio commented on #1274
We have opened a backend issue to fix the issue about carbon intensity.
@alixunderplatz I opened https://github.com/tmrowco/electricitymap/issues/1276 to deal with the specific issue you mention.

[2018-03-28 12:47] alixunderplatz commented on #143
Not sure if this will lead anywhere, but here is a map from the [NERC website](https://www.nerc.com/AboutNERC/keyplayers/Pages/default.aspx) with "NERC regions", which stands for North American Electric Reliability Corporation.

![image](https://user-images.githubusercontent.com/25743609/38029539-66920356-3296-11e8-83cc-50b079bfa119.png)

Maybe it is worth to check all of these for data, too. Thes

[2018-03-28 15:36] corradio opened #1277 "Add static carbon intensity for NL exports"

[2018-03-28 21:56] alixunderplatz commented on #78
There is a monthly report by Dr. Martien Visser / Hanze University of Applied Sciences Groningen for their Energy Transition Centre _EnTranCe_, which seems to have generation time series and mix breakdown - various sources are mentioned below the graphs.

Find the reports here:
http://en-tran-ce.org/newsletter-renewable-energy-in-the-netherlands/

This image is in the report for [February 2018](ht

[2018-03-29 07:02] brunolajoie commented on #78
Super nice! I see two steps forward (correct me if i'm wrong)
1. Try to use this deck to set up a fixed carbon intensity of export for NL
2. Contact them to see if they have raw hourly resolution dataset available somewhere for us (from what i've seen, it's only pictures)

[2018-03-29 07:56] alixunderplatz commented on #78
right! :) 2.) from the raw data you'll see how strong the domestic carbon intensity will fluctuate over time to determine 1.) in #1277 - I think it could be a significant up-and-down due to wind and solar.

[2018-03-29 08:23] brunolajoie commented on #78
I'll contact them. If no/negative answer within a week, I suggest to try to add mean intensity values derived from annual aggregates

[2018-03-29 11:05] systemcatch opened #1278 "Create a build script for running locally"
When developing locally it would good to build the map from a script rather than having to enter `docker-compose run --rm web npm run watch` then start a new terminal and run `docker-compose up --build`

Something like `./build.sh`

This is just a 'nice to have' thing. I know there are more important things to work on right now.

[2018-03-29 15:18] corradio commented on #1030
I like having a simple case to think about things. For example here, El Hierro is having a lot of wind, triggering storage units to use pumped storage.
![image](https://user-images.githubusercontent.com/1655848/38096918-5855773a-3374-11e8-8d2e-8632f3677839.png)

One thing I wanted to do is to have the "origin of electricity" curve represent the load curve (as right now it sums up to the total amou

[2018-03-29 15:19] corradio commented on #1271
Let's talk about the graph issue in https://github.com/tmrowco/electricitymap/issues/1030, and let's keep that issue about setting oil to 0 (instead of None) when production indeed is 0

[2018-03-30 07:56] corradio commented on #1257
It seems US-SPP has historical data:
![image](https://user-images.githubusercontent.com/1655848/38129755-93e9b1f8-3400-11e8-9e89-40d7646bbac9.png)

but I'm not completely sure though.

[2018-03-30 08:09] corradio commented on #1177
Hi @systemcatch,
Sorry for the delay. I'm unfortunately not in a position where I have enough information in order to take such a decision. If the MISO and SWPP differ, there's a couple of possible reasons:
1. We are not interpreting the SWPP data correctly
2. The SWPP data is not reliable
3. The MISO data displayed on their website is incorrect

This website seems to be quite "trustable" in order

[2018-03-30 16:44] systemcatch commented on #1177
That's a good idea to use the EIA as a reference point. I can write a script to compare those csv's against the EIA data set which goes back years.

[2018-03-30 18:08] systemcatch commented on #143
As a further idea we could use congressional boundaries to give us more flexibility with drawing the US ISO areas. See https://stackoverflow.com/questions/14565963/topojson-for-congressional-districts for more details.

[2018-03-31 12:30] corradio commented on #78
@brunolajoie let's use #1277 for the fixed carbon intensity, and keep this issue open for real-time data.

[2018-03-31 15:44] jarek commented on #809
Hello,

Thanks everyone for your help on Malaysian data! As far as I understand, we've implemented all useful data available. Insular Malaysia is missing, but we haven't seen suitable data sources. As there is nothing more to do, I'll close this issue for now, but please do reopen it if more data is found.

[2018-03-31 15:44] #809 closed

[2018-04-01 08:41] #1129 closed

[2018-04-01 08:50] #1131 closed

[2018-04-01 08:55] corradio commented on #733
This requires having fetched all histories for all zones before having that feature available. That's quite expensive from a network perspective.

How valuable is that feature for users?

[2018-04-01 08:56] corradio commented on #902
Aside from the frontend issues, the first task here is to make sure the backend returns the last carbon intensity. This is not currently feasible as the backend only queries data for the last 2h, so there's no way to know that there are countries with older data (without doing another query).

There's another way to do it, and that's by using the history data. However this means fetching all histo

[2018-04-01 09:29] jarek commented on #799
So, there are currently two tickets for Australian data, the other is #1196  "AUS zones returning data from the future".

From last several weeks of casual browsing of Electricity Map I haven't seen the missing-solar issue happening. Possibly it was fixed by something along the way. Maybe it was getting confused by main data being in the future, before we started rejecting that? I'll close this is

[2018-04-01 09:32] jarek commented on #1196
Possible different source for AUS data, from systemcatch's comment in https://github.com/tmrowco/electricitymap/issues/799#issuecomment-372155243 :

I already see that that endpoint also returns dates 4-5 minutes into the future. But we could try investigating if it's safe to subtract 5 minutes, and if the source is trustworthy, comparable to the data we're using now, and/or more reliable.

[2018-04-01 09:50] #1226 closed

[2018-04-01 09:52] corradio commented on #1231
I'm closing here due to inactivity.
@Jababinet feel free to re-open, or reach out on Slack if you have any comments.

Olivier

[2018-04-01 09:52] #1231 closed

[2018-04-01 10:07] corradio commented on #1030
This is an example with Germany for example:
![image](https://user-images.githubusercontent.com/1655848/38171999-a9264734-35a4-11e8-86b8-0b57efdc61c2.png)

There's a lot of information.

Here's an idea:
We could show an area chart, coloured by the zone's carbon intensity, showing storage and exports over time. This would even highlight how small the Tesla battery is in AUS.

For the load informati

[2018-04-01 11:03] corradio commented on #883
Fixed!

[2018-04-01 11:03] #883 closed

[2018-04-01 11:07] corradio commented on #1107
- No sense to have the map zoomed in when no data
- Twitter 50/50
- Facebook 65% favour zoomed out
- Suggestion: cookies should remember last zoom level

[2018-04-01 11:11] corradio opened #1283 "Validation: DK coal should be required"
It's currently not, and show too green.
This is probably true for a number of other countries.

![image](https://user-images.githubusercontent.com/1655848/38172536-2e3c4640-35ae-11e8-88f2-6507eb40285f.png)

[2018-04-01 11:20] corradio commented on #1204
Can we close this one now that a PR for the collapsable left panel is submitted?

[2018-04-01 11:27] #1107 closed

[2018-04-01 11:50] jarek commented on #1283
Yeah, half an hour later the data shows 1.5 GW of coal :/

Would it be sufficient to filter for coal being `None` (question mark shown here) rather than 0? In cases of missing data, is it always None, or sometimes wrongly 0 as well?

[2018-04-01 12:00] corradio commented on #1283
It seems like filtering for None might be enough.
Should do that filtering inside the parser or in https://github.com/tmrowco/electricitymap/blob/master/parsers/lib/quality.py#L36 ?
Also, @maxbellec, what happens if only one datapoint does not pass the validation in quality.py? Do we invalidate the whole series or just that datapoint?

[2018-04-01 13:20] brunolajoie commented on #1107
What's our choice for default view if you visit it for the first time then? polls suggest zoomed out

[2018-04-01 13:30] corradio commented on #1107
Yes that's how it's implemented now. Zoomed out in all cases (even second time you visit).

[2018-04-01 16:37] corradio commented on #1283
..and IE

[2018-04-01 17:14] systemcatch commented on #1204
It depends on if you still want full screen as an option. I watched a small part of the COP23 talk and thought removing the browser panel would be a plus when doing a demo.

[2018-04-01 17:41] corradio opened #1284 "AR Plant mappings missing"
![image](https://user-images.githubusercontent.com/1655848/38175890-aa4ea12a-35e4-11e8-8bca-0efd7431a7e4.png)

[2018-04-01 18:45] systemcatch commented on #1283
@corradio you could use validation.py here if you just need to check for None, https://github.com/tmrowco/electricitymap/blob/master/parsers/lib/validation.py#L81.

[2018-04-01 18:59] systemcatch commented on #1204
Alright we'll leave it for now. :hammer:

[2018-04-01 18:59] #1204 closed

[2018-04-02 07:00] #1243 closed

[2018-04-02 12:38] jarek commented on #1030
To be honest I have started to like the idea of scaling the origin of electricity so that it matches the load curve. Currently the origin of electricity looks un-intuitive in Balkans and Baltics.

The problem with that is defining what such a chart actually is and what to call it, because it's not origin of electricity in MW/GW anymore. "Fuel mix of local load" is the best I can come up with. Then

[2018-04-02 12:48] jarek opened #1285 "Namibia parser should read out data timestamp"
Current time in Namibia is 2 April 14:41 but the [Nampower dashboard](http://www.nampower.com.na/Scada.aspx) is stuck on 1 April 11:45:40.

Timestamp of the data is available in http://www.nampower.com.na/gis/images/File_Info.png

We could OCR that file. A quick attempt using the current tesseract methods and upscaling from 600x20 to 1200x40 seems to have worked alright, I got `SCADA File Dene: 01

[2018-04-02 14:30] systemcatch commented on #1285
That's annoying, similar issue with the SG solar ocr stalling but still returning data that was accepted. I think I tried to do something with the timestamp but never got it to read properly.

[2018-04-02 15:14] brunolajoie commented on #1030
Its an interesitng idea...especially if we don't show "GW" but "%" in the scale.

[2018-04-02 16:12] corradio commented on #1030
@jarek I think that if you scale generations+imports according to load,
you've already subtracted exports/storage, so showing them as negative
doesn't really make sense anymore.
Either we show a "net" graph that scales to load, but then the
exports/storage have already been subtracted, or we show each
generation/import and exports/storage components separately (the sum of
both will be the load). T

[2018-04-02 16:41] systemcatch commented on #1030
No comment on showing exports, others have better & more detailed ideas. One thing I will say is that if another chart is added things will become even more cramped than they are now.

It's always bugged me that the origin of electricity graph is hidden and requires scrolling to see it when a zone is clicked on, imo this is one if not the most interesting graph in the whole project yet it's hidden

[2018-04-03 07:51] maxbellec commented on #1283
@corradio good question. Currently, it invalidates the whole series, which does not really make sense. If you agree, I'll change so that it only removes invalid points, and that in warns (in the public logger) about them.

[2018-04-03 07:54] corradio commented on #1283
I think that's good idea! It should probably log an exception for each data point invalid, but not invalidate the series.
Furthermore, we should decide on where to put the code that calls validation.py to check for relevant data. Should it be in the parser, or in quality.py?
I think we should put it in the parser to keep decentralised.

[2018-04-03 07:56] corradio commented on #1277
Talked to Dr. Martien Visser from Entrance (cc @alixunderplatz)

I think that's a number we can use!

[2018-04-04 09:58] #1284 closed

[2018-04-04 10:01] corradio commented on #1277
It's domestic generation only, so indeed it is a very crude approximation. You are totally right.
How do you suggest we proceed? Correct it with the average flows and the intensities of neighbours?

[2018-04-04 11:37] alixunderplatz commented on #1277
That's really a tough question.
The only thing that seems possible at the moment is combining total generation [from TenneT](https://www.tennet.eu/nl/elektriciteitsmarkt/data-dashboard/productie/) (even though it is not always reliably available) with the static intensity and putting it to the "unknown" category. This way, at least the imports would have their influence on the average domestic car

[2018-04-04 11:44] PaulCornelissen commented on #1277
Actually you don't have to put it all under "unknown" because renewables production is available from:
http://energieopwek.nl

Separated in biomass, wind and solar.

[2018-04-04 12:05] alixunderplatz commented on #1277
@PaulCornelissen yeah, that site had also been mentioned in the main issue #78.

As far as I can recall, these figures are estimates and would "spoil" the mix with the static carbon intensity in return, because they are already included in that static value that is mentioned above.
In addition, in the biogas category, they only seem to consider generation from biogas and not from other biomass lik

[2018-04-04 12:27] alixunderplatz opened #1288 "Revise and improve AR.py plant mapping"
Data for categories ["thermal"](http://portalweb.cammesa.com/MEMNet1/Pages/Informes%20por%20Categor%C3%ADa/Operativos/DespachoGenTermica_Minimal.aspx) and ["hydro"](http://portalweb.cammesa.com/memnet1/Pages/Informes%20por%20Categor%C3%ADa/Operativos/DespachoGenHidra_Minimal.aspx) generation from Cammesa is used for the map.
Some recently comissioned power plants were causing a warning every once

[2018-04-04 16:51] systemcatch commented on #1288
I'd rather not make assumptions about the power plants based on 2 letters tbh. Better we just update them as necessary, I've used the link posted before to do that.

Good spot with the EO and FV plants, it's weird they're in the hydro section but possibly that's more of a renewable section now anyway.

[2018-04-05 07:35] brunolajoie commented on #1277
A more detailed answer from Dr. Visser on the 2017 annual NL average production (MWh) is:

[2018-04-05 10:36] corradio commented on #1272
In our database it seems like we're also off by one hour, so it must be a parser issue..

![image](https://user-images.githubusercontent.com/1655848/38360997-3cb6cba2-38cc-11e8-99f9-15f1d4cf2e81.png)

The ENTSOE parser returns incorrect data:
[code]

It actually seems like the whole ENTSOE parser is malfunctioning.

Here with BE production data @ 8AM UTC (looking at gas for reference).

![image](h

[2018-04-05 10:58] corradio opened #1290 "Graph label issue"
In "carbon" mode, the second graph shouldn't say "Carbon intensity" it should say "Origin of carbon" or "Origin of emissions"

![image](https://user-images.githubusercontent.com/1655848/38362397-0313bd60-38d1-11e8-9526-0d2f42ba374a.png)

[2018-04-05 12:40] brunolajoie commented on #1177
Hey guys, do you know what is "coal market" vs "coal self"?
![image](https://user-images.githubusercontent.com/22095643/38366154-2b89b58e-38df-11e8-8fba-f7b26e90c47d.png)
We've got to be careful if its not SPP's own production facility, and if they just purchase it from a region physically not inside their control area. We only want to add it to the production mix of the region if if has been prod

[2018-04-05 12:44] corradio commented on #1168
Happened again.

[2018-04-05 12:51] brunolajoie opened #1292 "spp"

[2018-04-05 12:51] #1292 closed

[2018-04-05 12:57] corradio opened #1293 "Add SPP Capacities"
We have figured them out here!
https://github.com/tmrowco/electricitymap/pull/1240#issuecomment-375387756

[2018-04-05 13:28] brunolajoie commented on #1177
I think that we can add both coal (market, and self) in our parser.
Coal (self) seems to be self-owned SPP power plant. Coal (market) is produced by other power producers, all under the SPP control area

[2018-04-05 13:50] #1283 closed

[2018-04-05 15:25] systemcatch commented on #1177
Luckily they are already added together!

[2018-04-05 16:14] maxbellec commented on #1177
IEA latest MISO <-> SPP exchange data is from two days ago and SPP gives data for the last few hours. I've saved that output, in 48 hours we'll be able to check if SPP and IEA match for this exchange.
[SPP-MISO_exchange-2018-04-04.txt](https://github.com/tmrowco/electricitymap/files/1880815/SPP-MISO_exchange-2018-04-04.txt)

[2018-04-05 16:16] maxbellec commented on #1177
Latest EIA data can be retrieved here:
http://api.eia.gov/series/?api_key=b93a583eeed9d0ed324f3b21923af444&series_id=EBA.SWPP-MISO.ID.H

[2018-04-05 20:30] alixunderplatz commented on #304
The website of the national power portal https://npp.gov.in/ has some interesting links and apps.

Let's hope one day things like live generation will be centralized here in another dashboard! 🙏

[2018-04-05 20:56] alixunderplatz commented on #304
Market prices for all areas hooray!

The displayed market prices are for the recent quarter hourly block (Don't get confused by the weird 30 minute offset!!! GMT+5:30)
http://www.vidyutpravah.in/

![image](https://user-images.githubusercontent.com/25743609/38391119-9bc8348a-3923-11e8-9f20-d502a231514c.png)

[2018-04-05 21:32] alixunderplatz commented on #304
To keep the ball rolling:

On the website for marginal costs of generation per state
http://meritindia.in/

I may have  found the most exciting thing so far: **Live generation for India as a whole**:
----
At least I hope it is:

![image](https://user-images.githubusercontent.com/25743609/38392054-678b4b5a-3926-11e8-97f3-7cd332d7c243.png)

*Unfortunately*, the renewables section has no breakdown to

[2018-04-05 21:39] systemcatch commented on #304
When you need something found, put @alixunderplatz on the case!!!!

[2018-04-05 22:03] systemcatch commented on #1168
It returned year < 2000 again?

@corradio it's working now when I run it manually. That error indicates the file was there with it's usual name, but the structure must have been totally different for https://github.com/tmrowco/electricitymap/blob/master/parsers/CL_SIC.py#L262 to fail. Let's keep and eye on it and see if it happens again, they might change the file type near the end of the month or

[2018-04-06 08:11] maxbellec opened #1296 "When panel is collapsed, clicking on 'Show ranking' or on an country has no effect"
After collasping the panel, if I click on either 'Show ranking' or a country, nothing happens.

I would expected the panel to come back when I click on one of those, and show the information I requested.

Note that with the current behavior, this is not super easy to fix. If we just show back the panel, it will shift the map right, so we also need to fix that.

[2018-04-06 09:46] alixunderplatz opened #1298 "IN-GJ (Gujarat) parser needs improvement"
I was about to add capacity data to **IN-GJ** and looked up the data source from the parser for conventional generation.
https://www.sldcguj.com/RealTimeData/RealTimeDemand.php
It also has capacity data for the units of the power plants.

1. While cross checking with the map, I found it highly confusing that "Gujarat Total Conventional Generation" on that site (about 8500 MW) was above the total v

[2018-04-06 09:56] alixunderplatz commented on #1298
I had confused something in the previous comment and fixed it ;-)
Now the issue is described correctly

[2018-04-06 11:31] systemcatch commented on #1296
@maxbellec I see this happening as well on my computer.

@jbuverud Does this happen on your branch for #1291?

[2018-04-06 11:33] jbuverud commented on #1296
Yes, it does. We'll have to find a fix for this.

[2018-04-06 12:44] jbuverud commented on #1176
The countrylist (now known as the zone list) and the search bar has been extracted into components in #1291.

[2018-04-06 12:46] jbuverud opened #1300 "Create popovers for map buttons"
I think we need a popover similar to this one for the solar/wind map buttons:

![image](https://user-images.githubusercontent.com/7040743/38421937-303a3e58-39a9-11e8-98b6-aea6ec1c5347.png)

[2018-04-06 12:47] jbuverud opened #1301 "Extract left panel text into onboarding modal"
The top part of the current left panel should be extracted into its own separate onboarding modal, shown to users on first page load.

![image](https://user-images.githubusercontent.com/7040743/38422005-77b68098-39a9-11e8-8f73-4b53539fd270.png)

We should also find space for an icon somewhere allowing the users to re-open the modal if they want to see it again.

[2018-04-06 12:53] jbuverud opened #1302 "Show country tooltip when hovering over co2 emissions tag in zone list"
When mouse hovering over the co2 emissions tag for a country in the zones list on the left panel, we should show the country tooltip (the same one which shows when hovering over the country on the map).

[2018-04-06 12:54] maxbellec commented on #1168
adding the check yes

[2018-04-06 13:00] jbuverud opened #1304 "Replace close button with back button in zone details view"
We want to replace the close button in the zone details view (shown when clicking on a zone) with a back button, to be shown in the top left part of the view.

[2018-04-06 13:44] #1168 closed

[2018-04-06 13:54] #1277 closed

[2018-04-06 14:54] corradio opened #1307 "Finland 3min real-time data"
There's a lot of open data at very high frequency:

- https://data.fingrid.fi/en/dataset/electricity-production-in-finland-real-time-data
- https://data.fingrid.fi/en/dataset/hydro-power-production-real-time-data
- https://data.fingrid.fi/en/dataset/nuclear-power-production-real-time-data
- https://data.fingrid.fi/en/dataset/condensing-power-production-real-time-data
- https://data.fingrid.fi/en/d

[2018-04-06 18:03] tmslaine commented on #1307
There is also an estimate of solar production, updated every hour.
Accessing the json file behind their dashboard might be a more practical way to do the parser:
https://www.fingrid.fi/en/electricity-market/power-system/

Compared to ENTSO-E the tradeoff is less fuel categories for thermal generation.

Some possible sources for mapping cogeneration and other production(condensing and small-scale)

[2018-04-06 19:49] #1285 closed

[2018-04-07 14:51] jzlcdh opened #1309 "Use country specific emission factors for coal power in Turkey"
Given that https://ytbs.teias.gov.tr/ytbs/frm_login.jsf shows that lignite is a big source in Turkey and table 6 in https://ac.els-cdn.com/S095965261400763X/1-s2.0-S095965261400763X-main.pdf?_tid=f66ddfbd-ec54-4e6a-af7e-a7c850cdf4ee&acdnat=1523111824_0d6a96800cdb45e017b65e23fa5e7eb0 shows different emission factors would it be a good idea to show it separately?

If so is it reasonably easy to do?

[2018-04-07 17:10] jzlcdh commented on #1309
Hi @systemcatch, thanks for your quick reply. Thinking about this more I am somewhat confused why my above quote says that our hard coal power stations emit more CO2 than our lignite ones. Perhaps there are a lot of country specific factors. So as we are not splitting lignite out for now do you think all Turkish coal power should be rated at 1060? My programming is very rusty but I could probably

[2018-04-07 17:47] systemcatch commented on #1309
That's not something I can really comment on. We have used specific factors for country generation before (e.g. Estonian Shale Oil) but I don't know if this would mess up the backend coal calculations. @brunolajoie what do you think?

I tried accessing your links but something is wrong with them, they return a github 404. The emission factors are set in https://github.com/tmrowco/electricitymap/bl

[2018-04-07 18:29] jzlcdh opened #1311 "Turkey interconnectors not all on map"
They don't all seem to be shown e.g. Bulgaria is important.

There is some info (in terms of kV) from 2016 in http://www.dunyaenerji.org.tr/wp-content/uploads/2018/03/EmreBengiSezginSenSunum.pdf saying
Armenia and Georgia 220 kV
Bulgaria, Greece, Syria, Irak, Iran 154 kV
Azerbajan, Iran 380 kV

They are also listed under "ENTERKONNEKSİYONLAR" e.g. https://www.teias.gov.tr/tr/turkiye-bulgaristan

T

[2018-04-07 19:31] jzlcdh opened #1312 "Tidying up Turkey info"
This a bit picky and obviously is lowest priority but I thought I would note some minor points as I noticed them:

In the night time when I hover over the bar for solar it says we are generating ?% whereas that should be 0% (apart from possibly a tiny amount into the early evening from our single small CSP tower).

And there is no battery storage yet (it is coming soon) and no pumped hydro storage

[2018-04-08 15:40] corradio commented on #1312
Hi @jzlcdh ,

The ?% vs 0% solar should be fixed now.
For the battery storage/pumped hydro, we should indeed set them to 0 by setting the associated capacities to 0 (feel free to submit a PR by editing the `zones.json` file in the `config` folder.
For your last question, the percentage shown is % of (generation + import + storage discharge). Saying "generation" only would be wrong. We've chose en

[2018-04-08 18:59] jarek opened #1313 "relax restrictions on Austria"
from Kibana: `invalid point: {'zoneKey': 'AT', 'datetime': datetime.datetime(2018, 4, 8, 17, 45, tzinfo=tzutc()), 'production': {'biomass': None, 'coal': None, 'gas': None, 'hydro': None, 'nuclear': None, 'oil': None, 'solar': 55.0, 'wind': 2255.0, 'geothermal': None, 'unknown': None}, 'storage': {'hydro': None}, 'source': 'entsoe.eu', 'schemaVersion': 1}, reason:Coal or oil or unknown production

[2018-04-08 19:58] alixunderplatz commented on #1311
Woud be nice to find sources for all of them!

At the moment, Bulgaria, Greece and Georgia are the most relevant and have also been displayed in the past, as far as I remember.

Values for Greece and Georgia were consistent. Georgia has an HVDC interconnector with Turkey, so that one can also remain offline for longer periods.

Exchanges with Bulgaria tend to show a lot n/a values on [ENTSO-E](htt

[2018-04-09 06:10] jzlcdh commented on #1309
Hi @systemcatch. Thanks for fixing the link. I just realised why the hard coal burnt here emits more than lignite: the hard coal is almost all imported so the paper linked to must be taking the emissions from the ships into account. As far as I can see the paper does not include error bars but even so I think we must be well above the default 820 in the parameter file.

Unless anyone can see any b

[2018-04-09 08:24] alixunderplatz commented on #1288
@systemcatch and I had a brief chat on this. Mapping the entire power plant list from http://portalweb.cammesa.com/memnet1/revistas/estacional/base_gen.html is the easiest solution.
It also includes units to be commissioned in the near future, so the warnings will be avoided to some extent.

[2018-04-09 09:34] jzlcdh opened #1314 "Distinguishing between dispatchable and non-dispatchable hydro"
On the lower graph of https://ytbs.teias.gov.tr/ytbs/frm_login.jsf we can see run-of-river hydropower in light blue and reservoir hydropower in dark blue.

If I understand right the important difference between the 2 is that run-of-river hydro is not dispatchable whereas reservoir hydropower is.  So as obviously the potential energy  can be stored in reservoirs in the form of water can I count it

[2018-04-09 09:41] corradio commented on #1314
From our perspective, hydro storage is a storage system, i.e. one that can store / produce electricity (it's not a matter of dispatchability).
If there's no pumped storage hydro in Turkey, then "hydro storage" should be 0 (instead of ?).

[2018-04-09 09:57] jzlcdh commented on #1311
Hi @alixunderplatz,

I don't understand why the Czech republic is in this news article [https://aa.com.tr/en/energy/electricity/turkeys-electricity-import-bill-down-by-60-in-2017/18686](url) as it is not a neighbouring country.

Yes the article shows you are right that Bulgaria is the most relevant - would it be a good idea/easy for me to add it?

Can you explain what you mean that the values for

[2018-04-09 10:10] alixunderplatz commented on #1314
@jzlcdh to a smaller extent, even run-of-river hydro is able to store some water behind the dam. This is reffered to as "pondage" and is used for many of such hydro power plants.

[2018-04-09 10:30] corradio commented on #1314
For now it's mostly hydro, but indeed your suggestion makes sense!

On Mon, Apr 9, 2018 at 12:22 PM, jzlcdh <notifications@github.com> wrote:

[2018-04-09 11:02] alixunderplatz commented on #1311
@jzlcdh

* yeah, Czech Rep. is definitely a mistake in that article and makes no sense :)

* yes a sepearte issue for Turkey's [electricity price](https://www.epias.com.tr/en/intra-day-market/introduction) will be helpful.
Could you figure out which price is the market price, the "PTF" (market clearing price) or the "AOF" (weighted average price)? The difference is small, but which of them is fina

[2018-04-09 11:37] jzlcdh opened #1316 "Add price to Turkey"
I am not sure which of the ticker [prices](https://www.epias.com.tr/en) to use but section 6.7.3 BLOCK ORDER BOOK in [this guide](https://www.epias.com.tr/wp-content/uploads/2017/06/INTRADAY_MARKET_USER_GUIDE_ENG_18.09.2017.pdf) may help.

[2018-04-09 11:47] systemcatch commented on #1316
What do the 3 ticker price headings translate to?

[2018-04-09 11:50] alixunderplatz commented on #1316
@jzlcdh I just scrolled down a little bit on that side and found this chart

![image](https://user-images.githubusercontent.com/25743609/38495869-9501d608-3bfb-11e8-95d8-dfd257d929f1.png)

which is using the "PTF" for the day-ahead market price.

The market operator also has a large Transparency platform 👍
I could find a section for the day-ahead market, which is safer to use because you can set t

[2018-04-09 12:01] alixunderplatz commented on #1312
🔎 Transparency platform for the Turkish electricity market:

https://seffaflik.epias.com.tr/transparency/index.xhtml

![image](https://user-images.githubusercontent.com/25743609/38496384-a2d65c20-3bfd-11e8-9c9a-e8f31dabdaea.png)

Maybe the [TR.py parser](https://github.com/tmrowco/electricitymap/blob/master/parsers/TR.py) could be switched to that site, which is also disclosing the same generation

[2018-04-09 12:53] alixunderplatz commented on #1312
I think I could have figured out a way to get the missing total solar generation 😃👍
Unfortunately, this only works for ex-post data and is therefore not available in real time.

The latest data right now is for 28 Feb 2018.

On the transparency portal, you'll find the renewable ex-post generation data.
https://seffaflik.epias.com.tr/transparency/uretim/yekdem/gerceklesen-uretim.xhtml

There is a g

[2018-04-09 12:58] jzlcdh commented on #1312
Good work. The [only CSP](https://www.wikizero.com/en/Greenway_CSP_Mersin_Solar_Tower_Plant) we have is very small.

[2018-04-09 13:15] alixunderplatz commented on #1312
allright, so this is another kind of offset then at night which is not caused by CSP.

@jzlcdh thanks for mentioning the site of EPIAS :) 👍 👍 👍

[2018-04-09 13:36] jzlcdh commented on #1312
So maybe if you butter them up about their wonderful website they will answer all your questions. If you send any emails about the transparency platform to gorusleriniz.seffaflik@epias.com.tr and they don't reply in a reasonable time let me know so I can try to chase them up with the help of my Turkish teacher.

[2018-04-09 14:58] brunolajoie commented on #1301
This will require to refine table subtitle to

[2018-04-09 15:05] jzlcdh commented on #1312
@corradio Afraid I am still seeing "?%" when hovering over the bar to the right of solar.

[2018-04-09 15:09] corradio commented on #1312
@jzlcdh do you mean the "? % of installed capacity" ? Indeed this seems like a bug. I'll fix this

![image](https://user-images.githubusercontent.com/1655848/38505905-a31c2ee2-3c18-11e8-8073-fe28dca34cba.png)

[2018-04-09 15:11] jzlcdh commented on #1312
Yes thanks

[2018-04-09 16:03] jzlcdh commented on #1311
It seems from items 49 to 52 in [the list of data items](https://seffaflik.epias.com.tr/transparency/resources/6363-16-EK-1.pdf) that hourly info on interconnections should be available to companies using the [API](https://www.epias.com.tr/wp-content/uploads/2018/02/EN_API_PORTAL_USER_MANUAL.pdf). Perhaps this issue could be assigned to someone who can register for the API by representing Electric

[2018-04-09 17:16] systemcatch commented on #1316
There is also the option to scrape the data from the html directly.

[2018-04-10 07:08] jzlcdh commented on #1316
Sorry I haven't time to do this. How do I unassign myself from this issue?

[2018-04-10 08:20] maxbellec opened #1319 "Price in PL changes after 2017-03-02"
The historical price forecast in PL (ENTSOE data):
![pl price before correction](https://user-images.githubusercontent.com/7253902/38544723-89db22e0-3ca8-11e8-9a2a-ca666b8c77f7.png)
The prices if we multiply all entries before 2017-03-02 by `4.1`, the current Euro -> Zloty exchange rate (nice catch @corradio):
![pl price after correction](https://user-images.githubusercontent.com/7253902/38544722-

[2018-04-10 08:56] maxbellec commented on #1319
actutally, ENTSOE does return the currency, so there's no problem on the platform, it's on our end.

[2018-04-10 08:56] #1319 closed

[2018-04-10 17:12] systemcatch opened #1322 "Improve developer documentation"
Few points to start with, feel free to add more.

- Getting nodejs installed and working correctly. :sob:
- Installing python 3, Windows does not ship with it by default I think.
- Can topogen.sh be run on powershell or does it require bash for Windows?

[2018-04-10 17:14] corradio commented on #1322
In principle that's why all of this should be done inside Docker. It simplifies things quite significantly! Although Docker can be a bit annoying to install..

[2018-04-11 05:36] jbuverud commented on #1322
We could add something about docker's system requirements. It only runs on certain versions of windows 10 (does not run on Home editions, for instance). I had to resort to running it through a VM install on my laptop.

[2018-04-11 11:52] alixunderplatz commented on #1298
Some more infos on the grey "unknown" thermal types in the image above.
This site was very in helpful: https://en.wikipedia.org/wiki/Category:Coal-fired_power_stations_in_Gujarat

[Ukai](https://en.wikipedia.org/wiki/Ukai_Thermal_Power_Station): coal
[Wanakabori](https://en.wikipedia.org/wiki/Wanakbori_Thermal_Power_Station): coal
[Ghandiagar](https://en.wikipedia.org/wiki/Gandhinagar_Thermal_Powe

[2018-04-11 12:41] brunolajoie opened #1325 "Uruguay data too good to be true/shown?"
Aren't we missing dispatchable power production? Hydro, thermal, or imports?
100% intermittent renewable consumption-mix is not possible: We should probably consider this data as incorrect until we find better data source

![image](https://user-images.githubusercontent.com/22095643/38616976-1030df5e-3d96-11e8-9ee3-90b86bac4da0.png)

[2018-04-11 12:49] alixunderplatz commented on #1325
@brunolajoie Imports from Argentina are missing.
See comments from #565
https://github.com/tmrowco/electricitymap/issues/565#issuecomment-376188937

[2018-04-11 13:08] maxbellec commented on #565
I've just seen your latest comments @alixunderplatz, this is awesome. A split Argentina would look great! And showing the true color of Uruguay is also important. @systemcatch do you still want to work on the AR parser?

[2018-04-11 13:11] alixunderplatz commented on #1325
@brunolajoie and you are right, something else is missing:
![image](https://user-images.githubusercontent.com/25743609/38618321-8f6f32d6-3d99-11e8-96b6-5099a7e570d5.png)

the red part "compras SG" which translates to "shopping SG" ^^ so maybe that is the energy from the Salto Grande dam? Or purchased from Argentina?

[2018-04-11 13:33] alixunderplatz commented on #1325
Trying to interpret this scheme from the AR website (art classes from schooltime finally pay off 🎉 ):
SGA (Salto Grande Argentina) and SGU (Uruguay) hydro were generating 682+794 MW last hour.
So 794 MW are generated "in Uruguay" but a large share (~300 MW) of this is leaving the scheme towards Argentina via the direct interconnector between SGU and SGA. Another huge part (~500 MW) is leaving via

[2018-04-11 13:37] alixunderplatz commented on #565
@systemcatch I updated [my comment](https://github.com/tmrowco/electricitymap/issues/565#issuecomment-376188937) from above to point out the right values for AR <-> UY exchanges

[2018-04-11 14:17] alixunderplatz commented on #1298
I can't test locally, so can someone try and see if the updated mapping below for [IN_GJ.py](https://github.com/tmrowco/electricitymap/blob/master/parsers/IN_GJ.py) still works? 😸
Would be nice to check if every single value is really grabbed, because sometimes one or even two " " spaces are behind the names of the power plants. Plenty of coal should be returned now.
I deleted "wind" and "thermal"

[2018-04-11 15:44] systemcatch commented on #1322
@corradio That was my idea initially but afaik docker only works when building the map. To add new geometries you have to have a working node install.

Yes it would be nice to add something about using docker on windows. I know @alixunderplatz is currently trying to get the map built on his Windows machine but is having difficulties.

[2018-04-11 16:07] corradio commented on #1322
Actually I think we made the changes required to be able to do all the
mapping inside the container.
It's not really documented though.

On Wed, Apr 11, 2018 at 5:44 PM, Chris <notifications@github.com> wrote:

[2018-04-11 16:29] systemcatch commented on #1298
When running with the new station map I get the following;
[code]

However that error is nothing to do with the station mapping, on L157 fetch_data is called without a logger argument which results in logger=None. Fixing that I get the following;
[code]

Some of the plants aren't matching due to whitespace issues as you said before, we'll need string manipulation or regex to fix that.

[2018-04-11 17:44] alixunderplatz commented on #1298
@systemcatch thank you for checking! 😃👍
Looks like around 2 GW of generation go missing in the total sum.
Your values are 7.3 GW in total. When I take a recent snapshot (~1 hour later), I get 9.5 GW total generation.

[2018-04-11 19:50] #1293 closed

[2018-04-12 07:31] alixunderplatz opened #1327 "Chile SING - solar PV generation at night"
Chile SING has been showing around 77 MW of solar generation at night.

![image](https://user-images.githubusercontent.com/25743609/38661949-f15ee1b4-3e32-11e8-9bd6-3bc903b60510.png)

This is due to faulty values of "Maria Elena FV" and "Solar Jama 2".
https://sger.coordinador.cl/Charts/GenCentral

Not sure how long this problem exists / will exist, but maybe they could be excluded from the mappin

[2018-04-12 08:17] alixunderplatz commented on #655
Right now, the data for Chile SING has a large share of "unknown".

The **hourly generation data by type** is available here for the previous day:
http://cdec2.cdec-sing.cl/pls/portal/cdec.pck_web_coord_elec.sp_pagina?p_id=5172

This data could be used to to replace the "unknown" part. It mainly consists of coal, gas (replacing solar at nighttimes), a bit of geothermal, and a tiny bit of hydro.
An

[2018-04-12 08:28] systemcatch commented on #1327
Maria Elena FV is a concentrating solar plant (see https://en.wikipedia.org/wiki/Mar%C3%ADa_Elena_Solar_Power_Plant), could this "solar at night" be due to stored energy feeding into the grid?

[2018-04-12 08:41] alixunderplatz commented on #1327
@systemcatch good point. I was assuming it is PV because of the "FV" behind the plant. I think the red lines in the graphs above are a forecast of the generation, so I'd assume no energy is released at night. In addition, the generation value is totally constant and seems stuck.

In the map it says "Fotovoltaica" for Maria Elena, too, with 68 MW installed cap. Same for Solar Jama.  https://sger.co

[2018-04-12 08:42] alixunderplatz commented on #1327
Seems like the CSP plant in that area is coming online in June 2018 ;)
https://www.nrel.gov/csp/solarpaces/project_detail.cfm/projectID=3275

[2018-04-12 10:29] systemcatch commented on #1327
I think the generation value is stuck and we should either disable those plants or make a function that checks the local time in Chile and drops any solar generation between 10pm-6am.

[2018-04-12 10:47] systemcatch commented on #655
We could implement a target_datetime function for the parser that scrapes from the excel spreadsheet on that page.

[2018-04-12 11:31] alixunderplatz commented on #655
🎉 I found hourly retrospective data, aggregated by months, for the interconnection between SIC and SING. 🎉
The new interconnector is operating since November 2017 and has successfully [reduced generation shedding in SING by 80%](https://www.coordinador.cl/noticias/archivo/vertimiento-de-ernc-en-el-norte-chico-se-redujo-80-con-interconexion-sing-sic/). It consists of two conducting systems which ha

[2018-04-12 12:43] alixunderplatz commented on #655
Hmmmm ... I'm still struggling to deal with the direction of flows. Maybe it really is the other way around.
Because this is the demand curve, which shows a valley during noon and peaks in the night time and in the morning:

![image](https://user-images.githubusercontent.com/25743609/38676922-de4dc8c2-3e5c-11e8-9b5e-bcf88fbfade9.png)

Here is a sloppy overlay of the still available load data and g

[2018-04-12 13:45] alixunderplatz commented on #655
Some graphs that I found in a [study for a planned Peru-Chile (SING) interconnector](http://cdec2.cdec-sing.cl/pls/portal/cdec.pck_pag_web_pub.get_file?p_file=Peru_Chile_Interconnection_Planning_Study.pdf&p_tipo=A) look like this and would rather propose using my previous assumptions with imports during daytime instead of exports (orange) and a rather flat curve:

![image](https://user-images.gith

[2018-04-12 16:40] jpierz commented on #1074
@alixunderplatz how's it going with the translation? If there's anything I could do to help, feel free to let me know.

[2018-04-13 07:44] strassburger opened #1330 "missing oil data auto repair in short time"
not a mistake, just a report:
missing data and auto repair in  short time
observerved wrong ranking for short time.
was fixed after short time
looks like fine solution
oil data was / is missing
Observerd at El Hierro and Lanzarote/Fuerteventura
![fuerte-lanza-2018-04-13 08 13 52](https://user-images.githubusercontent.com/28303688/38722717-b88b3652-3ef6-11e8-8a54-a452fe36c485.png)

![el-hierro-2018

[2018-04-13 16:07] jarek commented on #1196
Further possible different source, from @alixunderplatz 's [comment in Slack](https://tmrow-team.slack.com/archives/C24P1A3HR/p1523619366000380): http://opennem.org.au/#/all-regions - appears to have _actual_ 5 minute granularity

[2018-04-13 16:07] brunolajoie commented on #892
Does anyone know whether historical data at hourly granularity with correct hydro data is available somewhere ?

[2018-04-13 16:15] jarek commented on #1330
Here it would really help if the backend would reject datapoints that indicate total load in a zone drastically changing from one hour to next. For instance that screenshot from Lanzarote went from ~150 MW to ~10 MW.

It'd be a lot of effort to write parser checks to check for every zone and each possible combination individually.

A backend check against recent history would also help with cases

[2018-04-13 16:59] jarek commented on #1330
That could help for cases where we get more than one datapoint at a time, yeah

Something like: if the difference between any two datapoints is more than 50 MW and 10+%, raise

[2018-04-13 17:02] corradio commented on #1330
However this parser doesn't return unknown values (it just returns 0 for all).
Is that supposed to happen? Can we fix it?

[2018-04-13 21:16] phillipnunes commented on #1304
PR #1333

[2018-04-13 21:46] jacobbaratta commented on #143
@alixunderplatz I have a bunch of resources like that NERC map that I can share if people are interested, I collected quite a lot of different resources to use as references while working on my original shapefiles.

@HansHyde I saw those linked on eia's site a while back and went through them. Some of them are quite nifty, and it's the first time some of that data has been officially released in s

[2018-04-14 17:27] systemcatch commented on #1330
@corradio @jarek for parsers that return data at close fixed intervals (e.g. 5min) we can figure out the max % change that's actually possible during that time and drop anything outside that. However we'd need to be careful handling the return to normal values.

[2018-04-14 17:44] systemcatch commented on #1196
That data source looks nice. Doesn't seem to be returning data from the future, split by type so we don't have to rely on plant mapping and you can query by region.

[2018-04-14 18:01] systemcatch commented on #143
@jacobbaratta I was able to split the Canary Islands using new shape files in #1022. @corradio & @maxbellec then really improved how the map generates topologies in #1064.

You might as well add some of your resources to this issue thread so people don't end up repeating work.

[2018-04-16 09:30] alixunderplatz commented on #1196
One thing that could make it a bit more complicated with this data source are the exports and imports, which are only given as total values (maybe even as "net exchange balance" per state?).
However, this only affects NSW and VIC and could probably be solved by some steps of logic, because QLD, SA and TAS are the edges of the system with only one direction of flow at a time.
To avoid this, we'd ha

[2018-04-16 17:16] systemcatch commented on #1325
Modifying the UY parser to return unmapped generation and mapped generation we can see the Salto Grande is being dropped.

[code]
It can be added to the mapping easily but I'm not sure this is the right number to be using. @alixunderplatz what do you think?

[2018-04-16 18:08] alixunderplatz commented on #1325
SG generation is not published seperately by UTE to my knowledge. The Interconnexion Salto grande, unfortunately, is not the correct one to use. You'll need to use the figure next to the SGU generator on one of the Cammesa grid map in my comment above (shows 794 in the screenshot).

[2018-04-17 01:43] phillipnunes commented on #1304
Should we close this issue?

[2018-04-17 04:47] jbuverud commented on #1304
Fixed in #1333

[2018-04-17 04:47] #1304 closed

[2018-04-17 23:12] phillipnunes commented on #509
@b2000699, i did not understand what you mean about map location. When i clicked on a country and copied url, after open it again, the application took me to the country, with their respective information.

[Example](https://www.electricitymap.org/?page=country&solar=false&remote=true&wind=false&countryCode=FI)

Or I misunderstood your suggestion?

The zoom level is not really being encoded in the

[2018-04-18 08:43] corradio opened #1338 "Search bar improvements"
- After click on a search result, the search query should be cleared
- Search query should match both country or zone name (right now Denmark doesn't show up on "Denmark West" or "West Denmark")

[2018-04-18 10:56] alixunderplatz commented on #1275
I could figure out where the some of the recently excluded generation of IPC happens. :)

Geothermal can safely be #uncommented in the parser and added to the map! 😃 I found the following info in the [wind energy study for Idaho by Idaho Power.](https://www.idahopower.com/energy/renewable-energy/wind/wind-study/):

Vale, Oregon is very close to Idaho's border: [LINK TO MAPS](https://www.google.de/

[2018-04-18 14:34] brunolajoie commented on #1275
🔍 Nice Job for geothermal !  We'll add it then. They don't write it "PURPA", that might explain why its still physically located under their "control area". I'm very curious about PURPA wind and solar.

[2018-04-18 17:57] alixunderplatz commented on #304
I think it's worth writing a little script and to collect data for some days or a week from this website
http://meritindia.in/
to gather some info on the data presented in the table "ALL INDIA POWER POSITION (MW) [CURRENT]"

![image](https://user-images.githubusercontent.com/25743609/38948071-c86fac5a-433e-11e8-88ae-7be6a0b9194e.png)

* What's the interval of data updates?
* What does the generati

[2018-04-18 18:41] jarek opened #1340 "Incorrect Ireland hydro storage"
In the last couple of days Ireland has not reported putting energy into hydro storage. It's either near-zero or discharging, and, suspiciously, it regularly discharges in the middle of the night. Can someone take a look at historical data in ENTSOE and see if there is a problem with either their reporting or our interpretation of it? Or is it just that they charged it up earlier in the year or las

[2018-04-18 19:18] jarek opened #1341 "Descriptive zone names"
I really like how subregions with definite names are rendered in the new list:

![image](https://user-images.githubusercontent.com/47415/38952126-e1f85170-434a-11e8-996e-3e360fcbbdf3.png)

but I'm not so keen on those with descriptive names:

![image](https://user-images.githubusercontent.com/47415/38951824-104f5c04-434a-11e8-8e8e-d86a5c40c11b.png)

It's a bit hard to explain what seems wrong abou

[2018-04-18 19:34] jbuverud commented on #1341
I agree both with the issue and with your proposed solution 👍  It makes sense for the area names to be unique and self-descriptive for people with the local knowledge.

I also agree that the area details view header needs to be updated with similar styling to that in the list. Both with regards to the main title/subtitle division, but also with regards to the size of the flag. But this redesign sh

[2018-04-18 20:01] alixunderplatz commented on #1340
Well spotted, @jarek !

Using the visualization from http://energodock.com/ireland/electricity-generation, the pattern you described is totally clear:

![image](https://user-images.githubusercontent.com/25743609/38954947-751c94ea-4353-11e8-9a17-30d71368fcf0.png)

Full power in the early morning hours (with cheapest prices), some smaller peaks during the day during hours of peak demand (with high p

[2018-04-19 05:38] brunolajoie commented on #1341
It's a good idea to have self-descriptive area names indeed, but i'd keep the same ordering btw subzone and zone. Like, for instance:
- California (Unitest States of America)
- West Denmark (Denmark)
- North-East Brazil (Brazil)
- Peninsular Malaysia (Malaysia)

What dyou think?

[2018-04-19 05:47] jbuverud commented on #1341
I think that was exactly what @jarek was proposing :smile:

[2018-04-19 05:51] brunolajoie commented on #1340
Hello @Dalius-ENTSO-E, I thought you might be interested in this finding! Eirgrid data (and therefore ENTSOE) seems to report both charging and discharging of Irish's PHS plants in the same category: pumped storage _generation_

[2018-04-19 06:42] corradio commented on #1330
@blackleg are you able to make sure your library https://github.com/blackleg/reescraper returns `None` instead of 0 when a value is missing?

[2018-04-19 07:53] jarek commented on #855
I looked again and I didn't see live fuel data yet. I also downloaded the Android app but it requires login. In absence of data we can use, we can't do anything, so I will close the issue for now. Please do reopen if you find real-time fuel mix!

[2018-04-19 07:53] #855 closed

[2018-04-19 08:41] corradio commented on #1341
@jbuverud do you have an ideas as to how to fix? Currently you do some pattern matching based on parenthesis right?
As I see it we need to add new fields in translations (country name in addition to zone name). That would enable us to have:
- Country name: Denmark, Zone name: West Denmark
- Country name: USA, Zone name: SPP
- ...
and if no country name is used we just display the full zone name.

[2018-04-19 08:51] alixunderplatz commented on #1327
The extent of this issue has been reduced to only one solar PV plant stuck at reporting 18 MW.
Hope they'll fix that one soon, too.

![image](https://user-images.githubusercontent.com/25743609/38981312-5bdc4d4c-43bf-11e8-89d9-f56037dfd489.png)

[2018-04-19 09:08] alixunderplatz opened #1342 "Map Uruguay's "unknown" to "oil""
For Uruguay, everything that is reported as "thermal" is currently assigned to "unknown" category.

![image](https://user-images.githubusercontent.com/25743609/38982325-daec3ee2-43c1-11e8-96e9-16fb636deb55.png)

**There are some hints this is entirely based on "oil" as fuel.**

1. the IEA yearly reports show oil as only possible source for "thermal" https://www.iea.org/statistics/statisticssearch/

[2018-04-19 09:17] systemcatch commented on #1341
I fully agree with the proposed solution. One other small thing, some of the subzone & zone names are quite long which is fine for the list but makes the hover boxes look a bit skewed. We might want to split the longer names onto separate lines to make it more readable.

![long_box](https://user-images.githubusercontent.com/30196510/38982722-7eaec0a2-43ba-11e8-992f-e3c77866b920.png)

[2018-04-19 09:29] systemcatch commented on #1322
@corradio if you can give me a rough guide to mapping in the container I will add a more polished version to the docs.

[2018-04-19 11:42] brunolajoie commented on #1342
You're right, that's more than enough :)

[2018-04-19 11:59] gomto86 commented on #541
In Japan, the electricity flow and the generation situation by fuel type are not disclosed in real time.
Generators who have power plants with an output of 100 MW or more must enter stop / operation information in HJKS operated by the Japan Wholesale Power Exchange.
https://hjks.jepx.or.jp/hjks/unit_status

The information published on this site is displayed every hour, but it is displayed by type

[2018-04-19 12:03] #1342 closed

[2018-04-19 12:57] jarek commented on #1341
With the following renames we could do this without changes to rendering code:

* "Denmark (West)" renamed to "West Denmark"
* "Denmark (East)" renamed to "East Denmark"
* "Malaysia (Peninsula)" renamed to "Peninsular Malaysia"
* "Brazil (North-East)" renamed to "North-East Brazil"
* other Brazil zones renamed the same way

Developer console mock-ups:

![image](https://user-images.githubuserconten

[2018-04-19 13:03] jarek commented on #1341
Or, following Bruno's suggestion:

![image](https://user-images.githubusercontent.com/47415/38993024-ba51bcd6-43e2-11e8-8691-7f5b71b5384a.png)

Also I would just replace "United States of America" with "United States" or "USA", at least in the English version.

[2018-04-19 13:11] corradio commented on #1322
I think it's as simple as `docker-compose run --rm web ./topogen.sh` but haven't tried it

[2018-04-19 13:42] happysalada commented on #541
@gomto86 it seems there are dates for the futur on this graph. Is it a forecast ?
also, do you know if it's possible to get the raw data somewhere ?

[2018-04-19 15:15] jpierz commented on #1074
@alixunderplatz awesome! No worries. Could you just add me as a reviewer on the PR when you finish the translation?

[2018-04-19 16:51] tmslaine commented on #541
@happysalada I think that the linked site contains power plant availability information and planned outages for the next month. That in itself does not tell much about what the actual generation mix will be.

I have been testing OCR inspired by the Namibia parser for some of the nuclear power plants, seems to work:) Only the facilities listed in blue at http://www.genanshin.jp/facility/map/ need t

[2018-04-20 10:14] maxbellec opened #1345 "add PJM load forecast"
Data available here : http://www.pjm.com/markets-and-operations/energy/real-time/7-day-load-forecast.aspx

[2018-04-22 09:47] alixunderplatz commented on #304
Here are the results of some manual tracking I did on Friday for http://meritindia.in.

I watched the website in irregular intervals and copied the figures once I had noticed some changes. This does not necessarily represent the interval the numbers are updated. I may have skipped a few datapoints, especially when not tracking it for longer intervals.

In general, the data quality is very good and

[2018-04-22 19:39] kikebie opened #1346 "Spain IB Menorca is not conected to mallorca"
Menorca Island has been lost the connection with mallorca last year.

[2018-04-23 07:26] alixunderplatz commented on #1346
@kikebie Thanks for the info!

Seems like something broke and has to be replaced, which could take some time:
https://www.energynews.es/en/government-to-accelerate-processing-of-new-electric-cable-between-mallorca-and-menorca/

https://menorca.info/menorca/local/2017/619221/red-electrica-descarta-reparar-cable-aboca-menorca-aislamiento-electrico.html

[2018-04-23 08:16] alixunderplatz opened #1347 "Split Balearic islands ES-IB generation"
**It is possible to split the Balearic islands** (just like the Canary Islands in #626)
This would solve the recent issue #1346, too.

Here is the equivalent website for the Balearic system:

http://www.ree.es/en/activities/balearic-islands-electricity-system/balearic-electricity-demand-in-real-time

![image](https://user-images.githubusercontent.com/25743609/39114040-df8fd26e-46dd-11e8-896f-f1e79

[2018-04-23 08:37] alixunderplatz commented on #1347
@blackleg is this possibly covered by your reescaper already?

[2018-04-23 12:44] #1301 closed

[2018-04-23 19:58] corradio opened #1348 "Mobile layout on info screen"
![image](https://user-images.githubusercontent.com/1655848/39150082-77619dc6-4741-11e8-9b8a-d5b74b147d33.png)

The layout of the bottom icons seems a bit messy.

[2018-04-24 05:32] jbuverud commented on #1348
Do you have any thoughts for improving it? It's not a bug - it's just my best compromise of fitting all the icons. Maybe the tomorrow logo could be be left aligned, but then it would have to be spaced a bit further down from the other elements to separate it, I think. Suggestions are very welcome :slightly_smiling_face:

[2018-04-24 07:42] corradio commented on #1348
I think simply adding a bit of vertical space and centering the block could suffice.

[2018-04-25 05:26] corradio commented on #1348
FYI:

![image](https://user-images.githubusercontent.com/1655848/39227624-ee32817c-4859-11e8-8c75-0b2e30a12a0e.png)

A goal is share, tweet, like or follow

[2018-04-25 08:05] jbuverud commented on #1348
Will do!

I'm not sure why you're saying it's removed from the left panel - I didn't remove it, and both on production and locally I still see it there. 😕

I'll add it for the country view on mobile. I definitely see the importance, given the stats you posted 🙂

Also, don't those stats kind of argue for us keeping the tomorrow logo overlaid onto the map on mobile (even though it increases clutter)

[2018-04-25 08:49] jbuverud commented on #1348
Ah, just a thought - when you say "left panel", perhaps you mean the country details view?  Then it makes more sense. Do you want me to add it to the country details view on desktop as well as on mobile?

[2018-04-25 09:17] alixunderplatz commented on #304
I had a little script running in the last days which was collecting around 36 hours of data. Scrape-interval was 30 seconds. Mostly, the data would change each 2-3 minutes for all categories.
Here are the results:
In the area with dotted lines, I lost my internet connection at night. The peak on the right is an occasional data issue (coal + hydro).

Stacked view:
![image](https://user-images.githu

[2018-04-25 11:24] #1176 closed

[2018-04-25 18:35] #1300 closed

[2018-04-26 13:38] alixunderplatz commented on #304
I just finished collecting data from meritindia.in, and here are the final results for the period that I observed in the last last 3 days. There were some more value peaks due to minor data quality issues yesterday, but nothing to really worry about. This happens everywhere from time to time and could be fixed by setting some limits to skip them. Other than that, the data is unbelievably smooooooo

[2018-04-27 08:13] #1298 closed

[2018-04-27 09:53] systemcatch commented on #1040
The parser is basically built and working, we just need to figure out how we want this to appear on the map.

@alixunderplatz any thoughts?

[2018-04-27 11:27] alixunderplatz commented on #1040
@systemcatch maybe is makes sense to merge BPA (US-OR & US-WA) with Idaho?

The northern part of Idaho isn't really covered by IPC, but by BPA.
https://bpagis.maps.arcgis.com/apps/webappviewer/index.html?id=275cd78c003349719b28f7130d4b933e

Here is a merged map of [BPA's **renewable** generation assets](https://bpagis.maps.arcgis.com/apps/webappviewer/index.html?id=43e1c8ed8ad44e4b8890d2e870b591b4

[2018-04-27 11:43] alixunderplatz commented on #1040
@systemcatch the only thing that worries me is that their balancing authority area (thick grey outlines in the upper image) - unlike their grid - is entirely including Idaho as well. We need to make sure what their generation data really represents. It could be that IPC's generation data is also included in what BPA is reporting.

[2018-04-27 19:29] systemcatch commented on #1309
Right side of page under "Assignees", click "assign yourself" or select from the list of people.

[2018-04-28 12:37] systemcatch commented on #1040
Looking at the list of plants on https://transmission.bpa.gov/business/operations/Wind/baltwg.aspx and https://www.idahopower.com/energy/delivering-power/power-plants/ I don't see any overlap in plants (maybe wind) and both sources only seem to report their own generation.

[2018-04-28 12:51] jarek commented on #1040
I'm not sure if we can show BPA as including all of Washington and Oregon. Some of https://en.wikipedia.org/wiki/List_of_power_stations_in_Oregon#Fossil_fuel as well as https://en.wikipedia.org/wiki/Centralia_Power_Plant seem to be missing from the list of plants in https://transmission.bpa.gov/business/operations/Wind/baltwg.aspx

[2018-04-28 15:32] systemcatch commented on #1327
I don't see the other plant reporting solar at night anymore, @alixunderplatz feel free to close this if you agree.

[2018-04-28 15:40] #1327 closed

[2018-04-28 15:55] systemcatch opened #1354 "Costa Rica has a new generation type and gives too many warnings"
There seems to be a new generation type for Costa Rica that is causing a warning.

https://kibana.electricitymap.org/app/kibana#/doc/93e631f0-245f-11e8-a779-9d01de8d7a71/logstash-2018.04.28/doc?id=N-7nDGMBoL7AEh1EXs9P&_g=()

```unknown is not mapped to generation type```

However looking at the logs for the past week [here](https://kibana.electricitymap.org/app/kibana#/discover/1710fdd0-2460-11e8-

[2018-04-28 17:04] systemcatch opened #1355 "IN-AP has changed its data url"
The new link is https://core.ap.gov.in/CMDashBoard/UserInterface/Power/PowerReport.aspx (same page layout I think). Old link returns 404.

[2018-04-28 17:31] jzlcdh commented on #1309
@systemcatch  Although I am signed in and can see the word "Assignees" there is no list of people and nothing to click. Perhaps I don't have the power to do that.

[2018-04-29 08:19] alixunderplatz opened #1356 "Chile (CL-SING): total generation stuck at fixed value"
The total generation of the CL-SING zone is stuck at 1 939 MW. The renewable part varies, but the "unknown" category always fills the gap. The issue is on the data provider's side.

![image](https://user-images.githubusercontent.com/25743609/39404467-282d9276-4b94-11e8-9472-7cb3a589d39d.png)

![image](https://user-images.githubusercontent.com/25743609/39404501-a6889878-4b94-11e8-9aca-3e25307c52ee.

[2018-04-29 13:54] systemcatch commented on #1356
@corradio can you see how far back this goes? Hopefully not much more than a few days.

[2018-04-29 20:26] duckland2000 opened #1357 "g co2 / kWh for oil."
You are using a very strange number for the amount of co2/kWh for oil. I'm looking at Estonia and the number is extremely high, much higher than the reality.

Oil is between natural gas and coal. Generally it's natural gas ~600 g co2/kWh, oil ~800 g co2/kWh and coal ~1000 g co2 /kWh.

You have something like 1500 g co2 / kWh.

You can find many sources, you have used IPCC for others. So this one f

[2018-04-29 21:00] alixunderplatz commented on #1357
Hi @duckland2000!
Estonia is a special case: The country has large resources of "unconventional" oil shale, which are used for electricity generation. That's why the "oil" category in Estonia has a country-specific emission factor of 1515 gCO2eq/kWh. See the previous issue #278 for the discussion on Estonian oil shale and sources for that figure.

For all the other countries, 650 gCO2eq/kWh is use

[2018-04-29 22:12] alixunderplatz commented on #1354
Comparing the plant mapping in the parser to the table on the website, "Los Negros II" is the only missing unit I could find. It's "[a hydro power plant](http://www.carboncr.com/proyectos/costa-rica/negros-ii)" and was added to the table on 23rd and started reporting generation on 25th April.

[2018-04-30 06:54] maxbellec commented on #1357
feel free to re-open @duckland2000 if the answer is not satisfactory

[2018-04-30 06:54] #1357 closed

[2018-04-30 08:46] corradio opened #1360 "Update FR capacity"
I received this information by email:

Les données sont disponibles ici : http://bilan-electrique-2017.rte-france.com/production/le-parc-de-production-national/

Seraient donc à mettre à jour :
éolien : 13,55GW
solaire : 7,66GW
Hydro : 25,51GW (stockage hydro inclus ?)
biomasse : 1,95GW
gaz : 11,85GW
charbon : 2,997GW
fioul : 4,098GW

[2018-04-30 09:31] #1355 closed

[2018-04-30 12:17] alixunderplatz commented on #1347
@blackleg that's lovely, thanks! :)

I guess these are the next steps:

* seperate the islands' geometry and create new zones:
  * ES-IB-MA for Mallorca
  * ES-IB-ME for Menorca
  * ES-IB-IZ for Ibiza
  * ES-IB-FO for Formentera
    * Formentera is not on the map and must be added to the geometries.
     @systemcatch Same approach as in #1022 required?

* update the [ES_IB parser](https://github.c

[2018-04-30 14:45] systemcatch commented on #1347
@alixunderplatz Formentera is currently being removed from the map by the topojson simplification just like Aruba was, so hopefully we can apply the same fix again.

I think the approach I took on the the Canaries will work here but I'll need to refresh my memory how I actually did it with qgis.

[2018-05-01 10:16] #1348 closed

[2018-05-01 16:09] systemcatch commented on #1249
Any progress here @lorrieq?

[2018-05-01 19:54] #1354 closed

[2018-05-02 09:29] jbuverud opened #1371 "Update zone details view header styling"
The zone details view should have similar headers to the entries in the zone list (with title/subtitle division). I think we could also consider moving the timestamp to the upper-right corner. Another possibility is to make the header with the name, timestamp and back button be sticky.

[2018-05-02 09:32] #1341 closed

[2018-05-02 09:49] jbuverud opened #1373 "Map tooltips styling update"
The tooltips on the map should show the zone/country name in title/subtitle format, should probably use the same 'rounded square' for co2 color indication as in the left panel, and should probably use the circular gauges for renewable/low-carbon percentages. Personally I also think its corners should be rounded to match the overall style 🙂

[2018-05-02 10:36] jbuverud opened #1374 "New way of navigating time in mobile zone details view"
Going "back in time" in the zone details view on mobile does currently not work very well. We should think of some alternative solutions.

One idea is to have a touch-friendly slider which controls the time, shown together with the zone name and back button in a fixed header. Something like this (but prettier of course):

![image](https://user-images.githubusercontent.com/7040743/39518956-24a8f9ba

[2018-05-02 11:18] alixunderplatz opened #1375 "Change "...StoredUsing" and "hydro storage" strings in en.json"
While translating from en.json to ru.json, I found these lines a bit confusing/odd:

_ _ _ _

`"electricityStoredUsing": "...% of electricity available in [zone] is stored using [type]",
`

I'd change this line to:

`"electricityStoredUsing": "...% of electricity available in [zone] is used to charge [type]",
`
or
`"electricityStoredUsing": "...% of electricity available in [zone] is used for char

[2018-05-02 12:02] alixunderplatz opened #1376 "Change data source for UK-GB (5-min data)"
I've seen this happen frequently in the last weeks: the wind energy production on ENTSO-E for the UK would drop and leave a very spiky and obviously wrong graph for the UK-GB zone.

![image](https://user-images.githubusercontent.com/25743609/39520683-e3e0788e-4e0b-11e8-8a36-370ec84be0a7.png)

This issue got much worse in the last three days. Here is what it looked like for 1st of May [on ENTSO-E](

[2018-05-02 12:17] #1338 closed

[2018-05-02 12:33] corradio commented on #1374
I like it! Maybe the header should encompass the gauges? The the swipe up/down can focus on the graph.

[2018-05-02 20:15] alixunderplatz commented on #140
@jarek good that you mentioned this here! 👍
I also assume these are placeholders for direction and speed.

Many of the 95 values will also show "30 MW" all the time and then all of a sudden they change to something like 4.xx, always starting with a 4.
_ _ _ _

On my way to get some general data on grid load, I found an interesting study which you can download here:
http://energy.mit.edu/publicatio

[2018-05-02 23:25] lorrieq commented on #1376
ELEXON is great! I have dealt with this source in my day job. Let me know where I can help out.

[2018-05-02 23:26] lorrieq commented on #1249
Hey, apologies but I am yet to properly look at it. I'll spend some time on it this weekend and update you.

[2018-05-03 06:43] brunolajoie commented on #1376
Yeah, true, the closer to the source is always the best...! and GB is soon going to able to be broken down by DSO's regions in National Grid / Elexon systems apparently. Is there also a 1h delay is their API?

[2018-05-03 06:59] corradio commented on #135
Let's re-open this issue as soon as we have a lead for Croatia

[2018-05-03 06:59] #135 closed

[2018-05-03 07:00] corradio commented on #393
@brunolajoie @alixunderplatz is there a quick win to be done here? Else I suggest we close the issue.

[2018-05-03 07:01] corradio commented on #509
Closing as I don't believe this is a priority

[2018-05-03 07:01] #509 closed

[2018-05-03 07:01] corradio commented on #423
@brunolajoie shall we close this one or do you believe it can be done (and has value)?

[2018-05-03 08:10] alixunderplatz commented on #393
@corradio @brunolajoie quickest is probably shifting peat fro biomass to the coal category in the ENTSO-E parser

 'biomass': ['B01', <s>**'B08',**</s> 'B17'],
    'coal': ['B02', 'B05', **'B08'**],

[2018-05-03 09:16] systemcatch commented on #1376
We should collect this source in addition to entsoe, there may be some interesting differences. The xml looks like a better choice as the csv data doesn't have column headers?

[2018-05-03 13:10] alixunderplatz commented on #1347
@blackleg I saw this generation category for the Baleares (on Mallorca):

`"resid":38.9`

That's probably residuos / waste? It has a share of about 5-7% in the total mix of all the Islands.

I guess, this is assigned to "other" by ree at the moment? Could you put it in a seperate "waste" category, so it can be mapped to biomass? That'll reduce the "unknown" category significantly. :-)

[2018-05-03 13:27] #1360 closed

[2018-05-03 13:32] brunolajoie commented on #423
Closing it indeed, because many ENTSOE capacities are incorrect

[2018-05-03 13:36] brunolajoie commented on #393
I agree with that. As ENTSOE puts it, it's clearly a fossil fuel, and with a C/H ratio is close to 1, our best shot is probably to assign it as coal.

[2018-05-03 13:43] corradio commented on #393
Should be we change it for all ENTSOE countries, or just FI / IE?

On Thu, May 3, 2018 at 3:36 PM Bruno Lajoie <notifications@github.com>
wrote:

[2018-05-03 13:44] corradio commented on #423
@brunolajoie I think you misread. This would be an opportunity to use http://data.open-power-system-data.org/national_generation_capacity/ instead of ENTSOE, and automatically update capacities based on that. Re-opening but feel free to re-close if you believe the source if not good enough.

[2018-05-03 13:48] alixunderplatz commented on #393
@corradio afaik, the third and last peat-reporting ENTSO-E country is Estonia (~3 MW or so)

[2018-05-03 13:55] corradio commented on #393
so let's change it everywhere?

On Thu, May 3, 2018 at 3:48 PM Alex <notifications@github.com> wrote:

[2018-05-03 14:02] alixunderplatz commented on #393
If you don't mind, yes :)
biomass & coal capacity for these 3 will need to be adjusted as well, I'll post them here

[2018-05-03 14:45] alixunderplatz commented on #393
Updating all to the latest capacity in the same run:

For FI:
Update README.md text to "Solar & Wind: IRENA", link is the same

[code]

For IE:
Add source to README.md
[Biomass, Solar & Wind: IRENA] (http://resourceirena.irena.org/gateway/countrySearch/?countryCode=IRL)
Delete IWEA source for Wind

[code]

For EE:
Add source to README.md
[Biomass & Solar: IRENA] (http://resourceirena.irena.org/gat

[2018-05-03 15:52] corradio commented on #393
@maxbellec are you able to assist? That would be appreciated as I have too
much on my plate right now.
Else I'll make sure to do the changes

On Thu 3 May 2018 at 16:45, Alex <notifications@github.com> wrote:

[2018-05-03 16:56] systemcatch commented on #1074
All done here guys?

[2018-05-03 16:59] brunolajoie commented on #423
Ah sorry!
Closing anyway due to country specificities that can't be automated (for instance, in some country, we split hydro storage from hydro without storage, but not in other, depending on ENTSOE spliting it or not)

[2018-05-03 16:59] #423 closed

[2018-05-03 17:16] alixunderplatz commented on #1074
@systemcatch from my side, ДА! 👍

[2018-05-03 18:40] #536 closed

[2018-05-04 06:08] corradio commented on #1376
CSV will be easier to parse though, so I'd suggest going the CSV way.

[2018-05-04 06:12] corradio commented on #304
@alixunderplatz it seems like you found A LOT of things. Sorry for not having replied before. The website also seems to have breakdowns by regions also! I would favor continuying by region.
Could you make a short summary of what needs to be done so we can more easily try to get people who want to contribute on the case?

[2018-05-04 06:24] corradio commented on #679
Thanks for investigating @jarek. Maybe the mismatch will be fixed in the future.
Worth keeping an eye out for changes.

[2018-05-04 06:26] corradio commented on #655
Hi @alixunderplatz what is the status here? Seems like we should get working on parsers?

[2018-05-04 06:28] corradio commented on #750
Closing as this is not the priority

[2018-05-04 06:28] #750 closed

[2018-05-04 06:30] corradio commented on #757
@alixunderplatz is there anything else left to do with RU? Are we able to split it up further?
Maybe we should have a "parser to be implemented" label to clearly mark issues where found data, and validated its accuracy, and just need to add it to the map?

[2018-05-04 06:30] corradio commented on #774
Closing due to inactivity

[2018-05-04 06:32] corradio commented on #802
I've used this library https://github.com/Triggertrap/sun-js to figure out sunrise/sunset times given a lon lat.
We could simply use the of the bounding box of the zone as reference.
@jbuverud maybe a simple white overlay with opacity < 1 should suffice?
@jbuverud if you think this adds value, then let's do it, else, I suggest we close the issue as we won't have time to work on it. Let us know you

[2018-05-04 06:32] corradio commented on #842
@grady-lad any updates? cc @jbuverud

[2018-05-04 06:37] corradio commented on #856
@systemcatch did you find any real-time data? Else I suggest we close the issue.

[2018-05-04 06:38] corradio commented on #878
cc @jbuverud (for inspiration).
Closing unless something has strong opinions.

[2018-05-04 06:38] #878 closed

[2018-05-04 06:39] corradio commented on #886
Closing as we don't have real-time data

[2018-05-04 06:39] #886 closed

[2018-05-04 06:39] corradio commented on #891
Closing due to inactivity. If anyone wants to update it, feel free to reopen!

[2018-05-04 06:39] #891 closed

[2018-05-04 06:40] corradio commented on #896
Any news here @pascalheraud ?

[2018-05-04 06:41] corradio commented on #902
Closing due to inactivity. If someone feels strongly against it, feel free to re-open.

[2018-05-04 06:41] #902 closed

[2018-05-04 06:42] corradio commented on #928
Closing this due to inactivity.

[2018-05-04 06:44] corradio commented on #934
@alixunderplatz any news here?

[2018-05-04 06:44] corradio commented on #947
Closing due to inactivity

[2018-05-04 06:44] #947 closed

[2018-05-04 06:44] corradio commented on #955
Closing due to inactivity

[2018-05-04 06:44] #955 closed

[2018-05-04 06:45] corradio commented on #968
@jbuverud if I remember correctly you had a prototype of this working no?

[2018-05-04 06:46] corradio commented on #973
@alixunderplatz is there something that needs to be changed on the map based on your analysis? Else I think we can close the issue?

[2018-05-04 06:47] corradio commented on #983
@systemcatch price data in the US is tricky, as they often use nodal pricing.
I'm fine closing this issue if/when we have integrated all exchanges.
Can you put up a checklist of the exchanges that are missing?

[2018-05-04 06:48] corradio commented on #1001
Closing this due to inactivity

[2018-05-04 06:48] #1001 closed

[2018-05-04 06:49] corradio commented on #1015
@alixunderplatz that issue is a gold mine of information! I don't want it to go unnoticed.
Maybe we could add at the top a list of checkboxes that would serve as TODOs?

[2018-05-04 06:51] corradio commented on #1016
Closing this due to inactivity

[2018-05-04 06:51] #1016 closed

[2018-05-04 06:52] corradio commented on #1029
As mentioned by @tmslaine on https://github.com/tmrowco/electricitymap/issues/917

Any roadblocks for getting started?

[2018-05-04 06:56] corradio commented on #1030
I've had an extensive chat @brunolajoie about this topic.
We really want to showcase where electricity comes from and be able to have windgusts to show up.
That prohibits showing a curve that sums up to the load.
The next information that makes sense to show is the storage/exports (you want to see that a windgust triggers a storage/export). That would warrant another graph.

We've tried it and neg

[2018-05-04 06:58] corradio commented on #1051
Closing this issue as I don't think it makes sense anymore now that countries can have default export mixes.

[2018-05-04 06:58] #1051 closed

[2018-05-04 06:59] alixunderplatz commented on #655
Hi @corradio !
Yeah, writing a parser would be nice to uncover the "unknown" part of generation on the next day.

To give a short summary:

_ _ _ _
* This page has "Generation by Type of Fuel" for **CL-SING**, available on the next day (a few hours later):
http://cdec2.cdec-sing.cl/pls/portal/cdec.pck_web_coord_elec.sp_pagina?p_id=5172
_ _ _ _

* This sharepoint folder has the hourly transmission

[2018-05-04 06:59] corradio commented on #1055
Has anyone contacted them?

[2018-05-04 06:59] corradio commented on #1059
@systemcatch @alixunderplatz should we close this if we already collect data?

[2018-05-04 07:40] alixunderplatz commented on #757
@corradio yes! This should not be too complicated.

The split into two regions:
* Bidding zone 1 (Europe or "1 ценовая зона") and
* Bidding zone 2 (Western Siberia or "2 ценовая зона") is possible.

These should be the adm_1 codes for Bidding zone 2 (discussed with @systemcatch on Slack):
RUS-2603 (only the southern tip, but this huuuge zone covers these large islands in the north)
RUS-2167
RUS-23

[2018-05-04 07:55] alixunderplatz commented on #1059
@corradio @systemcatch we could close.

Unfortunately the data reporting on ENTSO-E has been irregular/totally lost in the last weeks.

Historical and yesterday's "Biogas" and "PV" (and optionally wind) could be collected from that one link above, but that's <20 MW.
But at least it is reported there constantly compared to hydro, lignite and wind on ENTSO-E.

[2018-05-04 07:56] alixunderplatz commented on #1055
@corradio I didn't

[2018-05-04 07:56] #1059 closed

[2018-05-04 08:38] brunolajoie commented on #1030
That will be clear indeed:
- a carbon intensity graph
- a "incoming power" graph, that is the basis for computing carbon intensity
- a "outgoing power" graph below, that does not impact carbon intensity
- a price graph

[2018-05-04 08:43] alixunderplatz commented on #973
@corradio

* the "unknown" category could be assigned the gas intensity of 480 g/kWh. This would keep the nice details of ramping of the large multi-fuel power plant which we map to unknown. Based on last year's figures, that power plant generated using a mix of 99.92% gas / 0.08% oil.

![image](https://user-images.githubusercontent.com/25743609/39618891-f9401542-4f85-11e8-86fb-a6227e5edd58.png)

[2018-05-04 08:43] #973 closed

[2018-05-04 08:49] #393 closed

[2018-05-04 09:04] brunolajoie commented on #973
Thanks @alixunderplatz !
My guess is, If unknown is composed of 99.9% gas, it's a super quick win to assign it to "gas", and leave carbon intensity of gas as it is right now. First its usefull to understand where your electricity comes from, and second it's gonna be usefull later on if we refined carbon intensity factors per fuel that differs per country.

[2018-05-04 09:09] alixunderplatz commented on #973
@brunolajoie I agree, so I'll change it in the mapping.

![image](https://user-images.githubusercontent.com/25743609/39620375-3d5a6502-4f8b-11e8-9349-cc85c738b011.png)

[2018-05-04 09:16] grady-lad commented on #842
@corradio Hey sorry never got around to doing this. Consider it up for grabs for ever wants it!

[2018-05-04 10:07] corradio commented on #1062
I've added AL to our map, so as soon as we'll have data from ENTSOE it will appear on the map

[2018-05-04 10:07] #1062 closed

[2018-05-04 10:11] lorrieq commented on #1376
I'm going to code this up this evening, if nobody else has started.
I far prefer parsing CSVs. The only thing to note is you are relying on the fuel column order outlined in the documentation being and staying correct as well as applying small edits when new fuels are added. Not sure if this will happen again but I recall Biomass was split out of one of the other fuel types around November '17.

[2018-05-04 10:24] systemcatch commented on #1376
@lorrieq we could check the number of columns in the csv and log a warning if it's changed from the current number.

[2018-05-04 10:35] corradio opened #1381 "Split NO by bidding zone"
map data found by @tmslaine :

[2018-05-04 10:36] corradio commented on #1069
Closing this and replacing by #1381

[2018-05-04 10:36] #1069 closed

[2018-05-04 10:36] corradio commented on #917
Closing this and replacing by #1381

[2018-05-04 10:36] #917 closed

[2018-05-04 10:38] corradio commented on #1135
The map is really focussed on CO2, so we won't be doing that unfortunately.

[2018-05-04 10:38] #1135 closed

[2018-05-04 10:39] corradio commented on #1147
Unfortunately we believe this would add clutter to the graphs, and won't be implementing it.

[2018-05-04 10:39] #1147 closed

[2018-05-04 10:41] corradio commented on #1160
I've been able to gain access for the Electricity Map project (from the EM server).
Is anyone able to work on a parser? I think that person would need to be cleared for access as well.

[2018-05-04 10:42] corradio commented on #1161
Is this still an issue? I didn't get an answer :/

[2018-05-04 10:43] corradio commented on #1177
@maxbellec @systemcatch any thing we need to do more here?
Maybe list all the interconnectors?

[2018-05-04 10:44] corradio commented on #1210
What is the status here? If no-one is working on adding it I believe we can close this issue, as it has relatively little impact.

[2018-05-04 10:45] corradio commented on #1232
@brandongalbraith any update on your request?

[2018-05-04 10:46] corradio commented on #1235
Hi @alixunderplatz . Sorry I'm only looking at this now.
We won't have time to work on this, and I believe it doesn't change that much visually.
You're very welcome to update it if you find some time!
I'm closing in order to reduce the number of issues we have, but feel free to re-open if you think it's important.

[2018-05-04 10:46] #1235 closed

[2018-05-04 10:57] alixunderplatz commented on #1161
@corradio Yes it still is, unfortunately :-/
Would be interesting to see how this affects each ot the two zones.

[2018-05-04 10:57] systemcatch commented on #1160
What form is the data in Oli?

[2018-05-04 11:37] systemcatch commented on #983
Exchanges that are missing with regions we have data for;

- [ ] US-SPP
- [ ] US-ERCOT

Plus about 6 others that we have no data or areas in progress.

[2018-05-04 11:55] systemcatch commented on #1055
I'll try emailing them, @corradio do you want me to mention/link the EM or leave that out for now?

[2018-05-04 12:33] corradio commented on #1055
Feel free to mention the EM. It tends to help :)

On Fri, May 4, 2018 at 1:55 PM Chris <notifications@github.com> wrote:

[2018-05-04 13:30] alixunderplatz commented on #304
@corradio What would you do with the "renewable" category (most likely consisting of wind & solar, maybe biomass)?

_ _ _ _

Unfortunately, the regional data on http://meritindia.in for India has no breakdown of types.
It just gives "demand met", "own generation" as a total, and "import".
When you go through all of the states, all show "import" because of the difference of "demand met" and "own ge

[2018-05-04 13:44] alixunderplatz commented on #757
Before I forget: Would be cool to see the Oblast-level (federal state level) outlines of the federal regions within the bidding zones, just like in the U.S. ;-)

[2018-05-04 14:27] corradio commented on #304
Maybe the plantwise energy summary can be used to derive breakdown, but I realise it's going to be a lot of work:
![image](https://user-images.githubusercontent.com/1655848/39633292-d60db750-4fb7-11e8-8e20-2a3bb975849d.png)

If we can't split wind/solar from biomass, then unfortunately the only solution is to put it in "unknown" with a decent carbon intensity based on the average yearly mix of tha

[2018-05-04 14:28] systemcatch commented on #854
@blackleg had a fix for this but it was rejected. This error was seen 3574 times in the past 90 days according to the logger.

[2018-05-04 14:31] corradio commented on #1375
Actually right now the co2 model doesn't consider emissions at time of storage but at time of discharge. Unfortunately we don't have the model completely implemented so it discharges with a hydro intensity, which is unfortunate because it transforms batteries charged using coal to hydro plants.

However I prefer your formulation. Feel free to change!
What do you think @brunolajoie ?

[2018-05-04 14:34] corradio commented on #1275
So happy to see this working! Anything left to be done here?

[2018-05-04 14:38] corradio commented on #1278
@systemcatch I don't really see a good way to do this TBH.
We can't get rid of docker because it injects lot of things through the node server (e.g. translations).
you can actually just build by doing `docker-compose build`, but the watch script is required if you want to see live updates when you dev in JS.

[2018-05-04 14:38] corradio commented on #1288
Awesome that sounds like a good plan

[2018-05-04 14:38] corradio commented on #1290
@jbuverud are you able to take a quick look on this one?

[2018-05-04 14:40] corradio commented on #1309
@brunolajoie any idea whether or not this is a good idea to do? I might be worried that if we start doing country specific intensities it becomes hard to compare between countries.

[2018-05-04 14:41] corradio commented on #1311
@jpierz is there something I should do here? Send me instructions if I need to register to get a token to unblock this.

[2018-05-04 14:42] corradio commented on #1312
@jzlcdh I think this issue if this has been solved.
Feel free to re-open if not.

[2018-05-04 14:42] #1312 closed

[2018-05-04 14:43] corradio commented on #1313
@systemcatch @jarek anything we should change here? Feel free to update validation conditions on the ENTSOE parser or in quality.py. Else, let's close the issue

[2018-05-04 14:44] corradio commented on #1322
@systemcatch did it work?

[2018-05-04 14:45] corradio commented on #854
Yeah this error is very annoying. It seems like their formatting is not consistent.
I don't have a good solution for this. Ideas?

[2018-05-04 14:50] systemcatch commented on #1313
@corradio yes can you update https://github.com/tmrowco/electricitymap/blob/master/parsers/lib/quality.py#L66 to the following so the error message is correct.

```"Coal, oil, gas or unknown production value is required for"```

[2018-05-04 14:53] maxbellec commented on #1177
![eia spp values](https://user-images.githubusercontent.com/7253902/39634577-7a6807a8-4fbb-11e8-9a93-ed225e31a876.png)

[2018-05-04 14:54] systemcatch commented on #1322
Running it on my machine worked. To be sure we'd need to run this on a fresh VM but it's a good sign. @jbuverud fancy having a go?
[code]

[2018-05-04 15:02] #1313 closed

[2018-05-04 15:02] corradio commented on #1346
I'm not sure I understand what is to be done here?

[2018-05-04 15:03] corradio commented on #1356
@maxbellec can you help here?

[2018-05-04 15:04] jzlcdh commented on #1309
As I understand it Estonian oil already has a country specific intensity. So perhaps you could either remove that or remove the question label from this issue?

[2018-05-04 15:07] corradio commented on #1309
@jzlcdh this is a very relevant question, so I think the label should be kept :)
I'm merely thinking of whether or not this is included in #162, and whether or not we have a more general solution.

[2018-05-04 15:16] jzlcdh commented on #1309
@corradio Ah sorry I didn't mean to denigrate your question. I think this should remain separate from  #162 as in practice with the uncertainties it seems that hard coal burnt in Turkey emits at similar intensity to Turkish lignite. This is because of the transport costs of hard coal.

[2018-05-04 15:26] jzlcdh commented on #1312
@corradio Yes you are right to close it as it is a confusing mix now and at least some of it has been solved. I will check and reopen any bits which have not been solved as clearer separate (albeit probably tiny) issues.

[2018-05-04 15:33] alixunderplatz commented on #1346
@corradio this will be solved by splitting Balearic islands #1347.
The cable between Mallorca and Menorca was damaged and has to be replaced. Menorca's grid is an *electrical island* at the moment.

[2018-05-04 15:40] jzlcdh opened #1382 ""available" not right word in "emissions available""
After clicking the "carbon intensity" link and hovering over a bar there is a reference to "emissions available", which is not the best phrasing. Can't think of the best wording yet but feel free to assign this to me and I will get round to it eventually ("God willing" as my wife would make me say).

[2018-05-04 15:41] alixunderplatz commented on #1177
@maxbellec stretching orange a little bit more and putting it a bit to the left seems like the behaviour of them is matching. Of course, Magnitude is still different, but the pattern is the same. Is there an offset in time?

[2018-05-04 15:43] alixunderplatz commented on #1275
@corradio
* we need to check whether wind and solar generation happens in IPC's zone or outside of it.
I'll try to figure this out roughly by comparing some wind speed vs production from wind. Maybe I can find something for solar, too.
* (I think you can delete the US-IPC_add_geothermal branch, that one was merged already)

[2018-05-04 15:49] corradio commented on #1309
ok makes sense. Don't worry no offense was taken :)

On Fri, May 4, 2018 at 5:20 PM jzlcdh <notifications@github.com> wrote:

[2018-05-04 15:52] corradio commented on #1382
I agree. This might be a duplicate of https://github.com/tmrowco/electricitymap/issues/1375.

[2018-05-04 16:03] jzlcdh commented on #1382
Looks very similar but probably not duplicate as probably a different string when I find it.

[2018-05-04 16:31] brunolajoie commented on #1309
I'll give you my 2cents point of view
- The less we enter into country-specific emission factor the better, except if all these factors are derived from the same scientific study/database, in order to be comparable. I'm in touch with someone that could help us do that but it takes time #738
- Estonia is different, in that the fuel they burn is not "oil" at all. it's a solid fuel, called oil shale,

[2018-05-04 16:41] maxbellec commented on #1177
yes that's weird, but I believe it's just by chance. It's not that similar when you looked into details. To aligne them more, you'd need to change both horizontal and vertical scales, and move the graph. I don't see how that can correspond to a bug in the data (processing).

![eia spp values 2](https://user-images.githubusercontent.com/7253902/39640253-ab64aa0a-4fca-11e8-8b57-4259fbf27ca1.png)

[2018-05-04 16:47] maxbellec commented on #1356
started 2018-04-26 and hasn't happened before. Ignore the the white lines that shouldn't be here

![cl-sing](https://user-images.githubusercontent.com/7253902/39640535-8e559b8a-4fcb-11e8-96cd-b6d5fba31a84.png)
![cl-sing 2](https://user-images.githubusercontent.com/7253902/39640536-8e6e30aa-4fcb-11e8-953f-90fbf13e07ff.png)

[2018-05-04 16:52] systemcatch commented on #1356
I will send them an email about this.

On Fri, 4 May 2018, 17:47 maxbellec, <notifications@github.com> wrote:

[2018-05-04 16:58] brunolajoie commented on #1275
Asked IdahoPower without answer.
Have just asked someone from the US Federal Energy Policy.

[2018-05-04 18:04] jzlcdh commented on #1309
OK thanks I was not aware of #738. I think I should either close this in favour of that or if that is going to take a long time make this change as a stopgap. Because also this raises the general question of whether fuel transport related emissions are included or not. Of which question I don't have an answer.

[2018-05-04 18:49] corradio commented on #304
You are completely right. I've been looking at this too quickly.

On Fri 4 May 2018 at 18:20, Alex <notifications@github.com> wrote:

[2018-05-05 07:53] corradio commented on #1309
I am going to close this as #738 will take over.
To answer your question, the factors we use are LCA from the IPCC, so they should take into accounting fuel transport related emissions. Of course, as those are global averages, the precision is limited, hence why #738 might help there.
Thanks for raising this @jzlcdh .

[2018-05-05 07:53] #1309 closed

[2018-05-05 16:38] jarek opened #1387 "No data country tooltip shows renewable and low-carbon percentages as "NaN %""
[As reported on Slack](https://tmrow-team.slack.com/archives/C2DQPTHA6/p1525536723000059):

![image](https://user-images.githubusercontent.com/47415/39665378-6e1b5288-5093-11e8-9f2d-978a2befb584.png)

[2018-05-05 17:06] blackleg commented on #854
@corradio You could use temporary the [closed pull request](https://github.com/tmrowco/electricitymap/pull/862), it isn't the best solution but it works.

[2018-05-05 17:16] systemcatch commented on #854
Using the closed pull request is probably the quickest way. We could also use something like dateutil's parser instead of arrow's get() which is known to be quite lax when parsing.

[2018-05-05 18:11] tmslaine commented on #855
Some data sources:
https://www.kpx.or.kr/eng/index.do has real-time consumption
https://www.kpx.or.kr/eng/contents.do?key=307#n has information on conventional power plant ownership, Korean version of the same site has more power plants

http://cms.khnp.co.kr/eng/kori/realTimeMgr/list.do?mnCd=EN03020201&brnchCd=BR0302 and the respective sites for Hanbit, Wolsong, Hanul and Saeul have real-time nuc

[2018-05-06 09:00] corradio commented on #1271
Thanks @blackleg. I'm closing this one for now. Let's re-open if we see the bug again.

[2018-05-06 09:00] #1271 closed

[2018-05-06 09:02] corradio commented on #1278
OK I understand.
The proper way to do it would be to merge the system that does the compilation and the system that serves the file (HTTPServer).
Right now both can't be decoupled, but else a webpack dev server would be perfect for this.
Unfortunately this means we have to run two commands.
We could add another dependency (like `foreman`) that runs the two commands at the same time, but this is no

[2018-05-06 09:03] corradio commented on #1387
As discussed on Slack we probably should
- fix this bug
- showcase a different message/colour when the zone has a parser associated but currently has no data

[2018-05-06 09:51] brunolajoie commented on #571
If I understand it well, there are two main issues:

- Wind reported value seem to be about a third of actual wind output. I don't know what we can do about that except wait for data stream to be improved. (please find below the wind output for BE that we have in our database)
![image](https://user-images.githubusercontent.com/22095643/39672059-7d38d5fc-5123-11e8-8c8e-0202b83927a8.png)

- Unknown

[2018-05-06 10:14] brunolajoie commented on #1375
Right now, storing is like an export to a virtual neighbor that is the reservoir, which entails no emissions indeed. Hence the strange wording that we used. Therefore I wouldn't change the working for "emissionsStoredUsing".

(As oli said, pb is that we haven't had time to implement proper discharge CO2 intensity computation yet. We really "store" dirty emissions into the batteries, to be released

[2018-05-06 14:03] lorrieq commented on #1376
Hey all, I'm almost ready to submit an initial PR for this but wanted to check a few things.

1) To confirm, the datetimes in the parsers output should be in UTC right?

2) The datetime for each observation. Should this be the published time minus 5 minutes? In the example, the first observation for SP 28 which is 12:30GMT has a published time of 12:35GMT. My interpretation is the parser give this

[2018-05-06 15:39] systemcatch commented on #1376
1. datetime object with a timezone is fine.

2. How exactly is the settlement period used?

3. The exchanges on the generation by fuel page seem to ignore negative values, but on https://www.bmreports.com/bmrs/?q=generation/avghalfhourIC they don't.

4. I think that's the way to go but @corradio is the one who will make the changes to the backend.

[2018-05-06 15:45] systemcatch commented on #1278
Given that this would be a lot more work than I expected and we've got more pressing stuff to focus on atm I'll close this.

[2018-05-06 15:45] #1278 closed

[2018-05-07 07:35] corradio commented on #1376
2. The `datetime` should be the time of the data point. If the measured
average production between H and H+1 is measured at time H+1, the timestamp
should be set at H (i.e. the datapoint is valid from H until a new
datapoint arrives).
3. During an interval, and for a pair of zones, the parser should return
the average flow during that interval (`netFlow`). Positive between a and b
means from a ->

[2018-05-07 08:34] corradio commented on #1374
- Margin on tooltips
- Close button on tooltips
- Tapping graphs shouldn't change time (only slider does that)

[2018-05-07 08:41] corradio commented on #1387
Idea: Use stripes to indicated temporarily missing data.

[2018-05-07 12:56] jbuverud commented on #968
No prototype, just visual ideas. I was considering adding a vertical axis label with the unit, and then maybe add k/M/G-prefixes to the ticks so they don't overflow. However now that I think about it some more I think this will look strange, seeing that we want the ticks to be on the right side of the graph, and the unit label should be with the ticks. Maybe the best solution is simply to add the

[2018-05-07 13:03] #1290 closed

[2018-05-07 13:52] #1387 closed

[2018-05-07 15:11] alixunderplatz opened #1393 "Georgia GE showing solar output at nighttimes"
![image](https://user-images.githubusercontent.com/25743609/39708678-195f1938-5218-11e8-8e37-206c68320117.png)

I feel like this is the first time solar is displayed/reported for Georgia?! Solar generation (except CSP) like this should not appear during nighttimes. Right now, it's showing 0 although it's still day in Georgia.

Maybe it was some testing or some other genegating type was put to "sol

[2018-05-07 18:08] jarek commented on #1393
Isn't that import from Azerbaijan? Solar would be near the bottom, below hydro.

Checking https://api.electricitymap.org/v3/history?countryCode=GE just now, solar production has been 0 since 2018-05-06T17:59:00.000Z. Unless they've fixed it since?

[2018-05-07 19:02] alixunderplatz commented on #1393
@jarek Hahaha totally -.-" 😅😅😅

[2018-05-07 19:02] #1393 closed

[2018-05-08 13:35] alixunderplatz commented on #1376
@lorrieq @systemcatch @corradio Hey guys, I am sorry I just noticed this now, but there seems to be no solar data on the table on the page that I linked above, is that correct?

The wind and biomass data seems to be too low as well, compared with recent data on the map.

The fossil and hydro stuff looks good and precise, though. Seems like the 5-min-data is just usable for these categories plus th

[2018-05-08 20:28] strassburger commented on #636
@corradio
Hi corradio,
Pelase try to contact official to the management of King Island
Think David is the competent person to realise a json data stream to us.
Thank you
Rainer

Got a contact person at king Island:
davidj.brown@hydro.com.au
Program Implementation Manager, Hybrid Energy Solutions

BSc(Eng), MBA(TechMgmt), MIEAust, CPEng, NPER

My conversation with David:

Hello David,

thanks for t

[2018-05-08 21:10] lorrieq commented on #1376
Oh no, the best laid plans! I can't understand how I didn't realise there was no solar there either.

Well, if it's worth investigating I can contact them about their seemingly low reporting of wind and biomass data and if they have any plans to include solar generation there in the near future.

[2018-05-09 06:27] brunolajoie commented on #1376
Don't they have an API at Elexon/BMRS that could have potentially cleaner data?

[2018-05-09 07:57] corradio commented on #636
Just wrote to him, let's see what happens.

[2018-05-09 07:58] corradio commented on #636
Just wrote to him, let's see what happens.

[2018-05-09 10:50] systemcatch commented on #1376
Posting here what I said in the PR.

Most websites use https://www.solar.sheffield.ac.uk/pvlive/ for solar data. It's a fairly reliable estimate provided by the University of Sheffield at 30min intervals.

[2018-05-09 14:31] ovbm commented on #391
![screen shot 2018-05-09 at 16 28 30](https://user-images.githubusercontent.com/20746301/39820510-407c128e-53a6-11e8-9351-e255da9b3f4f.JPG)
I really like this color scheme. The greens are friendly, the sea color is unobtrusive. The only thing I'd change is stronger outlines for countires, apart from that Iove it. Will make a test in the near future to try it out.

[2018-05-09 17:04] systemcatch commented on #854
Does the format change at a certain point (e.g. halfway through the month) or is it just switching randomly?

@blackleg I think you should resubmit the pull request and we will give it a try. At least the production mix doesn't suffer from the same problem.

[2018-05-09 23:52] lorrieq commented on #1376
**5 minute data:**
Valid for fossil fuels and hydro [here](https://www.bmreports.com/bmrs/?q=generation/fueltype).

**30 minute data:**
Valid wind and biomass [here](https://www.bmreports.com/bmrs/?q=actgenration/actualaggregated) as @alixunderplatz pointed out.
It seems solar generation can be found [here](https://www.bmreports.com/bmrs/?q=actgenration/actualorestimated) which we didn't spot yet,

[2018-05-10 09:34] systemcatch commented on #1376
Currently (9am) Sheffield Solar shows 5.24GW of generation while https://www.bmreports.com/bmrs/?q=actgenration/actualorestimated shows 3.67GW.

[2018-05-10 12:57] tmslaine opened #1397 "Split Sweden to bidding zones"
This is not exactly compliant with the 'keep calculations to minimum' policy, but it might be possible to show a generation mix for Swedish bidding zones.

- Statnett/Svenska kraftnät have real-time flow data
- Statnett/Svenska kraftnät have a rough fuel mix for all of Sweden
- ENTSO-E has wind generation for Swedish bidding zones
- ENTSO-E/Svenska kraftnät have consumption for the bidding zones

[2018-05-10 14:42] maxbellec commented on #1397
This is awesome, thanks a lot for this. We really want to push regional consumptions as much as possible, even if it means a bit more calculations.

I'll submit a PR soon. ENTSOE publishes onshore wind per zone, but do you know if SE has any offshore wind that might not be published?

Notes for me:
- [x] OK for exchanges, only a small modification in `statnett.py`
- [x] already done for all SE pro

[2018-05-10 15:55] corradio commented on #1376
http://electricinsights.co.uk/ actually uses both, so I don't see why we
shouldn't.

On Thu, May 10, 2018 at 11:34 AM Chris <notifications@github.com> wrote:

[2018-05-10 16:17] tmslaine commented on #1397
Some comparison from last year between what ENTSO-E reports as onshore and what the local TSO Svenska kraftnät has as total wind production for the bidding zones, seems to be pretty much one-to-one:
![se1](https://user-images.githubusercontent.com/25774514/39880254-e70f987a-5485-11e8-9f38-312663ed530c.png)
![se2](https://user-images.githubusercontent.com/25774514/39880255-e72d15ee-5485-11e8-951c-f

[2018-05-10 16:39] maxbellec commented on #1397
great, thanks for checking this. I hope to publish the PR tomorrow or early next week

[2018-05-10 21:10] maxbellec commented on #1397
After looking a bit more in details and almost implementing it, I think we can split all zones. There's not a lot of thermal anyway, so we won't be far from the truth by putting some of the remaining unkown from SE3 + SE4 in both of them. It'd be nice to still have a reasonable rule.
If we could know the capacities or annual production of thermal plants in SE3 and SE4 we'd get a good ratio.

[2018-05-10 21:10] brunolajoie commented on #1397
This interactive [map](https://resourcewatch.org/data/explore?zoom=4&lat=62.23323453468927&lng=33.45233917236329&basemap=dark&labels=light&layers=%255B%257B%2522dataset%2522%253A%2522a86d906d-9862-4783-9e30-cdb68cd808b8%2522%252C%2522opacity%2522%253A1%252C%2522visible%2522%253Atrue%252C%2522layer%2522%253A%25222a694289-fec9-4bfe-a6d2-56c3864ec349%2522%257D%255D&page=1&sort=most-viewed&sortDirecti

[2018-05-10 21:25] maxbellec commented on #1397
Looking at this power plant database : http://datasets.wri.org/dataset/globalpowerplantdatabase
there's only 12 non hydro, wind, nuclear power plants in Sweden. Let's just take as a proportion the estimated generation in SE3 vs estimated generation in SE4. I'll look tomorrow which power plants correspond to which zones

![screenshot at 2018-05-10 23-23-42](https://user-images.githubusercontent.com

[2018-05-10 21:26] maxbellec commented on #1397
(BTW, @alixunderplatz I'm sure you're going to like this thread)

[2018-05-11 07:15] maxbellec commented on #1397
All but one power plant (that's in SE-SE4) have a 57.7 < latitude < 59.9, so are in SE-SE3. The power plant in SE-SE4 has a very high capacity of 400MW but an annual estimated generation of 135GWh, which corresponds to an average load factor of 3%.
This annual estimate generation is around 1% of SE's "unknown" generation, so if these numbers are True, we'd put 1% of unknown in SE-SE4 and the 99% r

[2018-05-11 08:41] maxbellec commented on #1397
actually, it seems very unlikely that Nya Öresundsverket in SE-SE4 has a low generation, as it's relatively new (2009).
And Wikipedia says there's another large power plant in SE-SE4, Karlshamn, that has a capacity of 665 MW and burns oil, but this one's quite old.
https://de.wikipedia.org/wiki/Liste_von_Kraftwerken_in_Schweden

Another source is the ENTSOE generation per unit. Most of SE-SE3 is r

[2018-05-11 08:42] maxbellec commented on #1397
I couldn't find any source of the annual production of any of Karlshamn and Nya Öresundsverket. They could both have a large impact on SE-SE4 carbon intensity, so it'd be great to get some numbers. If anyone can help, that would be great

[2018-05-11 08:58] alixunderplatz commented on #1397
https://sverigesradio.se/sida/artikel.aspx?programid=96&artikel=5470383

[2018-05-11 09:00] maxbellec commented on #1397
interesting. They still mention everywhere that it does cogeneration

[2018-05-11 09:28] alixunderplatz commented on #1397
@maxbellec the link I gave is from 2013, maybe the info is incomplete regarding district heating.

Here are some figures for uniper's assets in Sweden. They report a capacity for gas of 949 MW.
The additional 500 MW come from gas turbines that are distributed over the country (I have not looked into the zones)

https://www.uniper.energy/sverige/reservkraft/gasturbiner

Total capacity factor for th

[2018-05-11 10:15] #1316 closed

[2018-05-11 12:53] corradio commented on #391
![image](https://user-images.githubusercontent.com/1655848/39925190-f2de296e-552a-11e8-8265-ef46f211e47f.png)

[2018-05-11 13:44] maxbellec commented on #1397
The 3% was the load factor of Öresundsverket, by that I meant the total annual generation is 3% of what it would be if it was generating 400MW the whole time, which I don't think is true.

Given there's 440MW in SE-SE4 (Nya Öresundsverket) and 996 in the whole country, does splitting the remaining unknown in half between SE-SE4 and SE-SE3 seem reasonable? @brunolajoie @tmslaine @alixunderplatz?

[2018-05-11 16:02] tmslaine commented on #1397
While Svenska Kraftnät have not published their annual figures for 2017 as of yet (they are aiming to do it this month) this is what I got from their 2010-2016 annual statistics, units are GWh/year.
[Source](https://www.svk.se/aktorsportalen/elmarknad/statistik/) : Arkiverade dokument, Elområde 3 (SN3) - statistik per månad 2016 etc.

| SE3    | Nuclear    | Wind    | Hydro    | Solar    | GT & di

[2018-05-11 17:26] brunolajoie commented on #1397
70/30 seems like a reasonable assumption then!

[2018-05-11 17:47] kikebie commented on #1381
Hello, Some Import export arrows of the new NO split are on the oposite side and one between SW NO - W NO is between other border.

[2018-05-11 18:24] daveachuk opened #1403 "Exchanges referencing "US" zone no longer appear on map"
Change #1366 added a new zone which covers Washington State in the US under the Bonneville Power Administration, and I think since then the CA-BC->US exchange that used to show up on the map no longer does.

It looks like [config/exchanges.json](https://github.com/tmrowco/electricitymap/blob/master/config/exchanges.json) includes a few references to the "US" zone which no longer exists anywhere on

[2018-05-12 06:46] brunolajoie commented on #391
That looks damn cool. The're just a bit of lack of contrast between a no-data country and the see.

[2018-05-12 06:56] brunolajoie commented on #1381
cc @maxbellec

[2018-05-12 07:33] jarek commented on #1403
Possible reason is relation to #1391 which made internal back-end changes to how zones with no parsers are handled. Namibia is also impacted by this.

[2018-05-12 07:35] jarek commented on #1381
Wrong exchange arrows should have been resolved in #1399 which was deployed 13 hours ago, so very shortly after @kikebie 's message. @kikebie can you see if it's all right now?

[2018-05-12 08:40] corradio commented on #1403
I think this is related to the changes we did with @maxbellec.
I won't have time to fix this weekend, but we'll look at that asap.
No data loss is involved, so that's a good start.

[2018-05-12 09:04] kikebie commented on #1381
Great, Now everything looks fine. Thank you,

[2018-05-12 09:33] jarek commented on #1381
OK I'll close this ticket as this has now been done! :tada:

[2018-05-12 09:33] #1381 closed

[2018-05-12 09:36] jarek commented on #1356
This is still an issue unfortunately

[2018-05-12 09:37] jarek commented on #1346
I will close this in favour of #1347

[2018-05-12 09:37] #1346 closed

[2018-05-12 09:38] jarek commented on #1340
Unfortunately this is still an issue with wrong data being submitted to ENTSOE

[2018-05-12 09:40] jarek commented on #1253
I will close this as no real-time or recently-retrospective data appears to be available

[2018-05-12 16:58] systemcatch commented on #1403
@daveachuk you're right the first 2 exchanges should be CA-BC->US-BPA and CA-AB->US-MT, do you want to correct them or shall I?

For US->US-CA that's an aggregate of all exchanges to CAISO which we just show as a generic arrow.

[2018-05-12 17:11] jarek commented on #1403
The exact details of these western Canadian exchanges are a bit of a meaningless difference because we know nothing about Montana, don't have real time data for BC, and the situation of BPA is not all that clear (http://explorer.watttime.org shows significant parts of Washington, possibly including the BC exchanges, as being outside the BPA area)

[2018-05-12 17:34] systemcatch opened #1405 "Data for Southwest USA (SVERI)"
There is generation by fuel type at https://sveri.energy.arizona.edu/#generation-by-fuel-type plus many other measurements. Looks like 1min data with a very good breakdown!

SVERI = **Southwest Variable Energy Resource Initiative**

From the site.

Practically this covers parts of Arizona, Texas, California and New Mexico. But as far as I can tell there is no overlap in data with anything we get c

[2018-05-12 17:59] systemcatch commented on #1403
I think BC does have exchanges with BPA (https://www.bchydro.com/content/BCHydro/en/energy-in-bc/operations/transmission/transmission-system/actual-flow-data.html?WT.ac=sia_transmission_actualflowdata) mentions them by name, but you're right that this is mostly insignificant since there is no data.

[2018-05-13 11:27] alixunderplatz commented on #1405
Amazing find!

Just leaving the link to instructions for using the **API** here:
https://sveri.energy.arizona.edu/#howto

Looks like their large scale [solar and wind assets](https://sveri.energy.arizona.edu/#renewmap) are in **Arizona** and **New Mexico**, except for one smaller PV array (23 MW) which is located in California.

![image](https://user-images.githubusercontent.com/25743609/39965846-

[2018-05-13 13:10] corradio opened #1408 "Pressing "/" does not activate search when country is already selected"

[2018-05-13 15:41] jarek commented on #1405
Warning, that EIA map is for Southwest balancing area, not SVERI area! Las Vegas is serviced by Nevada Power Co which is not part of that SVERI list above. Meanwhile Imperial Irrigation District is a rural part of southern California which is not actually serviced by CAISO.

Arizona Electric Power Cooperative = small area in southeast Arizona, I think?
Arizona Public Service = most of Arizona exce

[2018-05-13 16:57] systemcatch commented on #1405
@alixunderplatz @jarek nice so we could potentially represent this as Arizona & New Mexico until we get a proper split of the USA :wink:

Regarding past exchange data I'm hopeful that the package I've made (https://github.com/systemcatch/eiapy) will make it easier.

[2018-05-13 22:00] systemcatch commented on #143
Some really good news everyone!

I found a shapefile showing Balancing Authority areas for the whole of the USA, https://hifld-geoplatform.opendata.arcgis.com/datasets/0242ddfc59554fadb8ffe8066c573c93_0

The attribute data for the shapes is very detailed. After a lot of work with qgis, topogen.sh and generate-geometries.js I've been able to make this.

![usa_by_ba](https://user-images.githubuserco

[2018-05-14 03:49] qwjhvbxi opened #1411 "Clicking on countries does not display anything"
As per title. Also after clicking there is a sudden CPU peak (to ~20%) that than decreases with time.
I already tried deleting cookies and restarting the browser but the problem persists.
Nothing new appears on the console when clicking on a country.
The console errors appear to be related to data rather than code errors.
The problem is on Chrome 66 on Windows 10. It appears to work fine on Edge.

[2018-05-14 06:44] corradio commented on #1411
@jbuverud are you able to reproduce?

[2018-05-14 07:14] jbuverud commented on #1411
@qwjhvbxi, I'm not able to reproduce your issue on my machine running chrome 66 and windows 10. Have you tried disabling all your browser extensions?

[2018-05-14 07:17] jbuverud opened #1412 "Mobile tab bar labels are not localized"

[2018-05-14 07:51] maxbellec commented on #1397
that more precise @tmslaine, thanks for the investigation. I'll submit in the next days

[2018-05-14 10:14] maxbellec commented on #1397
As a summary:

## Data we have
- Production data for the whole of Sweden (svk.se)
- Exchanges between sub-zones and between (statnett)
- Consumption (load) in each sub-zone (ENTSOE)
- nuclear production location (100% in SE3)
- wind data in each subzone (ENTSOE)
- 100% of the country's production

## Some stats
- thermal + wind + hydro + nuclear represent 99.93% of the country's production (the re

[2018-05-14 10:19] maxbellec commented on #1397
from the summary, if we accept a few percents off, it's safe to split SE into SE1, SE2 and SE3-4. Splitting SE3-4 into SE3 and SE4 could lead to too big errors so we should probably avoid it. Unless we know that thermal production is very correlated in SE3 and SE4.

[2018-05-14 10:34] brunolajoie commented on #1397
Merging SE3-4 seems a reasonable choice then, until we have an idea of the correlation factor between SE3 and SE4 unknown output. Anyone else has a different opinion on that?

[2018-05-14 11:52] maxbellec commented on #143
Not the most beautiful map, but worth gold 😍
Send the PR!

[2018-05-14 13:30] brunolajoie opened #1413 "Norway bidding zones often delayed by ~1h30"
Resulting in it being greyed out on the eMap. It's been the case for the last 2/3 day, it seems.
To keep an eye on it

![image](https://user-images.githubusercontent.com/22095643/40000194-7db9063c-578b-11e8-84e0-3c67ee8542ad.png)

[2018-05-14 13:58] corradio commented on #1413
Is there anything we can do about this? Else I suggest closing this issue as we already have a lot of them.
For what it's worth I haven't seen it grayed a lot (~20% of the time I'd say, and only for the southernmost part)

[2018-05-14 14:08] alixunderplatz commented on #143
@systemcatch Very nice! Seems like all of the areas more or less overlap with (many unused) others, which causes that "disintegration", esp. for CAISO and SPP?

Have you looked into the other shapefiles on that site already?

I really like the one for the large ISO areas. Maybe that could reduce the fragmentation (and required effort) to some extent?
https://hifld-geoplatform.opendata.arcgis.com/d

[2018-05-14 15:17] #1413 closed

[2018-05-14 16:02] systemcatch commented on #143
@alixunderplatz I had a look at some of the other shapefiles but they didn't seem to represent the data parsers are currently getting very well. The large ISO areas are good but big parts of the USA are missing and wouldn't show up on the map. We'd have to layer the ISO's onto a base shape of the US (:thinking: possible?) and find shapes for BPA and IPC.

[2018-05-14 16:17] Maggus71 commented on #1397
Just one comment regarding the issue of combining SE3 and SE4, I´m not sure if it´s relevant in this stage, but the big difference between these two bidding areas is that SE3 is more or less in balance when it comes to production and consumption of energy, but in SE4 there is not enough production to cover the consumption. So therefore SE4 needs to import energy on a daily basis to cover the diffe

[2018-05-14 20:00] brunolajoie commented on #1397
Thanks for the tips @Maggus71.

It would be nice to split SE3 and SE4 indeed, but:
- In SE3, 6.9% of the production is thermal on average last year
- In SE4, 21% of the production is thermal on average last year
- We can only know in real time the combined sum of SE3 + SE4 thermal production.

If we split them, we then have to assume that thermal power plants in SE3 and SE4 are activated simultane

[2018-05-14 20:46] brunolajoie commented on #1275
answer below:
![image](https://user-images.githubusercontent.com/22095643/40022376-193ece98-57c8-11e8-8edd-5f94524dca45.png)
Therefore, chances are good that PURPA wind & solar comes from the same Idaho grid.
However, how does it fits with your recent finding in #1040 ?

[2018-05-15 07:37] qwjhvbxi commented on #1411
After two days of this problem, the map now works fine. I don't know why. Sorry for the inconvenience.

[2018-05-15 07:37] #1411 closed

[2018-05-15 08:33] jarek commented on #140
Closing due to no usable data currently available. Please comment or reopen if more data becomes available.

[2018-05-15 08:33] #140 closed

[2018-05-15 08:44] jarek commented on #1330
Validation catches some data problems, e.g.
![image](https://user-images.githubusercontent.com/47415/40046260-ce449822-582c-11e8-8b01-b8ebeb0edc3e.png)

![image](https://user-images.githubusercontent.com/47415/40046279-dd91e73a-582c-11e8-9f2b-669da396de1f.png)

I haven't seen this being an issue in live data recently. Can the ticket be closed?

[2018-05-15 08:57] alixunderplatz commented on #140
@jarek Here's the load profile from the beginning of May when I collected some data:

![image](https://user-images.githubusercontent.com/25743609/40046587-97b42c9a-582d-11e8-89d5-4f020007f6de.png)

As assumed above, the average load/generation is around 2200 MW through the year and should not show any significant "ups and downs" in the load curve. Same can be observed in the graph.

A constant rat

[2018-05-15 10:00] maxbellec commented on #1403
actually this seems to be a front-end error, not a back-end one: exchanges are in the states. @jbuverud @corradio do you know what can be the source of this?
![screenshot at 2018-05-15 11-58-19](https://user-images.githubusercontent.com/7253902/40050294-5278f6f6-5837-11e8-8fe5-00a2d0331878.png)
![screenshot at 2018-05-15 11-59-33](https://user-images.githubusercontent.com/7253902/40050343-7354f9c4

[2018-05-15 10:03] jbuverud commented on #1403
You're right @maxbellec, I think this is due to us now removing exchange information from countries with no data (like @jarek said). I'll change the implementation and see if I can get this problem fixed.

[2018-05-15 12:12] strassburger commented on #1330
Not sure...
@corradio ?
@blackleg ?

[2018-05-15 13:53] maxbellec commented on #1397
sounds great @Maggus71, we have no hurries here anyway. Better wait and only publish correct data .

[2018-05-15 14:02] alixunderplatz commented on #140
... a final comment from me on this issue^^

![image](https://user-images.githubusercontent.com/25743609/40061343-03b7f8d8-5859-11e8-8254-6b137c6aed98.png)

[2018-05-15 19:47] Maggus71 commented on #1397
![skarmklipp 2018-05-15 21 34 54](https://user-images.githubusercontent.com/39273556/40079350-e4d5e842-5887-11e8-8a59-2b3d4836a6ab.png)
This is a translation of the installed effect in the four bidding areas. It is very important to understand that this is not the same thing as the production mix in the different areas. The reason is that some installed effect is only used for back up during peak

[2018-05-15 22:27] corradio opened #1418 "Mobile zoom issues"
There's an issue with the two-finger zoom on my Android. Spreading fingers doesn't zoom into the middle point: it centers to another point and therefore the zoom drifts away from the center.

[2018-05-16 07:58] corradio commented on #1418
Also happens on iOS

[2018-05-16 08:15] corradio commented on #1418
Seems to come from the mapbox update.

[2018-05-16 11:59] jarek commented on #1403
This is still an issue. The change referenced has been deployed. Is there more to the problem?

[2018-05-16 14:08] alixunderplatz commented on #1347
Hey guys 😸

I tried to use "human pattern recognition" to update the ES_IB parser for splitting their generation with basically no knowledge of Python 🐍 ^^

I 'stole' and adapted some of the existing code from ES_IB and ES_CN and tried to figure out how it should work.

Feels like I got the basic stuff working in Python, at least printing demand, generation and exchanges were working fine for me^^

[2018-05-16 15:19] systemcatch commented on #1347
Hey @alixunderplatz I'll take a look at this in detail later on today. You could put the .py file into a Gist if that helps?

[2018-05-16 16:35] maxbellec commented on #1403
the website is only update when we update the backend. We will tonight

[2018-05-16 18:07] corradio commented on #1403
@maxbellec Actually I deployed it this morning: https://tmrow-team.slack.com/archives/C2DQPTHA6/p1526459994000026

[2018-05-16 19:34] corradio commented on #1403
Re-opening as issue is still happening

[2018-05-16 19:43] jbuverud commented on #1403
Which exchanges are not showing, exactly?

On Wed, 16 May 2018, 21:34 Olivier Corradi, <notifications@github.com>
wrote:

[2018-05-16 19:44] corradio commented on #1403
CA-US and Namibia Zambia

On Wed, May 16, 2018 at 8:43 PM Jakob Buverud <notifications@github.com>
wrote:

[2018-05-16 19:53] corradio commented on #1403
Actually @maxbellec it seems like this is a backend issue, as the `netFlow` shows `undefined`:

![image](https://user-images.githubusercontent.com/1655848/40140559-2e6cbfee-594b-11e8-9e3e-0d35669e05b2.png)

[2018-05-16 20:38] systemcatch commented on #1403
Is it something to with if an exchange is flowing from a zone that has no parsers/data to a zone with data it is getting ignored? This is the case with the Namibian exchanges right now. CA-BC->US-BPA is flowing from BPA at the moment and showing on the map so that one is fixed in one direction.

[2018-05-17 09:46] maxbellec commented on #1403
yes it's probably something like that @systemcatch, though I haven't yet figured out where we do that. Thanks for investigating

[2018-05-17 13:26] brunolajoie commented on #1397
Thanks for the update! I'm not sure that I was clear enough in my email, but what we'ree trying to do here is finding a way to derive real-time (hourly) production mix per fuel of each Sweden bidding zone, not annual or seasonal averages.

It seems that we can compute the real time mix for SE1, SE2, and SE3+4 together. Splitting SE3 and SE4 in two will require an assumption over how the "theermal"

[2018-05-18 09:29] systemcatch commented on #1275
@alixunderplatz do you want to reactivate wind and solar? It should just be be a case of uncommenting a few things, else I will do it.

[2018-05-18 09:46] alixunderplatz commented on #1275
@systemcatch I can do this! :)
Just biomass will remain excluded from the mix. Not sure about adding this one, on EIA I saw around 30 MW while ~100 MW are reported as "PURPA Other"

[2018-05-18 13:35] brunolajoie commented on #1275
Awesome team work guys! 💪

[2018-05-18 14:19] systemcatch commented on #1403
You found the source of the problem @maxbellec?

[2018-05-18 14:54] maxbellec commented on #1403
yeah, I hadn't coded in Javascript for a while and forgot that `someObject[keyDoesntExist]` is `undefined`, and does not throw an error :rage:

[2018-05-19 08:27] alixunderplatz opened #1420 "No data is shown for Balearic and Canary Islands"
Seems like something hasn't been working properly since yesterday after ~13:30 MEST

![image](https://user-images.githubusercontent.com/25743609/40266453-a0f79122-5b4b-11e8-8d33-3e4ced95ae12.png)

[2018-05-19 16:39] kikebie commented on #1420
at that time more or less apear the exchange between ES - MA that was programing before and have been never appear (I fond this project one month ago), maybe something was change from ESIOS.

[2018-05-19 16:48] systemcatch commented on #1420
When I run the ES-IB parser (and ES-CN) I get the following;
[code]
This points to their SSL configuration being wrong, firefox will still load the site but an analysis of the certificate shows many issues.

![ree_ssl](https://user-images.githubusercontent.com/30196510/40270839-16ad42e6-5b8c-11e8-9a4b-2d60a1116bd9.png)

There are 3 possible fixes for this:

- Set verify=False in ree (bad practice,

[2018-05-20 08:47] jarek opened #1421 "PEI can have 0 own production"
Currently we show Bornholm's carbon intensity as unknown when all the electricity is imported.

It should probably be added to the fully-import whitelist like Aland Islands were.

Same is true for Prince Edward Island, I saw it a couple of days back, but I don't have a screenshot.

![image](https://user-images.githubusercontent.com/47415/40277164-0c1f7738-5c1b-11e8-8873-597b51bdf10c.png)

[2018-05-20 08:51] corradio commented on #1421
I just did. Closing this issue. Feel free to re-open if it keeps happening!

[2018-05-20 20:05] magol commented on #1397
Is anyone who has sent mail to "Svenska kraftnät" and asked them if they have the data we are missing? I suppose they have access to the data, even if it is not available online. If we are lucky, maybe they can help us.

[2018-05-22 06:02] #1420 closed

[2018-05-23 06:34] maxbellec commented on #1397
it's a good point. I haven't contacted them. @brunolajoie, @tmslaine ?

[2018-05-23 13:11] corradio opened #1425 "Bypass onboarding when map is embedded"

[2018-05-23 13:12] corradio commented on #1425
@jbuverud can you take this one?
The problem is when people embed our map and put a direct link to a specific country: we shouldn't show the onboarding in that case.

[2018-05-24 06:38] brunolajoie commented on #1397
Sent an email to their "contact-me" form. Anyone has better direct contact?

[2018-05-27 08:33] jarek commented on #1216
I am still curious about this. @alixunderplatz, do you remember/know if there are major differences in carbon intensities in the zones? If the zones are all within 50 g intensity of each other, there is probably less motivation than if one zone was regularly 200 g cleaner.

I can help with programming on server-side to collect and compare data for this over time, if you want to collaborate!

[2018-05-27 17:50] tmslaine commented on #1307
Since Fingrid does not split thermal generation by fuel, but rather by power plant type, one would have to map the fuel categories Cogeneration District Heating, Cogeneration Industry, Other production and Peak Load Power to Unknown.

It seems like 500g CO2eq/kWh is a decent estimate for Finnish thermal generation.
Comparing Finnish Energy Industry statistics for last 2017-04 - 2018-03, Statistics

[2018-05-28 06:18] #854 closed

[2018-05-28 09:55] brunolajoie commented on #1216
I bet there will be large differences! Because north and south germany are poorly interconnected, and a lot of wind electricity transit via (BE/NL/FR/Swiss) (or Poland/Austria) instead of flowing to south germany!

[2018-05-28 13:06] brunolajoie opened #1430 "NO4 remove Melkøya power plant (auto-consumption)"
In NO4, our ENTSOE parser for real time generation per category seems to includes a gas fired power plant (Melkøya) that is not allowed to deliver to the grid. It is used for self-consumption in an LNG factory up there.

We should try to find real-time power production from this plant in the Transparency platform, and net it from our current NO4 parser.

[2018-05-28 14:50] corradio commented on #1430
Maybe this is something that needs to be told to entsoe so they update it
on their end?

On Mon 28 May 2018 at 15:06, Bruno Lajoie <notifications@github.com> wrote:

[2018-05-28 14:56] brunolajoie commented on #1430
Entsoe contacted

[2018-05-29 13:36] jbuverud commented on #1425
As far as I can see, we already check if the map is embedded before creating the onboarding:

`if (!getState().application.onboardingSeen && !getState().isEmbedded) {
  onboardingModal = new OnboardingModal('#main');
  thirdPartyServices.trackWithCurrentApplicationState('onboardingModalShown');
}`

In our reducer we have

`  isEmbedded: window.top !== window.self,
`

Could it be that the window.to

[2018-05-30 10:01] systemcatch commented on #1356
Looks like the problem has been fixed!

![cl_working](https://user-images.githubusercontent.com/30196510/40713780-b99d58fa-63f8-11e8-88a9-466d2c67e185.png)

[2018-05-30 10:52] #1425 closed

[2018-05-30 11:46] Maggus71 commented on #1397
@brunolajoie I realize that you want to show the realtime production mix for the four bidding areas. My point is that you can not use a yearly average for this since the production mix varies during the year due to the CHP-production which is linked to the demand for district heating. So for example the thermal production in January 2018 lies somewhere in the range of 1250-1600 MWh per day and in

[2018-05-30 15:06] brunolajoie commented on #1397
That's a very interesting idea @Maggus71. It seems technically feasible. My suggestion would be to move on step by step. First, we keep split SE keeping SE3 and S44 together, so we make no assumption of the total level of thermal assumption. And then we open an issue to split SE3 and SE4 together by doing such analysis. What do you guys think?

BTW, I've got an answer from Svenska below

Thanks fo

[2018-05-31 09:08] systemcatch commented on #1160
I now have access to the site.  I've been looking around for a breakdown by fuel type but so far there's only a split into thermal, solar & wind.

[2018-06-03 09:35] tmslaine opened #1434 "Data for Iraq"
http://109.224.53.139:8080/IPS.php has real-time data for Iraq, an example from today:
![iraq_gen](https://user-images.githubusercontent.com/25774514/40884963-480e7026-6726-11e8-8034-334a6ec622ad.png)
"TIE LINES" seem to be imports from other areas. The only one I was able link to Iran is "MERSAD" for Mersad-Diyala, but many of the other ones could be Iran->Iraq as well.
Edit:
I think the dashboar

[2018-06-03 10:02] jarek commented on #1434
IEA data says most of generation 2015 was from oil and gas: http://www.iea.org/statistics/statisticssearch/report/?country=IRAQ&product=electricityandheat&year=2015

Gas is there separately, so probably we can map all of "thermal" to oil?

[2018-06-03 10:36] systemcatch commented on #1434
Wow I never imagined something like this would exist at the moment in Iraq.

Watching the page, data is being requested from http://109.224.53.139:8080/api.php approximately every minute. The data being returned is json which looks like https://gist.github.com/systemcatch/0e0d556855ecee80fd12983f52986e4c.  Studying the html I think those identifiers (e.g. d_1020) can be mapped to each plant.

[2018-06-03 13:14] jarek commented on #1434
Also it seems the `title` attributes on the numbers (that show when hovering on the numbers) are the key numbers in the api.php response. Super easy to extract data. `lastmodified` field seems to match recent time in UTC+3 Arabia Standard Time used in Iraq.

[2018-06-03 13:17] jarek commented on #1330
I'll close this for now, please reopen if you see it happening again

[2018-06-03 13:17] #1330 closed

[2018-06-05 10:07] systemcatch commented on #1405
Things left to do;
- [ ]  Add capacities.
- [ ] Resolve negative geothermal generation (awaiting email response from site admin).

[2018-06-05 21:11] tmslaine commented on #1434
All of the exchange lines on the SCADA are shown on a Iraqi Ministry of Electricity daily generation report from last year:
http://www.oco.moelc.gov.iq/upload/upfile/ar/1001.pdf

Iran line MERSAD = MERSAD
Iran line KHRH = Kharkh = KRKH
Iran line KHRM = K(h)ermanshah = KRMS
Iran line SRPL = Sarp(b)ol Zahab = SBZB

KUR-MSL = Kurdistan -> Mosul
KUR-KRK = Kurdistan -> Kirkuk

[2018-06-06 12:00] corradio opened #1438 "DK 5min data is now available from Energinet"
See https://www.energidataservice.dk/da_DK/news/282a9317-0876-4e26-9737-2a0df8367694

[2018-06-06 12:44] lorrieq commented on #1438
Nice. I can have a look at this one.

It seems to be just wind and solar production data? Looks like the rest of production is lumped into two categories, depending on whether it came from generator with less than or greater than 100MW.

[2018-06-06 13:03] corradio commented on #1438
Really? that's a bummer.. I thought it would be the same categories as ENTSOE.

[2018-06-06 17:16] Hyric89 opened #1439 "Data error for Aruba"
For a few days in a row now (possibly longer), data for the island country of Aruba has been offline. I went to check back on the source: https://www.webaruba.com/ and saw that the figures for electricity generation under the "Aruba's renewable energy monitor" block giving 0 MW for everything.

![image](https://user-images.githubusercontent.com/35940453/41054228-c6c87788-698b-11e8-88a6-cd5363a78d1

[2018-06-06 22:33] alixunderplatz commented on #1439
Looks like they cut out biogas by now from the first page, it was supposed to be "coming soon" for a very long time :(
Fun fact: Aruba's is (or was?) aiming to reach 100% renewable share by 2020, if I recall correctly... not gonna happen!

![image](https://user-images.githubusercontent.com/25743609/41068447-c65e9aee-69e9-11e8-9342-5207f7110e24.png)

![image](https://user-images.githubusercontent.c

[2018-06-06 22:50] alixunderplatz commented on #1439
I forgot to mention the obvious: Numbers on the website seem to be back now and the AW.py is returning valid values running it locally.

`{'zoneKey': 'AW', 'datetime': datetime.datetime(2018, 6, 6, 18, 30, 21, 802000, tzinfo=tzfile('America/Kralendijk')), 'production': {'oil': '89.36526489257812', 'wind': '26.8143253326416', 'solar': '0.12813511490821838'}, 'storage': {}, 'source': 'webaruba.com'}

[2018-06-07 01:01] Hyric89 commented on #1439
Rest assured that I'll bring up any updates on this matter that hold value to Electricitymap. I've done some reading on the Biogas topic as a citizen. If there are any questions about it, please ask away and I'll answer them to the best of my knowledge.

[2018-06-07 08:35] alixunderplatz commented on #1439
@Hyric89 thank you, that's very good to know! :)

Then I'll ask you some specific and some general questions right away :)
* I've read in the past that some smaller biogas units were planned to be added to the system, probably for organic waste treatment or sewage gas. I've briefly searched the web, construction for a biogas unit started in December 2013 already according to this article: http://w

[2018-06-07 09:43] alixunderplatz commented on #1356
Happening again in CL-SING:

![image](https://user-images.githubusercontent.com/25743609/41090843-814533da-6a45-11e8-877f-8755d22fabb4.png)

Historical data is available, so this shouldn't be a problem in general, though.

Question: the full breakdown for yesterday's production is already available - is it possible to fill/override that part of the graph with these data?

http://cdec2.cdec-sing.cl

[2018-06-07 10:39] matteodefelice opened #1442 "Missing generation in the Netherlands"
I am aware that there are already issues with the information about generation in the Netherlands  ([https://github.com/tmrowco/electricitymap/issues/78](url)) but I was trying to understand where the data is currently obtained.
For example right now in the ENTSO-E TP we can see a very low generation (200 MW, a screenshot [here](https://www.dropbox.com/s/2rhyza1rihx8j3l/Pasted_Image_07_06_2018__12

[2018-06-07 10:54] alixunderplatz commented on #1434
@tmslaine Cool that you found the daily generation report and the other valuable info!

I'd also assume that the autonomous region of Kurdistan is not included in that data, so we should seperate it from the rest of Iraq and show exchange data with this region. Your mapping of the tie lines looks totally legit!

For geometries, these are the adm_1 codes of the geographical regions that officially

[2018-06-07 11:03] alixunderplatz commented on #1442
@matteodefelice

Generation is calculated as mentioned in this pull request:
https://github.com/tmrowco/electricitymap/pull/1303

[2018-06-07 14:00] Hyric89 commented on #1439
If by "operating" you mean produce gas, then probably not. In what press they are getting, it has more to do with collecting waste, compacting it and disposing of it elsewhere. Lately, though, they consistently refuse to give details as to the status or plans about their gasification plant or the production of gas.

That was the proposed Urirama Wind Farm. It's been officially cancelled. The propo

[2018-06-07 16:13] alixunderplatz opened #1443 "Add Maharashtra (India) IN-MH"
Not sure if any of you OCR-experts already had a go at it in the past, but here is another challenge still waiting for you ;)
I tried to elaborate a bit more on what needs to be included and where to find this info in the images.
Feel free to comment below and reach out on Slack should you have any questions related to this. 😸
_ _ _ _

This one may have gone lost a bit in the large #304 "Add India

[2018-06-07 18:40] alixunderplatz opened #1444 "Add another data source for Chhattisgarh IN-CT (d-1, incl. PV & biomass)"
While looking up stuff for the "Add Maharashtra"-issue, I had a look at the source for Chhattisgarh's data and found this folder on the site:

http://103.218.230.36/15_Min_Report/

There is a 15 min report for generation and demand:
http://103.218.230.36/15_Min_Report/web.xlsx

Seems like that file is regularly updated. The data are at least about 12-14 hours behind, and provide figures for all ki

[2018-06-08 06:46] matteodefelice commented on #1442
Thank you for the information, I can see that this estimation tends to be higher than the actual values provided by TenneT especially during the evening, for example yesterday in the period 18:00-23:00 the generation on the electricity map was about 20 GW while TenneT reports about 5 GW less. In the same period the ENTSO-E TP reported a load of 15.5-16.5 GW and net import of about 2 GW...

[2018-06-08 10:04] systemcatch commented on #1443
That's a good challenge!

I ran tesseract on the main image but unsurprisingly got garbage back. We could split the dashboard into multiple images using the pillow module to try and improve OCR performance. Or we could do the same on the smaller thermal/solar/wind images which will be easier to work with.

[2018-06-08 19:15] husmanden opened #1445 "CO2 emissions for CHP seems off"
In scandinavian countries large amounts of electricity is produced in CHP plants, where excess heat from electricity production is used for district heating.
In this setting part of the emission from the production should be accounted to the heat production.
In your calculation you seem to assume standard power production, and account the full emission to electricity, which gives a wrong impressio

[2018-06-09 14:31] toboz commented on #892
@brunolajoie The problem is that there is a lot of small hydro plants in Switzerland with a complicated ownership structure, so I'd be surprised if a centralised data source already existed.

Could we dutchify (https://github.com/tmrowco/electricitymap/pull/1303) Switzerland in the meantime, till I find the right opportunity to change the laws? Assume 60% hydro, 30% biomass, 8% solar and 2% wind f

[2018-06-10 13:38] blackleg commented on #1347
@alixunderplatz Ree version with waste production: https://pypi.org/project/ree/2.2.0/

[2018-06-11 13:20] #1376 closed

[2018-06-12 07:38] brunolajoie commented on #892
How pressing / real is this formula E needs? :)

[2018-06-12 07:48] lorrieq commented on #1438
You can see on this [API sample](https://api.energidataservice.dk/datastore_search?resource_id=06380963-b7c6-46b7-aec5-173d15e4648b) the fields:

- ProductionLt100MW
- ProductionGt100MW
- OnshoreWindPower
- OffshoreWindPower
- SolarPower
- ExchangeNetherlands
- ExchangeNorway
- ExchangeSweden
- ExchangeGermany
- ExchangeGreatBelt
- BornholmSE4

Yes, a bummer on the production side. However, perhap

[2018-06-12 07:51] corradio commented on #1438
We already have all interconnectors, so indeed this is a bummer :/
I'm closing this.

[2018-06-12 07:51] #1438 closed

[2018-06-12 10:06] lorrieq commented on #1345
Can you assign me to this if nobody else has started?

[2018-06-12 10:10] corradio commented on #1345
I don't think I can assign to people that are not members of the project.
But I think it's enough if you say you'll be working on it!
Thank you so much @lorrieq !

[2018-06-12 13:04] toboz commented on #892
They just finished and so the event disappeared from the media. So it's not pressing. It is unbelievably real though, the Greens were criticizing this event because it is not sustainable enough: no one should be driving above 200 km/h according to them.

[2018-06-13 17:54] Hyric89 commented on #1439
So, the data for Aruba has been available on the website for some time now but no data is displayed on the map. I would have thought that there would be data on Electricitymap as soon as data was available on WEB Aruba's website again. Is it something in the parser?

[2018-06-14 08:19] alexaristotelous opened #1450 "[CY] Add another source for Cyprus (biomass)"
Cyprus has biomass with capacity 9.7MW, generating electricity and heat - electricity is generated at an annual average efficiency of 42.95%, having generated 36.5GWh in 2017 (0.7% of total generation).

I think they don't publish live-data at the moment of its generation from biomass, but the annual RES generation report includes it.
https://www.dsm.org.cy/media/attachments/RES/RES_PENETRATION_20

[2018-06-14 15:54] systemcatch commented on #1450
In #122 we made the decision to assign all of Cyprus's non renewable generation to oil since that dominates (1478MW to 10MW at the time). If they split biomass out from conventional generation we would modify our breakdown accordingly.  Maybe you could get in touch with them and see if this could be done?

[2018-06-14 16:17] alexaristotelous commented on #1450
Hi @systemcatch - Apologies for not reading #122 beforehand.
Everything sounds reasonable, and all details listed there seem correct to me. I sent an email today for something else to the transmission system operator, so if I establish communication I will pass on the message, since total electricity demand on the island is also a bit unclear (usually they include units to and from the areas north

[2018-06-15 12:23] PaulCornelissen commented on #1442
Something seems to be going wrong:
<img width="854" alt="screenshot 2018-06-15 14 05 27" src="https://user-images.githubusercontent.com/5185181/41467404-b1c9b3ca-70a6-11e8-87a4-b879d2263494.png">

<img width="542" alt="screenshot 2018-06-15 14 05 56" src="https://user-images.githubusercontent.com/5185181/41467415-ba260744-70a6-11e8-95b6-855d8e7700a7.png">

I overlayed these matching the scales:
<i

[2018-06-15 15:46] systemcatch commented on #1356
Back to normal again, in answer to your question @alixunderplatz I don't see why not.

[2018-06-17 13:33] jarek commented on #1445
@corradio @brunolajoie could you briefly check?

[2018-06-17 15:12] LessGoudarzi opened #1454 "shape files"
I am looking for shape files of the US ISOs.  Have you had any luck in acquiring them?

[2018-06-17 15:17] jarek commented on #1454
I'm not fully into the topic, but we have been working on this - https://github.com/tmrowco/electricitymap/issues/143 - and there seem to be some links towards the bottom of the page, e.g. https://github.com/tmrowco/electricitymap/issues/143#issuecomment-388659039

[2018-06-17 15:59] systemcatch commented on #1454
@LessGoudarzi your best bet is to take a look through the issue jarek linked.  There should be something there that can help you.

[2018-06-17 15:59] #1454 closed

[2018-06-17 16:03] LessGoudarzi commented on #1454
Thanks, I have pulled two files off the site and I am testing them.

📣

On Sun, Jun 17, 2018 at 11:17 AM, jarek <notifications@github.com> wrote:

--
LA Goudarzi
CEO, Founder
Goudarzi@OnLocationinc.com
LGoudarzi@gmail.com
OnLocation, Inc.
703.938.5151x102
Vienna, VA

[2018-06-18 08:48] corradio commented on #1445
You're absolutely right Torben. In principle we should have reduced emission factors for CHP plants.
A quick fix would be to divide emissions by half as you suggest. We would however need to know the percentage of CHP plants that run at a given time in a given area, which might be trickier than it seems.
@brunolajoie anything to add?

[2018-06-18 08:50] corradio commented on #1442
This definitely seems to be an issue with the NL parser. Is there anyone who can take a look?
cc @brunolajoie @maxbellec FYI

[2018-06-18 09:01] corradio commented on #1430
@brunolajoie any news?

[2018-06-18 09:02] corradio commented on #1382
@jzlcdh feel free to move forward with this!

[2018-06-18 09:03] corradio commented on #1322
@systemcatch seems clean. Fancy doing a PR to update the doc and close this issue?

[2018-06-18 09:07] corradio commented on #1210
I'll close this issue as I believe Electricity Map should tell about the grid intensity (for consistency with other countries). Feel free to re-open if you disagree. cc @brunolajoie

[2018-06-18 09:07] #1210 closed

[2018-06-18 09:13] brunolajoie commented on #1382
We could say, instead of

the following fix:

[2018-06-18 09:17] corradio commented on #1382
It's actually not "consumed" because at this point the exports (and storage) haven't been subtracted yet. The proper technical phrasing would be

i.e. just adding "from electricity".

[2018-06-18 09:49] #1322 closed

[2018-06-18 10:09] systemcatch commented on #1439
I get the following when running the parser manually, it doesn't appear on the map but there's no problem I can see?
[code]

[2018-06-18 10:32] ovbm commented on #391
Proposal for a new bright mode:

![screen shot 2018-06-18 at 12 20 35](https://user-images.githubusercontent.com/20746301/41531391-76ed6ea0-72f3-11e8-8dd0-4fc8955c4284.JPG)

Some UI elements have also changed. Topbar was removed, some ui elements shifted. All in all the intention was to declutter the map-view and make it breath more.

[2018-06-18 10:34] ovbm commented on #391
dark mode with the same Co2-coloration, ui changes and darker more blueish ocean color:

![screen shot 2018-06-18 at 12 21 28](https://user-images.githubusercontent.com/20746301/41531522-de7354f4-72f3-11e8-9aa6-d8d449da643b.JPG)

[2018-06-18 10:48] brunolajoie commented on #391
imho,
- Color scale is better here
- Bright mode proposed here is a very elegant alternative to the current dark mode
- New dark mode feels darker & geekier. Would fit very well on a poor-quality projector presentation due to contrast between country and sea. But I would maybe miss a bit the old dark mode that was kinda softer.

[2018-06-18 11:56] ovbm commented on #391
The color scale is continuous both on the current and the new versions. We've made the new scale a bit "harsher", so that only countries with intensities < ~100g are green.

[2018-06-18 12:57] brunolajoie commented on #1382
Oh, right, indeed!

[2018-06-18 14:34] maxbellec commented on #391
love the bright colors, I think it should be the default one.
For the dark mode, I'm not sure which of the new or old one I prefer. I think on the new one, the colors are very bright, the yellow countries look radioactives!
As for the general layout, I also think it's a big improvement, it's super clean.

[2018-06-18 15:34] brunolajoie commented on #1430
- ENTSOE answered me that Melkøya is supposed to be reported on the TP as it is right now for their computation of the total load/generation
- If our source saying that  Melkøya is disconnected is right, we should remove it from the grid mix ourself
- however the TP does not report individual outpur from Melkoya

I'll discuss it with my source

[2018-06-19 05:33] jzlcdh commented on #1382
Sorry I had forgotten about this - I hope to do it in next few days.

[2018-06-19 11:28] lorrieq commented on #1444
Hey @alixunderplatz, I started to take a look at seeing if we could add those fuels to the parser.

Unfortunately (for this issue) the existing IN-CT parser reads data from a source that is pretty up to date, seems to get production values with only an hour or so of lag. But because this new source is 3-12 hours behind I do not think it will be possible to incorporate. I checked with @corradio on

[2018-06-19 20:47] lorrieq commented on #1439
Could it be as simple as the parser returning strings instead of floats?

[2018-06-19 22:15] lorrieq commented on #1439
<img width="624" alt="screen shot 2018-06-20 at 00 09 01" src="https://user-images.githubusercontent.com/6525086/41626983-b0f02b84-741e-11e8-90e8-7147b8a52b93.png">

The value of good logging! Looks like it was failing in `quality.validate_production`, see snippet above. I've cast the production values to floats and the parser now passes the quality check.

[2018-06-20 07:17] #1439 closed

[2018-06-20 11:55] jzlcdh commented on #1382
So just to be clear if electricity is generated in country Y but consumed in country Z are we assigning the emissions to Y or Z?

[2018-06-20 13:49] jzlcdh commented on #1382
Duh sorry yes it is obvious on the readme. So as a native speaker but not a professional writer the best I can come up with is:

"Coal emitted X% of greenhouse gases due to electricity being used now in Z"

I have created pull request #1457. So would it be easy for me to test the change (I have a windows 10 desktop) or does someone else do that when batching up several minor changes?

[2018-06-20 14:19] jzlcdh commented on #1311
There is a new document (small enough for Google Translate) at [https://www.teias.gov.tr/sites/default/files/2018-05/NetTransferKapasiteleri-17.05.2018.pdf]
with some details of the interconnectors. Hope that helps.

[2018-06-20 15:05] brunolajoie commented on #1382
I'm sorry to insist, but your suggestion is not correct strictly speaking. The exact definition is
"X % of emissions from electricity produced or imported in Germany comes from coal"

[2018-06-20 15:13] brunolajoie commented on #1382
The resulting carbon intensity will be computed as the scalar product of each of these percentages (for all type of fuels, and all imports), multiplied by the carbon intensity of each type of fuel and each type of imports. It will represent the carbon intensity of electricity consumed in Germany.

[2018-06-20 16:36] jzlcdh commented on #1382
@brunolajoie I understand and agree with your last comment and I think that is in accord with my suggestion.

If you think it is not please could you tell me where is the code which calculates the percentage? As I don't understand your comment before last and looking at the code might help.

[2018-06-20 18:04] jzlcdh opened #1458 "Add Kosovo"
http://www.kostt.com/website/index.php?option=com_content&view=article&id=841&lang=en shows load and generation but not sources. However according to https://www.wikizero.com/en/Electrical_energy_in_Kosovo it is 97% coal. So would it be possible to add Kosovo?

[2018-06-20 19:11] alixunderplatz commented on #1458
Hi @jzlcdh ! :)

I had also seen the website of Kosovo's TSO a while ago but discarded the idea of using this data. In general, it's a bit complicated due to the relationship of Serbia and Kosovo.
Electricitywise, Kosovo A and Kosovo B with around 600 MW each are located in Kosovo and are the main power plants for generation in this area. Not sure if both are operating, I remember something about

[2018-06-20 19:19] jarek commented on #1382
That exact text is quite long and also requires introducing a new form of country name ("German"). Considering how much trouble we're having with this phrasing, and that the hovers only really work well on desktop (what is the % of desktop use?), would it perhaps be simpler and just as well to remove the hovers from "carbon emissions" subsection altogether and explain the figures in readme/FAQ?

[2018-06-20 19:28] jzlcdh commented on #1458
Thanks for quick reply. Yes it seems the EU is putting pressure on Serbia to recognize Kosovo, so we will see how that plays out. And once the World Bank and EU have decided how to help fund Kosovo electricity generation the energy ministry will maybe figure out how to proceed and [this article on Kosovo and coal](https://www.sourcewatch.org/index.php/Kosovo_and_coal) will likely be updated so per

[2018-06-21 06:16] jzlcdh commented on #1382
Good points @jarek - I will try and write wording without a new form of country name and which would suit both the hover tip and the FAQ. If that is not possible I will write a short one for the hover tip and a longer for the FAQ. But first could someone could let me know where the code is which calculates the percentage so I can look at it make sure I understand properly myself?

[2018-06-21 08:53] brunolajoie commented on #1382
@corradio proposal:

- "available" might remain consusing for people who really wants to understand what this % is about
- It's not "coal" but "local coal" that should be used to be exact
Overall, here's my suggestion

What do you think?

[2018-06-21 14:10] #1130 closed

[2018-06-21 14:10] #1408 closed

[2018-06-21 18:52] jarek commented on #1382
"electricity produced or imported in Germany" sounds a little awkward to me - "produced in or imported to Germany" would be more correct but no less awkward

"local coal" should probably be "local coal generation" else it sounds like it does not include any coal imported from abroad on a train and burned in Germany

As "45% of emissions" is plural, it should also be "come" not "comes"

If we want

[2018-06-21 19:02] jarek commented on #1458
Thank you for the information! I will close this issue for the time being to avoid accumulating open issues that we cannot resolve. Please reopen when more data becomes available!

[2018-06-22 07:05] brunolajoie commented on #1382
Hahahaha thanks for correcting my poor English grammar, at least we're all clearly aligned on the exact meaning of these now.
Its a matter of choice now, between simplicity and exactitude. I'm fine with all these, will let the community decides.
One last shot on my side (using oli's "available" and the distinction between local and imported)

[2018-06-22 11:52] jarek commented on #1421
Happens for PEI
![image](https://user-images.githubusercontent.com/47415/41775246-7b5e6196-7623-11e8-9abc-e911fb557d12.png)

[2018-06-22 12:12] #1421 closed

[2018-06-22 12:12] corradio commented on #1421
Fixed!

[2018-06-22 15:14] Etrabonne opened #1462 "Visualisation des vents"
Dommage, je n'arrive plus à visualiser les vents dans EletcricityMap que j'apprécie beaucoup par ailleurs.
Bien cordialement,
Michel de Broissia

[2018-06-22 17:34] corradio commented on #1462
Bonjour Michel,

Nous avons résolu le problème. Merci @maxbellec  :)

Olivier

[2018-06-22 17:34] #1462 closed

[2018-06-23 14:35] jarek opened #1463 "Country details freeze on mobile Firefox when time slider is used"
Tested in Firefox 60.0.2 on Android.

Steps to repro:
- choose a region from map, e.g. Germany
- slide the time slider into the past
- go into "Areas" list or "Map" view again
- choose another region, e.g. France
- observed behaviour:
  - time slider is kept at previously chosen value (I presume this is intended).
  - country name and "current" production values are also kept at last seen values,

[2018-06-23 17:52] systemcatch commented on #1463
I see this in Firefox 60.0.2 on Ubuntu and 60.0.1 on Android 6.0.

[2018-06-24 15:59] alixunderplatz opened #1465 "Add Uttarakhand (India) IN-UT"
Digging through the Indian "state load despatch centres" I found real-time data for generation in the state of Uttarakhand.

http://uksldc.in/real-time-data.php

They seem to have domestic generation from gas and hydro, although this seems to cover only ~50% of IN-UT's recent demand, so they have quite high imports. The state seems to own shares
of central power stations in Uttar Pradesh, listed u

[2018-06-24 21:55] lorrieq commented on #1465
I can take this one

[2018-06-25 10:29] #1345 closed

[2018-06-25 17:33] jzlcdh commented on #1382
Thanks for those comments - I now understand what was wrong with my previous pull request and have made the new one above. If I should test it myself please let me know (I have a windows desktop but have not done this kind of testing before).

[2018-06-25 17:33] #1382 closed

[2018-06-25 18:30] jzlcdh commented on #842
@corradio Sorry to be picky but the tooltip might need to have exceptions for particular countries. For example  [here in Turkey geothermal may unfortunately not be low carbon](https://pangea.stanford.edu/ERE/db/GeoConf/papers/SGW/2017/Fridriksson.pdf)

[2018-06-25 19:40] brunolajoie commented on #842
It's better to improve the code step by step: Let's first close this issue and discuss potential refining later on.

[2018-06-26 06:09] corradio commented on #842
@jzlcdh that's interesting, but as @brunolajoie says we should open a separate issue for that (this issue is only about the frontend part, not the backend / calculation)

[2018-06-26 06:51] #1374 closed

[2018-06-26 06:52] brunolajoie commented on #1374
@jbuverud don't foreget to close the issue (it will move to "Done" automatically on the boards)

[2018-06-26 10:17] systemcatch commented on #1160
Quick update, though I have access to the main site I don't have access to mis.ercot.com which contains the solar and wind data.  I've sent an email about this but so far there's been no response (just like my access email).

[2018-06-26 10:19] systemcatch commented on #1434
All the code has been merged in so Iraq should appear on the next deployment!

[2018-06-26 10:19] #1434 closed

[2018-06-26 10:44] jzlcdh commented on #842
Yes you are right it should be easy to do the basic hover tip I guess, so how do I assign myself this issue?

[2018-06-26 16:23] corradio commented on #1160
ok. They didn't answer me but gave me access anyway. Thanks for your
patience. Hope they fix it soon!

On Tue, Jun 26, 2018 at 12:17 PM Chris <notifications@github.com> wrote:

[2018-06-27 06:47] corradio commented on #842
Github does not allow us to assign people who are not members of the
project.
If you say you'll take it, then that should be sufficient!

On Tue, Jun 26, 2018 at 12:44 PM jzlcdh <notifications@github.com> wrote:

[2018-06-27 13:09] corradio commented on #1463
Might be fixed by https://github.com/tmrowco/electricitymap/pull/1459

[2018-06-27 14:34] corradio commented on #391
A big day today! We merged!

[2018-06-27 14:34] #391 closed

[2018-06-27 17:34] jarek commented on #1463
I actually still see this issue on mobile Firefox 60.0.2

[2018-06-27 19:59] ovbm opened #1471 "Release new electricity map app with bright mode"

[2018-06-28 06:19] corradio opened #1472 "GB->GB-NIR bug"
[code]

[2018-06-28 06:19] corradio opened #1473 "MY-WM->TH bug"
[code]

[2018-06-28 06:20] corradio commented on #1472
Also happens with GB-NIR->IE interconnector

[2018-06-28 06:21] corradio opened #1474 "GB-NIR urls have changed"
[code]

[2018-06-28 06:21] corradio opened #1475 "DO bug"
[code]

[2018-06-28 06:21] corradio opened #1476 "AR bug"
[code]

[2018-06-28 06:22] corradio opened #1477 "Costa Rica does not have data available between 12am-1am"
[code]

[2018-06-28 06:22] corradio opened #1478 "US-IPC is occasionally missing a key"
[code]

[2018-06-28 06:23] corradio opened #1479 "SV bug"
[code]

[2018-06-28 06:24] corradio opened #1480 "NO-NO3->SE and NO-NO1->SE exchange forecasts are invalid"
[code]

[2018-06-28 06:25] corradio opened #1481 "bmreports is down?"
I see this error on the backend (https://kibana.electricitymap.org/app/kibana#/discover/1710fdd0-2460-11e8-a779-9d01de8d7a71?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-1h,mode:quick,to:now))&_a=(columns:!(level,extra.key,message),filters:!(('$state':(store:appState),exists:(field:level),meta:(alias:!n,disabled:!f,index:'93e631f0-245f-11e8-a779-9d01de8d7a71',key:level,negate:

[2018-06-28 06:26] corradio opened #1482 "US-MISO has large negative 'unknown' value"
[code]

[2018-06-28 07:16] alixunderplatz commented on #1482
@corradio Can you extract the unknown time series for the last couple of days from the database and put it in a graph? or is the negative unknown value not recorded? Unknown category looks a bit like solar during the day, but might also be pumped storage (I feel like there was some info in the MISO issue back then... but I have no time to check atm)

[2018-06-28 07:29] corradio commented on #1482
Unfortunately it's not recorded as it doesn't pass the validation :(

On Thu, Jun 28, 2018 at 9:16 AM Alex <notifications@github.com> wrote:

[2018-06-28 09:44] systemcatch commented on #1482
Quoting the Miso site;

So pumped hydro?

[2018-06-28 11:00] alixunderplatz commented on #1482
@systemcatch the negative part most likely comes from pumping, yeah. But then we should probably dismiss "other" as a whole, as pumping while generating will reduce the output of this category and therefore the emissions, too.
Would be nice if somebody could drop a timeseries of the positive part of this category anyway

[2018-06-28 11:31] lorrieq commented on #1481
Hey @corradio, their system had a scheduled [outage](https://www.elexon.co.uk/wp-content/uploads/2018/06/EL02838.pdf) last night. Back online as of 9:15.

Any gap in data can be fixed because the parser accepts a `target_datetime`. What I don't understand right now is why the map shows a big jump in data over the small gap.
![image](https://user-images.githubusercontent.com/6525086/42031635-e53551

[2018-06-28 11:36] #1481 closed

[2018-06-28 11:36] corradio commented on #1481
ok great! Thanks for investigating. The gap in data is indeed disturbing. I
expect the bias to be removed as they backfill the data.

On Thu, Jun 28, 2018 at 1:31 PM Laurence Quinn <notifications@github.com>
wrote:

[2018-06-28 11:38] corradio opened #1483 "Should we remove red from the color scale?"
From this picture, to me it seems a bit hard to see which area is worse than another.
![image](https://user-images.githubusercontent.com/1655848/42032009-75be9508-7ad8-11e8-9754-aa1af4e256dd.png)

I'm thinking (and proposing) that maybe if the scale went from orange to brown to darkbrown (and less do a detour to the red), we wouldn't have that problem?

Let me know if this is a shared opinion or j

[2018-06-28 13:30] brunolajoie commented on #1482
This is the historical data we have for MISO unknown production (in MW)
(mean value when available: 1000MW)
![image](https://user-images.githubusercontent.com/22095643/42037181-0affcc72-7ae8-11e8-9d9a-6d1356d91ace.png)

![image](https://user-images.githubusercontent.com/22095643/42037171-043322a4-7ae8-11e8-8d40-84f8e47f17d1.png)

[2018-06-28 18:04] jarek commented on #1481
That jump is because EM assumes the last data point is still valid for 2 hours (or maybe 3 hours?) if no subsequent datapoints are available. That's then drawn as a straight line.

[2018-06-28 18:08] jarek commented on #1483
I think this is mostly only an issue in Australia where there aren't many nearby regions to give context through intermediate colours.

It seems clearer in North America for example:

![image](https://user-images.githubusercontent.com/47415/42052385-ed4eb73e-7b0e-11e8-9071-dd9190cf50c6.png)

[2018-06-28 18:10] jarek commented on #1479
This stack trace means that the response from the server was blank (empty string) where you were expecting JSON. That's probably fine to leave as an error like this, trying to catch JSON decode errors and give useful error messages would be quite labour intensive.

[2018-06-28 18:12] jarek commented on #1483
Although to be honest taking a second look at this America screenshot I wouldn't be sure if MISO is cleaner than PJM without checking

[2018-06-28 18:38] jarek commented on #1483
Hallway test anecdote: I showed both of the above screenshots to a third person who wouldn't have otherwise known what the correct answer was, and they got the ordering correct in both. Could someone else try it with their neighbours? "What would you say is the relative order in terms of how 'green' the areas are?"

However a question was raised whether the colour scheme works for colour blind peo

[2018-06-28 20:31] corradio commented on #1479
ok I just raised the issue without really looking into it. Feel free to
close if you believe it's an outlier

On Thu, Jun 28, 2018 at 8:10 PM jarek <notifications@github.com> wrote:

[2018-06-28 20:33] corradio commented on #1481
Ah yes very possible! Good catch

On Thu, Jun 28, 2018 at 8:04 PM jarek <notifications@github.com> wrote:

[2018-06-29 10:17] systemcatch commented on #1483
I like the red but it can be confusing unless the carbon scale is present.  I will try and do some tests with people who have zero experience with the map or electricity later today.

[2018-06-29 10:21] systemcatch commented on #1479
El Salvador is fine for the past 24 hours so I'll close this since it's not recurring.

[2018-06-29 10:21] #1479 closed

[2018-06-29 10:30] brunolajoie commented on #1483
Color scale seems clear to me, but i'm definitively biased! :D

On Fri, 29 Jun 2018 at 12:18, Chris <notifications@github.com> wrote:

[2018-06-29 10:43] systemcatch commented on #1478
Sometimes the 'Net Purchases' key is missing so a keyerror is raised by the pop function.  Supplying a default None argument fixes this.

[2018-06-29 10:53] #1478 closed

[2018-06-29 11:17] corradio commented on #1471
I just did a cordova release so everyone gets the bright mode.
It would be nice to do a proper ios/android release so when people install the app they immediately have the proper version.

[2018-06-29 11:21] systemcatch commented on #1476
This is related to #811, current best explanation is that the page/app is offline for about 4 hours starting at midnight.

[2018-06-29 13:13] jbuverud commented on #1483
In general I like the idea of removing the red step. We are currently representing the extreme end of the carbon scale with black, which I think is good, as it kind of symbolizes "extreme pollution" (I imagine sooty, black clouds of pollution). Red is also a colour which (at least to me) symbolizes some kind of an extreme (extreme heat, extreme danger, etc), and I don't really see how having red a

[2018-06-29 13:31] #1373 closed

[2018-06-29 13:44] lorrieq commented on #1463
The country detail freeze is fixed but I still get no data in the country detail when on mobile (using Safari)

![image1](https://user-images.githubusercontent.com/6525086/42095562-dde280ae-7baa-11e8-9ad3-b0e7030ec2b5.PNG)

[2018-06-29 13:46] brunolajoie commented on #1445
There are two main methods to adjust electricity carbon intensity in CHP plants:
1. Physical: In proportion to primary energy used for generating electricity vs. primary energy used for generating heat.
2. Economical: In proportion to economic values of electricity sales vs. heat sales

The first approach would make electricity a bit dirtier than the second (but still cleaner than if we had not ta

[2018-06-29 14:26] brunolajoie opened #1489 "colors too subtle in new bright mode left panel"
In my non-retina display screen, i can hardly see two details:
1. the unkonwn generation vs. unknown capacity installed. The former should be made darker.
2. the slider is white over white: it could be made a bit darker too
![image](https://user-images.githubusercontent.com/22095643/42097704-12854630-7bb9-11e8-94d6-4638de343cc5.png)

[2018-06-30 06:53] ovbm opened #1490 "mobileapp ios topbar color"
![0ebf3aae-bb61-45d8-95dd-98e39abd12a7](https://user-images.githubusercontent.com/20746301/42122506-45a75f32-7c43-11e8-92dc-0e43a17e92a7.png)
![aa8effb2-b93c-4011-a525-5072bdb1be66](https://user-images.githubusercontent.com/20746301/42122507-45c4a010-7c43-11e8-8b50-fd31c6c8812b.png)

The font of the topbar in ios (wifi, etc...) is white and not readable in the new design.

[2018-07-01 08:06] alixunderplatz commented on #1347
ref PR #1448
I thought about having Ibiza+Formentera as a combined zone (ES-IB-IZFO). We could barely fit the exchange arrow between these two islands anyway, which is the main reason, plus we wouldn't have to deal with getting Formentera's geometries on the map, which makes the whole process a bit easier.

Not too much of a compromise in terms of zone-wise granularity, in my opinion, and you coul

[2018-07-01 11:13] corradio commented on #1463
@lorrieq does the issue still happen? What phone do you use?
Can you describe the exact steps to reproduce?

[2018-07-01 12:01] lorrieq commented on #1463
Hey, it was Safari on iPhone SE. But it seems to have been fixed since and looks great now!

[2018-07-01 12:06] corradio commented on #1463
Great!

[2018-07-02 08:13] #1471 closed

[2018-07-03 09:43] corradio opened #1491 "German translation hides top buttons"
It seems like part of the emission toggle is not visible, probably because the element is positioned absolute. This doesn't play well when the header is higher than expected (due to an extra line break in German)

cc @ovbm

![image](https://user-images.githubusercontent.com/1655848/42212376-36c0cf2e-7eb6-11e8-838d-4d819b13f210.png)

[2018-07-03 09:46] ovbm commented on #1491
nice catch

[2018-07-03 10:45] #1491 closed

[2018-07-03 14:17] maxbellec commented on #1480
[see https://kibana.electricitymap.org/app/kibana#/discover/1710fdd0-2460-11e8-a779-9d01de8d7a71?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-12h,mode:quick,to:now))&_a=(columns:!(level,extra.key,message),filters:!(('$state':(store:appState),exists:(field:level),meta:(alias:!n,disabled:!f,index:'93e631f0-245f-11e8-a779-9d01de8d7a71',key:level,negate:!f,type:exists,value:exists

[2018-07-03 15:12] joshuasgoldstein opened #1497 "California Elec. Imports"
Olivier asked me to post this issue to get responses. - Prof. Joshua Goldstein

On 4/9/2018 9:06 AM, Olivier Corradi wrote:

Dear Olivier,
    I'm following up on the question of California imports now that you have AZ and NM on the U.S. map at the moment.  I believe the "least wrong assumption" you can make is to take the monthly fuel mix for exporting regions, or the real-time fuel mix if you ha

[2018-07-03 15:40] maxbellec commented on #1480
[code]

[2018-07-03 15:41] corradio commented on #1480
@maxbellec you need to check the forecast (not the actual exchange)

On Tue, Jul 3, 2018 at 5:40 PM maxbellec <notifications@github.com> wrote:

[2018-07-03 16:04] #1480 closed

[2018-07-03 16:06] maxbellec opened #1499 "Check DE->SE-SE4 exchange direction is correct"
In https://github.com/tmrowco/electricitymap/pull/1498, I realised `parsers.ENTSOE.ENTSOE_EXCHANGE_DOMAIN_OVERRIDE` had inverted tuples values for `DE->SE-SE4`. We need to check `ENTSOE.py` code to see if that resulted in exchanges having the wrong sign or if that had no effect.

[2018-07-03 17:03] jarek commented on #1497
Hello,

Thank you for the information. With this help, making the change should actually be really easy!

The assumption we make otherwise is simplest and least wrong _in absence of other information_ and the U.S. power system isn't really the easiest to find comprehensive real-time information about. But yes, refining this is on our priority list and this is of great help!

As we're here - do you

[2018-07-04 11:17] brunolajoie opened #1503 "Norway is grey while data is available on the left panel"
- right now NO is grey (any bidding zone)
- clicking on one them shows "data not available" in the left panel
- slide back in time a bit and coming back to "now" --> data is now available, last datapoint is 10min ago, and carbon intensity is computed on the left panel.

Therefore, there's a bug: NO should not have been grey

[2018-07-05 09:10] systemcatch commented on #1474
Something has changed on the site which results in not getting the excel data properly.  Time for more fun with aspx pages!

[2018-07-05 16:31] jarek commented on #1503
I can confirm this just now. Looks like there's some bug in the endpoint sending `api/v3/state`. `production`, `co2intensity` and some other keys are missing.

I was wondering if this was because the data shown in history panel has failed validation or was incorrect (as in the case of e.g. Switzerland) but that doesn't appear to be the case. Earlier today I screenshotted Norway zones being grey wh

[2018-07-05 16:33] jarek commented on #1503
Now it works again and history of NO-NO4 has in last point `"datetime": "2018-07-05T13:00:00.000Z", "stateDatetime":"2018-07-05T16:15:00.000Z", "updatedAt": "2018-07-05T16:18:39.798Z"`. So perhaps backend is partly thrown off when stateDatetime is ahead of updatedAt?

[2018-07-05 16:46] jarek commented on #1503
However in Kibana in last 4 hours I do not see errors for datapoints in the future for Norway which is what I might expect if updatedAt is less than stateDatetime

[2018-07-05 19:44] jarek commented on #987
For whatever reason, the Quebec-Ontario interchange is wrongly showing as 0 in Electricity Map. http://live.gridwatch.ca reports Ontario importing total ~1.1 GW from Quebec at 14:00-15:00 2018-07-05, and http://reports.ieso.ca/public/IntertieScheduleFlow/PUB_IntertieScheduleFlow_20180705.xml says ~1.4 GW, but we have 0. For that matter it's been 0 whenever I looked at EM in the past few weeks.

[2018-07-06 07:03] corradio commented on #1503
A few insights about how the backend works:
- `datetime` represents the time of the production data
- `updatedAt` represents the last time the production data was fetched
- `stateDatetime` represents the timestamp used to compute the co2 values. As we need all data (production + exchanges of all zones) to compute the co2 values, we need to define a `stateDatetime`, and then fetch the latest data (

[2018-07-06 07:08] #1490 closed

[2018-07-06 08:28] lorrieq commented on #1475
This looks to be working fine again. I can run locally and there is data on the map.

[2018-07-06 08:32] corradio commented on #1475
ok - closing then.

[2018-07-06 08:32] #1475 closed

[2018-07-06 08:33] lorrieq commented on #1474
It looks like at least the values sent for `btnDownloadCSV` and `_ig_def_dp_cal_clientState` have changed from what the parser sends but I must be missing something as I didn't manage to get it working when I was looking a few days ago.

[2018-07-06 08:42] systemcatch commented on #1474
The urls have changed very slightly e.g.

http://www.soni.ltd.uk/DownloadCentre/aspx/FuelMix.aspx
has become
http://ws.soni.ltd.uk/DownloadCentre/aspx/FuelMix.aspx

[2018-07-06 08:52] #1474 closed

[2018-07-06 09:34] lorrieq commented on #1472
fixed by #1506

[2018-07-06 09:44] #1472 closed

[2018-07-06 09:45] corradio opened #1507 "GB-NIR invalid data in database"
The latest observation seems to be problematic:

![image](https://user-images.githubusercontent.com/1655848/42372212-eecab938-8111-11e8-808c-779694b74962.png)

therefore it is not shown on the map. However it is inserted in the database.
We should add proper validations to make sure coal/gas are present and that load > 0

[2018-07-06 13:20] Hyric89 commented on #1483
When you have countries whose bottom source of electricity according to Electricitymap's sorting is gas and imports are coming from a territory at certain carbon intensities, the imports and gas look very similar in color in the graph:
![image](https://user-images.githubusercontent.com/35940453/42381007-bc676de2-80fd-11e8-8312-52f1a7899c59.png)

[2018-07-06 16:34] corradio commented on #814
I had a very good call with the person that set up the tool (https://www.hawaiianelectric.com/clean-energy-hawaii/integration-tools-and-resources/renewable-watch). Will follow up with more info.

[2018-07-06 16:42] systemcatch commented on #1507
You could add a check in https://github.com/tmrowco/electricitymap/blob/master/parsers/lib/quality.py for the sum of all production keys. Right now it checks each key individually.

This seems like something best applied to every parser, the only time it could cause a problem is if the zone is running wholly on storage.

[2018-07-07 06:17] qwjhvbxi commented on #1489
Agree, same problem for me, I cannot see the difference.
Also, shouldn't the left panel change color too in dark-mode?

[2018-07-09 12:23] strassburger opened #1508 "El Hierro problems with 100% hydro"
El Hierro problems with 100% hydro:
![hierro-hydralico-only-2018-07-09 14-06-40](https://user-images.githubusercontent.com/28303688/42450187-a196e1b8-8383-11e8-90ce-407ae1142331.png)

[2018-07-09 17:07] systemcatch commented on #1508
@strassburger I think this is related to #1274 and #1276, when a zone is running on 100% storage no emissions are assigned.

[2018-07-09 17:57] strassburger commented on #1508
@systemcatch
That is correct,
sorry for opening new issue.

[2018-07-10 02:12] camilogavo opened #1509 "Data for Colombia"
Are you working on colombia dataset?

Could I contribute for this?

[2018-07-10 06:48] corradio commented on #1509
Hi @camilogavo !
Feel free to start ahead and keep track of your progress here.
Did you find any real-time data?

[2018-07-10 09:08] #1508 closed

[2018-07-10 09:55] systemcatch commented on #1242
I'm looking at adding the exchange between California and Baja California Norte, but it seems like the time is stuck at 12:00:00 while the exchange value is changing. Does anyone else see this?

[2018-07-10 10:37] systemcatch commented on #1477
This has happened every day between 7am and 8am for the past 90 days. There is no data table available in that timespan.  Costa Rica's timezone is UTC-6 and with daylight savings in Europe atm it correlates perfectly with no data being available for 12-1am in Costa Rica.

Possible solutions;

- If current time being requested is between 12-1am local time then get data for the previous day.
- Ignor

[2018-07-10 10:54] corradio commented on #1477
You're right assuming the CR parser returns a list of datapoints (in opposition to a single one)

[2018-07-10 10:54] #1465 closed

[2018-07-10 11:34] camilogavo commented on #1509
Data are published by XM as @systemcatch said but it is 24 hours delayed. Is it useful @corradio?

[2018-07-10 12:20] corradio commented on #1509
Unfortunately it won't appear on electricityMap if it's > 24h.
Any other sources available?

On Tue, Jul 10, 2018 at 1:34 PM Juan Camilo Gaviria <
notifications@github.com> wrote:

[2018-07-11 08:47] systemcatch commented on #1477
Yes it returns a list of them.

[2018-07-11 13:31] HenkPoley opened #1511 "Data for Iceland"
Found some data for Iceland wind generation: https://www.landsvirkjun.com/researchdevelopment/research/windpower/realtimedata/

If there is other live data it's probably at Landsnet: https://www.landsnet.is/english/

[2018-07-11 18:37] alixunderplatz commented on #1511
Hi @HenkPoley !
There was an issue #140 which was closed a while ago that dealt with Iceland, including these links you found :)
There still is no further breakdown by type for geothermal and hydro production, which is why including Iceland is no option at the moment, so I'll close. Feel free to re-open if I have overlooked something.

[2018-07-11 18:37] #1511 closed

[2018-07-12 20:10] jarek commented on #1483
As another data point, I asked another un-involved person (has some technical knowledge) and they also interpreted the relative order in the two screenshots correctly. I think if anything we should look at colour blindness.

[2018-07-12 20:18] jarek commented on #1274
As noted in #1508, this is still happening. Last happened on morning local time of 2018-07-09.

Screenshots in case it helps debugging in any way (sorry, dumb series of 4 screenshots from my small-screen mobile):

<img src="https://user-images.githubusercontent.com/47415/42656874-e56a9aa2-8620-11e8-803b-38855b5baac6.png" width=200> <img src="https://user-images.githubusercontent.com/47415/42656875

[2018-07-12 20:20] jarek commented on #1276
Still happening as of on morning local time on 2018-07-09, including 0 emissions shown when producing fully from hydro storage.

[2018-07-13 09:17] lorrieq commented on #1499
Hey, this did have an effect and the historic values in the database need to be updated. I ran the parser twice just now, once with the current correct code and once with the previous inverted code, see values below and refer to [source](https://transparency.entsoe.eu/transmission-domain/physicalFlow/show?name=&defaultValue=false&viewType=TABLE&areaType=BORDER_BZN&atch=false&dateTime.dateTime=13.0

[2018-07-13 12:08] brunolajoie commented on #1499
Very good news! We'll re-fetch historical data to update this all! (after our summer break ;)

[2018-07-14 18:19] jarek commented on #987
In looking at this, I found the cause of the Quebec bug: https://github.com/tmrowco/electricitymap-contrib/blob/6b3f2dd8669db10a05b3a92bc0441ef778014d2f/parsers/CA_ON.py#L179 makes `keys` an iterator, but we then attempt to consume it twice: to get the datetime and then the netFlow. The problem is by the time we get to the netFlow, the iterator is completely consumed and will be empty. `map` will

[2018-07-15 20:13] jarek commented on #1340
Ireland is now back in ENTSOE, but still submitting wrong data:

![image](https://user-images.githubusercontent.com/47415/42737958-137ad08a-887c-11e8-8aa9-be3324ba07b7.png)

[2018-07-17 14:24] brunolajoie commented on #1497
Dear @joshuasgoldstein, (cc @systemcatch)

- We are about to update (here #1500) the default carbon intensity of electricity imported from other US states, to your suggested value of 325gCO2eq/kWh. I have summarized your computation to 325 in [this simple spreadsheet to be updated later as we refine our understanding of california](https://docs.google.com/spreadsheets/d/1grrWRVbmNbpfiUvXFbkh55QfY7

[2018-07-18 13:43] strassburger opened #1514 "electricitymap Running locally"
electricitymap Running locally

Problems with this line:
docker-compose run --rm web npm run watch
stops working here:

[1] multi babel-polyfill ./src/main.js 40 bytes {bundle} [built]
[./src/store.js] 1.4 KiB {bundle} [built]
    + 1066 hidden modules
Child extract-text-webpack-plugin node_modules/extract-text-webpack-plugin/dist node_modules/css-loader/index.js??ref--4-2!node_modules/mapbox-gl/d

[2018-07-18 15:56] systemcatch commented on #1497
Some thoughts on the exchange with Baja California.  We can find out what power plants are present then work towards estimating a emissions factor.  http://datasets.wri.org/dataset/globalpowerplantdatabase shows individual plants in Mexico but we will have to dig out the relevant ones to the region.  As @alixunderplatz said it's isolated from the Mexican national grid which makes things easier.

I

[2018-07-18 16:08] joshuasgoldstein commented on #1497
I have some queries out about the northern Baja grid as well as the
general question of Calif. imports, and will report back when I hear
something.  For the moment, given the amounts are small, probably
assuming combined-cycle gas is the safest course.
Joshua

Prof. Joshua S. Goldstein
16 Poets Corner Rd., Amherst, MA 01002
(413) 687-4842   www.joshuagoldstein.com

On 7/18/2018 11:56 AM, Chris wro

[2018-07-18 19:40] jarek commented on #799
I see it happening again, so reopening issue for reference, though we should probably try to fix Australia in #1196 first...

![image](https://user-images.githubusercontent.com/47415/42903722-084c9dac-8ad3-11e8-8067-062b38a9bb0e.png)

[2018-07-18 19:42] jarek commented on #704
I've seen it again and I really don't understand why, since it really should be fixed. Maybe this time the datasource was actually just wrong. Or blame #1196 like for everything else.

![image](https://user-images.githubusercontent.com/47415/42903823-57f4ae62-8ad3-11e8-9dcf-2b0c71c91618.png)

[2018-07-19 09:37] strassburger commented on #1514
Sorry to make a lot of words about things pretty clear for the insiders:
The description above:
could it be just be the normal behavior??
The local map runs.
Only data not up to date.
If zhis is just the way a local installation starts let me know.
Will delete this issue then.
Thank you

[2018-07-19 10:38] systemcatch commented on #1514
Hey @strassburger that first part is working fine, it should stop at that point. The data won't be up to date as the local map only updates when parsers are run manually using update_state.py

[2018-07-19 11:46] strassburger commented on #1514
@systemcatch
Thank you

[2018-07-19 11:46] #1514 closed

[2018-07-19 17:21] joshuasgoldstein commented on #1497
Bruno,
     I'm not sure about posting to GitHub, so sending this to you and
the "list" and asking you to post as relevant.  I've gotten suggestions
from Jesse Jenkins who is a leading expert on this issue. Here's his
response:

Yeah you can get imports/exports from EIA by balancing area. Here is
Caiso for example
https://www.eia.gov/realtime_grid/?src=data#/data/graphs?end=20180719T09&start=20180

[2018-07-22 09:45] alixunderplatz opened #1516 "Restore access to India-Gujarat (IN-GJ) wind and solar data"
Hey everyone,

looks like SLDCGUJ has also removed the access to real-time data websites for wind and solar, just like they did for the conventional real-time data.
The solution should be really simple: We can use the same link which still gives access to that ["print" page](http://www.sldcguj.com/RealTimeData/PrintPage.php?page=realtimedemand.php). It has wind and solar generation on the right si

[2018-07-22 09:58] alixunderplatz opened #1517 "No data for Moldova (MD) on the map"
Looks like the data source is still providing real-time data:

http://www.moldelectrica.md/ro/activity/system_state
http://www.moldelectrica.md/utils/load4

Why is MD not displayed on the map anymore?

[2018-07-22 13:10] alixunderplatz opened #1518 "Add new battery in South Australia to /parsers/lib/AU_battery.py"
The Dalrymple ESCRI-SA Battery Project was recently commisioned in South Australia, see:
https://reneweconomy.com.au/south-australias-second-big-battery-charges-into-action-79148/
(some more upcoming battery projects are mentioned in the news article as well)

Link to the project website and real-time data dashboard:
https://www.escri-sa.com.au/

There is a seperate link to some custom graphs. It

[2018-07-22 18:03] jarek commented on #1517
It looks like the backend can't connect: [logs 24 hours up to now](https://kibana.electricitymap.org/app/kibana#/discover/1710fdd0-2460-11e8-a779-9d01de8d7a71?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:'2018-07-21T18:01:59.140Z',mode:absolute,to:'2018-07-22T18:01:59.140Z'))&_a=(columns:!(level,extra.key,message),filters:!(('$state':(store:appState),exists:(field:level),meta:(ali