[2020-05-09 09:14] fbarl commented on #1126
Thanks for investigating @alixunderplatz & @jarek!

It seems like I forgot to verify the [compatibility across browsers](https://caniuse.com/#search=URLSearchParams) when I introduced `URLSearchParams` in #2289, but fortunately there is a polyfill out there (https://www.npmjs.com/package/url-search-params-polyfill) that should fix the issue.

Let me give it a try! :slightly_smiling_face:

[2020-05-09 09:20] fbarl commented on #2475
Glad it all worked out for you in the end @rolanddosa, and thanks for sharing all the bumps you experienced along the road :wink:

[2020-05-09 09:57] brunolajoie commented on #1008
Thanks for your comment @jmgarnier ! Never a bad thing to discuss.

- "Why gCO2eq/kWh for nuclear plants or renewable does not change over time (same number as 2014!)" : because the average power plant fleet does not evolve rapidly at all (reactors lasts 40 to 80 years)

- "The emissions impact of mining of uranium in Niger, Australia, Kazakhstan might be under estimated?" They might be, or they m

[2020-05-09 12:14] Fred-3000 commented on #2483
Montenegro has the same issue.

[2020-05-10 14:03] ajoga commented on #2445
Capacities can evolve with time as well as generation. Our knowledge of them, too.

I believe it's a good solution to store the capacity being at 0 in the zones file as well as the production being 0 in the parser.

I suggest to modify the parser to output 0 where the capacity is zero

[2020-05-10 17:08] alixunderplatz opened #2491 "Refine colors or range of wind speed bar"
@fbarl and I had a brief conversation about the colors and range of the wind speed bar.
With some of the latest changes it became a bit harder to distinguish speed areas by their color, especially when screenshotting the map. This is due to the bars new maximum of 30 m/s (=108 km/h, which rarely happens in most places).

Let's use these power curves for very common turbiens from a publication on [

[2020-05-10 19:33] systemcatch commented on #2007
@fbarl I like the idea of trying your second suggestion and seeing where it takes us.

[2020-05-10 19:59] ajoga commented on #1015
I found historical data for switzerland, they look very reliable : https://www.swissgrid.ch/fr/home/operation/grid-data.html . On may 10, the latest update of the file was 31st marsh.. So not safe for live dataviz though

[2020-05-10 21:16] alixunderplatz opened #2493 ""consumption/production" toggle: some zones disappear"
Some zones disappear when changing the "consumption/production" toggle to production.
Observed right now for NZ-South Island, AUS-Tasmania, IN-Chhattisgarh, Kuwait, Israel, Peru.

consumption view:
![grafik](https://user-images.githubusercontent.com/25743609/81510647-ae878480-9313-11ea-8d36-026b633e1eef.png)

production view:
![grafik](https://user-images.githubusercontent.com/25743609/81510662-cf

[2020-05-10 22:25] alixunderplatz opened #2494 "Add visualization for countries with load data or "unknown" production only"
- There are quite a few new countries now which have a parser for "system load" aka "fetch_consumption()", now the "Gulf Cooperation Council" parser was added in #2360.
Vietnam is another candidate for getting a load parser soon (see #1974). Even for Belarus it is possible to parse the system load (#934). Load data for all states of India is also available in real-time (#304) .

- Some more real-t

[2020-05-10 22:34] alixunderplatz commented on #2494
Blue zones have available real-time system load data in addition to the currently featured zones:

![grafik](https://user-images.githubusercontent.com/25743609/81512172-de885500-931e-11ea-9250-9dcbef3afd5e.png)

[2020-05-11 06:18] martincollignon commented on #2478
Fixed by ENTSOE - would be great if people can help on #1015 (pinned it!)

[2020-05-11 06:18] #2478 closed

[2020-05-11 08:26] robertahunt opened #2495 "Capacity data for US zones should be added back"
As pointed out by https://mobile.twitter.com/thefrackingguy/status/1258225824567705601, would be nice to have capacities for US zones again, seems like some of this data was removed when we switched to the new view.

I am not yet sure if there is a central repository for this data for not, or if we would have to comb each individual BA's website to get the data.

[2020-05-11 09:05] fbarl commented on #2493
Thanks for opening the issue @alixunderplatz!

What do you think should be the ideal behavior here? Currently we look at this live data metric and paint the zone only if its there:

[code]

So the south island of New Zealand for example has `co2intensity` defined but doesn't have `co2intensityProduction` - if you think that in itself doesn't make sense, then this should probably be addressed in th

[2020-05-11 09:20] fbarl commented on #2494
Thanks for a very detailed write up @alixunderplatz! :+1:

I don't feel qualified to say which approach would be more useful (adding a _load_ option to the toggle vs. showing it in the current maps), but it generally sounds like a good idea to visualize these zones _somehow_.

A tiny UX remark regarding your screenshot above - I'd perhaps use a subtler color for such zones than bright blue as thos

[2020-05-11 09:24] systemcatch commented on #1899
Hi Alex, I had a go at getting the data in txt (csv) format.

The link for that is https://www.ceps.cz/download-data/?format=txt which returns a base64 encoded string, converting to regular text I get the following.

[code]
I will try to take a look at the xml stuff later today.

[2020-05-11 10:11] GitMatze opened #2497 "Don't show arrows when zoomed out"
At low zoom levels, including the default one, the import/export arrows are unrecognizable but take up a lot of resources.

[2020-05-11 10:12] systemcatch commented on #2494
We could use a gray striped fill for countries with load data, adding a separate tab seems to up the complexity quite a bit.

[2020-05-11 10:40] fbarl commented on #2497
Thanks for the suggestion @GitMatze, I'm fully on board with you here!

I've actually already tackled this [here](https://github.com/tmrowco/electricitymap-contrib/pull/2481/files#diff-31d196d1ca900b0fc47407db518f2b1aR75), in case we decide not to go with CSS arrow animations for now, I'll pull that change out to address this issue specifically :slightly_smiling_face:

[2020-05-11 11:53] robertahunt commented on #2495
It looks like these forms might be able to be used to extract the capacity data:
https://www.eia.gov/electricity/data/eia860/

At first glance, it looks like the Plant data can be used to map each plant to a balancing authority, and the Generation data can be used to get the capacity and fuel type for each plant.

[2020-05-11 11:55] robertahunt commented on #2495
https://www.eia.gov/electricity/data/eia860M/ Looks like it has even more recent data we could use

[2020-05-11 11:57] GitMatze commented on #2497
@fbarl Ok!

[2020-05-11 12:43] corradio commented on #2493
This seems to come from the fact that our backend doesn't return `co2intensityProduction`. I'll move this issue to our internal issue tracker.

Olivier

[2020-05-11 12:46] corradio commented on #2392
@madsnedergaard I believe we can close this as there's nothing we can do?
It might be worth reporting this to ENTSOE though?

[2020-05-11 13:02] GitMatze opened #2499 "Allow contribution via email"
Currently, clicking on a blank region prompts users to participate via GitHub. This is probably too big a hurdle for non-programmers (i.e. 98% of the people). Simply providing an email address or a contact form would make it a lot easier for users to leave valuable hints and sources.

Sorry if this has been discussed before.

[2020-05-11 13:39] fbarl commented on #2499
I like your idea @GitMatze!

The closest thing in the app right now to my knowledge is the feedback form (which also nudges users to reach out via email):

![image](https://user-images.githubusercontent.com/1216874/81567539-b8a19580-939c-11ea-9d55-ca8bf180e257.png)

Perhaps we can extend on this and provide something similar also when clicking on a blank region?

![image](https://user-images.githu

[2020-05-11 13:40] corradio commented on #2304
Wow that's crazy. Is that also the case with CSS?

[2020-05-11 13:51] fbarl commented on #2491
Thanks for summing this up @alixunderplatz, the graphs specifically I find very useful!

I have an alternative idea here - how about we use a monocolor scale which starts transparent at 0 m/s, climbs up to a full color (let's say cyan) at 15 m/s, stays there till 25 m/s and then has a sharp decline back to transparent where it stays till 30 m/s. In other words, what I'm suggesting is to use a cyan

[2020-05-11 14:56] corradio commented on #2491
Not against it - screenshots would help us decide!
In case of doubt, I would probably tend to revert to original behavior.

[2020-05-11 17:39] GitMatze commented on #2499
To avoid getting the same hints from different people over and over again we could show a little info message for each region briefly summarizing the current status on available and missing data plus the link to the relevant Github issues for those who want to know more. This will get people started right away and I feel like people might  also be intrigued to see if they can find out more.

[2020-05-11 18:07] madsnedergaard commented on #2392
Yes, closing it :)

[2020-05-11 18:07] #2392 closed

[2020-05-11 18:27] fbarl commented on #2497
Let's still keep this issue open, we might want to postpone merging of #2481 and address this separately.

[2020-05-11 19:05] Kevindeving commented on #2478
seems like we are having problems again for the moment....

[2020-05-11 19:13] fbarl commented on #2230
This issue was addressed by #2498.

[2020-05-11 19:13] #2230 closed

[2020-05-11 19:18] fbarl commented on #2022
@aodysseos Did you give it a try? :slightly_smiling_face:

Even a small partial translation file to kick it off would be nice and other contributors might pick it up after you!

[2020-05-11 19:22] q-- commented on #2494
There are more zones with a lack of production by type, so "total production" is going into "unknown". I think of Japan, where all these zones remain grey on the map, although there is some data (now there is even solar for all JP-zones, so this will probably change soon resolving #2448).

The gray Japanese zones also say "Data temporarily unavailable" when I mouse-over them, should I file an issu

[2020-05-12 08:53] robertahunt commented on #2484
Good points @RRyyas. Since I am not so familiar with this topic, if you have time to dig deeper, could you make some specific suggestions as to the zones this affects (is it just northern brazil, or all of  is it most of south america?) and what exactly you think the values should be? Then someone in the community (or you) can make a pull request updating the zone overrides for our co2 parameters

[2020-05-12 09:11] robertahunt commented on #2483
@alixunderplatz Could this be because the current Ibiza parser returns no data instead of reporting the production as 0?

https://github.com/tmrowco/electricitymap-contrib/blob/db85902207871b01409054cd3eb2b7737b59316f/parsers/ES_IB.py#L99-L101

I am not 100% sure, but I suspect that if we let the parser return 0 production instead of giving an error, the carbon intensity will be calculated, and th

[2020-05-12 09:22] robertahunt commented on #2471
I see what you mean. @martincollignon @fbarl Do either of you know who maintains the survey?
![image](https://user-images.githubusercontent.com/13189214/81666849-daedee80-9442-11ea-9e75-cc65970f5df5.png)

[2020-05-12 09:26] robertahunt commented on #2460
@alixunderplatz Do you still think this is an issue? Although I agree it is weird that it appears to ramp up and down, that fluctuation also seems to be reported on the national data. What do you think?

[2020-05-12 09:38] robertahunt commented on #2445
Unfortunately because the capacity is not always up to date, I don't want to introduce any hard rules around capping the production at the capacity - at the moment we use the capacity values for information only (to display to users), we don't use this to affect production because we know it is not 100% reliable. On the other hand, I am also reluctant to hard code production values into the parser

[2020-05-12 09:44] robertahunt commented on #2431
@Kevindeving good catch. We have been in contact with ENTSOE regarding this, without much luck so far. I think the problem lies with their data provider and these things take some time to sort out. I am closing this in favor of keeping all our related Netherlands woes in #78 . Part of the problem is we do not understand why they have such a high 'fossil gas consumption' and I am not sure if we sho

[2020-05-12 09:44] #2431 closed

[2020-05-12 09:46] peterhughgriffin commented on #2445
That sounds much more sensible.
I’ve not looked into the front end at all yet, but would be interested in looking into this

[2020-05-12 09:52] robertahunt commented on #2499
@GitMatze I really like the idea of giving people a summary of the current status of the region. I am more skeptical of e-mail feedback as we already receive a lot of e-mails on a daily basis and sorting through them is already quite a chore, so redirecting everyone to github where the eMap community can help direct and shape ideas and feedback is much preferred from my perspective. However, I thi

[2020-05-12 10:02] robertahunt commented on #2445
Awesome @peterhughgriffin , Let's see how hard @fbarl thinks it would be. He is by far the closest to the front end code and probably the best person to direct you with where to start. But feel free to do some digging yourself as well. It looks like the question mark is set in https://github.com/tmrowco/electricitymap-contrib/blob/90bb3e9b125a42e056df32f7afb9253b11ce9757/web/src/components/tooltip

[2020-05-12 15:58] fbarl commented on #2445
Hey thanks everyone for point this out!

I agree - I opened #2501 where I address this issue by assuming the production is 0 if it's not explicitly given and the capacity is 0.

I did so but in a long run I think I'd prefer having this kind of logic on the backend as I see it as data sanitization :slightly_smiling_face:

[2020-05-12 19:51] VIKTORVAV99 commented on #2484
I just read the abstract of the PDF and it mentions the lower co2eq (15 g co2eq) in cold climates, the question is if this should apply to Canada, Sweden, Norway, Finland and Iceland?

I sadly don't have access to the full pdf so I would greatly appreciate if someone else could look into this.

[2020-05-12 20:21] alixunderplatz commented on #2483
@robertahunt thanks for looking into this issue!
I tried ">=" instead of ">" and got the desired zeros returned for production. :) let's try this!
I'll submit that micro-PR for the ES-IB.py

I guess for Montenegro, the exception is required though?

[2020-05-13 06:38] DonatelloXX commented on #2478
@martincollignon We miss most of europe again. Reopen this issue or create another?

[2020-05-13 07:26] smiley0455 opened #2503 "EU power consumption / CO2 intensity is missing for EU"
Hi,

Many thanks for the ElectricityMap project. I noticed that live data for electricity consumption and carbon intensity is missing for most of the EU. Can you please look into this?

Thank you.

[2020-05-13 07:27] Kevindeving commented on #2503
This is again unfortunately a problem of entsoe transparency plattform data provider as you can see on their newspage: https://m-transparency.entsoe.eu/news/widget?id=5eba90db5092e76384320590

[2020-05-13 07:32] smiley0455 commented on #2503
Many thanks for the prompt reply!

On Wed, 13 May 2020 at 09:27, Kevin <notifications@github.com> wrote:

[2020-05-13 08:13] robertahunt commented on #2483
Maybe - Montenegro seems like a more complicated region though. I haven't had time to dig into the issues that might arise there. If someone else does we can tackle that. I suspect the same trick might work?

[2020-05-13 08:17] robertahunt commented on #2445
Thanks! @fbarl I am not sure where we would put this logic in the back end though, but I agree doing calculations in the front end is not ideal.

[2020-05-13 09:26] alixunderplatz commented on #2483
Montenegro seems to have 400kV+220kV interconnectors to Albania, which may disrupt the carbon intensity, as most of Albanian energy comes from hydro. https://www.entsoe.eu/data/map/
But that power flow data hasn't been reported to entsoe for a while already.
In general, it is totally okay for montenegro to no have any production because of the new interconnector with Italy

[2020-05-13 09:26] RRyyas commented on #2484
Well i don't know exactly how to implement this, because it would require looking at the environmental impacts of each hydropower plant out there. Unless there is average estimates of the CO2 emissions for hydropower plants in each climate zone, it's going to be quite difficult. It can vary from up to 8500gCO2e/kWh for the Balbina Dam down to just 5.5gCO2e/kWh for a typical "run-of-the-river" hydr

[2020-05-13 10:15] VIKTORVAV99 commented on #2484
From the abstract and the original issue comment it looks to be broken down into a few regions but I don't know how detailed that breakdown is.

If it is sub artic and artic is one region then (all of?) Swedens hydro power should have a 15g co2eq/kWh since almost all is dams and are located in the sub artic.

The biggest issue I can see right now is when a lot of hydro plants is located just outsi

[2020-05-13 10:44] alixunderplatz commented on #2484
@RRyyas @VIKTORVAV99 the described carbon intensity issues are relavant for "hydro dam+reservoir" type powerplants, since they occupy a large are with their reservoirs. Of course these are the most powerful ones with the highest outputs, but you could also have a bunch of run-of-river type plants elsewhere, that don't occupy a big surface because they are integrated into the existing rivers. Both

[2020-05-13 10:59] VIKTORVAV99 commented on #2484
@alixunderplatz I have been trying to look into alternative sources for co2eq for hydro power. I found this news article: https://www.hydropower.org/news/study-shows-hydropower%E2%80%99s-carbon-footprint
Witch seem to place the median co2eq at 18.5g co2eq/kWh but I haven't locked into the report it's based on yet.
Obviously this need to be verified but perhaps it could potentially be a new default

[2020-05-13 11:56] fbarl commented on #2471
I don't, I actually just clicked through the survey the other day and was surprised how nice and detailed it was!

[2020-05-13 14:44] #2445 closed

[2020-05-13 17:20] RRyyas commented on #2484
@alixunderplatz The emissions from the tropical dams are caused by the flooding of the rainforest, that has alot of trees and the ground is rich on decomposed carbon. When it's flooded, the bacteria starts to decompose it faster, turning it into methane gas, that is a much potent greenhouse gas compared to carbon dioxide.  Also, note that "median emissions" isn't the same as average emissions. Acc

[2020-05-13 19:15] fbarl commented on #2312
De-assigning myself for now as this doesn't seem like a top priority.

[2020-05-13 21:56] Alain-Ivadolabs-Ext opened #2507 "Current Québec ( Canada ) export intensity impossible"
Hi,
While we don't have yet the live data from province of Québec in Canada, the value of its carbone intensity is **301 gCO₂eq/kWh** shown currently on electricitymap.org is simply not possible, the vast majority of the generation of electricity there is hydro and some wind.
We should see more a number like **20** or **25 gCO₂eq/kWh**. Maybe 30.
But 301, it's simply impossible with all the instal

[2020-05-13 23:07] jarek commented on #2507
Hi, thanks for the note! It is indeed the case, we are tracking this problem in issue #2358.

Before it went missing, we were estimating the intensity as 30 gCO₂eq/kWh based on Statcan data from CANSIM Table 127-0002 for 2011-2015... it might be lower now. I see that Statcan has data up to 2020 now so it might be possible to update it, I'll take a look at some point.

[2020-05-14 04:23] DineshCyanam commented on #304
The base map for India is incorrect. Andhra Pradesh was split into two states in 2014. One being Andhra Pradesh (IN-AP) and the other is Telangana (IN-TG). The data we have here for IN-AP is for the new state of Andhra Pradesh.

IN-AP: http://vidyutpravah.in/state-data/andhra-pradesh
IN-TG: http://meritindia.in/state-data/telangana

[2020-05-14 08:10] #2296 closed

[2020-05-14 08:57] VIKTORVAV99 commented on #738
I found a EPD from 2019-12-31 that seems to indicate that the nuclear value (for Sweden at least) is a bit high.
Now the EPD don't include all the nuclear power plants but it does include a majority of them so it might be worth looking into this.
EPD link: [EPD Electricity from Vattenfall Nordic Nuclear Power Plants](https://gryphon4.environdec.com/system/data/files/6/17371/S-P-00923%20EPD%20Elect

[2020-05-14 17:19] fbarl commented on #1126
I just opened #2508, it should all be fixed there!

[2020-05-15 01:35] jarek commented on #304
See also #1097 and #234 regarding Telangana. Thanks for the confirmation that the data is only for the new borders of IN-AP!

[2020-05-15 14:48] #1126 closed

[2020-05-16 11:15] GitMatze commented on #2499
I totally get you @robertahunt.
Seems like there is a GitHub API. So maybe a pretty neat alternative to email would be to provide a contact form that automatically posts a  message in a collective issue on GitHub? For further inquiries they could also leave their email address privately to the tomorrow team.

[2020-05-17 10:39] VIKTORVAV99 opened #2509 "Carbon intensity for Åland (AX) is sometimes missing"
Åland is not reporting any carbon intensity when there is no electricity production on the island and it's only importing from Sweden and Finland.
![image](https://user-images.githubusercontent.com/30777521/82142297-93e56c00-983b-11ea-9c81-101252e2374c.png)
Related issue: #2483

[2020-05-18 07:48] robertahunt commented on #2499
That sounds like a good idea. If there is a way to auto-generate a github issue that would be really nice.

[2020-05-18 13:56] GitMatze commented on #2499
There is a way, indeed. The GitHub API is, in fact, super extensive.
I created a little demo and it works like a charm. https://github.com/GitMatze/githubAPI

[2020-05-18 14:08] robertahunt commented on #2503
Closing this as it is back now.

[2020-05-18 14:08] #2503 closed

[2020-05-18 14:11] robertahunt commented on #2499
Nice!! Unfortunately we have some other higher priority things to do before this. If you have time to try implementing this, that would be great. Otherwise, we, or perhaps someone else in the community, will pick this up later.

[2020-05-19 11:33] GitMatze commented on #2499
I'll try to implement this the next couple of days.

[2020-05-22 18:18] Spyder2000 opened #2513 "Austria does not have any coal power plant anymore since mid of April"

[2020-05-22 18:22] Spyder2000 opened #2514 "Coal CO2 eq for Estonia"
Just to question, why all coal CO2 eq is set to 820, while for Estonia it is set to 1515 gCO2eq/kWh

[2020-05-22 18:25] nessie2013 commented on #2513
the plant has been mothballed, but could still be used for backup generation in an emergency, thus is still counted as capacity. relates to this closed issue #2390

[2020-05-22 18:30] nessie2013 commented on #2514
"part of production comes from shale oil. it is a coal-like rock containing mineral oil. it used to be labeled as "oil" in the beginning on EM, but was moved it to the coal category later." relates to one of my old closed issues here #2248

additional context for CO2 eq can be found at #2118

[2020-05-23 15:53] jarek commented on #2513
Yep, see above!

[2020-05-23 15:53] #2513 closed

[2020-05-23 21:37] RRyyas opened #2522 "Electricity sources in the power graph could be rearranged"
So i experience when using this website that the graphs are a bit misleading in that they don't reflect a "duck curve", typically in California and Germany, because it places solar power in the middle of the graph. Baseload energy sources, such as nuclear, geothermal, coal and biomass should be placed at the bottom of the graph, just like what it is right now, and the dispatchable energy sources,

[2020-05-23 23:00] jarek commented on #2522
For some history, previous discussions or changes of the order were:
* https://github.com/tmrowco/electricitymap-contrib/commit/de4064461615cfee7010c810b462ebdaa71469d8
* https://github.com/tmrowco/electricitymap-contrib/pull/1538
* https://github.com/tmrowco/electricitymap-contrib/pull/1800
* https://github.com/tmrowco/electricitymap-contrib/issues/1745 idea to add a switch to support different o

[2020-05-24 07:50] andy-dinger opened #2523 "Graph goes wrong with -ve prices"
![96C7698C-0415-4B8A-8454-D840C7564003](https://user-images.githubusercontent.com/61416039/82748622-88de8e80-9d9b-11ea-8ea8-cf87f87e7f68.jpeg)
The electricity prices graph gets pretty messy when the values go negative. And the price box doesn’t show the value

[2020-05-24 07:55] Kevindeving commented on #2523
I don't have this problem anymore. Has been fixed in the past weeks for me.
![Screenshot_20200524_095437_com android chrome](https://user-images.githubusercontent.com/4691618/82748749-aa904380-9da4-11ea-8b18-16fd1ec36efa.jpg)

[2020-05-24 08:05] andy-dinger commented on #2523
Oh yes, should have said I’m using the iOS version 1.2.2
Which version are you using?

[2020-05-24 08:28] Kevindeving commented on #2523
Mobile Web version. I think this should be fixed in the next application update for iOS version.

[2020-05-24 09:06] RRyyas commented on #2522
Those discussions are for the baseload sources, which is already done. None of them discusses the dispatchable and intermittent sources, which are completely out of order.

[2020-05-24 12:40] moinmoin2 opened #2524 "Austria coal capacity"
#The Region Austria has shutdown his last coal fired power plant a few weeks ago for ever. So you can remove coal from the chart

[2020-05-24 13:21] nessie2013 commented on #2524
the plant has been mothballed, but could still be used for backup generation in an emergency, thus is still counted as capacity. relates to this PR #2390 and Issue #2513

[2020-05-24 15:20] jarek commented on #2524
@alixunderplatz Could you double-check if Austria's Mellach coal plant is going to be kept as backup with coal as fuel?

I looked briefly and found references, but only to gas (e.g. "Der Verbund wird die Kraftwerksanlage in Mellach für die Anforderungen der sogenannten Engpassvermeidung auf der Brennstoffbasis Erdgas betriebsbereit halten" https://hlk.co.at/a/keine-kohle-mehr-in-oesterreich or "..

[2020-05-24 16:03] fbarl commented on #2523
Yup, I expect so as well - we've been waiting to make sure the app is stable enough on the web after all the React transitions we did before bumping the mobile app versions. The resulting performance degradation https://github.com/tmrowco/electricitymap-contrib/issues/2304 is probably one of the things that'd be nice to address before cutting a new mobile release.

[2020-05-27 00:53] #2514 closed

[2020-05-27 15:48] fbarl commented on #2007
@systemcatch The change has reached the prod - https://www.electricitymap.org/

Do you think we can close the issue now?

[2020-05-28 11:01] fbarl commented on #2007
I'm closing it but @systemcatch please re-open if you think we should take further action :slightly_smiling_face:

[2020-05-28 11:01] #2007 closed

[2020-05-28 11:29] PatrickMerlevede opened #2528 "data being used by people claiming we need gas and nuclear"
On FB I saw a screenshot from the data for Belgium (27 May 2020) taken at 23h30 - according to the person posting, it gives the impression that the full capacity of Solar was "not used" yesterday (while it's clear that on a day like this, solar is at 100% capacity) - for my own solar panels, it was the second best day of the month ... I know that the argument of "Tomorrow" is that this is caused b

[2020-05-28 11:33] DragosPetria commented on #2528
I am not associated with Tomorrow.

ElectricityMap gives real-time data. As such, of course, no sun was shining at 23:30.

That's leaving the political stuff aside, but if you're looking for proof that renewables alone work, real-world data from electricityMap won't support that, sorry.

[2020-05-28 11:43] systemcatch commented on #2007
@fbarl fine by me! 🔨

[2020-05-29 08:37] #2196 closed

[2020-05-30 12:51] q-- opened #2530 "Data for Puerto Rico (done: production parser; ToDo: installed capacity, forecast parser)"
- [x] Add production parser - #2531 (need help with a few things)
- [ ] Add capacity data
- [ ] Add forecast parser<sup>Note: would marking 'unknown' renewable also affect the forecast? Because it shouldn't</sup>

---

* [Real-time generation data (+ forecast), updated every 30 minutes](https://aeepr.com/en-us/Pages/Generaci%C3%B3n.aspx)
  * Contains:
     * Breakdown by fuel type: bunker C ([a ty

[2020-05-30 14:31] q-- commented on #2530
Seems like the forecast/demand graph is updated later than the breakdown by generation type;

Right now _TIPOS DE COMBUSTIBLES_ is at 501+496+85+347+191+473 = 2093MW, and the bottom of the page says __Ultima Actualización: 05/30/2020 10:10:24 AM__

However, the forecast/demand graph is still at 9:40, for which it gives a demand of _2052.31_. The "Generacion Total" at the top of the page also gives

[2020-05-30 16:01] q-- commented on #2530
I've stared work on a parser.

[2020-05-30 20:34] Bohne13 opened #2532 "Transmission arrows wrong arranged at first startup"
On **Chrome for Linux** an **Chrome for Android** the Arrows are not arranged correctly at first load.
Chrome 83 latest stable release.
If i reload the page, everything is fine!

![2020-05-30_Screenshot ](https://user-images.githubusercontent.com/20006695/83338518-8a411700-a2c5-11ea-9886-dd7b8048e3e4.png)

[2020-05-30 20:40] q-- commented on #2532
I've seem this in Firefox for Windows sometimes as well, not sure what causes it. Zooming in or out resolves it

[2020-05-31 04:18] chuqtas opened #2533 "Separate Flinders Island from Tasmania"
(first submission, please be nice if I've done it wrong!)

This request is similar to the King Island request:  https://github.com/tmrowco/electricitymap-contrib/issues/636 "split Australia (Tasmania) to show King island off grid system"

Basically it relates to another island with many similarities = it is in the same area of the world, also with it's own off-grid power system, also built and ope

[2020-05-31 09:33] robertahunt commented on #2483
@alixunderplatz just to update you, Seems like I was wrong on this one - we have merged the changes that you made, but still looks like Formentera is not using the correct carbon intensity for imports from Ibiza/Mallorca. Guess we will need to find another fix.

[2020-05-31 19:23] q-- commented on #2533
I'm seeing requests to `data.ajenti.com.au/live/signalr/` on that page in my browser console, which is also present in https://github.com/tmrowco/electricitymap-contrib/pull/2456/files#diff-c3b7bb94e70c63d689a577143fcab2a9R12

So the user interface might look different, but under the hood they're probably very similar. Might even make sense to try to combine the parser for this and King Island

[2020-05-31 19:38] q-- opened #2534 "Data for Rottnest Island (Western Australia)"
After another energy dashboard was found in  #2533, I decided to have a [look](https://www.hydro.com.au/clean-energy/hybrid-energy-solutions/success-stories/) at Hydro Tasmania's website to see what else I could find.

Turns out there's also a [dashboard](https://www.hydro.com.au/clean-energy/hybrid-energy-solutions/success-stories/rottnest-island) for Rottnest island, [off the coast of Western Au

[2020-06-01 15:16] fbarl commented on #2532
Thanks for reporting this @Bohne13!

This issue was most likely introduced by my map transition to React (#2395 / #2434) - I've also noticed it a few times but only when opening the debug console while the map would be loading (I guess it has to do with the viewport resizing then), so I didn't think of it as a high priority :thinking:

I'll assign myself to it though as I touched that code last so

[2020-06-02 12:21] robertahunt opened #2536 "Arrow for imports from US-MIDW-MISO to CA-ON facing the wrong direction on the app"
Thanks to Russ for flagging this in an e-mail. It seems like the arrow on the website is facing the correct direction (as far as I can tell), but it faces the wrong direction on the app.

Screenshot from app:
![Screenshot_20200602-142205](https://user-images.githubusercontent.com/13189214/83519638-a4087700-a4dc-11ea-84ea-2e26c5ae8bde.png)

screenshot from website:
![image](https://user-images.gith

[2020-06-03 15:24] typicalTYLER opened #2538 "Live Data for ERCOT no longer showing up after switching to EIA parser"
I'm unsure if the eia.gov source is only historical data, but it seems like the live data for ERCOT is no longer available. Previously we had the US_TX.py parser (which still exists) that was getting a decent estimate for the live data (although less accurate due to part of the energy mix being estimated), but now the displayed data seems to be historical only, and every day it looks like maybe it

[2020-06-05 08:58] corradio opened #2539 "Chile inconsistency between live and historical data acquisition"
Our systems use historical data to train forecasts. When run in production, those forecasts require live data. Therefore, the two datafeeds need to be consistent.
I think the Chile parser uses two different datafeeds that aren't consistent, and thus our forecasts might be inconsistent.
If in doubt, we should only implement the real-time feed to avoid our database having both data mixed.

[2020-06-06 00:27] jarek commented on #2539
Can you post an example to let us know how inconsistent the data is? Maybe there's a bug in one of the parsers?

[2020-06-06 12:05] q-- opened #2541 "Data for region Labrador (Canada)"
[Current generation](https://nlhydro.com/system-information/supply-and-demand/)

so for Newfoundland only

[It seems there is an interconnector](https://www.thetelegram.com/news/local/no-one-but-locals-looking-to-wheel-power-through-newfoundland-and-labrador-333035/), yet, curiously the page linked at the beginning says "Current system generation = current demand on the system". This may or may no

[2020-06-06 15:35] jarek commented on #2541
Still no fuel data, eh?

The Maritime Link to Nova Scotia is fairly new. Kind of sad if they didn't manage to export much on it.

[2020-06-08 07:00] corradio commented on #2539
I don't know for sure that the data is different, but from looking at the code, it uses two different URLs so potentially the data is different. I created the issue to get some certainty around this.

[2020-06-08 09:25] corradio commented on #2528
Hi @PatrickMerlevede and @DragosPetria ,
Unfortunately there's not much we can do here. Our goal is simply to provide transparency.

[2020-06-08 09:25] #2528 closed

[2020-06-08 13:57] corradio commented on #2522
The reason why oil, gas and hydro are on top of wind & solar is that oil, gas and hydro are/can be used for balancing the grid, and as such, they can "fill" the void left by renewable in order to match total consumption.
This is the rationale for having dispatchable sources on top of intermittent.

[2020-06-08 13:58] corradio commented on #2507
Closing in favor of https://github.com/tmrowco/electricitymap-contrib/issues/2358

[2020-06-08 14:01] corradio commented on #2507
Re-opening as I believe the simplest to do is to add a fallback value for the mix https://github.com/tmrowco/electricitymap-contrib/blob/master/config/co2eq_parameters.json#L796

[2020-06-08 14:19] corradio commented on #2499
@GitMatze any luck?

[2020-06-08 14:21] corradio commented on #2471
Should we just remove the survey? We don't use it anymore.

[2020-06-08 14:26] corradio commented on #2358
@jarek are you able to help us find mix data and add it to the file? That would be greatly appreciated. We will probably remove the carbon intensity fallback in the near future in order to rely only on a mix fallback. This ensures that we can properly compute the % renewable and % low carbon, as well as the carbon intensity (which can be inferred from the mix).

[2020-06-08 14:28] fbarl commented on #2471
I think it should be removed if it's not being used anymore, but I wonder what are the main feedback channels right now if this survey is not used? :slightly_smiling_face:

[2020-06-09 07:07] corradio commented on #2471
Well our email and the slack channel are good feedback channels (and we regularly get feedback there!)

[2020-06-09 07:08] corradio opened #2543 "Remove "we're hiring" link on electricityMap"

[2020-06-09 07:16] corradio commented on #2497
@fbarl is that still applicable?

[2020-06-09 07:52] fbarl commented on #2471
Ok I agree, there is still "Found bugs or have ideas? Report them here." + social media buttons as the CTAs from the app :+1:

[2020-06-09 09:15] #2532 closed

[2020-06-09 11:41] fbarl commented on #2543
@corradio Is this because Tomorrow is not actively hiring anymore or because the link in the app just gives too much exposure? :slightly_smiling_face:

I'm asking because I wonder if we should also remove the _Tomorrow is hiring!_ section from the README.

[2020-06-09 12:40] corradio commented on #2543
It's because we don't want to risk having people land on our jobs page which is currently empty :)

[2020-06-09 13:47] corradio commented on #2461
The logs at https://kibana.electricitymap.org/app/kibana#/discover/10af54f0-0c4a-11e9-85c1-1d63df8c862c?_g=(refreshInterval:('$$hashKey':'object:232',display:'5%20minutes',pause:!f,section:2,value:300000),time:(from:now-24h,mode:quick,to:now))&_a=(columns:!(message,extra.key,level),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!t,index:'96f67170-0c49-11e9-85c1-1d63df8c862c',key:leve

[2020-06-09 13:51] corradio commented on #2397
@q-- unfortunately I will have to close this issue as there's nothing we can do without real-time data.
However, we're extremely grateful for the research you did. Even if the issue is closed, I'm confident we will use this knowledge in the future as soon as some more data comes up, or if we need to add fallback intensities to the system.

[2020-06-09 13:51] #2397 closed

[2020-06-09 13:52] corradio commented on #2410
Is there more to do here? Or have we already added all the capacities mentioned in the report?

[2020-06-09 13:56] corradio commented on #2356
Closing due to inactivity

[2020-06-09 13:56] #2356 closed

[2020-06-09 13:58] corradio commented on #2336
@fbarl I don't remember - is this still applicable?

[2020-06-09 14:00] corradio commented on #2273
Any news here?

[2020-06-09 14:04] corradio commented on #2261
@fbarl should we close this one? I feel there's a lack of actionability with this issue.

[2020-06-09 14:11] corradio commented on #2204
I'll close this issue for now as it seems like we're using the same datasource. Feel free to re-open if I missed something!

[2020-06-09 14:11] #2204 closed

[2020-06-09 14:16] corradio commented on #2022
Closing due to inactivity - feel free to re-open if you're working on it!

[2020-06-09 14:16] #2022 closed

[2020-06-09 14:17] corradio commented on #2008
Closing due to inactivity

[2020-06-09 14:17] #2008 closed

[2020-06-09 14:19] corradio commented on #1981
I think it could make sense also for zones *with* data, so we can make sure people contact directly the data provider instead of us (we get a lot of requests!)

[2020-06-09 14:19] corradio commented on #1976
Closing as we won't be able to support it. Asks us on Slack if you're interested in building this!

[2020-06-09 14:19] #1976 closed

[2020-06-09 14:21] corradio commented on #1973
Unfortunately I'll have to close this as we don't have access to real-time data.

[2020-06-09 14:21] #1973 closed

[2020-06-09 14:23] corradio commented on #1857
Closing due to inactivity

[2020-06-09 14:23] #1857 closed

[2020-06-09 14:23] fbarl commented on #2336
Yup, I never got around it, but I'd be happy to take it one if these days when I get an hour or two on the side (although #2481 is still on top of my list there).

[2020-06-09 14:24] corradio commented on #1463
Is this still happening in the *web* version of electricityMap (not the app)?

[2020-06-09 14:28] corradio commented on #2509
In this case the carbon intensity is missing although production is present

![image](https://user-images.githubusercontent.com/1655848/84160274-4640d580-aa6e-11ea-844d-2c5bab679ec2.png)

[2020-06-09 15:32] fbarl commented on #2261
I think we could rename the issue to _Remove all SCSS files in favor of component styles_ which would make it more actionable - do you think that would be a worthwhile effort? It would make the whole codebase a bit more modular IMO.

[2020-06-09 15:35] corradio commented on #2261
Let's do that! It's also a great call to action for contributors.

[2020-06-09 15:36] fbarl commented on #2497
It seems that my reply didn't get through :thinking: Yes, this is still something to be addressed - I did it in #2481 but that PR might not end up getting merged so I think I should do it separately to be able to close this earlier.

[2020-06-09 15:38] corradio commented on #2497
I think it'd be great if you could extract that indeed!

[2020-06-09 17:28] #2483 closed

[2020-06-10 00:32] jarek commented on #2273
Well, the numbers change at least, so we could try adding them. This is the screenshot right now:

![ge](https://user-images.githubusercontent.com/47415/84213974-10144d80-aa90-11ea-9c1f-7ac39afc5379.png)

Might be as easy as switching from RU.py to GE.py for this exchange? I've not checked what GE.py implements right now.

[2020-06-10 10:27] RRyyas commented on #2522
This can help you understand the situation about highlighting the issue i was talking about:
https://seekingalpha.com/article/4262588-californias-mid-day-solar-power-glut-become-obvious

[2020-06-10 19:54] q-- opened #2545 "Denmark-Sweden Interconnection Capacity"
Saw no capacity was known for DK2-SE. DK1-SE on ElectricityMap is lower than listed in this document as well by a small amount.

| SE3>DK1 | SE3<DK1 | SE4>DK2 | SE4<DK2 |
|---------|---------|---------|--------|
| 680     | 740     | 1,300   | 1,700  |

Source: [2019 Nordic Grid Development Plan](https://www.statnett.no/contentassets/61e33bec85804310a0feef41387da2c0/nordic-grid-development-plan-20

[2020-06-11 08:37] q-- commented on #2410
Made a list. Don't have time to check them all at the moment, but I've seen that at least Estonia and Latvia appear to miss capacities

- [ ] Russia-Estonia
- [ ] Russia-Latvia
- [x] Russia-Lithuania (is #2429 correct though... or does Lithuania also interconnect with Rusia on the eastern border?)
- [x] Belarus-Lithuania
- [ ] Ukraine-Poland but see https://github.com/tmrowco/electricitymap-contri

[2020-06-11 13:43] ajanssens commented on #1974
I can provide translation if needed. :)

[2020-06-11 23:46] jarek commented on #1463
Seems fine now! Unable to reproduce on Firefox 68.9.0. Will close the issue, thank you!

[2020-06-11 23:46] #1463 closed

[2020-06-12 21:05] brandongalbraith commented on #2543
@corradio Any thoughts to having a form of some sort to take input from the user who lands on the empty job page, for people who would be interested in future positions?

[2020-06-14 09:00] #2497 closed

[2020-06-15 05:55] #2543 closed

[2020-06-15 06:39] corradio commented on #2523
Should be done now with the iOS/Android release

[2020-06-15 06:39] #2523 closed

[2020-06-15 06:39] corradio commented on #2536
Should be done now with the iOS/Android release

[2020-06-15 06:39] #2536 closed

[2020-06-15 06:46] fbarl commented on #2543
@brandongalbraith Thanks for your feedback!

I don't know what @corradio thinks about it, but I personally feel the _Get in touch_ section under _Current Job Opportunities_ provides that window for job opportunities outreach:

![image](https://user-images.githubusercontent.com/1216874/84625514-b377bf00-aee3-11ea-8364-d011ed9340bb.png)

Maybe this is a matter of personal taste, but I generally pref

[2020-06-15 08:54] corradio commented on #2216
We just released a new version of the app, which should fix this. I suggest uninstalling and reinstalling the last version.

[2020-06-15 08:54] #2216 closed

[2020-06-15 09:02] corradio commented on #2203
As discussed in https://github.com/tmrowco/electricitymap-contrib/pull/2370#issuecomment-640562408 we will need a PR with both real-time *and* historical data in order to be able to replace ENTSOE.
Work was already done here by @liacds https://github.com/tmrowco/electricitymap-contrib/pull/2370 so it would be great to re-use it.

[2020-06-16 07:26] corradio commented on #2509
Also happens with South Island of NZ:

![image](https://user-images.githubusercontent.com/1655848/84744416-8397ec80-afb3-11ea-9876-bb6e449162ff.png)

[2020-06-16 13:09] jarek commented on #2509
Possibly because the other 1% is imported from Finland, it's just too small to show on the chart.

Screenshots taken right now, time is localized to UTC-4:

![sweden](https://user-images.githubusercontent.com/47415/84778439-fce21000-afb0-11ea-8353-76f3a76ba421.png)

![finland](https://user-images.githubusercontent.com/47415/84778434-fc497980-afb0-11ea-99ca-00b9018640ef.png)

[2020-06-16 14:48] madsnedergaard opened #2553 "Mismatch between zones.json and translated zone names"
The following zone keys are defined in https://github.com/tmrowco/electricitymap-contrib/blob/master/config/zones.json, but not in the `zoneShortName` translation files in https://github.com/tmrowco/electricitymap-contrib/tree/master/web/locales

This means that the [/zones API endpoint](http://api.electricitymap.org/v3/zones) is not returning the full list.

I'm actually unsure which list is corr

[2020-06-16 16:50] corradio commented on #2553
Indeed the config/zones.json is supposed to be the single source of truth.
However it might happen that we don't have all translations, so I wouldn't advice on generating anything based on the locale files.
cc @pierresegonne

[2020-06-18 08:49] pierresegonne commented on #2539
The following comparison for live vs historical data relies on live data spanning the timeframe `2020-06-10 04:00:00` to `2020-06-18 06:10:00` (a bit short but as the parsers were down, that's the best we can do right now) and on historical data spanning the timeframe `2020-05-27 00:00:00` to `2020-06-13 14:00:00` (roughly spanning the missing data in DB)

It is first important to note that the hi

[2020-06-18 08:59] corradio commented on #2539
Indeed I don't see any problems as the data pipeline makes sure everything is aligned on an hourly basis.
I think the solution to lump together hydro and geothermal into unknown seems acceptable.
However, the emission factor for unknown assumes fossil fuel (700g/kWh if I remember correctly). Do you know how big the hydro and geothermal part is compared to the other part of the unknown (probably th

[2020-06-18 11:57] pierresegonne commented on #2539
Ok if we base our re-evaluation of the emission factors on averages, I think we should base our computation on [capacidad_y_generación_2020_5 (1).xlsx](https://github.com/tmrowco/electricitymap-contrib/files/4798201/capacidad_y_generacion_2020_5.1.xlsx) (that I found [here](https://www.coordinador.cl/reportes-y-estadisticas/))
Which is a yearly (month by month) average of production by type

The

[2020-06-18 14:03] #2509 closed

[2020-06-18 18:19] #2539 closed

[2020-06-19 12:28] pierresegonne opened #2556 "Inconsistencies historical CL-SEN data"
The 🇨🇱 CL-SEN 🇨🇱 parser is functional again, see https://github.com/tmrowco/electricitymap-contrib/pull/2552 and https://github.com/tmrowco/electricitymap-contrib/pull/2555. Nevertheless, looking at the re-fetched data since 2015

![CL_2015_2020](https://user-images.githubusercontent.com/32778266/85131152-8e15e880-b236-11ea-888a-77fbd30d2e32.png)

raised some doubts about data quality (especially

[2020-06-19 22:34] q-- commented on #2397
Screenshots of the app ![GCCIA app screenshot](https://lh3.googleusercontent.com/5vue_deaCqBnKmCrmX9m6V6zVbjZTxR_IHDh6fqs79C-Tbg8lMkBZV3C6Pju2bKJ-Y8=w1908-h953) show it has some information on "interchange". (Haven't installed, though)

If it were possible to extract this data, would it be enough to have those countries show up on the map?

[2020-06-21 15:32] FelixVanOost opened #2557 "Update installed capacity data for Ontario"
The latest IESO [Reliability Outlook](http://www.ieso.ca/-/media/Files/IESO/Document-Library/planning-forecasts/reliability-outlook/ReliabilityOutlook2020Mar.pdf?la=en) from March 2020 has updated figures for Ontario's installed power generation capacity.

Although not a major change, the capacity of hydroelectric, gas / oil, and solar has increased since the map was last updated. I've summarised

[2020-06-22 07:28] martincollignon commented on #2557
Hi @FelixVanOost!

Great find - would you mind updating the capacities directly?

You can do it by updating the numbers here: https://github.com/tmrowco/electricitymap-contrib/blob/master/config/zones.json

[2020-06-22 13:18] FelixVanOost commented on #2557
Sounds good, I've opened PR #2558 with the changes.

[2020-06-22 15:38] martincollignon commented on #2557
Thanks Felix!

[2020-06-22 15:38] #2557 closed

[2020-06-23 10:42] systemcatch commented on #2538
@typicalTYLER

I think there has been a fairly significant change in how Tomorrow defines and parses US data but we'd need someone from the team to chime in here.

Data from [eiapy](https://github.com/systemcatch/eiapy) will always lag by at least 8 hours. From the [logs](https://kibana.electricitymap.org/app/kibana#/discover/10af54f0-0c4a-11e9-85c1-1d63df8c862c?_g=(refreshInterval:(display:Off,pa

[2020-06-25 17:28] martincollignon commented on #2538
We're currently not able to run two types of parsers at the same time, so we've decided to keep the most accurate source for now.

[2020-06-25 18:40] corradio opened #2560 "min/max of left panel should take into account history"
Impact: high (this happens as soon as one scroll through historical values)

Currently, the horizontal scale is based on the min/max production (or capacity) of a given datapoint.
A better way to do it would be to take the min/max over **the whole history of that zone**, which would avoid rescaling the horizontal bars when sliding through the past.
cc @fbarl

![image](https://user-images.githubuse

[2020-06-27 07:26] simonhac commented on #1985
fyi, the opennem backend is getting quite the overhaul right now. ping @nc9.

[2020-06-29 07:00] corradio opened #2562 "electricityMap frontend reports 404 errors on Sentry"

[2020-07-01 14:52] FelixDQ commented on #2562
Probably related to https://github.com/tmrowco/electricitymap-contrib/issues/2466

[2020-07-02 08:06] pierresegonne commented on #2545
Hey @q-- Thanks for the investigation, the source you found seems reliable.

[2020-07-02 08:21] pierresegonne commented on #2533
Hey @chuqtas! Thanks for the thorough investigation and breakdown of the tasks. This would be a good place to start contributing!

1.

This should be a first PR, few elements to help you

- _Remove Flinders Island and nearby island from the "Tasmania" region_ -> look into https://github.com/tmrowco/electricitymap-contrib/blob/master/web/README.md to understand how the geometries of the zones are g

[2020-07-02 08:28] FelixDQ commented on #2472
I'm closing this issue as the removal of old us zones is tracked in our internal repo https://github.com/tmrowco/tmrow/issues/3177

[2020-07-02 08:28] #2472 closed

[2020-07-02 08:47] pierresegonne commented on #2541
Hey @q-- Thanks for the investigation and the breakdown,

From what I see, getting the live data is only possible through the first link which shows the current generation = demand (let's ignore the interconnector at first). With the sources you have found, it would be possible as a first approximation to estimate the breakdown of capacity by production type and apply it on the live demand as `unk

[2020-07-02 09:06] FelixDQ commented on #2461
The server is indeed blocked.

Trying to connect from the server results in error 404 and an empty response:
[code]
Doing the same thing locally works fine.

Is there someone that we can reach out to?

[2020-07-02 09:24] pierresegonne commented on #2507
Used https://www150.statcan.gc.ca/t1/tbl1/en/cv.action?pid=2510001501#timeframe to obtain production data (as well as https://www.cer-rec.gc.ca/nrg/ntgrtd/mrkt/nrgsstmprfls/qc-eng.html to see that "combustible fuels" is actually ~90% biomass)

[2020-07-02 09:35] pierresegonne commented on #2499
Hey @GitMatze thanks for the contribution,

It would be a nice addition to eMap, there are a few safety considerations we need to discuss internally (e.g how we can restrict this access to only add a new issue and not be used to maliciously delete other issues as well), and a bit of thinking of how to handle and label new issues generated that way (which would potentially be less specific and hard

[2020-07-02 09:41] pierresegonne commented on #2491
Could be nice to group with #1157

[2020-07-02 10:11] #2507 closed

[2020-07-02 10:29] pierresegonne commented on #2467
Hey all, any advances on the subject?

The top figure from @alixunderplatz comment displays a quite intuitive breakdown, with a colour palette that would satisfy the need to distinguish better from low carbon intensity sources and high carbon intensity sources will also allowing to distinguish all production types pretty clearly.

If anyone wants to try to apply that theme to eMap and send a scree

[2020-07-02 10:34] FelixDQ commented on #2461
I have reached out to the data provider.
I update here when I get a response.

[2020-07-02 10:36] pierresegonne commented on #2339
Hey @AyrtonB any news on the parser? :)

[2020-07-02 10:44] pierresegonne commented on #2273
Hey @jarek the `GE.py` already accounts for exchanges with Russia, see

[code]

So I guess it is just a question of putting the exchanges with from georgia to russia forwards rather than russia to georgia in `exchanges.json`. It's a quick fix so I'll push it myself. Thanks for the investigation!

[2020-07-02 10:45] #2471 closed

[2020-07-02 10:51] pierresegonne commented on #2261
I think the task might seem a bit daunting to contributors,

Could we provide an example of refactoring to make it clearer, as well maybe as a starting list of concerned components?

[2020-07-02 10:57] pierresegonne commented on #2173
Hey @Juma7C9 Thanks for the work you put into this :)

Is there anything you need on our side to proceed, or did you just not find time to keep on going?

[2020-07-02 11:01] pierresegonne commented on #2179
I am not sure to understand what is suggested here. @fbarl did you give the idea a try?

If no action point is clearly stated I'll close the issue ;)

[2020-07-02 11:06] pierresegonne commented on #2251
In the absence of any discussion with RTE for open access, I'll close the issue

[2020-07-02 11:10] pierresegonne commented on #2253
This seems fixed by #2231 (and I tested it and couldn't replicate) so I'll close it

[2020-07-02 11:10] #2253 closed

[2020-07-02 11:33] FelixDQ commented on #2461
Our server has been whitelisted again 🎉
We might need to make changes to the parser to prevent this from happening again. I will create a new issue with details if that is necessary.

[2020-07-02 11:33] #2461 closed

[2020-07-02 11:38] corradio commented on #2251
@pierresegonne are you sure open access is actually restricted?
We're even cited as a reference on their portal (https://opendata.reseaux-energies.fr/pages/reutilisations/):

![image](https://user-images.githubusercontent.com/1655848/86354386-409f6f80-bc69-11ea-8a83-066b6470ec17.png)

I think this could be built and would be quite cool!

[2020-07-02 13:54] #2273 closed

[2020-07-02 14:16] pierresegonne commented on #2251
I have not verified no, but there was no update since may, I'll consequently reopen

[2020-07-02 15:39] tgy commented on #2251
This would be great. Increasing the granularity of the map! I met a soon-to-be CIFRE economics PhD student at RTE last week and when I asked her if she knew about electricitymap she answered "yes of course I know it" as if it was an obviousness 😃.

[2020-07-03 08:08] tth4vb opened #2568 "The import/export between Menorca and Mallorca appears reversed"
Our data is showing the export going one way, but our data source is showing the reverse according to one user. See screenshots:
![IMG_9768](https://user-images.githubusercontent.com/8129157/86447078-17d4b400-bd15-11ea-87da-15f44842d645.PNG)
![image](https://user-images.githubusercontent.com/8129157/86447080-186d4a80-bd15-11ea-8f22-9ab474bb070b.png)

[2020-07-03 10:46] tgy commented on #2545
This can now be closed I think

[2020-07-03 10:58] #2545 closed

[2020-07-03 16:25] q-- opened #2570 "Data for Nigeria"
Real-time consumption: https://www.sogrid.org/DisCoLoadProfile

Generation by hour: https://www.sogrid.org/GenerationProfile (includes historical)
Generation seems quite low compared to consumption for the current time, a brief look through the historical data suggests this might be due to some generation companies being slower with providing data

The dashboard also has some other stuff like grid

[2020-07-03 20:46] q-- commented on #2541
Looks good. It's unfortunate that the generation data from statcan is Newfoundland+Labrador instead of just Newfoundland, but since it's nearly all hydro and only a little thermal the impact won't be too much.

Also, I noticed you used data for Jan 2017-March 2020 in #2565, I was thinking it might be best to take just one year to account for any changes in installed capacity, what do you think?
In

[2020-07-03 21:23] q-- commented on #2541
I also found [the gas/oil breakdown for the _thermal_ bit](https://apps2.cer-rec.gc.ca/dvs/?page=viz3&viewBy=province&unit=gigawattHours&scenario=reference&year=2019&dataset=nov2019&language=en&province=NL&sources=oilProducts,hydro,solarWindGeothermal,naturalGas,bio). Data on that site seems up to 2019 so sadly doesn't account for the biomass part.

I tried tampering with the `dataset` parameter t

[2020-07-04 00:16] jarek commented on #2541
Please remember that the Statscan generation data is for Newfoundland and Labrador. Bulk of the generation is a giant hydro plant in Labrador which is only connected to Quebec's grid, the 5.5 GW https://en.wikipedia.org/wiki/Churchill_Falls_Generating_Station

Per Statscan's Table 25-10-0021-01 (previously CANSIM Table 127-0008), about 70% of all generation in the province is exported - most of it

[2020-07-04 00:19] jarek commented on #2358
Sorry I haven't gotten around to this yet. The data was previously in the repo so it's just a matter of digging through file history I linked if someone has time

[2020-07-04 09:31] Varmin123 commented on #2462
For Armenia, I have looked at http://epso.am/poweren.htm
It seems that they broke their html code page, but the source continues to have every required information (in the form var XXXX = "yy"\n ). This breaks the soup parser that assumes a valid html syntax.
It should be better for the parser to go and extract the lines of code that match the mappings present in the parser file.  https://raw.gith

[2020-07-04 21:29] jarek commented on #2524
Another quote https://www.meinbezirk.at/graz-umgebung/c-wirtschaft/oesterreichs-letztes-kohlekraftwerk-hat-den-betrieb-eingestellt_a4043238 "Das letzte Kohlekraftwerk ... kann künftig bei Bedarf kurzzeitig mit dem Brennstoff Erdgas für die überregionale Stromnetzstützung eingesetzt werden." saying it can be used for backup with natural gas

[2020-07-05 09:59] q-- opened #2573 "Exchange arrows don't move when resizing the map horizontally"
Resize the browser window horizontally. The map behaves correctly, but the arrows don't move. (They don't jump to the right spot after you're done resizing either.)

Resizing vertically works fine.

Occurs on both Chrome and Firefox, so it probably happens for all browsers.

[2020-07-06 09:50] q-- opened #2575 "Circle jumps to the top of the price graph when the price is exactly zero"
GIF to show what I mean, this is for data for the Netherlands today

![Bug ElectricityMap electricity price circle jumps to top of graph when price is zero](https://user-images.githubusercontent.com/2470175/86580243-bdd72700-bf7e-11ea-9963-8e530290de03.gif)

[2020-07-06 13:23] q-- opened #2577 "Change 'gas' production to 'biomass' in Panama historical data"
See #2576. Biogas got reported as 'gas' instead of 'biomass'.

Since 'biogas' is the only thing the parser stores as 'gas', this could be done by simply moving all the gas production to biomass.

[2020-07-06 14:01] AilinvandenHonigkuchenpferdlande commented on #2251
I'd like to try and build this out next week unless someone else is already working on this issue?

[2020-07-06 14:05] corradio commented on #2251
Please do!
Note this might be helpful:
https://github.com/tmrowco/electricitymap-contrib/blob/feature/hackathon/web/app/FR_regions.json
And this branch as well:
https://github.com/tmrowco/electricitymap-contrib/tree/feature/hackathon

[2020-07-06 16:03] smyru opened #2578 "Country view shows local time instead of country timezone adjusted one"
When viewing selected country (ie. https://www.electricitymap.org/zone/AUS-SA) the time and date field below zone / country name shows local (as in viewer one) time instead of timezone adjusted one. See attached illustration. This is somewhat an UX issue, as one may expect output frorm ie. solar that is quite dependent on a time of the day.

![foo](https://user-images.githubusercontent.com/554271/

[2020-07-07 01:11] jarek commented on #2578
See https://github.com/tmrowco/electricitymap-contrib/issues/802 previously

[2020-07-07 02:27] kmjohnstone88 opened #2579 "Energy source pop up could use a cross to close"
*Post from non-technical user of Electricity Map app*

It would be great if the following pop up could have a cross on it to close it....

![Screenshot_20200703-124913_electricityMap (2)](https://user-images.githubusercontent.com/67933565/86692247-b33f8f00-c05d-11ea-931d-ad71597bf4c5.jpg)

[2020-07-07 08:41] smyru commented on #2578
Ah, OK. I have looked for duplicates in the ticket database, yet only among the open tickets.

[2020-07-07 14:09] mjohn425 opened #2580 "AUS-QLD installed solar capacity way off mark."
Hi,

The installed solar capacity for AUS-QLD is listed as 20MW as of writing this. We have single solar farms that exceed this value (Yarranlea for example). Wikipedia lists the currently operational large solar farms as 1.7 GW and CEC lists small scale solar capacity at 3 GW as of last year. Unsure of how best to collate data, but one of the sources that you have listed: https://pv-map.apvi.org.

[2020-07-08 05:46] corradio opened #2582 "exchanges tooltip isn't automatically closed"
Happens on the app on a LG G6 phone.
Sent to me privately over email:

![Screenshot_20200707-224157](https://user-images.githubusercontent.com/1655848/86881642-0e6d9200-c0ef-11ea-9c49-3ce2852c4227.png)
![Screenshot_20200707-224414](https://user-images.githubusercontent.com/1655848/86881644-0f9ebf00-c0ef-11ea-8e7f-730160bb743a.png)

[2020-07-09 14:56] fbarl commented on #2253
Thanks for looking into this @pierresegonne!

It's been a while since I opened this issue but I think that at the time my concern was about the gaps caused by server being down - I assumed that in that case we'd have a gap in the timestamps which graph components would know how to render (since they're passed to a time scale when generating the time axis), but the time slider would assume they are

[2020-07-09 15:10] fbarl commented on #2578
Thanks for opening the issue @smyru!

I agree! While #802 proposes a more elaborate solution, I think we could address the UX concern by simply making it more clear in the UI that the user is always looking at the timestamps in _their own time zone_. Perhaps a small question mark with an explanation tooltip or otherwise an explicit time zone info next to the timestamp would already be an improveme

[2020-07-09 17:33] fbarl commented on #2575
Good catch @q-- !

It seems like the issue is in https://github.com/tmrowco/electricitymap-contrib/blob/dcea10ddbebbc5dc9f7980ccc9bbb526f90db7d1/web/src/components/graph/graphhoverline.js#L20

Changing `datapoint[1]` to `isNumber(datapoint[1])` would probably fix the issue - I'll verify and open a PR during this week.

[2020-07-09 17:57] fbarl commented on #2467
Thanks for the extra tips @pierresegonne!

I personally feel that we should probably close this issue as my original proposal doesn't seem to be the right approach given the existing conventions.

That's a good point though, but on the second thought I'm a bit hesitant to tamper with the existing colorset without a more explicit visual objective in mind :thinking: I'd still support someone with a

[2020-07-09 18:35] smyru commented on #2578
TBH, as long as the date and time given is local for the viewer, there is not much point in placing it in the country/bidding zone box. It brings no added value this way, and in fact can be misleading.

I am a big fan of energy evolution of South Australia state, and I have kept following its progress over few years now, nevertheless it tricked me, too, despite the fact I am well aware of the time

[2020-07-09 19:27] systemcatch commented on #2570
Nice find, looks like it uses aspx behind the scenes so we should be able to get the data out but it might end up being painful.

[2020-07-12 12:14] SimonForrez opened #2588 "Solar data in Netherlands is gone (equals zero)"
For the last 24 hours, two sunny days in the Netherlands,
the solar energy production in the Netherlands has been zero.
I suppose this is incorrect.
Other countries are showing solar production just fine.

The total consumption at the moment (13:10 GMT, 12jul2020) in the Netherlands is also very low (6.30GW) so that might be wrong/influenced as well.

[2020-07-12 16:13] ivard commented on #2588
The data of https://energieopwek.nl/ still seems correct, so the data is still available. Probably there is some issue with the API connection somewhere?

[2020-07-13 13:44] Kongkille commented on #2573
Hi :) I just tried myself and I can't seem to replicate this. I see that it seems they do not move to the right spot while resizing the window, however when I am done resizing it seems to work. Can you perhaps attach a .gif or a video?

I've tested on Chrome & Safari.

[2020-07-13 14:56] #2468 closed

[2020-07-13 16:45] fbarl opened #2591 "CountryTable should list all exchange zones that appear in historic graphs"
Currently the component `CountryTable` looks only at the zones that appear [at the focused timestamp](https://github.com/tmrowco/electricitymap-contrib/blob/aa523a67aa821b2005c7c94dc3cf55451c44c1c4/web/src/components/countrytable.js#L450). That can potentially cause the list to change its height and consequently the graphs to move and tooltips to flicker when hovering over the graphs at different

[2020-07-14 11:41] q-- commented on #2573
![ElectricityMap horizontal resize bug](https://user-images.githubusercontent.com/2470175/87421625-88ae8280-c5d7-11ea-96ab-d0095ea01019.gif)

[2020-07-14 11:51] Kongkille commented on #2573
Ah I see. I resized it using the bottom right corner and only dragged horizontally, my bad. Thanks for finding this :)

[2020-07-14 15:20] fbarl commented on #2573
Good catch @q--!

It seems that the source of this issue is that [react-map-gl](https://github.com/visgl/react-map-gl) `onViewportChange` hook gets called when the map viewport height gets updated, but _not when the width does_. I'm tempted to report an issue on their repo as I didn't find anything similar online, but before I do I'd like to make sure it's not something caused by our CSS :thinking

[2020-07-14 17:01] fbarl commented on #2579
Thanks for your suggestion @kmjohnstone88!

Please note that it's currently impossible to close tooltips on mobile due to a bug (see #2582) - normally you should be able to close them by clicking anywhere on the background empty area or at least by clicking on them.

Having said that, I think your proposal would still be a UX improvement, at least if we implement it on mobile.

[2020-07-14 17:12] fbarl commented on #2582
Thanks for reporting the issue @corradio!

I don't remember how it used to be before - would the tooltip close only when you'd click on it or also when you'd click anywhere on the background?

By the way, if we go with the first option, we should probably also be careful about switching contexts - currently switching between _Electricity consumption / Carbon emissions_ replaces the tooltip context

[2020-07-15 05:40] corradio commented on #2582
Hello @fbarl !
I think that in this particular case, the user wants the tooltip to be closed when switching page.
Right now, it stays opened even when you switch screens.

Previously, I think the tooltip closed when you clicked anywhere. I don't remember how we achieved such behaviour though

[2020-07-15 17:03] corradio opened #2592 "lowcarbon tooltip is missing"
We used to have a tooltip when you hover over the low-carbon gauge in the left-panel. It showed some description about what low-carbon meant. I think it got lost in the transition to React.

cc @fbarl

[2020-07-15 19:18] corradio opened #2593 "Double tap to zoom"
It seems that on the web version of the mobile electricitymap, double tap to zoom is not possible anymore.

[2020-07-15 19:55] q-- commented on #2397
Turns out the IEA has electricity import/export data as well (its in [ktoe](https://en.wikipedia.org/wiki/Tonne_of_oil_equivalent), so it'll have to be converted to MWh first)

https://www.iea.org/data-and-statistics?country=UAE&fuel=Imports%2Fexports&indicator=Electricity%20imports%20vs.%20exports, make sure to switch to 'electricity imports/exports'

At least for the UAE imports in 2017 were pre

[2020-07-16 12:48] q-- commented on #2462
Guatemala has been working correctly for some time now, and Russia is back after ElectricityMap got unblocked a few weeks ago

[2020-07-18 11:27] q-- opened #2596 "Wind/solar overlay disappear when clicking a country on the map"
# Steps to reproduce:

1. Enable the wind or solar  layer

2. Click on a country **on the map**

3. The wind/solar layer disappears

(When starting ElectricityMap with wind/solar **enabled** (e.g. https://www.electricitymap.org/map?wind=true), switching it off and then clicking a country on the map **re-enables** that layer again instead)

# What should've happened

1. The wind/solar layer shouldn

[2020-07-18 22:31] q-- opened #2598 "Ukraine is down (ElectricityMap got blocked)"
Ukraine has been down for a couple of days now. When running test-parser UA it shows the server terminated the connection.

I changed the User-Agent header like this:
[code]
and it started working again, so apparently it's blocking the parser based on user-agent.

Changing the parser to use a user-agent of e.g. Firefox should be enough to have UA show up again, unless ElectricityMap got IP-banned

[2020-07-20 05:26] fbarl commented on #2593
I'm unable to reproduce this on my Ubuntu both in Chromium 84.0.4147.89 and Firefox 78.0.2 (64-bit) in responsive mode and also on my mobile Android 7.0 Chrome 83.0.4103.106 when opening [electricitymap.org](https://www.electricitymap.org). :thinking: Which platform(s) did you try it on @corradio?

If there's an issue with double tap, it probably comes from ReactMapGL itself - I didn't find any op

[2020-07-20 05:35] fbarl commented on #2592
Good catch @corradio!

I don't know how long we've had this bug - the low-carbon tooltip component was never lost, but the mouse triggers that activate it were not passed through correctly which I fixed in #2599.

[2020-07-20 06:06] fbarl commented on #2596
Thanks for opening an issue with such a detailed description @q--! :ok_hand:

It helped me track down the bug pretty quickly - some mouse handler hooks were missing the URL location dependency.

#2600 should fix all the issues above.

[2020-07-20 13:21] q-- commented on #2596
No problem, thanks for the quick fix

[2020-07-22 13:20] #2592 closed

[2020-07-22 14:11] FelixDQ commented on #2598
Nice catch @q-- ! I just checked and we aren't IP blocked. I will make a PR updating the user agent and try to contact UA to make sure that we don't get blocked again.

[2020-07-22 14:31] #2598 closed

[2020-07-22 18:16] q-- opened #2602 "Armenia exchange data appears to be inaccurate"
ElectricityMap [shows](https://www.electricitymap.org/zone/GE) GE consistently importing exactly 376MW from Armenia.
This data is from the Armenia parser. When looking at [the website of the Georgian TSO](http://gse.com.ge/home), imports/exports from Armenia are zero right now.

I suspect the exchange data reported for AM is not being updated.
Exchanges with Iran and Nagorno-Karabakh are exhibitin

[2020-07-23 17:13] Kongkille commented on #541
Hi guys, I've just written a parser for the Takahama plant and I end up with the total KW generated, but in which time period it is? My Japanese extent to the use of Google Translate, and for some reason everything on the page is pictures.

I can see that something at the top which might be the time, but having a hard time deciphering it and I want to be certain.

Can anyone help?

here is the web

[2020-07-24 04:02] happysalada commented on #541
From the link you gave
- the takahama　（高浜） power plant is the second one from the top. (the first one being mihama (美浜））
- it has four parts (号機), each labeled with a power output
- the time is at a  particular point in time. for example (when I checked) 7月24日12時30分　is july 24th 12:30
- it seems though that you will have to look at what is in the image on the right though. When I checked, it says

[2020-07-24 08:07] Kongkille commented on #541
Ah, thanks, @happysalada I thought it was all from Takahama. Even better, since I guess we only care about the total output!

I have done the multiplication from the images, so I end up with this output
![image](https://user-images.githubusercontent.com/45588799/88371736-e770ba80-cd94-11ea-9f68-e3c4bd25e5eb.png)

I am in the process of getting time as well. Which seems to be some sort of last_upda

[2020-07-24 10:00] q-- commented on #2602
The amount of electricity exported to Iran started fluctuating again. Exports to NKR and GE are still stuck.

[2020-07-24 10:01] happysalada commented on #541
the top unit is from mihama
the four middle ones from takahama.
the two bottom ones are from 大飯　(ooi, not really sure how to say this one in english).

the total number at the bottom is the total kWh produced at that point in time from the three reactors.

Let me know if anything doesn't make sense.

[2020-07-24 10:26] Kongkille commented on #541
Okay, looking at the time from the website, I'd say it updates often enough to count as realtime. So there's most likely no reason to extract it and just report the final number.

[2020-07-24 11:55] happysalada commented on #541
I think you posted a comment about the time. It looks like the time updates every 30 min.

[2020-07-24 17:30] Kongkille commented on #541
@happysalada yeah thanks I realized my question did not make much sense. I've just opened a PR, feel free to check it out!

[2020-07-26 20:13] DrDrebon opened #2606 "Refining co2 footprint of production types by countries"
Hello,

    First of all I wanted to comgratulate you for this awsome tool.

     I think co2 for each production type could be refined.  For example the 12g for nuclear is a world average. But in France  since enrichment of uranium is done using low carbon electricity (nuclear mainly) and with centrifugation,   the footprint of French nuclear is 6g co2 (source ADEME) with makes quite a difference

[2020-07-27 16:31] #2596 closed

[2020-07-28 16:13] DrDrebon commented on #2606
Actually it is possible I made a commit to the json file to do so.

[2020-07-28 16:13] #2606 closed

[2020-07-29 17:32] fbarl commented on #2573
I opened visgl/react-map-gl#1157 to try to address the issue in the library, but in the meantime I addressed it via the above suggested hack in #2589.

[2020-07-29 18:00] fbarl commented on #2179
@pierresegonne The issue is somewhat vague indeed. I didn't try making any changes yet, partly because I was hesitant to significantly modify the UI without a clear objective in mind or at least more upvotes from the community.

I'll let @FelixDQ and @Kongkille make the final call, but as far as I'm concerned we can close this issue :slightly_smiling_face:

[2020-07-29 18:15] Kongkille commented on #2179
Yes, thanks for the suggestion @karsten-brauner!

However, In my opinion, I don't think we should push the idea of ranking countries further. We already have some sort of ranking in the area overview and I think it is somewhat presumptuous, and not really our purpose, to create definitive rankings. For example, Bornholm tends to be number 1, but it is a really small zone, relying a lot on imports

[2020-07-29 18:15] #2179 closed

[2020-07-29 18:21] Kongkille commented on #2570
Hi guys, I just looked at the data briefly but would you say we can set the labels "Parser buildable" and "Help wanted" for this issue? Or do we need further investigation?

[2020-07-30 08:32] FelixDQ commented on #2588
Nice catch!
@PaulCornelissen actually tries to address this in https://github.com/tmrowco/electricitymap-contrib/pull/2561

You can also see the discussions here https://github.com/tmrowco/electricitymap-contrib/issues/1871

[2020-07-30 08:32] #2588 closed

[2020-07-30 13:45] fbarl commented on #1857
cc @Kongkille in case you think parts of this could be useful for the next iteration of the UI :wink:

The changes I suggested are pretty straightforward to implement, but there is some cost to rephrasing the sentences as we'd need to update all the translations (or just drop them and let the community catch up eventually), so one should be cautious about that :slightly_smiling_face:

[2020-07-30 14:24] fbarl commented on #2261
The task is big but not very technically challenging, so contributors with some past experience with styled components shouldn't encounter many difficulties giving it a go, even if they are not very familiar with our JS codebase - that was my thinking for sticking the `help wanted` tag although I admit we might have better luck if we try splitting it into smaller issues :slightly_smiling_face:

Su

[2020-07-30 14:27] #2573 closed

[2020-07-30 16:12] fbarl commented on #2582
I went with a bit different but still standard approach in #2610, where I added a faded overlay background to the tooltip on mobile to make sure the tooltip gets closed first before switching context - note that this change doesn't affect the desktop mode:

![Screenshot from 2020-07-30 18-02-28](https://user-images.githubusercontent.com/1216874/88946962-2a002e80-d290-11ea-9a1c-cdf7d5737500.png)

[2020-07-30 16:14] fbarl commented on #2579
@kmjohnstone88 I went with a bit different approach in #2610. With this change, clicking anywhere on the screen will close the tooltip once it's opened - do you think this would address your UX concern?

![Screenshot from 2020-07-30 18-02-28](https://user-images.githubusercontent.com/1216874/88947172-7481ab00-d290-11ea-9307-9b278fd07a00.png)

[2020-07-31 07:31] FelixDQ opened #2611 "Armenia parser format changed"
It was recently fixed in https://github.com/tmrowco/electricitymap-contrib/pull/2571, but it went down again.

From kibana:
[code]

[2020-07-31 07:32] FelixDQ commented on #2602
NIce catch @q-- ! I tried to investigate this, but it seems like the Armenia parser went down. I created an issue for it https://github.com/tmrowco/electricitymap-contrib/issues/2611

[2020-07-31 07:35] #2582 closed

[2020-08-01 10:04] corradio commented on #2593
I can reproduce on my iPhone 8. A double tap opens up the copy/ select all
panel

On Mon 20 Jul 2020 at 07:26, Filip Barl <notifications@github.com> wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2020-08-06 08:20] FelixDQ commented on #2580
Nice find @mjohn425 !

The capacities are defined [here](https://github.com/tmrowco/electricitymap-contrib/blob/master/config/zones.json) if anyone wants to look into this

[2020-08-07 01:38] jarek commented on #2580
Also, Australian solar data (other than WA) should be coming from https://pv-map.apvi.org.au/live via https://github.com/tmrowco/electricitymap-contrib/blob/master/parsers/lib/AU_solar.py but judging by lack of any solar production reported in last 24 hours that's broken as well...

[2020-08-07 13:08] q-- commented on #2570
@Kongkille It should be possible to build a parser with the data that's available. Carbon intensity can be calculated from [IEA data](https://www.iea.org/countries/nigeria), the country almost exclusively uses natural gas and hydro

[2020-08-08 16:03] fbarl commented on #2304
What I wrote above seems to be true on my Chrome, but it only partly applies to my Firefox - I think a further performance analysis is probably required to determine which optimizations would work best generally, so I'm gonna deassign myself for now as I'm probably not gonna be the one looking into it soon.

CSS seemed to have improved the performance on my Chrome but made it worse on my Firefox,

[2020-08-10 11:56] Blixtmannen opened #2616 "Please divide Sweden into four electricity areas! Compare with Norway."
Dear Sir,

I like you map BUT: Please divide Sweden into four electricity areas! Compare with Norway.

Best

Magnus

[2020-08-10 12:41] magol opened #2617 "Update electricitymap_social_image.jpg"
In https://www.electricitymap.org/images/electricitymap_social_image.jpg, Sweden is gray. I want the image to be updated to reflect the best case when maximal of all countris with data is present.

[2020-08-10 12:44] magol commented on #2616
This is a duplicate of #1397

Unfortunately, the work with #1397 seems to have stopped, but I hope it can start again.

[2020-08-10 12:54] martincollignon commented on #2616
Closing as it is a duplicate.

[2020-08-10 12:54] #2616 closed

[2020-08-10 16:13] Kongkille commented on #2617
I think that makes sense :) Let's see if we can get a picture that represents emap at full capacity

[2020-08-10 17:19] #2575 closed

[2020-08-11 09:57] FelixDQ commented on #2466
Should be fixed now

[2020-08-11 09:57] #2466 closed

[2020-08-11 10:00] FelixDQ commented on #2562
Live weather data has been fixed, so the frontend should no longer report 404

[2020-08-11 10:00] #2562 closed

[2020-08-12 07:14] Kevindeving opened #2618 "France: Wrong hydro pumped storage data with rte data and the prices missing sometimes"
As of last few days hydro pumped storage is always treated as consumption regarding whether it is really consumption or aggregation (usually in the very morning there is consumption which is treated as aggregation atm on rte for whatever dumb reason). On entsoe it is right. Also prices are missing sometimes.

[2020-08-17 14:10] Kevindeving commented on #2618
Seems to be fixed by rte now

[2020-08-17 14:10] #2618 closed

[2020-08-18 05:22] ilfrich opened #2620 "US-PJM Parser Returns Future Date After Midnight"
**Steps to reproduce**

This only works shortly after midnight in the New York time zone (UTC-4) - reproduced at ~1am NY time, last value was from 10pm the day before.

* Run `fetch_production` and check the datetime of the result. It will have something like 10pm on the current day (e.g. in the future)

**Cause**

- https://github.com/tmrowco/electricitymap-contrib/blob/d7c4c2ece99a9ec5e9b67323e4

[2020-08-18 07:33] #2620 closed

[2020-08-20 09:51] maingoh opened #2622 "Display EU average emissions"
It would be nice to display the EU average emissions and maybe other big zones (USA, south america, africa ..) for comparison

[2020-08-22 08:33] zeristor opened #2626 "Map scrolling juddering"
Beta version of iOS 14 version 5, judders when scrolling around the map

[2020-08-24 07:56] fbarl commented on #2626
Thanks for reporting the issue @zeristor!

Could you please post a recording of this from your iPhone?

I also wonder if this is the only iOS version you've experienced it on - I suspect it's a hardware / performance issue but there must be more to it if the latest version is more problematic :thinking:

[2020-08-24 09:39] tth4vb opened #2628 "Slovenian vs. Croatian nuclear not accurate?"
From Jaka Ortar via email:

Slovenian nuclear power plant Krško is actually owned by Croatia as well - 50/50. So in reality half of power is always regarded as Croatian domestic production and the other half as Slovenian. That plant lies in Slovenia but very close to the national border and to Croatian capital city of Zagreb.

[2020-08-24 09:51] fbarl commented on #2628
Sounds right, [Croatian Wikipedia article](https://hr.wikipedia.org/wiki/Nuklearna_elektrana_Kr%C5%A1ko) supports this claim, although the closest quote I found on the [English Wikipedia article](https://en.wikipedia.org/wiki/Kr%C5%A1ko_Nuclear_Power_Plant) is this:

[2020-08-24 12:27] tth4vb commented on #2628
Given that we're looking at this from the location-based perspective, I guess the question really is where is the power physically produced (I guess Slovenia? but you can make an argument that Croatia is also responsible?)

[2020-08-24 18:25] jarek commented on #2628
Also, is the power from the plant destined for Croatia sent there directly, or via the Slovenian grid? And is this currently included in exchange values between Croatia and Slovenia? (Looks like at this moment Electricity Map data has Slovenia with 676 MW nuclear production and 666 MW export to Croatia)

[2020-08-26 12:17] OLIVIER-LUMINAIS opened #2629 "France carbon intensity for nuclear"
Bonjour,

In France according to the IPCC, the quantity of CO² per Kwh is 8 grams of CO² equivalent / Kwh!

more now according to ADEM in France it is 6 grams of CO² / Kwh equivalent produced for French Civil nuclear electricity.

would it be possible to change the CO² produced by civilian nuclear power for France?

Extra information: https://www.youtube.com/watch?v=Bcg9yDp4Azs

to check this info

[2020-08-26 14:37] sashavor commented on #2570
So essentially each of the sources listed at [https://www.sogrid.org/GenerationProfile](https://www.sogrid.org/GenerationProfile) needs to be linked with a type of production (natural gas/hydro) and then the parser can be built?

[2020-08-27 09:44] q-- opened #2631 "Middle-click scrolling a country's data makes ElectricityMap jump back to the list of countries"
So it's possible to scroll by clicking the middle mouse wheel and then moving the mouse up and down. (Using Firefox on Windows 10, other operating systems might behave differently.)

However, when I scroll like this in a country panel, it jumps back to the list of countries. Depending on the cursor position, ElectricityMap might also 'click' one of the countries on the list (the latter always seem

[2020-08-27 21:21] q-- opened #2632 "Calculate static carbon intensity for Luxembourg"
The Luxembourg real-time generation mix isn't available because it is combined with that of Germany in ENTSOE. Because Luxembourg sometimes exports to other countries (e.g. Belgium), it would be nice to have a static carbon intensity available.

The generation mix by year is available through the [IEA](https://www.iea.org/countries/luxembourg "Make sure to select 'Electricity generation by source'

[2020-08-27 22:19] jarek commented on #2629
Hello, thank you for the note!

Am I getting this right - looks like the source for the 6 gCOeq/kWh figure is https://www.bilans-ges.ademe.fr/documentation/UPLOAD_DOC_FR/index.htm?conventionnel.htm which came in 2015 from https://eplca.jrc.ec.europa.eu/ELCD3/index.xhtml which has since been discontinued?

[2020-08-27 22:25] jarek commented on #2629
On a practical note, looks like reducing the French nuclear carbon intensity from the current IPCC 12 gCO2eq/kWh to 6 doesn't really make much of a change in overall carbon intensity right now. This is because most of the CO2eq emissions at the moment are anyway coming from the ~9% generated from natural gas.

Current figure is 73 gCO2eq/kWh, reducing nuclear to 6 would make the figure about 69 gC

[2020-08-28 00:20] dh47 opened #2633 "New Zealand SSL Certificate Problems"
Are you aware theirs an issue with NZ data?  Data was flowing a few weeks ago and now nothing.

[2020-08-28 01:04] jarek commented on #2633
looks like SSL cert problems...

excerpt from Kibana logs
[code]

URL is https://www.transpower.co.nz/power-system-live-data ... oddly enough Firefox/Linux doesn't mind the cert

[2020-08-28 02:45] dh47 commented on #2633
Would I have to speak with Transpower to sort the SSL issue?

[2020-08-28 09:13] q-- commented on #2570
@sashavor In theory, yes, but the GenerationProfile seems to be incomplete (compare the lastest generation total and the demand at the DisCoLoadProfile page - older generation profile data appears to be more complete however), so for real-time it might be better to grab the consumption from the DisCoLoadProfile page and calculate a static carbon intensity from IEA data.

[2020-08-28 10:18] q-- opened #2634 "DK<->SE interconnector capacities not updated in ElectricityMap"
A few months ago, the interconnector capacities between DK1/DK2 and Sweden were updated in #2569, but these changes haven't shown up on the map.

Possibly because the changes were made to e.g. `DK-DK2->SE-SE4` instead of `DK-DK2->SE`?

[2020-08-28 10:26] q-- commented on #2633
[SSL Labs says their certificate chain is incomplete](https://www.ssllabs.com/ssltest/analyze.html?d=www.transpower.co.nz), so same issue as with SSEN which I explained in https://github.com/tmrowco/electricitymap-contrib/issues/2462#issuecomment-623393667

![Screenshot of SSL Server Test www.transpower.co.nz (Powered by Qualys SSL Labs))](https://user-images.githubusercontent.com/2470175/91550956

[2020-08-31 10:36] LEMOINE-1955 opened #2636 "Overestimation of CO² emissions in France"
Hi,

[GHG Emissions in French Nuclear Plants.docx](https://github.com/tmrowco/electricitymap-contrib/files/5149835/GHG.Emissions.in.French.Nuclear.Plants.docx)
You will find attached a complete study that explains the reasons why using the IPCC figure (which is a median of the emissions of nuclear power plants worldwide) is equivalent to doubling the carbon footprint of nuclear power plants in Fra

[2020-08-31 12:00] Kongkille commented on #2636
Hi, thanks for the article!

Using IPCC-alternatives per geography would be great. Currently it is not supported. Similar issues have been mentioned previously, it would be great if you could share this article in #738, so we can act on it.

I am going to close this issue, since it's a subset of the linked issue :)

[2020-08-31 12:00] #2636 closed

[2020-08-31 12:02] Kongkille commented on #2634
Thanks!

Yeah, I would probably agree that is the root cause

[2020-08-31 12:09] Kongkille commented on #2632
That could be a solution,

Just so I understand correctly, the purpose would not be to derive the live CI for LUX but instead a static value that can be used to calculate the LUX exports and thereby its effect on the target country?

[2020-08-31 12:10] Kongkille commented on #2631
@fbarl Have you seen this before?

[2020-08-31 12:13] Kongkille commented on #2622
I agree. We are currently working on a "historical" view, which will display an aggregate value for the zone. Not sure how we would be able to include larger zones, but it's definitely an interesting idea. Perhaps OOS for the live map, but perhaps if done right.

[2020-08-31 12:53] maingoh commented on #2622
There might be also two different averages:
- Average of the average per country inside the zone
- Sum of total emission per country divided by the total population of the zone

[2020-08-31 13:36] fbarl commented on #2631
Hmm, no I've never noticed it before. I managed to reproduce it on my Ubuntu Firefox with a simple middle-button click.

I also noticed that double middle click on the zone panel caused the map to zoom in, which seems to indicate that the map if catching mouse events through the side panel, so the reported issue seems to happen not because of scrolling but because of the middle-button click which

[2020-09-01 00:54] jarek commented on #2636
see also https://github.com/tmrowco/electricitymap-contrib/issues/2629 for the nuclear number specifically. it doesn't make that much of a difference overall as long as you have any other source of generation running

[2020-09-01 10:14] q-- commented on #2632
That's right.

An alternative might be, since Luxembourg generation is reported together with that of Germany, to use the German real-time carbon intensity when calculating the impact of imports from Luxembourg to Belgium

[2020-09-02 10:06] zeristor commented on #2626
I think this is no doubt down to the iOS 14.0 beta versions, the issue has lessened in beta 6.
I did work out how to take a video, but it looks like it is no longer needed.

[2020-09-03 18:20] q-- opened #2638 "ENTSOE data retrieval for the Netherlands keeps failing due to negative values for "unknown""
[Kibana](https://kibana.electricitymap.org/app/kibana#/discover/10af54f0-0c4a-11e9-85c1-1d63df8c862c?_g=(refreshInterval:('$$hashKey':'object:232',display:'5%20minutes',pause:!f,section:2,value:300000),time:(from:now-24h,mode:quick,to:now))&_a=(columns:!(message,extra.key,level),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:'96f67170-0c49-11e9-85c1-1d63df8c862c',key:level,n

[2020-09-03 19:42] #2634 closed

[2020-09-03 20:03] FelixDQ commented on #2638
That is weird actually. When looking at the [transparency platform](https://transparency.entsoe.eu/generation/r2/actualGenerationPerProductionType/show?name=&defaultValue=false&viewType=TABLE&areaType=CTY&atch=false&datepicker-day-offset-select-dv-date-from_input=D&dateTime.dateTime=03.09.2020+00:00|UTC|DAYTIMERANGE&dateTime.endDateTime=03.09.2020+00:00|UTC|DAYTIMERANGE&area.values=CTY|10YNL------

[2020-09-04 11:00] q-- commented on #2638
I don't know, I'm just going by what's logged in Kibana.

I don't have an ENTSOE API key so I can't help with debugging

[2020-09-08 21:16] JHuiz commented on #2638
Would this PR fix this issue? Sounds like the PR will be merged soon. #2561

[2020-09-09 10:13] q-- commented on #2638
Well, from quickly going through the code it seems https://github.com/tmrowco/electricitymap-contrib/pull/2561/files#diff-ddbeef7a3989d3ddde3446632507009dR152 will result in the parser returning nothing at all if unknown is zero or less. Which is even less helpful than having an error message like we do now, and should probably be changed before the PR is merged

[2020-09-09 13:47] q-- commented on #2472
FYI this is still happening. With >10GW of imports right now and record consumption amid the heat wave, it's a pity CA's carbon intensity isn't calculated accurately

[2020-09-09 14:00] FelixDQ commented on #2472
Yea it's unfortunate. We have had some delays in fully migrating to the new US zones, and it will probably be a month or two before we cal fully remove the old US zones.

[2020-09-09 16:37] q-- commented on #2472
Glad to hear you're still working on this, thanks

[2020-09-09 18:35] willbeaufoy commented on #2611
I'm looking for a parser to fix/add, is there any other info I should be aware of other than what's in this bug? From looking at the parser itself it looks like the data URL (http://epso.am/poweren.htm) returns a blank page currently. Another URL mentioned in the parser (http://epso.am/scada.htm) requires a password to view.

[2020-09-09 20:29] FelixDQ commented on #2611
Awesome! Unfortunately, I don't think that we have had any previous contact with the data provider.  I found an email on their [website](http://www.energyoperator.am/about.html) if you want to reach out: office@energyoperator.am

Let me know if you need help with something or if I should reach out to them (though data providers often react positively when people from the community reach out)

[2020-09-09 20:40] willbeaufoy commented on #2611
Ok thanks, I've emailed them. Will update here with any reply.

[2020-09-09 21:11] willbeaufoy commented on #1899
Looks like progress on this bug has stalled, I can try and fix it if it's still relevant?

[2020-09-10 09:41] PaulCornelissen commented on #2638
I've had a look at both the old parser and the new parser from #2561. With the ENTSO-E parser I do get the negative values, but not with the new parser. I've used a debugger to step through the ENTSO-E parser, but it's not directly clear why it's returning negative values for unknown. It seems to be a timing related issue, because when I step through the code with the debugger the problem doesn't

[2020-09-10 10:53] #2626 closed

[2020-09-10 14:49] PaulCornelissen opened #2647 "DE->NO2 (NordLink) interconnection needs to be added"
So it seems that NordLink is in trial operation and that this is being reported to ENTSO-E:
![image](https://user-images.githubusercontent.com/5185181/92748204-32668180-f385-11ea-9f6f-28e901ede85b.png)

This interconnection needs to be added.

[2020-09-10 17:26] willbeaufoy commented on #304
Hi there, I'd like to contribute a parser. You do not yet have one for Himachal Pradesh, and I have found [real time data](https://hpsldc.com/intra-state-power-transaction/). It does not list generation by source, but does list it by power plant (GENERATION OF HP(Z) table), and from googling them they are all hydropower (though I'm not sure yet what the last three in the list are). Is this an acce

[2020-09-11 15:36] comatrixco opened #2649 "Electricity generation forecast for the next 24 hours"
Hello,
 I am a regular user of your application and it helps me to know how I can consume cleaner energy.

 Would it be possible to add a section to know what the "theoretical" energy production will be for the next day?

 Electricity by type of production is auctioned the day before, in Spain on this page you can see, with these data, you can make an estimate of what the energy mix will be the ne

[2020-09-12 18:24] Kongkille commented on #2649
Hi @comatrixco,

Thanks for bringing this up. On top of the electricity map, Tomorrow also has an API as a product which includes a forecast of the data, including the generation mix (based on machine learning). As such, we would have to consider whether we want to make that data public, there are numerous tradeoffs to this, as you can imagine, including potential changes to the UI to properly dis

[2020-09-14 13:56] q-- opened #2653 "GT<->MX exchange not showing up on map"
Despite having a [configuration](https://github.com/tmrowco/electricitymap-contrib/blob/c383d6b46466cd9a9e1ee86d39d7ffe739b37811/config/exchanges.json#L1261) and [working parser](https://github.com/tmrowco/electricitymap-contrib/blob/master/parsers/ENTE.py), the exchange between Guatemala and Mexico isn't showing up on the map.

Maybe it's because the exchange is configured to connect to the MX zo

[2020-09-14 15:59] q-- commented on #2633
Transpower has fixed the missing intermediate certificate problem (though their certificate chain is still [a bit messy](https://www.ssllabs.com/ssltest/analyze.html?d=www.transpower.co.nz) and New Zealand is back on the map.

This issue can be closed.

[2020-09-14 18:10] jarek commented on #2633
Great, thanks for checking!

[2020-09-14 18:10] #2633 closed

[2020-09-15 13:31] tth4vb opened #2655 "Missing solar data in AUS-SA"
We're missing data from solar in AUS-SA, as can be seen in this source: https://opennem.org.au/energy/sa1/

If anyone wants to try and integrate this data source in, that'd be awesome :)

[2020-09-15 13:51] q-- commented on #2655
See also #1985

[2020-09-15 15:06] tth4vb commented on #2655
Ah thanks for the reminder/link!

[2020-09-15 16:19] q-- opened #2657 "Update historical data to correct ES_MA<->ES_ME imports/exports being reversed"
See #2568.

#2656 fixes the parser, but the historical data should also be corrected

[2020-09-15 17:06] #2568 closed

[2020-09-15 22:23] FelixDQ opened #2661 "Error in CY parser"
Sorry I didn't catch this when reviewing. The new CY parser uses a function that is only available in python 3.7 (parsers run with python 3.6)

The error:
[code]

This is the line:
https://github.com/tmrowco/electricitymap-contrib/blob/master/parsers/CY.py#L136

CC @veqtrus
ref https://github.com/tmrowco/electricitymap-contrib/pull/2637

[2020-09-15 22:33] veqtrus commented on #2661
Does it have to be a python datetime or could I just return an arrow object? Is there a preferred way to convert?

[2020-09-15 22:35] FelixDQ commented on #2661
It has to be a datetime, but you can just do `.datetime` on the arrow object to get the datettime object.
https://arrow.readthedocs.io/en/stable/#properties

[2020-09-15 22:58] #2661 closed

[2020-09-16 03:04] ecadvocate opened #2663 "change "gas" to natural gas so people don't think it's gasoline"
change "gas" to natural gas so people don't think it's gasoline (yes, they do)

[2020-09-16 10:00] q-- commented on #2376
I think this can be closed now

[2020-09-16 10:01] q-- commented on #2462
Cyprus is back

[2020-09-16 11:00] FelixDQ commented on #2376
👍 Thank you

[2020-09-16 11:00] #2376 closed

[2020-09-16 11:00] tth4vb commented on #2655
closing as I think this is covered in another issue

[2020-09-16 11:00] #2655 closed

[2020-09-16 11:02] FelixDQ commented on #2462
Thanks. I updated the main post

[2020-09-16 11:03] tth4vb commented on #2538
Closing for now as we're integrating new data sources for ERCOT. We should have slightly delayed data now for a more granular definition of grids based on balancing authorities, and we'll determine in the future how to visualize this data delay on eMap.org

[2020-09-16 11:03] #2538 closed

[2020-09-16 11:04] tth4vb commented on #2499
Closing this issue as the associated PR is closed for now. Hopefully we'll be able to revisit this in the future :)

[2020-09-16 11:04] #2499 closed

[2020-09-16 11:05] tth4vb commented on #2522
Closing this issue for now as it doesn't look like we'll be making a change in the foreseeable future. Feel free to contribute any other specific suggestions on ordering in the future :)

[2020-09-16 11:05] #2522 closed

[2020-09-16 11:11] tth4vb commented on #2251
Closing this as @AilinvandenHonigkuchenpferdlande has been building this - we'll keep track on the PR

[2020-09-16 11:11] #2251 closed

[2020-09-16 11:15] FelixDQ commented on #304
Hi guys. @willbeaufoy made a PR with data from Himachal Pradesh. It would be awesome if some of you have any input for the interpretation on the data. Check it out here: https://github.com/tmrowco/electricitymap-contrib/pull/2654

[2020-09-16 11:39] #2362 closed

[2020-09-16 14:01] q-- opened #2666 "Bolivia: all intermittent renewables reported as wind, but it appears to be mostly solar"
In the Bolivia parser, [all intermittent renewables are reported as wind](https://github.com/tmrowco/electricitymap-contrib/blob/fe275a0e3ae0d15021ea3617df024e992b05354e/parsers/BO.py#L17). However, a look at the [map](https://www.electricitymap.org/zone/BO?wind=true) shows that the "wind" generation displays the curve typical of solar generation (and does so when the sun is up).

It appears the r

[2020-09-16 15:05] FelixDQ commented on #2657
Thanks for reminding us about this. I have now updated the historical data.

[2020-09-16 15:05] #2657 closed

[2020-09-16 16:37] willbeaufoy commented on #2611
I've emailed twice now but no reply.

[2020-09-17 09:57] PaulCornelissen opened #2674 "update_state.py is broken"
The update state script is broken because for the exchanges the `fetch_exchange()` method of the parsers return an element called `sortedZoneKeys` where the front-end expect that element in the ``state`` file to be called `sortedCountryCodes`. Don't know if the front-end is wrong here or if the parsers are wrong or they are both right but different and the update script should rename the element?

[2020-09-17 15:03] q-- opened #2675 "Additional data for Peninsular Malaysia - WIP I'm still filling this out"
I found some useful data at https://www.singlebuyer.com.my/

# At the website [home page](https://www.singlebuyer.com.my/index.php)

- Current demand (we already have production)
- Forecast demand (appears broken. ***we don't have this yet)
- Installed capacity as of early this year (current source was last updated 2016. Sadly, no breakdown by type so not very useful)
- Forecast System Marginal Pr

[2020-09-17 15:49] #2647 closed

[2020-09-17 17:14] PaulCornelissen commented on #2638
I've now done some more digging and this seems to be the cause:
![image](https://user-images.githubusercontent.com/5185181/93504306-9820b380-f919-11ea-9d10-f7bcbe96e7f9.png)

`Other Consumption` is larger than `Other Generation`.

The ENTSOE parser substracts consumption from generation, so it reaches a negative value.

I will look further if I can find documentation what consumption of a specifie

[2020-09-17 21:44] comatrixco commented on #2649
Thank you for your response,  i try to change the subjet un english ;).

[2020-09-18 13:17] q-- commented on #1558
- [Installed Capacity](https://www.celec.gob.ec/index.php/capacidad-instalada/generacion) ([archive.org backup](https://web.archive.org/web/20200918125800/https://www.celec.gob.ec/index.php/capacidad-instalada/generacion))
- [Grid map showing interconnections with Peru and Colombia](https://www.celec.gob.ec/index.php/capacidad-instalada/transmision) ([archive.org backup](https://web.archive.org/we

[2020-09-18 15:58] alixunderplatz commented on #2638
@PaulCornelissen I've wrote a couple of lines regarding these negative  "... consumption" values in https://github.com/tmrowco/electricitymap-contrib/issues/78#issuecomment-537269673 and https://github.com/tmrowco/electricitymap-contrib/issues/78#issuecomment-589267374
The magnitude of these values for something like a "self-consumption" of these plants is just too large, just like you said in com

[2020-09-18 16:31] q-- commented on #2638
I did some research into what's going on. Turns out [51,8%  of  the  total  generated  electricity in the Netherlands is  coming  from  CHP  plants  (2011)](https://www.cogeneurope.eu/images/profiles/Netherlands_ECR_preview.pdf)

Many of these plants are greenhouses. [This site says greenhouses produce about 10% of electricity since 2009](https://www.kasalsenergiebron.nl/besparen/wkk-restwarmte/wk

[2020-09-18 16:45] alixunderplatz commented on #2638
@q-- nice catch! sounds very legit at a first glance: take 6.6 TWh and divide it by 8760 hours, you get about 750 MW of average consumption. that coincides with what we see at the moment, and probably it increases in winter times?
it just feels strange that this kind of self-consumption is disclosed on entsoe - is it included in "total load" figures of the country or just in the generation graphs?

[2020-09-18 17:45] q-- commented on #2638
Not sure where I could find the answer to that on ENTSO-E, but if it helps, the Dutch TSO also reports production and consumption on its own website (no generation breakdown).

[Production](https://www.tennet.eu/electricity-market/data-dashboard/generation/)

[Consumption](https://www.tennet.eu/electricity-market/data-dashboard/load/)

[2020-09-18 21:54] nessie2013 opened #2685 "Moldova-Romania Interconnector Not In Operation"
The source on interconnection in #2410 states that this connection is "not in operation". However, it's still shown on electricitymap. Should this be removed, put to 0 capacity, or kept as it is (in case it goes back into operation)?

[2020-09-18 22:09] q-- commented on #2685
The footnote on page 14 says Moldova "committed  in  2018  to  its  rehabilitation", so it might return at some point

[2020-09-20 22:01] willbeaufoy commented on #679
The source @q-- [mentioned](http://180.232.127.40/views/IEMOP_SITE_SUMM1/STORY1?iframeSizedToWindow=true&:embed=y&:showAppBanner=false&:display_count=no&:showVizHome=no) also has hourly data in theory, though right now the smallest time period I can get actual data for is 6 hours. I will check again tomorrow in case this is a temporary failure for hourly data.

[2020-09-21 12:22] FelixDQ commented on #2685
Yes, let's just keep it. It doesn't show up on the map while the netflow is 0, so it shouldn't clutter the UI.

Thanks for noticing :-)

[2020-09-21 12:22] #2685 closed

[2020-09-21 17:26] willbeaufoy opened #2686 "Add Himachal Pradesh (India) IN-HP"
I've already done a pull request for this: https://github.com/tmrowco/electricitymap-contrib/pull/2654.

Am making this issue as well as a reference.

[2020-09-21 21:10] jmdesmon opened #2687 "Broken link"
The link http://www.rte-france.com/en/eco2mix/eco2mix-mix-energetique-en is broken in section Electricity prices (day-ahead) data sources
France: RTE
on page https://github.com/tmrowco/electricitymap-contrib#real-time-electricity-data-sources

[2020-09-23 08:44] FelixDQ opened #2688 "Don't display error when data is expected to be delayed"
If data is expected to be 24 hours delayed, then we should only display the error if the data from 24 hours ago isn't available.
![image](https://user-images.githubusercontent.com/12124251/93988030-8ceddd80-fd88-11ea-8647-8d90cc32e98c.png)
This will probably be relevant as we add more zones with delayed data.

My thinking is that we should:

- [x]  Add an option to `zones.json` where we can tag zo

[2020-09-23 14:05] willbeaufoy commented on #856
As per [discussion](https://tmrow-team.slack.com/archives/CLEER5FQQ/p1600638315001900) on slack, historical data view is coming soon. South Africa still has no real time data as far as I can see but does have hourly data by source [available](https://tmrow-team.slack.com/archives/CLEER5FQQ/p1600638315001900
) for the previous day, so I am going to add a parser for this, so this data can then be di

[2020-09-23 16:40] PaulCornelissen commented on #2638
Thanks @q--, that's a nice report. I just got an e-mail back from ENTSO-E basically confirming what you suspected (see #2561).

[2020-09-24 09:27] willbeaufoy commented on #679
Nope still at 6 hours minimum unfortunately.

[2020-09-24 11:39] #2649 closed

[2020-09-24 11:40] #2622 closed

[2020-09-24 11:41] #2114 closed

[2020-09-24 11:52] #2629 closed

[2020-09-24 11:52] #2494 closed

[2020-09-24 11:55] #2262 closed

[2020-09-24 14:28] q-- commented on #679
Hmm, I don't get any results for generation mix unless I set the "DELIVERY_DATE" picker to "last 23 hours" or more.

![Selecting timespan](https://user-images.githubusercontent.com/2470175/94158329-8fccf900-fe82-11ea-9d34-e1ccce9ce2d3.png)

Are you using the same control I am?

[2020-09-24 16:30] willbeaufoy commented on #679
It looks like it varies, as now I don't get anything even for 23 hours.

[2020-09-24 21:06] masquel commented on #2688
Hi, let me take this one?

[2020-09-24 21:49] FelixDQ commented on #2688
Absolutely! I assigned you. Let me know if you need help with something :-)

[2020-09-25 08:13] masquel commented on #2591
I think fixed height for all data will not resolve this problem. You should think about better UI. For example, if you hover "Electricity prices in the last 24 hours" graph, you can't see CountryTable block in full height at all. Maybe you should move graphs to the top and add tabs to switch them.

[2020-09-25 08:20] masquel commented on #2688
@FelixDQ can you give me more information?) It's not clear enough, which option you want in `zones.json` for area and is historical view already implemented.

[2020-09-25 08:38] #2663 closed

[2020-09-25 09:13] #2687 closed

[2020-09-25 09:47] FelixDQ commented on #2688
I was thinking something like this:
[code]

No, not yet. For now, I would change it to display a message saying that the data is delayed instead. Then we can add the link to the historical view later on.

[2020-09-25 09:50] FelixDQ commented on #2688
Also, the message should appear if `production` data is delayed. For now, we don't care about delays in other data types

[2020-09-25 22:44] #2686 closed

[2020-09-26 16:25] corradio commented on #2591
One more info here:
I realised that changing the timestamp over the history graph causes the `prepareGraph` method of countryhistorymixgraph.js to be triggered, causing a recalculation of the whole graph, which of course makes the UI slower.
This is due to the fact that `prepareGraph` depends on `exchangeKeys` through `useCurrentZoneExchangeKeys`, which is changed everytime the timestamp changes.

[2020-09-28 12:27] AilinvandenHonigkuchenpferdlande opened #2696 "GB regional data"
14 now also has data for each of the 14 geographical regions via the National Grid’s carbon intensity initiative. Currently GB data is coming from ENTSOE.

Note:
- Generation mix API is still in beta version
- Need to check whether there is minimum 1 year historical data for the generation mix

https://carbon-intensity.github.io/api-definitions/?python#regional

https://www.carbonintensity.org.uk/

[2020-09-28 14:57] Gazer75 opened #2697 "Cross border flow arrow for Netherlands <-> Denmark HVDC is missing"
The data is there in each region, but the arrow is missing on the map.

[2020-09-28 15:06] Gazer75 opened #2698 "Germany <-> Norway HVDC cable NordLink entering test phase"
NordLink is now in testing phase and should be in full operation by December 2020.

Needs to be added to the parser and visually on map.

[2020-09-28 15:12] Gazer75 opened #2699 "Cross border flow from North Norway (NO4) to Sweden is wrong"
Because Sweden is one region in map the flow is wrong and only showing flow for NO4-SE2. The parser need to combine both SE1 and SE2 flows to NO4.

Best thing is to actually split up Sweden in its proper regions.

[2020-09-28 15:22] brandongalbraith commented on #2698
Duplicate of https://github.com/tmrowco/electricitymap-contrib/issues/2647, already closed by https://github.com/tmrowco/electricitymap-contrib/pull/2648

[2020-09-28 15:25] Kongkille commented on #2697
One note is that arrows are not displayed if it's extremely low, I must admit I am not sure whether it's when it's 0 or just below a certain threshold

[2020-09-28 15:27] Kongkille commented on #2698
Yes, the reason why it's not showing is likely because it's very low. I'm pretty sure it has been visible a couple of times

cc @FelixDQ

[2020-09-28 15:27] #2698 closed

[2020-09-28 15:34] jarek commented on #2696
Back in 2018 this was only consumption mix, see https://github.com/tmrowco/electricitymap-contrib/issues/596#issuecomment-416668710 - the map example on carbonintensity.org.uk still has these issues (showing nuclear in London...)

Good to know generation is now available. Are flows/exchanges between the regions also available?

[2020-09-28 15:39] Gazer75 commented on #2484
Actually most of the hydro power in Norway is from reservoir based plants, but most big artificial reservoirs are placed high in the mountains with little vegetation. Most low lying lakes have had very little max elevation change when used for hydro power.

Stats I could find are 2152 reservoirs with 1718 power plants. Total dams including run-of-the-river is 4121.

[2020-09-28 15:50] Gazer75 commented on #2698
Still missing the detail in each region. Those should be visible even if 0

[2020-09-28 15:52] Gazer75 commented on #2698
This should be changed IMO. Removing the arrows with no transfer is confusing and leads to reports like this...

[2020-09-28 15:53] Gazer75 commented on #2697
Suggest having the arrows visible even if there is no flow. I thought there was missing details.

[2020-09-29 12:06] PaulCornelissen commented on #2697
The interconnector is closed as per message from TenneT:
https://www.tennet.org/bsmailfax/20200928_151936_Cobra_Beperking_transportcapaciteit___Reduction_transport_capacity.html

This issue can be closed I guess.

[2020-09-29 14:59] FelixDQ commented on #2697
👍 Thank you @PaulCornelissen and @Gazer75

[2020-09-29 14:59] #2697 closed

[2020-09-30 20:44] GitMatze opened #2700 "Wrong carbon intensity for cross-border tooltip"
Probably due to power being zero..

![TooltipError](https://user-images.githubusercontent.com/45139485/94737383-09c31d80-036e-11eb-9f8f-dc038f4b77d5.png)

[2020-10-02 13:10] Kongkille opened #2704 "test"
this is a test for a hack day project

Contact details:
https://github.com/tmrowco/electricitymap-contrib/pull/2703/files

[2020-10-02 14:07] martincollignon opened #2705 "Improve front-end to make it easier for visitors to contribute"
We had a hack day with the Tomorrow team today, and started working with @Kongkille on a project to improve front-end to make it easier for visitors to contribute. I'm putting this as an issue to allow anyone to come with feedback and help out.

The idea would be that each area is in a state of development, and that we should make it very easy for visitors (regardless if they're visitors or not) t

[2020-10-02 22:54] KiSobral commented on #2556
Hey, if you guys still want help, I would love to do this ressearch.
Can I take this?

[2020-10-03 07:24] #2704 closed

[2020-10-04 02:19] Gazer75 opened #2707 "Misleading name "hydro storage" for pumped storage"
The line saying "Hydro Storage" is kind of misleading as this is actually pumped hydro storage.
Maybe change the name of this one to clarify this?

ENTSO-E is displaying this as "Hydro Pumped Storage"

[2020-10-04 05:50] CheneyZeng commented on #2203
Can I work on adding historical data? @corradio @pierresegonne

[2020-10-05 07:18] Bauer105 opened #2709 "Illustrate the electricity imports and exports"
How about to illustrate the electricity imports and exports in addition to the bar chart to indicate a total numerical value.

as an example
Germany on October 5th, 2020 at 9:15 am.
Electricity import: 767 MWh
Electricity export: 3770 MWh

[2020-10-05 10:01] PaulCornelissen commented on #2638
@FelixDQ Since #2676 had been merged, this issue can be closed. I'll open a new issue about fixing the fetch_consumption.

[2020-10-05 10:04] FelixDQ commented on #2638
👍

[2020-10-05 10:04] #2638 closed

[2020-10-05 10:08] #2709 closed

[2020-10-05 10:09] PaulCornelissen opened #2710 "ENTSOE fetch_consumption must include consumption by production units"
While fixing a issue with negative values for "unknown" production (#2638) it was found out (#2676) that ENTSOE reports consumption at the site of a generator under production as a negative production. For most power plants the electricity consumption is neglible (a couple of MW at most), but in NL we have a lot of CHP plants at greenhouses and such. They are very large electricity consumer and at

[2020-10-05 11:56] Huzi1 commented on #2034
@UPstartDeveloper On search to find some data, I think I got something  here
https://opendata.com.pk/dataset/precon-pakistan-residential-electricity-consumption-dataset

[2020-10-06 08:09] trancept commented on #1974
Hello,

I just have a look and unfortunately the data is outdated for the API used in the PR. Today (6th October) the latest data if for September the 1st :

- https://www.nldc.evn.vn/GiaBienHandle.ashx?d=01/09/2020
- https://www.nldc.evn.vn/PhuTaiHandle.ashx?d=01/09/2020

But it is possible to get data since 2011.

The API used by the chart has more recent data but still outdated (1st October) :

[2020-10-06 10:12] chalg commented on #2580
Hi - Sorry I'm new to ElectricityMap. I produce visualisations based on the free API but have been receiving questions around lack solar in SA and QLD. Just wondering how to test the http://pv-map.apvi.org.au/data API as I'm not convinced it is working properly. Can I run AU_solar.py on it's own to see if I can pull any data? Is there any reason why we use https://pv-map.apvi.org.au/live as oppose

[2020-10-07 14:04] sblanky opened #2714 "Divisions of UK"
Hi!

I think this project is brilliant. I was wondering if it is possible to determine electricity consumption/production on the island of Great Britain when seperated by sub-nation? I know for example that approximately half of the electricity produced in Wales is exported (mostly to England), and that much of this is renewable.

I understand it being one unified grid that this might be difficult

[2020-10-07 14:22] veqtrus commented on #2714
See #2696 and #1894

[2020-10-07 15:37] Kongkille commented on #2714
Thanks @sblanky!

Hopefully, you can see the current status of separating GB on the issues @veqtrus mentioned, I am going to close this issue for now

[2020-10-07 15:37] #2714 closed

[2020-10-08 14:59] JuanfPuebla opened #2716 "Hola"
Nuevo proyecto

[2020-10-08 22:57] #2716 closed

[2020-10-09 17:49] thtomate opened #2723 "Add Germany<->Belgium: Alegro is coming"
The first direct interconnection between Germany and Belgium has been constructed: Alegro https://www.elia.be/en/infrastructure-and-projects/infrastructure-projects/alegro
It is currently under testing and be used for the market next month. https://www.amprion.net/Press/Press-Detail-Page_26944.html

May be here are real data for it (wiht 30 minutes delay): https://www.elia.be/en/grid-data/transmis

[2020-10-10 15:55] Kevindeving commented on #2723
Unfortunately the interconnector is not yet included on entsoe. Should be coming soon hopefully.

[2020-10-10 17:10] thtomate commented on #2723
I looked and I found this: https://transparency.entsoe.eu/transmission-domain/physicalFlow/show?name=&defaultValue=false&viewType=TABLE&areaType=BORDER_CTY&atch=false&dateTime.dateTime=08.10.2020+00:00|CET|DAY&border.values=CTY|10Y1001A1001A83F!CTY_CTY|10Y1001A1001A83F_CTY_CTY|10YBE----------2&dateTime.timezone=CET_CEST&dateTime.timezone_input=CET+(UTC+1)+/+CEST+(UTC+2)
In the end of September, it

[2020-10-10 19:24] dsaw opened #2724 "Improve geometries of Cyprus"
Most parts of the world map are correctly charted as such, but a few of the regions if you zoom in a bit have got inaccurate borders.
For example, Northern Cyprus and Cyprus seem to have body of water between which is incorrect - they are part of the same island.
I figure the map might not be intended to scale since its used to track energy consumption and all. Though it would be great to improve

[2020-10-10 20:18] Kevindeving commented on #2723
Argh, I only looked at the bidding zones and not border country. Maybe someone can integrate it then. Test connections seem to be made from Monday to Friday at daytime last weeks already. 👍

[2020-10-10 21:54] veqtrus commented on #2724
That one is because of https://en.wikipedia.org/wiki/United_Nations_Buffer_Zone_in_Cyprus I think.

[2020-10-10 22:24] FelixDQ opened #2725 "US-MIDW-MISO: Reporting negative unknown production"
This seems to happen around ~6 to 11 am UTC every day.

![image](https://user-images.githubusercontent.com/12124251/95666118-0cd0c180-0b57-11eb-8ff6-c8ac7e1426e8.png)

From Kibana:
[code]

I don't know if this is a bug in the parser or if there something wrong with the data source.

[2020-10-11 16:10] FelixDQ commented on #2723
Cool! You can see how PaulCornelissen implemented the DE->NO-NO2 exchange [here](https://github.com/tmrowco/electricitymap-contrib/pull/2648). If you add it, then it will show up on the map when it becomes active.

[2020-10-11 16:13] thtomate commented on #2723
I have already seen it (we should not use DE-LU here), but I'm afraid of breaking things without an ENTSOE API key.

[2020-10-11 18:49] thtomate commented on #2725
_Other_ contains pumped storage, according to the website and they really have pumped storage (https://en.wikipedia.org/wiki/Ludington_Pumped_Storage_Power_Plant), so negative values can be valid data.
We just need to move them to storage

[2020-10-11 22:48] betim opened #2731 "Kosovo as a state"
Please update your maps to reflect Kosovo as a state.

[2020-10-12 00:21] jamesy1988 commented on #2580
The main issue is the underlying data source for the NEM is very poor. The data source that should be utilised in the AEMO MMS Dispatch SCADA files: https://nemweb.com.au/Reports/Current/Dispatch_SCADA/

Happy to collaborate to write a new parser to incorporate this data source.

[2020-10-12 00:52] jarek commented on #2731
Is Kosovo's electrical grid operated separately from Serbia? Do you know what their operator is named?

[2020-10-12 02:34] chalg commented on #2580
Thanks for your help. It is my understanding that your source above only contains commercial solar farms and you also need to merge in https://nemweb.com.au/Reports/Current/ROOFTOP_PV/ACTUAL/ for rooftop solar, which is at 30 minute granularity.
Just out of interest, I contacted ARENA (https://arena.gov.au/) via their web form to see if they could recommend a definitive source, but have had no res

[2020-10-12 02:41] jamesy1988 commented on #2580
I think the Australian PV Institute have a 5min based data source for distributed solar output, which I think is already utilised. https://pv-map.apvi.org.au/live

[2020-10-12 03:05] chalg commented on #2580
The Australian PV Institute data source seems to be broken though, which I suspect is why this issue was raised. I can't return anything using this script locally: https://github.com/tmrowco/electricitymap-contrib/blob/master/parsers/lib/AU_solar.py. Might be just user error too!

[2020-10-12 03:15] jamesy1988 commented on #2580
I get an error also. I note the APVI data displayed on the webpage is only provided in 15 minute increments?

Is a short term solution to utilise the .../ROOFTOP_PV/ACTUAL/ data in the short term by holding the value constant or otherwise calculated for each five minute period over the thirty minute refresh period? The magnitude of error will likely be relatively small. This can be updated when a

[2020-10-12 04:12] jamesy1988 commented on #2580
OpenNEM have a rooftop solar source. https://opennem.org.au/energy/nem/

https://github.com/opennem/opennempy

[2020-10-12 09:04] fbarl commented on #2591
@masquel Thank you for your suggestion, I think you have a good point there! However, that would indeed require a bit more work on the UI and would probably lie outside of the scope of this issue. Would you be interested to open a [discussion](https://github.com/tmrowco/electricitymap-contrib/discussions) for it where you could lay out your suggestion in more details and perhaps provide some scree

[2020-10-12 09:10] tth4vb commented on #2725
Maybe we can have a check that reclassifies negative production as storage then?

[2020-10-12 09:13] tth4vb commented on #2696
@AilinvandenHonigkuchenpferdlande this is great! We've previously spoken to the folks behind this API and they said regional was still in closed beta and they weren't 100% confident on data quality yet, but now that it's publicly available I think it'd be great to try and implement. Let me know if you want any help with the historical data investigation - if it isn't apparent on their site/docs, I

[2020-10-12 09:14] chalg commented on #2580
Yes, I'm wondering if we can leverage that, or whether we have to create another parser. I guess we can get in contact with one of the developers. Also not sure what format is required for ElectricityMap as this will be processed further to get carbon intensity I assume?

[2020-10-12 09:37] jamesy1988 commented on #2580
I'm not sure if they have exposed an API as part of the project. Simon Holmes a Court and Dylan McConnell are quiet active on twitter discussing energy, so could be worth an approach.

https://twitter.com/dylanjmcconnell
https://twitter.com/simonahac

[2020-10-12 10:40] jamesy1988 commented on #2580
The OpenNEM API (below) works a treat,. Minor issues about pandas.np, but otherwise brings in the data set nicely. Parser would have to identify the current timestamp.

https://github.com/opennem/opennempy

[2020-10-12 15:40] betim commented on #2731
Yes it is. Operator is called KOSTT. Couple of months ago it withdrew from SMM bloc. KEK which runs the thermo centrals uses coal to generate 800MW (A) + 678MW (B).

[2020-10-12 21:52] jarek commented on #2731
Thanks for the confirmation!

Looks like this should be pretty easy - edit generate-geometries.js to remove `KOS` from `RS` and then add it separately (looks like `XK` is used as the two-letter code for Kosovo?):

https://github.com/tmrowco/electricitymap-contrib/blob/57884bd70cc44448861259000f81a47b4ebadd60/web/generate-geometries.js#L557

[2020-10-12 21:58] veqtrus commented on #2731
They have transparency data: https://www.kostt.com/Transparency/BasicMarketDataOnGeneration
Could be possible to write a parser.

[2020-10-12 22:02] jarek commented on #2731
however currently the "Current production (actual generation) of electricity" spreadsheet contains data for October 11th (all 24 hours) while it's just after midnight on October 13th in Pristina, so not quite realtime

[2020-10-12 22:05] veqtrus commented on #2731
We have capacities at least: https://www.kostt.com/Content/ViewFiles/Transparency/BasicMarketDataOnGeneration/EN/Installed%20capacity%20of%20production%20units.pdf

[2020-10-13 05:40] chalg commented on #2580
https://twitter.com/simonahac/status/1315106334514180098

[2020-10-13 09:16] PaulCornelissen commented on #2723
I already looked at this when I did the NordLink, but there weren't any integers for this exchange at that point. I do remember this line though:
https://github.com/tmrowco/electricitymap-contrib/blob/master/parsers/ENTSOE.py#L179

Basically the ENTSOE parser currently substitutes DE-LU for DE in every `fetch_*`-call. So I suspect that maybe this exchange will be double counted as a DE<->BE exchan

[2020-10-13 11:22] thtomate commented on #2723
This is only used in fetch_price, otherwise would already break DE->LU and BE->LU and previously broke exchanges with common countries of Austria and Germany

[2020-10-13 12:08] jamesy1988 commented on #2580
The OpenNEM .json output appears to provide all of the data required for ElectricityMap. The web_api.py provided in this repository (https://github.com/opennem/opennempy) may provide an easier means to collect the data at five minute intervals to avoid having to sort through a couple of days worth of data.

I'm not sure as to the frequency that the ElectricityMap parsers run. Anyone know the answe

[2020-10-13 13:24] PaulCornelissen commented on #2723
Ok, that sounds logical. You wan't to implement this? Otherwise I can do it.

[2020-10-13 13:31] jarek commented on #2580
The parsers run every 15 minutes but can return more frequent data (e.g. a list of datapoints for every 5 minutes or I think even every minute) if that's available in the data source

[2020-10-13 19:20] systemcatch commented on #2725
This came up before in #1482

[2020-10-13 23:27] x-cubed opened #2741 "New Zealand: Stewart Island is incorrectly shown as part of the South Island electricity network"
The [electricityMap](https://www.electricitymap.org/zone/NZ-NZS) incorrectly shows New Zealand's Stewart Island as being part of the South Island electricity distribution network.
![image](https://user-images.githubusercontent.com/11729/95926148-0a50bf00-0e18-11eb-8514-8e8d0cc550f1.png)

However, there is no electricity distribution link between the two islands, and Stewart Island has it's own ind

[2020-10-14 01:45] chalg commented on #2580
Simon mentioned liaising with @AnthonyBriggs — he's begun investigations.

[2020-10-14 14:55] jarek commented on #2731
One more question, if anyone knows!

Currently we have exchanges configured for "Serbia to North Macedonia" and "Albania to Serbia". Geographically, at least the Albanian border is exclusively with Kosovo, and Kosovo also borders North Macedonia notably close to Skopje which I'm guessing might be an infrastructure centre.

![Serbia - North Macedonia exchange on Electricity Map](https://user-images

[2020-10-14 19:46] veqtrus commented on #2731
[Macedonian TSO's map](http://mepso.com.mk/CMS99/Content_Data/Dokumenti/%D0%95%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE-%D0%B5%D0%BD%D0%B5%D1%80%D0%B3%D0%B5%D1%82%D1%81%D0%BA%D0%B8%20%D0%B1%D0%B8%D0%BB%D0%B0%D0%BD%D1%81/el.energetska%20mapa.pdf): 400 kV lines appear to reach the borders of both Kosovo and Serbia

Albania seems to also be connected to Kosovo: http://www.ost.al/pershkrimi-i-sistemit-te-t

[2020-10-16 09:46] q-- opened #2747 "Bolivia: calculate static carbon intensity for "unknown""
According to [2019 IEA data](https://www.iea.org/data-and-statistics?country=BOLIVIA&fuel=Energy%20supply&indicator=ElecGenByFuel), thermal electricity generation in Bolivia is mostly natural gas (and a bit of oil and biomass), so the default carbon intensity ElectricityMap uses for "unknown" generation is too high for the country.

Someone should calculate a static carbon intensity for the unknow

[2020-10-17 15:33] q-- opened #2749 "Request - Can someone calculate a static carbon intensity based on the generation breakdown for Puerto Rico?"
For #2531, I need a static carbon intensity for the **renewable** generation of Puerto Rico.

I've found [monthly generation data](https://indicadores.pr/dataset/generacion-consumo-costo-ingresos-y-clientes-del-sistema-electrico-de-puerto-rico/resource/fdad4f42-a4be-48bb-9478-a8fb75c000c6). (I'd suggest LibreOffice Calc for the file, as Excel often struggles with CSV files.)

I'd base the carbon i

[2020-10-18 03:00] veqtrus commented on #2749
_Generación con energía comprada-Otros (varias tecnologías1)_ is about 11 total.

### Using the last 12 months

  | Total Generation | Carbon Intensity
-- | -- | --
Hydro | 53.758 | 24
Solar | 260.18266756 | 45
Wind | 141.421724566 | 11

Average Carbon Intensity: 31.9614690674738

### Using the 12 months of 2019

  | Total Generation | Carbon Intensity
-- | -- | --
Hydro | 40.977807 | 24
Solar | 2

[2020-10-18 05:00] Shaunovsky opened #2751 "Inaccurate"
Hi,

Have noticed electricitymap for Australia is pretty inaccurate, particular for states where there is rapid renewables growth.

Needs to be pulling data from official market operator: https://aemo.com.au/energy-systems/electricity/national-electricity-market-nem/data-nem/data-dashboard-nem

[2020-10-18 05:15] jamesy1988 commented on #2751
Hi Shaunovsky,

This is a live issue and currently being addressed under issue #2580

[2020-10-18 09:12] #2751 closed

[2020-10-19 12:42] veqtrus opened #2752 "Live data for Greece not displayed despite less than one hour delay"
E.g. current time is 13:40, data available for 13:00.

[2020-10-19 13:07] FelixDQ commented on #2752
Are you looking at production data?

When running the parser, it seems like there is more than 2 hours delay
[code]

When looking at price data there is less than 2 hours delay:
[code]

We need production data before we can color the zone on the map

[2020-10-19 13:55] jarek commented on #2752
If you take a look at the charts, that data showing as less than an hour ago is actually older - check the flat unchanging lines. Electricity Map allows some gap in data and draws out the data for up to four hours as if the production hasn't changed.

![gr](https://user-images.githubusercontent.com/47415/96460142-e8c54e00-11f0-11eb-8c2d-005dd975c7f6.png)

[2020-10-19 14:18] q-- commented on #2749
Thank you!

[2020-10-19 14:18] #2749 closed

[2020-10-19 19:05] veqtrus commented on #2747
### [2019 data](https://www.iea.org/data-and-statistics/data-tables?country=BOLIVIA&energy=Electricity&year=2019)

  | Production | Carbon Intensity | Percentage
-- | -- | -- | --
Oil | 94 | 650 | 1.41523637458597
Natural gas | 6279 | 490 | 94.5347786811201
Biofuels | 269 | 230 | 4.04998494429389

Average Carbon Intensity: 481.734417344173

### 1% oil, 95% gas, 4% biomass

Average Carbon Intensity

[2020-10-19 19:35] q-- commented on #2747
Thank you

[2020-10-20 12:55] PerHassel opened #2757 "Suggestion: 24h time format"
It would be easier to use electricitymap for persons not from US/UK if it was possible to select 24 hour clock on the timescales.

[2020-10-20 13:17] #2757 closed

[2020-10-21 07:00] thumbsupep commented on #2261
I'd like to help with this. maybe the FAQ component?

[2020-10-21 08:48] tth4vb commented on #2460
Circling back to this issue - given the ramping is also reflected in national data and that there is precedent for nuclear plants ramping in other parts of the world, right now I don't see a reason to distrust this data right now. A bit of research of the nuclear situation in IN didn't shed any further light on the possibility of ramping or not.

Right now, the larger issue I see is that this pars

[2020-10-21 08:48] #2460 closed

[2020-10-21 08:57] tth4vb opened #2758 "IN-MH parser data is coming in spotty"
Looking at the last few months of data coming into IN-MH, we're seeing very scarce data, a couple of hourly data points every 24 hours, meaning it's not very useful when looking at the recent history graphs on eMap for example:
<img width="444" alt="Screen Shot 2020-10-21 at 10 50 57 AM" src="https://user-images.githubusercontent.com/8129157/96696703-59a06d80-138b-11eb-9924-b73cef71cf02.png">

Her

[2020-10-21 09:19] fbarl commented on #2261
Happy to hear you'd like to help @thumbsupep!

Sure you can start with the header - feel free to open a draft PR from your first commit so that we can follow your work and help you out if needed :slightly_smiling_face:

[2020-10-21 16:19] GitMatze commented on #2758
This is a known issue caused by a timeout. Since the data is parsed from a dashbord image using character recognition this parser is quite computation-heavy. I've already tried to optimize it, but apparently it's still not fast enough. See https://github.com/tmrowco/electricitymap-contrib/issues/2343

[2020-10-23 06:56] tth4vb commented on #2758
Ah thanks for the clarification @GitMatze! Good to know the limitations here

[2020-10-23 08:59] Kongkille commented on #2724
Generally, there's a lot to improve on the geojson of the map. Especially in the US, if someone is interested in trying to improve this, let me know. It will require some manual work, but hopefully through this process we can find a better solution to improving the borders

[2020-10-23 09:08] Kongkille commented on #2758
@GitMatze just looked at the parser. It seems you've thought of a lot of ways to improve it. Did you try to crop the image to specifically only get the values that are relevant? I'm wondering which aspects of the computation takes a long time, it could also be the original loading of the image as it's a bit heavier than a lot of other images we use tesseract on.

[2020-10-23 09:14] Kongkille commented on #2723
Hey guys, does someone want to take this further? :)

cc @PaulCornelissen @thtomate

[2020-10-23 09:55] Kongkille commented on #2741
Nice catch! So we need to separate these two and create a new region

[2020-10-23 09:58] Kongkille commented on #2707
Thanks @Gazer75, I'm closing this issue, you can see our discussion on the linked PR!

[2020-10-23 09:58] #2707 closed

[2020-10-23 10:01] Kongkille commented on #2699
Hey @Gazer75, I'm not quite sure I understand. I agree there are a bunch of issues with not having Sweden split #1397. Is there something we can do except split Sweden?

[2020-10-23 10:59] Gazer75 commented on #2699
The problem is the current code is only displaying transfers between North Norway (NO4) and SE2.
This is about 1/3 of the total normally exchanged to/from NO4 as most is going to/from SE1.
Reason for this is the NO4-SE2 exchange is on a 220kV line while the NO4-SE1 is over a 420kV line.
https://www.statnett.no/en/for-stakeholders-in-the-power-industry/data-from-the-power-system/
https://openinfram

[2020-10-23 11:52] GitMatze commented on #2758
Just did some profiling. On my system fetching the image accounts for 62% and running tesseract for 32% of the time. However, with the cpu power resctricted  to a minimum, fetching the image takes only 34% and tesseract 70% of the time. Tesseract definitely is the cpu-sensitive process here.

[2020-10-23 12:12] PaulCornelissen commented on #2723
I will, but probably not until next week.

[2020-10-23 16:37] q-- commented on #2534
Changing "taghub" to "hogshub" (with different capitalization?)  should do

Found in a request setting up the connection:

    GET | https://data.ajenti.com.au/live/signalr/negotiate?clientProtocol=1.5&connectionData=[{"name":"hogshub"}]&_=1603470672758

[2020-10-24 17:02] ssmssam commented on #2758
Hi, this is my first time potentially contributing so apologies if I'm not following standard procedure. I tried to use pytessy https://pypi.org/project/pytessy/ as heard that could be faster than using Tesseract directly. On my machine this provided roughly a 10% speed up on the running tesseract part:

Tesseract:
%timeit pytesseract.image_to_string(imgs_line, lang='digits_comma', config='--psm 7

[2020-10-25 06:44] thumbsupep commented on #2261
@fbarl I created a draft PR, but I have a question! Where is the best place to put the variables and breakpoints? I created a theme and a theme.js file (not sure which folder it should go in), but I'm not sure if you already have a plan for variables in styled components that I looked over.

[2020-10-25 10:43] Shaunovsky commented on #2751
Ah good to know

On 18 Oct 2020, at 4:15 pm, Andy James <notifications@github.com> wrote:

﻿

Hi Shaunovsky,

This is a live issue and currently being addressed under issue #2580<https://github.com/tmrowco/electricitymap-contrib/issues/2580>

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/tmrowco/electricitymap-contrib/i

[2020-10-25 15:36] q-- opened #2764 "Data for Isle of Wight (England)"
https://www.ssen.co.uk/anm/iow/

The page is almost identical to the one used by the `GB_ORK.py` parser

[2020-10-25 19:36] q-- opened #2765 "Spanish islands down"
The Balearic islands and the Canaries are down. The parser has trouble processing a [timestamp](https://kibana.electricitymap.org/app/kibana#/discover/10af54f0-0c4a-11e9-85c1-1d63df8c862c?_g=(refreshInterval:('$$hashKey':'object:232',display:'5%20minutes',pause:!f,section:2,value:300000),time:(from:now-24h,mode:quick,to:now))&_a=(columns:!(message,extra.key,level),filters:!(('$state':(store:appSta

[2020-10-26 07:22] Kongkille commented on #2580
Hey guys, is anyone currently working on this?

cc @chalg @AnthonyBriggs

[2020-10-26 07:44] Kongkille commented on #2758
Thank you @ssmssam! Maybe you can open a PR and then add @GitMatze as a reviewer? And yeah, not sure if this will stop the timeouts either as the image is quite big, but it is interesting nonetheless as we have several parsers using tesseract, so figuring out the optimal way of using it would be a win regardless I think.

[2020-10-26 08:24] AnthonyBriggs commented on #2580
I've been looking at this, but free time's been a bit scarce. Doesn't look screamingly hard, it's just a question of getting to it. If someone wants to beat me to it, feel free :)

[2020-10-26 10:03] q-- opened #2767 "Link "You can contribute by adding area data." broken"
The link on e.g. https://www.electricitymap.org/zone/NE?wind=true doesn't lead to the right place anymore now that instructions have been moved to the wiki.

[2020-10-26 10:04] q-- commented on #2765
It's up again.

Still might be worth trying to figure out if it was just a problem on their end, or if the parser also needs updating

[2020-10-26 12:15] veqtrus commented on #2767
The wiki doesn't seem to have an article for adding areas.

[2020-10-26 12:30] FelixDQ commented on #2767
Ah yea, we organized the wiki a bit different than the old readme. For now i think that we should link to the "getting started" page of the wiki https://github.com/tmrowco/electricitymap-contrib/wiki/Getting-started

[2020-10-26 18:48] fbarl commented on #2261
That's great @thumbsupep! I took a look at your PR and left some comments there - it's easier to keep an async discussion there than extending on a long thread here :wink:

[2020-10-27 21:30] PaulCornelissen commented on #2674
The state file also doesn't contain exchange capacities. So you can't test locally whether exchange capacities are displayed correctly.

[2020-10-28 11:28] q-- opened #2775 "California is down due to negative nuclear production"
[Kibana](https://kibana.electricitymap.org/app/kibana#/discover/10af54f0-0c4a-11e9-85c1-1d63df8c862c?_g=(refreshInterval:('$$hashKey':'object:232',display:'5%20minutes',pause:!f,section:2,value:300000),time:(from:now-24h,mode:quick,to:now))&_a=(columns:!(message,extra.key,level),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:'96f67170-0c49-11e9-85c1-1d63df8c862c',key:level,n

[2020-10-28 20:29] FlorentVTT opened #2777 "FR Regional Data available"
https://www.rte-france.com/eco2mix/les-donnees-regionales
Click on "Visualiser l'ensemble des flux interrégionaux et aux frontières"

[2020-10-28 20:42] FlorentVTT commented on #2777
But, Coal, Gaz, Fioul are all together in the "thermic" cathegory

[2020-10-29 02:12] jarek commented on #2777
Does it break out hydro storage charging and discharging? I see "pompage" (is that "pumped" or "pumping"?) but it's always `-`

[2020-10-29 08:26] FlorentVTT commented on #2777
It is filled normally, i saw it >0

[2020-10-29 13:15] q-- commented on #2777
See also #2613

[2020-10-29 13:45] #2747 closed

[2020-10-29 14:52] tth4vb opened #2779 "Sparse data coming in for Singapore"
We're seeing some really spotty data coming in from the SG parser, similar in pattern to the IM-MH parser (#2758). Wondering if perhaps there's some issue with the OCR timing out and affecting other data as well (though I know this should have been fixed in #1281)?

Either way, if anyone has time to look into the potential source of this issue, we'd love your help :)

Tagging potential relevant fo

[2020-10-30 09:38] FelixDQ commented on #2775
That sounds right. I can also see some other negative values from the data source:
![image](https://user-images.githubusercontent.com/12124251/97689388-c3abc780-1a9b-11eb-835b-90ad3d1f0c24.png)

Do you or anyone else know how we can account for the self-consumption? Could we estimate the self-consumption and add it to the value?

[2020-10-30 09:49] FelixDQ commented on #2688
resolved in #2692

[2020-10-30 09:49] #2688 closed

[2020-10-30 10:01] FelixDQ opened #2783 "Update config for zones with delayed data."
@masquel recently implemented the ability to configure zones that have delayed data to display a different message.
before:
![image](https://user-images.githubusercontent.com/12124251/97690975-079fcc00-1a9e-11eb-96fc-a7c6dbff2ef5.png)
after:
![image](https://user-images.githubusercontent.com/12124251/97690926-f656bf80-1a9d-11eb-9147-db2e796ca254.png)

To display this message for all zones with del

[2020-10-30 14:57] PaulCornelissen commented on #2783
Greece has 4-5hrs of delay.

[2020-10-30 15:59] q-- commented on #2775
The parser currently ignores self-consumption from solar, so I'd suggest simply doing the  same for nuclear.

[2020-10-30 18:31] blaltarriba commented on #2666
I'm a beginner in the project and I'm looking for an issue to start contributing(a good-first-issue one), so what should be done here? You suggest to set all `itermittent` as a new category `unkown renewable`?

[2020-10-30 21:34] willbeaufoy commented on #2696
Looks like progress on this has stalled, I'm interested in helping things along.

I have checked and 1 year ago historical data for the generation mix is indeed available (in half hour periods), e.g. `curl -X GET https://api.carbonintensity.org.uk/regional/intensity/2019-10-30T11:30Z/2019-10-30T12:00Z   -H 'Accept: application/json'`

However I cannot see any data on flows between regions.

I've g

[2020-11-02 02:43] chalg commented on #2580
My time is also scarce and my python is a bit rusty, but some initial questions I would have, not having contributed to ElectricityMap before:

- what are the rules around using different libraries like those required for opennempy?

- Should we be using opennempy to pull in as much data as possible rather than just "distributed / small-scale / rooftop photovoltaic solar generation", which is the

[2020-11-02 10:01] q-- commented on #2666
I'm suggesting creating a new category, 'unknown renewable', similar to how battery storage was added in  #895

However, before beginning work on that someone from Tomorrow should probably weigh in whether they approve of this or if they prefer something different (say, putting everything including wind under solar)

As an aside, there is a ["good first issue"](https://github.com/tmrowco/electrici

[2020-11-02 13:48] blaltarriba commented on #2666
Thank for the advise, I'll take a look on that tags too as `good first issue` tag needs more issues

[2020-11-03 17:01] PaulCornelissen commented on #2723
This issue can be closed i think. @FelixDQ

[2020-11-03 21:36] ssmssam commented on #2779
As with issue 2758, I have tried using pytessy instead and did see a considerable speed up, whether or not this is enough to stop timeouts on the server, I do not know.

On my local machine:

With pytessy:
%timeit digit_reader.read(black_white.tobytes(), black_white.width, black_white.height, 1)
105 ms ± 2.21 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

With pytesseract:
%timeit image_

[2020-11-04 11:52] systemcatch commented on #2779
Looking at the [logger](https://kibana.electricitymap.org/app/kibana#/doc/96f67170-0c49-11e9-85c1-1d63df8c862c/logstash-2020.11.01/doc?id=0OEjgXUBflit6ybPgU7X&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now%2Fw,mode:quick,to:now%2Fw)))

[code]
@tth4vb there is an issue in the closed source backend. I can load both urls for the `SG` parser, makes me think electricitymap has been b

[2020-11-04 12:00] #2775 closed

[2020-11-04 15:21] FelixDQ opened #2789 "EIA parser doesn't report 0 production for hydro"
When generating power from hydro storage, the EIA parser reports nothing for hydro:
![image](https://user-images.githubusercontent.com/12124251/98128771-99ea0a80-1eb8-11eb-87cf-3fb53be7dbf6.png)

This results in a question mark on the map even though that we now that the production is 0:
![image](https://user-images.githubusercontent.com/12124251/98129070-f9e0b100-1eb8-11eb-9ced-e21d0459ac5c.png)

[2020-11-04 15:22] #2723 closed

[2020-11-04 23:23] willbeaufoy commented on #2789
To clarify, do you mean that hydro should be 0 in the 5am datetime, rather than being absent completely?

[2020-11-05 08:49] FelixDQ commented on #2789
Yes, I would say so, but please correct me if I'm misinterpreting the data.

[2020-11-05 10:40] FelixDQ commented on #2789
Actually, I'm just going to close this as it doesn't matter that much. Though, please go ahead, if someone wants to look deeper into this

[2020-11-05 10:40] #2789 closed

[2020-11-05 11:41] FelixDQ commented on #2725
Do we know if this problem is also present in the EIA parser?

It wouldn't be ideal to switch to EIA because then we wouldn't be able to display live data, but it also isn't ideal to have ~5 hours of missing data every day. What are your thoughts?

[2020-11-05 11:48] systemcatch commented on #2725
I don't see any negative production in the [EIA data](https://www.eia.gov/opendata/qb.php?category=3390150&sdid=EBA.MISO-ALL.NG.OTH.H) for `MISO-Other` however they may count things differently.

[2020-11-05 12:12] FelixDQ opened #2790 "US-NW-WACM: Reporting negative gas values"
It happens for a few hours every few days.

From Kibana:
[code]

Reproduce error with:
[code]

[2020-11-05 23:42] willbeaufoy commented on #2790
I think it's a problem with the source data, this is the API call that the parser makes, and it contains the negative values:

`http://api.eia.gov/series/?api_key=4da724ba12182d36382ad3bc755bbc7f&series_id=EBA.WACM-ALL.NG.NG.H&start=20200227T00Z&end=20200228T00Z`

The data series is called 'Net generation from natural gas' - is it possible that at certain times the gas plants are using more electr

[2020-11-06 08:13] tth4vb commented on #2779
@systemcatch ah ok, thanks for digging in. We will look into it on our side as soon as we have capacity!

[2020-11-07 09:13] ssmssam commented on #2790
From their FAQ:  https://www.eia.gov/tools/faqs/faq.php?id=101&t=3
_Electricity net generation is the amount of gross electricity generation a generator produces minus the electricity used to operate the power plant. These electricity uses include fuel handling equipment, water pumps, combustion and cooling air fans, pollution control equipment, and other electricity needs._

It sounds plausible t

[2020-11-07 09:25] ssmssam commented on #2790
Clicking through links on here allows you to see graphs of net generation going back to 2018 https://www.eia.gov/opendata/qb.php?category=3390184

This shows negative generation for all fuel types at some point I think. Also the typical gas value seems to have dropped from around 500 MWh in May 2019 to around 60 MWh now which seems like quite a small gas plant. It seems likely this could be idling

[2020-11-08 00:22] floriandierickx commented on #1973
Just stumbled on this issue again, wondering if there would be any info yet. It seems, until now, not the case. Recently [another paper](https://www.nature.com/articles/s41597-020-00662-4#Sec6) - this time in Nature - was published on energy (transmission) infrastructure and embodied carbon, using IO tables, but again no reference to live energy generation data.

[2020-11-10 06:04] faehre74 opened #2794 "Alegro exchange between Germany and Belgium reporting 0 MW in ENTSOE"
Germany (Amprion) has a new interconnector link to Belgium (Elia).

[2020-11-10 17:03] mouse256 commented on #2794
Some more info:
https://www.amprion.net/Grid-expansion/Our-Projects/ALEGrO/

Data is available already on ENTSOE:
https://transparency.entsoe.eu/transmission-domain/physicalFlow/show?name=&defaultValue=false&viewType=GRAPH&areaType=BORDER_CTY&atch=false&dateTime.dateTime=06.11.2020+00:00|CET|DAY&border.values=CTY|10YBE----------2!CTY_CTY|10YBE----------2_CTY_CTY|10Y1001A1001A83F&dateTime.timezone=

[2020-11-10 21:04] ssmssam commented on #2794
I'd be happy to take this on. Is there a guide for adding interconnectors?

I know IFA2 is due to come online around the end of year too, between GB and France.

[2020-11-10 21:16] ssmssam commented on #2794
From what I can see, it would involve changing the README, config/exchanges.json and parsers/ENTSOE.py . Is that correct?

[2020-11-11 01:52] jarek commented on #2794
This was previously discussed in https://github.com/tmrowco/electricitymap-contrib/issues/2723 and should have been added in https://github.com/tmrowco/electricitymap-contrib/pull/2774

In fact if you look at the region details, the exchange is already there:

![bede](https://user-images.githubusercontent.com/47415/98755407-76323300-2396-11eb-87f9-2831c0de3fc7.png)

However in the past 24 hours it

[2020-11-11 02:00] jarek commented on #2794
In fact it looks like Electricity Map shows archive data well, e.g. for November 5, 00:00 UTC (screenshot is in UTC-5, this is from an internal tool to view older data):

![be-de-nov-4](https://user-images.githubusercontent.com/47415/98755963-94e4f980-2397-11eb-88c1-c994f7cefd58.png)

So this seems to be case of either no energy actually being exchanged, or missing data in ENTSOE?

[2020-11-11 06:53] jaakla opened #2796 "Clear definition of "low carbon" and "renewables" to FAQ"
I get that biomass can be classified as kind of "renewable" (but consider that regrowing trees can take 50+ years in higher latitudes), but burning it for energy or electricity produces much more CO₂ per KWh than many fossils, e.g. natural gas. In this sense biomass should be set as "high carbon".
From the numbers it seems that you simply classify all renewables as low carbon. I know it is a commo

[2020-11-11 07:01] chalg commented on #2796
Agree, and is transportation, for example, shipping it from the US to Europe included in emissions?

[2020-11-11 15:15] jarek commented on #2796
According to the IPCC values which we use, the median carbon intensity (gCO2eq/kWh) of electricity generated from biomass is about half of that generated from natural gas. See https://www.ipcc.ch/site/assets/uploads/2018/02/ipcc_wg3_ar5_annex-iii.pdf PDF-page 1335. The mean/median/max values for biomass are 130 / 230 / 420 compared to 410 / 490 / 650 for combined-cycle natural gas. The biomass fig

[2020-11-11 18:23] willbeaufoy commented on #2710
I will take this if no one else has started on it yet.

[2020-11-11 23:02] jarek commented on #2696
We do need the actual production per fuel in MW

This would be nice but I can't see how this would be done in current ElectricityMap interface

[2020-11-12 08:45] tth4vb commented on #2696
@willbeaufoy sorry for the late reply, but I think while the regions are small, I'd advocate that we try and get as high granularity as possible :) We took a similar approach in the US - I think it makes things a bit more actionable. Unfortunately as @jarek said, we can't switch between views in the eMap interface, but I think that unless the 12 regions have dramatically different carbon intensiti

[2020-11-12 09:13] tth4vb commented on #2696
And to back up what Jarek said, we do need the production per fuel in MW, so I guess in this case it would have to start from total production and then use %s if that's all that's available

[2020-11-12 13:01] Fred-3000 commented on #2794
Alegro simply isn’t in commercial service yet.

[2020-11-12 13:35] Spanni26 opened #2799 "Switzerland is missing"
Hello,

the data for Switzerland is missing, but Entsoe is OK (as it seems)

[2020-11-12 14:10] Fred-3000 opened #2800 "ENTSO-E Pumped Hydro consumption missing"
It seems that consumption values for pumped hydro (storage) are missing for countries based on ENTSO-E data.
They are reported on their website, so I guess something is wrong in the parser.

[2020-11-12 14:26] brandongalbraith commented on #2799
Existing issue tracked in https://github.com/tmrowco/electricitymap-contrib/issues/892

[2020-11-12 20:05] willbeaufoy commented on #2696
Ok great, I looked again and couldn't find any data sources for actual MW values by source by region (on their API or elsewhere), so I emailed one of the contacts asking if this information is available. I also asked about import/export flows. Will update here with any reply.

[2020-11-13 01:09] recursiveElk commented on #2741
I'm a frontend dev in NZ, would this be a good first-issue?

[2020-11-13 07:33] Kongkille commented on #2741
Hi @recursiveElk, I think so, there's not a lot on the wiki regarding updating geographies, so this might also be a good time to write a good section on how to do something like this. So if you're up for it, I'm happy to help :)

[2020-11-13 16:46] #2799 closed

[2020-11-13 17:12] willbeaufoy commented on #2800
Which countries are you looking at? I checked now on the frontend and the UK, France and Germany are all reporting pumped storage values.

[2020-11-13 17:17] Fred-3000 commented on #2800
Belgium, Germany, Portugal, and more...
The positive values (when producing electricity) are shown, but the negative values (when storing electricity) are not.

[2020-11-13 17:59] willbeaufoy commented on #2800
Ah yes I see what you mean. So for example hydro storage for Austria is reported as -.0.0 at 03:00 UTC this morning:

![Screenshot from 2020-11-13 17-55-12](https://user-images.githubusercontent.com/693233/99104883-81c16c00-25d9-11eb-8ab0-b002e266d09e.png)

However ENTSOE [reports](https://transparency.entsoe.eu/generation/r2/actualGenerationPerProductionType/show?name=&defaultValue=false&viewType

[2020-11-13 20:15] willbeaufoy commented on #2800
I've found the cause, it's because of [this commit](https://github.com/tmrowco/electricitymap-contrib/commit/97865b8d33fbfe643aeba2fcff53ecb8b727786c?branch=97865b8d33fbfe643aeba2fcff53ecb8b727786c&diff=unified) from a month ago that ignores consumption values when calculating production. If you revert the code that was changed then we get the pumped storage data again. @FelixDQ @PaulCornelissen (

[2020-11-14 09:07] recursiveElk commented on #2741
I might have look at the repo and flick you a msg.

[2020-11-15 10:40] q-- opened #2801 "King Island: battery never seems to discharge"
I've been keeping an eye on AUS-TAS-KI since it was added to the map. Charging works fine, discharging doesn't show up.

[2020-11-15 10:43] q-- opened #2802 "GB pumped hydro consumption missing"
It appears pumped hydro consumption in GB is missing. Last night there were super low power prices and GB was exporting to FR despite that resulting in nuclear being curtailed there, and yet there was zero pumped hydro consumption in GB.

[2020-11-15 19:23] ckiw opened #2803 "full energy consumption - energy map ?"
Hello,

It would be interresting to have the same king of map but for the full energy consumption of a country (per capita or by GDP) and for longer period of time. Do you know if there is a project of this type ?

With this king of map, it would be possible to see that a country is reducing (or not) the emissions globally. And with the same type of arrows to visualise exportations ;)

Alexis

[2020-11-15 22:20] PaulCornelissen commented on #2800
Nope, that was certainly not the intended effect. You can read the history here: #2676 and #2638

In short: In NL there's sometimes significant self consumption at power plants (e.g. CHP plants at large consumers). Sometimes it's more than the production for an entire generation type (mostly for unknown). That would cause the production for unknown to be negative and the parser would fail.

I supp

[2020-11-17 12:49] mhooi opened #2804 "Over estimation of NL CO2/kWh emissions due to high unknown CO2 emission factor"
I was wondering what the reasoning is for the assumed output of 700 g CO2eq/kWh for the part of electricity consumption where the source is unknown.

![elecmap](https://user-images.githubusercontent.com/65292771/99391345-5e990400-28da-11eb-8066-2b1b944aa239.png)

We know that the power generation from Coal fired power plants is very limited these days and is reported separately and quite accurate

[2020-11-17 14:20] q-- commented on #2804
Here is data from the [Dutch statistics office](https://opendata.cbs.nl/statline/#/CBS/en/dataset/84575ENG/table?ts=1605622623305) on electricity production by fuel source. Perhaps it's possible to compare this with ENTSO-E data to infer what the composition of the "unknown" generation is.

[2020-11-17 14:24] mhooi commented on #2804
This check has been done before I think. The reason the Netherlands has a fair amount of "unknown" is for example due to lot's of decentralized electricity generation in greenhouses and other local consumers.

So the estimation of the amount of "Unknown" is not the question, more the guestimate of the source of this electricity. Now is has an assumed coal base source while in reality it is probabl

[2020-11-17 19:18] willbeaufoy commented on #2800
Ok I will see if I can fix it.

[2020-11-17 19:43] willbeaufoy commented on #2802
This is probably a duplicate of #2800.

[2020-11-17 20:23] q-- opened #2806 "AUS-TAS-KI reports negative wind generation sometimes"
Small values, so probably self-consumption. I'll prepare a fix

[Kibana](https://kibana.electricitymap.org/app/kibana#/discover/10af54f0-0c4a-11e9-85c1-1d63df8c862c?_g=(refreshInterval:('$$hashKey':'object:232',display:'5%20minutes',pause:!f,section:2,value:300000),time:(from:now-24h,mode:quick,to:now))&_a=(columns:!(message,extra.key,level),filters:!(('$state':(store:appState),meta:(alias:!n,disa

[2020-11-17 20:38] q-- commented on #2802
I thought GB used a different parser?

[2020-11-17 20:59] willbeaufoy commented on #2802
ENTSOE is listed as the GB parser [here](https://github.com/tmrowco/electricitymap-contrib/blob/master/DATA_SOURCES.md#real-time-electricity-data-sources).

[2020-11-17 21:07] q-- commented on #2802
Looks like they use ENTSOE for some things, but a different one for production.

https://github.com/tmrowco/electricitymap-contrib/blob/bf4ac1ccfa8dedd9aa246cdfec24ee02b1b37659/config/zones.json#L1957

[2020-11-17 21:17] willbeaufoy commented on #2802
Oh yeah true, ok I'll remove this bug from the commit+pull request description.

[2020-11-17 21:22] q-- commented on #2804
I know. What I'm proposing is taking total generation by type for e.g. 2017 from the CBS, subtracting the generation by type accounted for in ENTSO-E data for that year so that the remainder of the generation will be the composition of the "unknown" generation in ENTSO-E.

For example, say the CBS has 69,976 TWh of gas generation for 2019 and ENTSO-E has 12,345 TWh. Now we know that the "unknown"

[2020-11-18 10:40] PaulCornelissen commented on #2804
@mhooi @q-- I agree that the unknown part is to high and that we should estimate a better CO2 intensity.

The CO2 intensity of gas is probably also to high for NL, because NL uses mainly modern CCGT and very few open cycle gasturbines. Many CCGT also run as CHP plant. Then there's a lot of gas engine CHP plants mostly/all reported as unknown.

The other parts of unknown are:
* waste incineration (

[2020-11-18 12:29] mhooi commented on #2804
I agree with you Paul, assuming a 490gCO2/kWh is a first good guestimate. At least a better one compared to the current one of 700.

How can we proceed with this? I'm not such a data nerd that I can do these changes by myself unfortunately.

[2020-11-18 13:36] #2806 closed

[2020-11-18 15:16] PaulCornelissen commented on #2794
![image](https://user-images.githubusercontent.com/5185181/99548368-dccbd800-29b8-11eb-9e00-08cbab34fe0a.png)

Today they're transferring some power. I've seen it at 1GW before. Probably only when they are testing. Unless we see that it's not being displayed when there is data in ENTSOE.

I propose to close this issue as it seems to work.

[2020-11-18 15:18] Fred-3000 commented on #2794
Yep, the parser is working fine.
According to Elia commercial operation started today, with a capacity of up to 100 MW, perfectly matching Electricitymap's data.
https://twitter.com/eliacorporate/status/1329055358208397312

[2020-11-18 15:24] PaulCornelissen commented on #2804
@mhooi something like ^^that commit should do.

[2020-11-18 15:45] mhooi commented on #2804
Wow, really great. Let's see when this is updated in the dashboard.

Maybe we can fine tune the assumptions a bit more in the future with the help of @MartienVisser, the unknown part and maybe also the Gas part because of the reasoning you gave above.

[2020-11-18 18:17] q-- commented on #2530
I've started work on capacity data

[Capacity data page](https://aeepr.com/en-us/QuienesSomos/Pages/ElectricSystem.aspx) [Google Translate](https://aeepr.com/es-pr/unidadesgeneratrices)

The page lists the type of power station, but unfortunately not the fuel. So I've started going through the thermal power stations on the list to determine the fuel type.

# Power stations

## [PREPA-owned power s

[2020-11-19 02:53] jarek commented on #2794
Okay, thanks for confirmations! I'll close the issue but feel free to reopen if it seems like it's not working again.

[2020-11-19 02:53] #2794 closed

[2020-11-19 08:51] aarbur opened #2809 "IFA2 (1 GW France-UK link) has started transferring power"
See:
https://www.montelnews.com/en/story/tsos-begin-power-transfers-on-1-gw-france-uk-link/1167828

Time to add it to electricitymap?

[2020-11-19 09:07] #2800 closed

[2020-11-19 14:51] aarbur commented on #2809
Is it normal for ElectricityMap to "merge" parallel interconnectors? Or should cross-chanel and IFA2 show up separately?

@PaulCornelissen am I right in thinking that your change only updates the Capacity (and assumes a merged display of the two interconnectors here on ElectricityMap), and does not automagically add the actual live usage data for IFA2?

[2020-11-19 16:02] Kongkille commented on #2809
Yes based on the PR that's what's going on. So the capacity is the current one (2k) + 1k from IFA2

[2020-11-19 16:05] #2809 closed

[2020-11-19 16:24] aarbur commented on #2809
Why is this closed? The capacity might be updated but we are not yet parsing/aggregating the data for the new interconnector - unless I misunderstand.

[2020-11-19 17:28] Kongkille commented on #2809
Yes so the interconnector should be included in the ENTSOE data which we are already parsing, so the data should be automatically be added to the map, we just haven't added the capacity for the interconnector

![image](https://user-images.githubusercontent.com/45588799/99701132-55539700-2a94-11eb-8c29-a3da484a5e7a.png)

So this means the interconnector data should be displayed here as well, just w

[2020-11-19 21:06] Kongkille commented on #2803
Hi @ckiw this is indeed interesting and something we are looking towards. Whether it can be a direct part of electricitymap or not is unsure, but we are looking at getting a historical view at least.

I'll move this to discussions! Thank you :)

[2020-11-19 21:06] #2803 closed

[2020-11-20 03:07] OnigiriJack opened #2813 "D3 visualization zooms out when user scrolls over with a mac trackpad"
Hello awesome App and visualizations. Today, I was scrolling down the webpage in Firefox on a Macbook, however if the cursor is in the middle of the screen when you scroll down the visualization minimizes. If you scroll with your cursor on the outside of the visualization the bug does not happen. I would suggest disabling the zoom of the app and make the app reactive depending on the screen size,

[2020-11-20 09:46] q-- commented on #2804
[Here's the portion of the biomass that's co-firing with coal](https://longreads.cbs.nl/hernieuwbare-energie-in-nederland-2019/biomassa/#meestoken-van-biomassa-in-elektriciteitscentrales). We can subtract that from the total biomass in the annual generation mix I linked earlier to derive the portion of "unknown" that's biomass.

[2020-11-20 09:47] Kongkille commented on #2796
@jarek we added this section in the wiki. Would be happy to expand it if you have any input whatsoever :)
https://github.com/tmrowco/electricitymap-contrib/wiki/Emission-factors

[2020-11-20 09:47] #2796 closed

[2020-11-21 10:15] willbeaufoy commented on #2813
This seems like a valid issue, however I'm not sure the code for this (on [this page](https://www.tmrow.com/climatechange/)) is in this repository, which is for the electricitymap.org site. Someone from tomorrow will have to confirm though.

[2020-11-21 21:51] veqtrus opened #2816 "Moldova parser fails due to expired SSL certificate"
Certificate expired on Friday, 20 November 2020 at 11:15:53

[2020-11-22 00:50] jarek commented on #2816
maybe they'll fix it on Monday? :crossed_fingers:

[2020-11-24 09:46] mhooi commented on #2804
Do we know when and how this commit will be merged with the master?

[2020-11-24 10:42] aarbur commented on #2809
I see, thank you! That link you supplied has numbers today (every time I looked before it only showed columns of n/a, or something like that) - highest value I see is 2022MW, which I suppose reflects that IFA2 is not yet in full use.

I still see a capacity of 2GW showing on https://www.electricitymap.org/. How do we know when commits that have been merged into master will/do actually show up on t

[2020-11-24 20:59] PaulCornelissen commented on #2809
It's not asctually using the ENTSOE parser like I said before, but the ELEXON parser. However I already checked the API spec shortly after my commit and ELEXON should also return total FR->GB exchange and not a per interconnector value, so all the same.

2022MW doesn't mean anything. It's probably the difference between reporting the input and output. The difference is line losses. You see this on

[2020-11-27 12:20] floriandierickx commented on #1973
Something more relevant @martincollignon @corradio : Pete Tunbridge and Euan Graham from @ember-climate published a report on data transparency in Asia today (including China) with an assessment of time granularity, fuel/source breakdown, spatial breakdown, additional data (capacity, ...) and ease of access. Might be interesting for future developments...

- Report: https://ember-climate.org/proje

[2020-11-27 12:24] floriandierickx commented on #1974
Maybe also relevant for this issue:

_Originally posted by @floriandierickx in https://github.com/tmrowco/electricitymap-contrib/issues/1973#issuecomment-734809221_

[2020-12-01 13:54] fcimballi opened #2824 "Données Suisse"
Bonjour,
Il est souvent noté Données temporairement non disponibles pour la Suisse. Pourquoi ?

[2020-12-02 03:16] jarek commented on #2824
Sorry, in English: it looks like official data published is significantly incomplete. You might get some information from the past issue: https://github.com/tmrowco/electricitymap-contrib/issues/892

[2020-12-07 10:57] q-- opened #2829 "GB (ELEXON parser) exchanges broken"
~~Kibana:~~

  File "/home/src/electricitymap/feeder/lib/fetch_data.py", line 176, in launch_parsers   objs = res.get(timeout)
  File "/usr/local/lib/python3.6/multiprocessing/pool.py", line 644, in get      raise self._value
  File "/usr/local/lib/python3.6/multiprocessing/pool.py", line 119, in worker      result = (True, func(*args, **kwds))
  File "/home/src/electricitymap/feeder/lib/fetch_dat

[2020-12-07 20:14] q-- opened #2832 "Add North Sea Link (GB<->NO-NO2)"
National Grid and Statnett are building an interconnector ([1400MW](https://northsealink.com/)) between Great Britain and [South-West Norway](https://northsealink.com/en/locations/norway/) (should be NO-NO2 based on physical location).

Installation of subsea cables is only [planned](https://northsealink.com/en/the-project/project-timeline/) to be finished in 2021, but apparently the interconnecto

[2020-12-08 15:11] #2816 closed

[2020-12-08 15:44] Kongkille opened #2834 "Set up tests to ensure integrity of zones.json"
We should set up tests to catch potential typos in zones.json.

This would also avoid #2833. where pumped hydro capacity had a hyphen in the key so it wasn't showing up on the map.

[2020-12-08 16:01] jarek commented on #2829
might have been fixed by https://github.com/tmrowco/electricitymap-contrib/pull/2828 ?

[2020-12-08 16:48] q-- commented on #2829
From a cursory look generation mix will probably work, but I'm not sure if #2828 has also fixed the exchanges.

[2020-12-08 20:57] veqtrus opened #2837 "Cyprus parser down due to error on source's side"
https://tsoc.org.cy/total-daily-system-generation-on-the-transmission-system/

[2020-12-09 11:58] corradio commented on #2593
can't reproduce anymore

[2020-12-09 11:58] #2593 closed

[2020-12-09 17:05] q-- opened #2838 "More data for Georgia (Country): forecast + historical"
http://gse.com.ge/for-customers/data-from-the-power-system/production-and-consumption

The download button lets you download an XLS file with more detail than the graph; it also has a generation breakdown. (Check the two tabs, "Plan" and "Fact", for forecast and actual production.)

![Planned Georgia Generation Breakdown Excel Sample](https://user-images.githubusercontent.com/2470175/101661757-f65

[2020-12-09 18:26] veqtrus commented on #2837
Issue fixed

[2020-12-09 18:26] #2837 closed

[2020-12-10 08:42] ilfrich commented on #2829
The new exchanges (3 of them, 2 to FR, 1 to NO) haven't been added yet.

[2020-12-10 08:43] ilfrich commented on #2832
The new exchanges (3 of them, 2 to FR, 1 to NO) haven't been added yet. Probably best to add them via ELEXON, will have a look.

[2020-12-10 08:56] ilfrich commented on #2832
Not 100% sure, but does the direction of the exchange matter? It looks like ELEXON returns positive and negative values depending on the flow, but the `EXCHANGES` listed in the parser seem to depend on the direction of the exchange and how it is defined.

They've also created 2 more exchanges to France (currently not providing any values yet), so there's probably some need to refactor the parser t

[2020-12-10 09:10] ilfrich commented on #2832
Did some more digging. It looks like ELEXON provides all their data under the following convention:

Given that, the ELEXON parser currently handles the `FR->GB` and `BE->GB` exchanges incorrectly (basically inverting the actual power flow).

[2020-12-10 10:07] ilfrich commented on #2832
Ok, the new link is added. I figured out the "direction" issue eventually. The answer became obvious once I saw the result, given the `sorted_zone_keys` are returned, and not the keys passed in.

[2020-12-10 10:13] ilfrich commented on #2829
Now I have :)

[2020-12-10 15:03] veqtrus commented on #2484
I looked at the full text of "Greenhouse gas emissions from hydropower: The state of research in 1996" and "Clean Energy For Sustainable Development" and they both only have data for specific plants.

[2020-12-10 22:43] numptie commented on #2696
@tth4vb - I would agree with your approach on having the regional breakdown.  There is also a significant difference in planning/energy policy between Scotland and England, and seeing energy flows between the two (including within the UK would be beneficial.

[2020-12-11 13:03] fbarl opened #2846 "Show header when loading"
There is no reason to hide the header while the map content is being loaded and having the header visible at all times would make smoother transitions between header links (Live / Open Source / API pages) in the desktop view.

cc @Kongkille

[2020-12-11 13:11] Kongkille commented on #2846
Yes good idea!

[2020-12-12 13:09] willbeaufoy commented on #2696
So I've emailed the contacts on the page multiple times now since my last update (a.r.w.bruce@gmail.com and lyndon.ruff@nationalgrid.com) but not received any response, does anyone have alternative contact details? In the email I asked two questions:

1. Is there a way to get the actual MW generation values per region from the API, or from another source that the API pulls from?
2. Is there a way

[2020-12-14 19:43] Bjarkigd opened #2848 "New additions to the Faroe Islands grid"
There have been added a bit of new renewables in the Faroes, and the website is finally showing the production.

https://www.sev.fo/framleidsla/el-orka-i-foroyum/

Vindorka - Wind has had +6.3 MW installed since last update. 18+MW will be added next year if all permits etc go the right way.
Biogasorka - Biogas is a new thing with with 1.5 MW installed capacaty
Sólorka - Solar, is new as well, not

[2020-12-14 21:17] q-- commented on #2848
Thanks for the heads-up.

I had a look at the FO parser and it's currently using https://w3.sev.fo/hagtol/xml/xkiefjSDKFjeijgjdkjf3847tgfjlkfdgnlsnfvm.xml as its data source. I can't find solar production in it (Ctrl+F Sol gives me nothing).

The production page you linked is also fetching its data from a different source than that, namely https://www.sev.fo/api/realtimemap/now. So now I'm wonderi

[2020-12-14 21:27] q-- commented on #2848
And to return to the subject of installed capacity, I was wondering if you've found a new source for the capacity data that can be listed in [DATA_SOURCES](https://github.com/tmrowco/electricitymap-contrib/blob/master/DATA_SOURCES.md)?

The current source is a thesis paper that's obviously not getting updated (in fact, it's gone from the website) so if you've found a new source for this data that

[2020-12-15 00:14] Bjarkigd commented on #2848
The old parser uses an old map (this one https://w3.sev.fo/framleidsla/ ) which probably at some point in the near future will go inactive, the utilities entire website has been relaunched/remade. So I would recommend just taking all data from the new site that I linked, which has launced sometime during the last week. The old one as you stated is missing solar, but also the biogas, and the added

[2020-12-15 10:22] q-- commented on #2848
Thanks, yes, that would be nice. I had a look if I could find any other sources this, but the closest I got was a mention of Røkt on [Wikipedia](https://en.wikipedia.org/wiki/SEV_\(company\)) citing [a now-removed SEV.fo page (Google cache)](https://webcache.googleusercontent.com/search?q=cache:http://www.sev.fo/Default.aspx%3FID=123) that didn't actually mention Røkt. So having an overview of all

[2020-12-15 13:37] q-- opened #2850 "Data for Iraq"
The ministry of energy now lists generation on its homepage

https://www.moelc.gov.iq/home?lang=en

[2020-12-15 14:05] #2710 closed

[2020-12-15 17:09] Bjarkigd commented on #2848
I've found a source on the capacity of Røkt, it's from a textbook, but still valid (long link) 3x660 kW = 1,98MW. https://books.google.com/books?id=mtPgM068hxkC&pg=PA186&lpg=PA186&dq=r%C3%B8kt+vindmyllur&source=bl&ots=Gv30-shbQ0&sig=ACfU3U3uqMtgY7VKMiZ7t-z-CRTwHH2hTg&hl=da&sa=X&ved=2ahUKEwjty-uiu9DtAhXpk4sKHePZB704ChDoATACegQIARAC#v=onepage&q=r%C3%B8kt%20vindmyllur&f=false

[2020-12-15 17:48] #636 closed

[2020-12-15 17:50] strassburger commented on #636
Thanks to ajoga, look like it works now

[2020-12-16 09:36] euanEmber1 opened #2852 "Data for Iraq IQ"
Hi Electricity mappers! Euan from Ember here - we're putting together data for an upcoming report, and I stumbled across this: https://www.gdoco.org/

It's real-time electricity data for Iraq, including a split by region, as well as flows between regions. I couldn't see data for Iraq on your frontend so thought I would share!

If you come across a way to query for data from specific times then ple

[2020-12-16 13:32] strassburger commented on #2801
batterie discharging 2020-12-2020 between 3:30 and 3:45.

[2020-12-16 16:08] q-- commented on #2801
I don't see it on [ElectricityMap](https://www.electricitymap.org/zone/AUS-TAS-KI?wind=true).  Storing 161kW at 3:30 and the same at 3:45. (Assuming CET time zone due to your username.)

(My suspicion so far is that the issue lies with how ElectricityMap is handling data and not with the data source, so the King Island dashboard could very well have been showing the battery discharging.)

[2020-12-16 16:25] strassburger commented on #2801
You still can see it today:
at:
spezifische CO₂-Emissionen in den letzten 24 h
or:
Ursprung der Elektrizität in den letzten 24 h

just go with the mouse pointer to 4:40 or 3:45 on time axle

Rainer Strassburger
rainer.strassburger@r-str.org

[2020-12-16 17:23] byronwilliams commented on #2852
For the live data (the only bit I'm particularly interested in) - the URL is here - https://www.gdoco.org/generation.html

Their page uses this URL to get the data https://www.gdoco.org/vueips.php - where each `d_{id}` corresponds to an item in the crazy HTML table. So to extract the South Gas you'd be looking for `d_1215` (`td[title="1215"]`). It looks pretty easy to get this into a PR. So I can

[2020-12-16 21:25] tth4vb opened #2853 "France <> GB interconnector missing data?"
Note from someone reaching out over email: the UK is still missing some of the interconnectors e.g French etc which were showing prior to loss of data.

[2020-12-17 02:14] jarek commented on #2853
Could be because https://github.com/tmrowco/electricitymap-contrib/pull/2840 is still open?

[2020-12-17 02:35] #2361 closed

[2020-12-17 02:49] jarek commented on #2801
As of right now (2:10 UTC December 17), the following battery values are found in the 24 hour JSON history for King Island:

[code]

However, I can't get them to display in EM graphs or the history view. This screenshot is from UTC-5, so 12:00 should be 17:00Z. Note the drop in source of electricity chart around 16:30, 16:45, 17:00 that could indicate missing battery production:

![ki](https://use

[2020-12-17 02:56] jarek commented on #2801
The `'battery discharge'` in KI parser was changed in https://github.com/tmrowco/electricitymap-contrib/pull/2776

[2020-12-17 12:08] q-- commented on #2801
IIRC the King island parser had not gone live on ElectricityMap in the two days between the merging of #2456 and @FelixDQ changing `battery` to `battery discharge` in  #2776, so I don't know if it worked before that change. However, I don't think battery output has ever shown up on the map after that PR was merged.

[2020-12-17 13:17] strassburger commented on #2801
Here we can see battery charging in a snapshot
![king-island-battery-charging-2020-12-17 14-11-24](https://user-images.githubusercontent.com/28303688/102492874-97133580-4072-11eb-9aa3-d7bb4c84feab.png)

[2020-12-17 14:11] tth4vb commented on #2853
@jarek ah yes, could be! Just wanted to capture this feedback when it came in, but hopefully can be fixed by that PR. Thanks for the heads up :)

[2020-12-17 14:16] jarek commented on #2801
But the problem is the battery never _discharges_

[2020-12-17 14:17] jarek commented on #2801
@corradio on Slack says:

Anyone want to put up a quick PR?

[2020-12-17 14:48] strassburger commented on #2801
@jarek
sorry, mistake in my last comment -corrected now-.
It really shows discharging -left of zero bar- in battery storage

[2020-12-17 15:22] jarek commented on #2801
Left of zero bar is not discharging.

On EM website, left of 0 indicates the battery is charging. The grid has lots of energy and is supplying energy to the battery. Die Batterie lädt.

Right of 0 indicates the battery is discharging. The grid doesn't have enough energy, so battery is supplying energy to the grid. Die Batterie versorgt das Netz mit Energie.

![Screenshot_2020-12-17_09-57-55](https

[2020-12-17 15:36] strassburger commented on #2801
@jarek,
thanks for your comment.
Have other opinion. But not the point.
Right now the bar shows to the right. My opinion: charging.

In https://www.hydro.com.au/clean-energy/hybrid-energy-solutions/success-stories/king-island:
minus value -33 right now.

In EM pos value of 49kW

If the bar is changing between right and left one is charging, the other is discharging.

[2020-12-17 15:57] corradio commented on #2801
Hello,

Just to clarify, when the bar is to the right, then it is supposed to mean
that the system is discharging (i.e. supplying electricity to the grid,
just like a normal production unit).
It might be that the direction is counterintuitive, but however at this
stage it seems to indicate that the data is improperly supplied to our
system.

Let's change the underlying data and then we can discuss

[2020-12-17 16:02] q-- commented on #2801
I'll make a PR for this

[2020-12-17 16:15] strassburger commented on #2801
suggestion: Issue Name change???
"King Island: battery never seems to discharge"
change to "King Island: battery charging / discharging wrong direction"

[2020-12-17 16:39] q-- commented on #2801
Well, that's a a different matter. As the others have also tried to explain, what's going wrong here is that when the battery is providing electricity to the grid (=discharging), that isn't shown on ElectricityMap. Drawing electricity from the grid and storing it in the battery (=charging) gets shown normally.

What you're suggesting is, as I understand it, when charging a battery, having that sho

[2020-12-17 17:08] strassburger commented on #2801
@q-
First: My opinion is that discharging is shown right now left in neg value.
That means the title of the issue is not correct

You wrote:
"What you're suggesting is, as I understand it, when charging a battery, having that shown at the right of this
Sorry, Exactly that is the right now situation.

My suggestion is to change left and right, that discharging will be shown right and charging shown

[2020-12-18 03:17] jarek commented on #2801
It is.

[2020-12-18 13:00] mhooi commented on #2804
@FelixDQ, could you elaborate how to merge this proposed fix?

[2020-12-20 19:21] ajoga commented on #2533
I played with it a bit, to be more specific, a change [here](https://github.com/ajoga/electricitymap-contrib/blob/83e937fb6ebbd6ef4f86eada892732051c9de935/parsers/AUS_TAS_KI.py#L61 ) fetches some data

`TagHub` -> `flindershub` | `HogsHub` (hello #2534 :))
`Dashboard` -> `SendDashboard`

It seems that SendDashboard is a method to get more data than for KI's parser (I don't remember also getting ca

[2020-12-22 13:17] corradio commented on #2824
Closing as this is a duplicate of #892

[2020-12-22 13:17] #2824 closed

[2020-12-22 13:21] corradio commented on #2765
@q-- should we close this one then?

[2020-12-22 13:26] corradio commented on #2699
Hi @Gazer75 ,
Indeed I confirm the issue, as can be seen from the code at
https://github.com/tmrowco/electricitymap-contrib/blob/master/parsers/ENTSOE.py#L173-L174

The ENTSOE.py parser currently doesn't support summing multiple interconnectors, and I guess this could be made as an improvement to avoid having to split SE.

[2020-12-22 13:32] corradio commented on #2700
This is due to a discrepancy between the two conditions
https://github.com/tmrowco/electricitymap-contrib/blob/52db4e03fac4ee5d85b59b08754899b4418bf37e/web/src/helpers/zonedata.js#L41
and https://github.com/tmrowco/electricitymap-contrib/blob/master/web/src/components/tooltips/countrypanelexchangetooltip.js#L35

[2020-12-22 13:39] corradio commented on #2674
Hi @PaulCornelissen ,

I agree with the exchange capacities. However, I couldn't reproduce the issue you faced with `sortedCountryCodes` / `sortedZoneKeys`, although I agree the naming should be unified.
Could you let us know how to reproduce the issue?

[2020-12-22 13:39] corradio commented on #2632
@q-- feel free to submit a PR! Should be quite fast to fix.

[2020-12-22 13:42] corradio commented on #2666
Hi @q-- ,

This is clearly a problem. Adding a new category is something we'd rather avoid.
As a first step, I suggest having wind+solar reported as `unknown` generation, as it clearly is wrong to assume it is one or the other.
As a second step, I suggest overriding the emission factor for `unknown` assuming a static `unknown` mix (e.g. 30% wind, 30% solar and 40% thermal).

[2020-12-22 13:43] corradio commented on #2617
Any news here? Seems some easy to do!

[2020-12-22 13:46] corradio commented on #2579
Closing due to inactivity. Feel free to reopen if this is still an issue!

[2020-12-22 13:46] #2579 closed

[2020-12-22 13:48] corradio commented on #2578
Maybe a quick fix is the add the suffix " (browser time)" to the datetime so it's clear to everyone?
Then as a second step we can think about showing local time?

[2020-12-22 13:49] corradio commented on #2577
@q-- it seems like this was done in https://github.com/tmrowco/electricitymap-contrib/pull/2576/files correct?

[2020-12-22 13:51] ajoga opened #2857 "bounding_box documentation"
Hello,

I'm trying to add an island, and [I can't find documentation](https://github.com/tmrowco/electricitymap-contrib/search?q=bounding_box&type=wikis) on what are and how to determine the `bounding_box` dictionary in [zones.json](https://github.com/tmrowco/electricitymap-contrib/blob/master/config/zones.json#L16).

Could someone help?
Thanks

[2020-12-22 13:55] corradio commented on #2570
@q-- if in case you deem the GenerationProfile data of insufficient quality, then I don't think we should qualify this parser as buildable.
I'm not sure that just having the load profile with a static intensity is of great value here?
However it might be good to show the incomplete mix at this stage, as this might motivate Nigerian officials to do something about their data once they see it on the

[2020-12-22 13:56] corradio commented on #2495
Closing due to inactivity

[2020-12-22 13:56] #2495 closed

[2020-12-22 13:58] corradio commented on #2491
@alixunderplatz @fbarl any preferences?
Would love to close this one :)

[2020-12-22 13:59] corradio commented on #2467
Seems like the people have spoken! I'll close this for now unless it gets prioritised from the product team.
cc @Kongkille

[2020-12-22 13:59] #2467 closed

[2020-12-22 14:01] corradio commented on #2462
Hi folks,

Any news here? If not, I suggest breaking things down as individual issues to make it more actionable?

[2020-12-22 14:03] corradio commented on #2358
Closing due to inactivity

[2020-12-22 14:06] corradio commented on #2314
Closing due to inactivity

[2020-12-22 14:06] #2314 closed

[2020-12-22 14:07] corradio commented on #2312
Closing due to inactivity

[2020-12-22 14:07] #2312 closed

[2020-12-22 14:09] corradio commented on #2158
I think this is a good idea, but I will close it due to inactivity, unless someone sees a clear way forward and wants to dedicate time here.

[2020-12-22 14:09] #2158 closed

[2020-12-22 14:11] corradio commented on #2696
I suggest we use https://github.com/tmrowco/electricitymap-contrib/issues/1894 to track this issue

[2020-12-22 14:11] #2696 closed

[2020-12-22 14:12] corradio commented on #1894
Note: https://github.com/tmrowco/electricitymap-contrib/issues/2696 had a lot of very good input on this matter.

[2020-12-22 14:14] corradio commented on #1762
Closing due to inactivity

[2020-12-22 14:14] #1762 closed

[2020-12-22 14:14] corradio commented on #1871
@PaulCornelissen I believe this issue can be closed?

[2020-12-22 14:16] corradio commented on #1003
Closing due to inactivity
cc @Kongkille for inspiration

[2020-12-22 14:16] #1003 closed

[2020-12-22 14:17] corradio commented on #1745
Closing due to inactivity

[2020-12-22 14:17] #1745 closed

[2020-12-22 14:17] corradio commented on #1535
Closing due to inactivity

[2020-12-22 14:17] #1535 closed

[2020-12-22 14:18] corradio commented on #78
@tth4vb @Kongkille what is the outstanding work remaining to be done on NL?

[2020-12-22 14:19] #802 closed

[2020-12-22 14:23] corradio commented on #1196
Duplicate of https://github.com/tmrowco/electricitymap-contrib/issues/1196

[2020-12-22 14:23] #1196 closed

[2020-12-22 14:23] corradio commented on #1985
Duplicate of https://github.com/tmrowco/electricitymap-contrib/issues/2580

[2020-12-22 14:23] #1985 closed

[2020-12-22 15:20] q-- commented on #2577
For current production, yes. But as I understand it ElectricityMap also keeps historical data behind its API, and everything logged as "natural gas" before the merging of #2576 was actually biomass. So you might want to update that in your database.

(I've later updated the PA parser and it's now also able to recognize actual natural gas plants, so data logged as "natural gas" after #2642 was merg

[2020-12-22 15:28] q-- commented on #2462
I've looked into the AM parser a week or so ago and the entire website http://epso.am is gone.

I've looked at a few other related Armenian websites like [https://energyagency.am/en](Armenian Energy Agency), [http://www.ena.am/index.aspx?lang=2](Electric Networks of Armenia), [http://www.hven.am/en/fp/](HIGH VOLTAGE ELECTRIC NETWORKS) and http://www.minenergy.am/en/page/539 but none of them have r

[2020-12-22 15:30] q-- commented on #2611
I've looked into the AM parser a week or so ago and the entire website http://epso.am is gone.

I've looked at a few other related Armenian websites like [Armenian Energy Agency](https://energyagency.am/en), [Electric Networks of Armenia](http://www.ena.am/index.aspx?lang=2), [HIGH VOLTAGE ELECTRIC NETWORKS](http://www.hven.am/en/fp/) and http://www.minenergy.am/en/page/539 but none of them have r

[2020-12-22 15:39] jarek commented on #2358
In the PR linked in the first comment, Tomorrow  accidentally deleted work others contributed, but you haven't bothered to bring it back in 8 months and we fallback to a generic 301 gCO2eq/kWh... that doesn't feel great :/

[2020-12-22 15:50] q-- commented on #2666
@corradio The problem is that, unlike in other parsers, BO already uses `unknown` for thermal generation so it can't be used for renewables

[2020-12-22 20:57] corradio commented on #2580
Hi all,
I've started working on a parser here:
https://github.com/tmrowco/electricitymap-contrib/pull/2860
It reads from OpenNEM.
However I wasn't able to find exchange data in OpenNEM

[2020-12-23 10:04] corradio commented on #2666
Ok. I still think it makes sense to lump together thermal and renewables in `unknown` if we can't separate them individually. That means `unknown` becomes a category that doesn't contain exclusively thermal, and therefore the emission factor of `unknown` must be overwritten.
We shouldn't assume `unknown` is always thermal.

This solution is better than showing solar as wind :)

[2020-12-23 10:17] corradio commented on #2358
@jarek yes indeed, I don't feel great about it either :/ The issue here is that we had a data inconsistency as we only had the fallback values (intensity and % renewable), and not the mix, which meant that some zones crashed our system as there were two ways to e.g. determine % renewable: using the fallback value, or using the fallback mix.
We therefore coded unit tests and had to make a choice to

[2020-12-23 10:18] corradio commented on #2577
Great! Thank you so much. ping'in @FelixDQ so we make sure our internal systems are updated.
I'll close this issue as this task seems done

[2020-12-23 10:18] #2577 closed

[2020-12-23 10:57] corradio commented on #2358
I ended up finding them all quite easily, making a PR

[2020-12-23 11:25] magol commented on #2617
How do you know if all available regions are online? I compare the image to current map, and I see that it is regions present in the image that is gray right now on the map.

[2020-12-23 11:27] corradio commented on #2857
Hi @ajoga ,

This is the script we use: https://github.com/tmrowco/electricitymap-contrib/blob/master/web/generate-zone-bounding-boxes.js
Could be a good idea to write some doc and upgrade the script so it can be run on a single zone (instead of updating all bounding boxes of all zones!)

[2020-12-24 09:03] PaulCornelissen commented on #2674
I'm not near my computer currently, but from memory:
If you look at the state file (https://raw.githubusercontent.com/tmrowco/electricitymap-contrib/master/mockserver/public/v3/state) you see some exchanges with a key called `sortedCountyCodes` in there and some with the key called `sortedZoneKeys`. Now if you run the mock server and look at the map, then the exchanges `sortedCountryCodes` show up

[2020-12-24 09:30] PaulCornelissen commented on #1871
Yes. NL data quality is still sub-par, but we can best track that in #78.

[2020-12-24 11:32] corradio commented on #2674
Hi @PaulCornelissen ,
Thank you for bringing this to our attention. It comes from the fact that we allow both `sortedZoneKeys` and `sortedCountryCodes` in our parsers (cf https://github.com/tmrowco/tmrow/blob/master/src/electricitymap/feeder/lib/fetch_data.py#L114-L115 in our backend, which is not open sourced).
Note that we internally map `sortedZoneKeys` to `sortedCountryCodes`.

We shouldn't ha

[2020-12-24 11:34] corradio commented on #1871
Perfect, thank you all for your efforts, and merry christmas 🎄

[2020-12-24 11:34] #1871 closed

[2020-12-24 18:46] PaulCornelissen commented on #2804
@mhooi the challenge is not in merging the change, but calculating a best estimate.

@q--

When I download the ENTSO-E transparency data for 2019 I get to 50,342TWh of Fossil Gas generation instead of the 12,345TWh you mention:
<img width="1138" alt="image" src="https://user-images.githubusercontent.com/5185181/103092726-79a51500-45f8-11eb-8390-fb8748d379e8.png">
Is that the difference between rea

[2020-12-24 21:44] simonhac commented on #2580
hi, i’m the product manager for opennem. we’d love to help.

i don’t hang out here, so probably best to DM me on twitter @simonahac.

[2020-12-25 10:25] #2591 closed

[2020-12-25 10:41] alixunderplatz commented on #2666
Hi @q--
I think the renewable section was assigned to "wind" back then, because wind energy had a significantly larger share than solar back then (probably based on data <=2017), see IEA graph:
![grafik](https://user-images.githubusercontent.com/25743609/103132566-67cd7b80-46a5-11eb-89db-8b7ccfd103c1.png)