[2019-04-06 07:00] alixunderplatz opened #1818 "Implement offshore-interconnector geometries"
The link to the awesome project openinframap.org was posted recently on Slack:
https://openinframap.org/
There also is a github repo:
https://github.com/openinframap/

It includes many of the world's transmission and distribution high-voltage grids and other infrastructure-grids.
Maybe there is a way to use the line geometries of the offshore-cables between the zones for electricityMap one day?

!

[2019-04-08 13:18] eimose opened #1819 "Import/export for Bornholm-Sweden"
It seems like the import/export between Bornholm and Sweden has been switched around, so export is currently import and vice versa. A positive float is export _from_ Bornholm _to_ Sweden.

[2019-04-08 14:01] #1819 closed

[2019-04-08 14:02] corradio commented on #1819
Indeed it seems likeit. I'm deploying a new version.

[2019-04-09 17:46] tmslaine commented on #1253
@jarek Can we reopen this one?
Real-time data seems to be available from Electro Power Systems Operator at:
http://epso.am/scada.htm
![Armenia_Scada](https://user-images.githubusercontent.com/25774514/55820851-c71bde80-5b04-11e9-92f5-1f2e16bc3500.png)
What is included:
Top left, in blue:
- Սպառում - Consumption
- Գեներացիա - Generation
- Փոխհոսք - Exchanges, Positive number=Export?

Boxes top row:

[2019-04-09 18:11] jarek commented on #1253
Yep, and the numbers are different now than in your screenshot, so we know the data is not leftover static.

It's all one big image and the contrast between text and background colour isn't great, so I don't know how successful OCR will be, but might be worth a shot for someone.

[2019-04-10 09:45] systemcatch commented on #1253
Great work @tmslaine!

There looks to be exchange info at http://epso.am/poweren.htm

![AM_ex](https://user-images.githubusercontent.com/30196510/55869087-b5c2e880-5b7d-11e9-9d65-897f90813553.png)

[2019-04-10 14:02] jarek commented on #1253
Could we manually check if the data on http://epso.am/poweren.htm matches the data on http://epso.am/scada.htm a couple of times a day? The former is text so would be a lot easier to integrate. I guess it doesn't break out the thermal power plants nor "alternative station" by fuel though.

[2019-04-10 19:51] jld3103 opened #1821 "Not able to start web container"
I'm running this command:
[code]
And I'm always getting the same error:
[code]

I already tried rebuild the container, removing everything (containers, volumes, networks), but the error doesn't go away.

I'm using Docker 18.09.4, Dockercompose 1.23.2 and Dockermachine 0.16.0.

[2019-04-11 06:48] corradio commented on #1821
Hi @jld3103,
The error `Are you trying to mount a directory onto a file` seems to suggest that `server.py` might be a directory on your machine. Can you check?
Also, are you on windows? Have you tried looking at https://github.com/tmrowco/electricitymap-contrib#troubleshooting?

[2019-04-11 08:01] jld3103 commented on #1821
I'm on Linux and I already tried to troubleshoot.
Before I tried to troubleshoot I couldn't reach the frontend, but I could reach the mockserver.
Then I installed Dockermachine and I got this error.

Using dir -al I got this:
[code]

[2019-04-11 08:24] corradio commented on #1821
As an easy fix, you can delete that line from docker-compose.yml:

![image](https://user-images.githubusercontent.com/1655848/55942088-f08f5400-5c43-11e9-9e6e-a290f26fa3d4.png)

You don't need to have server.py mounted

[2019-04-11 09:37] jld3103 commented on #1821
Now I got another error:
[code]

I'll try to remove that file, too.

[2019-04-11 10:49] jld3103 commented on #1821
I had to remove all files (not directories) from the volumes, but then I got this error:
[code]

[2019-04-11 10:58] corradio commented on #1821
Unfortunately it won't work if you remove all volume mounts because the watch command will create files that needs to be access by the mockserver.
You should be able to mount files as volumes in linux. Unfortunately I don't know enough about your docker installation to know why there's an issue there.
https://github.com/moby/moby/issues/27010#issuecomment-250437911 seems to be a good place to star

[2019-04-11 11:10] jld3103 commented on #1821
I have an older setup on my laptop from November 2018. I'll try it there and then update to the current version and check if it's working.

[2019-04-11 12:41] jld3103 commented on #1821
So I look into the VM and found (as the error and reports you send said) all files mounted as empty directories.

[2019-04-16 11:38] alixunderplatz commented on #1806
So I had another look at the related data and I think I found the main bug :)

1.) The data for the moyle-interconnector in fetch_exchange is problematic.
The csv behind the data (get it at http://ws.soni.ltd.uk/DownloadCentre/aspx/MoyleTie.aspx) is either showing a negative value (=import to NIR) or 0 for Moyle, but never (!) a positive value.
This means, on the map, the power flow is only coming

[2019-04-16 13:50] corradio opened #1824 "Update capacities for BE"
I just received this email, which hints at BE capacities:

![image](https://user-images.githubusercontent.com/1655848/56215109-6558f880-605f-11e9-9882-60c37dac4ed9.png)

[2019-04-16 13:54] alixunderplatz commented on #1824
Nice! I'll update this :)

[2019-04-16 16:04] #1824 closed

[2019-04-18 07:33] #1806 closed

[2019-04-18 12:14] corradio commented on #1806
@alixunderplatz PR has been deployed - does it look better?

[2019-04-18 13:32] alixunderplatz commented on #1806
@corradio the exchange of NIR with Ireland looks good and smoothly fills the top of IR's load curve
![image](https://user-images.githubusercontent.com/25743609/56364189-40df5680-61ee-11e9-9cc7-210026bf6f48.png)

NIR however has a load of ~1000 MW at the moment, but it's only producing 800 MW while at the same time exporting 200 MW to GB. So now I have messed up the direction for that exchange^^ I'

[2019-04-18 18:26] alixunderplatz commented on #1253
FYI: I am working on this parser atm and will submit a work-in-progress PR soon ;)

[2019-04-21 22:35] tmslaine commented on #541
Just noting here that real-time transparency has slightly improved lately in Western and Central Japan:
- Chubu region added solar 5-min data to their real-time consumption files (PR pending).
- Chugoku, Hokuriku and Tokyo regions have the solar production info on their website, latest value only. This is what we already had for Kyushu.
- Kansai region has solar production as graph on the website,

[2019-04-22 14:06] jarek commented on #679
Per http://wesm.ph/inner.php/news/news_and_events/574, WESM and Philippine Electricity Market Corporation might have created or activated a new body called Independent Electricity Market Operator of the Philippines with website http://www.iemop.ph/ which might possibly have with more or different data. They seem to have generation mix for Mindanao now, for one thing. I have not yet checked if the

[2019-04-24 21:06] alixunderplatz commented on #78
Hey guys, some very good news on this topic!
The data on ENTSOE for NL looks wayyyy better than before! :)

Here is what it looks like for today:
We now have some data for gas (green), nuclear (grey), coal (purple) and other (blue)!
However, solar is still missing, and wind just seems to be a bit too low at the moment.

![image](https://user-images.githubusercontent.com/25743609/56692962-a39b8b00-

[2019-04-25 20:49] alixunderplatz opened #1833 "Check/fix parsers of "lost" areas"
In the last couple of weeks, some areas on the map went grey.
Here's a list with regions that need a parser fix / investigation of the source:

- [x] **US-BPA** is grey (Washington (state))

- [x] **US-IPC** is grey (Idaho)
  - data url was changed, I think this data source could no more be available in real-time
  - see #1803 for latest commit

- [x] **IT-South** is grey + IT<->GR is missing (ENT

[2019-04-25 20:50] jarek commented on #1833
Alberta, too. I've been meaning to check on it, page http://ets.aeso.ca/ets_web/ip/Market/Reports/CSDReportServlet still loads...

[2019-04-26 06:38] #1665 closed

[2019-04-26 09:52] systemcatch commented on #1833
US-BPA data link seems to be working fine (https://transmission.bpa.gov/business/operations/Wind/baltwg.txt)

Logger is showing an error that's related to pandas.

[code]

[2019-04-26 10:23] systemcatch commented on #1833
Seems like to_datetime() is being replaced by to_pydatetime(). This warning isn't captured by the logger but I don't see why the parser is breaking since this is just a warning on 0.22.0

[code]

[2019-04-26 11:29] corradio commented on #1833
Actually we're using 0.24.2 internally, and it has overridden the version here, so that explains the error.

[2019-04-26 12:32] corradio opened #1834 "Australia wind is off"
Two solutions:
1. update power mapping
2. switch data source to opennem

[2019-04-26 14:19] systemcatch commented on #1833
Ah ok well regardless the fix is easy.

[2019-04-28 11:30] alixunderplatz commented on #934
We could now use OCR to extract the system load of Belarus. They added the value in MW to the load graph image :)
http://odu.by/upload/Potreblenie.png

![image](https://user-images.githubusercontent.com/25743609/56863634-39236d00-69b9-11e9-9b7d-a63c849e9fdd.png)

Still, no fuel types are given, but electricity is almost entirely from gas ([>97%](https://www.iea.org/statistics/?country=BELARUS&year

[2019-04-29 09:20] ole-tange opened #1836 "Video for historical data?"
A cool thing would be to make a snapshot of the map every hour and make that into a video: Denmark may be green today, but how does that look over a full year?

Maybe make a video for each continent?

Posting a new video every month could be a regular blog-event similar to Netcratft's webserver survey.

[2019-04-29 09:34] corradio commented on #1836
Hi @ole-tange ,

Have you seen this?
https://www.youtube.com/watch?v=GxB91InvxiY

We publish it once a year as it takes quite some resources to generate it.
We also have a european version on our Youtube channel

[2019-04-29 09:36] #1253 closed

[2019-04-30 16:23] jld3103 commented on #1821
So somehow it fixed it self. I reset my computer and now it works! I Really don't know why it didn't work before.

[2019-04-30 16:23] #1821 closed

[2019-04-30 19:27] systemcatch commented on #1817
Hey @alixunderplatz I tried your fix but had to go 2 hours back (hour=20 instead of hour=22 that the parser was requesting).

Maybe we could check the json response for each ID that is mapped to an exchange. If all of them are zero we could request the hour before and keep going (within reason) until we hit good data?

[2019-04-30 21:20] jld3103 commented on #437
Look at #1837

[2019-05-01 11:21] jld3103 opened #1838 "Translation status"
We should have some kind of translation report to know which languages need to be translated (a bot or something).
Maybe a small custom translation UI would be cool as well.

[2019-05-01 18:50] jld3103 opened #1839 "Wrong (?) price"
I found this:
![electricitMap_wrong_price](https://user-images.githubusercontent.com/26026535/57035548-9ede5600-6c52-11e9-81a0-0479321f6629.png)
It looks like the price is not correct.
If it isn't wrong you have to explain me why :)

[2019-05-01 19:08] jarek commented on #1839
Electricity prices do go negative:
https://www.cleanenergywire.org/factsheets/why-power-prices-turn-negative
https://www.bloomberg.com/news/articles/2018-08-06/negative-prices-in-power-market-as-wind-solar-cut-electricity

I'm not finding an article about today's prices, but consider that today is a holiday in Germany, and evidently there was a fair bit of sun and wind. Probably complicating matte

[2019-05-01 19:14] jarek commented on #1839
You can see that the same negative price is shown on https://www.energy-charts.de/price.htm?auction=1h&year=2019&month=5

Electricity Map's German data, including prices, ultimately comes from ENTSO-E Transparency Platform, in particular it looks like the -2.82 EUR value comes from https://transparency.entsoe.eu/transmission-domain/r2/dayAheadPrices/show?name=&defaultValue=false&viewType=TABLE&are

[2019-05-01 19:18] alixunderplatz commented on #1839
@jld3103 negative prices happen from time to time. the electricity price is mainly based on the amount of required fossil/conventional power. the more renewables feed in electricity, the cheaper the market price will be.
today was a holiday in Germany, so a day with low electricity demand, but high renewable share, especially in the afternoon. when fossil power plants are not shut down in the requ

[2019-05-01 19:18] #1839 closed

[2019-05-02 05:45] #437 closed

[2019-05-02 09:38] systemcatch commented on #1563
Seems like the load url (http://power.kpx.or.kr/powerinfo_en.php) is no longer working.

[2019-05-02 14:53] jld3103 opened #1841 "Language select not responsive"
The language select should be display full screen on mobile devices.

[2019-05-02 18:34] corradio commented on #1841
Also, in the mobile *app*, the redirect needs to be different, see
https://github.com/tmrowco/electricitymap-contrib/blob/master/mobileapp/www/index.html#L11

[2019-05-02 22:02] typicalTYLER commented on #1160
This isn't an especially pressing matter, but I think ERCOT now technically covers most of the panhandle of Texas as well:
![image](https://user-images.githubusercontent.com/6762150/57109424-0bad2b00-6cfb-11e9-8e16-c676074b1a9f.png)
This image taken from the ERCOT website for prices. I read that Lubbock is also close to being in ERCOT, so I imagine a lot of the panhandle counties are joining in th

[2019-05-02 22:12] typicalTYLER commented on #1160
Another point, I was hoping to use ERCOT's forecast and historical data to build a tool to help me schedule when to charge my electric car based off carbon intensity. And I thought maybe adding those to the US-TX parser would be a good way to do so, but it seems like all access to that data is behind paid APIs only, even if I were to be the one to implement them. Am I understanding correctly?

[2019-05-03 10:11] systemcatch commented on #1833
GT error that keeps happening.

[code]

JP parsers failing quality test

[code]

[2019-05-04 12:34] bmckinlay opened #1844 "Midnight glitch in UK-GB data"
Reported wind generation drops to zero every day at midnight.

<img width="361" alt="Screenshot 2019-05-04 at 13 22 17" src="https://user-images.githubusercontent.com/13368547/57179023-fd811b00-6e70-11e9-99f7-814c0cfcd3cd.png">

Possibly related to #1779?

[2019-05-04 13:13] jld3103 commented on #1844
And maybe also related to #1754

[2019-05-05 08:44] jld3103 commented on #1768
Look at #1846

[2019-05-05 08:55] #1768 closed

[2019-05-05 16:27] systemcatch commented on #1844
@lorrieq any ideas here?

[2019-05-05 19:01] alixunderplatz commented on #1563
@systemcatch There also is some load/forecast data on this page:
http://epsis.kpx.or.kr/epsisnew/#
The continuous values in the graph seem to come from:
http://epsis.kpx.or.kr/epsisnew/selectMainEpsMep.ajax (URL was posted in the second comment of this issue)
The figure behind each *"Value2":*  is the load of the 5 min period.
Not sure if it's worth the effort to scrape it. We better just stick wi

[2019-05-05 20:09] systemcatch commented on #1817
@alixunderplatz actually the easier solution could be to modify the parser to return exchange data for the entire day. That would also let us fetch historical data.

[2019-05-05 20:34] jld3103 opened #1850 "Add the African continent"
I've found [this](https://www.africa-energy.com/live-data) provider which seems to cover the whole continent.
This would be perfect, because we have almost the whole continent not covered.
I wrote an email to ask some questions about the data they provide and if it's possible to get free access to it.
I'm going to update this issue when I get a response.

[2019-05-06 16:34] jarek commented on #1850
Let us know if they do indeed have hourly generation data per plant or per fuel. I am a bit skeptical but I'm prepared to be pleasantly surprised.

[2019-05-07 19:31] alixunderplatz commented on #1850
Nice catch, @jld3103! This is from where I once took the numbers for Namibia's solar & wind capacity. They have a large database with all larger generators and also smaller projects in the Kilowatts range, which is great!
I'm also sceptical that "live data" referrs to real-time elctricity generation, and I think it's more like tracking a status of planned/realized renewable projects. https://www.a

[2019-05-08 07:16] jld3103 opened #1851 "Better contrast on map"
1. The country borders should be more visible (Dark color?)
2. The hovered country should be more visible (Darker color)
3. Oceans should be more visible (Blue color)

[2019-05-10 11:27] #1817 closed

[2019-05-11 15:59] #1785 closed

[2019-05-12 20:40] jld3103 commented on #655
Chile seems to be offline, but the data is available.
Here are more data sets I found:
* Installed capactiy:
  http://datos.energiaabierta.cl/dataviews/240266/CAPAC-INSTA-DE-GENER-TOTAL/
  http://datos.energiaabierta.cl/rest/datastreams/259485/data.grid/?page=0 (JSON)
* Daily generation by fuel:
  http://datos.energiaabierta.cl/dataviews/249427/GENER-PROGR-DIARI-POR-FUENT/
  http://datos.energiaab

[2019-05-15 08:49] #1834 closed

[2019-05-15 08:59] corradio commented on #1196
Any news here?
I've seen https://github.com/opennem/opennempy which could be very helpful
Their dashboard looks nice:
https://opennem.org.au/#/all-regions

[2019-05-15 09:00] corradio commented on #1836
Closing due to inactivity

[2019-05-15 09:00] #1836 closed

[2019-05-15 22:32] Bohne13 opened #1855 "App port to Flutter framework"
For cross-plattform development it could be perfect to port this app to the Flutter framework.
It compiles to native ARM code for iOS and Android, and there is also a technical preview for the web.
This could make development easier, and maybe it boosts the performance of the app.

Flutter homepage:
https://flutter.dev/

Information about Flutter for the web:
https://flutter.dev/web

[2019-05-16 06:17] corradio commented on #1855
Hi @Bohne13 ,

Sounds like a great idea. However wouldn't it mean rewriting the whole app in DART?

Olivier

[2019-05-16 06:31] Bohne13 commented on #1855
It depends! At first, Flutter is a UI framework so only the UI has to be rewritten. The backend could be the existing codebase.
It could make sense to rewrite the backend too, but this could bee a second or third step.

[2019-05-16 20:04] jld3103 commented on #1855
I really love Flutter and work with it all day and already thought about this option, but I think it would take some time to reimplement all the features. Additionally when [flutter web](https://github.com/flutter/flutter_web) releases we could replace the current webpage. Another advantage would be that we can easily port the app to [desktop](https://github.com/google/flutter-desktop-embedding).

[2019-05-16 23:24] Bohne13 commented on #1855
That sounds promising to me!
So I have only started to learn the Flutter framework, but I would be really interested to see the development of a super cool cross-platform app!

So @jld3103 if you start a fork or a new branch, let me know!

[2019-05-17 08:16] jld3103 commented on #1855
Maybe it should be another repo? I think that would be better for organization.

[2019-05-17 08:22] jld3103 commented on #1855
@Bohne13 are you on slack?

[2019-05-17 08:23] corradio commented on #1855
@jld3103 that's a good idea. The main bottleneck I see is the map implementation. Are you aware of a library that would enable us to do it on flutter? Are we sure that the web version will be as performant as the current implementation?

[2019-05-17 09:02] Gazer75 commented on #1736
Looks like the unknown values have disappeared now. Anyone able to look back in time and see how long? I do not have "pro".

[2019-05-17 15:16] jld3103 commented on #1855
There are libraries to draw map tiles. We would need to pre generate these tiles at build stage. Flutter on the web was released a few days ago as a technical preview. Currently it's usable. On mobile it's really performant.

[2019-05-17 15:41] Bohne13 commented on #1855
@jld3103 no actually I'm not on Slack. But if there are some good reasons why I should hang around there, I could come to Slack.

[2019-05-17 15:46] Bohne13 commented on #1855
I think, for the web, it could be to early, but for the Android and iOS app, it should be a powerful replacement.
I haven't the experience, but porting from Flutter for mobile to the web should be relatively easy.
Flutter for the web will be massively improved during this year!

[2019-05-18 14:49] fbarl commented on #1592
Related to #1838.

[2019-05-18 16:45] fbarl opened #1857 "Make electricity consumption pop-ups more user friendly when no data"
#### Suggestions

1. When there is no data available for a particular energy source (e.g. Iraq's biomass), the content would read more nicely if it was replaced by a single sentence:

    _Biomass consumption data is not available for Iraq._

2. When the consumption for a particular energy source equals 0 (e.g. Switzerland's geothermal), the last paragraph _with a carbon intensity..._ could probab

[2019-05-18 16:53] fbarl opened #1858 "Language selection is not persistent"
After selecting e.g. a German translation, the `&lang=DE` part quickly appears in my Chrome browser address bar before disappearing again.

The app gets translated but the language context is lost, so when I refresh the page, I'm back to the English version.

1. Keeping language as a query param seems like the right approach to me - it's probably a bug that it gets dropped
2. Alternatively, the la

[2019-05-19 07:38] corradio commented on #1858
Indeed the proper behaviour would be set a cookie that remembers the language.
It's important not to have it in the URL as people share the website on social media and the language shouldn't be part of that.

[2019-05-19 08:08] erdmark opened #1859 "Map not usable over tor"
Wen fetching electricitymap.org over tor the basic map loads but without showing any electricity data. For example fetching https://api.electricitymap.org/v3/history?countryCode=DE results in an http 403 error

[2019-05-19 10:14] Varmin123 opened #1860 "Split Azerbaijan and Nagorno-Karabakh Republic networks"
Hi everyone,

First of all, I wanted to thank you for adding recently Armenia. However, it seems that there is a little detail lacking in the CO2 emissions.

Indeed, electricity imports from OHTL Artsakh and OHTL Shinuhayr are counted as imports from Azerbaijan. In practice, those imports come from Nagorno-Karabakh Republic (NKR), a de facto independant state. The networks of AZ and NKR have been

[2019-05-19 15:14] Gazer75 commented on #1430
Last I heard the plant at Melkøya is required to deliver power through a 132kV cable in emergency situations.
Statnett is currently extending the 400kV grid from Balsfjord to Alta(2021) and Skaidi(2023).
After that the chance of it delivering to the grid is pretty much 0.
A 400kV from Skaidi to Melkøya is also possible as Equinor indicates the need for an additional 270MW.

Research indicated 229M

[2019-05-20 13:32] jld3103 commented on #1855
My idea was to create an svg on the device an them display it. This should be very performant.

[2019-05-20 13:38] systemcatch commented on #1859
Using Tor Browser 8.0.9 -- May 7 2019

I can load the site + overlay + zone data but the actual map tiles won't load.

[2019-05-20 14:15] jarek commented on #1860
Thanks for the great description of the system in place! That'll be really helpful.

[2019-05-20 14:19] jarek commented on #1859
As I understand it the website does some sort of request signing when requesting API data (sent along in x-signature header), possibly Tor modifies one of the parameters that this signature depends on?

(This is also why requesting https://api.electricitymap.org/v3/history?countryCode=DE directly doesn't work)

Short of removing the signing requirement altogether I'm not sure what will be feasible

[2019-05-20 14:21] corradio commented on #1859
Tor shouldn't (in principle) alter requests sent using HTTPS. If would be a
major security issue if it did (it means it could grab username/password of
any service you'd be using!)

On Mon, May 20, 2019 at 4:19 PM jarek <notifications@github.com> wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2019-05-20 18:56] fbarl opened #1862 "List of supported languages is duplicated across the code"
The locales array is currently being independently defined in 4 different places in the code:

* https://github.com/tmrowco/electricitymap-contrib/blob/40d3a1eaff42f13645fac86893a495cbdc7ef6c3/mobileapp/www/index.html#L5
* https://github.com/tmrowco/electricitymap-contrib/blob/40d3a1eaff42f13645fac86893a495cbdc7ef6c3/mobileapp/generate-index.js#L29
* https://github.com/tmrowco/electricitymap-contr

[2019-05-20 19:23] fbarl commented on #1858
My first instinct was actually against that - thinking of language selection as a part of a user view context, I would expect everyone who opens my link to see exactly what I'm seeing.

However, I was curious what internet said, so after a quick research I came across [this discussion](https://ux.stackexchange.com/questions/29281/sharing-links-on-facebook-with-multi-language-site) which made me se

[2019-05-20 19:58] jld3103 commented on #1850
Got no response yet :(

[2019-05-21 07:03] corradio commented on #1858
Hey @fbarl,
The i18n node package for express inspects the accept-language header sent by the browser and sets language accordingly (it doesn't set English by default).
I've just looked a bit at the code and because there's also server side translations (using the ejs templating system), it won't work to just set the cookie. We'd have to also add a redirection if the cookie value is different from

[2019-05-21 10:26] lorrieq commented on #1844
Apologies for the late reply, been a bit out of the loop. I presume the issue is the lookback to yesterday needs to be more liberal or we change it to look back a set number of hours. Hopefully I will be able to take a look later.

![image](https://user-images.githubusercontent.com/6525086/58087877-67136000-7bb9-11e9-8b8d-2f97ba3ae9a3.png)

[2019-05-21 16:51] eoinbutler commented on #78
The NL parser seems to not have taken account of the new improvements to ENTSOE for NL. Is there someone working on it, or would you welcome a pull request?

[2019-05-21 17:47] jld3103 commented on #1855
![electricityMap_flutter_first_experiments](https://user-images.githubusercontent.com/26026535/58118316-d7919f80-7c00-11e9-84d7-e7162a59555b.png)
My first experiment using an svg. But I don't know why I got these weird shapes. I'm using the [world.json](https://github.com/tmrowco/electricitymap-contrib/blob/master/web/src/world.json) to draw the shapes. I think I have to merge some arcs.
It is rea

[2019-05-21 18:13] jzlcdh opened #1864 "Data for Iran"
Not sure if this is useful for you but there are some [reports here](https://www.igmc.ir/Electronic-Services/Power-Market-Deputy/Reports) and some twice daily data
[here](https://www.igmc.ir/Power-grid-status-report)

If it looks promising but you need translation help let me know and I can ask an Iranian friend.

[2019-05-21 18:54] jld3103 commented on #1855
![electricityMap_flutter_missing_vectors](https://user-images.githubusercontent.com/26026535/58122642-60610900-7c0a-11e9-90e7-50bb88b68f58.png)
So I was able to merge the shapes, but there are still some missing :(
Does anyone have an idea what to do? @corradio @Bohne13

[2019-05-21 18:59] Bohne13 commented on #1855
@jld3103
sorry not really, as I wrote before, I'm completely new to Flutter and try to learn the easy little steps like a newborn child.
But do you want to share the link to the repo we are able to find your fork?
I want to study the code!

[2019-05-21 19:03] jld3103 commented on #1855
I already created a repo, but didn't upload anything yet. I'm uploading the code right now.

[2019-05-21 19:37] alixunderplatz commented on #1850
@jld3103 No worries! If you like, you can take a look at the websites mentioned in #1218 (African Power Pools). Maybe there have been some updates for some African regions. You can also check these power pool pages for the names of the respective national transmission system operators.

[2019-05-21 19:37] jld3103 commented on #1855
https://github.com/jld3103/electricitymap-flutter
@Bohne13

[2019-05-21 19:43] jld3103 commented on #1855
I tested it now on Android and it's really slow :(
Maybe some kind of precalculation of the shapes is needed at build stage.

[2019-05-21 19:51] jld3103 commented on #1855
If we already to such precalculations it should be very easy to fix the currently missing shapes. I think it is because I implemented something wrong. For js there are some libraries to handle topojson correctly.

[2019-05-21 20:07] alixunderplatz commented on #78
@eoinbutler The parser ignores the improvements on ENTSOE at the moment and just takes into account wind+solar, load and exchanges, to calculate the missing share of production for NL.
Wind (only a share reported) and solar (gone missing completely) got worse in the current reporting on ENTSOE, but let's hope it will be improved soon. 😐 -> 😀
The reported generation on ENTSOE, however, is too low t

[2019-05-22 08:57] eoinbutler commented on #78
How do you assign the carbon intensity to "unknown" at the moment?

[2019-05-22 12:34] jarek commented on #78
It was computed based on 2017-2018 annual generation, see https://github.com/tmrowco/electricitymap-contrib/issues/1277

It is subsequently input in https://github.com/tmrowco/electricitymap-contrib/blob/master/config/co2eq_parameters.json#L475-L480

[2019-05-22 18:05] jld3103 commented on #1855
Just did some conversion with the topojson library. I'm happy with the results, but the geographical data is not presented like on a normal map. The north and south should be stretched out by a lot.
![electricityMap_flutter_working_vectors](https://user-images.githubusercontent.com/26026535/58197641-fa898580-7ccc-11e9-93fc-626fbf6fdf89.png)

[2019-05-23 08:53] Varmin123 commented on #1860
#1866

[2019-05-24 08:16] zuron7 opened #1867 "Fixing Unknown Sources for Karnataka - India"
The unknown sources (CGS - Central Generating Stations) consists of 20% Nuclear and 80% Thermal (Coal Based). The source for this can be found at this link.

http://srldc.org/2018-19srallocation.aspx

This sharing agreement changes quarterly. The data can be found in Table II.

I've attached a picture of the data with Nuclear marked in green and Coal marked in brown.

![image](https://user-images.

[2019-05-24 08:49] zuron7 commented on #1867
How do I change the proportion of Unknown sources? Like how it has been done for Russia and Netherlands.

[2019-05-24 16:21] matteodefelice commented on #1850
Already contacted them, they have indeed a very high-quality and updated list of power-plants projects (built, planned and under-construction) but they do not have any real-time generation information.

[2019-05-24 21:59] jld3103 commented on #1850
That's sad :(
Closing this issue, because it's not relevant anymore.
Please reopen if something has changed.

[2019-05-24 21:59] #1850 closed

[2019-05-24 23:11] jld3103 commented on #1855
![electricityMap_flutter_first_map_colors](https://user-images.githubusercontent.com/26026535/58360563-bc859080-7e89-11e9-9f62-62e3f7d08437.png)
I added the first map colors. It only shows the countries which the state from the API returns red. Very basic.
@Bohne13 you need a private signing key from @corradio to use the app.

[2019-05-24 23:11] jld3103 commented on #1855
I now know that I need to implement the mercator projection, but haven't figured out how yet.

[2019-05-26 21:14] Gazer75 opened #1869 "Problem with excanges.json transfer direction NO1->NO5 vs displayed on web"
In https://github.com/tmrowco/electricitymap-contrib/blob/062c700bf535d31941f264aab3fd864135bc10a9/config/exchanges.json#L1948 it clearly says NO1 to NO5, but on the website capacity seem to be reversed.
This made me confused and I might have messed up the numbers for the other capacities in my last PR.

The data used for the one above is the peak found here:
https://transparency.entsoe.eu/transmi

[2019-05-27 15:43] ChristophStaudinger opened #1870 "Show the changes of capacities over time in a chart"
Would be very interesting to see if there is some progress...

[2019-05-28 08:12] corradio commented on #1870
Hi @ChristophStaudinger ,

It's an excellent idea, but unfortunately we don't track capacity changes over time :/

Olivier

[2019-05-28 08:12] #1870 closed

[2019-05-28 09:03] dguzs opened #1871 "NL renewable power estimates"
Hello,

electricityMap lacks info on renewable power sources for the Netherlands. I suggest this information can be taken from http://energieopwek.nl/

BR
Dmitrijs Guzs

[2019-05-28 16:15] MartienVisser commented on #1871
Thanks, as I'm the author of Energieopwek.nl :).

Actually, the Dutch CO2-emission per kWh is much lower than currently suggested. I think it is not too difficult to improve the data on electricitymap.org substantially using the information below:

1) currently, about 20% of electricity is generated by renewable sources (solar: 5%, biomass: 6%, onshore wind: 6% and offshore wind: 3%.
2) the Dutch

[2019-05-28 17:04] jarek commented on #1871
See also past and more recent comments about Netherlands data in #78

To confirm, @MartienVisser - is the data of renewable production on Energieopwek.nl official or estimated?

[2019-05-28 17:13] MartienVisser commented on #1871
The data is calculated using models which are based on wind speed and solar radiation data from about 40 weather stations distributed over the Netherlands and offshore. The results have been calibrated against monthly (wind) and annual (solar) data from the national statistical office CBS.

[2019-05-28 19:42] fbarl commented on #1624
I wasn't able to reproduce this screenshot, this is what I'm getting now at cca `490px` viewport width:

![image](https://user-images.githubusercontent.com/1216874/58506982-f9ef6400-8190-11e9-9b5d-24f005ed2343.png)

I guess that main of the issue has been resolved at some point in between..

---

I agree with that - funny enough, the background opacity is actually present on wider viewports now, b

[2019-05-29 11:17] zuron7 opened #1875 "Unknown defaults to Non Renewable Type"
Any energy source that is unknown defaults to a non renewable type. Even if there is a mix of renewable in the unknown part. It is suggested that the ratio of renewable to non-renewable be exposed as a parameter which may be configured through the co2eq_parameters file.

As I have been made aware, the code to modify this is closed source, and will require changes by devs on the server side.

This

[2019-05-29 12:31] fbarl opened #1876 "Add wind and solar data to mockserver"
Wind and sun layers are currently not available at all when running the local dev server since there is no data backing it up.

Addressing this is a bit more involved (at least for wind) than adding a single JSON file to the mockserver directory as the server needs to give different projections based on the `refTime` and `targetTime` query params.

Intercepting those requests in `server.py` and tw

[2019-05-29 14:32] systemcatch commented on #1869
From a quick glance only one or two look the wrong way round.

[2019-05-29 14:40] systemcatch commented on #1833
I think I've found where the data source for DO has moved to!

http://190.122.102.21:8084/reportesgraficos/reportepostdespacho.aspx

[2019-05-30 12:54] petrpulc opened #1878 "Production / consumption toggle fixed width"
As my update to Czech locale was accepted a while ago (thanks!), this happened:

![obrazek](https://user-images.githubusercontent.com/5113566/58633776-d7bd2980-82e9-11e9-9c7e-423ed5e0a86b.png)

The toggle (`.production-toggle-active-overlay`) is of a fixed width (110px, defined in `styles.css`).

But the text under it (`.production-toggle-item`) is allowed to be flexible.

I provide no fix as this

[2019-05-31 03:16] NewEnglandSeparatist opened #1880 "New England flag"
This is almost irrelevant, and really not a big issue, but for consistency's sake, it'd be nice to add New England's flag.
![2000px-New_England_pine_flag svg](https://user-images.githubusercontent.com/32886774/58679319-f7c40b80-8330-11e9-9608-34ad0cb4a538.png)

[2019-05-31 07:22] corradio commented on #1878
@ovbm do you have any suggestion?

[2019-05-31 07:32] ovbm commented on #1878
I'll fix it

[2019-05-31 09:58] systemcatch commented on #1880
We generally use the main country flag for sub areas to identify which country they're a part of. I don't see a need to change it in this case.

[2019-05-31 09:58] #1880 closed

[2019-06-01 08:43] alixunderplatz opened #1882 "DK - imports and exports broken"
I see the data on ENTSOE, but there are no arrows for the imports/exports of the two main zones DK1 + DK2.
For Bornholm, exchanges are also visible on bornholm.powerlab.dk but not shown on the map.

Were there any changes for the Danish zones recently in the code, @corradio?

[2019-06-01 08:55] corradio commented on #1882
I didn't change anything unfortunately. Have you looked at the logs on
kibana?

On Sat, Jun 1, 2019 at 10:43 AM Alex <notifications@github.com> wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2019-06-01 09:12] alixunderplatz commented on #1882
Yeah I just did, I don't see any entry for the DK-zones there

[2019-06-01 13:33] #1882 closed

[2019-06-04 07:21] #1838 closed

[2019-06-04 07:35] #1875 closed

[2019-06-04 07:35] corradio commented on #1875
I added the code here:
https://github.com/tmrowco/electricitymap-contrib/commit/ceb42b01f82f41a2d031c0c59278e2666b849fc5
We can now customise them ;-)

[2019-06-04 14:34] Merano01 opened #1883 "Austria pumped storage includes some seasonal storage production"
If you hover over "Origin of electricity in the last 24 hours" with country Austria selected, you will get a tooltip for the (dark blue) hydro storage origin, which says: "with a carbon intensity of 208gCO²eq/kWH Source 2018 average by Tomorrow".

The problem is that hydro pumped storage is mostly filled by rain / rivers. Only occassionally, energy is consumed to pump water up the mountain. So mos

[2019-06-04 15:17] jarek commented on #1883
As I understand it, Electricity Map's "hydro storage" is intended to refer to pumped storage only. Seasonal storage should be in plain "hydro". Anything that is not pumped uphill should not be in "hydro storage" category.

Further as I understand it, Electricity Map's ENTSO-E mapping is that "Hydro Pumped Storage Actual Consumption" is pumping uphill/charging/storing energy (evident in the link yo

[2019-06-04 15:37] Merano01 commented on #1883
Yes excatly, I am pretty sure it is this: "some power plants are a mix of dammed/seasonal and pumped storage and both are reported together under "Hydro Pumped Storage"

Reason: If it would be a battery storage, then it is clear that output = input * efficiency factor. But with hydro storage in Austria, output >> input.

I know that for a battery, the current model (charging = neutral; discharging

[2019-06-04 15:56] jarek commented on #1883
OK, thanks for clarification! I hope you are alright with my renaming the issue.

Would be interesting to add up collected EM data for pumped storage storage and production and see if there are also mismatches elsewhere in the world. We'd have to get one of the maintainers do that.

[2019-06-04 21:03] alixunderplatz commented on #1883
mixed dam storage+pumped storage plants exist, for example in Spain, where pumping is shown in hydro storage as negative bar, but discharching is part of the usual hydro bar on electricitymap.
not all countries report pumping, pumping data may as well be incomplete.
it's possible however, that pumped storages have natural sources of water flowing into the upper reservoir.
But I'd assume pumping wa

[2019-06-05 19:09] Merano01 commented on #1883
Ok, first the prove, that several pumped storages are fed by seasonal / natural sources. If you use the list of power plants on https://transparency.entsoe.eu/generation/r2/installedCapacityPerProductionUnit/show, I will focus on following 3 plants with a total capacity of 1280MV:

Malta-Oberstufe (14W-DMO-KW-----D)
Malta-Hauptstufe (14W-DMH-KW-----9)
Reisseck 2 (14W-DRP-KW-----M)

Wikipedia expla

[2019-06-05 19:39] jarek commented on #1883
To be honest I feel this should be improved on the operator's side by submitting to ENTSO-E data on generation from seasonal storage and pumped storage separately in the appropriate categories... Can we request the operator or ENTSO-E to do this?

[2019-06-06 07:20] corradio commented on #1883
I agree @jarek .
That's great feedback for @Dalius-ENTSO-E from ENTSO-E who might be able to help.

[2019-06-06 08:21] brunolajoie commented on #738
The paper is now peer-reviewed and published [here](https://www.sciencedirect.com/science/article/pii/S2211467X19300549)
We shall be able to use it to finally update our default emission factor per country, using table 1 from [supplementary material](https://ars.els-cdn.com/content/image/1-s2.0-S2211467X19300549-mmc1.pdf)
![image](https://user-images.githubusercontent.com/22095643/59017737-8f9b8b0

[2019-06-06 10:53] dguzs commented on #1871
Hello,

How difficult would it be to implement this data into the map?

Br
Dmitrijs

On Tue, 28 May 2019, 19:13 MartienVisser, <notifications@github.com> wrote:

[2019-06-07 07:05] scriptator commented on #944
I think that's a great idea as the current wind visualization seems to be quite CPU intensive. I just tested the mapbox demo and it works on my iPad Air 2, which is 4,5 years old.

[2019-06-07 12:27] #1844 closed

[2019-06-08 18:43] #1867 closed

[2019-06-09 16:26] phiphou opened #1886 "Use better text color for CO2 color rectangle"
When on yellow or light green, white text for CO2 value is hard to see.

Maybee you could use W3CAG for better readeability.

Here is a codepen that show how to implement it : https://codepen.io/phiphou/pen/YBeMxw

[2019-06-10 07:10] nielsle commented on #83
It could be great to have aggregate data for the last month grouped by time of day.

This would reveal that countries like Denmark rely on windy weather to be eco-friendly. And as AFAICS this feature would only require minor changes to the GUI.

[2019-06-11 17:04] kepiej commented on #1676
Hi! I'm not sure if you're aware, but it seems that the same data is available through a freely available API:
https://www.eia.gov/opendata/qb.php?category=3

For example, monthly net generation by wind for Oregon is available here:
https://www.eia.gov/opendata/qb.php?category=14&sdid=ELEC.GEN.WND-OR-99.M
and natural gas:
https://www.eia.gov/opendata/qb.php?category=9&sdid=ELEC.GEN.NG-OR-99.M
etc.

[2019-06-12 08:48] systemcatch commented on #1833
@alixunderplatz looks like IT-South is working again, but the interconnecter with Greece is still down.

[2019-06-12 08:53] systemcatch commented on #1676
Hey @kepiej thanks for digging that up, I'm aware of that API but didn't realize that data was also available on there. I actually built a small python package for extracting data from that API a while back (https://github.com/systemcatch/eiapy)

[2019-06-12 10:03] systemcatch commented on #655
@alixunderplatz @corradio

Both of the SIC and SING parsers no longer work I'm afraid, we're losing data atm.

https://sger.coordinadorelectrico.cl - Not functioning anymore.

https://sic.coordinador.cl/informes-y-documentos/fichas/operacion-real/ - not been updated since February.

I think the best thing we can do is to find another data source and start viewing Chile as one area rather than sepa

[2019-06-12 17:28] Merano01 commented on #1883
As requested by @alixunderplatz, here the aggregated data for hydro pumped storage in Austria for 2018 by Entsoe:

Consumption: 10 027 386
Production: 18 785 868
Ratio: 53,38% (to produce 18.8 MMV*, only 10 MMV had to be pumped up)

**Data + Calculation:**
https://docs.google.com/spreadsheets/d/1G-94jrEWijnqRbyLXLnNrXQnBQDCvuCvkJPyeDmkCqE/edit?usp=sharing

Proof that my spreadsheet data correlates

[2019-06-12 17:35] jarek commented on #1883
Changing your example to exporting to another country in week 1 and importing from the other country in week 2: there is no double-counting, because exports cause the emissions that were needed to produce the exported electricity to be "exported" as well (and accounted in the importer's emission counts).

I _think_ that storage is also treated like an export (emissions "stored" are subtracted from

[2019-06-13 07:09] corradio commented on #1883
@jarek you've perfectly explained how it works. I confirm there's no double
counting, as you can treat it like an export.

On Wed, Jun 12, 2019 at 7:35 PM jarek <notifications@github.com> wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2019-06-13 12:23] kepiej commented on #814
I came across this website https://www.islandpulse.org/ which provides an overview of the energy production by energy mix in realtime (updates approx. every 30min) for the Oahu island of Hawaii. The data is provided by Hawaiian Electric.

I was able to find out where the data comes from (all the way back to December 2013):

- Energy mix : https://www.islandpulse.org/api/mix
- Energy usage: https:/

[2019-06-13 13:32] jarek commented on #814
Timezones need investigating (most data points in https://www.islandpulse.org/api/mix do not specify timezone, and https://www.islandpulse.org/ gave me "We Were Using 665 Megawatts At 8:30am" at 9:30 am EDT (3:30 Oahu time) but looks promising!

[2019-06-13 19:15] Varmin123 commented on #1860
Done.

[2019-06-13 19:15] #1860 closed

[2019-06-15 11:18] jld3103 commented on #1862
Maybe we should even generate the list from the json files.

[2019-06-18 11:02] systemcatch commented on #814
As far as I can tell Oahu doesn't have interconnections with the other islands, so I might take a crack at this in the near future.

[2019-06-18 12:59] jld3103 opened #1889 "Cache docker commands"
Some of the docker commands take some time.
Especially the apt and yarn commands.
There must be a way to cache these commands for faster development workflow.

[2019-06-18 13:01] corradio commented on #1889
@jld3103 the docker build commands are normally cached normally.
You can read more here: https://docs.docker.com/develop/develop-images/dockerfile_best-practices/#leverage-build-cache

[2019-06-18 13:10] jld3103 commented on #1889
When I do a ```docker-compose up --build``` it runs all steps. I previously worked on docker projects, where the commands were cached in such a way, that only changed commands were running. Don't know how it worked.

[2019-06-18 13:22] corradio commented on #1889
That's weird. No setup is required (docker takes care of things
automatically). What docker version are you using? Are you on windows?

On Tue, Jun 18, 2019 at 3:10 PM jld3103 <notifications@github.com> wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2019-06-18 13:24] jld3103 commented on #1889
Docker version 18.09.6, build 481bc77156 on Linux

[2019-06-18 20:26] kepiej commented on #814
@systemcatch Great! I already gave it a go over the weekend. This parser fetches the most recent mix and wraps it in the necessary structure. I attach the file so it might possibly serve as a starting point for you. :)
[US_HI.txt](https://github.com/tmrowco/electricitymap-contrib/files/3303242/US_HI.txt)
I wasn't able to work on it further, because I have problems with getting Docker to work on Wi

[2019-06-19 07:40] JulianNF opened #1890 "Some countries listed twice in sidebar list (div .zone-list)"
Lovely viz!

I spotted that some countries/regions are appearing twice in the sidebar list (e.g. Poland, Queensland AUS).

Not sure what might be causing this, but thought I'd mention it as a new issue.

(Firefox 67).

[2019-06-19 07:48] JulianNF opened #1891 "Wind and solar overlays not working in Firefox"
Solar and wind overlays don't appear to be working at all for me (Firefox 67).

Perhaps this console error report might be related:

[code]

[2019-06-20 08:35] #983 closed

[2019-06-20 08:49] systemcatch commented on #1891
The overlays also don't work for me on FireFox 67.0.2, I see the same console error as @JulianNF

[2019-06-20 08:50] systemcatch commented on #1891
The overlays also don't work for me on FireFox 67.0.2, I see the same console error as @JulianNF

[2019-06-20 08:50] systemcatch commented on #1891
The overlays also don't work for me on FireFox 67.0.2, I see the same console error as @JulianNF

[2019-06-20 08:57] systemcatch commented on #814
@kepiej does docker show an error message? It seems like the first mix datapoint always contains a timestamp with a different format to the others, e.g. `2019-06-20T08:00:00.000Z` in https://www.islandpulse.org/api/mix?limit=5

[2019-06-20 11:58] corradio commented on #1891
This issue also happens on Chrome. Network console shows a 404 when fetching wind data.

[2019-06-20 12:17] corradio opened #1892 "Language selection doesn't work on mobile app"
There's an issue with languages in the mobile app, as the mobile app doesn't respond to ?lang= querystring, but instead has to be redirected to /index_<locale>.html as one can see here:
https://github.com/tmrowco/electricitymap-contrib/blob/master/mobileapp/www/index.html#L10-L13
This means that the language selector doesn't currently work in the mobile app, which is unfortunate.
The fix is to red

[2019-06-20 12:33] corradio commented on #1862
Still needs to be done for the mobile app

[2019-06-20 12:50] corradio commented on #1891
The GFS servers changed their URL :/ It's now fixed! Thanks for raising the issue

[2019-06-20 12:50] #1891 closed

[2019-06-22 03:19] oielbanna commented on #1610
Hey. First timer here and I was wondering if I can take on this bug?

[2019-06-23 16:25] corradio commented on #1610
go ahead! Thanks :)

[2019-06-25 06:06] jld3103 commented on #1890
Cannot confirm on Firefox 67.0.4

[2019-06-25 06:07] jld3103 commented on #1890
Can you send a screenshot?

[2019-06-25 06:09] jld3103 commented on #1892
Also needs to fix #1841 at the same time

[2019-06-25 08:26] JulianNF commented on #1890
I just had a look and it seems that I too can no longer replicate the issue. Perhaps it was somehow linked with issue #1891 which I reported at the same time.

Marking as closed.

[2019-06-25 08:26] #1890 closed

[2019-06-25 12:02] corradio opened #1894 "Regional data for UK / GB"
https://carbonintensity.org.uk/ has regional breakdown that we might be able to use.
We need to have api access and get access to:
- power production breakdown
- imports between each areas
- geojson (https://s3.eu-west-2.amazonaws.com/carbonintensity.org.uk/DNORegions_pretty_test_country.geojson)

[2019-06-25 20:29] jarek commented on #1894
Their calculations seem to produce unusual results, they're showing London as 97 gCOeq with 92% gas while East England is 287 g with 73% gas...

![image](https://user-images.githubusercontent.com/47415/60130933-34cfc200-9766-11e9-9cf8-fda802266dda.png)

![image](https://user-images.githubusercontent.com/47415/60130973-4fa23680-9766-11e9-95db-d3f542235730.png)

[2019-06-27 09:06] systemcatch commented on #1894
This is all forecasted data right?

API docs - https://api.carbonintensity.org.uk/

It seems like no auth is needed for the API.

[2019-06-27 09:23] systemcatch commented on #1871
@MartienVisser can you expand on this, the data is not available due to pressure from the coal lobby?

@dguzs the data is not difficult to integrate, the question is whether we should. Generally we've tried to avoid mixing data sources.

Currently NL has a CO2 intensity as follows;

[code]

The `source` key needs correcting to mention renewables. Maybe we could try using Martien's numbers instead.

[2019-06-27 09:25] systemcatch commented on #1864
@jzlcdh Maybe your friend could scour the site to see if they have anything historical or real time?

[2019-06-30 12:23] jzlcdh commented on #1864
I hoped I might have missed something but he checked and unfortunately that is all there is.

[2019-07-01 11:29] corradio opened #1897 "electricityMap locale problem"
Seems to be introduced by https://github.com/tmrowco/electricitymap-contrib/pull/1888

I reverted that PR

cc @jld3103

![image](https://user-images.githubusercontent.com/1655848/60433082-3258e680-9c04-11e9-9479-4a500332313e.png)

[2019-07-01 12:09] jld3103 commented on #1897
But how did it work before?
The solution would be my first attempt generating a js file with the locales list.

[2019-07-01 13:21] corradio commented on #1897
The problems comes from this line:
https://github.com/jld3103/electricitymap-contrib/blob/8ab390672ead5e92a4108c29fd811f98c8ed4703/web/src/helpers/locales-list.js#L3
`readdirSync` is not available on the browser.
I didn't test it but somehow it should have failed when you tested it?

[2019-07-01 14:07] jld3103 commented on #1897
I did test it on web and it worked.
In the first commit you can see, that my first attempt was generating a js file.

[2019-07-01 15:36] snarfed commented on #1713
i zoomed into watttime's map, and it actually looks pretty different from the SEC Map @systemcatch posted above:

<img width="892" alt="image" src="https://user-images.githubusercontent.com/778068/60448881-56ec9880-9bdb-11e9-95ae-e2865a65bf1a.png">

[2019-07-02 19:06] systemcatch commented on #1713
@snarfed huh interesting but not too surprising given how crazy the US grid can be. I'd trust Wattime's map over the rough one on Seminole's website.

If you're writing parser for this I can assign you to the issue.

[2019-07-02 22:24] snarfed commented on #1713
sure, thanks! i have no real GIS experience, so i'm starting with just the parser, but i'll happily at least try to tackle the map and geojson after that.

[2019-07-03 19:57] systemcatch commented on #1833
With CA-AB now working again I think this issue can be closed.

[2019-07-03 19:57] #1833 closed

[2019-07-05 10:20] MartienVisser commented on #1871
Dear Chris, this is not due pressure of ‘the coal lobby’. The reason is that in the Netherlands, there are just three companies (RWE, Uniper and Engie) with large coal-fired power stations. So, if TenneT would start publishing data from the utilization of coal-fired stations, it will be relatively easy for them to exactly find out how the two other competitors are (strategically) using their equip

[2019-07-12 12:31] #1858 closed

[2019-07-13 13:36] systemcatch opened #1899 "Czech Republic 15 minute data"
There is 15min generation data available at https://www.ceps.cz/en/all-data#Generation. This is better than our current data which is hourly from ENTSOE, which is lagging right now.

It's possible to go back to previous days, I also see planned net generation and hourly exchanges.

edit: possible api info at https://www.ceps.cz/en/web-services

[2019-07-13 19:19] snarfed commented on #1713
@systemcatch did you have a specific idea for how we'd determine the hourly split between coal and gas? would we just naively subtract solar from the total and then apply the 1.3:.8 GW ratio to the remainder? or report the whole remainder as `unknown`? or something else?

(apologies if i missed something obvious, i'm new to the domain here.)

[2019-07-14 16:19] kepiej commented on #814
Sorry for my slow response. Running Docker on windows fails when it comes to the step "RUN bash topogen.sh":

The error is: "invalid option nameet: pipefail".

A quick search came up with this stackoverflow question: https://stackoverflow.com/questions/54055549/linux-ubuntu-set-illegal-option-o-pipefail#
I don't know how to resolve this with Docker though.

[2019-07-15 07:53] corradio commented on #814
you need to change the line endings of topogen.sh (try between CR and
CRLF). I think it's a windows thing.

On Sun, Jul 14, 2019 at 6:19 PM Pieter Jan Kerstens <
notifications@github.com> wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2019-07-15 12:41] jarek commented on #1713
When we only have data for renewable categories we usually throw the rest of production into "unknown" and give it a static carbon intensity based on yearly average. See e.g. https://github.com/tmrowco/electricitymap-contrib/blob/f5934f53bc10354e95da275195e149d860cf2b7e/config/co2eq_parameters.json#L576-L582

It's an imperfect approximation, but it lets regions show off their renewables...

[2019-07-15 16:53] systemcatch commented on #814
@kepiej feel free to write this parser, I'm away on holiday for a while.

[2019-07-16 22:22] kepiej commented on #814
Thanks for the help! I got Docker working on Windows. :) I opened a pull request #1900 that implements the basic parser for realtime data.
Still to do:
- Split up the Hawaii islands: the data is only for the Oahu island. I don't know how to do this.
- Implement parser for historical data. I'll do this later when I find the time.

[2019-07-17 20:00] snarfed commented on #1713
as part of this, i'll need to merge two different sets of production data, solar and gas/coal. i looked for code to reuse, and amusingly, there are at least five different existing merge implementations that work with the `fetch_production()` output format.

i've included them below. i don't plan to try to unify them as part of the US-SEC PR, but that might be worthwhile at some point in the futur

[2019-07-17 20:04] brandongalbraith commented on #1713
I have an internal contact in Seminole if there are questions that might need to be answered. Please @ me if necessary.

[2019-07-18 07:41] kepiej opened #1901 "Split Hawaii geometries"
I'm opening a new issue following @corradio 's suggestion in https://github.com/tmrowco/electricitymap-contrib/pull/1900#issuecomment-512240405.

Following the discussion in #814 , the Hawaii parser PR #1900 fetches data only for the Oahu Island of Hawaii (2/3 of population of Hawaii according to Wikipedia). Before merging #1900 , the Oahu Island needs to be split from the other Hawaii islands.
I

[2019-07-18 18:55] snarfed commented on #1713
thanks for the offer, @brandongalbraith! much appreciated.

just fyi, the SEC data i've been seeing on EIA has been a bit flaky. sometimes it's only a day or two old, but sometimes it lags by over a week. eg right now it stops on 2019-07-09: https://www.eia.gov/opendata/qb.php?category=2122629&sdid=EBA.SEC-ALL.NG.H

also, i was using the day-level excel file export on http://apps.seminole.coop/db/

[2019-07-20 23:31] snarfed commented on #1713
i started to tackle the geojson for SEC, but didn't get very far. 🙁

i've read and roughly understand `web/README.md`. i've run `docker-compose run --rm web ./topogen.sh` successfully. i get that we use NACIS data, and `generate-geometries.js` is the starting point that maps our parser zones to NACIS geometries.

...having said that, i have no idea how to go about finding SEC's geometry (ies?), wh

[2019-07-22 15:30] corradio commented on #1878
@Kongkille are you able to help here?

[2019-07-23 11:46] corradio commented on #1713
Hi @snarfed,

There's a few ways to go here. First, if we can approximate SEC's geometry to some administrative boundary (state, region..), that would be very helpful as those seem to be defined already in our geometries.
Else, we would need to resort to something more complicated by drawing it ourselves.

Would it be a huge mistake to approximate with Florida?

[2019-07-25 12:19] BodiPim opened #1907 "Alternative indicator CO2/inhabitant"
What about proposing an indicator showing the CO2 per person per hour due to electricty production?

Should be not to complicated as there is already total kwh and avg CO2 so multiplying both and dividing by the population of the country would give the figure...

Thanks!

[2019-07-25 13:05] jarek commented on #1907
Hi, thanks for the comment! See https://github.com/tmrowco/electricitymap-contrib/issues?utf8=%E2%9C%93&q=per+capita for past discussion of per capita emissions.

[2019-07-25 18:34] borkowsk opened #1908 "Indicate what's included in renewables and low-carbon in the circular gauges"
Czy jest to tylko energia jądrowa czy coś jeszcze?
Może by te okragłe diagramy wypełnić od razu częściami wg. poszczególnych sposobów produkcji?

[2019-07-25 19:40] martincollignon commented on #1908
Translation:

What is included in low-emission sources?

Is it just nuclear energy or something else?
Perhaps these round diagrams should be filled in immediately with parts according to individual production methods?

Hi @borkowsk , thanks for your message. Can you give a bit more clarity (ideally in English), so we can look at the problem?

[2019-07-25 23:47] jarek commented on #1908
Niskoemisyjne to źródła odnawialne (energia wiatrowa, słoneczna, wodna, zbiorniki wodne szczytowo-pompowe, i biomasa) plus energia jądrowa. Czyli w praktyce 230 gCOeq/kWh albo mniej. Jeżeli energia jest importowana, proporcja niskoemisyjności źródła importu jest wliczana w niskoemisyjność obszaru importującego (spójrz na przykład na Estonię i importy z Finlandii).

Low-carbon is renewables (wind,

[2019-07-26 12:53] #1744 closed

[2019-07-26 22:47] borkowsk commented on #1908
Yes, my suggestion is to use pie-chart. Now, just one, but bigger.
because, as I understood, currently second pie-chart contains subset of
the first (renowable sources are also low-emmision ones), thatis not
immediately clear to the user.

On 26.07.2019 01:47, jarek wrote:

[2019-07-28 07:09] alixunderplatz opened #1912 "Add French overseas territories (EDF opendata API)"
Hey guys,

the PR for the island of Reunion by @PETILLON-Sebastien made me curious about the other French overseas territories.
Looks like **there is historical data for all of the other territories** for 2016-2018, but no live data:

**Martinique:**
https://opendata-martinique.edf.fr/explore/dataset/courbe-de-charge-de-la-production-delectricite-par-filiere/table/?sort=-date_heure

**Guadeloupe:*

[2019-07-28 09:35] PETILLON-Sebastien commented on #1912
Yes, I wanted to do a parser for Corsica in the first place (as I'm spending my vacations here).
But no live data is available. Only France and Reunion (and still, not perfect for reunion).
But I don't know if you use historical data to give prediction about current production ?

As a french guy, I'd like to show France is fine, but our overseas lands have dirty electricity !

[2019-07-28 16:01] alixunderplatz commented on #1912
@PETILLON-Sebastien historical data is also collected in some cases, where production data is available only on the next day or even later. you can find some code examples for fetching historical production in some of the existing parsers.
writing the parsers for all these islands should be really easy based on the work you've already done for Reunion. :)

[2019-07-29 04:59] snarfed commented on #1713
ok, i've ramped up on GIS in general, and our base NACIS map datasets in particular. i've also seen how all of our current USA data is whole states or groups of them. eg ERCOT is not quite all of Texas (afaik), but its geometry is approximated to the whole state.

in this case, though, SEC is maybe just half of Florida. nowhere near as big a fraction as ERCOT in Texas. (see the SEC and WattTime ma

[2019-07-29 05:54] snarfed commented on #1713
I'll look into whether SEC's regions map to Florida counties. if so, i could add new geojson based on those, without drawing anything myself.

[2019-07-29 07:23] corradio commented on #1713
Thanks for investigating.

It seems like we have three options here:
1/ We say SEC is Florida (well aware of the approximation we're making)
2/ We approximate with counties (if possible)
3/ We take the geometry of Florida and segment it into SEC and another part.

Let's see what 2 reveals. Thanks Ryan!

Olivier

On Mon, Jul 29, 2019 at 7:54 AM Ryan Barrett <notifications@github.com>
wrote:

--

Ol

[2019-07-29 14:11] systemcatch commented on #1901
I'll take a look at this and try to remember how I did it before in qgis.

[2019-07-29 17:21] #1592 closed

[2019-07-31 06:39] #1901 closed

[2019-07-31 07:52] goepelralph opened #1917 "Status Switzerland"
Why is Switzerland always grey?

[2019-07-31 07:53] corradio commented on #1917
See https://github.com/tmrowco/electricitymap-contrib/issues/892

[2019-07-31 07:53] #1917 closed

[2019-07-31 13:46] #1892 closed

[2019-08-02 13:38] snarfed commented on #1713
ok, i have a rough approximation of SEC by Florida counties. i'll clean up the geo code and add it to this PR.

i'd also like to hide the county boundaries inside the SEC, but i don't know how high priority that will be. we'll see.

<img width="784" alt="image" src="https://user-images.githubusercontent.com/778068/62374081-00cb8780-b4f0-11e9-8bd7-8908d2be4f0b.png">

[2019-08-02 19:20] systemcatch commented on #1713
Excellent work @snarfed! You might find https://github.com/tmrowco/electricitymap-contrib/pull/1615 useful as we had to remove county boundaries in that PR.

[2019-08-04 15:24] snarfed commented on #1713
thanks @systemcatch! and hmm. i see your [request to merge boundaries there](https://github.com/tmrowco/electricitymap-contrib/pull/1615#issuecomment-428823783), and the following [push]( https://github.com/tmrowco/electricitymap-contrib/pull/1615#commits-pushed-739b0f6) and subsequent [screenshot without boundaries](https://github.com/tmrowco/electricitymap-contrib/pull/1615#issuecomment-42903534

[2019-08-05 10:13] lars974 opened #1921 "Create a third column "Consumption""
Next to "Production" and "Emission" you could create a column showing the electrical consumption of a region in order to easily compare what's been produced with what's been used.

[2019-08-05 13:47] jarek commented on #1921
Hi Lars, does the toggle in top left corner of the screen do what you mean? It also switches the country details view between "Electricity production" and "Electricity consumption"

![image](https://user-images.githubusercontent.com/47415/62468738-c6b6eb80-b764-11e9-9aa4-725d044b25bb.png)

![image](https://user-images.githubusercontent.com/47415/62469283-ed295680-b765-11e9-9d5a-1593a85c62dc.png) !

[2019-08-05 19:06] systemcatch commented on #1713
@Kongkille we could really use your help with the geojson here.

[2019-08-07 04:32] lars974 commented on #1921
OK,

you've split it into two areas of selection.

Thanks !

Le lun. 5 août 2019 à 17:47, jarek <notifications@github.com> a écrit :

[2019-08-07 07:00] #1921 closed

[2019-08-08 05:50] snarfed commented on #1713
success! found the right topojson functions: [`merge`/`mergeArcs`](https://github.com/topojson/topojson-client#merge). [this example](https://bl.ocks.org/mbostock/5416405) also helped.

<img width="822" alt="image" src="https://user-images.githubusercontent.com/778068/62678201-a609b400-b965-11e9-8efb-e2eeaac68fb5.png">

[2019-08-08 05:52] snarfed commented on #1713
i've added this to `generate-geometries.js` in e80d5e5. to get it to work, i had to do it at a specific point: after converting to TopoJSON, but before simplifying. so the flow isn't quite as clean as before. apologies. i'm open to alternatives!

otherwise, i think this PR is ready for re-review. thanks again for all your support!

[2019-08-09 11:17] lars974 commented on #1908
Good idea when over "renewables" and "low carbon" to open a little popup and explain what's inside

[2019-08-10 17:47] ABerrow commented on #1894
Hey there, i was passing by, saw these comments and i have been looking at that website for a while now, the numbers seem fairly accurate when it comes to generation. I have been comparing the generation numbers with another website and they are fairly close. For refinement of solar generation this may help https://www.solar.sheffield.ac.uk/pvlive/ . This http://grid.iamkate.com/  is also another

[2019-08-10 18:46] systemcatch commented on #304
@alixunderplatz maybe we could build a parser that just splits everything into coal and unknown?

[2019-08-10 18:50] systemcatch commented on #655
@jarek I remember a while back you saying about throwing together an VPS to deal with calculations for cumulative data, do you think that could work here?

[2019-08-11 03:51] anirudh-ramesh commented on #304
@systemcatch and @alixunderplatz, for any region in India, we need to implement a merit-order-of-dispatch algorithm.

In Delhi, for example, we consider all plants located within Delhi and the ones elsewhere that have allocated a portion of power to the Delhi market. There is a legislation that power from renewable energy sources must not be curtailed when available i.e. substituted by a fossil fu

[2019-08-11 10:33] ABerrow opened #1926 "Split up Australian territories further"
I found a source which you may be able to use to improve data on Australian territories
http://www.nem-watch.info/widgets/reneweconomy/

[2019-08-11 12:26] magol opened #1928 "Sweden do not have any data available"
Is it any problems with the data provider for Sweden? Sweden has been gray for some days now.

[2019-08-11 14:55] systemcatch opened #1930 "ENTE exchanges no longer work"
The enteoperador site has undergone a big refresh and the old url from which we scraped data no longer works (http://www.enteoperador.org/newsite/flash/data.csv)

New site + map
https://www.enteoperador.org/flujos-regionales-en-tiempo-real/

The map above is populated by data from the url below
https://mapa.enteoperador.org/WebServiceScadaEORRest/webresources/generic

Looks like they've moved from

[2019-08-12 01:51] jarek commented on #1926
possibly related to #1196, could you have a read through that issue?

[2019-08-12 16:56] snarfed opened #1931 "document that capacity zones.json is MW, fix kW numbers"
capacity numbers in `zones.json` are MW, but i didn't find this in docs or code anywhere. i had to check a few numbers from sample zones, [and then asked @corradio](https://tmrow-team.slack.com/archives/C2DQPTHA6/p1565620855038400?thread_ts=1565467028.032500&cid=C2DQPTHA6). it also looks like we accidentally have some numbers in kW, eg #1925.

i'll plan to put together a quick PR to document this

[2019-08-13 04:31] snarfed commented on #1931
fortunately it looks like only the PR description in #1925 was wrong, and the PL numbers in zones.json actually are MW afer all. (see #1764, https://transparency.entsoe.eu/generation/r2/installedGenerationCapacityAggregation/show ).

[2019-08-13 07:24] #1931 closed

[2019-08-13 10:07] systemcatch commented on #1713
Hey @snarfed something I noticed is that the US-FL zone over highlights the US-SEC zone. I think if we build Florida from the unused parts of your US-FL.geojson that should stop that happening.

![sec_fl](https://user-images.githubusercontent.com/30196510/62933500-3d359800-bdba-11e9-909d-b7d7b99a804c.png)

[2019-08-13 17:01] snarfed commented on #1713
@systemcatch agreed! sorry, i noticed that too. i should have fixed it in the original PR. i'll do that soon!

[2019-08-13 21:13] pangusion opened #1933 "Add total CO2 by country/región (GWh*CO2)"
Hell

First of all, congratulations for your webpage. You are doing a great great job.

My sugestion concerns following topic.

There are some country/regions with high carbon intensity like Bolivia. They look horrible in dark Brown color (500 CO2eq/KWh). Other countries like Germany or Spain look much better because they generate less CO2 by KWh (250gr). However, electricity map doesn't take into

[2019-08-14 02:01] jarek commented on #1933
Hi Diego, thanks for the comment. Please see some of the issues in https://github.com/tmrowco/electricitymap-contrib/issues?utf8=%E2%9C%93&q=sort%3Aupdated-desc+per+capita for some past discussion of total emissions and per-capita emissions.

Also note that while it's not on a map, you can see a region's total emissions per minute with the "Carbon emissions" switch:

![image](https://user-images.g

[2019-08-14 08:00] corradio commented on #892
We received following message from swissgrid:

Maybe ENTSOE improved their signal?

[2019-08-15 10:32] systemcatch opened #1936 "US-PJM has SSL certificate issues"
I keep seeing this error for any parsers attempting to contact the pjm.com domain, but can't reproduce it locally is the EM server using a different version of requests to the one specified in requirements (2.20.1)?

Logger
[code]

curl
[code]

Looks like the `DHE_RSA_AES_256_GCM_SHA384` cipher is considered weak, we'll have to manually allow it in urllib3, setting `verify=False` won't fix this.

[2019-08-16 07:19] corradio commented on #1936
It also happens with US-SPP.

[2019-08-16 07:22] corradio commented on #1936
Can't reproduce locally using `python3 test_parser.py 'US-PJM' production`
I have Python 3.7.2 and requests==2.18.4
I suspect it has something to do with our containerised environment. Maybe the OpenSSL version is wrong.

[2019-08-16 07:53] corradio commented on #1936
Found the problem. Apparently we needed to lower our security requirements. See https://github.com/home-assistant/home-assistant/issues/19683#issuecomment-451132346
and https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=907807

[2019-08-16 08:02] corradio commented on #1936
Works!

[2019-08-16 08:02] #1936 closed

[2019-08-16 08:04] corradio commented on #1878
@ovbm are you able to take this?

[2019-08-16 08:05] corradio commented on #1878
@ovbm are you able to take this?

[2019-08-16 08:35] corradio commented on #655
What about we reach out to coordinadorelectrico?
Just tweeted to them here: https://twitter.com/corradio/status/1162281110518165505

Else, there's a graph at the bottom here that we could use?
https://www.coordinador.cl/

There's also super detailed data here:
https://www.coordinador.cl/operacion/graficos/operacion-real/generacion-real-del-sistema/

[2019-08-16 11:14] systemcatch commented on #655
@corradio good idea we can use the data source for your last link (https://sipub.coordinador.cl/api/v1/recursos/generacion_centrales_tecnologia_horario?fecha__gte=2019-08-10&fecha__lte=2019-08-11) to get historical data for the entirety of Chile. I think we should get rid of the different zones as imo it's no longer correct to view SING/SIC as separate.

[2019-08-16 11:56] corradio commented on #655
agreed

On Fri, Aug 16, 2019 at 1:14 PM Chris <notifications@github.com> wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2019-08-16 14:11] aarbur opened #1937 "UK battery storage"
Hi,

Why does UK battery storage show simply as a question mark?

The following link claims that "as of June 2019, there is currently 700MW of large scale battery storage installed in the UK" but I don't know where they got that information.
https://www.solarpowerportal.co.uk/blogs/uk_battery_storage_capacity_could_reach_70_growth_in_2019_as_business_model

It'd be fascinating to have the battery

[2019-08-18 13:22] seb-1204 opened #1938 "Cape Byron power plant, Australia"
Hi,
Is there a way to get Cape Byron Power onto the map?
https://www.capebyronpower.com

[2019-08-18 16:38] jarek commented on #1938
Are they connected to AEMO, or a standalone area not connected to the wider NSW grid?

[2019-08-19 09:38] systemcatch commented on #1937
Hello @aarbur, you can see in https://github.com/tmrowco/electricitymap-contrib/blob/master/parsers/ELEXON.py#L44 how we do the mapping for the UK. There's no specific category for battery storage in the data so I imagine it is part of the the  `Other` category which is currently being mapped to unknown.

[2019-08-19 09:40] systemcatch commented on #1928
Looks to be back online now!

[2019-08-19 09:40] #1928 closed

[2019-08-19 09:45] systemcatch commented on #1040
Might be some historical exchanges at https://transmission.bpa.gov/Business/Operations/Paths/default.aspx

[2019-08-19 13:18] cuauhtemoc11 commented on #1242
There hasn't been any progress for this country in almost a year. Maybe joining the regions would make it easier for the time being?

[2019-08-19 13:39] pangusion commented on #1933
Hi

Thank you for this information.
I didn't know that total emissions was already available.

After checking discussion about "carbón per capita / carbón per country": (https://github.com/tmrowco/electricitymap-contrib/issues?utf8=%E2%9C%93&q=per+capita).

I also think that carbón by population is a good idea  (better than mine).
You can close this topic.

Note: I have the feeling that electricit

[2019-08-20 09:16] systemcatch commented on #1242
@cuauhtemoc11 I don't see how that makes it easier, we lack any production data for Mexico.

[2019-08-20 09:33] systemcatch commented on #802
Closing this for now, feel free to reopen if you want ot pursue this.

[2019-08-20 09:45] systemcatch commented on #1497
Seems like the Baja California exchange is broken right now, easy fix though. However I don't think we ever actually assigned it a carbon intensity??

[2019-08-20 09:46] systemcatch commented on #1626
I don't know if this was ever implemented, feel free to reopen if it's still a problem.

[2019-08-20 09:46] #1626 closed

[2019-08-20 09:56] systemcatch commented on #1683
The source for this parser no longer works, I'm writing a new historical parser for the whole of Chile in #1939

[2019-08-20 09:56] #1683 closed

[2019-08-20 11:19] makatianatir commented on #1912
Hi,
First of all, great work.

I was interested in Reunion and other french overseas territories.
It seems Reunion has disappeared from the list.
The data have been updated on 20 août 2019 13:14.
(https://opendata-reunion.edf.fr/explore/dataset/prod-electricite-temps-reel/information/)
Maybe the parser needs a few tweaks, i was not able to find the issue.

[2019-08-20 14:16] PETILLON-Sebastien commented on #1912
@makatianatir  I had a look at the API on EDF openApi.
Looks like they didn't provide any data for several hours. I'm not 100% sure, but I think the parser is not bugged. If you see any problem on the RE parser, we can open an issue on it !
@alixunderplatz Yes, I could give it a try. I was more into finding new real-time data, or improving RE estimation (I asked for data about biomass to a NGO in

[2019-08-21 21:26] systemcatch opened #1941 "USA hourly generation by fuel type is now available"
The EIA have just released a new visualization for the USA Electric Operating System. One of the graphs is hourly generation by fuel type for the lower 48 states! From a quick glance it appears to lag behind by about a day but it's still hugely useful! :tada:

https://www.eia.gov/beta/electricity/gridmonitor/dashboard/electric_overview/US48/US48

It also seems like you can drill down into individu

[2019-08-22 08:13] PETILLON-Sebastien commented on #1941
That's really interesting !
Which precision do we want in zones ? Do we need to redefine the zones ?
I'd be OK to work on this on my spare time with one of you.

[2019-08-22 09:33] systemcatch commented on #1941
@PETILLON-Sebastien I think the zones as drawn are currently ok, since this data is lagging behind by 5-10 hours it won't show up on the map. It's more for filling in the database.

Happy to work on this with you.

[2019-08-22 10:11] PETILLON-Sebastien commented on #1941
Fine for the zones !
Oh too bad the lag is big. Do you know if it will be improved ?
Tell me if you fork the project, this way I'll join it. Hope I'll have enough time to contribute significantly.

[2019-08-22 15:47] systemcatch commented on #1941
I'll create a branch on the main repo, that way it's easily accessible.

[2019-08-22 15:52] systemcatch commented on #1864
Fair enough let's close this for now and reopen if we find anything better in the future.

[2019-08-22 15:53] #1864 closed

[2019-08-29 10:13] systemcatch commented on #1713
If you build FL from the remaining counties (change https://github.com/tmrowco/electricitymap-contrib/blob/master/web/generate-geometries.js#L563 to be like https://github.com/tmrowco/electricitymap-contrib/blob/master/web/generate-geometries.js#L611) that should work I think?

[2019-08-29 15:36] snarfed commented on #1713
hah, true, thanks. that would be the easy way; why would i want to do that? 🤦‍♂️

i actually got it working the hard way, with `polygon-clipping.distance()`. i may include that as a commit in the PR, but I'll probably change it to the easy way afterward (in the same PR).

[2019-08-30 20:37] systemcatch opened #1945 "Nicaragua is intermittently down"
There seems to be big gaps in availability of the data, with the following error happening often.

[code]

I snipped off the end of the error message which just shows the html. From the looks of it the map url is still ok.

@jarek any thoughts?

[2019-09-01 07:21] PETILLON-Sebastien commented on #1912
Hello all, I tried to improve Reunion real time data by searching more information about the bagasse/coal repartition in the dedicated power stations. Spoiler : we won't be able to improve it. But I wanted to share with you this attempt, this way, we won't do it again.
I already had bagasse/coal production data from EDF. I found some real time data about the quantity of canne input in the two powe

[2019-09-02 16:27] rzm1 opened #1947 "where is Swedish 37 g from?; using different emission levels"
Sweden is supposed to have emission of 37 g but practically all her sources are below that level of emission. I could find only 95% of sources. Maybe because of rounding. The sum of nuclear, wind, water, NO1, NO2, NO3 is:
.31*12 + .11*11 + .45*24  + .05*28 + 0.02*39 + 0.01*53 = 18.4 g
The missing 5% would have to have 380 g of emission to raise the sum to 37 g.

Another strange thing is import of

[2019-09-02 16:46] jarek commented on #1947
Take a look at the "carbon emissions" view - 51% of emissions come from the 5% "unknown" source:

![image](https://user-images.githubusercontent.com/47415/64127328-2530b300-cd7f-11e9-9692-0c088f9c8cc3.png)

Import from Germany is 2.08 MW as I write this. Possibly it was something like 0.004 MW when you were looking, rounded down.

The CO2 intensity values are median values from IPCC, see second pa

[2019-09-02 17:05] Bjarkigd opened #1948 "Cyprus (Greek part)"
Live generation for Cyprus can be found here, if anyone fancies doing some code https://www.eac.com.cy/EN/CustomerService/Pages/default.aspx

[2019-09-02 17:49] #1948 closed

[2019-09-03 07:31] corradio opened #1949 "Add DK-DK1->NL new interconnector"
It is available from ENTSOE (although it shows no data obviously as it hasn't been put in operation).
It'd be great to have it ready when it opens!
cc @martincollignon

[2019-09-03 10:36] seba1337 opened #1950 "Croatia has no data, Slovenia lacks SI-HR data, but both is available."
I've found sources for both.

SI-HR data is available here https://www.eles.si/trzni-podatki, just seems you would need some work.

But even better, there is HR data, https://www.hops.hr/Home/PowerExchange in JSON, which gives also the missing SI-HR data and other interconnect data (SI = Slovenija, HU = Mađarska, RS+ME = Srbija i Crna Gora, BA = Bosna i Hercegovina) as well as total electricity pr

[2019-09-03 14:34] rzm1 commented on #1947
Thanks. I have overlooked this "unknown" factor.

I know that standard intensities are from IPCC 2014 but they are not always realistic when whole hectares of woods are cut to be transported overseas and burned.

[2019-09-03 15:18] scriptator commented on #1950
Maybe installed installed capacities can be taken from the corresponding [ENTSOE page](https://transparency.entsoe.eu/generation/r2/installedGenerationCapacityAggregation/show?name=&defaultValue=true&viewType=TABLE&areaType=BZN&atch=false&dateTime.dateTime=01.01.2019+00:00|UTC|YEAR&dateTime.endDateTime=01.01.2019+00:00|UTC|YEAR&area.values=CTY|10YHR-HEP------M!BZN|10YHR-HEP------M&productionType.v

[2019-09-03 19:04] systemcatch commented on #1950
Nice research @seba1337, I wrote the old parser (https://github.com/tmrowco/electricitymap-contrib/blob/master/parsers/HOPS.py) for HR which only gets 2 exchanges. They've clearly updated the website significantly, we might even be to have a real-time parser (it'll show unknown/wind only) which precise backfilling from ENTSOE.

[2019-09-03 19:51] seba1337 commented on #1950
There seems to be way too much thermo. Those TE/EL-TO thermo plants (CHP actually) can run either on gas or extra light fuel oil. It seems like they double counted them. For gas the sums agree, but for fossil oil is like they counted gas fired ones again + added a 194 MW plant. Fossil coal I think is old data, the Plomin block A is shut down only recently, it seems like they count Plomin block A+B

[2019-09-03 19:55] seba1337 commented on #1950
I actually just reverse engineered their site, i.e. analyzed traffic on the front page and found the JSON. :-) I haven't found anywhere that they've published the JSON. It's real time, but shows only what I've written, but at least something.

Anyway, I speak both Slovenian and Croatian, if something won't be understandable and google translate won't save the day.

[2019-09-04 02:15] jarek commented on #1947
For what it's worth, per the table in https://github.com/tmrowco/electricitymap-contrib/issues/738#issuecomment-499397532 (data ultimately comes from [Ecoinvent](https://www.ecoinvent.org/)) SE's biomass intensity should actually be 53.8 g/kWh, so a fair bit _lower_

[2019-09-08 15:36] #1497 closed

[2019-09-09 10:37] bpichot opened #1954 "Corrupt solar forecast data"
Hello everyone

I just discovered this tremendously useful website, but I didn't get the solar layer to be displayed anywhere on the map. When I select the layer, the website gets stalled on the loading logo:
![loading_logo](https://user-images.githubusercontent.com/3040810/64523987-e01bfc00-d2fd-11e9-854a-5b2dde422910.png)

I tried it on Firefox 68 and Chromium 76, on Linux (Mint 19), with the sa

[2019-09-09 13:08] corradio commented on #1954
I see an error in the console that comes from https://github.com/tmrowco/electricitymap-contrib/blob/master/web/src/components/layers/solar.js#L84

It's called by https://github.com/tmrowco/electricitymap-contrib/blob/master/web/src/main.js#L566 and because it causes an error it prevents the loading page to disappear. Probably it should show an error message.

[2019-09-09 13:39] #1878 closed

[2019-09-09 23:00] seba1337 opened #1956 "Slovenia lacks amount of installed MW for hydro storage also wind is too low."
The capacity for the only hydro storage plant of Slovenia is 185 MW when consuming and 180 MW when emitting energy. Source: https://www.seng.si/en/hydropower-plants/pumped-storage-hydropower-plant/

Wind should be at least 3,5 MW (source: https://www.delo.si/gospodarstvo/infrastruktura/zakaj-slovenci-ne-marajo-vetrnih-elektrarn.html), or even 4,93 MW according to the latest official statistics: ht

[2019-09-10 00:16] jarek commented on #1956
Thanks for the report! Partial response:

690 MW for nuclear is currently reported to ENTSO-E. Maybe they are overclocking?

In https://github.com/tmrowco/electricitymap-contrib/blob/master/config/zones.json#L3447 it says that hydro capacity includes 180 MW of pumped storage. Perhaps this is because pumped consumption/production is not reported separately to ENTSO-E? We would have to double check.

[2019-09-10 08:35] seba1337 commented on #1956
I'm aware that wind power is too little to show on the linear graph. I was just reffering to the 3.00 MW which you can see if you hover over wind. According to the latest gov. data it should be 4,9 MW, although even if I sum the main two power plants and add a few smaller ones that I know they exist it could sum maybe to 3,5 MW, so 4,9 MW is a bit of a stretch, so I started to wonder...

I'm start

[2019-09-10 08:44] seba1337 commented on #1956
Anyway, this is my proposal:

https://github.com/tmrowco/electricitymap-contrib/compare/master...seba1337:patch-2

[2019-09-11 12:32] PaulCornelissen commented on #1949
I think this one can be closed:
<img width="700" alt="image" src="https://user-images.githubusercontent.com/5185181/64697361-fadaa600-d4a0-11e9-87ef-1eb7a1fc6cea.png">

[2019-09-11 12:41] corradio commented on #1949
Great!

[2019-09-11 12:41] #1949 closed

[2019-09-13 20:32] PaulCornelissen commented on #1871
So I've created a parser for the data from energieopwek.nl because it's simply the best source of data available for renewables currently. I've only used the data for wind and solar, because it's not clear that the other sources only represent power production and fully cover all power production from bio sources.

The new parser is fully back-wards compatible with the old ENTSOE parser, so we can

[2019-09-14 09:26] PaulCornelissen commented on #1871
So today is a good example of ENTSOE data being way of:
<img width="448" alt="image" src="https://user-images.githubusercontent.com/5185181/64906066-a114ee80-d6e1-11e9-8603-dc46ae7d1ad9.png">
ENTSOE doesn't show any solar generation in the past 24h, even though today is sunny and yesterday was also sunny. Yesterday we had wind, but that also doesn't show properly. ENTSOE only shows about 250MW whi

[2019-09-16 07:13] corradio commented on #1871
Hi @MartienVisser @PaulCornelissen !

Thank you for your super useful comments. I've been swamped lately and not really able to look at this quickly enough. Let's validate the PR quickly so we can correct this discrepancy.

Olivier

[2019-09-16 07:52] PaulCornelissen commented on #1871
Hi Olivier,

Yes let's do this! :)

Do you have an opinion on this? Should I enable it? Or should we have a separate discussion on this subject?:

And this:

Paul

[2019-09-16 07:55] corradio commented on #1871
I think you can go ahead with nuclear if we have enough evidence that the data is correct.
@MartienVisser , as you know much more than we do, are you able to tell us if the ENTSOE data is sufficiently correct?

Olivier

[2019-09-16 16:36] PaulCornelissen commented on #1871
@corradio I've created another PR that fixes some minor issues and copies nuclear production from ENTSOE data.

It doesn't yet use ENTSOE data for Gas powered generation, because through back-testing I found that sometimes the sum of Net-imports + Solar + Wind + Nuclear + Gas is higher than consumption which can't be. I suspect that is because ENTSOE consumption data doesn't see behind the meter c

[2019-09-17 08:56] MartienVisser commented on #1871
Yes, I think the nuclear data on the ENTSOE website are correct. The Netherlands has only one nuclear power station with a nominal capacity of 485 MW. Martien

Van: Olivier Corradi <notifications@github.com>
Verzonden: maandag 16 september 2019 09:56
Aan: tmrowco/electricitymap-contrib <electricitymap-contrib@noreply.github.com>
CC: Visser BM, Martien <b.m.visser@pl.hanze.nl>; Mention <mention@nor

[2019-09-17 11:53] PaulCornelissen commented on #1950
So I had a little look at this and sofar I have this:
[code]
The first 9 rows to me appear to be power plants, but I'm not really able to attribute them. The sum of their production (assuming it's live) doesn't add up to total production mentioned under total generation. If these are plants in Croatia and we know the fuel type, then we might be able to attribute a large part of the power productio

[2019-09-17 12:10] seba1337 commented on #1950
The first **ten (10)** are exchanges (not 9), i.e. various high voltage lines. For example Tumbri - Krško1 is one of the high voltage lines connectin Slovenia and Croatia. Ernestinovo - Ugljevik is also such an exchange and not a power plant.

EES I think is "elektro-energetski sustav", electro-energetic system. The rest seems to be alright.
In this case you could do:

Total generation: 798 MW
Win

[2019-09-17 16:38] PaulCornelissen commented on #892
I think something needs to be done about Switzerland.

I was looking at north Italy just now:
<img width="843" alt="Screenshot 2019-09-17 at 18 10 21" src="https://user-images.githubusercontent.com/5185181/65060567-6a0c3a80-d978-11e9-974d-54b3b6a295fb.png">

They are importing about 12% of their CO2 emissions from Switzerland currently, because Switzerland is unknown and it is assumed to have the

[2019-09-18 08:45] corradio commented on #892
What we should definitely do to fix the IT exchanger is to update this file:
https://github.com/tmrowco/electricitymap-contrib/blob/master/config/co2eq_parameters.json#L694
with a statically computed CO2 intensity. I think we could do that by looking at the yearly mix given by an official source?

[2019-09-18 10:12] systemcatch commented on #1950
@PaulCornelissen all done here?

[2019-09-18 10:14] systemcatch commented on #1956
@seba1337 feel free to open a pull request with your changes.

[2019-09-18 10:24] #1926 closed

[2019-09-18 10:30] PaulCornelissen commented on #1950
@systemcatch It seems to work.

We could still improve slightly if someone figured out a more accurate CO2 intensity for unknown production in HR.

Also I simply copied the capacities from ENTSOE, which as discussed above, are probably to high for some technologies. Isn't really a big issue I'd say.

[2019-09-18 10:40] #1938 closed

[2019-09-18 10:40] #1907 closed

[2019-09-18 13:02] #1956 closed

[2019-09-18 13:24] systemcatch commented on #1950
@PaulCornelissen ok then let's close this for now and reopen if needed in the future.

[2019-09-18 13:24] #1950 closed

[2019-09-18 17:14] systemcatch opened #1963 "Cyprus is broken due to SSL error"
The following error keeps showing on the logger for CY but when I run the parser locally everything works fine.

[code]

The encryption used for the SSL cert is weak/broken.

![cy_weak_encrypt](https://user-images.githubusercontent.com/30196510/65170146-f03f8400-da3f-11e9-9f88-e9296290d7e2.png)

Someone with access to the EM server will have to try to fix this. It might just be a case of setting `

[2019-09-20 10:51] corradio commented on #1963
Good catch, I will set min TLS version to 1.0

[2019-09-20 10:52] #1963 closed

[2019-09-20 11:33] PaulCornelissen commented on #1871
There's still a bug. :-(

From ENTSOE:
![image](https://user-images.githubusercontent.com/5185181/65308914-597fde00-db8b-11e9-9efa-d3bfffda4ae8.png)
9622MW load at 1:30 UTC

From electricitymap 3:30 CET:
473MW nuclear + 9MW wind + 6.97GW unknown + 584MW import BE + 569MW import from NO - 701MW export to DK - 1.4GW export to DE = 6504MW load.

That's off by >-3GW.

ENTSOE @ 6:15 UTC:
12595MW load

[2019-09-20 13:41] systemcatch commented on #1963
Are you guys using the same version of requests as is defined in requirements.txt?

[2019-09-20 14:04] corradio commented on #1963
yes, although it's a linux openssl config flag (echo 'MinProtocol =
TLSv1.0' >> /usr/lib/ssl/openssl.cnf)

On Fri, Sep 20, 2019 at 3:41 PM Chris <notifications@github.com> wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2019-09-21 06:54] seba1337 commented on #1950
https://www.hops.hr/page-file/oEvvKj779KAhmQg10Gezt2/temeljni-podaci/Temeljni%20podaci%202018.pdf

For 2018 it's 6691 GWh hydro, 3206 GWh thermo, 1240 GWh wind. So unknown is 6691 GWh + 3206 GWh = 9897 GWh. Hydro taking 68% of the unknown.

[2019-09-21 07:15] seba1337 opened #1966 "Croatia daily solar generation forecast available"
Croatia has publicly available data (in excel :cry:) about the forecast of daily solar power generation.
https://www.hrote.hr/planning-electricity-production-for-the-eco-balance-group (at the bottom)

We could use this data and further refine the Croatia's unknown.

On ENTSOE for example Slovenia most likely reports similar data i.e. forecast. If I check the data generated for today I can see the

[2019-09-23 10:02] systemcatch commented on #1966
We might be able to bypass the excel by using the json url (https://files.hrote.hr/files/EKO_BG/FORECAST/SOLAR/FTP/TEST_DRIVE/22.9.2019.json) which supplies data for the graphs.

[2019-09-24 08:22] martincollignon opened #1969 "Toggle consumption / production looks weird at open"
Mac / Chrome. This is how the toggle looks like to me. Clicking on it makes it normal again.
<img width="304" alt="Screenshot 2019-09-24 at 10 21 22" src="https://user-images.githubusercontent.com/2604526/65494491-3e77db80-deb5-11e9-87cf-3fdfe1b15c43.png">

[2019-09-24 08:25] corradio commented on #1969
@ovbm are you able to help? Maybe it's related to your last PR?

[2019-09-24 08:52] ovbm commented on #1969
Can't reproduce on Firefox & Chrome. Could reproduce on Safari, on every other refresh O.o. No js errors.

[2019-09-25 16:42] Ishaan28malik opened #1970 "The website page is returning some extra values (Dynamic URL issue)?"
https://www.electricitymap.org/?page=map&solar=false&remote=true&wind=false

is being displayed every time I open the  **https://www.electricitymap.org/**

Just wanted to know why  `/?page=map&solar=false&remote=true&wind=false` is being displayed everytime even after refresh .

I think this is an issue and instead, it should display `https://www.electricitymap.org/`

[2019-09-26 07:34] zilefaith commented on #1966
Great and very informative post. I really appreciate your effort in this post. I got it what you have tried to explain about [Solar panels ](https://estimate.solar)devices.

[2019-09-26 07:58] corradio commented on #1970
Hello!
We add the flags to the URL to make sure it can be shared properly.
For example, if someone clicks on Germany and copy/pastes the link, then the person clicking the link will be directed to the same view.

[2019-09-26 09:23] Ishaan28malik commented on #1970
Oh, I see, this seems unfamiliar to me, Do you have any docs or you are following anything .So that I get some knowledge on the same?

Also, don't you think this can be handled internally in the Javascript source code as it will look more precised to see a clean URL instead of this one .

[2019-09-26 09:58] corradio commented on #1970
It's actually very common practice. Look at how Google Maps works for
example.

On Thu, Sep 26, 2019 at 11:23 AM Championrunner <notifications@github.com>
wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2019-09-26 13:45] systemcatch commented on #1937
Not really ideal that storage is going to unknown but until a better data source is found not much is going to happen here.

[2019-09-26 13:45] #1937 closed

[2019-09-26 13:51] #1933 closed

[2019-09-26 13:54] gecoffman commented on #1899
Hello - I would like to take a crack at building a parser/creating a wrapper for the API

[2019-09-26 14:23] systemcatch commented on #1897
closing for #1862

[2019-09-26 14:23] #1897 closed

[2019-09-26 14:24] systemcatch commented on #1862
Quoting from #1897

[2019-09-26 14:49] scriptator commented on #1930
Unless somebody different can do it earlier, I will approach this in about two weeks from now.

[2019-09-27 07:23] Ishaan28malik commented on #1970
Ok thanks for the solution, I appreciate that @corradio

[2019-09-27 07:23] #1970 closed

[2019-09-27 12:22] PETILLON-Sebastien commented on #1912
Hey, I'd like to work on the french overseas territories for historical data.
I have some questions :
- with only historical data, do I have to implement fetch_production only when target_time is defined and raise an NotImplementedError when it's not ?
- I found this API https://opendata-corse-outremer.edf.fr/explore/dataset/courbe-de-charge-de-la-production-delectricite-par-filiere/table/?disjunc

[2019-09-27 12:29] corradio commented on #1912
Hi!
For the first point, you're absolutely right.
For the second, you can build a single parser. Note that the `fetch_production` actually receives as parameter the `zone_key`, so you can use a single parser to fetch different zones.
For the last point, we manually retrieve historical data for now.

[2019-09-27 14:05] PETILLON-Sebastien commented on #1912
Thanks a lot for this fast response.
Hope I'll have some time this week-end to start working on it.
Maybe I'll ask some help on slack if I have a doubt on something about the second point.

[2019-09-27 14:16] systemcatch commented on #1930
@scriptator I will make a start on this one.

[2019-09-27 14:41] OlgaCh commented on #1966
Hello
I have large experience in web-scraping/data parsing.
Would love to work on this issue during `hacktoberfest`.
If you're ok with it could you please assign an issue to me? Thanks a lot!

[2019-09-27 15:12] martincollignon commented on #1966
Hi Olga - sounds great! Would you start working on it now? Otherwise let me know when you start working on it and I'll assign it to you then :-)

[2019-09-27 15:53] OlgaCh commented on #1966
@martincollignon I was planning to start working on it this weekend but should submit PR in October to stay compliant with the rules.

[2019-09-27 15:55] Mario500X opened #1972 "Costa Rica data, official source"
Hello Guys,
Just want to point out theres an official source for data from Costa Rica at

https://apps.grupoice.com/CenceWeb/CencePosdespachoNacional.jsf

where data is published daily.  Its from our electricity dispatch center and lists all the generation plants operating in Costa Rica, daily.

I downloaded it to excel and attached plant type (hydro, wind, etc. ) and on "emission factors" tab, pu

[2019-09-27 16:00] martincollignon commented on #1972
Nice @Mario500X! Do you work for the Costa Rican government? If yes, do you have contacts in other countries? Feel free to DM me on our slack (slack.tmrow.com)

[2019-09-27 16:05] martincollignon commented on #1966
I'll assign it to you then. I'll remove it on October 1st if not PR'ed/heard from you to let others help out :)

[2019-09-27 17:43] tamarau commented on #1535
Can I pick that one up please? 🙋‍♀️

[2019-09-27 17:46] ovbm commented on #1535
Sure, you are more than welcome! :)

[2019-09-27 17:52] tamarau commented on #1535
Sweet! Can I move it in to 'Doing' column for the hacktoberfest project board?

[2019-09-27 18:23] martincollignon commented on #1535
Go ahead 😊

On Fri, Sep 27, 2019, 19:52 Tamara <notifications@github.com> wrote:

[2019-09-27 18:51] tamarau commented on #1535
Just to double-check, the panel this issue is referring to is the side panel on the left (in the red circle)? What about the other two panels I circled? Happy to change them as well :)

Also I can't move that issue in the project wall because I think I need to be assigned to the issue first ☺️

<img width="1083" alt="Screenshot 2019-09-27 at 19 48 30" src="https://user-images.githubusercontent.com

[2019-09-27 19:11] martincollignon commented on #1535
You've got it, and go ahead :)

[2019-09-27 19:14] tamarau commented on #1535
Cool thanks! Yeah I know I have to wait, I'm just way too keen! 😄

[2019-09-27 20:04] piyush-kgp commented on #1889
A simple `docker build image-name .`  builds docker image incrementally from last built image. To force the daemon to not build incrementally you do `docker build --no-cache image-name .` Unless you add that `no-cache` argument, you should be guaranteed of incremental build.
Ref: https://docs.docker.com/engine/reference/commandline/build/

[2019-09-28 07:02] martincollignon opened #1973 "🇨🇳Data for China"
It would be great to get any real-time fuel or exchange information for any of the grid regions of China. Please let us know if you have any resources or contacts!

[2019-09-28 07:03] martincollignon opened #1974 "Data for Vietnam 🇻🇳"

[2019-09-28 07:07] martincollignon commented on #802
Could be done as part of Hacktoberfest.

[2019-09-28 07:36] martincollignon opened #1975 "Create Google Action for electricityMap"
ElectricityMap could become an action on Google Assistant.

https://developers.google.com/actions/

We do not know a lot about it, so any pointers and help would be great. DM me on [Slack!](slack.tmrow.com)

[2019-09-28 07:38] martincollignon opened #1976 "Create Alexa skills for ElectricityMap"
ElectricityMap could become an action on Alexa.

https://developer.amazon.com/docs/ask-overviews/build-skills-with-the-alexa-skills-kit.html

We do not know a lot about it, so any pointers and help would be great. DM me on [Slack](slack.tmrow.com)!

[2019-09-28 07:55] ShahneRodgers commented on #1610
I assume something else came up @oielbanna so do you mind if I take this on for Hacktoberfest?

[2019-09-28 08:03] martincollignon opened #1977 "How to help when no data"
Instead of just "No data available", we could also write a CTA? "Help out!"
We could give pointers on where to look for data / which organization to reach out to.
That would also help non technical individuals to get onboard as contributors.

[2019-09-28 10:24] corradio commented on #1975
@martincollignon I already created something. Let's sync IRL next week

[2019-09-28 10:25] corradio commented on #1974
do you have any source? Else I don't think it makes much sense to open an
issue (imagine if we opened an issue for every country in the world)

On Sat, Sep 28, 2019 at 9:03 AM martincollignon <notifications@github.com>
wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2019-09-28 10:25] corradio commented on #1973
Same comment as in #1974

On Sat, Sep 28, 2019 at 9:02 AM martincollignon <notifications@github.com>
wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2019-09-28 10:30] martincollignon commented on #1974
I imagine this to be an easier way to allow people to see that it's something missing. It's a maximum of 198 issues ;)

[2019-09-28 12:11] tamarau opened #1978 "Refactor CSS to use SCSS"
Instead of having one long CSS file I would like to use SCSS files to create a more maintainable style approach.

Some pros of using SCSS rather than CSS:
 - nesting
- splitting of files (separate files for header, panels, maps, ...)
- use of variables for colours and other static values (paddings)
- way easier to read and maintain

We'd have to use [sass-loader](https://github.com/webpack-contrib

[2019-09-28 15:13] jarek commented on #1973
This will almost certainly be split into grid regions, BTW.

[2019-09-28 15:21] jarek commented on #1974
https://en.evn.com.vn/ is a major organizer, but there are regional grid operators with - as I understand it - considerable degree of operational independence, for example https://www.evnhcmc.vn/

[2019-09-28 15:23] jarek commented on #1972
We actually have a Costa Rica parser https://github.com/tmrowco/electricitymap-contrib/blob/master/parsers/CR.py which uses that very page, however it seems to be out of date right now - possibly a new power plant has been added that needs handling on our side

[2019-09-28 16:13] WagnerMoreira commented on #1978
I am also keen to do/help doing this refactor if you're interested, please let me know!

[2019-09-28 16:17] WagnerMoreira commented on #1857
@systemcatch can I work on this idea or are you planning to do this already?

[2019-09-29 15:26] systemcatch opened #1981 "Add organization contact links for zones with no data"
This was discussed on slack.

It's a simple idea, we add a new key to the zones file for zones where we have no data but know who could provide that data.

For example South Africa;

[code]

Then when a user hovers/clicks an empty zone the popup reads something like;

"There is no data currently available for this area.
Get in touch with **insert contact link here** and ask them to provide public

[2019-09-29 16:59] oielbanna commented on #1610
@ShahneRodgers  yup, sorry about that. All yours!

[2019-09-29 17:03] corradio commented on #1889
Everything works well on my side (I can't reproduce your issue @jld3103 )
I'm tentatively closing this as I don't believe it's an issue with the way the project is set up.
If that's not the case, please feel free to re-open!

Olivier

[2019-09-29 17:03] #1889 closed

[2019-09-29 17:06] martincollignon commented on #1981
This is a great idea!

[2019-09-29 19:48] brandongalbraith commented on #1981
Along the same lines, is there a reference API spec that can be provided (the ideal way to provide the necessary generation/consumption mix data to Tomorrow's electricity map scrapper) to orgs that haven't yet provided a public interface? (If this is excessively out of scope for this issue, please say so!)

[2019-09-29 19:55] alixunderplatz opened #1982 "Fix regional parsers for India (IN)"
We used to have working parsers for electricity production of 8 States of India
(see https://github.com/tmrowco/electricitymap-contrib/tree/master/parsers IN-....py).

Recently, only 2-3 of the indian parsers still work, so the others need a check / fix. Maybe it's just the format, or sometimes the website or the url doesn't exist anymore.

We used to have issues regarding Indian states in the ele

[2019-09-29 19:58] martincollignon commented on #1981
Definitely not out of scope, @brandongalbraith . Here is what our parsers need (can also be found here https://github.com/tmrowco/electricitymap-contrib#adding-a-new-country):

[code]

I think we could draft a simple email asking for this data, and then even add a mailto link to make @systemcatch 's suggestion even more powerful

[2019-09-29 20:11] alixunderplatz opened #1983 "Fix parser for Russia (RU)"
We used to have data for Russia's electricity production and all the exchanges to its neighbours.
At some point we moved from using .csv files to using the api of the market operator (if I remember correctly).
For some reason, this isn't working anymore, so something needs to be fixed to get back the two Russian market zones.
Running the parser locally works fine for me. @corradio Are there too ma

[2019-09-29 20:20] alixunderplatz opened #1984 "Dashboard for Aruba displaying 0 MW - contact data provider"
The dashboard displays "0.0 MW" for any of the production types of the island of Aruba:
https://www.webaruba.com/renewable-energy-dashboard/aruba

@martincollignon Would you drop them a message and ask for a fix of the dashboard? Or should somebody else do it?

[2019-09-29 20:25] martincollignon commented on #1984
Sent them an email.

On Sun, 29 Sep 2019 at 22:20, Alex <notifications@github.com> wrote:

[2019-09-29 20:31] martincollignon commented on #1984
For the interested, this is the email I sent:

[2019-09-29 20:51] jarek commented on #1981
See previous discussion in https://github.com/tmrowco/electricitymap-contrib/issues/1232

[2019-09-30 00:23] jarek opened #1985 "Meta-issue: verify or overhaul Australia parsers"
Australian parser for AEMO has always been wonky and has several remaining outstanding issues, see: https://github.com/tmrowco/electricitymap-contrib/issues/1196, https://github.com/tmrowco/electricitymap-contrib/issues/799

Additionally Western Australia currently has no data, although it worked before.

Currently AEMO is still wonky, see for example the origin of electricity chart below, the fla

[2019-09-30 00:27] jarek commented on #738
Bruno's most recent comment here https://github.com/tmrowco/electricitymap-contrib/issues/738#issuecomment-499397532 has a table of carbon intensities for fuels for EU/ENTSO-E countries. It would be a great contribution to add these to corresponding `zoneOverrides` in https://github.com/tmrowco/electricitymap-contrib/blob/master/config/co2eq_parameters.json.

[2019-09-30 00:28] jarek commented on #1947
I'm closing this issue as it seems like it's best addressed by using Ecoinvent's data in #738. Please reopen if you have further questions!

[2019-09-30 00:28] #1947 closed

[2019-09-30 00:47] jarek commented on #1003
I have been thinking about a dashboard because parsers unfortunately keep on getting lost. (Currently: Costa Rica, Western Australia, Russia...)

Oli's second link doesn't seem to work anymore, is it possible to recreate?

It would be great to set up a visual red/yellow/green list of regions that have had data in the past but are down today (yellow) or for a couple of days now (red).

[2019-09-30 06:53] corradio commented on #1978
That sounds like a very useful contribution!

On Sat, Sep 28, 2019 at 6:13 PM Wagner Moreira <notifications@github.com>
wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2019-09-30 07:15] corradio commented on #1003
Kibana has a feature where we can make a dashboard. I fiddled around with it a long time but haven't got time to do more lately.

[2019-09-30 07:17] corradio commented on #1983
We had to change the parser with @FelixDQ due to too many requests indeed.
We should investigate what the kibana dashboard shows in terms of error to see if something went wrong in that process.

[2019-09-30 07:41] martincollignon commented on #1978
@tamarau and @WagnerMoreira, go ahead :)

[2019-09-30 09:43] timrodz opened #1986 "Add source for thermal energy"
I have noticed quite a few countries (Mainly Latin America) use thermal as their sources of energy. Instead of it being parsed to `unknown`, this energy type could be added to the source dictionary.

Unless the best way to go about this is to assign it another source type, e.g. `geothermal`?

Currently:
[code]

Could become:
[code]

[2019-09-30 09:51] corradio commented on #1986
Hi @timrodz (cc @martincollignon )
It's a good idea. However, we've made the choice I long time ago that we'd like to differentiate the source of fuel (coal/gas/biomass/geothermal..) as thermal sources have different emissions based on what fuel is used.
This is why it makes sense to resort to "unknown" when the actual fuel is not known (even though we know it is thermal).

Note that it is possibl

[2019-09-30 09:51] #1986 closed

[2019-09-30 14:45] OlgaCh commented on #1966
@martincollignon writing just to let you know that work is on track. Will submit PR tomorrow :)

[2019-09-30 14:55] gecoffman commented on #1899
Looks like the API requires using SOAP - will take me a little longer, will try to have done by the end of this week.

[2019-09-30 23:27] corradio commented on #143
@systemcatch should we close this issue?

[2019-09-30 23:30] corradio commented on #1883
@Merano01 are you able to provide this feedback to @Dalius-ENTSO-E?
There's nothing unfortunately we can do from here

[2019-09-30 23:30] #1883 closed

[2019-09-30 23:31] corradio commented on #1869
@Gazer75 is this still happening?

[2019-09-30 23:33] corradio commented on #1855
Closing due to inactivity (feel free to re-open if you think I did a mistake closing this!)

[2019-09-30 23:33] #1855 closed

[2019-09-30 23:33] corradio commented on #1851
Closing due to inactivity (feel free to re-open if you think I did a mistake closing this!)

[2019-09-30 23:33] #1851 closed

[2019-09-30 23:33] corradio commented on #1818
Such a good idea but unfortunately we won't have time to work on this :/

[2019-09-30 23:33] #1818 closed

[2019-09-30 23:34] corradio commented on #1695
@systemcatch should I close this?

[2019-09-30 23:35] corradio commented on #1624
Closing due to inactivity (feel free to re-open if you think I did a mistake closing this!)

[2019-09-30 23:35] #1624 closed

[2019-09-30 23:35] corradio commented on #1375
Closing due to inactivity (feel free to re-open if you think I did a mistake closing this!)

[2019-09-30 23:35] #1375 closed

[2019-09-30 23:36] corradio commented on #1257
Closing due to inactivity (feel free to re-open if you think I did a mistake closing this!)

[2019-09-30 23:36] #1257 closed

[2019-09-30 23:36] corradio commented on #1029
@alixunderplatz would you have time to help a bit here?

[2019-09-30 23:38] corradio commented on #448
Closing due to inactivity (feel free to re-open if you think I did a mistake closing this!)

[2019-09-30 23:38] #448 closed

[2019-10-01 00:52] KyleARector commented on #1982
Would it be alright if I picked this issue up?

[2019-10-01 01:14] Gazer75 commented on #1869
Yep this is still a problem. At the moment it looks like NO5 to NO1 is reversed. That is West to Southeast.
The lines for the zone transfers also do not list the zones properly and simply say like "NO-NO1" where it should say NO5-NO1 if I have West zone selected.

[2019-10-01 06:36] anirudnits commented on #1985
I would like to work on this issue.

[2019-10-01 06:56] Dalius-ENTSO-E commented on #1883
interesting observations. Could you please send main observations to transparency@entsoe.eu ? My colleague will check this APG.

[2019-10-01 07:08] corradio commented on #1869
I've looked at it and it seems like exchanges.json should showcase [600, -3900] instead of [-600, 3900].

[2019-10-01 07:47] Gazer75 commented on #1869
If that's the case then the description line above has to be reversed as it is 3900MW from NO5 to NO1 and only 600MW the other way. Same goes for line for NO1->NO2.
https://github.com/tmrowco/electricitymap-contrib/blob/fc85e871cf17735ab6c4451ed574d29666e9c0cd/config/exchanges.json#L1923

[2019-10-01 08:03] corradio commented on #1869
Sorry I just dug into the code and the two numbers represent the min and max of the net flow.
Therefore, the first number represents the NO5->NO1 capacity (needs to be negative), and the second the NO1->NO5 capacity (needs to be positive).
Therefore, the value should be [-3900, 600]. Let's try this one out and if it works we do the others?

[2019-10-01 08:06] Gazer75 commented on #1869
Exactly, and thus the description for them should be reversed so that it says "NO-NO5->NO-NO1". That to me indicate you send from 5 to 1 and thus first positive number has to be the higher one as that's the one with most capacity. Sending something is taking something away which is negative right?

[2019-10-01 08:08] corradio commented on #1869
right! The only thing is that the description is always ordered alphabetically (for performance reasons) so we can't change it. Instead, we should change the values that currently describe NO5->NO1 such that they describe NO1->NO5

[2019-10-01 08:10] Gazer75 commented on #1869
Very unintuitive to type the values in reverse though and this is very easy to get wrong.

[2019-10-01 08:12] corradio commented on #1869
I hear you. To be fair this only applies to zones that are listed in a given order (NO1,NO2...). Most other zones do not have an order associated.
@Gazer75 would you be able to make the changes? That would be appreciated 🙏

[2019-10-01 08:17] Gazer75 commented on #1869
I am a bit confused about this so if you understand it please do the corrections. There should probably be a note in there that these values has to be reversed?

[2019-10-01 08:20] Gazer75 commented on #1869
Best thing would be to grab these values directly from ENTSO-E
For Norway there seem to be a weekly forecast on capacity.

[2019-10-01 09:27] eitreb opened #1992 "Issues on Formentera"
There's something broken on the Formentera parser: it often shows no production at all, or incomplete generation data

[2019-10-01 09:33] systemcatch commented on #1899
Good stuff @gecoffman, post here if you need any advice on writing the parser.

[2019-10-01 09:39] systemcatch commented on #1983
This is the error on the logger that occurs for production and exchanges.

[code]

[2019-10-01 09:43] systemcatch commented on #1982
@martincollignon, @alixunderplatz I propose we switch India back to using the whole country parser (https://github.com/tmrowco/electricitymap-contrib/blob/master/parsers/IN.py) for now, there are too many errors in the regional parsers.

[2019-10-01 10:09] systemcatch commented on #1992
It is sort of working again, the logger shows the error that was occuring.

https://kibana.electricitymap.org/app/kibana#/doc/96f67170-0c49-11e9-85c1-1d63df8c862c/logstash-2019.09.30/doc?id=ZT5sgm0B9KdT5TbKMT10&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-24h,mode:quick,to:now))

[code]
Can't see the response code which is annoying, most likely the service was down.

[2019-10-01 12:38] jarek commented on #1983
I think that error message probably means it got an empty string response or an HTML error message from the API. Is the API response logged? If not we might want to catch the JSONDecodeError and log what caused it (it might even be a good idea to do it for all the parsers centrally)

[2019-10-01 14:16] S3rbane commented on #1984
https://www.webaruba.com/renewable-energy-dashboard/app/rest/results.json

This is where the data is pulled from, seems there's a error server side.

[2019-10-01 14:46] S3rbane commented on #1930
Does anyone have a copy of the old .CSV file for reference out of curiosity?

[2019-10-01 15:19] alixunderplatz commented on #1930
@S3rbane I'll see if I can find it in my files.

[2019-10-01 19:08] alixunderplatz commented on #1982
@systemcatch agreed. India's electricity production is really complicated, anyway (independent producers, state producers, shared power plants, ...), so I think data-wise it's the safest to "reduce" to the whole country.

[2019-10-01 19:13] alixunderplatz commented on #1982
@kyleARector from the list above, I think Chattisgarh / IN-CT.py is something that seems fixable :)
Go ahead if you like!

[2019-10-01 19:23] alixunderplatz commented on #1029
@corradio I'll look into this from 3rd October onwards ;)
entsoe data plus EDF data for Corse will help getting the last bits done here :)

[2019-10-01 19:25] alixunderplatz commented on #1029
By the way: the interconnector between Italy/Italy south and Greece still isn't working on the map
Somebody could check the "regional codes"/ bidding zone codes on entsoe for this interconnector for changes

[2019-10-01 23:14] alixunderplatz commented on #78
Data for the Netherlands on ENTSOE is almost looking good now ;)
We need to check in the next days, whether the balance of production and exchanges nearly matches the load. If so, we can finally activate the entire production mix for the NL ;)

@Dalius-ENTSO-E for your info: currently, a "fossil gas consumption" of up to 1,7 GW is reported for the NL. I guess that's a bug, and the reported amount

[2019-10-02 11:13] #1966 closed

[2019-10-02 15:34] eitreb commented on #1992
Nothing changed, something isn't working, I doubt Formentera switches from no consumption to 100% gas to 100% solar suddenly…

![Screenshot_20191002-172747__01](https://user-images.githubusercontent.com/45237862/66058472-bb9cf380-e53a-11e9-9548-f75ba4be0698.jpg)

[2019-10-02 16:32] Chopinsky commented on #1969
I can reproduce this issue on my Chrome as well. I think the issue comes from the first-load, on any ensuing refreshes or reloads, the toggle button works just as expected. The problem seems to come from the code @jamescrowley has mentioned: the overlay's `left` and `width` properties are miscalculated on the first run.

I'd like to work on this issue, it shouldn't be too complex imho, but if anyo

[2019-10-02 17:00] lacexd commented on #1857
@systemcatch I'd also love to work on this one.

[2019-10-02 17:20] systemcatch commented on #1857
@WagnerMoreira @lacexd

No I'm not planning on tackling this issue anytime soon, so feel free to have a crack at it. I suggest working together would make this easier.

[2019-10-02 17:24] systemcatch commented on #1695
@corradio yeah let's close this.

[2019-10-02 17:24] #1695 closed

[2019-10-02 20:57] postronium commented on #1762
This is a good idea. I would be great to have different values for hydro storage generation and consumption. Do you think it wouldn't be better to put the pumped storage into the Hydro Water Reservoir for hydro storage? Like this [-5645, 19146]

[2019-10-03 02:44] Chopinsky commented on #851
I think the main obstacle to implement this is to find a good way of obtaining each supported locale  / language's JSON definition. `d3-format` package does contain most of the definition files (see [d3-format's locale folder](https://github.com/d3/d3-format/tree/master/locale)), however, these definitions are not exported, hence we can't use them directly.

So here're 2 possible solutions popping

[2019-10-03 09:23] systemcatch opened #2007 "Left panel should be fully expandable"
The left hand panel contains so much interesting information yet it's tiny and cramped.

![em_panel_tiny](https://user-images.githubusercontent.com/30196510/66114569-fea4a880-e5c6-11e9-82f5-d1c86db884ef.png)

You have to start zooming in to view it properly, and the fact users have to scroll to see all the charts isn't great.

I propose we make the panel fully expandable (either via toggle or drag

[2019-10-03 09:38] corradio commented on #2007
It's a good idea. I almost feel like we need to rewrite the map in React if
we want to achieve this, as I believe we've reached maximum code complexity
with the current implementation.

On Thursday, October 3, 2019, Chris <notifications@github.com> wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2019-10-03 09:42] systemcatch commented on #1992
Looks absolutely all over the place, the data source (https://demanda.ree.es/visiona/baleares/formentera/total) seems alright though.

[2019-10-03 09:50] systemcatch commented on #2007
Is it because the panel expanding across the map forces a redraw again when collapsed?

Maybe we could expand onto a separate page (no map) and just load data into the graphs on that?

[2019-10-03 09:53] corradio commented on #2007
It's more that any code that affects how the UI state works is going to be
more and more difficult as the code is becoming complex.
Sorry to be the bearer of bad news, but I feel like the time to refactor is
getting closer!

On Thursday, October 3, 2019, Chris <notifications@github.com> wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/cor

[2019-10-03 11:00] systemcatch commented on #2007
Ok but can you explain what is making the code more complex? I also think if you refactor the frontend then it's a good idea to decouple it from your database (not linking zones to geometries so directly.)

[2019-10-03 11:13] #1930 closed

[2019-10-03 11:46] alixunderplatz commented on #1029
I'm currently reviewing the data of the DC-link between:
**Central North Italy (IT-CNO)<->Corsica(FR-COR)<->Sardinia(IT-SAR)**.

**Note**: At the moment the DC-link seems to be out of service or the data is N/A and we probably cannot reproduce/test the power flows in real time on the map! 😭

Basically, the DC interconnector has a total capacity of 300 MW and can work in both directions. Capacity o

[2019-10-03 11:54] corradio commented on #2007
yeah I fully agree for the decoupling.
What is making the code complex is the current rendering pattern which uses
redux without react.
For this PR we would need to add a new UI state representing a fully
expanded left panel (which is easy) and then make sure the whole UI
responds to that state (more difficult as there are many moving parts).

To be clear: I don't think it's blocking per se for th

[2019-10-03 13:56] alixunderplatz commented on #1029
The underlying [ENTSOE physical flow data is from here](https://transparency.entsoe.eu/transmission-domain/physicalFlow/show?name=&defaultValue=false&viewType=TABLE&areaType=BORDER_BZN&atch=false&dateTime.dateTime=01.06.2019+00:00|CET|DAY&border.values=CTY|10YIT-GRTN-----B!BZN_BZN|10Y1001A1001A70O_BZN_BZN|10Y1001A1001A893&dateTime.timezone=CET_CEST&dateTime.timezone_input=CET+(UTC+1)+/+CEST+(UTC+2

[2019-10-03 14:32] Tallbo opened #2008 "Showing the energy mix of zone imports"
Hej
Hur kontrollera man hur stor andel från Tyskland  som är vind, kol, gas, biomassa &/eller kärnkraft av tex Danmarks import?

Faktum är att det borde var tre cirklar.
Fossil fri
CO2 fri
Förnybart

Tex biobränsle räknas som fosilfri, men släpper ut CO2.

& det är CO2 som är akuta hotet, eller.......?

[2019-10-03 14:43] martincollignon commented on #2008
Thanks for your message!

Because the vast majority of our community does not speak Swedish, would you mind repeating your question in English?

[2019-10-03 15:56] Chopinsky opened #2009 "[UI Issue] "color blind mode" checkbox text misalignment"
It seems that the "color blind mode" checkbox's text is slightly misaligned with the box. This should be fixable with some CSS.

- Chrome
![image](https://user-images.githubusercontent.com/5376280/66142465-0bc39680-e5cb-11e9-93a5-0ff03ecc899e.png)

- Firefox
![image](https://user-images.githubusercontent.com/5376280/66142813-c489d580-e5cb-11e9-9d34-967a5a31eb21.png)

- Edge
![image](https://user-i

[2019-10-03 18:25] lanpai commented on #2009
Could I handle this?

[2019-10-04 06:57] ystanwar commented on #2009
Hi cab I take this issue

[2019-10-04 07:35] andreasamsler commented on #892
Hi there, do these data sources help any further ?

- https://opendata.swiss/fr/dataset/wochenstatistik-elektrizitatsbilanz-erzeugung-und-abgabe-elektrischer-energie-in-der-schweiz
- https://opendata.swiss/fr/dataset/schweizerische-statistik-der-erneuerbaren-energien
- https://opendata.swiss/fr/dataset/schweizerische-gesamtenergiestatistik
- https://opendata.swiss/fr/dataset/schweizerische-elektri

[2019-10-04 08:18] alixunderplatz opened #2011 "Taiwan TW.py parser fails"
Help wanted! :)
Taiwan isn't showing any data at the moment and the parser has to be fixed.

This is the error message for TW.py of the logger:
'DataFrame' object has no attribute 'convert_objects'

I get this warning running the parser locally (probably with older versions of the libraries):
[code]
But I still recieve an output:

[code]

[2019-10-04 08:42] systemcatch commented on #2011
I will try to get this fixed quickly.

[2019-10-04 09:30] cmikovits opened #2012 "Hydro Storage Emissions"
Regarding Hydro Storage Emissions:
- why are hydro storages emitting CO2equ? Even if in the case of pumped hydro storages the water was pumped with e.g. energy from coal, this was already emitted and is not emitted again
- in e.g. Austria the pumping capacity is much lower than the production capacity, as most storages are fed by natural water inflow.

So these numbers are afaik not correct.

Keep

[2019-10-04 11:12] uy-rrodriguez commented on #1633
Hi there, I'm new to this community. Any updates on these UY-AR issues?
I'd like to participate in the project and this may be a good starting point, not because of my knowledge in Electricity Engineering, but because I'm from Uruguay :)

By the way, I've found this project in the Hacktoberfest challenge website, happening in London and linked to UCL. You may get more students/staff involved in is

[2019-10-04 12:40] jarek commented on #2012
Hello,

See #1883 for details on how storage emissions are accounted, and about Austria's "storage".

[2019-10-04 15:16] kai670 commented on #1762
That will not work because it can exist pumped storage consumption and at the same time hydro water production. If we sum both values we will lost information and we will not be able to know if consumption is really happening or not.

Afaik, we can't have independent information about pumped storage generation because a part of the pumped storage is installed in conventional hydroelectric reservoi

[2019-10-05 11:33] cmikovits commented on #2012
Thanks, this explains the issue.

[2019-10-05 12:45] lacexd commented on #1857
@systemcatch @WagnerMoreira I've created a PR with the first 2 tasks done so you could take over with the last 2 if you wish.

[2019-10-05 14:24] jarek commented on #2012
Great, thanks for dropping by and asking!

[2019-10-05 14:24] #2012 closed

[2019-10-05 14:26] jarek commented on #1985
Looks like it should be good for you to take a look, @anirudnits!

[2019-10-05 19:27] Natendrtfm opened #2018 "Infinite solar loading (or more than 10 minutes)"
It seems that the page where solor data is shown have infinite loading on Edge

i Don't know if it's only for me but it's weird
[https://www.electricitymap.org/?page=map&solar=true&remote=true&wind=false](Page)

[2019-10-05 19:29] Natendrtfm commented on #1954
Got the same error also on edge ( #2018 )

[2019-10-05 19:54] jarek commented on #1954
Right now (19:53 UTC) in Firefox I get 404 when the page attempts to load https://api.electricitymap.org/v3/gfs/solar?refTime=2019-10-05T18:00:00.000Z&targetTime=2019-10-05T19:00:00.000Z with response "Forecast was not found", it also attempts to load https://api.electricitymap.org/v3/gfs/solar?refTime=2019-10-05T12:00:00.000Z&targetTime=2019-10-05T19:00:00.000Z which loads fine (different refTime

[2019-10-05 19:55] jarek commented on #2018
Thanks for the report, let's concentrate the discussion in #1954

[2019-10-05 19:55] #2018 closed

[2019-10-05 20:15] juliaevk commented on #1978
I didn't see any PRs for this yet so I'm taking it! I've got the build process set up locally with autoprefixer and minification, just reorganizing the CSS to SCSS before I commit.

[2019-10-06 07:46] anirudnits commented on #1985
@jarek thanks. Will do.

[2019-10-06 11:17] Cazaimi commented on #1983
@systemcatch , may I take this up? If yes, can you assign me to this issue?

[2019-10-06 12:49] vidya666 commented on #304
Data on the generation of power from thermal stations in Tamil Nadu is present in https://www.tangedco.gov.in/thermal-stations.html
Data on generation of power from renewable sources like hydro stations and gas-turbines :
https://www.tangedco.gov.in/hydro-stations.html
https://www.tangedco.gov.in/gas-turbine-stations.html

[2019-10-06 13:09] Kineolyan commented on #1954
Hello everyone, I will try to fix this issue.

[2019-10-06 14:40] po5i commented on #1558
Hey everyone! Any updates on this (at least from the CENACE side)? I'm currently living in Quito (where CENACE is located) and I'm willing to help.

[2019-10-06 16:29] corradio commented on #1954
Hi all,
As I said:

GFS hasn't responded yet unfortunately. What happens is that the time of the forecast file is wrong, and hence the server gives a 404. This is part of code that is not open sourced.
Here's the mail I sent for reference:

[2019-10-06 16:43] jarek commented on #1954
However we should try to fix the behaviour of Electricity Map web JS frontend when the server returns 404

[2019-10-06 21:19] tamarau commented on #1535
Hi,

I'll wait until that PR (https://github.com/tmrowco/electricitymap-contrib/pull/2019) is being approved and merged in, as my changes will be in the CSS and if I do it before it gets merged in there will be some merge conflicts :)

[2019-10-07 05:22] corradio commented on #1954
Yes indeed !

On Sunday, October 6, 2019, jarek <notifications@github.com> wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2019-10-07 15:48] jerryfrancis-97 commented on #774
Hi @alixunderplatz Can we use online translation methods to handle this issue?

[2019-10-07 21:37] mikkelrev22 commented on #774
Hi, I am new to this project/open source contribution, but I speak Korean. Maybe I can help!

[2019-10-07 21:38] aodysseos opened #2022 "Do you need a greek translation?"
Let me know if you like me to make a PR with greek translations for your project!

[2019-10-08 09:36] corradio commented on #2022
if you have time that'd be great!

On Monday, October 7, 2019, Andreas Odysseos <notifications@github.com>
wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2019-10-08 12:56] #2011 closed

[2019-10-09 11:00] systemcatch commented on #774
@mikkelrev22 if you speak Korean then that's ideal, do you want me to assign this issue to you?

[2019-10-09 16:14] scriptator commented on #1015
I created a parser for fetching AT exchange data from [transparency.apg.at](https://transparency.apg.at/) - see PR #2026 . I implemented it in order to find out
- how much faster the data is available compared to the ENTSOE data source
- whether the data is consistent with ENTSOE and with the data published by neighboring countries

I will now start to collect data from this parser so that I can e

[2019-10-09 20:57] mikkelrev22 commented on #774
@systemcatch Yup, should only take me 4-5 days to complete.

[2019-10-09 21:24] systemcatch commented on #1015
@scriptator No it's fine, let's just use your PR for any discussion.

[2019-10-11 10:49] corradio opened #2029 "Two taps on tab bar button are required"
To reproduce:
1. open the mobile app
2. drag the map
3. press on "Areas" or "About" tab bar button
4. the button changes color, but is not "clicked" before a second tap is done. Expected behavior: one tap should be enough.

Tested on my iPhone 8 in the mobile app. Doesn't seem to happen on the web though (tested through Chrome).
Question: does it also happen on Android in the app/on the web?

cc @

[2019-10-12 17:23] monsieurhannes opened #2030 "Additional map filter for renewable energies"
Hi,
Great tool!
I was wondering if there is a reason that there is no filter for renewable energies on the main map? I know that the focus is on carbon emissions, but I find the additional information very interesting as well - just like there is the sun and wind overlay.
Could you give me a hint in which files I need to look to try to work on it myself?

[2019-10-12 17:45] monsieurhannes commented on #2008
As I understand it it's about showing the energy mix that a country imports from another country. I'm not sure what it's aiming at, as you could open the exporting country and check, but maybe I'm wrong.
The second part is unclear to me, I think @Tallbo wants to have three circles for "fossil free" (including bio fuels), "CO2 free" and "renewable".

I think that's a matter of definition as there i

[2019-10-12 23:15] max-arias commented on #968
This ticket should be closed, fyi

[2019-10-12 23:31] Txumari commented on #1983
Hi! There is another json error with different parser 2 seconds later:
https://kibana.electricitymap.org/app/kibana#/doc/96f67170-0c49-11e9-85c1-1d63df8c862c/logstash-2019.09.28/doc?id=szceem0B9KdT5TbKMMGr&_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:'2019-09-28T23:03:13.061Z',mode:absolute,to:'2019-09-28T23:03:41.162Z'))
so could be some generic error on that moment.

Sounds good

[2019-10-13 00:45] sventropy commented on #2029
Verified on IPhone 8 Plus in the app, not in Safari

[2019-10-13 01:12] Kazz47 commented on #1983
Looks like `web.py` contains some relevant helper functions. Some of the parsers are using `get_response_text` and `get_response_soup` but it looks like we may need another one for JSON. Then we can move RU and some of the other parsers dealing with JSON to the new utility function to get JSON structured response objects.

https://github.com/tmrowco/electricitymap-contrib/blob/08fbc4e30a4b13645a49

[2019-10-13 08:35] PETILLON-Sebastien commented on #1029
Looks pretty accurate to me. Is there something missing ?
Question : this would work for historical data as well as real-time, am I wrong ?
(Yes I need it for my lovely FR_O parser 😍 )

[2019-10-13 09:51] PETILLON-Sebastien commented on #1681
I have questions on that issue.
What would be the strategy ? Creating react components for each part (example areagraph component in react) and then using them in the end ? Or creating a parallel UI ?
I'm not sure I would be useful as I don't know react yet, but who knows, I could give it a try some day, I already know Js.

I think the map would be improved by using push notification rather than c

[2019-10-13 11:10] Txumari commented on #1983
On nice! Already are some helper functions for parsers.
I will create a PR with `get_response_json` and the proper use of it in the parsers needed

[2019-10-13 14:17] postronium commented on #1908
I split the circular gauge in subsections to show of what the energy mix is made of. But I don't know how I should represent the imported energy in the gauge. I suggest to make the difference with the low carb and renewable ratio and call it imported. What do you think about this? Anyone has a better idea?
![electricity-map-circular-gauge](https://user-images.githubusercontent.com/22402798/6671697

[2019-10-13 14:30] lars974 commented on #1908
First I suggest to precise with a hover what low carbon is made of.
That's a very good idea to use subsections for low-carbon and renewable but
I'm not sure the ratio import/import should be shown in that diagram.
Maybe you could just use a third circular gauge with a ratio import/export
of the consumption (even though it wouldnt' display the ratio per type of
energy). You could then only display

[2019-10-14 07:21] corradio commented on #2030
Hi,

Are you talking about colouring the map by renewable %?
We've looked at this multiple times and the main issue is that it clutters
the UI (it would mean adding yet another toggle).

Best,

Olivier

On Sat, Oct 12, 2019 at 7:23 PM monsieurhannes <notifications@github.com>
wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmr

[2019-10-14 07:22] #968 closed

[2019-10-14 07:40] corradio commented on #1908
Hi guys,

Thank you for pushing the discussion forward. The two gauges indeed include
the amount imported, so they would have to be included.
It feels to me that the gauge feels busy with the breakdown. Also that
information is redundant with the breakdown of the bar chart under it.
The main problem we want to address is to explain what the difference
between those two gauges are (basically it's n

[2019-10-14 07:42] corradio commented on #1681
Hi,

I'm not sure how exactly to proceed (yet). I'm not sure we can have React
and the existing implementation co-exist side-by-side.

Olivier

On Sun, Oct 13, 2019 at 11:51 AM PETILLON-Sebastien <
notifications@github.com> wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2019-10-14 14:47] monsieurhannes commented on #2030
Yes, that's what I thought of. I could imagine something like a 2-way switch could solve it. I think the mockup that I made clearifies it best.
![renewable](https://user-images.githubusercontent.com/20651440/66760260-048d6a00-eea2-11e9-9419-dce92826e80c.jpg)
Not sure, but that sounds like a fairly convenient solution, on the app it could span the whole width of the display.
Just an idea. I'd be ha

[2019-10-14 15:49] UPstartDeveloper opened #2034 "Data for Pakistan"
We haven't found the data for this region yet, but that doesn't mean you can't make it happen!

Ranked from best to useful information, here is what we could use:
- real-time data of energy generation by energy source
- historical data of energy generation by energy source (as recent and as granular as possible)
- contact details (contact form, email or social media) of someone who may have access

[2019-10-14 15:50] UPstartDeveloper commented on #2034
Thanks to whoever wrote the text for the previous comment!

[2019-10-14 16:10] UPstartDeveloper commented on #2034
Here is a list of data sources I think may be helpful. It looks like we may be able to build a parser for Pakistan!
https://energypedia.info/wiki/Pakistan_Energy_Situation
https://www.ceicdata.com/en/pakistan/energy-consumption-and-supplies-annual
https://www.ceicdata.com/en/indicator/pakistan/electricity-production
https://www.indexmundi.com/g/g.aspx?c=pk&v=81
https://tradingeconomics.com/pakista

[2019-10-14 16:45] UPstartDeveloper commented on #2034
So far I have not been able to find any real-time data on how Pakistan generates its energy, or by which energy source its energy is coming from.

For historical data, the CEIC website looks somewhat promising, but it's not very granular: https://www.ceicdata.com/en/indicator/pakistan/electricity-production. They have data on Pakistan's electricity production from for every calendar month between

[2019-10-14 17:21] UPstartDeveloper commented on #2034
As for an organization/person that could help, I think our best bet is the Government of Pakistan's (sometimes abbreviated GOP) Ministry of Energy (Power Division) http://www.mowp.gov.pk/.

Here are the top 3 individuals I suggest contacting:

Officials:
1. Mr. Omar Ayub Khan, Federal Minister
PHONE: 9212442
FAX: 9224825
2. Mr. Zahoor Hussain Qureshi, Parliamentary Secretary
PHONE: 9222376
FAX: no

[2019-10-14 17:26] martincollignon commented on #2034
Zain, this is great. Since you know the country and the language - could
you help us out and reach out to them?

On Mon, Oct 14, 2019, 19:21 Zain Raza <notifications@github.com> wrote:

[2019-10-14 17:31] UPstartDeveloper commented on #2034
Of course!

[2019-10-14 18:35] UPstartDeveloper commented on #2034
It looks like they are not answering at this time. Possibly because it is 11:35 pm in Islamabad, Pakistan right now. Will try to call them again later!

[2019-10-15 09:27] corradio commented on #2030
Hello again,
The problem we have here is that there's a UX inconsistency due to the fact that this toggle is only about production/consumption. What about if you wanted to switch between renewable production and consumption?
Therefore, this toggle can't be used for a renewable switch.
We've had this issue many times and we believe that currently the best way is to leave it as is.
We might introduc

[2019-10-15 09:27] #2030 closed

[2019-10-15 09:31] Salix-Knot commented on #78
As for the source 'Unkown", these are the latest numbers for the Netherlands, Jan-Aug 2019:
Gas: 56.6%
Coal: 14.2%
CO2: 370 gr/kWh

![EG2TkNyXkAAqR8W](https://user-images.githubusercontent.com/56584578/66818970-6f8c7e80-ef3e-11e9-998d-e511a9ca86bd.jpg)

See: https://twitter.com/BM_Visser/status/1183786282704691203
Note:  Martien Visser runs Entrance's monthly 'Renewable Energy in the Netherlands'

[2019-10-15 09:35] corradio commented on #78
@alixunderplatz (and others in this thread): does this mean we're ready to shift over to ENTSOE data?

[2019-10-15 09:40] ThierryOllivero commented on #78
I looked at the last days and it seems good to me.

[2019-10-15 11:12] systemcatch commented on #2034
Direct link to CEIC data - https://www.ceicdata.com/en/indicator/pakistan/electricity-production

Renewable energy info - https://www.iea.org/policiesandmeasures/renewableenergy/?country=Pakistan

Further contacts
Water and Power Development Authority - http://www.wapda.gov.pk/
Karachi Electric - https://www.ke.com.pk/

[2019-10-15 11:34] systemcatch commented on #1983
Russia seems to be working again!

<img width="947" alt="ru_alive_snipped" src="https://user-images.githubusercontent.com/30196510/66828112-26d9c300-ef48-11e9-9eb9-175e24a27481.PNG">

[2019-10-15 11:36] monsieurhannes commented on #2030
Hi,
Another option is to do it similar to the color-blind mode. There the production/consumption toggle stays untouched. Could be solved with another icon on the right side, like the dark mode, wind and sun. Just an idea and as you said yourself the issue was raised many times, it would give a whole other perspective to the topic of energy production.
Cheers!

[2019-10-15 15:45] psachin commented on #1443
Using [Daily Reports](https://mahasldc.in/home.php/daily-reports/) one can fetch (previous)day data in PDF That might help.

[2019-10-16 06:00] corradio commented on #1681
We could use this for the mobile app:
https://ionicframework.com/blog/announcing-ionic-react/

[2019-10-16 07:44] #1610 closed

[2019-10-16 10:15] scriptator commented on #1242
I found a page which looks to me like it has production data for the whole country: https://www.cenace.gob.mx/SIM/VISTA/REPORTES/EnergiaGenLiqAgregada.aspx

What do you think - is this valuable?

[2019-10-16 11:01] scriptator commented on #1945
There is also the following data source on the same website which differentiates more production types: http://www.cndc.org.ni/graficos/CurvaDemanda/index.php

Currently I understand few of them, but if we manage to make sense of this data it would be probably worth switching, wouldn't it? I also found a possibility to fetch the chart for historical dates.

[2019-10-16 13:12] jarek commented on #1242
That looks quite good, however do I see correctly that it's currently (mid-October) only data for September available?

[2019-10-16 13:44] scriptator commented on #1242
Yes, sadly you are right. I did not notice that before because I had only looked at the publication date. Would it be still interesting to have a parser for historical data?

[2019-10-16 22:10] alixunderplatz commented on #2034
National Transmission & Despatch Company:
https://www.ntdc.com.pk/

[2019-10-16 22:20] alixunderplatz commented on #1945
@scriptator Good catch! If we manage to find the respective production type for the power plants behind each abbreviation, this would be great!
Many plants and their fuel type are within the [NI.py](https://github.com/tmrowco/electricitymap-contrib/blob/master/parsers/NI.py) parser already. If the total output per type of the pie chart matches the output of all power plants, we can switch to the m

[2019-10-16 22:29] alixunderplatz commented on #1242
@scriptator nice! imo, it's never wrong to have national historical data available.
Maybe @corradio could include this data in the visual review for the entire year 2019 ;)
(Like for 2018: https://www.youtube.com/watch?v=GxB91InvxiY)

[2019-10-16 22:49] alixunderplatz commented on #78
@corradio I think so, yes :))))

[2019-10-16 23:04] abyss143 commented on #1983
Can I try this out?

[2019-10-17 05:05] scriptator commented on #1242
Cool, then I am going to give this a shot. Nice Video btw - I didn't know that so far.

[2019-10-17 06:39] corradio commented on #1983
is the issue still happening?

On Thu, Oct 17, 2019 at 1:04 AM abyss143 <notifications@github.com> wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2019-10-17 06:49] corradio commented on #1681
I actually think we can do a fairly easy migration if we use React `refs`
that can be used to manipulate the DOM. Those `refs` could be passed to
legacy components.
We'd have to test that though.

On Wed, Oct 16, 2019 at 6:04 PM PETILLON-Sebastien <notifications@github.com>
wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow

[2019-10-17 10:32] abyss143 commented on #1983
oh no, it is working. So shouldn't it be closed?

[2019-10-17 11:11] #1983 closed

[2019-10-17 13:41] DavidWeather opened #2037 "Ireland is missing"
Ireland (Republic) was working perfectly until this week.

Some data available here http://smartgriddashboard.eirgrid.com/ and http://live.windenergy.ie/

[2019-10-17 13:54] jarek commented on #2037
Hi, thanks for noticing! We do indeed have Ireland normally.

[Kibana logs](https://kibana.electricitymap.org/app/kibana#/discover/10af54f0-0c4a-11e9-85c1-1d63df8c862c?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-24h,mode:quick,to:now))&_a=(columns:!(message,extra.key,level),filters:!(('$state':(store:appState),meta:(alias:!n,disabled:!f,index:'96f67170-0c49-11e9-85c1-1d63df8c

[2019-10-17 17:39] systemcatch commented on #1558
Hey @po5i nothing yet, maybe you'd like to send a follow up email to the contact details in https://github.com/tmrowco/electricitymap-contrib/issues/1558#issuecomment-436667201

[2019-10-17 19:15] scriptator commented on #1242
In the fetch_* functions of a parser, how much data before or after the provided target_datetime should or can be returned? As fetching the CSV file takes quite a bit of time and returns a whole month it would make sense here to return as much as possible IMO.

[2019-10-17 19:45] systemcatch commented on #1945
Let's try mapping the abbreviations at http://www.cndc.org.ni/graficos/CurvaDemanda/index.php

I do note though that the values on the pie and bar charts aren't lining up exactly.

[code]

[2019-10-17 19:53] ArturLange commented on #1015
For Polish map, I'm afraid JavaScript is needed.
According to [this answer](https://stackoverflow.com/questions/8049520/web-scraping-javascript-page-with-python/26440563#26440563) it is possible using Selenium and Phantom.js, but I'm not sure if that's viable

[2019-10-18 00:04] jarek commented on #2037
Hi David, if my interpretation is correct and this is related to ENTSOE: ENTSOE is the EU-wide electricity data platform - the issue is with how Electricity Map queries it. So in that case not something that the Irish data provider would be responsible for.

[2019-10-18 01:01] jarek commented on #1015
Is Selenium really needed for the Polish map? Doesn't https://www.pse.pl/transmissionMapService (which that page fetches with XHR) have everything that the web page does?

[2019-10-18 07:12] corradio commented on #2037
You are right. We've just reached out to ENTSOE to fix this. cc @tth4vb

[2019-10-18 07:28] corradio commented on #1242
For historical data it doesn't really matter (the backend will adapt)
For real-time data the parser should be fast enough so 24hrs in practice is reasonable.

[2019-10-18 13:11] Subarna578 opened #2041 "Data for Nepal"
Nepal hasn't have real-data power transmission system online yet. Nepal produces most of the energy from Hydropower projects and some from the boarder area of India.
The given link provides the hydropower projects that are in use in Nepal.
https://www.doed.gov.np/download/GIS-map-of-reservoir-projects.pdf

The below link provides the electricity production projects between Nepal and India..
https:

[2019-10-18 19:26] corradio commented on #2037
Fixed

[2019-10-18 19:29] #1945 closed

[2019-10-18 20:11] ArturLange commented on #1015
@jarek No, it's not. You're right, I deleted my comment when I realised that, but I guess someone did read it by then.

[2019-10-19 07:30] nielsanso opened #2044 "CO2 emission factors for power production from cogeneration powerplants"
I have some questions about the CO2 emission factors used for thermal power production.

Why doesn´t Electricitymap consider whether the power is produced with or without heat utilization from thermal power plants? Eg. cogeneration is widely used in Denmark, where the waste heat is utilization in connection with approx. 75% of electricity generation from thermal power plants. That means, that the

[2019-10-19 09:06] scriptator commented on #1945
I fixed the current parser yesterday. Looks like only the URL changed.

If sombody wants to work on the mapping and try the other URL which I posted above, I guess we can reopen this issue.

[2019-10-20 15:42] fokion opened #2048 "Data for region Greece"
Update values on the Installed Capacity per Production Type based on the entsoe.eu

[2019-10-20 15:51] fokion commented on #2048
#2049

[2019-10-20 18:09] UPstartDeveloper commented on #2034
I just sent out a message to Adil Najam (https://www.linkedin.com/in/adilnajam/) asking if can help. He's the Inaugural Dean of the Pardee School of Global Studies, which is a part Boston University, located in Boston Massachusetts. He is also very interested in helping countries in the developing world evolve, and I know that he's from Pakistan as well.

[2019-10-20 19:48] systemcatch commented on #1982
I will redo the Punjab parser to work with the new urls.

[2019-10-20 22:21] nikBeier opened #2050 "Denmark's installed capacity of coal is too high"
The area "West Denmark (Denmark)" (a.k.a. DK1 in Nordpool energy trading market) is shown at electricitymap.org to have a coal capacity of 2.3 GW installed capacity.
Likewise the area "East Denmark (Denmark)" (a.k.a. DK2 in Nordpool energy trading market) is shown at electricitymap.org to have 2.07 GW installed capacity of coal.
Where are the values taken from?

In West Denmark, there is Esbjerg,

[2019-10-20 22:21] nikBeier commented on #2050
In the file zone.json it seems there still is a section and zone for Denmark as a whole. Is it still used?

[2019-10-20 22:24] nikBeier commented on #2050
How about adding a comment after relevant values, containing the source reference, like
“# Source: ENTSOE 2019” or the longer
”# source: https://transparency.entsoe.eu/generation/r2/installedGenerationCapacityAggregation/show
 2019” ?

I did not find anywhere that mentions which values are sourced/copied/cited/referenced from where? Maybe the current figures for Denmark  are from ENTSOE year 2017?

[2019-10-21 06:21] corradio commented on #2050
Hi @nikBeier ,

The capacity sources are listed at https://github.com/tmrowco/electricitymap-contrib#production-capacity-data-sources
For this case, it's ENTSOE. Are you able to update those capacities and maybe have a better reference so we also add the year?

Thanks!

Olivier

[2019-10-21 06:27] corradio commented on #2044
Related to https://github.com/tmrowco/electricitymap-contrib/issues/738

[2019-10-21 10:45] Lobidu opened #2051 "Ireland Data missing"
Hi,
it seems like the Ireland data is missing for a couple of weeks now. Is there an issue? Anything I could help with?
Thanks
Janis

[2019-10-21 10:46] Lobidu commented on #2051
Just seen the open issue  #2037

[2019-10-21 10:46] #2051 closed

[2019-10-21 14:12] #1908 closed

[2019-10-21 14:37] eitreb commented on #1992
Now it looks like consumption data are ok

[2019-10-21 14:37] #1992 closed

[2019-10-21 14:48] AdaBla opened #2052 "ERR: Sweden - Poland: incorrect direction and values."
Today EM is showing export from Poland to Sweden.

![image](https://user-images.githubusercontent.com/56835320/67215653-26e33280-f422-11e9-95d3-8236bab4d3f1.png)

This apparently is wrong according to PSE (Polskie Sieci Energetyczne) a Polish TSO.

PSE shows import FROM Sweden.

![image](https://user-images.githubusercontent.com/56835320/67215792-67db4700-f422-11e9-8f2a-9ffee3afbdba.png)

Somethin

[2019-10-21 15:05] corradio commented on #2052
It seems like the data provider is sending us wrong data

On Mon, Oct 21, 2019 at 4:48 PM AdaBla <notifications@github.com> wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2019-10-21 15:29] DavidWeather commented on #2037
Has anyone contacted ENTSOE in Belgium? Ireland is still grey on the map. I wonder are they aware of this problem?

[2019-10-21 16:08] swakter commented on #2052
Hi,

There are a number of TSOs providing data for the Nordic electricity grid.

Both SvK (Sweden) and Statnett (NO) seem to show that Sweden is importing. I can't find any data from energinet (Denmark) for SE-PL and Fingrid (Finland) refers to statnett for border flows.

If you look at the market platform providers, Nordpool, website under "Exchange" [1], which gets data from SvK, you will see th

[2019-10-21 19:30] alixunderplatz commented on #2052
Hi @AdaBla and @swakter !
Thank you for your comments and the research you've done :)

As you wrote, data on entsoe and PSE shows a flow from Sweden to Poland and you guys are right with your assumption:
![image](https://user-images.githubusercontent.com/25743609/67233529-b51be080-f443-11e9-8b59-6a66dce04a9e.png)

I think the exchanges of the nordic countries are parsed by the stattnet.py parser.

[2019-10-21 19:52] alixunderplatz commented on #1982
@systemcatch here we go:
From the first page you can actually grab all the data.
http://www.punjabsldc.org/realtimepbGen.aspx
"Total Thermal" and "Total Ipps" as "coal" (like in the existing parser)
"Total Hydro" as "hydro"
"Solar" as "solar" (also active at night due to concentrated solar power)
"NON-Solar" as "biomass" and were done :)

[2019-10-21 20:18] alixunderplatz opened #2053 "Czech data source is stuck"
Data for the Czech Republic has been absolutely constant in the last days on data provider entsoe.

Should we implement some sort of check to prevent parsing such data (like "if 3 hours in a row for a zone are exactly the same, then dismiss all of it and report warning")

![image](https://user-images.githubusercontent.com/25743609/67239835-658fe180-f450-11e9-81ce-e30904f25dfc.png)

![image](https:

[2019-10-21 21:47] SNPerkin commented on #140
Hey @alixunderplatz and @corradio, really cool project.

You've clearly made some effort trying to get data for Iceland over the last few years, particularly with the amper API and trying to 'reverse engineer' some kind of real-time data. It is a shame to not have Iceland on the map!

The reason that there isn't any Landsnet data on the ENTSO-E transparency portal is primarily due to Landsnet not

[2019-10-22 00:41] maximecrml commented on #1618
Dear Alex, Dear all,

Thanks for your previous sharing, I actually discover your post by looking for the link to download wind and solar forecast on REN (there is no download button as for actual production date, or spot prices). You said last year that data were available: do you know the link to access the data? More exactly, do you know what is the suffix at the end of the link (quoted as SUFFI

[2019-10-22 06:26] corradio commented on #2052
Indeed the stattnet parser is used.
What would be helpful at this stage is to list the different data sources and mark clearly if it currently shows the right direction of not. Based on that we should either contact stattnet or change the data source. As far as I know the parser implementation is correct but the data provider is sending wrong data.

[2019-10-22 08:04] AdaBla commented on #2052
There is clearly a bug in stattnet, so they should know about this.

The PSE source is a just HTML page.

[2019-10-22 14:16] steppefox opened #2057 "Historical Data for region Kazakhstan (KZ, KAZ) 2016, 2017, 2018"
## Country

Kazakhstan

## KZ Gov Agency and Power company

![image](https://user-images.githubusercontent.com/4667275/67295843-f8c82600-f4e7-11e9-9dc7-d8f1dcf18691.png)

JSC "Samruk Energy"

Links:
https://www.samruk-energy.kz/en/
https://www.facebook.com/samrukenergy/
https://twitter.com/SamrukEnergy

Contacts Page:

https://www.samruk-energy.kz/en/company/contact

## Description

Here are two G

[2019-10-22 17:28] corradio commented on #2029
I'm re-opening as two related bugs appeared:
- on the app, nothing happens when I press "Area"
- on the web on a phone, the bug described in this issue happens for "Area" only.
@FelixDQ maybe you know what happened?

[2019-10-22 19:59] FelixDQ commented on #2029
Ah damn, I see my mistake. I copied "touchend" into the wrong place on the area button 😬https://github.com/tmrowco/electricitymap-contrib/pull/2040/files#diff-42c3276bc26032ecad9d7061dd401cd4R972

I will make a new PR

[2019-10-23 05:21] #2029 closed

[2019-10-23 09:00] #2048 closed

[2019-10-23 09:10] systemcatch commented on #2053
I think Max created a function to check if the diff was too big a while this a while back. Maybe we could add one for static checking as well.

[2019-10-23 09:14] systemcatch commented on #2041
No but you can add capcity data for Nepal if you like?

[2019-10-23 09:18] systemcatch commented on #2057
Hello @steppefox, we need hourly data or better for a country to show up on the map. This kind of yearly average would only be useful for estimating the CO2 intensity of a country where we have net generation only.

[2019-10-23 09:21] systemcatch commented on #2050
@nikBeier for reference we show all the capacity sources in https://github.com/tmrowco/electricitymap-contrib#production-capacity-data-sources

[2019-10-23 18:50] LucasCarlsson opened #2061 "Wrong direction on export from Poland to Sweden"
In the App Poland exports electricity to Sweden. On the Swedish powergrid homepage (https://www.svk.se/drift-av-stamnatet/kontrollrummet/) it´s Sweden that´s exporting to Poland.

[2019-10-23 19:00] alixunderplatz commented on #2061
duplicate of #2052

[2019-10-23 19:00] #2061 closed

[2019-10-23 20:07] Ogaday opened #2062 ""Select language" menu has inconsistent capitalisation"
The names of some languages are capitalised and others are not. This looks inconsistent:

![image](https://user-images.githubusercontent.com/6689770/67429679-91d66a00-f5d8-11e9-95ce-70bda3ca1b6e.png)

I suggest that they should all be capitalised - this also matches how Wikipedia handles language names, for instance:

![image](https://user-images.githubusercontent.com/6689770/67429869-f42f6a80-f5d

[2019-10-23 21:36] leternoz commented on #2062
Hi, may I take this one ?

[2019-10-23 21:50] Ogaday commented on #2062
Sorry @leternoz, I already made a PR but I messed up the commit message so the PR wasn't linked to this issue.

[2019-10-23 21:53] leternoz commented on #2062
ok fine

[2019-10-24 06:56] Subarna578 commented on #2041
Yes, it still hasn't real time tracking power transmission system.
Can you help me how I can add capacity data for Nepal?

[2019-10-24 09:27] systemcatch commented on #2041
Capacities go in https://github.com/tmrowco/electricitymap-contrib/blob/master/config/zones.json, you might need to add the Nepal zone first.

[2019-10-24 23:42] jarek commented on #2062
This has now been merged in #2063, closing issue

[2019-10-24 23:42] #2062 closed

[2019-10-26 06:12] Subarna578 commented on #2041
Can you please tell me the values in the bounding box at zones.json?

[2019-10-27 08:32] scriptator commented on #738
@brunolajoie I am confused: how can coal cogeneration values be higher than non-cogeneration? And moreover, how do we make use of the cogeneration values at all?

[2019-10-27 10:04] alixunderplatz commented on #738
@scriptator In general, it is not really possible to distinguish between co-generation and non-co-generation from most of our data sources. In addition, there are several different scientific approaches how to account for the carbon emissions of heat and electricity from co-generation and there is no right or wrong in "how to account for it correctly".
We're probably never going to seperately acco

[2019-10-28 07:47] scriptator commented on #2053
The source at #1899 does not appear to be stuck. Maybe it's the right time to switch data source?

[2019-10-28 09:51] scriptator commented on #1590
Just played around a bit with CSS animations, but unfortunately this is expensive as well. See https://codepen.io/nidhinobinu/pen/RWaYGb

[2019-10-28 14:35] Matss173 opened #2075 "ElectricityMap"
Regarding electricitymap.

Sweden is currently EXPORTING electricity to poland. Not importing as the map states.

According to SVK. svenska kraftnät

Regards

[2019-10-28 17:39] jarek commented on #2075
Thanks for the note! This issue is being tracked in #2052

[2019-10-28 17:39] #2075 closed

[2019-10-29 05:46] IanvsPoplicola commented on #1857
Hi everyone, I gave the last task a go, and made a PR; please let me know if you have any feedback!

Task 3 is pretty complex because it involves editing the actual text of each locale translation, so I don't think I'm qualified to take on that alone.

[2019-10-29 07:05] IanvsPoplicola commented on #1954
Hi everyone, I'd like to have a go at fixing this issue!

I'm pretty sure it's caused by [the error return statement](https://github.com/tmrowco/electricitymap-contrib/blob/d2d9ea20d497fba9e961e98e633fd9d7d4ba4ba9/web/src/components/layers/solar.js#L84) never calling the callback function, thus never stopping [the loading screen](https://github.com/tmrowco/electricitymap-contrib/blob/d2d9ea20d497f

[2019-10-29 07:13] corradio commented on #1954
Good catch. I actually think instead of returning the error, we should instead pass an error to the callback, and return right after in order to interrupt the execution of the function.
This will make sure the callback is executed.

[2019-10-29 07:19] IanvsPoplicola commented on #1954
Sounds good; what's the convention for passing an error? Should I use a string, or a variable of another type?

[2019-10-29 08:05] corradio commented on #1954
the best is to create an error: `new Error("some message as a string here")`

On Tue, Oct 29, 2019 at 8:19 AM Jason Jiang <notifications@github.com>
wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2019-10-30 10:44] systemcatch commented on #2041
80, 25.767 and 88.183, 30.45 using https://data.humdata.org/dataset/bounding-boxes-for-countries

[2019-10-30 18:14] #2053 closed

[2019-10-31 19:21] #2041 closed

[2019-10-31 21:28] seba1337 opened #2082 "Data for Macedonia (24 h sum)"
I've found this: http://www.elem.com.mk/?1/&lang=en
Related to this: https://github.com/tmrowco/electricitymap-contrib/issues/1059

They generate each day how much MWh they generated by thermal, wind and hydro plants. The data is stored in HTML as such:
`<div class="wen-skill-charts-wrap">

    <div class="wen-skill-circle" id="wsc-474-5dbb51a852106">
                      <div class="skill-wrap">

[2019-11-01 11:31] systemcatch commented on #2082
To be able to use this we need a way of storing cumulative values throughout the day for use in calculating the current generation.

[2019-11-01 11:46] seba1337 commented on #2082
Yes. I think the data is parsable. Harder than json/xml/csv, but not that hard. I guess I could do it, just tell me the format it has to spit out.

[2019-11-01 13:16] jarek commented on #2082
Would be good to note how frequently the data updates. Currently at 13:15:53 UTC the values are the same as provided in the initial post 16 hours ago. Let's keep an eye on it.

[2019-11-01 19:10] IanvsPoplicola commented on #1954
It seems that although the loading screen now stops in case of an error, the `solar-button` still appears to be turned on, and the `solar-potential-legend` still appears. Is there a way to reset these elements to the "off" state? I thought [`saveKey('solarEnabled', false);`](https://github.com/tmrowco/electricitymap-contrib/blob/0691653b371cbd08ac9912c0c609813183d307bf/web/src/main.js#L597) would

[2019-11-02 00:07] jarek commented on #2082
Numbers still the same now, 7566 / 2755 / 250, 00:06 UTC Nov 2.

[2019-11-02 09:22] thomasgibon commented on #738
The values given were indeed extracted from the ecoinvent database, in its "cut-off" version, which applies the simplest allocation methods. Some information [here](https://www.ecoinvent.org/database/system-models-in-ecoinvent-3/system-models-in-ecoinvent-3.html).

This is correct, electricity is the main driver for coal power plants, as opposed to gas or biomass, therefore most of the impact is a

[2019-11-02 12:05] brunolajoie commented on #738
Super insightfull! If I understand well, in our scientific paper Table1 ([above](https://github.com/tmrowco/electricitymap-contrib/issues/738#issuecomment-499397532)), cogen byproduycts are not taken into account and thus are not "reducing" the carbon intensity of power plants. It's just their relative efficiency wchich makes a difference. But another "fair" method would have been to allocate some

[2019-11-03 16:58] joppiesaus commented on #1871
Currently, for the Netherlands, you do not see solar power at the electricity map, but according to http://energieopwek.nl/ there is definitely solar power being generated(including self-consumption). I think there's something wrong with the ENTSOE data source, it gives out 0 for solar electricity while there's in fact solar electricity present.

I don't see an easy way to fix this but I wanted to

[2019-11-03 17:49] PaulCornelissen commented on #1871
Yes, that seems correct. Also wind seems to be low. I also noticed that
total generation + imports is lower than entsoe consumption numbers. So
clearly there's something missing.

My hypothesis is that Tennet only reports numbers for generators feeding
into the main transmission grid and not into the distribution grid. NL has
many small CHP gasplants that feed the distribution grid. Solar is all
d

[2019-11-04 08:17] corradio commented on #1954
There is a banner we use for network connectivity errors that could be re-used for other errors:
https://github.com/tmrowco/electricitymap-contrib/blob/master/web/views/pages/index.ejs#L514
Unfortunately `saveKey` only saves the setting as a cookie.
If you want to disable it, you need to dispatch a redux action:
https://github.com/tmrowco/electricitymap-contrib/blob/0691653b371cbd08ac9912c0c609813

[2019-11-04 14:09] seba1337 commented on #2082
Still same. I guess they don't update it. :'(

[2019-11-04 19:06] petrk94 opened #2083 "Data for region Estonia"
Hello,

I got in contact with the regenerative energy association of estonia and they provided me the following link with a dashboard to the wind power plants, maybe you can work with it:

https://dashboard.elering.ee/en/system/production-renewable

[2019-11-04 20:47] chrismcg commented on #2037
While ideally the data would find its way back into ENTSOE I have data scraped from http://smartgriddashboard.eirgrid.com/ here: https://sg.chrismcg.com. It's behind a GraphQL API at the moment but I could easily add another output format if that was useful.

[2019-11-05 00:44] jarek commented on #2083
Hello,

We have data for Estonia, including wind:

![image](https://user-images.githubusercontent.com/47415/68169788-69852e80-ff3b-11e9-8bfb-ad2720cde99f.png)

This matches current output of https://dashboard.elering.ee/en/system/production-renewable (I'm seeing 229 MW right now) fairly well.

Perhaps Estonia's data was temporarily offline when you looked?

[2019-11-05 00:46] jarek commented on #2082
Still exactly the same now, so I guess I'll close the issue. Sorry about that, thanks for the thought and the report!

[2019-11-05 07:53] petrk94 commented on #2083
Hi @jarek ,
ah okay, no, it didnt was offline, I just wondered, that the production caused the highest amount of CO2 in europe, what I thought didnt could make sense, if the regenerative energy association has that amount of wind power.
See my screenshot

![estonia](https://user-images.githubusercontent.com/19719052/68188554-b1db3580-ffa9-11e9-9b35-54053023ca8e.PNG)

[2019-11-05 10:45] systemcatch commented on #2037
@chrismcg thanks for scraping that, Ireland looks to be working again on the map.

[2019-11-05 11:27] seba1337 commented on #2082
It changed now!

7519 MWh, 1588 MWh, 200 MWh, 5 nov 2019 @ 12:26 (UTC+1).

[2019-11-06 01:52] jarek commented on #2082
still the same at 02:52 UTC+1 - so it doesn't seem to be updated with much regularity, no daily cycles can be observed at least so far

[2019-11-06 01:54] jarek commented on #2083
It is because the "coal" burned in Estonia is unfortunately incredibly CO2eq-emitting oil shale, see https://en.wikipedia.org/wiki/Oil_shale_in_Estonia#Air_emissions

(And to an extent the emitters rank is because the Estonian shale has a region-specific CO2eq value for it, while other dirty sources like brown coal / lignite don't yet - that's planned in #738)

[2019-11-06 10:44] corradio commented on #2052
This still seems to be happening. Has anyone been able to talk with StattNet?
I think we should probably revert to ENTSOE..

[2019-11-07 07:32] corradio opened #2086 "US-BPA failing due to changes in data layout and timezone"
[code]

[2019-11-08 14:01] cmikovits commented on #2012
As for the hydro pumped storage accounting: entso-e lists also the amount of energy used for pumping. Maybe this could be considered instead?

[2019-11-08 14:49] jarek commented on #2082
Currently 7340/2317/85. So it updates, but so far we have not seen a regularity or frequency of updates that would allow adding to electricitymap

[2019-11-09 17:41] systemcatch commented on #2086
I've been hunting down this bug for a while, it's a combination of extra information lines being added to the top plus the `PST` timezone causing parsing issues.

[2019-11-10 20:28] floriandierickx commented on #1973
Hey everybody, just found this new paper on carbon footprint of Chinese electricity transmission: https://sci-hub.tw/https://www.sciencedirect.com/science/article/abs/pii/S1364032119307191?via%3Dihub / https://www.sciencedirect.com/science/article/abs/pii/S1364032119307191?dgcid=rss_sd_all:

Highlights:
• An Energy-Carbon Nexus Model (ECNM) from the Chinese perspective is developed.
• Five Energy-

[2019-11-11 18:31] #2086 closed

[2019-11-13 19:31] AdaBla commented on #2052
Now SvK is working https://www.svk.se/drift-av-stamnatet/kontrollrummet/
but not
https://www.electricitymap.org/?page=map&solar=false&remote=true&wind=false we
can put the blame on Statnett
https://driftsdata.statnett.no/Web/Map/?language=en  ?

On Mon, 21 Oct 2019, 17:05 Olivier Corradi, <notifications@github.com>
wrote:

[2019-11-13 21:01] alixunderplatz commented on #2083
I think nothing can be added to Estonia as it is, so I will close this issue.
#1015 has a summary of alternative websites / data sources for europe including Baltic states already.

[2019-11-13 21:01] #2083 closed

[2019-11-13 21:04] alixunderplatz commented on #2037
Ireland is up and running again, so I'll close this issue. We can keep the dashboard in mind as alternative datasource. I will add it to #1015 one day

[2019-11-13 21:04] #2037 closed

[2019-11-14 01:14] jarek opened #2091 "Nova Scotia new URL (CA_NS)"
Quick note, I haven't had a chance to dig into it in detail yet:

Looks like the website has been redesigned and things shuffled around a bit.

New page URL is https://www.nspower.ca/clean-energy/todays-energy-stats

JSON URL is now https://www.nspower.ca/library/CurrentLoad/CurrentMix.json

JSON format looks similar to before so it might just be a matter of swapping the URL.

[2019-11-17 08:52] seba1337 commented on #2082
There's data for N. Macedonia now on Entsoe, https://transparency.entsoe.eu/generation/r2/actualGenerationPerProductionType/show?name=&defaultValue=false&viewType=GRAPH&areaType=BZN&atch=false&datepicker-day-offset-select-dv-date-from_input=D&dateTime.dateTime=03.09.2019+00:00|CET|DAYTIMERANGE&dateTime.endDateTime=03.09.2019+00:00|CET|DAYTIMERANGE&area.values=CTY|10YMK-MEPSO----8!BZN|10YMK-MEPSO--

[2019-11-17 22:50] nikBeier commented on #2050
Related pull request, that updates existing values, but still omits waste and other renewables (and Bornholm):  https://github.com/tmrowco/electricitymap-contrib/pull/2093

[2019-11-18 01:24] jarek commented on #2082
Oh that's good to know! Right now the latest data I'm seeing is from November 13th, so a fair bit delayed. However it might be useful for importing historical data - Electricity Map team, do you want to configure the ENTSO-E parser to read BZN|MK?

[2019-11-20 10:34] #1869 closed

[2019-11-20 12:24] systemcatch commented on #2050
Now that the capacities have been updated this can be closed.

[2019-11-20 12:24] #2050 closed

[2019-11-20 16:19] phiphou commented on #1886
Prefer YIQ contrast method wich offers in my opinion better contrast.

Here is how to implement it :

[code]

[2019-11-22 00:39] gappypirate opened #2097 "Data for region king island (australia)"
Hey just in case you guys can use this to add data for king island there is areal time graph at this link.

https://www.hydro.com.au/clean-energy/hybrid-energy-solutions/success-stories/king-island

Love the map keep up the good work.Cheers

[2019-11-22 02:25] jarek commented on #2097
Hi, thanks for the note! Please see https://github.com/tmrowco/electricitymap-contrib/issues/636 for details on King Island and difficulties adding its data to the map.

[2019-11-22 02:25] #2097 closed

[2019-11-22 02:26] jarek commented on #636
New URLs as pointed out in #2097: https://www.hydro.com.au/clean-energy/hybrid-energy-solutions/success-stories/king-island , https://data.ajenti.com.au/KIREIP/index.html - but looks like the same Websockets-based app

[2019-11-22 16:45] corradio commented on #1681
I've started here:
https://github.com/tmrowco/electricitymap-contrib/pull/2098

[2019-11-23 11:52] tarnh opened #2100 "Historic Data Available for Turkey"
The total solar capacity of Turkey is 5 GW (end of 2018).

Even on a gray day German solar generates a few percent of it's total installed capacity. According to electricitymap Turkish solar produces only 0-1 % of it's installed capacity on most days. Additionally they still use an outdated capacity of 3.5 GW.

These low production values are very unplausible! Do you have any explanation for this?

[2019-11-23 14:04] alixunderplatz commented on #2100
Hi @tarnh. thank you for pointing at this issue. We are aware of this issue, but there is no way to fix this in the live map, because to my knowledge, only a tiny part of generation from solar is published at the moment. The reported solar seems to come from some "licensed" pv plants or from older plants only. There is a website with market data, which is published a few days later. there you can

[2019-11-23 14:55] #1862 closed

[2019-11-23 16:09] alixunderplatz commented on #2100
This is what I calculated for the historical data for October 2019 (later data not yet available):

![image](https://user-images.githubusercontent.com/25743609/69481350-e3108e00-0e10-11ea-9d81-16d6196e9c0b.png)
There is a significant amount of solar missing - up to 4.7 GW at peak times.
As I said before, we can do nothing about the data for the real-time map. Except for asking the data providers f

[2019-11-23 19:31] alixunderplatz opened #2101 "Data for Kuwait"
Hi all,

I had found the real-time "system load" data for Kuwait a whole while ago, and I am about to add a parser for it.

There is no breakdown of the fuels, which doesn't add anything to the map, I am aware of this.
But I always think it's interesting just to look at the general behaviour of electricity systems, as this may contribute to evaluating energy transition strategies for certain count

[2019-11-24 14:56] alixunderplatz opened #2103 "Data for Israel"
Another one from me this weekend :)

Israel has data for the "system load", which is updated every few minutes. This is also equivalent to "system production", because there are no imports (only exports are shown on IEA's statistics)

This url https://www.iec.co.il/_layouts/iec/applicationpages/lackmanagment.aspx leads to this data table:

![image](https://user-images.githubusercontent.com/2574360

[2019-11-24 19:10] jarek commented on #2103
It looks like the first time we make the request, you get the weird obfuscated thing, but also a cookie. When you redo the request with the cookie, you get plain HTML.

[code]

[2019-11-26 13:41] SDek86 opened #2104 "Wrong direction of flow PL-SE"
The flow is opposite

Correct directions can be verified at https://www.pse.pl/web/pse-eng/data

[2019-11-26 13:45] SDek86 commented on #2104
Already reported
https://github.com/tmrowco/electricitymap-contrib/issues/2052

[2019-11-26 13:45] #2104 closed

[2019-11-26 16:10] legrosdede opened #2105 "Data for region Canaries Islands"
Hello, I had a look at  https://www.electricitymap.org/ , it is quite interesting and a very good job ! But there is a mistake for canarias islands : you indicate generation from gas, but the LNG terminals have not been built and commissioned yet ! The mistakes comes probablyfrom bad understanding of datas published by Red Electrica de España : the amount indicated by them as "turbina de gas" and

[2019-11-26 19:29] alixunderplatz commented on #2105
@legrosdede thank you for clarifying this! :)
there always is a risk of "misinterpreting" the fuel for gas turbines, since they can be operated on both fuel's as you said. Guess we have to change the fuel type in the respective parser.
By the way: Do you happen to know if the situation on the balearic islands is the same (oil instead of gas) or do they actually have some sort of gas supply?

[2019-11-27 14:20] legrosdede commented on #2105
It seems the situation on the Balearic Islands is different as they are much closer from the spanish mainland, a pipeline connecting them to the spanish gas grid has been built.
(https://magazin.mannesmann-linepipe.com/en/04-2016/projects/mallorca/)
By the way the power station in Palma de Maillorca is exaclty the same that the one I have been working in a couple of years ago in Tenerife, only the

[2019-11-28 07:11] SIVAH-AKASH opened #2107 "Potential data for India / Tamil Nadu"
Hey,

I am not sure how too add it, but I think this data will be useful for the state of Tamil Nadu in India.
http://meritindia.in/state-data/tamil-nadu

[2019-11-28 12:46] tth4vb opened #2108 "Orkney Islands shows as greenest country, but electricity is coming from "unknown""
<img width="1086" alt="Screen Shot 2019-11-28 at 1 46 30 PM" src="https://user-images.githubusercontent.com/8129157/69807409-8123a000-11e5-11ea-999a-c49b41090bdf.png">

[2019-11-28 17:25] brandongalbraith commented on #2108
I believe the issue (no pun intended) is that Orkney Island doesn’t break out their generation by type, but it is all renewable (with any excess being exported to the Scottish mainland).

https://www.ssen.co.uk/ANM/

[2019-11-28 18:56] cihiwili opened #2109 "CHP production in Finland"
Hi all,

in 2018, there was a discussion on this forum about giving CHP production unfairly high emissions when it comes to emission shown from coal production in Nordic countries (https://github.com/tmrowco/electricitymap-contrib/issues/1445):

"In scandinavian countries large amounts of electricity is produced in CHP plants, where excess heat from electricity production is used for district heat

[2019-11-28 19:05] #2091 closed

[2019-11-28 21:06] alixunderplatz commented on #2107
Hey @SIVAH-AKASH !
Thank you for your message.
The data on http://meritindia.in/state-data/tamil-nadu for the states of India is not detailed enough, unfortunately.
We can only use the data from the main page with the breakdown for "thermal", "gas", "nuclear," "hydro", and "renewables".  http://http://meritindia.in/

At least, we need an hourly breakdown of the generation of a state per production

[2019-11-28 21:33] alixunderplatz commented on #2109
Hi @cihiwili and thank you for your comment.

1.) It is still a thing that distinguishing between CHP and non-CHP in terms of CO2 isn't as simple for the electricityMap. Usually, a mean "international" LCA-value is used for the respective different categories to make production data of different regions comparable. In some rare cases, we assign regional emission factors to some fuel types, where t

[2019-11-29 09:15] brigo69 opened #2110 "electricity-map, CO2 map"
Hi,

I am just wondering about your CO2 map, and not really understand how Hungary can have 15% renewable value while Hydro +Wind+Biomass+Solar is hardly 4% on 29/Nov/2019 at 10:45. Is this 15% is an annual average or how do you calculate while other figures seems to be changing in real time?

Thanks,

gabor

[2019-11-29 09:18] brunolajoie commented on #2110
By default, figures are computed with a "consumption" point of view, which takes into account electricity imported from neighbors in real-time (you can change to production point of view on the top right corner). That may explain your 15% figure! Feel free to close this issue if your question has been answered

[2019-11-29 15:46] tapioSch commented on #591
Unfortunately the data is not showing up anymore.

[2019-11-29 16:36] corradio commented on #2110
Thanks @brunolajoie !
@brigo69 feel free to re-open this issue if you have more questions

[2019-11-29 16:36] #2110 closed

[2019-11-29 16:38] #2108 closed

[2019-11-29 16:38] corradio commented on #2108
That's right!
The exception is happening at
https://github.com/tmrowco/electricitymap-contrib/blob/master/config/co2eq_parameters.js#L25

On Thu, Nov 28, 2019 at 6:25 PM Brandon Galbraith <notifications@github.com>
wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2019-11-30 02:12] kenseii commented on #1976
Hey, i am interested on contributing on this, do you mind sharing more details about it? thanks

[2019-12-02 07:18] alixunderplatz commented on #1984
Data is back and so is Aruba on the map.
Closing.

[2019-12-02 07:18] #1984 closed

[2019-12-02 07:19] #2101 closed

[2019-12-03 08:01] corradio commented on #2100
@alixunderplatz yes indeed that would be terrific! Then we can correct historical data if there are issues.

[2019-12-04 09:12] AdaBla commented on #2052
This bug is still present. Maybe Electricity map can just change the sign? I will report back when they fix it.

[2019-12-04 09:49] corradio commented on #2052
Is there an alternative data source we can use? Maybe ENTSOE?

On Wed, Dec 4, 2019 at 10:12 AM AdaBla <notifications@github.com> wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2019-12-04 10:17] corradio opened #2114 "Idea: Yearly evolution"
We could build yearly.electricitymap.org which could show yearly averages data.
In the history graphs, we could show the yearly evolution
Thumbs up if you like this idea

[2019-12-04 10:39] GilbertKouame commented on #2114
ok for it !

[2019-12-04 10:59] thomasgibon commented on #2114
The IEA has monthly data for OECD countries and a bit more here https://www.oecd.ilibrary.org/energy/data/iea-electricity-information-statistics_elect-data-en
![image](https://user-images.githubusercontent.com/23332955/70137032-65107a80-168d-11ea-9d7f-377f2eab3871.png)

[2019-12-04 16:32] scriptator commented on #2114
Why not also support monthly? Should not make much of a difference to implement and it would be super interesting to see inter-year fluctuations.

[2019-12-04 16:42] corradio commented on #2114
you're right - it's just that for some areas we only have yearly data. I'd
be sad to ignore some areas because we lack some monthly data.
Another way to do it is to have a toggle where you can select between
yearly, monthly, and hourly (what is currently used) data.

On Wed, Dec 4, 2019 at 5:32 PM Johannes Vass <notifications@github.com>
wrote:

--

Olivier Corradi

Founder, CEO

<https://www.link

[2019-12-08 20:49] SIVAH-AKASH commented on #2107
Hi,
Sorry for the late reply.
I am currently in the US for my Education but am from India, so I just sent them an email. I will let you know as soon as they reply.
Thank You,S.Akash
Get Outlook for Android
From: Alex <notifications@github.com>
Sent: Thursday, 28 November, 2019, 16:06
To: tmrowco/electricitymap-contrib
Cc: S.AKASH; Author
Subject: Re: [tmrowco/electricitymap-contrib] Add a new regi

[2019-12-09 11:34] systemcatch commented on #2105
I guess we need to change the designation in the parser from `gas` to `oil` with note to recheck this every 6 months or so.

[2019-12-09 11:39] #1978 closed

[2019-12-09 13:03] alixunderplatz commented on #2105
@systemcatch or we could assign the oil carbon intensity to gas for Canary Islands ;)
We really have to check which technologies of the ree website are assigned to which production type in our parser.

[2019-12-09 22:06] brandongalbraith commented on #2114
I really love this idea, as it gives you a sense of decarbonization velocity for each measured region.

[2019-12-09 23:58] wjpurdum commented on #1805
It looks like this has been fixed? can't repro

[2019-12-10 07:43] corradio commented on #1805
Let's re-open if we can reproduce again

[2019-12-10 07:43] #1805 closed

[2019-12-10 08:50] thomasgibon commented on #2114
Yearly only sounds great, because it will cover as many countries as possible. For the countries that also have the hourly/15-minute data, you can even validate (/invalidate?) the IEA data :)

[2019-12-12 06:57] katlavaht opened #2118 "Estonia - Carbon intensity (Oil Shale)"
Coal stands actually for [Oil Shale](https://en.wikipedia.org/wiki/Oil_shale) used in **Estonia** for electricity production. Oil shale is a sedimental rock, with high mineral content/low organic content.
Electricitymap currently is using old and very much outdated figure 1515gCO2/kWh_el (Source: EASAC 2007)
The actual figure is around 1000 kg_CO2/MWh_el IMHO.
Propose to use a reference:
**Europea

[2019-12-12 09:49] brunolajoie commented on #2118
ref #738 where we compute country-specific emission factors per fuel, in life cycle analysis approach. The EU-28 average for coal-power is computed at 1160gCO2eq/kWh while EE is at 1300gCO2eq/kWh.

[2019-12-12 09:59] brunolajoie commented on #738
Ok guys, is it time to update all our eMap GHG emission factor per fuel per country?

We have peer reviewed LCA-based figures, for each EU 28 country. We could use the EU-average as the default for all eMap countries (quite an extrapolation I admit), and override each EU country with their specific factor. Let me know what you think :thumbsup:  :thumbsdown: I’m ready to code the PR whenever needed

[2019-12-12 10:31] systemcatch commented on #2103
Looks like the breakdown of capacity (https://en.wikipedia.org/wiki/Energy_in_Israel#Electricity) is heavily fossil fuel based with little renewable energy. Since there won't be any exports/imports we can estimate the CO2 intensity.

[2019-12-12 10:53] systemcatch commented on #2105
@alixunderplatz here is the current mapping.

[code]

[2019-12-12 12:22] corradio commented on #738
Could you post here the IPCC table and the new default values we would have so we can compare?
The IPCC argument has been very solid in order to establish credibility in the nuclear vs renewable debate, so I want to make sure we can keep such a solid argument.

[2019-12-12 14:48] brunolajoie commented on #738
![image](https://user-images.githubusercontent.com/22095643/70721841-9674f000-1cf6-11ea-9c9d-0809f6a92134.png) [spreadsheet](https://docs.google.com/spreadsheets/d/10W9ZbHSEHmyon796ybZ0g5kTrxRtPyV4pFElc5nnr0U/edit?usp=sharing)

[2019-12-12 20:47] katlavaht commented on #2118
Understood the following:
system-wide default coal emission figure will grow from 820 to 1160 kg_CO2/MWh_el
EE emission factor will be reduced from 1515 to 1300 kg_CO2/MWh_el
Climate impact:
- EE is getting greener
- EU is getting dirtier
Thanks for the Table 1 in https://github.com/tmrowco/electricitymap-contrib/issues/738#issue-255410708.
Not sure how did you get the figure 1300, but the differe

[2019-12-13 08:55] corradio commented on #2118
I'd rather use #738 to fix this particular issue.

[2019-12-13 09:11] corradio commented on #738
Do you have any intuition explaining why some changed drastically?
I'm thinking we will need to communicate about this, and maybe a quick blog post would help, specifically on:
- coal
- oil
- biomass
- solar

The other changes seem simpler.

[2019-12-13 12:13] brunolajoie commented on #738
@thomasgibon would know better than me about ecoinvent database!

[2019-12-13 14:07] thomasgibon commented on #738
- For **coal**, it's quite easy to explain, the IPCC value of 820 g is actually quite optimistic, and based on pulverized coal technologies only (I would need an expert to check, but pulverized coal is mostly anthracite, hard coal). World average is still well above 1 kg CO2 eq./kWh, because you start including other sources, such as lignite (brown coal) and in the case of Estonia, other unconvent

[2019-12-15 10:06] chiefymuc commented on #2114
I always thought a slider between "live", "yearly", "monthly", "daily" and "best available" would be awesome. That way the map looks much more complete. Of course it should be indicated what country uses which "best available" data not to confuse anyone.

Somewhat similar is how the flightradar24 website works. When they lose the actual data of a flight over the atlantic or pacific ocean, they sti

[2019-12-15 10:48] nielsanso commented on #738
Great that you are working to differentiate emission factors according to regions, fuel and power plant level.
Nevertheless, something looks wrong in Table 1 posted by @brunolajoie in his update of the intro to this thread. It´s the ratio between the emission factors for thermal power generation - pure electricity generation compared to cogeneration from the same fuel. It is about the total effici

[2019-12-15 16:32] seba1337 opened #2120 "Data for Kosovo"
I've found production data for Kosovo that is updated hourly.
https://kostt.com/WebFiles/Realizimi.xlsx

They have also some extra data under "Transparenca" which doesn't work.

[2019-12-17 11:05] brunolajoie commented on #738
So to summarize:
- The current IPCC figure use for coal in eMap (820g/kWh) is not optimal cause it's only for pulverized coal plant. It could be updated to the ~1000g figure shown above, given by IPCC (AR5 WGIII chapter 7, and WGIII annex A.II.9.3.
- oil figure was not given by IPCC, but by an independent study, but very few power plants use oil anyway
- biomass: need to check CHP allocation rules

[2019-12-17 11:41] nielsanso commented on #738
The issue about energy efficiency for CHP plants (eg. 80-90%) vs. Power Plants without heat utilization(eg. 40-45%), is not relevant only for biomass but for any fuel, incl. natural gas and coal. In Denmark all decentralized natural gas fired CHP´s has very high total energy efficiency, I think they produce slightly more heat than power, so 490 g CO2/kWh is far high – should be less than ½ (245 g

[2019-12-17 12:29] brunolajoie commented on #738
We already talked about CHP in the discussion above, if you wish to have a look

[2019-12-19 12:34] systemcatch commented on #2120
Hey @seba1337 nice find. Currently we don't show Kosovo on the map due to it not being included in our shapefiles.

We have an older issue (#1458) about Kosovo which could be reopened if you post the new information there.

[2019-12-21 07:59] seba1337 commented on #1458
I've found production data for Kosovo that is updated hourly.
https://kostt.com/WebFiles/Realizimi.xlsx

They have also some extra data under "Transparenca" which doesn't work.

Reposted from #2120

[2019-12-21 19:36] seba1337 opened #2121 "Data for Luxembourg"
There is data on Entsoe for Luxembourg, but you have to change the zones.

Check it yourself:

https://transparency.entsoe.eu/generation/r2/actualGenerationPerProductionType/show?name=&defaultValue=false&viewType=TABLE&areaType=BZN&atch=false&datepicker-day-offset-select-dv-date-from_input=D&dateTime.dateTime=03.09.2019+00:00|CET|DAYTIMERANGE&dateTime.endDateTime=03.09.2019+00:00|CET|DAYTIMERANGE&

[2019-12-21 19:41] seba1337 commented on #892
Why Switzerland isn't coloured, like there's missing data, but if you click on it, the graph of production works?

[2019-12-21 19:55] alixunderplatz commented on #2121
hi @seba1337, thank you for looking into the data!
That data actually is for the market/ bidding zone "Luxembourg + Germany", which **only** features data for Germany as far as I know. The magnitude of that data definitely is not for Luxembourg
![image](https://user-images.githubusercontent.com/25743609/71313030-7b5f5a00-2433-11ea-9f65-5098e096f34a.png)

There is no data for the country Luxembourg

[2019-12-21 20:51] corradio commented on #892
the graph is incomplete as the data reported is incomplete and therefore we
don't color it to avoid misleading users :)

On Sat, Dec 21, 2019 at 8:41 PM Sebastian Pleško <notifications@github.com>
wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2019-12-22 08:45] #2103 closed

[2019-12-22 10:20] seba1337 commented on #2121
What if you do DE-LU - DE?

[2019-12-22 13:57] Tketa commented on #892
Hi @andreasamsler !

I'm interested in building a parser for Switzerland :)

After asking around on Slack I was told that the focus is on realtime data (updated ~hourly) as the data on the map is always shown with less than 2 hours of delay.

Do you know if it would be possible to get data updated more frequently?

[2019-12-22 14:24] alixunderplatz commented on #2121
@seba1337 it will return 0 as the data is exactly the same.