[2017-01-22 12:47] nikkozzblu commented on #205
Few issues on this one,
* Some mapping are wrong due to fact the country expose various prices (by zones)
![image](https://cloud.githubusercontent.com/assets/16333051/22182591/2498c646-e0a9-11e6-816a-91065f3ba993.png)

* Romanian prices are in RON / MWh

[2017-01-22 14:13] corradio commented on #205
Indeed you are right. I quickly added a currency check (all non-EUR values will be ignored).
For the zones vs country granularity, this was expected. I don't think there's an easy fix for now.

[2017-01-22 14:17] nikkozzblu commented on #205
We can at least use RTE parser for DE, IT,

[2017-01-22 14:23] corradio commented on #205
It's dangerous. RTE only considers the neighboring bidding zone for DE for
example. ENTSOE has both bidding zones, and the west one has data but not
the east.

[image: Inline image 1]

On Sun, Jan 22, 2017 at 3:17 PM, nikkozzblu <notifications@github.com>
wrote:

[2017-01-22 14:26] corradio commented on #305
The idea here is that, everytime the feeder finishes to run (every 5min), it should updates the server cache (memcached) with timeseries data (power, co2 and prices) for all countries for the latest X hours (6 hours?).
We then have a fast way of serving that data to the frontend.

Frontend-wise, I'd suggest making the top-left panel fill the whole screen height, turning it into a left panel (heigh

[2017-01-22 17:09] ThierryOllivero commented on #205
What about a third filter in addition to Solar / Wind, that would remove the colors of countries and show a scale from light blue to dark blue, light blue being low prices and dark blue high prices, or something like that?

BTW, I love it as it is right now, despite some "?" in germany for instance.

[2017-01-22 17:57] ThierryOllivero opened #310 "Prices - "Electricity Spot Price" not precise enough"
Hello @corradio and @nikkozzblu,

Thanks for your work on prices. Love it. A little issue though.

The map currently shows "Electricity spot price", which is not defined.

It seems like we are currently recovering A44 from ENTSO-E Transparency Platform. Unless I'm mistaken, A44 consists of "Day-Ahead" prices. Not "Intraday".

Therefore, I would suggest to:
- Either fetch Intraday prices somewhere

[2017-01-22 18:24] nikkozzblu commented on #310
Hello,

Almost raised that one as well, actually in my version I used day-ahead.
Then found that EPEX actually refer to SPOT prices as Day-ahead
https://www.epexspot.com/en/market-data/elix
hence let it go.
But in any case "Day-Ahead" I definetly more precise and "Intraday" can come after

[2017-01-22 21:45] Raffox97 opened #311 "Translation"
Can we have a translation?

[2017-01-23 06:29] corradio commented on #311
Hi @Raffox97 ,

From our side it adds a lot of complexity and work to add a translation. We believe our time is better spent on fixing the already long list of issues. What language are you thinking of?

Olivier

[2017-01-23 06:31] corradio commented on #205
We've discussed quite vividly the coloring with respect to other values, and I still think we should be very cautious. I'd prefer thinking of a symbol that shows if the price is high or low, because right now it's just a number, hard to understand

[2017-01-23 06:35] corradio commented on #310
We should definitely update the README. However the main question is whether or not "spot prices" is better than "day ahead prices". I think day ahead prices induces more complexity, because it forces you to understand there's a market where people bid 24h ahead of time etc..
There I settled on "spot prices", which is easy to understand from a non-expert point of view: it's the price of electricit

[2017-01-23 06:40] Raffox97 commented on #311
I was thinking about Italian which I can help with that.

Il 23 gen 2017 07:29, "Olivier Corradi" <notifications@github.com> ha
scritto:

Hi @Raffox97 <https://github.com/Raffox97> ,

From our side it adds a lot of complexity and work to add a translation. We
believe our time is better spent on fixing the already long list of issues.
What language are you thinking of?

Olivier

—
You are receiving

[2017-01-23 06:43] nikkozzblu commented on #310
I still vote for day ahead, intraday (or 2 hours ahead) is another, and balancing (with 3 levels!¡!) yet another ones.
Yes electricity market are not simple :p

[2017-01-23 06:43] corradio commented on #311
The problem is not so much the translation itself, but the system that is able to switch between various languages. Are you able to build that?

[2017-01-23 06:53] Raffox97 commented on #311
Unluckly no

Il 23 gen 2017 07:43, "Olivier Corradi" <notifications@github.com> ha
scritto:

[2017-01-23 07:28] nikkozzblu commented on #205
![image](https://cloud.githubusercontent.com/assets/16333051/22194946/a69bb350-e145-11e6-8560-506c72b1bf4a.png)

This is the kind of layer (that could be on/off) I had in mind with price.
If we make the area of the circle proportional to the total production it should be able to fit even in smaller countries (maybe with some reading issue though, to be tested)

[2017-01-23 07:50] corradio commented on #205
I like the idea. How would it work for really small countries (Slovenia, Northern Ireland)?
Is the color proportional to the price? We need to find a colorscheme that doesn't conflict with the co2 one.

However: this map is about co2, and the factors that drive it. Therefore, we added the solar/wind layers, as more wind/solar reduces co2. Do prices directly drive co2? I'm a bit afraid that showing

[2017-01-23 09:39] corradio commented on #238
@brunolajoie I'm closing this because the map will have too much information else.
Please re-open if you don't agree!

[2017-01-23 09:39] #238 closed

[2017-01-23 09:41] corradio commented on #191
Hi @tobiasseidel ,

Indeed it's a good idea.
I'm closing this for now as unfortunately I don't foresee we will have time to work on this in the future :( But thanks for the input, I will keep it in mind and re-open if things change!

Oli

[2017-01-23 09:41] #191 closed

[2017-01-23 09:43] corradio commented on #199
@scarlac will look into this (thanks!!)

[2017-01-23 10:02] nikkozzblu commented on #230
Did you tried any pre rendered svg (after weather update) on server side

[2017-01-23 10:06] corradio commented on #230
It's actually a canvas that gets rendered. We need to accomodate multiple resolutions.
Therefore it would make sense to render tiles on the server which would also solve the problem of rendering the layer.
If you know a simple way of doing this, I'm all ears.
Else, we could maybe try to lower the resolution?

[2017-01-23 14:36] jackaranda opened #312 "Can't get back to the overview map"
Hi, really like the visualisation!  But once you click on a country to unpack the generation sources, I can't see a way of returning to the overview control so that you can turn on wind potential or solar potential layers etc...

[2017-01-23 14:36] corradio commented on #312
Hey @jackaranda,

You should click on the sea to do that. Yeah, we'll add a back button :)

Olivier

[2017-01-24 08:47] #310 closed

[2017-01-24 08:47] #312 closed

[2017-01-24 08:47] corradio commented on #310
Please re-open if the fix is not good enough:

![image](https://cloud.githubusercontent.com/assets/1655848/22240164/221c5c62-e21a-11e6-817e-8685fe0b3602.png)

Readme was also updated.

[2017-01-24 08:51] corradio commented on #264
I added a line on the disclaimer. Please re-open if this is not enough:

![image](https://cloud.githubusercontent.com/assets/1655848/22240281/aaa8ea14-e21a-11e6-93d9-9d71d87aff2d.png)

[2017-01-24 08:51] #264 closed

[2017-01-24 09:03] ThierryOllivero commented on #310
Looks good to me !

[2017-01-24 10:17] brunolajoie commented on #288
Dear all, thanks for this insightful discussion.

We learned that evaluating LCA emissions of nuclear power was highly uncertain and dependent on various parameters such as type of reactor, uranium mine used etc...therefore, highly country dependant.  However, IPCC's 12gCO2/kWh is not a significantly biased single value as we must pick one.

Therefore, I'm closing this specific issue, keeping in m

[2017-01-24 10:17] #288 closed

[2017-01-24 15:44] AndrejsK opened #314 "Bug report about Latvia"
The graph clearly shows hydro capacity over 2GW, but in the text box it says 1,5GW.

![bug](https://cloud.githubusercontent.com/assets/4621399/22254241/acfa3e70-e25c-11e6-9038-196cee36ec59.png)

[2017-01-24 17:28] corradio commented on #314
The right label is wrong. It should show 1.5GW instead of 2GW.

[2017-01-24 18:01] #314 closed

[2017-01-25 06:08] ThierryOllivero opened #316 "Exchanges between Albania and Serbia are incorrectly shown"
![image](https://cloud.githubusercontent.com/assets/22315693/22284530/072c8cfa-e2e8-11e6-953a-3a8db64dfe77.png)

Albania only exchanges electricity with Greece, Montenegro and Kosovo. The map shows exchanges with Serbia (as stated on ENTSO-E) instead of Kosovo.

Since we are showing both Kosovo and Serbia on the map, we should correct the arrow.

Thierry

[2017-01-25 07:18] corradio commented on #316
@rustyb, I think that's also an issue you might want to talk about with your colleagues:

![image](https://cloud.githubusercontent.com/assets/1655848/22281352/db989e50-e2d6-11e6-8ef1-3cedb4685d21.png)

[2017-01-25 09:19] ThierryOllivero commented on #316
We have to keep in mind it remains an open political issue. The government of Serbia does not recognize Kosovo as a sovereign state.

In the EU28, Cyprus, Greece, Romania, Slovakia and Spain dot not recognize it either.

Therefore I don't know if ENTSO-E can take any position on this matter.

3 possibilities:

1. We keep it as it is on the map (showing an arrow from Albania to Serbia, and accounti

[2017-01-25 09:24] corradio commented on #316
If it is not recognised in the EU28, then maybe we should simply merge the two polygons and still show it as part of RS?

[2017-01-25 09:51] ThierryOllivero commented on #316
"The EU, like other IGOs, does not possess the legal capacity to diplomatically recognise any state; member states do so individually. The majority of member states have recognised Kosovo. To articulate a common EU policy of either support or opposition to Kosovo's independence would require unanimity on the subject from all 28 member states, which does not presently exist."

So, after discussion

[2017-01-25 10:48] corradio opened #317 "Support prices which are fetched in different currencies"
Currently, ENTSOE gives some prices in foreign currencies.
We could store them in local currencies and a third party api to do the conversion when shown on the map

[2017-01-25 13:32] nikkozzblu commented on #305
C3 running in D3v3 is indeed quite unfortunate; we can still plot with d3 directly but we loose a lot of nice tooltip, data loading ability from C3....
On another hand is there any specific needs on other parts that require running v4 rather than v3 ?

[2017-01-25 13:52] nikkozzblu commented on #317
Yes I think we should start with storing both price and currency in the price table and display them both (I.e. each price in its own currency)
Second step would be to find a currency exchange API and perform requiered conversions on the client

[2017-01-25 15:35] corradio commented on #305
Mmh d3 is used a bit everywhere in the webapp, so it will be hard to downgrade. It won't be hard to do the graph by ourselves anyway.
I'm working on www.co2signal.com right now, but I'll attack this next week probably. @nikkozzblu @martindaniel4 if you guys want to start let me know.

[2017-01-26 02:18] martindaniel4 commented on #305
@corradio - I am not sure to understand the front-end side. Are you guys thinking of something like this ?
@nikkozzblu - What did you have in mind for the solar and wind timelines ? One tooltip where you click on the map ?

![graph_mock_up](https://cloud.githubusercontent.com/assets/695006/22317716/6bea3ace-e32a-11e6-9dab-bd8b93457cec.png)

[2017-01-26 07:42] corradio commented on #305
Yeah something like that. And when you hover on each of the lines it shows you the history of that line in the graph placeholder.

[2017-01-26 08:30] guynicholson opened #318 "GB-NIR etc"
Hi really great web site.
1) Northern Ireland is labelled GB-NIR.  Northern Ireland is part of UK (as is GB) therefore either label
           UK-GB and UK-NIR
                       or
           GB and NIR
     You could use NI instead of NIR.
2) there is no nuclear generation in NIR.
3) the popup text box on the  flow form Norway to Finland  is not visible (off the top of the screen).
4) could

[2017-01-26 08:30] corradio commented on #317
This should do:
- http://openexchangerates.github.io/money.js/
- http://fixer.io/

[2017-01-26 08:45] corradio opened #319 "Add cross-border exchange capacity"
Example: GB-NL is 1000MW. http://www.britned.com/

[2017-01-26 08:46] corradio commented on #318
Hello @guynicholson ,

1. GB-NIR is actually the ISO 3166 code for the "subunit", even though Northern Ireland is part of UK https://en.wikipedia.org/wiki/ISO_3166-2:GB. It's an attempt to slowly move to "zones" instead of "countries".
2. Thanks! @brunolajoie or @ThierryOllivero can one of you guys take a look at GB-NIR capacities?
3. Good catch! I'm fixing this right away.
4. I'm adding an issue

[2017-01-26 08:48] #318 closed

[2017-01-26 08:55] ThierryOllivero commented on #318
@corradio right now we have no capacities for GB-NIR in the file.

On ENTSOE, we have information for UK and for Ireland, but no split for NIR.

@brunolajoie any idea?

[2017-01-26 10:01] corradio opened #320 "ENTSOE: HU states wind *consumption* instead of production"
Hi @rustyb,

For HU, there seems to a mistake where it *consumes* wind power instead of producing. Is that normal?

![image](https://cloud.githubusercontent.com/assets/1655848/22327281/ba50e44c-e3b6-11e6-8c4b-924d554154da.png)

Thanks for the help!

Olivier

[2017-01-26 10:06] corradio opened #321 "ENTSOE: Unable to get LT->RU exchange"
Error returned by API:

Failed to get exchange. Reason: Invalid business dimension parameters provided. Please check you request against dependency tables. One of the following parameters is not valid for Physical Flows [12.1.G]: 10YLT-1001A0008Q, 10Y1001A1001A49F

The data is here so it should work!

![image](https://cloud.githubusercontent.com/assets/1655848/22327429/6f065b60-e3b7-11e6-9415-c448

[2017-01-26 16:22] brunolajoie opened #322 "tooltip unclear"
I would add the word "consumption" to differentiate it from "capacity".

![untitled](https://cloud.githubusercontent.com/assets/22095643/22339956/0c22696e-e3ec-11e6-8776-9b72b60624da.png)

[2017-01-26 16:51] brunolajoie commented on #318
NIR Capacity (2016)
Source: http://www.eirgridgroup.com/site-files/library/EirGrid/Generation_Capacity_Statement_20162025_FINAL.pdf

Wind: 863MW
Sun: 77M
Gas: 1004MW
Oil: 415MW
Coal: 764MW
Biomass: 35MW

Interconnector: 450MW

I'll create a pull request with these modifs

[2017-01-26 16:55] brunolajoie opened #323 "Add GB-NIR capacities"
NIR Capacity (2016)
Source: http://www.eirgridgroup.com/site-files/library/EirGrid/Generation_Capacity_Statement_20162025_FINAL.pdf

Wind: 863MW
Sun: 77M
Gas: 1004MW
Oil: 415MW
Coal: 764MW
Biomass: 35MW

Interconnector: 450MW

@oli NIR is not a country its a zone. I don't know how to add capacities to a zone in our code in order to create the corresponding pull request

[2017-01-26 16:56] corradio commented on #323
Use the `GB-NIR` zone. For now zones are still called "countryCodes" but it will be changed soon.

[2017-01-26 17:10] brunolajoie commented on #323
Ok i'll
- Update the capacities.json with GB-NIR
- Remove GB-NIR capacities from GB
- update readme

[2017-01-26 17:13] corradio commented on #323
Double check the GB capacities. If they are from ENTSOE, they probably only count for GB and not UK.

[2017-01-26 17:20] ThierryOllivero commented on #318
Question: these capacities are today reported in UK on ENTSO-E. Should we remove them from GB capacities?

[2017-01-26 17:21] brunolajoie commented on #323
Do you confirm that ENSTOE Data for "UK" in https://transparency.entsoe.eu/ is actually "GB" only?

[2017-01-26 17:22] corradio commented on #318
Let's discuss on https://github.com/corradio/electricitymap/issues/323#issuecomment-275450749

[2017-01-26 17:23] corradio commented on #323
If you use the "bidding zone" tab, then yes.

![image](https://cloud.githubusercontent.com/assets/1655848/22342387/81ef355c-e3f4-11e6-93e7-1736916ece6f.png)

Link: https://transparency.entsoe.eu/generation/r2/installedGenerationCapacityAggregation/show?name=&defaultValue=true&viewType=TABLE&areaType=BZN&atch=false&dateTime.dateTime=01.01.2017+00:00|UTC|YEAR&dateTime.endDateTime=01.01.2017+00:00|UT

[2017-01-26 18:34] Eirikep opened #324 "Time-averaged values"
Dear Tomorrow team,

Thanks for the awesome web page you have created! It's a brilliant idea that with flawless execution to boot, and I am showing it to everyone that I know.

However, while most people I introduce it to find it very interesting and enlightening, sometimes people will dismiss the live data for being entirely unrepresentative and therefore mostly irrelevant. To combat this, I thou

[2017-01-26 19:16] martindaniel4 commented on #324
@Eirikep thanks for your feedback! Absolutely, we are working on this:

- We are working on time series at the country level to show historical value in this issue https://github.com/corradio/electricitymap/issues/305
- There is already the possibility to specify a specific datetime by passing a `datetime` parameter like so - https://www.electricitymap.org/?datetime=2016-12-10T14:00:00
- Lastly, w

[2017-01-26 23:25] corradio commented on #324
I wouldn't be able to summarise it more concisely than @martindaniel4 just did. I'm closing this, but feel free to re-open if you're not satisfied with the answer. In any case, we can keep discussing.

[2017-01-26 23:25] #324 closed

[2017-01-27 07:53] corradio commented on #322
![image](https://cloud.githubusercontent.com/assets/1655848/22363917/119ccaf6-e46e-11e6-92d8-632f2a6a323f.png)

[2017-01-27 07:55] #322 closed

[2017-01-27 07:56] corradio commented on #311
I'm closing this as unfortunately this won't be a priority for now.

[2017-01-27 07:56] #230 closed

[2017-01-27 07:57] corradio commented on #219
cc @rustyb, are you able to help us?

[2017-01-27 08:14] corradio opened #325 "ENTSOE: Austria has negative consumption of "other""
@rustyb can you help us understand why Austria *consumes* from an "unknown" source?

![image](https://cloud.githubusercontent.com/assets/1655848/22364315/eb9b68aa-e470-11e6-9aa7-f796d108d06b.png)

[2017-01-27 08:17] corradio commented on #72
@rustyb can you help us here?

[2017-01-27 08:18] corradio commented on #78
Updating this issue: invalid values for gas and coal:

![image](https://cloud.githubusercontent.com/assets/1655848/22364405/9d28bd0c-e471-11e6-8261-1205225abb55.png)

[2017-01-27 08:26] corradio commented on #118
I'd like to re-prioritise this. It would be nice to see "negative" production when hydro plants pump energy uphill, cc @brunolajoie

Right now, we sum all types of hydro, and some count as a negative contribution (when one type is consuming rather than producing). The sum of all is put in the "hydro" line in the EM.
Instead, we should probably isolate the part that can be negative, and in our CO2

[2017-01-27 10:10] brunolajoie commented on #219
@corradio i think it's faire to change "unknown" production to "biomass". In order to help me settle this once for good and adjust the related "capacities.json" file, could you print us the maximum output per power plant type in GB that you registered in ENSTSO since we started to save data on our database? thanks.Bruno

[2017-01-27 10:20] corradio commented on #219
@brunolajoie unfortunately it's not that easy. We would have to encode a special rule that says that UK unknown is actually biomass, and it would not be future proof (what happens if ENTSOE add something else to 'unknown'?)
I'd like to follow up with @rustyb from ENTSOE on this one. Maybe they can fix it. I renamed the issue to make it clearer.

[2017-01-27 10:23] corradio commented on #223
Premature optimisation

[2017-01-27 10:23] #223 closed

[2017-01-27 10:26] brunolajoie commented on #219
ok i got it! But, if you can still print me the max output you registered, that would help me fix the capacities.json. Else, no pb, will wait

[2017-01-27 10:27] corradio commented on #219
Let's talk about it on slack

[2017-01-27 10:32] #138 closed

[2017-01-27 10:57] corradio commented on #305
Fiddle by @nikkozzblu : https://jsfiddle.net/sz6yrp7s/3/
I'll try and see if I can port c3 to d3v4

[2017-01-27 11:36] corradio opened #326 "Add banner showing that a new version of the frontend is avaiable"

[2017-01-27 14:04] brunolajoie commented on #219
I've updated the GB capacities with 2017 ENSTOE data.  There is now 2GW of biomass capacity and 6GW of unknown (2GW of unknown/other renewables, + 4GW of unknown/unknown).

I suspect that ENTSOE real time production category "unknown" refers to the biomass capacity of 2GW, as we can see in the picture below, and should therefore be changed in our code to reflect this match.
![image](https://cloud.

[2017-01-27 14:20] AndyinHawick opened #329 "great start"
Thanks for the good map.

It would be interesting to plot on a graph the price & carbon intensity of each country. I realise that both data are not known for every country but where they are, it can supply a point on the graph.

At standard scale, the Tomorrow link was covering the Solar checkbox and I had to zoom the content of the webpage to allow me to select that option.

It would be good to d

[2017-01-27 14:22] corradio commented on #329
Thanks @AndyinHawick.
Indeed those things are on our radar. Will be done soon.
In the meantime, you might want to subscribe to this issue: https://github.com/corradio/electricitymap/issues/305

[2017-01-27 14:22] #329 closed

[2017-01-27 14:57] AndyinHawick commented on #305
I would be interested in seeing a country-by-country comparison of price versus carbon content. Each country (which has both data) would be represented by a dot (perhaps sized according to total power). X-axis carbon intensity; Y-axis day-ahead price.

Clicking through the data suggests that there may be patterns here but it is difficult to visualise without actually plotting on a graph.

[2017-01-27 14:59] brunolajoie commented on #162
Hello @ThierryOllivero @corradio , I don't have the figures with me, but I think Lignite emits much more than anthracite. The figure you provided were in CO2 emission per thermal energy of combustion. What matters for us is CO2 emissions per electricity output. Yet lignite power plant burn at lower temperature and are less efficient than anthracite. Plus, the mining process is more CO2 intensive,

[2017-01-27 15:20] brunolajoie commented on #118
This is an interesting point.

- At the moment LCA emissions data we use are per kWh of electricity _produced_, because it refers to i think normal damn powerplant without pumped storage capacities. I will double check. So, if we net it from electricity stored in reservoirs, we are actually diminishing total CO2 emissions, so its not ideal. --> **We should therefore change our code to only use kWh

[2017-01-27 21:35] corradio commented on #118
For the first point: it's already done like that.

[2017-01-27 21:36] corradio commented on #305
Hi @AndyinHawick ,

This sounds like a notebook to be added in the datascience folder! Are you up for the task?

Olivier

[2017-01-28 08:31] Veritaly opened #330 "Italy"
Who is the 900MW constant power of geothermal powerplants? Total IT consumption at 9:00 am about 17GW. Its to low for Italy.

[2017-01-28 08:52] corradio commented on #330
Yes we are aware. This is a duplicate of https://github.com/corradio/electricitymap/issues/7. Let's use the other issue instead!

[2017-01-28 08:52] #330 closed

[2017-01-28 10:00] corradio commented on #118
I was thinking about something like that:

![image](https://cloud.githubusercontent.com/assets/1655848/22395804/d5a37276-e548-11e6-99ea-fdcf12c31944.png)

We can either show pumped hydro (which can either be >0 or <0), or we can show specifically storage (which is always <0) in opposition to hydro production (always >0).

[2017-01-28 17:54] AndyinHawick commented on #305
HI Oliver

Unfortunately, this is not a language that I am familiar with but I'm happy for anyone else to run with the idea.

	Andy

[2017-01-28 17:56] martindaniel4 commented on #305
That's very kind of you Andy.

On Sat, Jan 28, 2017 at 9:54 AM AndyinHawick <notifications@github.com>
wrote:

--
Martin DANIEL

@martindaniel4
+ 1 415 910 6340

[2017-01-28 18:28] jackva opened #332 "Nuclear capacity of Sweden"
swedish nuclear reports 103% of installed capacity producing, makes no sense

[2017-01-28 22:07] corradio commented on #332
yes indeed, we should update capacity numbers. Can you help?

Olivier

On Sat, Jan 28, 2017 at 7:28 PM, jackva <notifications@github.com> wrote:

[2017-01-28 22:34] nikkozzblu commented on #332
Should we look at a solution that would update capacity automatically when max value is exceeded (in reasonable range) .

I am especially thinking of wind and solar where capacity grow quite continuously, it will soon become a headache to maintain all that up to date for each country

-------- Mensaje original --------
Asunto: Re: [corradio/electricitymap] sweden (#332)
De: Olivier Corradi
Para: c

[2017-01-29 22:17] nikkozzblu commented on #311
https://www.npmjs.com/package/vue-multilanguage, I think this one can simplify quite a lot the translation work given we can have translator. I think we should keep this one in mind if we want to enable larger audience; if they are only vaguely familiar with electricity production, the fact that in addition it is in English might make them to leave...

[2017-01-30 08:45] rustyb commented on #72
Hi Folks - The values for Coal are reported through the bidding zones. For example see
- [IT-Centre-South](https://transparency.entsoe.eu/generation/r2/actualGenerationPerProductionType/show?name=&defaultValue=false&viewType=TABLE&areaType=BZN&atch=false&datepicker-day-offset-select-dv-date-from_input=D&dateTime.dateTime=27.01.2017+00:00|CET|DAYTIMERANGE&dateTime.endDateTime=27.01.2017+00:00|CET|D

[2017-01-30 14:17] corradio commented on #311
mmh @nikkozzblue can you give it a try?

On Sun, Jan 29, 2017 at 11:17 PM, nikkozzblu <notifications@github.com>
wrote:

[2017-01-30 15:03] brunolajoie commented on #265
Hey guys, I have added def get_consumption(from, to, resolution_minutes, countries=None) to the list
ENSTOE provides a "consumption" data per country. It will help us to double check if production + net import = consumption at all time.

[2017-01-30 15:24] #118 closed

[2017-01-30 17:21] brunolajoie opened #334 "Update Finland power capacities"
- [ ] Wind: 1533 MW and we have 522 turbines installed.
http://www.tuulivoimayhdistys.fi/ajankohtaista/ajankohtaista/2732/tuulivoimavuosi_2016_toi_suomeen_lahes_miljardin_investoinnit
- [ ] Other:  ENSTOE

[2017-01-30 19:21] martindaniel4 commented on #265
👍  do we have an endpoint ready in the API for that or do we need to create one?

[2017-01-30 19:58] corradio commented on #265
Needs to be created but it's almost a copy of production

On 30 Jan 2017, 20:21 +0100, Martin Daniel <notifications@github.com>, wrote:

[2017-01-30 20:47] nikkozzblu commented on #311
Yep will try to have a look this week

Nico Juguet

-------- Mensaje original --------
Asunto: Re: [corradio/electricitymap] Translation (#311)
De: Olivier Corradi
Para: corradio/electricitymap
CC: nikkozzblu ,Comment

mmh @nikkozzblue can you give it a try?

On Sun, Jan 29, 2017 at 11:17 PM, nikkozzblu <notifications@github.com>
wrote:

-
You are receiving this because you commented.
Reply to thi

[2017-01-31 11:50] brunolajoie commented on #323
Issue solved in #328

[2017-01-31 11:50] #323 closed

[2017-01-31 12:34] brunolajoie commented on #155
As far as I've seen, there are no mandatory targets for GHG intensity of electricity per country in Europe.

There are only Renewable Targets, which cannot translate into GHG intensity of electricity.
I'm closing this issue as I don't think we can show such targets on the EMap for all its countries. It could be done in a case by case basis, if some country volontarily give themself such targets.

[2017-01-31 12:34] #155 closed

[2017-01-31 13:01] brunolajoie commented on #218
Thanks Amaura, I think your datasource is solid.

We indeed could start refining emissions factors by country but need to fix something in the code first:

Right now, the map displays "IPCC" in the mouse tooltip as shown in the picture below for all countries and all plants. (it's hardcoded in the html). If we start changing the source by country, we will need to start creating a dynamic link betw

[2017-01-31 13:02] corradio commented on #305
On top of my mind there's several curves we could show over the last X hours:

- CO2
- Prices
- Production (stacked per production unit)
- Import/Export (stacked per country)

That's a lot of curves. How can we deal with this?

[2017-01-31 13:15] corradio opened #335 "Better toggle for emissions vs electricity in panel"
Use the coldwave template:

![image](https://cloud.githubusercontent.com/assets/1655848/22466250/c60baa76-e7bf-11e6-8cdf-7caac9edb63d.png)

[2017-01-31 13:39] nikkozzblu commented on #305
Maybe 2 graphs ?
One co2 + productions stacks
One prices + import/export stacked ?

Nico Juguet

-------- Mensaje original --------
Asunto: Re: [corradio/electricitymap] Add timeseries graphs (#305)
De: Olivier Corradi
Para: corradio/electricitymap
CC: nikkozzblu ,Mention

On top of my mind there's several curves we could show over the last X hours:

  *   CO2
  *   Prices
  *   Production (stacke

[2017-01-31 16:50] corradio commented on #305
My proposal:
- one graph with co2 intensity (g/kWh) with a gradient background representing the co2 scale
- one graph with production+import/export stacked (kW)
We should leave prices out for now as they are not that interesting compared to other metrics.

[2017-01-31 18:37] martindaniel4 commented on #305
That's a lot of information for the left panel. Some countries (DE, FR
etc..) have a lot of imports / exports, leaving less real estate for those
graphs.

Also on smaller screen (most of desktop screen I think), the left panel is
already taking full window height.

Here are few ideas to display all those info:

- Display graph in tooltip when you mouseover on a country
- Have a toggle / button to

[2017-01-31 22:02] AndyinHawick commented on #305
My interest remains in the correlation (or not) of carbon intensity and price (settlement price ideally but day-ahead would be a reasonable proxy or even day-ahead from the previous day).

Looking at the various data points, there seems to be a reasonable amount of alignment between low price and low carbon intensity.

If the data show that in these real-life situations, the low-carbon options are

[2017-02-01 15:39] corradio opened #336 "Investigate price vs. CO2 relationship in a notebook"

[2017-02-01 15:42] corradio commented on #305
@AndyinHawick, I'm opening an issue specifically for this. We won't put it in the realtime electricity map, because the analysis you're looking for needs to be done on more than a couple of hours (probably weeks/months). We might however put a time series of price, but not a scatter plot. Issue: https://github.com/corradio/electricitymap/issues/336

@martindaniel4 here's some ideas:

# Graph in to

[2017-02-02 09:19] samhatfield opened #337 "Consumption percentages can add up to more than 100"
With exports and storage, the percentages of a country's consumption met by each energy source can add up to more than 100. For example, Portugal at the moment is consuming 4.13GW:

- 3.96GW of wind (96% of consumption)
- 598MW of hydro (14%)
- 324 MW of biomass (8%)
- 876 MW of gas (21%)
- 1.73 GW of coal (42%)
- 38 MW of unknown (1%)

It also exports 2.62GW and is storing 770 MW. I think it make

[2017-02-02 15:40] corradio commented on #316
@ThierryOllivero what is the status here?

[2017-02-03 09:03] FrankSteph opened #339 "Cross-Border export arrows GR-IT are reversed"
Hi,

Cross-Border export arrows GR-IT are reversed.

Cheers - Frank

[2017-02-03 10:30] ThierryOllivero commented on #339
Hello Frank,

Thanks for the feedback, you are right!

BR,

Thierry

[2017-02-03 10:33] #339 closed

[2017-02-03 11:40] ThierryOllivero commented on #337
Hmmm, true, there is a problem here.

[2017-02-03 14:10] corradio commented on #337
We're on it with bruno

On 3 Feb 2017, 12:40 +0100, Thierry Ollivero <notifications@github.com>, wrote:

[2017-02-04 10:17] corradio commented on #337
Hi @samhatfield ,

We've updated the tooltips with a new version. It should be more consistent and easier to read now. Please re-open if you have more questions

[2017-02-04 10:17] #337 closed

[2017-02-04 10:22] #316 closed

[2017-02-04 12:16] brunolajoie commented on #262
There is no single source of information for all countries about installed capacities, therefore, we will have to update it manually every now and then.

I suggest to update a country capacity everytime we see that the load factor of a plant type exeed 100%. To monitor that, a warning message on the chrome console is visible when browsing electricitymap.org
![image](https://cloud.githubusercontent

[2017-02-04 12:16] #262 closed

[2017-02-04 12:47] brunolajoie commented on #219
@rustyb any news on your side from ENTSOE for them to update their unknown category into biomass?

[2017-02-04 12:55] rustyb commented on #219
Unfortunately I haven't heard anything back yet. Will post here when I do.

[2017-02-04 16:01] brunolajoie commented on #334
closed by #342

[2017-02-04 16:01] #334 closed

[2017-02-04 16:01] brunolajoie commented on #188
Closed by #342

[2017-02-04 16:01] #188 closed

[2017-02-04 18:28] brunolajoie commented on #140
Hello @birkir thanks a lot for your help!

I'm noticing a mismatch between power capacities and power production from the API, would you happen to know what it could be?

For instance, the BURF_F hydro power plant has a capacity of 6*45=270MW http://www.landsvirkjun.com/Company/PowerStations/BurfellPowerStation

But on http://amper.landsnet.is/MapData/api/measurements we have 6 values for each tur

[2017-02-04 18:51] corradio commented on #140
Realtime transmission map seen here:
http://landsnet.is/english/transmissionandmarket/systemoperations/
Potential contact:

Íris Baldursdóttir
System Operations
Gylfaflöt 9, 112 Reykjavík
iris@landsnet.is
Tel: (+354) 563 9446

[2017-02-05 10:05] corradio commented on #140
Sent an email to Iris

[2017-02-05 12:38] corradio commented on #305
I'm starting on this today.

[2017-02-05 21:51] samhatfield commented on #337
Looks good!

[2017-02-05 23:52] martindaniel4 commented on #305
@corradio do you have a way to pull data locally?

Looks like the feeder is only fetching data for current datetime

[2017-02-05 23:57] martindaniel4 commented on #305
Ok obviously it looks like you thought about everything already and you have a toggle to fetch data from remote endpoint ;) - https://github.com/corradio/electricitymap/blob/master/web/app/main.js#L33

[2017-02-06 06:37] corradio commented on #305
Yeah keep in mind that the feeder can't grab data historically, so it needs
to run on your laptop for a day to get a day of history :(

On Mon, Feb 6, 2017 at 12:57 AM, Martin Daniel <notifications@github.com>
wrote:

[2017-02-06 08:26] corradio commented on #72
Thanks @rustyb

Seems like we're now getting a lot of "unknown" values. Is that the sum of coal given in each bidding zone?

![image](https://cloud.githubusercontent.com/assets/1655848/22639401/37cdde12-ec4e-11e6-9c20-39e82b83fb91.png)

[2017-02-06 14:27] #305 closed

[2017-02-06 15:11] corradio opened #345 "Production: node.js does not serve new assets unless restarted"

[2017-02-06 15:12] corradio commented on #332
@brunolajoie can you take a look?

[2017-02-06 15:13] #260 closed

[2017-02-06 15:14] #147 closed

[2017-02-06 15:14] #210 closed

[2017-02-06 15:14] corradio commented on #146
Not required

[2017-02-06 15:14] #146 closed

[2017-02-06 15:16] corradio commented on #83
Do we still need this, now that we are able to see the last 24h as a graph?

[2017-02-06 15:17] ThierryOllivero commented on #83
I believe so. At some point, people might want to see how it is in Winter, in the summer, on their birthday, etc.

[2017-02-06 15:21] corradio opened #346 "Optimise cache management"
TODO: push state in feeder `postprocess`. Set higher expiration.

[2017-02-06 15:38] welph opened #347 "Add country average pricing when zones are available"
Have you checked if http://www.nordpoolspot.com/ have an API which can be used for the nordic countries?

[2017-02-06 15:41] nikkozzblu commented on #347
Nordic countries are actually also on ENTSOE, this is just that there is no such as «National» price. (same for Germany or Italy)

[2017-02-06 15:44] welph commented on #347
You mean that for example in my country, Sweden. Is divided in 4 regions with different prices?

[2017-02-06 15:49] corradio commented on #347
Exactly. We could show average prices for a country maybe?

[2017-02-06 15:54] welph commented on #347
Either that or if it is possible, let the price change when you hover your mouse over different regions in a country that has different prices.

[2017-02-06 17:10] grischard commented on #212
Or maybe just a single arrow? A lot of our energy is imported.

[2017-02-06 17:10] grischard commented on #212
Ah, sorry @Pantkowsky, didn't mean to unassign you!

[2017-02-06 19:27] corradio commented on #212
That's the bidding zone AT-LU-DE. I am not sure this is LUX only? Can
anyone confirm?
The country data for LUX is indeed referenced by 10YLU-CEGEDEL-NQ, and is
already added to `ENTSOE.py` actually. We're just waiting for data.

Olivier

On Mon, Feb 6, 2017 at 6:10 PM, Guillaume Rischard <notifications@github.com

[2017-02-06 19:31] corradio commented on #347
I'd like to keep country-level information for now. Averages should be possible.
Can you help?

[2017-02-06 19:40] corradio commented on #311
Associated PR:
https://github.com/corradio/electricitymap/pull/344

[2017-02-06 20:18] welph commented on #347
Sorry, no. I really would like to help. But knows very little when it comes to coding.
As I work at a powerplant in a pulpmill I find your project intresting :)
And yes we mostly burn biomass ;)

[2017-02-06 21:25] brunolajoie commented on #332
Interesting,
ENTSOE reports 9076MW of nuclear capacity while at the same time reporting 9091MW of nuclear power. ENSTOE data cannot be relied upon or I am missing something here? Will have a deeper look.

As for auto-update, yes, i tend to think that we should use ENTSOE capacity data automatically whenever
possible, but many countries don't have capacity data on ENSTSOE, so no easy way to automat

[2017-02-07 06:59] corradio commented on #332
It probably means their capacity data is outdated.
I'm closing this as we can't find any data. Please re-open if you do find data.

[2017-02-07 07:09] corradio commented on #336
@martindaniel4 can you take this one? It's mostly to show an example to get people started

[2017-02-07 07:35] corradio opened #348 "Slow scrolling speed on mobile"
Home screen is slow to scroll on my iPhone 5S.
It seems to come from the flags when enough of them are visible on the screen (I tried removing the flags, which removes the lag, and I tried adding a lot of vertical space to only show a few of them on the screen, and it also removed the lag).
The flags are SVG so it might be painful to redraw?
@scarlac do you have an idea?

[2017-02-07 07:38] corradio commented on #249
UA has two bidding zones:

![image](https://cloud.githubusercontent.com/assets/1655848/22681412/5b813948-ed0d-11e6-8e8d-7707cb099d90.png)

Corresponding to two identifiers:

10Y1001A1001A869: Ukraine BZ / CA / MBA
10YUA-WEPS-----0: Ukraine WEPS BZ / CA / MBA

There's import/export data for 10Y1001A1001A869 for the following countries:

- HU
- PL
- RO
- SK

I have added them.

[2017-02-07 07:53] #249 closed

[2017-02-07 08:17] #346 closed

[2017-02-07 08:30] corradio commented on #345
Apparently node does. Must be a volume mounting error.

[2017-02-07 08:30] #345 closed

[2017-02-07 09:00] scarlac commented on #348
Yeah, I tested it just now. Also seems slow on desktop safari in mobile emulation. Removed pretty much everything and still had FPS drops.
SVG seems to be the culprit (setting the background image to "none" for the flag-icon increases frame rate to 60 again).
I should generate static PNGs since (Mobile) Safari can't. Chrome seems unaffected.

[2017-02-07 09:05] corradio commented on #348
Indeed that's what I thought. Is there a good workaround or should we
switch to a PNG library instead?

On Tue, Feb 7, 2017 at 10:00 AM, Seph Soliman <notifications@github.com>
wrote:

[2017-02-07 09:15] scarlac commented on #348
Switching is the best. Workaround is to convert to PNGs.

[2017-02-07 09:29] scarlac commented on #348
Potentials:
- https://www.flag-sprites.com
- http://icondrawer.com/flag-icons.php
- http://365icon.com/icon-styles/ethnic/classic2/

[2017-02-07 10:29] #326 closed

[2017-02-07 10:42] corradio commented on #213
Closing this. Please re-open if it keeps happening

[2017-02-07 10:42] #213 closed

[2017-02-07 10:43] corradio commented on #261
@brunolajoie can you take a look?

[2017-02-07 18:54] brunolajoie commented on #311
I might sound stupid here, but can't google chrome auto translate the website in any language as it does already for news articles etc..?

[2017-02-07 18:57] corradio commented on #311
It's true but the results are often not good enough. See for example this tweet, where they probably used good translate:
https://twitter.com/Fragren36/status/828895575923949569/photo/1
The translation is ok (apart from the different production modes that don't get translated).
It's also a great way to have the community help and spread the word to the last 10% or so that don't speak english.

[2017-02-07 18:59] Raffox97 commented on #311
And it's also true that some translations are not good because Google
Translate doesn't understand the context of a phrases

Il 7 feb 2017 19:57, "Olivier Corradi" <notifications@github.com> ha
scritto:

[2017-02-07 19:20] martindaniel4 commented on #336
sure I can take that one.

[2017-02-07 21:25] Pantkowsky opened #351 "Unnecessary scroll bar"
The current interface (when using chrome) looks like this:

![untitled](https://cloud.githubusercontent.com/assets/9194725/22712048/b3608b48-ed83-11e6-9367-27824e6ff899.png)

However, the scrollbar is not really necessary, as there is nothing to scroll to. It therefore appears to be a bug.

The situation for IE looks even more confusing, as scrolling is enabled outside of the boundaries of the map

[2017-02-08 10:21] corradio commented on #351
So this is happening on Windows 10 right?
@nikkozzblu do you have the same errors on IE/Chrome?

[2017-02-08 10:22] corradio commented on #311
@Raffox97 we added the translation system and the FR language. Can you help with Italian?

[2017-02-08 10:23] Raffox97 commented on #311
Yes, off course

Il 8 feb 2017 11:22, "Olivier Corradi" <notifications@github.com> ha
scritto:

[2017-02-08 11:01] nikkozzblu commented on #351
Correct, thats why i was refering to it as «tab» look like the early html tab tag :)

Nico Juguet

-------- Mensaje original --------
Asunto: Re: [corradio/electricitymap] Unnecessary scroll bar (#351)
De: Olivier Corradi
Para: corradio/electricitymap
CC: nikkozzblu ,Mention

So this is happening on Windows 10 right?
@nikkozzblu<https://github.com/nikkozzblu> do you have the same errors on IE/Chro

[2017-02-08 11:02] nikkozzblu commented on #351
Overflow-y hidden seems to do the trick, while you dont need overflow

Nico Juguet

-------- Mensaje original --------
Asunto: Re: [corradio/electricitymap] Unnecessary scroll bar (#351)
De: Olivier Corradi
Para: corradio/electricitymap
CC: nikkozzblu ,Mention

So this is happening on Windows 10 right?
@nikkozzblu<https://github.com/nikkozzblu> do you have the same errors on IE/Chrome?

—
You are

[2017-02-08 15:17] corradio commented on #351
@nikkozzblu can you take a look asap? Most of our users are on Windows and I can't reproduce.

[2017-02-08 19:47] nikkozzblu opened #354 "Should cross boundaries exchange be optional layer ?"
It is nice, but the animation make the map very heavy, might be good to have a check box to disable (as wind and solar, enable by default thought)

[2017-02-09 08:46] corradio commented on #354
Yes! @scarlac and me are looking at ways to optimise this, using GIFs for example.
I'm closing this one in favor of #199. If we can't find a way to optimise, we will probably disable animations.

[2017-02-09 08:46] #354 closed

[2017-02-09 08:47] corradio commented on #199
Seems like even CSS transitions are slow on non-SVG elements.
We're looking into a way to add an animated GIF on top of (non-animated) arrows.

[2017-02-09 08:54] A75871 opened #355 "Mozzilla Crash"
Hi,

The problem that I told you on Twiter.
I'm not sure that this upload of files will work. If not tell me by mail and I send them.
PauloJCGFranco@gmail.com

[Uploading Console_Mozilla.txt…]()
![Uploading mozzila.jpg…]()

[2017-02-09 08:56] corradio commented on #355
Hey!

It didn't work. I think you have to wait for the "uploading" message to change into a picture link before you actually send the comment. Can you try again? Or send it to hello@tmrow.co

Thanks!

Oli

[2017-02-09 09:26] nikkozzblu commented on #354
I think it is not only a matter of cpu ressource (for which i am sure gif will do the job). But also from a human being perspective, some might rather look at a static map that make it overall look simpler, so i would still push in favour of a check box control (default checked)

Nico Juguet

-------- Mensaje original --------
Asunto: Re: [corradio/electricitymap] Should cross boundaries exchange

[2017-02-09 09:31] corradio commented on #354
So you're saying there's too much information and that sometimes people
might want to remove arrows?
If we enable it by default I think few people will disable it, so that
might not be the solution.

On Thu, Feb 9, 2017 at 10:26 AM, nikkozzblu <notifications@github.com>
wrote:

[2017-02-09 09:35] nikkozzblu commented on #354
I think we can treat that as solar and wind, ie with cookie saving user settings, just enabled by default... or maybe even not enable by default... this depends on user feedbacks

Nico Juguet

-------- Mensaje original --------
Asunto: Re: [corradio/electricitymap] Should cross boundaries exchange be optional layer ? (#354)
De: Olivier Corradi
Para: corradio/electricitymap
CC: nikkozzblu ,Author

[2017-02-09 09:39] corradio commented on #354
I'll go through user reviews to see if your feeling is confirmed!

On Thu, Feb 9, 2017 at 10:35 AM, nikkozzblu <notifications@github.com>
wrote:

[2017-02-09 09:48] A75871 commented on #355
I send it to the email.
I hope it worked now.

[2017-02-09 12:26] corradio opened #357 "Redraw wind/solar on resize"
..possibly with a debounce

[2017-02-09 17:36] corradio commented on #332
@brunolajoie can you take a look? Someone sent me this datasource:
https://www.iaea.org/pris/

[2017-02-09 21:41] amaurea commented on #218
I can't find the new issue @brunolajoie mentioned on the bugtracker. Do I need to make a new one for this issue not to be forgotten? I think displaying the right source tooltip is important, but not important enough to let that be the bottleneck preventing one from correcting a factor 10 error in emission numbers for hydropower. Together, I think IPCC 2014 and Modahl&Raadal 2015 give a good case f

[2017-02-09 21:58] FerdiEgb opened #359 "Error in hydro production for Belgium"
I suppose that hydro in the production map for Belgium is in fact pumped hydro, thus hydro storage, or do you define that reverse?
Belgium has hardly any dams, seasonal storage is mainly for drinking and industrial water and power production is minimal, but they have a quite large pumped storage at Coo:
https://en.wikipedia.org/wiki/Coo-Trois-Ponts_Hydroelectric_Power_Station
which can deliver abo

[2017-02-09 22:10] corradio commented on #359
@brunolajoie can you help?

[2017-02-10 08:09] FerdiEgb commented on #359
The current definition of hydro and hydro storage is rather ambiguous, maybe better change that to "hydro production", which includes all forms of hydro which directly produce power on its own: dams (seasonal), river discharges, tidal, waves,... and "pumped hydro storage", which delivers power which was stored during low consumption hours and reused...

Of course, that is difficult for dams that d

[2017-02-10 10:09] emillarsen commented on #261
I made a mistake in my data extraction. The 20GW-mismatch for natural gas in Germany is due to planned power plants that got cancelled.

[2017-02-10 13:07] beJels commented on #359
When I consult the data source for Belgian installed capacity (ENTSO-E) it seems to correctly list hydro & hydrostorage separated, namely:

- Hydro Pumped Storage	1308 MWatt
- Hydro Run-of-river and poundage	121 MWatt

Which would change the visualization considerably.

The same holds for other countries having +1GW hydro storage capac.
According to [the wikipedia article](https://en.wikipedia.org

[2017-02-10 13:23] nikkozzblu commented on #359
Hi

Unfortunatly the installed capacity fields given in entsoe doesnt necessarily reflect the actual production feeds.
Take french onshore wind

https://m-transparency.entsoe.eu/generation/r2/installedGenerationCapacityAggregation/show?name=&defaultValue=false&viewType=TABLE&areaType=BZN&atch=false&dateTime.dateTime=01.01.2016+00:00|UTC|YEAR&dateTime.endDateTime=01.01.2018+00:00|UTC|YEAR&area.valu

[2017-02-12 00:11] fedders commented on #347
The Nordic region is split into multiple "[Market Balance Areas](https://emr.entsoe.eu/glossary/bin/view/ENTSO-E+Common+Glossary/Market+Balance+Area)", which should be represented in the map, as these are really the geographical boundaries, by which production, consumption and net-exchange can be determined.

I'd be happy to explain in further detail.

[2017-02-12 01:29] martindaniel4 commented on #336
@corradio - I have started working on this.

It looks like for the price are in the state endpoint.

What do you think is the easiest from the Utils Python functions? I see 3 options:

- Build a `get_state` that would return all data between two dates
- Add a `datetime` parameter to the `/v1/co2` route
- Create an other endpoint `/v1/price` that would return the price ahead per country and datetim

[2017-02-13 08:04] corradio opened #365 "Old prices are shown"
#What
Old prices are shown on the map. For example, click on RO:

![image](https://cloud.githubusercontent.com/assets/1655848/22875332/63a311f6-f1cb-11e6-820c-a88aeff24ae3.png)

cc @martindaniel4

[2017-02-13 08:08] corradio commented on #347
The real question is whether or not we wish to support sub-country data (see #196). It's more accurate, but most "non-experts" will find it confusing. I think we can make it work with some very thin boundaries between zones, and thick boundaries between countries. However, we'd need to find the polygons for each of the zones. If you can help, please comment on #196.

This issue is about whether or

[2017-02-13 08:09] corradio commented on #196
We might instead be interested on doing Market Balance Areas - we just need the polygons to get started.

[2017-02-13 08:26] nikkozzblu commented on #365
Would that be specific to romania ? Price are rejected as in RON but first few timestamps were imported as if it was EUR ?

Nico Juguet

-------- Mensaje original --------
Asunto: [corradio/electricitymap] Old prices are shown (#365)
De: Olivier Corradi
Para: corradio/electricitymap
CC: Subscribed

#What
Old prices are shown on the map. For example, click on RO:

[image]<https://cloud.githubuserco

[2017-02-13 08:29] corradio commented on #365
It's actually old data from before we pushed that fix. But the bug refers to the fact that we shouldn't show data from january on the map! If it's older than 24h it should be ignored.

[2017-02-13 08:31] nikkozzblu commented on #365
Ok

[2017-02-13 08:33] corradio commented on #336
Simplest is to build a `get_states` (plural) in utils. We should also create a `/v1/price` endpoint which should be the same as `/v1/production` with prices instead.

[2017-02-13 11:30] corradio commented on #336
@martindaniel4 I added a `get_state` method that just puts the co2intensity:
https://github.com/corradio/electricitymap/commit/1741c910d450c74546abca442a9ddbff766b9dda

[2017-02-13 12:58] #365 closed

[2017-02-13 13:34] alixunderplatz commented on #278
I did some research on the Estonian electricity production from oil shale, too.
According to a German paper from 2009, this may result in extreme emissions of about 1600 g CO2/kWh. I guess the numbers that are currently used are for combustion of heavy oil or light heating oil.

I have found this number for oil shale in a German report, p. 38:
https://www.bee-ev.de/fileadmin/Publikationen/Studien/

[2017-02-13 15:02] fedders commented on #196
For Denmark it is easy. DK1 is west of "Storebælt", DK2 is east. I believe that Sprogø is DK2. Anholt & Læsø are DK1.
For Norway and Sweden, the best I've got is the following simplistic map:
http://driftsdata.statnett.no/Web/Map/ But then again, I don't think we need to show the zones at a resolution where you can determine at house level where it belongs.

In Germany, there are Control Blocks fo

[2017-02-13 16:13] martindaniel4 commented on #336
v1/price would be ideal.

Do you have an issue for that? I am happy to work on it but I really
struggle in understanding the proper way to query Mongo in js in
database.js :/ Maybe we should schedule some time or work on a readme for
other folks!

On Mon, Feb 13, 2017 at 3:30 AM Olivier Corradi <notifications@github.com>
wrote:

--
Martin DANIEL

@martindaniel4
+ 1 415 910 6340

[2017-02-13 17:48] alixunderplatz commented on #332
As far as I found out, the sum of the actual reported per-unit capacity for Sweden on ENTSOE as for today is 9,100 MW, which restores the current value for 100%, I guess. If you look at ENTSOE ["Installed Capacity Per Production Unit"](https://transparency.entsoe.eu/generation/r2/installedCapacityPerProductionUnit/show?name=&defaultValue=false&viewType=TABLE&areaType=CTA&atch=false&dateTime.dateTi

[2017-02-13 17:51] martindaniel4 opened #368 "[API endpoint] add a /v1/price"
This is following discussion with @corradio in https://github.com/corradio/electricitymap/issues/336

We will need an endpoint `/v1/price` that would require the parameters `countryCode` and `datetime` and return a JSON:

See for reference `/v1/production`:

- `http://electricitymap.org/v1/production?countryCode=FR&datetime=2017-02-01`
- Server - https://github.com/corradio/electricitymap/blob/mas

[2017-02-13 17:51] martindaniel4 commented on #368
@corradio @nikkozzblu - can one of you take that one?

[2017-02-13 19:06] corradio commented on #196
Thanks! We'll take a look at soon as we have time.

On Mon, Feb 13, 2017 at 4:02 PM, fedders <notifications@github.com> wrote:

[2017-02-13 19:07] corradio commented on #336
Actually you just need to duplicate https://github.com/corradio/electricitymap/blob/master/web/server.js#L327 and replace `mongoProductionCollection` by `mongoPriceCollection`. Ping me on slack if you need help!

[2017-02-14 07:10] garciaev commented on #143
Hi -

I am interested in getting the USA on the map. Where do I start?

[2017-02-14 07:18] corradio commented on #143
Hi @garciaev ,

Thanks! First, we need to get data for the boundaries of each ISO, for which we already have production data. Can you help? I didn't succeed in finding geoJSON or shapefiles..

[2017-02-14 10:44] corradio opened #370 "Add New Zealand"
Data is available here: https://www.transpower.co.nz/power-system-live-data

[2017-02-14 11:03] jacobbaratta opened #371 "[Idea] Display aggregated total imports/exports and (maybe) net energy flow"
Right now when you select a country there's a listing of countries importing/exporting energy into or out of the country that's selected, shown as positive/negative bars on the bar graph. My suggestion is to add three more bars to the graph - a "total imports" bar (self explanatory), a "total exports" bar (self explanatory), and (maybe) a "total net energy flow" bar (the name is a bit clunky so ma

[2017-02-14 12:06] Martin281 opened #372 "Capacities of CZ, DE, Montenegro, Serbia"
Hallo, at first I would like to thank you for creation of such a wonderful tool as an online actual electriity map. It is great for comparison of the power systems of the countries.
My Issue: As a citizen of Czech Republic I have double checked the info about it in your system:
I found out the wrong data about total output of power plants in this country, the corect ones are (based on the 2014 ann

[2017-02-14 13:15] corradio commented on #182
A quick win is to add an alternative scale with a toggle.
https://twitter.com/ed_hawkins/status/831477129279832064

[2017-02-14 14:51] corradio commented on #372
Hi @Martin281 ,

Thanks for the issue. Are you talking about production capacities of each production mode?
Can you send us a link to the documentation you are referring to?

Thanks!

[2017-02-14 15:10] Martin281 commented on #372
Hi Olivier,
I foud out some new data..so sending the link to the 2015 annual report of this office in english: download here: http://www.uschovna.cz/en/zasilka/LI3CEN27SRWRBTPN-SNX/MAZ28SC3DC

Sincerely
Martin

      From: Olivier Corradi <notifications@github.com>
 To: corradio/electricitymap <electricitymap@noreply.github.com>
Cc: Martin281 <martin_dohnal@yahoo.com>; Mention <mention@noreply.git

[2017-02-14 20:33] corradio opened #375 "Import color is wrong"
![image](https://cloud.githubusercontent.com/assets/1655848/22947975/29e4cc88-f2fd-11e6-91c5-6297cca347a4.png)

[2017-02-15 05:52] garciaev commented on #143
OK just to be sure, we basically need geoJSON or shape files that have boundaries for the American ISOs here: http://www.isorto.org/about/default

Correct? I am currently searching for the California ISO boundary map.

[2017-02-15 08:05] corradio commented on #143
That's right!

On Wed, Feb 15, 2017 at 6:52 AM, Victor Garcia <notifications@github.com>
wrote:

[2017-02-15 08:19] corradio commented on #375
Actually it's the proper color, it is rather that tooltips are not updated when we explore the past.

[2017-02-15 08:49] #375 closed

[2017-02-15 09:35] corradio commented on #372
Thanks!

[2017-02-15 10:06] corradio opened #376 "Vote for your next country!"
We could display an interface on the map where people can vote for the next country to be added to the map. This would allow us to pressure TSOs into delivering data.

[2017-02-15 15:04] corradio commented on #182
Using colorblind-friendly colorscales from https://bids.github.io/colormap/, implemented at https://github.com/d3/d3-scale#interpolateViridis

# Inferno
![image](https://cloud.githubusercontent.com/assets/1655848/22979783/d65609f6-f397-11e6-93ee-16e9ce3c8f24.png)
# Magma
![image](https://cloud.githubusercontent.com/assets/1655848/22979810/f05d6e16-f397-11e6-934f-853b521b74b1.png)
# Plasma
![image]

[2017-02-15 15:07] Martin281 commented on #372
Hi Olivier,
I was looking for german annual report and here is it (in german language): https://www.bundesnetzagentur.de/SharedDocs/Downloads/DE/Sachgebiete/Energie/Unternehmen_Institutionen/DatenaustauschUndMonitoring/Monitoring/Monitoringbericht2016.pdf?__blob=publicationFile&v=2

The most important is page number 45 with all the capacities according to the type of fuel (mode) of energy generati

[2017-02-15 16:57] corradio commented on #372
Thanks,

@brunolajoie can you double check the capacities for DE?
Here's the relevant page:

![image](https://cloud.githubusercontent.com/assets/1655848/22985242/30cfa8e6-f3a8-11e6-9490-7b44f4e56072.png)

[2017-02-15 17:10] corradio commented on #359
FYI We're planning on fixing this by changing the way hydro will work. More info later.

[2017-02-15 17:11] alixunderplatz commented on #372
Hi @corradio and @Martin281
I think regarding Germany, the aggregated data from [energy-charts/Fraunhofer](https://energy-charts.de/power_inst.htm) represent the most recent numbers.
Especially wind energy installations were high in 2016 and are included in their data, already. The chart above however shows installation capacity for the end of 2015. Not much has changed for conventional energy, th

[2017-02-15 17:11] corradio commented on #218
I'm re-opening because it could make sense to use 1.9 g/kWh for all of Europe. @brunolajoie ?

[2017-02-15 17:59] corradio opened #377 "Can't select country on iPad"
Device: iPad Air 2

[2017-02-15 21:12] Martin281 commented on #372
ok, I think Germans are very accurate in statistics, so I think your data are up-to-date:o)
Sincerely

Martin

      From: Alex <notifications@github.com>
 To: corradio/electricitymap <electricitymap@noreply.github.com>
Cc: Martin281 <martin_dohnal@yahoo.com>; Mention <mention@noreply.github.com>
 Sent: Wednesday, February 15, 2017 6:11 PM
 Subject: Re: [corradio/electricitymap] CZ & DE Capacities

[2017-02-16 08:39] corradio commented on #372
Indeed! I didn't see the 2016 numbers are out. @brunolajoie can you update capacities with those?

[2017-02-16 09:07] corradio opened #378 "Add Australia"
Some links:
- http://www.nem-watch.info/widgets/RenewEconomy/
- http://nemweb.com.au/REPORTS/CURRENT/
- http://reneweconomy.com.au/nem-watch/
- http://services.aremi.nationalmap.gov.au/aemo/v3/csv/all

[2017-02-16 13:19] alixunderplatz commented on #319
Hey @corradio
I can provide some help at least for data sources of the cross-border exchange capacities. As a student I've been working for a German grid operator, that's why I am a bit familiar with the topic and the difficulties.
I found some numbers for central europe. Actually cross border capacities are a really complex issue.
The values below show net transfer capacities (NTC) between the co

[2017-02-16 14:13] Martin281 commented on #372
Hi Olivier,
I saw you have a lot of question-marks at the production capacities in the balkan countries...so to eliminate them..sending you the link to 2015 Annual report for Serbia..the only major discrepancy is in the total output of coal power plants..since the plants at the Kosovo area no longer belong to Serbia..here is the link: http://www.eps.rs/Eng/Tehnicki%20Izvestaji/TEHNICKI%20GODISNJAK

[2017-02-16 14:37] corradio commented on #372
Thanks Martin.
Are you able to make a pull request with the required changes? I'm quite
busy and I won't have time to look at this :(

On Thu, Feb 16, 2017 at 3:13 PM, Martin281 <notifications@github.com> wrote:

[2017-02-16 15:32] Martin281 commented on #372
OK,

Serbia:

coal power plants (TPP) :total power output 4,032GW
hydro power plants: total output 2,936GW
compined heat and power plants: total output 336MW
other kinds of power production are not used

Montenegro:

coal power plants (TPP) :total power output 218,5MW
hydro power plants: total output 649MW
other kinds of power production are not used

Sicerely

Martin

[2017-02-17 02:50] jacobbaratta commented on #143
http://www.eia.gov/beta/realtime_grid/ has two vector graphics that may be convertible with some work. I ripped the simpler vector graphic into a standalone svg, but I have zero experience with GIS and my short foray into investigating the feasibility of converting the SVG indicated that while it's probably possible, it's too complicated for a complete novice like me to attempt. I've attached the

[2017-02-17 10:07] alixunderplatz commented on #319
A way to solve this a bit easier might be to only look on countries that are connected via **DC**-connections **exclusively.**
I checked the connections (no additional AC between the countries, only DC) on this map:
https://www.entsoe.eu/map/Pages/default.aspx

Capacities for these cables/power lines are accessible on wikipedia.
[Finnland-Estonia “Estlink 1&2”: 950 MW](https://en.wikipedia.org/wik

[2017-02-17 12:06] greennuts commented on #278
1600g/kWh is nearly close to what I calculated in https://github.com/corradio/electricitymap/issues/294 from this study http://www.easac.eu/fileadmin/PDF_s/reports_statements/Study.pdf
So I don't think it will get greener. Sorry Estonia, you are the new black hole in Europe :)

[2017-02-17 12:24] brunolajoie commented on #332
Thanks a lot for this insight! I've double cheked this, and ENSTOE data is more up to date than iaea.org, especially the capacity per production unit indeed, for nuclear. Have fixed it in #380. However, ENSTOSE capacities per unit does not work for hydro or distributed wind & solar for instance. So, a manual check is always required.

[2017-02-17 12:24] #332 closed

[2017-02-17 12:31] alixunderplatz commented on #162
Hello @brunolajoie @ThierryOllivero @corradio ,
I'd like to encourage the idea of splitting hard coal and lignite emissions.

Actually here is my issue:
I think IPCC actually is nowhere near a "neutral" institution.
The authors of [the study dealing with the specific emissions](https://www.ipcc.ch/pdf/assessment-report/ar5/wg3/ipcc_wg3_ar5_annex-iii.pdf) are credible and reputable researchers in t

[2017-02-17 15:53] brunolajoie commented on #278
Thanks a lot guys,

So, if i may summarize what we have:

- 1600gCO2eq/kWh electric, reduced to 1000 with new boiler, with LCA analysis from EASAC "A study on the EU oil shale industry – viewed in the light of the Estonian experience",

- 1300gCO2/kWh (CO2 only, no LCA) for old boiler, 1050 for new boilers
(source: TTU LCA of the Estonian Oil Shale Industry, page 46)

- 1100gCO2/kWh for CO2 only,

[2017-02-17 16:59] brunolajoie commented on #372
Thanks guys!
I've updated the code in #381
I've used ENSTOE data (for consistency) when data looked correct, and your reports when they were better!
Don't hesitate to criticize!
Bruno

[2017-02-17 18:08] zeynepnaz opened #382 "Add Russia"
Real time export-import data for Russia can be found under the following link.

http://www.statnett.no/en/Market-and-operations/

[2017-02-17 18:15] corradio commented on #382
Hi @zeynepnaz ,

Indeed, but aren't they already on the map?

![image](https://cloud.githubusercontent.com/assets/1655848/23077576/6dbb342a-f545-11e6-8e63-33cb4cb8af2a.png)

[2017-02-17 18:19] corradio commented on #372
Re-opening because the PR hasn't been merged yet

[2017-02-17 18:27] corradio commented on #319
Thanks! @brunolajoie if you believe the data is solid enough we can plan to make the required changes. Let me know what you think

[2017-02-17 18:30] corradio commented on #371
Hi @jacobbaratta
Good point. We've already discussed this internally. Unfortunately it would be hard visually to understand that some bars are the sum of others.
I'll keep your suggestion in mind however, in case I find a nice solution.

[2017-02-17 18:30] #371 closed

[2017-02-17 18:30] garciaev commented on #143
Hmm... not sure those EIA regions are the same as ISO member boundaries here? http://www.isorto.org/about/default

I think I am just gonna call the customer service and see if they can forward me to someone who can provide us with the boundary files.

[2017-02-17 19:20] zeynepnaz commented on #382
There is no data in the version of map I am looking at.

[2017-02-17 19:51] corradio commented on #382
Can you post a screenshot? And maybe the output of the developer console?

On Fri, Feb 17, 2017 at 8:20 PM, zeynepnaz <notifications@github.com> wrote:

[2017-02-17 20:14] zeynepnaz commented on #382
I couldn't download the docker on my computer, probably because of this I can't see the latest version.
Sorry my mistake. I will close the issue.

[2017-02-17 20:22] #382 closed

[2017-02-18 09:31] corradio commented on #382
@zeynepnaz you need an ENTSOE token if you want to see the data.
Alternatively, when running locally, you can use remote data by doing http://localhost:8000/?remote=true

[2017-02-18 17:49] alixunderplatz opened #383 "Fluctuating Austrian electricity production"
There seems to be another problem with Austrian data besides #325
I think both are not related, though.

Take a look at the specific CO2 level. During night-time, it is rather flat, but during the day it sometimes shows strong deviations in 30 minute intervals. Something like this appears in no other county. At the same time, the levels of water, gas and coal seem to be going up and down extremely

[2017-02-18 17:53] ThierryOllivero commented on #383
Hello Alex. We are now using ENTSO-E for Austria. And I noticed this sinusoidal behavior for AT.

@corradio : any idea?

[2017-02-18 17:59] corradio commented on #383
In order to double check we would have to extract some data using the datascience functions we made. @martindaniel4 or @brunolajoie are you able to help here?
Also I would check the ENTSOE data on their website to be absolutely sure. @alixunderplatz how did you do the analysis of the ENTSOE data? How did you obtain it?
Also, this could be explained by https://github.com/corradio/electricitymap/iss

[2017-02-18 19:21] alixunderplatz commented on #383
@corradio I copied the 15min data for yesterday and the hours that were available today from a chart at the entsoe website and quickly put it in excel to check it. The "water" graph in my image above is a sum of pumped storage, run of river and water reservoir (without consumption).

It would be interesting to check the entso-e data every minute to see if there is an anomaly similar to the APG dat

[2017-02-19 23:48] jacobbaratta commented on #143
Hmm, apparently part of the issue is that the EIA calculates their regions slightly differently from the ISOs, leading to excessive fuzziness. http://www.eia.gov/beta/realtime_grid/#/status makes this clearer (in the site but not so much the graphic). I wonder if we could just pull the data from the EIA API and use their borders? It would probably provide superior coverage of the US, although it l

[2017-02-19 23:50] jacobbaratta commented on #371
@corradio Aren't text descriptions saying "Total imports:" and "Total exports:" pretty self-explanatory (especially since they'd lack the country flags)?

[2017-02-20 07:20] corradio commented on #371
You're right, but that would also warrant adding "Total production" (so we're talking about 3 lines). I believe those numbers are not relevant for most of the visitors (who are not experts), and might clutter the view and weaken the value for non-experts.
We could think of adding it in the tooltip though.

[2017-02-20 08:31] nikkozzblu commented on #371
Couldn t we just stack the bars that are currently displayed? With some colors by country it can do the job

Nico Juguet

-------- Mensaje original --------
Asunto: Re: [corradio/electricitymap] [Idea] Display aggregated total imports/exports and (maybe) net energy flow (#371)
De: Olivier Corradi
Para: corradio/electricitymap
CC: Subscribed

Hi @jacobbaratta<https://github.com/jacobbaratta>
Good p

[2017-02-20 08:40] corradio commented on #371
Good idea! But I can't see how you would show which country corresponds to which portion of the bar if they are colored by co2? There might not be room for a label unfortunately.

[2017-02-20 08:49] nikkozzblu commented on #371
Wider bars with flags inside ?
Or flags above ?

Nico Juguet

-------- Mensaje original --------
Asunto: Re: [corradio/electricitymap] [Idea] Display aggregated total imports/exports and (maybe) net energy flow (#371)
De: Olivier Corradi
Para: corradio/electricitymap
CC: nikkozzblu ,Comment

Good idea! But I can't see how you would show which country corresponds to which portion of the bar if they

[2017-02-20 08:53] corradio commented on #371
If you make bars wider you lose the ability to compare them to production.
If you add flags above, how do you visually link them to the (potentially
much smaller) bars?

On Mon, Feb 20, 2017 at 9:49 AM, nikkozzblu <notifications@github.com>
wrote:

[2017-02-20 13:27] alixunderplatz opened #384 "Update Lithuanian RES capacities"
I just saw that Lithuanian wind generation was 113% of installed capacity.
I could find some fresh data (18th January 2017) here:
https://enmin.lrv.lt/en/sectoral-policy/renewable-energy-sources

So these could be updated:
Solar: 73 MW
Wind: 499 MW
Biomass: 100 MW

Greetings, Alex

[2017-02-20 19:30] jacobbaratta commented on #143
I have crude (some annoying alignment issues with borders that can be obscured via thick borders) shapefiles (as individual outlines of regions) for MISO (this one is technically two shapefiles and I followed the coverage indicated on the MISO site for the Manitoba MISO shapefile, which is apparently only a small part of Manitoba rather than the entire province (not sure why but I'm not arguing wi

[2017-02-20 21:25] martindaniel4 commented on #368
Fixed in #369

[2017-02-20 21:25] #368 closed

[2017-02-21 15:10] #336 closed

[2017-02-22 09:23] FlorentVTT commented on #196
For France there is a problem  the production by area, is not detailed for "Thermical" (includes coal, gas, fioul).
Other electricity sources are detailed.

How to calculate CO2 ? How to display ?
Example : http://eco2mix.rte-france.com/download/eco2mix/eCO2mix_RTE_PACA_En-cours-TR.zip

[2017-02-22 09:58] fedders commented on #196
You could / should use the data from the transparency platform instead. "Actual aggregated generation per type", there production is split by:

  *   B19 - Wind Onshore
  *   B10 - Hydro Pumped Storage
  *   B01 - Biomass
  *   B17 - Waste
  *   B14 - Nuclear
  *   B12 - Hydro Water Reservoir
  *   B04 - Fossil Gas
  *   B11 - Hydro Run-of-river and poundage
  *   B16 - Solar
  *   B06 - Fossil Oi

[2017-02-22 10:44] FlorentVTT commented on #196
Are you sure ENTSOE API give you details per (French) "region" ?
For sure it would be great.

RTE API does, exemple for "Provence Alpes Cote d'Azur".
http://eco2mix.rte-france.com/download/eco2mix/eCO2mix_RTE_PACA_En-cours-TR.zip with the limitation i gave.

[2017-02-22 11:05] fedders commented on #196
No. The lowest granularity of the Transparency portal is "Bidding Zone" or "Market Balance Area". As there is only one of those in France, you are right.

________________________________
Fra: Florent Coste <notifications@github.com>
Sendt: 22. februar 2017 11:44
Til: corradio/electricitymap
Cc: fedders; Comment
Emne: Re: [corradio/electricitymap] Sub-country CO2 calculations (#196)

Are you sure

[2017-02-22 15:17] F041 opened #386 "Costo €/MWh Italia"
http://www.mercatoelettrico.org/it/

[2017-02-23 13:04] Pauladdenda opened #388 "% fossil energy"
The percentage of fossil energy should not include imports? Currently it is based on domestic production.

![image](https://cloud.githubusercontent.com/assets/25981441/23260137/b5b39440-f9d0-11e6-821a-5d1a88161d50.png)

[2017-02-23 13:53] corradio opened #389 "Flags in country panel are not shown in Firefox"

[2017-02-23 13:54] corradio commented on #388
That's true.
@brunolajoie what do you think? Taking into account imports is complicating the matter, because imported power can be imported from the current country, so we need to solve a linear problem almost equivalent to the CO2 one, just with % fossil fuels instead of CO2.

[2017-02-23 13:57] corradio commented on #386
Hi @F041,

I'm not fluent in Italian. Can you give some background?
Italy seems to have many different zones with different prices:
https://transparency.entsoe.eu/transmission-domain/r2/dayAheadPrices/show?name=&defaultValue=false&viewType=TABLE&areaType=BZN&atch=false&dateTime.dateTime=23.02.2017+00:00|CET|DAY&biddingZone.values=CTY|10YIT-GRTN-----B!BZN|10Y1001A1001A699&dateTime.timezone=CET_CEST

[2017-02-23 14:44] F041 commented on #386
I think the chart includes an average

[2017-02-23 14:52] corradio commented on #386
OK then this issue is a duplicate of https://github.com/corradio/electricitymap/issues/347

[2017-02-23 14:52] #386 closed

[2017-02-23 15:28] brunolajoie commented on #388
Nice catch@Pauladdenda ! I think, given the importance of this percentage, which for many speaks more than gCO2/kWh, that we should include this correction to our code. It is indeed a 100% strictly similar calculation process than that of CO2 intensity!

[2017-02-23 15:40] Pauladdenda commented on #388
To solve your equation problems, it may be possible to ignore imports in your calculations (CO2 and%) for countries where the impact is very low. (I.e if the import is less than 5% of total production).
This will set some values to deduce the others. There will be a total mistake but will remain limited and lower than currently.

[2017-02-23 15:42] brunolajoie commented on #388
The same remark would hold true for the CO2 intensity in gCO2/kWh as well, but we calculate it exactly. The easiest way for %fossil is to dupicate & adapt the CO2 intenstity calculation code.

[2017-02-23 15:59] Pauladdenda commented on #388
Pour parler au plus grand nombre (je ne sais pas si le but), afficher le pourcentage de renouvelable peut également être intéressant.
Les deux pourcentages ne feraient pas 100% : la différence représenterez les non renouvelable, non fossile : nucléaire et pompage principalement.

Actuellement, un non-initié va par exemple déduire que comme il y actuellement 14% de fossile en France les 86% restant

[2017-02-24 09:34] Maverick78de opened #390 "Invalid capacities for Germany"
The data of max installed power capacities in Germany is wrong.

The maximum capacities are:
wind (onshore): 45.51GW
wind (offshore): 4.13GW
water: 5.59GW and not 12.9GW
biomass: 7.06GW
nuclear: 10.8GW
coal: 49.28GW
gas: 28.27GW
oil: 4.19GW
solar: 40.85GW

Source: BMWi and Bundesnetzagentur for year 2016
e.g. https://www.bundesnetzagentur.de/DE/Sachgebiete/ElektrizitaetundGas/Unternehmen_Instituti

[2017-02-24 12:22] corradio commented on #390
@brunolajoie can you take a look?

[2017-02-24 12:22] corradio commented on #384
@brunolajoie can you take a look?

[2017-02-25 09:55] corradio opened #391 "Map is too dark"

[2017-02-26 10:46] nikkozzblu commented on #311
Closing that one ? Since we can open smaller/more specific issues for improvement/specific languages etc...

[2017-02-26 10:46] #311 closed

[2017-02-26 15:25] corradio commented on #311
Indeed, thanks!

On 26 Feb 2017, 11:46 +0100, nikkozzblu <notifications@github.com>, wrote:

[2017-02-26 18:49] alixunderplatz opened #393 "Peat combustion in Finland and Ireland / total gCO2eq/kWh 25-30% worse"
Hello once again,
I had a look on the ENTSO-E data regarding Finnish and Irish electricity production.

They both have a significant number of **peat power plants** installed. And peat (together with Estonian oil shale ;) ) is even worse than coal when it comes to climate impact.
Currently on the map, the electricity generation from peat in Finland and Ireland seems to be contained in biomass with

[2017-02-27 15:00] corradio commented on #388
I'm pushing a fix now:

Before:

![image](https://cloud.githubusercontent.com/assets/1655848/23366084/bff653a6-fd05-11e6-89af-eda8adefdbd1.png)

After:

![image](https://cloud.githubusercontent.com/assets/1655848/23366051/ac6f8bb8-fd05-11e6-978f-005834c89464.png)

[2017-02-27 15:01] #388 closed

[2017-02-27 15:52] corradio commented on #393
Thanks Alex for this very interesting issue. @brunolajoie what is your take on this?
We definitely didn't use enough time to think about that.

[2017-02-27 16:10] corradio commented on #383
I will take a look at this but because we use ENTSOE data, I'm not sure I understand exactly why this is happening.

The weird thing is that I observe oscillations because "unknown" production is fluctuating between 0 and some value (and hydro also), whereas on ENTSOE I don't see those oscillations [1].

However it could be that ENTSOE corrects some of its past data, which would explain the discre

[2017-02-28 08:12] corradio commented on #383
Taken at 08:19 UTC+1

![image](https://cloud.githubusercontent.com/assets/1655848/23395402/a96a1e54-fd8e-11e6-8d28-1634b44b8f7a.png)
Values for 07:00 and 07:15 are < 800MW

Taken at 09:12 UTC+1:
![image](https://cloud.githubusercontent.com/assets/1655848/23396842/084f42d0-fd96-11e6-8018-219104776efb.png)
Previous values at 07:00 and 07:15 have been corrected.

Conclusion: values of the past are up

[2017-02-28 14:54] brunolajoie commented on #393
Thanks Alex,

If ENTSOE list is as "Fossil peat", then we have all reason to believe that it's actually not renewable fast enough indeed. Let me investigate this a bit based on your post and come back to you with a practical suggestion. I am curious in articular about how this "fossil peat" is legally accounted as per EU or UN official GHG accountings.

[2017-02-28 14:57] #372 closed

[2017-02-28 15:00] corradio opened #395 "Add proper production intensity source on tooltip"

[2017-02-28 15:31] corradio commented on #143
Hi @jacobbaratta,

Sorry for my late reply, and thanks so much for the work here. It is very appreciated.
I've been fooling around with those things myself, and I'd say that any solution that approximates reality well enough is good to start with.
Basically, here's the ISOs for which we have production data for, and for which we need the corresponding boundaries: https://pyiso.readthedocs.io/en/la

[2017-02-28 16:31] bikiniweekend opened #397 "Favicon and App icon for electricitymap"
Hi all.

We can share in this task different designs for favicon (browser icon when you add the webpage to favourites) and app icon. The final design will require different sizes, but for now it is enough with a small design (64x64 for example). Remeber using photoshop or similar to be able to edit it later and apply different sizes to the icon.

Feel free to discuss and contribute with designs or

[2017-02-28 16:31] bikiniweekend commented on #397
Here my design:
![electricy_map_icon](https://cloud.githubusercontent.com/assets/25708827/23414302/bc8722aa-fddb-11e6-8e01-96ade6b006d1.png)

[2017-02-28 18:42] #383 closed

[2017-02-28 19:30] #395 closed

[2017-02-28 19:31] #376 closed

[2017-02-28 19:32] corradio commented on #355
Closing this one as we have no news. Please comment and we will re-open to investigate!

[2017-02-28 19:32] #355 closed

[2017-02-28 19:33] #278 closed

[2017-02-28 20:13] corradio commented on #277
Further info: it doesn't seem to be a projection problem, because when the window is big enough, particles are properly getting through. It seems to be an issue when the window because so small that the resolution becomes insufficient.

[2017-02-28 20:14] corradio commented on #265
Closing this one because I think we have most of the stuff we need!

[2017-02-28 20:14] #265 closed

[2017-02-28 20:16] corradio commented on #218
@brunolajoie can you fix this one? Now we have the capability of using per-country emissions, so this should help!

[2017-03-01 08:59] corradio commented on #83
I'm closing this because this is an advanced feature for which we don't have the resources to execute on

[2017-03-01 09:00] corradio commented on #156
Let's re-open if this becomes relevant again

[2017-03-01 09:00] #156 closed

[2017-03-01 09:00] corradio commented on #163
Not applicable anymore

[2017-03-01 09:00] #163 closed

[2017-03-01 09:01] #178 closed

[2017-03-01 09:10] corradio commented on #317
@nikkozzblu do you have time to help here?

[2017-03-01 11:10] jacobbaratta commented on #143
Okay so I need to redo the ERCOT border first and foremost...

I looked into the feasibility of adding BPA and/or NVEnergy since they are on the pyiso list. Unfortunately there is no good map for BPA (maps exist but they're too fragmented to use), so that will need to be shelved indefinitely.

NVEnergy appears to be generalizable to the whole state of Nevada, so I could likely just manually trace

[2017-03-01 11:12] nikkozzblu commented on #317
Hi, unfortunately not in the coming days, i will try to take a look this week end but can t promise anything

Nico Juguet

-------- Mensaje original --------
Asunto: Re: [corradio/electricitymap] Support prices which are fetched in different currencies (#317)
De: Olivier Corradi
Para: corradio/electricitymap
CC: nikkozzblu ,Mention

@nikkozzblu<https://github.com/nikkozzblu> do you have time to he

[2017-03-01 12:40] corradio commented on #317
ok - no worries

On Wed, Mar 1, 2017 at 12:12 PM, nikkozzblu <notifications@github.com>
wrote:

[2017-03-01 12:43] corradio commented on #143
Sounds good! Let's discuss on Slack the smaller details. Let's start small (maybe with only one ISO to begin with) and then we can extend slowly, instead of taking a mouthful too big :)

Olivier

[2017-03-01 14:05] #182 closed

[2017-03-01 18:14] brunolajoie opened #399 "Adatative scale for CO2 intensity when above 800"
When the CO2 intensity  signal is above 800g/kWh, the 24h chart does not display the signal. We need to adjust the scale automatically (only when the signal goes above 800)

![image](https://cloud.githubusercontent.com/assets/22095643/23474014/95f58d48-feb2-11e6-9359-f20bd0b3b6ac.png)

[2017-03-02 11:33] #399 closed

[2017-03-02 14:19] brunolajoie commented on #218
Yes, the code structure now allows to fix this.
I agree we should use 1.9g/kWh for Norway. I don't think we can extrapolate to the whole EU without sci paper backing this assumption though

[2017-03-02 14:47] brunolajoie commented on #218
Thanks Amuera, i will update the figure for Norway now that the code allows it.

Although I agree with your commentary about Alpine conditions, but i'm not so sure to take the risk to generalize to other countries without having studies to back them up.  What do you think @corradio

[2017-03-02 16:19] brunolajoie commented on #390
Hello Maverick, thanks for your comment.

According to me, our data on the electricitymap matches the one you just wrote. Where did you see 12.9GW of hydro capacity? I read 5.59 on our map. Feel free to re-open if you still think there is a mistake on our side.

Best,
Bruno

[2017-03-02 16:19] #390 closed

[2017-03-02 16:25] corradio commented on #218
I don't have a strong opinion on that one. If the paper is applicable to Europe, then let's use it. Else, let's restrict to Norway, but let's keep in mind that there might be biases if a country makes some analysis only applicable for themselves.
I trust your judgment @brunolajoie

[2017-03-03 01:43] kristjanbb commented on #140
Hey @brunolajoie

The issue isn't with the API being incorrect, but the interpretation is incorrect. These numbers do not represent power from plants, but rather these numbers almost all (others data points being total and intersects) represent transmission lines connecting adjacent substations.

You can see how the data is used here: http://landsnet.is/raforkukerfid/kerfisstjornun/aflflutningurnu

[2017-03-03 07:30] corradio commented on #140
Thanks @kristjanbb for the clarification.
Do you know if / how we can get a real-time API in order to show Iceland on our map?

[2017-03-03 08:57] brunolajoie commented on #140
Ahhhh that why! Thanks for the clarification! As for your two workaround options:
- Your suggested option 1 is unfortunately not a viable option for us, we prefer a lack of data than estimated data, in order to keep pushing TSO to disclose their their data.
- Unfortunately, we lack a bit of time to go deeper into option 2 by ourselve right now. If you are willing to help build a valid parser and c

[2017-03-03 10:08] jacobbaratta commented on #143
The first attached zipfile contains shapefiles for ERCOT (based on EIA map), ISO-NE (based on EIA map), MISO (based on EIA map), NYISO (based on EIA map), PJM (based on EIA map), SWPP (based on EIA map), MISO_CA (the part of MISO that's in Manitoba - not based on EIA map (based on MISO's map)), and NVEnergy (I just manually traced the entirety of Nevada - it isn't 100% accurate but it's close enou

[2017-03-03 11:29] birkir commented on #140
Hi guys, I have not found the time to convert it to python, and make adjustments based on peoples great answers in this thread!

If we can decide on going for option two (which is pretty much the same as I did in JS, with small adjustments), we should go forward with it.

[2017-03-03 15:04] brunolajoie commented on #218
I have updated Norway, but will keep other countries like this until we got a better vision.
There is no rush as 2 or 20 does not make a big difference compared with 500-1000 of fossil fuels.
Thanks

[2017-03-03 15:22] kristjanbb commented on #140
No sorry @corradio I don't know of any other API public, but I did send an inquiry to Landsnet about this. They might not have all the information reliably broken down since they run the high voltage transmission grid, not production.

[2017-03-03 15:49] cionetto opened #402 "Net imported/exported power addition"
Hello everyone,
how about adding for each country the net balance between imported and exported power?
E.g. UK is importing 2.05 GW from France, 1.01 GW from Netherlands and it's selling 172 MW to Northern Ireland and 232 MW to Ireland. Thus:
Total Import: 3.06 GW
Total Export: 0.404 GW
Net Import/Export: +2.656 GW

[2017-03-03 21:08] jacobbaratta commented on #143
Conclusions regarding inaccuracy with my projections:
* Inaccuracy comes from a lot of sources
* Much of the inaccuracy is unavoidable. My base dataset is one of the EIA's SVGs, which had to be cleaned up, converted, opened in Illustrator, cleaned up again, then processed to extract every relevant (now wireframe) region of interest, each of which was multiplied by a fixed scaling factor, roughly c

[2017-03-04 09:39] corradio commented on #402
I think we discussed it here: https://github.com/corradio/electricitymap/issues/371
Feel free to re-open if the answer is not satisfactory.

[2017-03-04 09:39] #402 closed

[2017-03-04 12:56] corradio commented on #143
Hi @jacobbaratta,

Thanks for the tremendous effort. I'm currently working on making a mobile version of the map, but once I get a bit more time I'll try to see if I can integrate your shapefiles. If anyone wants to give a go at integrating the shapefiles into the map, please reach out on Slack and I can help get you started.

Hopefully this will work!

[2017-03-05 10:17] #384 closed

[2017-03-05 14:16] #218 closed

[2017-03-06 08:36] scarlac commented on #199
For anyone interested: (Looping) Animations in SVG are very CPU intensive. This is both the case for SVG animations as well as SVG with CSS animations. Tried removing the gradient, using static images instead of linear-gradient, placing animations in separate <svg> but nothing worked. Having just a few would be okay but we have ~50 arrows so our solution was to generate GIF images using imagemagic

[2017-03-06 08:40] nikkozzblu commented on #199
Icons set is definetly the way to go. Nice job Seph !!

Nico Juguet

-------- Mensaje original --------
Asunto: Re: [corradio/electricitymap] Arrow animations are CPU intensive (#199)
De: Seph Soliman
Para: corradio/electricitymap
CC: Subscribed

For anyone interested: (Looping) Animations in SVG are very CPU intensive. This is both the case for SVG animations as well as SVG with CSS animations. T

[2017-03-06 13:10] greennuts commented on #321
If you manage to get data and make separate tie-line data for RUS (Kaliningrad) to LT, then CO2/kWh can be used gas, as there only electricity source for now is gas

[2017-03-06 15:07] Pedlf opened #404 "Error % combustibles fosiles"
El dato del % de consumo de combustibles fósiles es erróneo porque la energía nuclear es un combustible fósil, y no queda reflejado en el %, contando como renovable que no es.

[2017-03-06 15:08] #404 closed

[2017-03-06 15:11] nikkozzblu commented on #404
La fuente de nuclear es un mineral, no es fossil...

Tiene razón en lo que no es renovable, pero no creo que aparece como renovable en cualquiera parte del sitio

Nico Juguet

-------- Mensaje original --------
Asunto: [corradio/electricitymap] Error % combustibles fosiles (#404)
De: Pedlf
Para: corradio/electricitymap
CC: Subscribed

El dato del % de consumo de combustibles fósiles es erróneo por

[2017-03-06 15:12] ThierryOllivero commented on #404
Hola Pedfl,

La definicion de "Energia fosil" es "aquella que procede de la biomasa producida hace millones de años que pasó por grandes procesos de transformación hasta la formación de sustancias de gran contenido energético como el carbón, el petróleo, o el gas natural, etc"

Entonces la energia nuclear no es una energia fosil (gas, petroleo, carbon) y no es una energia renovable (eólica, geotér

[2017-03-06 19:26] rustyb commented on #321
@corradio Thanks for letting us know, will forward onto my colleagues to investigate.

[2017-03-07 11:44] YANNCHAUSS opened #405 "A best comparison"
Hello,
it could be interresting to have the total product of electricity for each state ( at the instant ou for the current day)
Sorry for my poor english
Thank you
Yann CHAUSSAVOINE

[2017-03-07 19:03] corradio commented on #405
Bonjour Yann,

Parlez-vous d'avoir la production totale d'électricité par pays?

Olivier

[2017-03-07 19:54] Lancimatore opened #406 "Summation for Europe"
I think it would be really interesting if there would be an option to see all of the production and capacity of Europe. Just like by the countries but for whole Europe.

[2017-03-08 07:05] YANNCHAUSS commented on #405
Bonjour
Oui le total  instantan&eacute; ou le total sur 24H. Ou bien le total par habitant du pays
Il me semble que si ce chiffre apparait de fa&ccedil;on tr&egrave;s visible, il ajoute le poids de l'&eacute;lectricit&eacute; par rapport aux autres &eacute;nergies qui sont toutes fossiles
Cordialement
YC

----- Mail d'origine -----De: Olivier Corradi <notifications@github.com>&Agrave;: corradio/el

[2017-03-08 08:48] corradio commented on #78
There's hope:
https://twitter.com/FlorenceKofi/status/839133868322062336

[2017-03-08 15:50] #270 closed

[2017-03-08 15:51] corradio opened #407 "Zooming in shouldn't change arrow sizes"

[2017-03-08 16:07] corradio opened #408 "Resizing map does not resize canvas & arrows"

[2017-03-08 16:40] corradio opened #409 "Increase frame rate of arrows"

[2017-03-08 16:40] corradio opened #410 "Arrow colors should change accordingly when colorblind mode is on"

[2017-03-08 20:02] #199 closed

[2017-03-09 07:26] corradio commented on #378
@snoblenet is taking a look (sorry, can't assign because github only allows project members to be assigned)

[2017-03-09 08:18] rustyb commented on #321
Howdy @corradio you are correct in that one of the parameters above is incorrect.

For the exchange between Kaliningrad and Lithuania the following EIC area codes are used:

- Kaliningrad `10Y1001A1001A50U`
- Lithuania `10YLT-1001A0008Q`

I guess it's just a case of adding Kaliningrad to https://github.com/corradio/electricitymap/blob/master/parsers/ENTSOE.py

[2017-03-09 08:32] corradio commented on #193
![image](https://cloud.githubusercontent.com/assets/1655848/23741941/29a70726-04ab-11e7-9397-31e8fab916fa.png)

I'm playing around with the mobile map. It's actually quite nice to be able to press on countries and have the tooltips. Maybe we could build a UX where the user presses on the tooltip to go to the full country panel? What do you think @scarlac ?

[2017-03-09 08:35] scarlac commented on #193
That would work. We'll need to move the tooltips so they are not placed relative to the country but in a static location.

[2017-03-09 09:17] #407 closed

[2017-03-09 09:19] corradio commented on #408
Duplicate of #357

[2017-03-09 09:19] #408 closed

[2017-03-09 09:47] corradio commented on #348
icondrawer is the only one we can use here, because it contains Northern Ireland (which is not included else). Downside is we have to pay. Upside is that its not expensive :)

[2017-03-09 10:47] corradio commented on #317
Actually I'll just show the local currency.

[2017-03-09 10:49] corradio opened #412 "Explain CO2 model in ipython notebook"

[2017-03-09 10:49] corradio commented on #412
I'll make one pass to write the equations.

[2017-03-09 11:13] #317 closed

[2017-03-09 11:13] #197 closed

[2017-03-09 12:33] corradio commented on #405
Bonjour Yann,

Nous devons constamment faire des choix sur le type d'information à monter, et il existe beaucoup d'indicateurs qui pourraient potentiellement être intéressants, mais qui entravent la lisibilité de la carte.
Nous n'avons pas jugé important le fait d'ajouter un total de production, car nous voulons plutot montrer l'impact carbone.

Cordialement,

Olivier

[2017-03-09 12:33] #405 closed

[2017-03-09 12:33] corradio commented on #406
Yes I'm thinking about multilevel aggregations, for example when we zoom out.
We don't have resources to do it though, but I'll keep your suggestion in mind.

[2017-03-09 12:33] #406 closed

[2017-03-09 12:52] corradio commented on #377
Tested on iPad, works

[2017-03-09 13:23] corradio opened #413 "Use geolocation to center map and highlight current country"
Current issues:
- geolocalising takes time

[2017-03-09 17:23] Falke-Design commented on #397
Nice idea with the icons.
Take this also as inspiration

![https://cloud.githubusercontent.com/assets/19800037/23762125/5c58e082-04f5-11e7-93ab-d1f950caedd1.gif](https://cloud.githubusercontent.com/assets/19800037/23762125/5c58e082-04f5-11e7-93ab-d1f950caedd1.gif)
![https://cloud.githubusercontent.com/assets/19800037/23762124/5c588e2a-04f5-11e7-963b-0d404eea1e35.gif](https://cloud.githubuserconten

[2017-03-11 11:06] corradio commented on #397
A combination between this
![image](https://cloud.githubusercontent.com/assets/1655848/23822733/198e38ec-0653-11e7-8cb9-7e3d30ecbcf5.png)
and
![image](https://cloud.githubusercontent.com/assets/1655848/23822735/1ebe3588-0653-11e7-9d74-03ceefb79c3b.png)
could be nice

[2017-03-12 11:23] Falke-Design commented on #397
Like this?

![https://cloud.githubusercontent.com/assets/19800037/23831293/9908a3f2-071e-11e7-9d13-fae7246ce086.gif](https://cloud.githubusercontent.com/assets/19800037/23831293/9908a3f2-071e-11e7-9d13-fae7246ce086.gif)
![https://cloud.githubusercontent.com/assets/19800037/23831295/99386a38-071e-11e7-9306-86efec84503e.gif](https://cloud.githubusercontent.com/assets/19800037/23831295/99386a38-071e-

[2017-03-12 17:35] corradio commented on #397
Did some brainstorm here:

![image](https://cloud.githubusercontent.com/assets/1655848/23834201/ba91beb2-0752-11e7-96bf-5cc55503682c.png)

[2017-03-12 19:12] corradio commented on #391
Here's a test:

![image](https://cloud.githubusercontent.com/assets/1655848/23835022/454b8422-0760-11e7-90b3-df64b718b637.png)

[2017-03-13 07:40] brunolajoie commented on #391
Not bad actually!

[2017-03-13 08:38] corradio opened #417 "Do not show capacity if capacity factor is > 100%"

[2017-03-13 08:49] brunolajoie opened #418 "Solar irradiance looks wierd on zoom out"
![image](https://cloud.githubusercontent.com/assets/22095643/23847356/4507d228-07d2-11e7-8ba0-1c7ab5575a5b.png)

[2017-03-13 09:04] corradio commented on #378
We should use AREMI's http://services.aremi.nationalmap.gov.au/aemo/v3/csv/all. Will try to write a parser except if @snoblenet is already doing it?

[2017-03-13 09:07] snoblenet commented on #378
yep -- will do -- will also update everyone on planned timelines soon -- on here or on slack?

[2017-03-13 09:09] corradio commented on #378
Let's do it here - it's easier.

On Mon, Mar 13, 2017 at 10:07 AM, Steven Noble <notifications@github.com>
wrote:

[2017-03-13 11:43] bikiniweekend commented on #397
I like the top-right one.
@Falke-Design @corradio lets choose one of them and then each one of us make a final design about it and we choose the winner between they three?

[2017-03-13 11:50] corradio commented on #397
I'm quite fond of the top-right too :)

[2017-03-13 14:45] Falke-Design commented on #397
May the best win! ;)

[2017-03-13 18:13] brunolajoie commented on #417
That is one hell of a good idea!

[2017-03-13 20:27] brunolajoie commented on #319
Oh that's super nice @alixunderplatz !
Most def, DC capacity should not depends on network operating conditions, so we might want to start with them! as for syncrhonous grid interconnexions, let's waiting our meeting with ENTSOE to ask them about the reliability of their data! How do you want to proceed @corradio oli?

[2017-03-13 21:20] snoblenet commented on #378
On Monday 20 (or possible Monday 27) I start a new job that involves a 95 minute commute twice a day. For security reasons I can't do any of my job on my personal laptop out of the office, so that's 3 hours 10 minutes a day I want to largely devote to hacking for the public good. So I'm hoping to start this project then and finish it fairly quickly. Once I start my new job I won't have much time a

[2017-03-14 06:54] corradio commented on #378
Hi Steven,

That sounds good. Let me know if there's anything I can do to help! We'll
focus on building the rest of the infrastructure so you can focus on the
parser itself.

Olivier

On Mon, Mar 13, 2017 at 10:20 PM, Steven Noble <notifications@github.com>
wrote:

[2017-03-14 06:56] corradio commented on #319
@brunolajoie you can start adding data to the `exchangeconfig` files, where you add a `capacity` field for each exchange?

[2017-03-14 14:22] bikiniweekend commented on #397
Hi mates. I made this one.

![tomorrow fav icon 1](https://cloud.githubusercontent.com/assets/25708827/23904833/8d93cd2e-08c9-11e7-8eee-6d4a99e380eb.png)
![tomorrow fav icon 2](https://cloud.githubusercontent.com/assets/25708827/23904834/8dd36e0c-08c9-11e7-8cb5-b221f3aec788.png)

Here you have the PSD if you wanna play with colors -> https://mega.nz/#!3Zoz0T5Q!G4B4UFMj_tkprdnmUnjOtUqQuakc3cdr2q0dv

[2017-03-14 15:42] amaurea commented on #218
I contacted the author of the Norwegian study and asked her if she had data for other countries. Here is a translation of her answer:

----------------------

It's not strange that there are large differences in emissions from hydropower in different countries. There are emissions from construction of infrastructure, operation and inundation (plus distribution). Emissions from infrastructure and o

[2017-03-15 10:00] avioli opened #419 "Arrow should keep same size when zooming in"
Steps to reproduce:

  * Load the webpage on an iPad (Air 2 in my case).
  * Zoom in via the pinch gesture.
  * Tick one of the checkboxes.
  * Arrows grow in size.

Expected behaviour - arrows stay same size.

[2017-03-15 14:19] corradio opened #420 "Low font quality on Chrome Windows"
![image](https://cloud.githubusercontent.com/assets/1655848/23952747/ba839520-0992-11e7-9b89-05e3fba46f7f.png)

[2017-03-15 14:20] scarlac commented on #420
It may be caused by the alpha-transparent background. Have a look at the mobile-map branch and see if it's any different.

[2017-03-15 14:26] #417 closed

[2017-03-15 14:26] corradio commented on #412
First pass was made from my side.

[2017-03-15 14:31] corradio commented on #420
I'm not able to reproduce but let's re-test using a PC once we have merged
the mobile-map branch!

On Wed, Mar 15, 2017 at 3:20 PM, Seph Soliman <notifications@github.com>
wrote:

[2017-03-15 19:49] David-Lenoir opened #421 "New line in country profile"
Hi!  I like your very nice map! An intersting line would be the delta import/export from the country, anabling to know if the country is actually self-suffisant or not! Thanks for your work!

David Lenoir
Conseiller en environnement,
Suisse

[2017-03-16 11:50] corradio opened #423 "Investigate automatic update of capacities."
Potential source: http://data.open-power-system-data.org/national_generation_capacity/

[2017-03-16 11:52] trsch opened #424 "Small upgrade idea"
Dear electricity map,

We are a couple of guys following you page closely - great work!

One thing we would like to see is a "ranking" on the pc-version, similar to that seen on the mobile version.
Another cool feature on our wish-list, is some function for showing some statistics on production and emission during the last 24 hours/week/month.

Best
Troels Schönfeldt
Another fan of you page!

[2017-03-16 11:54] scarlac commented on #424
@trsch That's a great idea. We're working on re-building the UI so mobile users can also use the map. I think we could incorporate the ranking/highscore in the desktop as well. Thanks!

[2017-03-16 14:51] corradio opened #425 "France-specific emission factors"
We should update FR with specific emission factors:
http://www.rte-france.com/en/eco2mix/eco2mix-co2-en

[2017-03-16 15:22] corradio commented on #421
Hi David,

Thanks for your message. We've had that suggestion several times. We haven't exactly figured out how to properly integrate it into the UI (see #371), but will keep your suggestion in mind!

Best,

Olivier

[2017-03-16 15:22] #421 closed

[2017-03-16 16:36] David-Lenoir commented on #421
OK cool! I would suggest to simply add a "balance line" under the list of country importing/exporting.

You could also add the net global consomption of the country?

Thanks for your wonderfull tool!
David

[2017-03-17 14:08] Falke-Design commented on #397
I have made this one.

![lhttps://cloud.githubusercontent.com/assets/19800037/24046290/58619dc4-0b22-11e7-9ce3-04da1b3efd7b.gif](https://cloud.githubusercontent.com/assets/19800037/24046290/58619dc4-0b22-11e7-9ce3-04da1b3efd7b.gif)

First I have created also one with a map where lies but as favicon is this bad.
We don't see the map then.

I have created a site to test the image as a favicon. There

[2017-03-17 17:11] corradio commented on #391
@scarlac FYI, this is a screenshot of the Uber Movement dataset, where they use a similar color scale:

![image](https://cloud.githubusercontent.com/assets/1655848/24054582/ad3666b0-0b34-11e7-872e-f3e21b568604.png)

[2017-03-17 17:13] corradio opened #426 "Add loading indicator while loading country history"

[2017-03-17 17:14] corradio opened #427 "Add week & month histories to country panel"
Might be part of the premium offering.

[2017-03-17 17:15] corradio commented on #424
Hi Troels,

Thanks for this. For the ranking, please follow https://github.com/tmrowco/electricitymap/issues/193.
For the week/month history graph, please follow https://github.com/tmrowco/electricitymap/issues/427.

Best,

Olivier

[2017-03-17 17:15] #424 closed

[2017-03-21 10:23] ratio91 opened #428 "electricitymap.org broken"
https://www.electricitymap.org/ seems broken. No Data is being shown for 2 days now.

[2017-03-21 10:56] corradio commented on #428
Sorry about that. Should be fixed now.

On Tue, Mar 21, 2017 at 11:23 AM, ratio91 <notifications@github.com> wrote:

[2017-03-21 14:42] ThierryOllivero commented on #428
Problem seems to be solved, I'm closing the issue.

[2017-03-21 14:42] #428 closed

[2017-03-22 19:25] corradio opened #429 "Add missing translations"
Here's the missing fields:
- `rankings-panel.show-ranking`

- [x] IT

[2017-03-24 12:03] corradio opened #431 "Mobile tooltips on country panel should not go out of the screen"

[2017-03-24 13:30] corradio opened #432 "Mobile version on Android freezes/is very slow"
Tested on my Nexus 5X. No errors in the console.

[2017-03-24 13:38] ThierryOllivero commented on #432
No problem on my OnePlusOne (Android 6.0.1) neither on my Samsung Galaxy A52016 (Android 6.0.1).

Could it be related to Android 7.1.1, like for the friend of @brunolajoie ?

[2017-03-24 13:40] corradio commented on #432
Maybe.

This block is causing the problem:

[code]

On Fri, Mar 24, 2017 at 2:38 PM, Thierry Ollivero <notifications@github.com>
wrote:

[2017-03-24 13:52] corradio commented on #432
When disabling country rendering I get the same bug when I open the country ranking. Also I only see the first three flags.

Any idea @scarlac? At this point I'm suspecting troubles with SVG..

[2017-03-24 13:56] ThierryOllivero commented on #432
https://greensock.com/forums/topic/15870-svg-draggable-chrome-android-problems/

The 5 last words of the URL make it look like you could be right...

[2017-03-24 13:56] scarlac commented on #432
Unforunately I don't have a test unit. I did however try the map yesterday on an older android-based phone and it worked fine until you zoomed in.

[2017-03-24 14:52] corradio opened #433 "Add monitoring for old data"

[2017-03-24 21:50] adamal commented on #348
I noticed each flag is it's own svg. Stack Overflow packages alle their things into [a single svg](https://cdn.sstatic.net/Sites/stackoverflow/img/sprites.svg?v=d689de80c4e2), and nudges it around with varying `background-position-x/y`. That might be worth trying.

[2017-03-24 22:38] magol opened #434 "text-transform:capitalize; do not works for all languages"
The [CSS class](https://github.com/tmrowco/electricitymap/blob/master/web/public/css/styles.css#L215) `country-col-headline` contains following line:
[code]
It is there to make the first letter of each word to uppercase. This works well in English, but in Swedish it do not works at all (and I suspect it's the same problem in other languages to)

I suggest that this be removed. Please let the trans

[2017-03-25 10:03] scarlac commented on #348
Maybe @adamal - I think using PNG would also work great. It's a tried-and-true method with no risk and still relatively low bandwidth usage.

[2017-03-25 10:28] nikkozzblu commented on #348
Hi,

I believe the biggest room for improvement would come from playing with viewport and mobile native zoom/scroll.

Saying that because I tried couple of months ago the version on my mobile with option "show as computer" (chrome/android 6) and the rendering was working fine.

The only challenge is to catch the onScroll javascript event to adjust the "position:fixed" element like logo, and summar

[2017-03-26 08:02] Raffox97 opened #437 "Let people switch between languages easily"
I was just thinking that it can be a good idea to let people switch between languages.

[2017-03-26 09:40] corradio commented on #437
You actually can, manually, by navigating to
http://www.electricitymap.org?lang=de for example.
Not user friendly though..

On Sun, Mar 26, 2017 at 10:02 AM, Raffox97 <notifications@github.com> wrote:

[2017-03-26 13:42] Raffox97 commented on #437
Yeah it's true, in fact I was thinking in a system like that.
[http://i.imgur.com/20Jrc9x.png](url)

[2017-03-26 13:50] ThierryOllivero commented on #420
@corradio @scarlac I never had this problem, I used a lot of PCs and always Chrome on Windows 7 or 10. I would suggest to close it now that the mobile-map branch is merged.

[2017-03-26 13:51] #420 closed

[2017-03-26 13:53] ThierryOllivero commented on #419
@avioli : A new version of the map has been pushed. Could you tell us if the problem is still there?

[2017-03-26 13:54] ThierryOllivero commented on #391
Where do we stand on this issue? I like your first screenshot Oli. Spring is coming, we need more light :)

[2017-03-26 13:57] ThierryOllivero commented on #397
Thanks for the tool @Falke-Design.

I liked the colorful ones from @bikiniweekend but they're not so great as Favicon. Probably better as "App Icon".

[2017-03-26 13:58] ThierryOllivero commented on #389
Is this still true with the new version?

[2017-03-26 14:04] avioli commented on #419
No, they don't anymore. Well done.

Could I suggest something?

Previously, when I zoomed in, the arrows grew in size, but in fact they did not really grow, but I guess they got upscaled. Now - they don't get upscaled, but rather downscaled and look quite a bit blurry (see link). My suggestion is to make another asset for the downscaled version, so when the map is zoomed in, the new asset is used,

[2017-03-26 14:05] ThierryOllivero commented on #419
Thanks for the feedback. @scarlac, any idea?

[2017-03-26 16:07] corradio commented on #391
Didnt have time to work on it. I think we should investigate the Uber colorscale.

[2017-03-26 16:08] corradio commented on #389
yes

[2017-03-26 16:10] corradio commented on #419
Seems like the country border should have a constant width also, independent of zoom level.

[2017-03-26 21:50] scarlac commented on #419
I'll have a look at it. The way we're doing zoom needs to be adjusted or removed (reverted to common iPad behavior)

[2017-03-27 16:55] #434 closed

[2017-03-28 00:07] Agazoth opened #442 "Map not working on Google Pixel XL"
Map does not load on Google Pixel XL. The loading wheel freezes and nothing more happens.

[2017-03-28 09:41] corradio commented on #442
Duplicate of #432

[2017-03-28 09:41] #442 closed

[2017-03-28 14:09] Agazoth commented on #432
How about an emulator? https://developer.android.com/studio/run/emulator.html

Should give the same result as the phone. The issue might be on Android 7.1.1

[2017-03-28 14:41] Agazoth commented on #432
On Google pixel XL the issue only appears in Chrome. In Firefox the map works just fine and in Dolphin it works.

[2017-03-29 06:52] gregor-shapiro opened #444 "Convert prices to single currency"
For users to be able to compare with greater ease, an alternative to convert all electricity prices to a single currency would be a nice feature.

[2017-03-29 07:23] gregor-shapiro opened #445 "Electricity "production areas""
Just as there are hydrological catchment areas and watersheds
![image](https://cloud.githubusercontent.com/assets/26760444/24442574/0c9727c4-145f-11e7-8621-7deaa80ef418.png)
Visualization of electrical energy production areas might be a nice feature. Instead of national (political) boundaries the boundaries of energy generation areas would be visible. The major electrical transport network would b

[2017-03-29 19:28] scarlac commented on #419
I've removed the custom zooming we have on arrows, which fixes the issue. There's an underlying issue of zoom quality which is not easily fixable.

[2017-03-30 07:23] corradio commented on #419
I'm reopening because now arrows are not constant in size anymore.

[2017-03-30 14:03] corradio opened #447 "Hide arrows with `undefined` or 0 netFlow"
![image](https://cloud.githubusercontent.com/assets/1655848/24508009/73ce7bfa-1562-11e7-9ab4-d87bd6fe4e93.png)

![image](https://cloud.githubusercontent.com/assets/1655848/24508018/7a28e850-1562-11e7-8f70-165867e96b69.png)

[2017-04-01 15:28] b2000699 opened #448 "Solar and wind power potential color scale overlaps carbon intensity scale"
Hi,

It would be good if someone could deactivate the carbon intensity coloring so to have a clear view on the solar power colors! For instance right now Greece is yellow-orange in carbon intensity and since high solar power potential is yellow, too, I cannot distinguish the solar power potential of Greece at all.

Therefore I propose to add a switch to be able to deactivate the carbon intensity c

[2017-04-01 15:30] b2000699 opened #449 "Add import/export coloring"
Hi,

It would be great to be able to add a color layer for the import/export ratios so to see if a country is currently importing or exporting more. E.g. exporting = green, importing = red, balanced = grey, or something like that.

Cheers

[2017-04-01 15:33] b2000699 opened #450 "Feature request: Add deeplinks for options activated"
Hi,

It would be great if the options that someone activates (e.g. wind power potential) would be integrated in the URL so that someone can share it with the recipient having the options on/off as the one that sent the link.

cheers

[2017-04-01 15:37] b2000699 opened #451 "Feature request: Statistics: Add further options"
Hi,

For the moment I can see statistics for the CO2.
It would be great to:

1. Have more statistics, e.g. the % of Green energy / % of fossil fuels or the import/export balance over time or even only of a single source of energy, e.g. solar.
2. Have more scales in the statistics than only "last 24h", e.g. last week, month, year, current year, free date selection, etc.
3. Have the possibility to e

[2017-04-01 15:39] b2000699 commented on #451
p.s. and statistics for the entire EU/ Europe would be great, too!

[2017-04-01 15:42] b2000699 opened #452 "Feature request: Further layers"
Hi,

It would be great to add further layers of coloring, e.g.:

1. Select one source of energy, e.g. solar power, and then have all countries colored according to their current amount of energy generated with that source. This way someone can quickly understand which sources of energy are dominant in the different countries.

cheers

[2017-04-01 15:46] brunolajoie commented on #448
Interesting idea, but then if all country are grey we won't differentiate the one with and the one without data. What dya think @oli?

[2017-04-01 16:01] brunolajoie commented on #449
Thanks for the suggestion. There are many things we could show in this map, such as consumption per capita, total emissions etc... but for simplicity purpose we want to keep the colors for GHG intensity of electricity.

[2017-04-01 16:01] #449 closed

[2017-04-01 18:19] b2000699 commented on #448
I believe that someone should be able to deselect all layers and have the plain map only, just showing countries with no layer. So to be able to distinguish countries with data and those without, the basic question would be how to color these two.
In any case it should not be the same color as used in some filter as it is at the moment: Solar energy has grey/black and the same is used for the map

[2017-04-01 18:38] b2000699 commented on #448
Here comes my proposal, maybe it is helpful for you (changes in capitals):
1. Carbon intensity: green-orange-RED
2. Wind power: blue-lila-pink (=As is)
3. Solar power: black-yellow (No white in between)
4. Background: Data available=white, Nodata: Light gray

[2017-04-01 19:52] b2000699 opened #453 "Feature request: Toggle axis relative/absolute"
Hi,

currently the axis of the country info box is set to relative, i.e. the bar lengths of the various energy sources is always filling the entire width and the axis values change. So for example for the moment it looks like Finland (3GW) produces more nuclear energy than France (43GW).
This is good as it is for analyzing a particular country, but it would be nice to additionally be able to toggl

[2017-04-01 20:50] firegraf opened #454 ":-)"
I would prefer if he could see how much the country is in a plus or minus. Thus, if the energy just flows on, or is there really lack.
Also, it would be better if the graph were seen when scrolling the exact time and not inaccurately estimated on the bottom axis.
Thank you

[2017-04-02 02:40] oli commented on #448
@brunolajoie sounds like a good suggestion to me too, but I think you're after @corradio :thinking-face:

:wink:

[2017-04-02 08:20] corradio commented on #448
We've already thought extensively about that feature.
The conclusion was that it would clutter the map, and blur the main message we want to carry, which is about carbon intensity, not amount of renewable.
Alternative colouring schemes are interesting for data geeks though. We should probably think of building a premium Electricity Map in order to investigate further correlations and structures.

[2017-04-02 08:23] corradio commented on #448
Between green and orange there's yellow, so it won't fix the problem.
Ability to de-activate the carbon intensity is a pretty heavy UX change just to see solar.
I don't have a fix for this right now, but we do keep thinking about it.

[2017-04-02 08:25] corradio commented on #454
Hi @firegraf,

I've noted your suggestion on import/export. I didn't understand the issue you had with time estimation. Can you explain a bit better?

Thanks,

Olivier

[2017-04-02 08:29] corradio commented on #453
Hi @b2000699 ,

Unfortunately this won't work, as between e.g. Denmark and Germany, there's a 10x difference in scale size. On an absolute scale, you wouldn't be able to see what Denmark is producing.
Also the intent of the map is to show emission *intensities*, not absolute values. It's meant to understand what production mix, in a certain context, is able to have the lowest carbon electricity.
A

[2017-04-02 08:29] #453 closed

[2017-04-02 08:29] corradio commented on #449
Check out https://transparency.entsoe.eu/

[2017-04-02 08:30] corradio commented on #452
Interesting idea. You're not the first one to come up with it.
Unfortunately we're struggling a bit with resources and we think it would clutter the map too much in terms of UX.

[2017-04-02 08:30] #452 closed

[2017-04-02 08:31] corradio commented on #451
We have those statistics, but they are part of our "premium reports" paid package. If you're interested, drop us a mail at hello@tmrow.co!

Olivier

[2017-04-02 08:31] #451 closed

[2017-04-02 08:32] corradio commented on #450
Interesting, that sounds doable.

[2017-04-02 10:13] firegraf commented on #454
I'm sorry, my mistake, now I have already noticed that the exact time is
above the chart. I always looked up to the dot and the scale on the bottom
axis of the chart.

thanks

---------- Původní e-mail ----------
Od: Olivier Corradi <notifications@github.com>
Komu: tmrowco/electricitymap <electricitymap@noreply.github.com>
Datum: 2. 4. 2017 10:25:14
Předmět: Re: [tmrowco/electricitymap] :-) (#454)

[2017-04-02 10:15] corradio commented on #454
Ok, closing this.

[2017-04-02 10:15] #454 closed

[2017-04-02 16:12] Raffox97 opened #455 "Sentences structure for translations"
While I was reviewing the translation on the website, I was thinking that, imo, it's better to permit people to translate full sentences, and not just pieces of it. In fact, the actual translation (At least, for Italian), does make sense, but only for an half, in the specific you can view in the attached screenshot one phrase that for the actual phrases structure in the files it doesn't make very

[2017-04-03 00:34] b2000699 commented on #453
Hi @corradio,

yes, that scale difference was what I was intending; in your example: To quickly see that Denmark is producing next to nothing compared to Germany. Of course, in this setting, someone could not understand the details of Denmark, sure. Therefore I proposed it as a toggle switch, so someone can easily switch from absolute to relative back and forth as he desires, depending on what he

[2017-04-03 08:45] corradio commented on #453
Noted, thanks for your input!

[2017-04-03 09:17] ThierryOllivero commented on #450
Wasn't it the case before? With wind=true or solar=true? Am I missing something?

T.

[2017-04-03 09:18] corradio commented on #450
That was a flag to show or hide the checkbox that allowed you to activate it. It's different.

[2017-04-04 07:52] #432 closed

[2017-04-04 07:54] corradio commented on #432
I pushed a fix. Please re-open if this still applies.

[2017-04-04 09:01] Pimsdidragonflex opened #457 "Impact CO2 transfrontalier"
Je me permets de vous soumettre une idée supplémentaire pour votre carte qui, à vrai dire, est déjà très intéressante. En effet, il serait intéressant de pouvoir visualiser l'impact éventuel des émissions carbone d'un pays sur l'autre en fonction des conditions climatiques au-dessus de l'Europe (données "vent" déjà intégrées à votre carte).

[2017-04-04 09:07] Pimsdidragonflex commented on #457
Your map is already really attractive but i think that it will be interessant to show the cross-border CO2 impact.

[2017-04-04 10:54] corradio opened #458 "Standalone mobile app"
Please upvote if you think this feature is worth pursuing.

Use CodePush or Expo (https://docs.expo.io/versions/v15.0.0/guides/building-standalone-apps.html)

[2017-04-04 10:57] b2000699 opened #459 "Bug? History chart: Time not correct, ie. time gap of 14 hours"
Hi,

I just noticed that there is a bug in the history charts of the countries, concerning the time shown:
When you go to the right, i.e. to "now" and then just go 1 step to the left into the past, already the first step is "14 hours ago". From then on the increments are 1h.

Is that a bug or intended to be like that?

Cheers

[2017-04-04 11:02] corradio commented on #459
It's a bug, we'll look at it.

[2017-04-04 11:19] ThierryOllivero commented on #457
Bonjour @Pimsdidragonflex :

Si j'ai bien compris votre point, cela correspond déjà à ce qu'on a lorsque vous cliques sur "Production Electrique par source". Cela ouvre une page avec les émissions par source:

![image](https://cloud.githubusercontent.com/assets/22315693/24654281/40bea296-1939-11e7-86a8-0ae8ccc2f614.png)

[2017-04-04 15:24] Pimsdidragonflex commented on #457
En fait, je ne sais pas si cela est envisageable mais il serait intéressant de pouvoir visualiser les émissions carbone et leur déplacement ou accumulation. Un peu à l'image de la carte ci-dessous:
![emissionsdeco25](https://cloud.githubusercontent.com/assets/26895163/24664683/94bb6de4-195b-11e7-9085-a498f736cf4a.jpg)

[2017-04-04 15:34] Pimsdidragonflex commented on #457
le CO2 n'ayant pas frontière. En effet, malgré les efforts et démarches engagés par un pays pour réduire son empreinte carbone, il peut être impacté par le CO2 généré par son voisin. La politique, la réponse à la problématique CO2 doit être commune.

[2017-04-04 15:52] Pimsdidragonflex commented on #457
Après réflexion, cela est impossible car nous ne serions plus uniquement sur les émissions de CO2 liées à la production d'électricité mais nous engloberions toutes les activités génératrices de gaz à effet de serre. Désolé pour le dérangement.

[2017-04-04 16:10] ThierryOllivero commented on #457
Pas de problème, la réflexion reste intéressante.

Au plaisir.

[2017-04-04 16:10] #457 closed

[2017-04-05 07:47] corradio opened #460 "Add Danish translation"
@agazoth @fedders can one of you help?

[2017-04-06 17:04] corradio opened #461 "Mobile UI to activate wind/solar"

[2017-04-06 17:04] #193 closed

[2017-04-06 17:05] corradio opened #462 "Mobile app links should open in new window"
See https://weblog.west-wind.com/posts/2015/Jul/02/External-Links-in-Cordova-for-iOS

[2017-04-06 17:07] #459 closed

[2017-04-07 07:44] corradio commented on #445
Indeed! We don't believe this is really of interest for the greater public, due to the complexity involved.
However, we would love to build it. We have so many things on our plates that we ideally would like to work with a commercial partner on this. If you can help, please ping me!

[2017-04-07 07:44] #445 closed

[2017-04-07 07:45] corradio commented on #444
Those are possible solutions:
- http://openexchangerates.github.io/money.js/
- http://fixer.io/

[2017-04-07 07:49] corradio commented on #237
@brunolajoie is this still being considered? I recommend closing if we do not plan to work on this in the near future

[2017-04-07 07:50] corradio commented on #219
@rustyb friendly ping. Any news?

[2017-04-07 07:52] corradio opened #464 "ENTSOE should fetch more than 24h back in order to fetch historical data"
Test case: Switzerland

[2017-04-07 08:17] brunolajoie commented on #237
Not in the near future indeed!

[2017-04-07 08:17] #237 closed

[2017-04-07 10:52] corradio opened #465 "country ranking does not take full height"
![image](https://cloud.githubusercontent.com/assets/1655848/24797328/16925878-1b91-11e7-8552-b3f76cff5373.png)

[2017-04-07 12:24] #458 closed

[2017-04-07 12:32] #397 closed

[2017-04-07 12:34] #462 closed

[2017-04-07 16:51] brunolajoie opened #466 "Exit cross could be made bigger"
The exit cross on top left of the left menu could be made bigger. Not the button, just the cross.

[2017-04-09 07:13] Agazoth opened #467 "Trouble connecting to servers"
Servers can't be reached

[2017-04-09 15:37] corradio commented on #467
Fixed

[2017-04-09 15:37] #467 closed

[2017-04-09 20:42] brunolajoie opened #468 "Investigate location-dependant gas CO2 intensity"
https://twitter.com/ReImagineGas/status/850647925277511680

[2017-04-10 05:14] Agazoth opened #469 "Request favicon"
It would be nice to add the icon of the Android app as faicon to the web version.

[2017-04-10 07:13] #469 closed

[2017-04-10 07:14] corradio commented on #469
Should be included in the next release (check Slack)

On Mon, Apr 10, 2017 at 7:14 AM, Agazoth <notifications@github.com> wrote:

[2017-04-10 10:22] Agazoth commented on #460
Yes, I can give it a go. Just need to take care of some gardening first 🙂

[2017-04-10 12:42] Agazoth commented on #460
[da.json.txt](https://github.com/tmrowco/electricitymap/files/910048/da.json.txt)

[2017-04-10 13:25] corradio commented on #460
Tak! Jeg klarer resten

[2017-04-10 13:32] #460 closed

[2017-04-10 13:39] #433 closed

[2017-04-10 14:02] #450 closed

[2017-04-10 14:02] #466 closed

[2017-04-10 14:02] #431 closed

[2017-04-10 14:02] #447 closed

[2017-04-11 07:55] corradio commented on #377
Reopening because this bug seems to be back :(

[2017-04-11 07:56] corradio opened #470 "Add deeplinks"
http://www.electricitymap.org should open the app.
Querystring parameters should also be taken into account.

[2017-04-11 07:57] corradio commented on #437
Hi @Raffox97 I'm closing this because it seems like only a very few people would benefit from this feature. Let me know if you believe this is important and has to be taken care of

[2017-04-11 07:57] #429 closed

[2017-04-11 07:58] corradio commented on #423
@brunolajoie will you be able to take a look at the data quality?

[2017-04-11 07:59] corradio commented on #393
@brunolajoie any news here?

[2017-04-11 08:02] corradio commented on #261
@emillarsen @johnsmithb3ta @brunolajoie do you have any specific updates on this issue? Else I will close due to inactivity

[2017-04-11 08:14] corradio commented on #464
Actually we have to go back 72hrs :(

[2017-04-11 08:14] #464 closed

[2017-04-11 09:17] corradio opened #471 "Webkit: Land stroke is scaled with zoom."
When using webkit (i.e. safari) and zooming, a CSS scale transform is applied.
This causes every child path to be scaled, including the stroke.
Normally, applying `vector-effect: non-scaling-stroke;` suffices, but only if the CSS transform is applied to the same element. Here, it is applied to the parent container, which causes the problem.

See
- http://stackoverflow.com/questions/24320147/vector

[2017-04-11 09:20] corradio commented on #471
Before:
![image](https://cloud.githubusercontent.com/assets/1655848/24901936/e433c86a-1ea8-11e7-9567-2af15100a2e2.png)

After:
![image](https://cloud.githubusercontent.com/assets/1655848/24901949/ec4da9f8-1ea8-11e7-9486-62048a393ae4.png)

[2017-04-11 09:45] #471 closed

[2017-04-11 19:36] #465 closed

[2017-04-12 08:44] #348 closed

[2017-04-12 08:44] #389 closed

[2017-04-12 11:45] corradio commented on #256
The design is now fully responsive so this shouldn't be an issue anymore

[2017-04-12 11:45] #256 closed

[2017-04-12 13:59] corradio commented on #461
![image](https://cloud.githubusercontent.com/assets/1655848/24961435/07f6593e-1f99-11e7-84a3-9f8786c0b171.png)

cc @brunolajoie

[2017-04-12 14:00] #461 closed

[2017-04-12 15:16] corradio opened #472 "History graph x axis should go up to current time"

[2017-04-14 12:38] corradio opened #473 "Fix tooltip placement in iFrame"
See e.g. http://www.greengenerationstabia.it/electricitymap-org/

[2017-04-14 14:02] matt303 opened #474 "ENTSOE: UK data differed from that supplied by ELEXON."
On the 12th April Elexon reported between 5 and 7GW of wind generation while entsoe which tmorowco uses as a data source reported around 2.5GW.

https://www.bmreports.com/bmrs/?q=generation/fueltype/current

[2017-04-15 14:46] corradio commented on #474
@rustyb can you help?

[2017-04-15 15:10] corradio commented on #470
Android: https://firebase.google.com/docs/app-indexing/android/app?utm_source=wnc_546902&utm_medium=gamma&utm_campaign=wnc_546902&utm_content=msg_731912&hl=en

[2017-04-15 15:55] corradio opened #475 "Add analytics (GA + FB + MP)"

[2017-04-15 21:52] daniel-callejas-sevilla opened #476 "Translation of 'oil' to Spanish is not 'aceite'!"
Oil should be translated into Spanish as "petróleo" (oil as a fuel) and not "aceite" (cooking oil)

[2017-04-16 09:17] allocater2 opened #477 "Scaling exchange arrows by intensity"
Would be nice, if the exchange arrows would scale by how much is exchanged. Could be a logarithmic scale to get a good overview. Something like:

2000MW = 125% of current scale
1000MW = current scale
500MW = 75% of current scale
100MW = 50% of current scale

[2017-04-16 09:41] corradio opened #478 "I18n of mobile app"

[2017-04-17 02:39] amaurea opened #480 "Update numbers for hydropower CO2"
I contacted the author of the Norwegian study, Ingunn Modahl, and asked her if she had data for other countries. Here is a translation of her answer. But the summary is:

* Norway: 2.4 g CO2-eq/kWh (not 1.9 g as I said before)
* Sweden: 9 g CO2-eq/kWh (weird that the difference is so big)
* Average for Europe in general: 5.8 g CO2-eq/kWh

Anyway, her response:

----------------------

It's not str

[2017-04-17 14:50] corradio commented on #480
@brunolajoie can you take a look?

[2017-04-17 20:16] magol opened #481 "Localize "Map View" and "List View""
The buttons "Map View" and "List View" in the mobile app is not able to localize.

![image](https://cloud.githubusercontent.com/assets/493140/25103101/82407dfc-23bb-11e7-8696-e3261cd2930f.png)

[2017-04-18 09:10] corradio opened #482 "Add example.py parser example"

[2017-04-18 10:31] #476 closed

[2017-04-18 14:13] #472 closed

[2017-04-18 14:13] #481 closed

[2017-04-18 14:13] corradio commented on #481
Hi @magol , take a look at https://github.com/tmrowco/electricitymap/commit/c5b312dc6dca2d92654476b73264569fa9909f92 in order to see how to translate!

[2017-04-18 15:40] corradio commented on #475
Will require more work

[2017-04-18 15:40] #475 closed

[2017-04-18 15:41] corradio commented on #470
Should be working with next release

[2017-04-18 15:41] #470 closed

[2017-04-18 16:09] #473 closed

[2017-04-18 16:30] corradio commented on #419
It's actually pretty trick.
If we don't want prevent scaling the layer in order to keep the arrow size constant, we will need to translate every arrow element by it's original dX multiplied by the scaling coefficient. See https://github.com/tmrowco/electricitymap/blob/master/web/app/countrymap.js#L51

[2017-04-18 17:00] corradio commented on #391
What about this?

![image](https://cloud.githubusercontent.com/assets/1655848/25143042/463ce18e-2469-11e7-9c1f-7acbf993c32f.png)

[2017-04-18 17:14] ThierryOllivero commented on #391
I liked better the other one. This one makes me sad. Don't know why.

[2017-04-18 20:18] kristianmadsen88 opened #484 "Emission factors are misleading"
Hi,

First of all - I love this map and use the app often.

However, I find your use of emission factors wrong and misleading.

Your source is IPCC's life-cycle emission calculations. These are based on worldwide averages and can vary considerably from place to place for the same energy source. E.g. coal has varying carbon content and are utilized at plants with (highly) varying efficiencies.

Fur

[2017-04-19 08:44] #478 closed

[2017-04-19 15:15] Agazoth opened #485 "Android app has 2 map view buttons"
One of them should say list view

[2017-04-19 15:17] corradio commented on #485
It was fixed in the new release (1.0.2). It should be avaiable on the play store now.

[2017-04-19 15:17] #485 closed

[2017-04-19 15:19] Agazoth commented on #485
I got version 1.0.2. I'll try to clear the cache.

Den ons. 19. apr. 2017 17.17 skrev Olivier Corradi <notifications@github.com

[2017-04-19 15:22] Agazoth opened #486 "Android app wrong button text"
In version 1.0.2 button text says menu.mapview menu.listview and menu.info

[2017-04-19 15:29] Agazoth opened #487 "Android app checkbox on info not toggled"
The checkbox on the info page is not toggled when turning on wind or solar on the map view page, but the sliders are turned on.

If the checkboxes are toggled to true, the sliders disappear, and the buttons on map view are turned off.

[2017-04-19 15:50] corradio commented on #487
That's true! Will fix.

[2017-04-19 15:53] corradio commented on #486
That's because we lack a translation for you langage (Danish?)

On Wed, Apr 19, 2017 at 5:22 PM, Agazoth <notifications@github.com> wrote:

[2017-04-19 16:06] Agazoth commented on #486
Kort
Liste
Info

Den ons. 19. apr. 2017 17.53 skrev Olivier Corradi <notifications@github.com

[2017-04-19 16:42] Raffox97 commented on #486
Should be fixed now #489

[2017-04-19 20:14] brunolajoie commented on #391
I share Thierry's opinion

[2017-04-20 06:48] #486 closed

[2017-04-20 07:01] Agazoth commented on #486
I think you need to upload a new apk to the Play Store before the issue is
solved.

tor. 20. apr. 2017 kl. 08.48 skrev Olivier Corradi <notifications@github.com

[2017-04-20 07:01] magol commented on #486
Although there are now localized texts, it still shows incorrect texts for me.
![image](https://cloud.githubusercontent.com/assets/493140/25217631/ed742004-25a7-11e7-9513-11a46eec5ec1.png)

[2017-04-20 07:02] #487 closed

[2017-04-20 07:02] corradio commented on #487
Fixed, will be live at next deployment.

[2017-04-20 07:04] corradio commented on #486
I actually just merged the pull request, and am pushing a new version out now.
Once that is done, the app should update automatically, without needing to push a new apk (we use https://microsoft.github.io/code-push/).

[2017-04-20 10:29] corradio commented on #378
The frontend is ready.
There's a few questions to be answered still:
- What does the "aggregated" column in the csv mean? Is that an aggregation of several plants?
- Can we actually split the data up per state, or are we stuck with the whole country?

[2017-04-20 11:06] ipekarik opened #491 "Misleading title: map shows CO2 emissions from generation, not consumption"
I may be getting something wrong, and sorry if it comes across as nitpicking, but this map isn't taking into account actual modes of electricity consumption - it's not comparing the varying CO2 emissions of polluting industries that consume the produced electricity and output CO2 themselves. Therefore, to be more accurate, the title of the project should be "Live CO2 emissions from electricity gen

[2017-04-20 11:11] ipekarik opened #492 "No way to return to default screen once you click on "Show ranking""
After clicking on "Show ranking" (&page=highscore), there's no way to return to the default screen with the colour coding legend and option selectors. (&page=map)

[2017-04-20 11:20] corradio commented on #491
Good question @ipekarik !
I'm not sure I understand you when you say

We aim at showing the emission tied to the consumption of electricity, as in "how much has been emitted to enable me to consume 1kWh of electricity". The "me" in the previous sentence could refer to an industry that is using electricity, and thus its pollution from the electricity consumption is what we calculate.

If we were to

[2017-04-20 11:21] corradio commented on #492
On the desktop you can do that by clicking on the sea.
I'll fix that.

[2017-04-20 11:42] ipekarik commented on #491
Oh, ok, that actually makes sense now. Thanks for clearing it up!

[2017-04-20 11:42] #491 closed

[2017-04-20 11:44] ipekarik commented on #492
Yes, that works! But it didn't even occur to me to try clicking on the sea until you mentioned it. :D I guess just changing the "show ranking" button to "hide ranking", or something similar, would be more intuitive.

[2017-04-20 15:40] #482 closed

[2017-04-20 15:58] HansHug opened #493 "Some suggestions"
Very interesting! Thanks.
would be great to have
1. total power generated in each country
2. total import (+) / export (-) of each country
3. running integrated powers from Jan 1st to actual date, i.e. energy per source and total for each country
4. integrated powers from Jan 1st to actual date, i.e. energy per source and total for each country
5. 3.&4. per winter and  summer half year.

This may

[2017-04-20 18:43] corradio commented on #378
I've made a small test here:
https://github.com/tmrowco/electricitymap/blob/master/parsers/AU.py

![image](https://cloud.githubusercontent.com/assets/1655848/25246998/cb11f2e0-2609-11e7-8f0c-cab322d565af.png)

@brunolajoie @ThierryOllivero @snoblenet can you guys comment on whether or not this sounds reasonable? We can think about dividing into states in a later iteration.

[2017-04-20 20:24] snoblenet commented on #378
Just looking at proportions not numbers, coal and wind seems about right, I would have expected hydro and gas to be higher. Much solar in Australia is domestic rooftop solar PV which may be showing up in the AEMO numbers as energy saving not production. Geothermal and nuclear are both zero in Australia.

[2017-04-20 20:29] snoblenet commented on #378
Regarding your state-by-state question:

- The data we are using is for a common market that includes every state and territory other than the Northern Territory, Western Australia and off-shore territories -- Ketan, is data available for those locations too?
- The only inter-state export data I could see in the AEMO data was for the undersea link between Tasmania and the mainland, within the comm

[2017-04-20 20:40] snoblenet commented on #378
Our top-line figure for the common market (exclude WA etc) is 745g. According to the latest IPCC report, the top-line figure for Australia as a whole is 885g:

https://www.ipcc.ch/pdf/special-reports/sroc/Tables/t0305.pdf

You'd expect the national figure to be higher than the common market figure as our biggest hydro facilities are in the common the market, but maybe not that much higher...

[2017-04-20 20:46] snoblenet commented on #378
Electricity price data is here: https://www.aemo.com.au/Electricity/National-Electricity-Market-NEM/Data-dashboard

[2017-04-20 21:10] snoblenet commented on #378
State-by-state generation/demand/etc data presented in human readable form here:

https://www.aemo.com.au/Electricity/National-Electricity-Market-NEM/Data-dashboard#nem-dispatch-overview

But we'd have to build a scraper not a parser unless this data is available elsewhere in a machine readable format.

[2017-04-21 02:04] snoblenet commented on #378
Comments from Ketan, who doesn't have a Github account:

[2017-04-21 06:02] corradio commented on #378
Great so we can have access to:
- interstate exchanges + capacities
- price by state

Now we just need to know the production mix per state. We could allocate each generator in the CSV to a state, but how would one do that mapping? Based on location?
Also, how do these guys (http://www.nem-watch.info/widgets/RenewEconomy/) do it?

[2017-04-21 06:11] corradio commented on #370
Doner

[2017-04-21 06:11] #370 closed

[2017-04-21 06:51] snoblenet commented on #378
We should be able to set up a manual mapping against generator name using Dr Google. Even for location names like 'Bayswater' that are very common in Australia, a search for the actual generator name like 'Bayswater Power Station' is definitive. The widget you identify is provided by a private company called Roam that no doubt did something similar.

[2017-04-21 06:56] corradio commented on #378
OK.
Could you or someone else prepare the mapping? Then I can try to figure out to get interstate exchanges.

[2017-04-21 06:57] snoblenet commented on #378
yeah no problem — i’ll stick something up in a gist
---
Steven Noble
http://snoble.net
+61 (0) 4 0404 1928

[2017-04-21 09:52] corradio commented on #493
Hi Hans,

The data you are requesting is actually part of our premium reports. If you're interested in the data, let me know.
We believe showing a realtime view (+ the last 24h) is enough for raising awareness.

Best,

Olivier

[2017-04-21 09:52] #493 closed

[2017-04-21 10:13] snoblenet commented on #378
here you go: https://gist.github.com/snoblenet/5831d19b5103039f98cc9bac6bf847d4

[2017-04-21 11:13] mrchrisadams commented on #271
I've had a quick look at this, and I'm happy to have a go this Sunday, or next week.

From what I can see the data is in the page itself, and this array here, in an array 24 objects long, one for each hour of the given date.

[code]

The date for this info also appears to be here as well:

[code]

I'm not sure what the keys mean yet, as I haven't had a go at trying to translate them - assuming the

[2017-04-21 11:20] corradio commented on #271
Sounds cool. You need to write a script that can fetch those and map them into our datastructure.
Check out the example here: https://github.com/tmrowco/electricitymap/blob/master/parsers/example.py (just use the `fetch_production` method)

[2017-04-22 16:25] jarek commented on #166
Hi, I saw that some Canadian data started appearing in Country Ranking and found the region=northamerica page. I would like to contribute a bit to this. Is anyone else working on any Canadian data right now? The Alberta data linked to by Guillaume looks like it'll be easy to integrate.

[2017-04-22 20:48] corradio commented on #166
Go ahead @jarek - would be awesome to have your contribution!
Let me know what you need, or ask us on Slack!

[2017-04-25 07:19] corradio opened #498 "Fix Google App Indexing"

[2017-04-25 09:12] corradio opened #499 "Add arrow navigation"

[2017-04-25 09:23] corradio commented on #166
Hey @jarek ? Are you on Slack? (http://slack.tmrow.co). We're preparing a big launch soon and it would be nice if AB would be there!

[2017-04-25 14:50] corradio commented on #474
@matt303 FYI I'm having a call with ENTSOE in the next days. I hope we will be able to set up some sort of process to solve data quality problems.

[2017-04-25 18:13] jarek commented on #166
Sorry @corradio, I ended up having no time so far :( I see mlucchini has done Alberta, congrats! I might try to integrate some other provinces.

I notice there are no capacities for Canada - should they be named with underscore (like `NZ-NZN` in zones.json) or with dash (like `CA_ON.py` in parsers)?

[2017-04-25 19:13] corradio commented on #166
Hi @jarek. No worries. Glad we did no do double work :)
Happy to get some capacities :)
They should be named with a dash (like in zones.json).

On Tue, Apr 25, 2017 at 8:13 PM, jarek <notifications@github.com> wrote:

[2017-04-26 09:46] #271 closed

[2017-04-26 12:34] corradio commented on #378
@snoblenet I don't have any stations for NT and Western. Is that normal?

[2017-04-26 12:36] corradio commented on #378
Also, `Eildon Power Station` seems to be missing from the mapping.

[2017-04-26 19:59] jarek commented on #166
There are no links to current generation numbers that I saw, but the "Provinces and Territories" sections of http://peoplepowerplanet.ca/ has a decent overview of electricity/energy sector per province, and might help people trying to figure out what numbers are what or what is roughly correct.

[2017-04-26 20:23] snoblenet commented on #378
Yeah, the dictionary lists all the power stations in AREMI, the common market that includes all Australia other than Western Australia, the Northern Territory and offshore territories (e.g. Christmas Island.) I'm not sure how to obtain data about those areas.

Lake Eildon is in Victoria, sorry.

[2017-04-27 06:01] corradio commented on #378
👍

[2017-04-27 06:14] corradio commented on #319
I've added a prototype for some Australian exchanges:
![image](https://cloud.githubusercontent.com/assets/1655848/25470187/510096c4-2b21-11e7-88a8-65acfe6a102a.png)

The information required is, for a given exchange from A to B (denominated by A->B), the minimum net flow (which can be negative, i.e. an import from B to A), and the max (i.e. an export from A to B).
Anyone can submit a pull request

[2017-04-27 07:03] snoblenet commented on #378
looks like WA data is here:

http://data.wa.aemo.com.au/#facility-scada

Not real time however

[2017-04-28 07:16] ThierryOllivero opened #504 "Add zoom in / zoom out button"
Hello,

With the new map, we start with an unzoomed view. By double clicking somewhere, it zooms in. Then, you cannot zoom out.

We could add a zoom in / zoom out button somewhere, to help with the navigation.

[2017-04-28 15:45] corradio opened #506 "Remove all mentions of "countries" in the text used"

[2017-04-29 23:13] b2000699 opened #509 "Encode map location and zoom level in URL"
Hi,

Would be great to encode that in the url, too, so to be able to share e.g. in a conversation about a specific country or region.

Cheers

P.S.: Congratulations for the extension to a global map!

[2017-04-30 01:42] superlonglong opened #510 "Map issue, Australia ACT needs to be moved into Australia NSW"
ACT is part of the NSW region according to the National Energy Market. therefore it should be included in the map as such.

[2017-04-30 02:25] superlonglong opened #511 "Add Australian small scale solar"
Small scale solar is a significantly large proportion of solar in australia.

Details on installed capacity can be found here

https://d284f79vx7w9nf.cloudfront.net/attachments/analysis/7/states.csv

from http://pv-map.apvi.org.au/historical#4/-26.67/134.12

production data can be found here

http://pv-map.apvi.org.au/live

[2017-04-30 02:35] superlonglong opened #512 "Remove Hazelwood from Victorian Generators list"
Hazelwood has closed, and so the generation capacity should also be removed.

[2017-04-30 16:18] brunolajoie opened #513 "Increase zoom-by-pinching intensity to match google map"
On my macbookPro/chrome, the pinching intensity is about 2/3 time smaller than that of google map. It makes the map a bit painful to use and I suggest to increase it to zoom-to-pinch ratio.

[2017-04-30 16:48] superlonglong opened #514 "Remove from Australia (South Australia) Northern, Playford B"
All Coal power generators in South Australia have closed. Therefore there is no Coal generation capacity in South Australia.

The graph needs to be updated.

[2017-05-01 00:02] superlonglong commented on #162
@corradio This should be reopened.
@ThierryOllivero There is FAR greater variation than 5%, more in the order of +/-30%

But more importantly, if we are trying to educate the masses on carbon output, we should at least attempt to make it accurate.

We dont, and probably will never have live metering of co2 output. Or even co2e output.

but this

http://www.cleanenergyregulator.gov.au/NGER/National

[2017-05-01 00:05] superlonglong opened #516 "Split Coal by coal type."
Coal varies too much in co2 output to lump it all together.

coal should be split into black and brown coal, and co2e intensity calculated by generator.

[2017-05-01 00:29] superlonglong opened #517 "Potential Issue with Australia - Tasmania to Victoria interconnector"
Might the interconnector be showing the wrong direction?

Last night the connector was showing export from tasmania @$223 to victoria @$68, which would make the transmission company a loss of $155/MWH

As most companies don't wish to make a loss when they can avoid it, might we have the direction mixed up?

[2017-05-01 06:26] superlonglong opened #518 "Wind bar no longer showing wind potential at mouse cursor"
you used to be able to see what the wind was at your cursor by turning on wind and moving your mouse around. this is broken now.

[2017-05-02 07:29] corradio commented on #514
We get the capacities from this file:
http://services.aremi.nationalmap.gov.au/aemo/v3/csv/all
I would be reluctant to add a list of things to exclude from this CSV.
Maybe we can contact someone to update it at the source?

[2017-05-02 07:30] corradio commented on #516
Duplicate of #162

[2017-05-02 07:30] #516 closed

[2017-05-02 07:31] corradio commented on #510
Do you confirm that ACT and NSW are merge together in the NSW region according to NEM?

[2017-05-02 07:31] superlonglong commented on #517
http://reneweconomy.com.au/tasmanian-government-cap-state-power-prices-95485/

This link says we have the direction the wrong way around.

[2017-05-02 07:36] corradio commented on #517
Indeed they seem to be in the wrong direction.

![image](https://cloud.githubusercontent.com/assets/1655848/25608337/c32f6a70-2f1a-11e7-92c8-688fdccc8e7a.png)

![image](https://cloud.githubusercontent.com/assets/1655848/25608350/c99ad2a0-2f1a-11e7-8bb8-4b52f12bb76f.png)

[2017-05-02 07:37] superlonglong commented on #510
Are you looking for proof?
https://en.wikipedia.org/wiki/National_Electricity_Market

"The NEM comprises five regions, with the ACT being in the NSW region."

[2017-05-02 07:56] corradio commented on #510
That's pretty unequivocal. I'll make sure to merge the regions then!

[2017-05-02 07:59] corradio commented on #513
It seems like you can't decouple the scroll and pinch speeds.
Google actually has a very sensitive scroll zoom, translating to a "normal" pinch speed.
If you try to scroll zoom in GMaps, you'll see that it's much more sensitive than on the EM.
Should we increase the sensitivity on the EM?

[2017-05-02 08:13] superlonglong commented on #514
There are a few that will need to be removed as they are closed. i looked at the CSV, and noticed that they don't have "-" in the current output column that they are out of action. this differs from other generators which have a "0"

unfortunately you will have to rule them out manually as there are a bunch of generators (especially smaller ones) that have a "-" next to them

they are

Hazelwood
P

[2017-05-02 08:18] superlonglong opened #519 "Android App Bug - back arrow sends to blank white page"
back arrow should send to the same place as the x button, but sends to a blank white screen.

[2017-05-02 08:18] corradio commented on #514
ok let's start a list of closed plants then. I'll add the ones you
mentioned.

Olivier

On Tue, May 2, 2017 at 10:13 AM, superlonglong <notifications@github.com>
wrote:

[2017-05-02 08:18] corradio commented on #519
Yes indeed - will try to fix this when I get time.

[2017-05-02 08:51] superlonglong commented on #514
@corradio

i checked the other power stations that have closed, they have been removed from the list.

these power stations may be removed in time.

[2017-05-02 10:33] #518 closed

[2017-05-02 10:35] #514 closed

[2017-05-02 10:35] #512 closed

[2017-05-02 10:35] corradio commented on #512
Fixed with #514

[2017-05-02 10:37] corradio commented on #378
Closing this as we have a first version working!

[2017-05-02 10:37] #378 closed

[2017-05-02 10:38] corradio commented on #477
Hi @allocater2
I like the idea, but unfortunately this won't play nicely with the different zoom factors.

- Olivier

[2017-05-02 10:38] #477 closed

[2017-05-02 10:39] corradio commented on #409
@scarlac are you able to take this one?

[2017-05-02 10:40] superlonglong commented on #518
not sure this has  been fixed on chrome, windows 7

[2017-05-02 10:44] scarlac commented on #409
Sure. I'll have a look at it... Tomorrow... ;)

[2017-05-02 10:44] corradio commented on #518
It's not pushed to production yet. It will be in a few minutes :)
Deployment information are sent to Slack on #electricitymap

On Tue, May 2, 2017 at 12:40 PM, superlonglong <notifications@github.com>
wrote:

[2017-05-02 10:46] corradio commented on #409
👍 😆

[2017-05-02 10:49] superlonglong opened #520 "Add detail to electricity interconnectors - Australia"
Add the percentage capacity used for each interconnectors.

[2017-05-02 10:49] corradio commented on #520
Yes, that's planned! Thanks for adding the issue. Will keep the progress updated here.

[2017-05-02 11:44] superlonglong commented on #518
Good news. Works beautifully.

[2017-05-02 13:00] KetsOne commented on #484
Kristian,

I agree with your assessment.
However, i would like to add the following notes and suggestions.

From an ideal perspective we would like to use these LC factors, but i concur that using regular emission factors that only cover the generation part is a preferable option. Important reasons are:
a) Emission factors in general, but Life-Cycle emission factors especially are hugely dependent

[2017-05-02 15:40] strassburger opened #521 "Spain canary Islands"
Spain only Mainland (peninsular) and Baleares are connected to the the european  net.
Data see here:
http://ree.es/en/activities/realtime-demand-and-generation

Canary Islands nets:
http://ree.es/en/activities/canary-islands-electricity-system/canary-electricity-demand-in-real-time

data example: of El Hierro
https://demanda.ree.es/movil/canarias/el_hierro/tablas/1

[2017-05-02 15:51] KetsOne opened #522 "Missing Data for The Netherlands"
Very limited information is shown for The Netherlands.
Why is this the case?

[2017-05-02 20:49] brunolajoie opened #524 "Wind power in m/s or W/m2?"
Wind power currently shown in m/s is a mistake, cause wind power is a cube function of wind speed.
We have two options:

1. Convert to W/m2 to be consistent with solar power (also in W/m2 for an insightfull comparison). The conversion function is easy to find.
Now my interrogation is for the dynamic dataviz (the purple arrows): How will our arrows look like if skewed by a cube function? I would lo

[2017-05-03 02:52] superlonglong commented on #524
i think w/m2 is misleading, as the m2 are those of a swept rotor, not on the ground as might be assumed.

I would suggest we keep m/s, and perhaps show the cut-in, cut-out, and performance curve of most wind turbines. (this would start at a deep purple for wind too light, fade to green as peak performance, and then to red at overspeed.)

Also, what height is the wind being simulated at? it should

[2017-05-03 07:07] corradio commented on #524
I'd also suggest we keep m/s, simply because that's what the wind power industry is used to.
The idea with "potential" was to show that the wind animation was here to give an idea of how much wind power could be generated (because else people didn't understand why it was there).
Not sure how to phrase it.

We use wind @ 10m. Isn't that what's needed? I've been running correlations analysis with po

[2017-05-03 07:11] superlonglong commented on #524
Industry will quote output based on wind at hub height.

Most wind turbines are over 80m tall, with most new ones about 100m.

On 3 May 2017 17:07, "Olivier Corradi" <notifications@github.com> wrote:

I'd also suggest we keep m/s, simply because that's what the wind power
industry is used to.
The idea with "potential" was to show that the wind animation was here to
give an idea of how much wind po

[2017-05-03 07:21] corradio commented on #522
Duplicate of https://github.com/tmrowco/electricitymap/issues/78

[2017-05-03 07:21] #522 closed

[2017-05-03 08:08] #520 closed

[2017-05-03 10:10] #409 closed

[2017-05-03 13:06] DZafirakis opened #527 "With & Without CO2 trades"
You could also include what the national CO2 factor looks like, with and without electricity trade...Check out our article on that...A more static version :) http://www.sciencedirect.com/science/article/pii/S0306261914013117

[2017-05-03 13:56] corradio commented on #527
Hi @DZafirakis ,

It seems to me that this would be exploring a potential scenario where there is no trade. Quite interesting, but the map in this current state should only show a "real" view of the system right now.
Thanks for sharing though!

[2017-05-03 13:56] #527 closed

[2017-05-03 13:56] #283 closed

[2017-05-03 13:56] #335 closed

[2017-05-03 15:04] #455 closed

[2017-05-03 15:06] #268 closed

[2017-05-03 17:35] DZafirakis commented on #527
Hi @corradio

Now you give one value for carbon intensity per country. Does this include electricity trade or is it based on local production alone? This is what I propose. Having two values to demonstrate the impact of electricity trade on the national carbon intensity...Best

[2017-05-03 18:15] brunolajoie commented on #524
Reading your comments, I think option2 is the most pertinent.
@oli do you agree to change scale name to "Wind speed" in that case?
As for the analysis, yes they will also work with wind speed, but, in theory, they should be more precise with wind power, right? anyway, we'll see!

[2017-05-03 18:58] TogetherForLess opened #528 "Realtime total electricity production Netherlands"
You can find the realtime total electricity production in the Netherlands at this site

[http://www.tennet.eu/nl/elektriciteitsmarkt/data-dashboard/productie/](url)

The theoretical production of renewables here
[http://energieopwek.nl/](url)

[2017-05-04 06:19] superlonglong opened #529 "South Australia is broken"
South Australia no longer displays generation as of 4 hours ago.

Now no longer links to http://services.aremi.nationalmap.gov.au/aemo/v3/csv/all

Interconnector still works.

[2017-05-04 07:43] corradio commented on #529
It's because the coal production is unknown, and therefore it does not pass our data quality filter.
Any idea if SA should have a coal production?

[2017-05-04 08:01] superlonglong commented on #529
thats not right.

All coal power plants have been closed in SA.

https://en.wikipedia.org/wiki/Playford_B_Power_Station
 Playford B was mothballed in 2012 and its permanent closure was announced by operator Alinta Energy in October 2015.

https://en.wikipedia.org/wiki/Northern_Power_Station_(South_Australia)
 The plant ceased electricity production in May 2016 and decommissioning is underway.

Not

[2017-05-04 08:04] corradio commented on #529
Great, I'll add that information to the parser then. Any other production mode we can, for sure, set to 0?

[2017-05-04 08:06] corradio commented on #528
Hello @TogetherForLess,
We already have an issue to cover NL: #78
Unfortunately the data sources you mention won't help, as they don't give us a live breakdown of the generation.

[2017-05-04 08:06] #528 closed

[2017-05-04 08:10] corradio commented on #527
Hello @DZafirakis ,

Yes indeed it does take into account trade. See https://github.com/tmrowco/electricitymap/blob/master/CO2eq%20Model%20Explanation.ipynb

[2017-05-04 11:31] superlonglong commented on #529
Nuke, Geothermal.

For South Australia, there isnt any hydro either.

[2017-05-04 11:44] corradio commented on #529
Noted. SA should be back now.

[2017-05-04 11:44] #529 closed

[2017-05-04 13:35] KetsOne commented on #468
I agree implementing this as a country-specific CO2 factor for natural gas should improve the accuracy.
Example for the Netherlands: https://www.rvo.nl/sites/default/files/2015/12/Nederlandse%20energiedragerlijst%20versie%20april_2015_def_0.pdf

But even then the way the technology used for generating the electricity from gas also plays a big role in the CO2 intensity if no fuel quantities are kno

[2017-05-04 18:46] TogetherForLess opened #530 "realtime production in Bulgaria"
I think you can find the real time electricity production in Bulgaria at this site

[http://tso.bg/default.aspx/page-707/bg](url)

but my Bulgarian isn't so good  :)

[2017-05-04 19:27] lvandepaer opened #531 "Add other environmental indicators"
Hello,

Would you be interested to add complementary environmental indicators in addition to CO2 emissions and/or update the actual ones? Typical examples of other categories are : smog formation, ozone layer depletion, human toxicity, land occupation, metal depletion etc.

Let me know,

[2017-05-05 04:20] superlonglong opened #533 "ALL Australia is broken"

[2017-05-05 07:44] corradio opened #534 "Solar: blur value should be calculated from degrees, not px"

[2017-05-05 08:22] corradio commented on #533
It seems like the CSV we use (http://services.aremi.nationalmap.gov.au/aemo/v3/csv/all) was updated.
Also it seems like new stations were added. Can you help me map them to the proper state?
cc @snoblenet

feeder_1         | WARNING: station Yambuk Wind Farm does not belong to any state
feeder_1         | WARNING: station Braemar Power Station does not belong to any state
feeder_1         | WARNIN

[2017-05-05 08:23] superlonglong commented on #533
On mobile atm, will do.

On 5 May 2017 18:22, "Olivier Corradi" <notifications@github.com> wrote:

[2017-05-05 08:25] snoblenet commented on #533
Is it possible to change the matching algorithm to a fuzzy/regex match instead of an exact match? New power stations come and go and are officially renamed very slowly, but who knows how quickly AREMI changes the identifiers in the names column? Busy for the next two days but I might be able to progress this Sunday Australian time.

[2017-05-05 08:31] corradio commented on #530
That's interesting. ENTSOE already gives us data, but slightly delayed:

![image](https://cloud.githubusercontent.com/assets/1655848/25738545/0add9224-317e-11e7-931b-140f2d59749c.png)

[2017-05-05 08:32] corradio commented on #531
Hi,
Thanks for the idea. For now we don't think it would make sense, but if someone wants to make such a project we would really love that!

Olivier

[2017-05-05 08:32] #531 closed

[2017-05-05 08:57] superlonglong commented on #533
how can i submit this easiest? is there a table you want me to fill?

[2017-05-05 09:01] corradio commented on #533
You can see the existing table here:
https://github.com/tmrowco/electricitymap/blob/master/parsers/AU.py#L38
You can either submit a pull request to change that file, or you can just send us the changes here.

[2017-05-05 09:01] corradio commented on #533
@snoblenet yes we could do regexp!

[2017-05-05 09:17] superlonglong commented on #533
feeder_1 | WARNING: station Yambuk Wind Farm does not belong to any state,VIC
feeder_1 | WARNING: station Braemar Power Station does not belong to any state,QLD
feeder_1 | WARNING: station Braemar Power Station does not belong to any state,QLD
feeder_1 | WARNING: station Braemar Power Station does not belong to any state,QLD
feeder_1 | WARNING: station Hunter Valley Gas Turbine does not belong to

[2017-05-05 09:17] superlonglong commented on #533
So i discovered i dont know how to upload csv.

[2017-05-05 09:25] corradio commented on #533
That's good enough thanks!

[2017-05-05 09:29] #533 closed

[2017-05-05 10:51] superlonglong commented on #517
Looks like the bug is back

@corradio

[2017-05-05 10:56] corradio commented on #517
This is increadibly confusing.
What is the correct interpretation of the TAS->VIC interconnector?
![image](https://cloud.githubusercontent.com/assets/1655848/25742915/17813e72-3192-11e7-9361-317f0ffa35d6.png)

Right now a negative value from TAS->VIC means exchange from VIC to TAS. Where can we access to ground truth?

[2017-05-05 10:59] superlonglong commented on #517
I have looked a little further, it would appear that there was a spike to $200 in tas, so the direction is correct, even though the price looks the other way. give it another 30 mins and see how it looks.

where did you get those images from?

[2017-05-05 11:01] corradio commented on #517
aemo.com.au/Electricity/National-Electricity-Market-NEM/Data-dashboard#nem-dispatch-overview

On Fri, May 5, 2017 at 12:59 PM, superlonglong <notifications@github.com>
wrote:

[2017-05-05 11:03] superlonglong commented on #517
yeah that should be accurate.

must have had a trip in tas, price spiked, and had the official price looking strange.

you can close this again now.

[2017-05-05 11:04] corradio commented on #517
ok! good we clarified this.

[2017-05-05 11:04] #517 closed

[2017-05-05 14:34] #534 closed

[2017-05-05 21:52] superlonglong opened #535 "Numerous issues in australia"
Gas isnt showing in QLD,
Hydro isnt showing in QLD or VIC
Wind isnt showing in VIC

[2017-05-06 15:14] brunolajoie commented on #261
No specific update on my side, you can close it. We should rather open these types of issues in a case by case basis

[2017-05-06 15:16] brunolajoie commented on #372
@corradio we can close this one now isn't it?

[2017-05-08 09:22] corradio commented on #372
@brunolajoie it was closed on 28 Feb

[2017-05-08 09:23] corradio commented on #261
ok. @brunolajoie , next time, feel free to close it

[2017-05-08 09:23] #261 closed

[2017-05-08 09:25] corradio commented on #535
Seems like the names in the CSV changed again:

feeder_1         | WARNING: station Barcaldine Power Station does not belong to any state
feeder_1         | WARNING: station Bendeela / Kangaroo Valley Pumps does not belong to any state
feeder_1         | WARNING: station Ararat Wind Farm does not belong to any state
feeder_1         | WARNING: station Teralba Power Station does not belong to any s

[2017-05-08 09:55] superlonglong commented on #535
Ugh! Perhaps we should change the unique key to the shorter power station
code?

On 8 May 2017 7:25 pm, "Olivier Corradi" <notifications@github.com> wrote:

[2017-05-08 11:57] #535 closed

[2017-05-08 16:45] strassburger commented on #521
sorry tipo:
data example: of El Hierro
https://demanda.ree.es/movil/canarias/el_hierro/tablas/2

[2017-05-09 10:20] b2000699 opened #536 "Greece: Islands should be split off from mainland grid"
In Greece multiple islands are not connected to the nation's power grid but produce their own electricity in local oil fired plants (e.g. the island of Paros: https://www.google.gr/maps/@37.1246421,25.2544413,3a,41.4y,22.74h,91.12t/data=!3m6!1e1!3m4!1s9Q7Y0cCk3Q4xPnW9R7TozA!2e0!7i13312!8i6656)

It seems that these oil fired productions are not included in the data of ENTSOE because for Greece ther

[2017-05-09 17:28] jermon opened #537 "Compwnsate for For rests and fields."
It should be possible to adjust for CO2 uptake in vegetation like For rests and fields.open data on this exists.

[2017-05-10 08:28] corradio commented on #537
Hi @jermon,
I am not sure I understand. We only focus on CO2 emissions from the consumption of *electricity*.

Olivier

[2017-05-10 08:28] #537 closed

[2017-05-11 08:52] corradio opened #541 "Add Japan"
Seems like real-time data source is available here:
http://agora.ex.nii.ac.jp/earthquake/201103-eastjapan/energy/electrical-japan/

[2017-05-11 15:43] Liang opened #544 "Add Taiwan"
I found the open data from the Taiwan Power.

Web Page:
http://www.taipower.com.tw/content/new_info/new_info_in.aspx?LinkID=27
API: (Encode issue)
http://data.taipower.com.tw/opendata01/apply/file/d006001/001.txt

[2017-05-11 16:50] corradio commented on #474
We have news: issue is identified and being fixed at National Grid. As soon as it gets fixed, CO2 will be updated (retroactively).

[2017-05-12 21:29] magol opened #545 "missing translation in tooltip"
Please make it possible to translate ["**of CO2eq per minute**"](https://github.com/tmrowco/electricitymap/blob/master/web/app/tooltip.js#L22), see image below
Maybe we should change the unit to CO<sub>2</sub>eq too?

![image](https://cloud.githubusercontent.com/assets/493140/26017399/9a01e9be-3769-11e7-90a5-afc13c16d0cb.png)

[2017-05-13 09:20] adamtbeames opened #546 "Multiple production sources not showing in Australia"
QLD not showing gas or hydro
NSW not showing gas or hydro
VIC not showing wind, hydro, or gas

[2017-05-13 19:40] #546 closed

[2017-05-14 13:27] oli commented on #524
@brunolajoie I think you’re after Olivier Corradi. His Github handle is @corradio. Please use @corradio to get his attention. Thanks! 👍

[2017-05-14 21:22] adamtbeames commented on #511
Breaking it down further into postcode areas would be helpful too.
Data available from http://www.cleanenergyregulator.gov.au/DocumentAssets/Documents/Postcode%20data%20for%20small-scale%20installations%20-%20SGU-Solar.csv

[2017-05-15 04:34] BobGrun opened #547 "New Zealand Parser"
In the parser of New Zealand, the information on Gas energy (given on the source) are not read.
Since this is nearly 1/3 of the total energy (on the north island), the resulting total energy is wrong.

In order to fix, the following lines must be added to the two different blogs:

'gas': productions.get('Gas', {'generation': 0.0})['generation'],

'gas': productions.get('Gas', {'capacity': 0.0})['c

[2017-05-15 04:59] adamtbeames commented on #547
@BobGrun it looks like Gas and Coal are bundled together at the moment:

'coal': productions.get('Gas/Coal', {'generation': 0.0})['generation'],
'coal': productions.get('Gas/Coal', {'capacity': 0.0})['capacity'],

You might consider cloning the repo and submitting a pull request.

[2017-05-15 08:45] corradio commented on #545
Of course! Will do it as soon as I have a bit of time.
Feel free to also just add it yourself by a pull request.

On Fri, May 12, 2017 at 11:29 PM, Magnus Österlund <notifications@github.com

[2017-05-15 08:47] jarek commented on #541
From brief exploration on 2017-05-11, I didn't see a real-time generation breakdown by type.

From http://agora.ex.nii.ac.jp/earthquake/201103-eastjapan/energy/electrical-japan/stat/01/ (aggregate, not real time) it looks majority thermal/fossil.

http://agora.ex.nii.ac.jp/earthquake/201103-eastjapan/energy/electrical-japan/stat/25/ (again aggregate over past few years) says thermal gen is ~55% ga

[2017-05-15 08:57] corradio commented on #541
Great. I'll ask from the Tomorrow account!

[2017-05-15 11:46] corradio commented on #474
Dalius from ENTSOE said:

Regarding issue 474:
I asked data provider (ELEXON) to check and correct data. I have some doubts regarding wind on-shore data and it looks to me, that values on ENTSO-E TP are too low.

Feedback from National Grid that I received right now: We currently have a fault in our systems which is causing incorrect onshore wind values to be published.  We are trying to fix this

[2017-05-15 11:51] corradio opened #551 "iOS splashscreen"
Should show the EM logo

[2017-05-15 12:15] #492 closed

[2017-05-15 12:15] #506 closed

[2017-05-15 12:21] corradio opened #552 "Circular gauges for territory header"
![image](https://cloud.githubusercontent.com/assets/1655848/26057354/98ad81a6-3979-11e7-920d-ecd94ad87f51.png)

Would be nice to use a circular gauge to better show % fossil fuel and carbon intensity, for example (I don't like the style though):
![image](https://cloud.githubusercontent.com/assets/1655848/26057370/ad20f212-3979-11e7-9cd9-63fe3886a438.png)

Example:
https://codepen.io/rogerxu/pen/rL

[2017-05-15 13:41] corradio opened #553 "History graph look and feel"
- [x] We should use a horizontal gradient to fill the area under the curve
- [ ] We should use a tooltip to indicate datetime and value
- [ ] We should use a day separator (sunrise/sunset)
- [x] We should have a toggle to show power vs. emissions, potentially vertically stacked, or as a dual axis

[2017-05-16 07:43] #547 closed

[2017-05-16 07:44] corradio commented on #541
Twitter thread: https://twitter.com/electricalJapan/status/864240082764546048

[2017-05-16 08:55] corradio commented on #234
There's something quite interesting, as they are negative numbers for some units:
[code]
They correspond to the gauges on the picture:
![image](https://cloud.githubusercontent.com/assets/1655848/26097700/bc6faeaa-3a25-11e7-8b1e-fb86dc65ca1a.png)

They must represent the storage level somehow. Does anyone have some insights?

[2017-05-16 09:49] corradio commented on #140
@kristjanbb did you get any reply?

[2017-05-16 10:16] corradio commented on #474
Seems to be fixed according to https://twitter.com/wombat361/status/864423663969464322?cn=cmVwbHk%3D&refsrc=email

[2017-05-16 10:40] Dalius-ENTSO-E commented on #474
Just received update that ELEXON fixed issue on Friday. However, I compared data on TP and ELEXON web page and wind generation is significantly higher on TP (by ~600-2000MW). There is still something wrong with ELEXON wind production type data.

[2017-05-16 10:40] corradio commented on #474
Thanks for the update @Dalius-ENTSO-E, I'm re-opening this issue then.

[2017-05-16 10:51] Dalius-ENTSO-E commented on #536
Good observation. ENTSO-E TP publish data only for continental part of Greece because this part of the grid is connected to other countries and this is the part where competitive market is operating. Islands are not connected to the continental part of the grid and they are usually small isolated systems. We might add additional data about islands in the future, once TSO or other information aggre

[2017-05-16 11:18] Dalius-ENTSO-E commented on #474
Explanation about differences on ELEXON and TP is that only metered generation is reported on ELEXON web page (normally >100MW). Data on TP is more complete that includes also metered and estimated small scale wind generation. Historical period should be updated with correct values during next few days.

[2017-05-16 12:02] Dalius-ENTSO-E commented on #530
We are checking with Bulgarian TSO which production types should be not expected and when this data submission delay can be reduced. Waiting for feedback from ESO.

[2017-05-16 13:02] corradio commented on #530
Thanks for looking into this!

[2017-05-16 13:02] corradio commented on #474
Very interesting. @Dalius-ENTSO-E can you close the issue unless there something else you wish to investigate?

[2017-05-16 13:04] corradio commented on #536
Thanks for clarifying! I guess we should only color the continental part of Greece then.

[2017-05-16 13:25] Dalius-ENTSO-E commented on #321
Correct, if you want to query LT<>RU-KGB border, you have to use Kaliningrad area code 10Y1001A1001A50U . 10Y1001A1001A49F is a EIC code of mainland of Russia.

[2017-05-16 13:27] corradio commented on #321
Thanks. We should probably split RU in two zones in the Electricity Map.

[2017-05-17 08:52] jarek commented on #234
Water levels are found in the XML. I haven't found the storage flows yet though. I don't know if there actually are any - maybe they're only replenished naturally.

[code]

Exploration in progress of the JS used to draw the gauges: https://gist.github.com/jarek/47034b6fd5a5aba20755b610120a90ed

[2017-05-17 10:36] corradio commented on #234
Thanks for the help. Do we have an idea of the unit of the storage level?

[2017-05-17 12:21] jarek commented on #234
Per http://www.sev.fo/Default.aspx?ID=193&Action=1&NewsId=2921&PID=392 , pumped storage is not currently used.

I haven't found the units officially yet. https://en.wikipedia.org/wiki/Ei%C3%B0i_power_plant says the dammed reservoir behind the station is "elevation 129 to 149 meters", which is 20 meters, which matches `Eidisvatn` values in XML/JS, so it could just be meters. I couldn't find depths

[2017-05-17 12:27] corradio commented on #234
Ah that's interesting. Well if there's no storage, then we don't need to
include it on the Electricity Map. What do you think? If you agree, let's
close this.

Thanks for investigating.

On Wed, May 17, 2017 at 2:21 PM, jarek <notifications@github.com> wrote:

[2017-05-20 05:26] Agazoth opened #556 "Inconsistent DK <-> SE data in real-time"
It seems like the swedish export disappeas for some datasets.
![20170520_072147-collage](https://cloud.githubusercontent.com/assets/15127301/26273301/a91f03ae-3d2d-11e7-9967-c6ea97dcd5d3.jpg)

[2017-05-20 22:11] kristjanbb commented on #140
@corradio nothing useful, just that they would forward it to the right people.

[2017-05-21 16:24] corradio commented on #140
OK. Any chance we will get a reply? Can we nudge them somehow?

On 21 May 2017, 00:11 +0200, kristjanbb <notifications@github.com>, wrote:

[2017-05-21 20:58] kristjanbb commented on #140
@corradio Chance of reply? I doubt it, probably buried in pile of dead suggestions now.

Nudge them? Absolutely. There is landsnet@landnet.is, that probably ends in worlds slowest support desk, but doesn't hurt. On Landsnet contact page one can pretty much reach anyone directly via email, but who do you want to contact? You can reach the technical people directly, but they probably don't have the

[2017-05-22 04:28] Agazoth commented on #556
This seems to be a more general problem. Other countries show strange  readings as well, when Sweden is off.
![screenshot_20170522-062534](https://cloud.githubusercontent.com/assets/15127301/26292625/b90bee68-3eb7-11e7-9fc4-c0ffac365142.png)

[2017-05-22 07:36] corradio commented on #140
I'll try to nudge them.

[2017-05-22 07:45] corradio commented on #556
I think it's because the data is delayed from ENTSOE. Will keep an eye on this.
The display bug however should be fixed.

[2017-05-22 08:02] kommen opened #557 "What is the 'Unknown' production for for Austria"
The unknown production for Austria is always quite high, sometimes 25% of total production as right now, but sometimes also non-existent.

Can anybody shed some light on what this could be?

[2017-05-23 10:49] Dalius-ENTSO-E commented on #474
I think, we explained the difference. I suggest to close this issue.

[2017-05-23 10:49] #474 closed

[2017-05-23 11:36] Dalius-ENTSO-E commented on #325
good observation. Other production type is calculated by data provider. Data provider calculates total generation and then deduct from it the generation of known types. Remaining values are used in Other production type. Indeed, there is something wrong in this calculation, because there should not be big values (at least) in consumption part of Other generation type. It looks to me, that hydro pu

[2017-05-23 13:40] corradio commented on #325
Thanks @Dalius-ENTSO-E. I'm re-opening this one as the issue seems not be fixed if the data provider is still reviewing calculations.
If you agree, let's close the issue when the data provider is finished correcting the data.

[2017-05-23 15:48] allocater2 opened #559 "Lithuania - Sweden Exchange Arrow disappears sometimes"
It's this connection:

https://transparency.entsoe.eu/transmission-domain/physicalFlow/show?name=&defaultValue=false&viewType=TABLE&areaType=BORDER_CTY&atch=false&dateTime.dateTime=23.05.2017+00:00|CET|DAY&border.values=CTY|10YLT-1001A0008Q!CTY_CTY|10YLT-1001A0008Q_CTY_CTY|10YSE-1--------K&dateTime.timezone=CET_CEST&dateTime.timezone_input=CET+(UTC+1)+/+CEST+(UTC+2)

It might be because this conne

[2017-05-23 16:24] corradio commented on #559
If a current value is 0, then the arrow is hidden.
Indeed, future valued should be "-" instead of 0. This would show the last valid value instead.

On 23 May 2017, 17:48 +0200, allocater2 <notifications@github.com>, wrote:

[2017-05-24 03:25] johnstumbles opened #560 "Carbon intensity in last 24 hours - extend timeframe?"
Could there be a control to vary the timeframe e.g. last week, month, year etc?

[2017-05-24 08:08] corradio commented on #560
Duplicate of #427

[2017-05-24 08:08] #560 closed

[2017-05-24 09:39] johnstumbles commented on #427
year history would be useful because it shows seasonal summer-winter variations

[2017-05-25 07:50] corradio opened #561 "carbon intensity color scale should be visible at all times"
This is especially true once you start the mobile app and you can't see the scale.

[2017-05-25 07:51] corradio opened #562 "Mobile toolbar sizing bug in landscape mode"
![image](https://cloud.githubusercontent.com/assets/1655848/26441164/b7ed3b20-412f-11e7-8d94-aec979166627.png)

[2017-05-25 10:16] corradio commented on #83
For inspiration, we could use something like this to explore days:
http://echarts.baidu.com/gallery/editor.html?c=calendar-effectscatter
and then use the history graph to explore within a day.

[2017-05-25 19:05] jarek commented on #166
I have also been working off Statistics Canada historical data, which is pretty good. Follow links from http://www5.statcan.gc.ca/cansim/a33?lang=eng&spMode=tables&themeID=1744&pattern=&stByVal=2&RT=TABLE, particularly "Table 127-0002: Electric power generation, by class of electricity producer; monthly (megawatt hour)" and "Table 127-0008: Supply and disposition of electric power, electric utilit

[2017-05-26 20:09] jarek opened #563 "How to provide exchange CO2 intensities when unknown"
The Canadian province of Prince Edward Island generates only wind electricity (outside of emergencies), and imports electricity from New Brunswick otherwise.

Unfortunately we don't currently have real-time production breakdown for New Brunswick. Based on historical data from Statistics Canada, it is on the order of 300 gco2eq/kwh. (~32% nuclear, ~20% hydro, ~4% wind, remainder various fossils - I

[2017-05-28 15:28] corradio opened #564 "Add Australia WA"
Data is available here:
http://wa.aemo.com.au/Electricity/Wholesale-Electricity-Market-WEM/Data-dashboard#generation-fuelmix

[2017-05-28 18:31] jarek opened #565 "Add data for Argentina"
If my Google-Translate Spanish is correct, there is hourly generation data on http://portalweb.cammesa.com/Memnet1/default.aspx: open "operativos" on the left, then follow "Despacho Real de Generación Térmica" and "Despacho Real de Generación Hidráulica". Make sure to page through the results. Thermal plants will have to be mapped to type, but from other sources, they are mostly/vastly gas, with 6

[2017-05-28 18:40] jarek opened #566 "Add data for South America"
South America generally has decentralized/privatized electricity markets, which might lend itself to real-time reporting.

In addition, someone went through and added a whole bunch of information to Wikipedia: from https://en.wikipedia.org/wiki/Category:Electric_power_in_South_America, follow links to "Electricity sector in [country]" articles that might be good starting points: they have external

[2017-05-29 08:34] corradio commented on #563
Hi @jarek
I can make the necessary changes, probably here:
https://github.com/tmrowco/electricitymap/blob/master/config/co2eq_parameters.js

Do you have any public trustable source/report that we can use to document the use of those specific intensities?

[2017-05-29 14:25] corradio opened #567 "Make sure HTTPS is enforced"

[2017-05-31 11:55] jarek commented on #234
Yeah it looks fine.

The parser sometimes has problems (sees no generation, or only wind generation) but I haven't caught it live yet so don't know if it's a parser or underlying data problem. Can probably close this issue, and if there's any improvements they can go in a separate issue or pull request.

[2017-05-31 12:00] corradio commented on #234
👍

[2017-05-31 12:00] #234 closed

[2017-05-31 16:19] kommen commented on #557
Probably a duplicate of #325

[2017-05-31 16:19] #557 closed

[2017-05-31 16:22] kommen commented on #325
I think I observed the same issue: #557

I just checked now, and for the past day or so, "unkown" is barely shows any activity for Austria. So this might have been fixed now?

[2017-06-01 07:23] #498 closed

[2017-06-01 08:21] #551 closed

[2017-06-02 05:20] Agazoth commented on #556
Any news on this? It is still happening.

[2017-06-02 05:44] corradio opened #569 "Disable Android Splashscreen"
Play store keeps complaining about tablet assets missing.

[2017-06-02 05:44] #567 closed

[2017-06-02 05:47] corradio commented on #556
It seems I've identified the problem. It occurs when ENTSOE sets future values to 0. They should be set to null if there are unknown. This causes our system to believe there's no exchange, and thus hides the arrows.

![image](https://cloud.githubusercontent.com/assets/1655848/26712504/7158ffe4-4767-11e7-9759-00cb5bb1bf21.png)

@Dalius-ENTSO-E can you help us here?

[2017-06-02 05:47] corradio commented on #559
@Dalius-ENTSO-E can you help us here? Seems to be the same issue as https://github.com/tmrowco/electricitymap/issues/556#issuecomment-305692294

[2017-06-02 06:33] #569 closed

[2017-06-02 07:21] Dalius-ENTSO-E commented on #556
The problem is that SvK reports 0 values for the future hours and they do the same with some other data items, for example Actual Total load. I will check with SvK if they can change the way how they report data. Another option is that we can delay publications in the way to not publish future hours. We will check which option can be done faster.

[2017-06-02 07:25] corradio commented on #556
Thanks for the quick reply!

On Fri, Jun 2, 2017 at 9:21 AM, Dalius-ENTSO-E <notifications@github.com>
wrote:

[2017-06-04 12:31] dvavasour opened #570 "Idea: Total Grid Usage and Carbon values"
Hello, love this map.

It would be great if, when you click on a country, it was easy to see the total current grid usage (in GW), and the total current rate of carbon emission. Either as additional squares at the top of the country display, or as another view.

[2017-06-05 07:50] MariusKroon commented on #78
The Netherlands is still showing up as grey on the map yesterday afternoon and this morning, although there are values available on ENTSO-e for production per type for the Netherlands.
The production per type bars are correctly showing the values for the respective fuel types, but somehow the calculation for the emission is not working.

Btw; The bar graph shows question marks for fuel type that a

[2017-06-05 08:53] MCvarial opened #571 "The 'unknown' part in the Belgian generation mix"
Belgium always has a generation of 0,5 to 1GW from unknown sources. This generation is rated at 700g/kWh the equivalent to coal, however Belgium does not have a single coal plant in service. The Belgian grid operator Elia defines this unknown part as

source: http://www.elia.be/en/grid-data/power-generation

These are various generation sources handeled on a state level, for Flanders for example t

[2017-06-06 07:43] corradio commented on #571
Maybe we could say the the unknown part shouldn't change the carbon intensity? Unless you have a solid number I think this is the best situation.

[2017-06-06 07:50] corradio commented on #78
Hi @MariusKroon,

We manually disabled NL for now. Where do you see production values from ENTSOE? We still miss proper values for coal, nuclear and gas, see https://transparency.entsoe.eu/generation/r2/actualGenerationPerProductionType/show?name=&defaultValue=false&viewType=TABLE&areaType=CTY&atch=false&datepicker-day-offset-select-dv-date-from_input=D&dateTime.dateTime=06.06.2017+00:00|CET|DAYTI

[2017-06-06 09:08] MariusKroon commented on #78
Hi @corradio ,

I did some further investigation, the reporting of coal production does seem to be very inconsistent indeed. The 24th of May 2017 does show generation for fossil hard coal on ENTSO-e, all hours less than 100MW. The next day shows all hours as 'n/e' again, so you are correct in saying that the proper, consistent values are missing.

Regarding the nuclear generation, I know that ther

[2017-06-06 09:12] MariusKroon commented on #78
One extra remark on the coal production: RWE is the owner of some coal-fired plants in the Netherlands, and on their website there are actual production numbers available. ( https://www.rwe.com/web/cms/en/59926/transparency-drive/central-europe/utilization/power-generation-review/ ) Amer 9 and Eemshaven A/B are located in the Netherlands .

Somehow these messages are not published towards or proce

[2017-06-06 09:31] corradio commented on #78
Thanks for the analysis @MariusKroon. @Dalius-ENTSO-E do you have any more insights on this case?

[2017-06-06 17:01] MCvarial commented on #571
This seems like the most sensible solution at this point, while it would be possible to get a number for a particular year the generation values are bound to vary year after year.

[2017-06-07 06:42] mpsteenstrup opened #573 "monthly or annual average"
first thank you for this wonderful applet. As a physics teacher I use it to show from which energy sources our energy comes from. A natural question is weather the momentary picture is representative for the countries production.

If it is possible a toggle to se some aggregated data would be very instructive.

hope that it is possible,

best regards Mads Peter Steenstrup, physics teacher Rysenste

[2017-06-07 14:54] corradio opened #574 "Map should be screenshot friendly"
Screenshots taken in the past should have a timestamp associated.
This means removing the X minutes ago in favor of a time + date.

![image](https://user-images.githubusercontent.com/1655848/26885104-ee8a65dc-4ba1-11e7-82de-8216203d073f.png)

[2017-06-07 15:04] scarlac commented on #574
A few points comes to my mind:
- Almost all phones carry a clock, so only date would be necessary.
- To shorten "a few seconds ago" it's worth considering staying with something like "June 5, Now" or "June 5, Just updated" and if last update is older than a threshold, it should use the server data stamp, not device time, so screenshots reveal actual data.

[2017-06-07 15:08] corradio commented on #574
That's a very good idea!

[2017-06-07 15:59] corradio commented on #573
Hi Mads Peter,

Happy to see that this is used in classes in Denmark! We're already working on those issues, see #427 and #83. It's going to be part of a paid premium offering, but we're investigating whether or not it should be free for academia/schools. Either way, we'll probably make some aggregated analysis that we'll throw around the internet that you'll be able to use.
For now: I suggest you

[2017-06-07 15:59] #573 closed

[2017-06-07 16:55] mpsteenstrup commented on #573
Thank you for the fast reply.

Mads Peter Steenstrup, Frederiksberg

[2017-06-12 09:45] MariusKroon opened #575 "Add data for Ukraine"
For the Ukraine the link https://ua.energy/diyalnist/dyspetcherska-informatsiya/dobovyj-grafik-vyrobnytstva-spozhyvannya-e-e/  could be used.
My Ukrainian (Russian?) is really bad, not sure what exactly is mentioned on the site.

[2017-06-12 09:47] corradio commented on #575
Maybe @scottlee120 can help?

[2017-06-12 10:16] jarek commented on #575
In top right there is a link to switch it to English.

The chart works with one Ajax POST call to get a JSON list, very workable.

My Cyrillic is poor, but I take the codes to be:
NPP/"aes" in JSON: nuclear
RES/"vde" in JSON: wind
HPP/"gesgaes": hydro
"consumptiongaespump": hydro storage - negative when water is being pumped
"tec" and "tes" are thermal - tec is cogeneration

Thermal generation is

[2017-06-12 10:24] jarek commented on #575
Throwing https://ru.m.wikipedia.org/wiki/%D0%A1%D0%BF%D0%B8%D1%81%D0%BE%D0%BA_%D1%82%D0%B5%D0%BF%D0%BB%D0%BE%D0%B2%D1%8B%D1%85_%D1%8D%D0%BB%D0%B5%D0%BA%D1%82%D1%80%D0%BE%D1%81%D1%82%D0%B0%D0%BD%D1%86%D0%B8%D0%B9_%D0%A3%D0%BA%D1%80%D0%B0%D0%B8%D0%BD%D1%8B into translator says all of tes/ТЭС is coal, tec/ТЭЦ is specified about 50% capacity gas, some coal, some unknown.

[2017-06-12 10:34] jarek commented on #563
I'm working on writeup/jupyter notebook of how to estimate the Canadian intensities - will update when done :)

[2017-06-12 13:19] corradio commented on #564
More specifically:
http://wa.aemo.com.au/aemo/apps/wa/market-pulse/fuelmix.html

Seems like the plant mapping comes from:
http://wa.aemo.com.au/aemo/data/wa/infographic/facility-meta.csv
and the data for the last 48h:
http://wa.aemo.com.au/aemo/data/wa/infographic/facility-intervals-last96.csv

[2017-06-12 13:22] corradio opened #576 "ENTSOE: Estonia disappeared"
@Dalius-ENTSO-E do you know why?

[2017-06-12 21:37] Dalius-ENTSO-E commented on #576
yes, Elering is not reporting anymore actual generation per production type data. I will warn them and I will provide you some update tomorrow

[2017-06-13 12:17] Dalius-ENTSO-E commented on #576
data submission has been restored. Elering should upload missing data for the period 9/6 18:00 - 13/6 11:00 . So, Estonia is back

[2017-06-13 12:34] Dalius-ENTSO-E commented on #575
Please note, that ETNSO-E is working to add data for Moldova and Ukraine in near future. We are testing internally new area concept at the moment and we should deploy this new concept on our test platform next week.

[2017-06-13 12:42] corradio commented on #576
Hurray! Thanks :)

[2017-06-13 12:42] #576 closed

[2017-06-13 12:43] corradio commented on #575
Great @Dalius-ENTSO-E ! Can you keep us updated? Thanks.

[2017-06-13 12:54] corradio opened #577 "Carbon model seems wrong"
![image](https://user-images.githubusercontent.com/1655848/27083256-38e6eaba-5048-11e7-9abb-b79c419217c4.png)

[2017-06-13 15:15] corradio commented on #544
It would be nice to:
- Add capacities inside the parser, and remove it from the static json file
- Understand what Pumping load and Pumping gen means. Is it storage?

[2017-06-13 15:20] MariusKroon commented on #544
The capacities could easily be extracted and reported back from the request URL. In the current parser they are discarded. Can the capacities be made part of the dictionary that is returned by fetch_production or is there a fetch_capacity function ?

[2017-06-13 15:23] corradio commented on #544
Juste add a dict `capacity` that has the same format as the `production` one 👍

[2017-06-13 15:30] MariusKroon commented on #544
Plenty of room for improvement in the code - I'll see if I can pull this one off :)

[2017-06-13 17:07] corradio commented on #577
Fixed

[2017-06-13 17:07] #577 closed

[2017-06-13 18:38] Dalius-ENTSO-E commented on #530
clarification from ESO: About data submission delay for Aggregated Generation per Type ESO send files every hour but the data is collected 4 times per day, i.e. 1:00, 6:00, 12:00 and 20:00.
Unfortunately we cannot change this in the near future.

[2017-06-13 20:07] corradio commented on #530
@Dalius-ENTSO-E any idea where they get this (apparently real-time) data feed?
http://tso.bg/default.aspx/page-707/bg

[2017-06-13 20:19] corradio opened #579 "Hydro storage in TW has wrong sign"

[2017-06-13 20:28] #579 closed

[2017-06-14 05:08] MariusKroon commented on #511
The last page shows a small overview of production per fueltype, including small scale solar generation. There is a redirect to http://www.nem-watch.info/widgets/RenewEconomy/ - it could be a good source as datafeed for all Australian territories.

[2017-06-14 06:59] corradio commented on #511
I've already talked to the guys at nem watch and they don't have an API :/

[2017-06-14 11:08] corradio commented on #565
@jarek want to take a crack at this one?

[2017-06-14 15:11] eteyssan opened #580 "Idea: Annual averages"
Hi team,

Well done on putting this together, it is a brilliant tool!

Unless you already have it and I have simply missed it, I was wondering if you could have an option to show annual averages for grid carbon intensity?

Thanks!

[2017-06-15 06:44] jarek commented on #565
Hey, sorry, realistically I won't have time to work on this within next 7 days. If anyone else is interested, feel free.

[2017-06-17 18:33] jarek opened #582 "ENTSOE: Denmark data is offline"
Since at least Thursday (15 June) evening European time.

If it's a problem with data not making it to ENTSOE, do we know if there is a list of outages that are known to ENTSOE and that they expect to resolve within a short period?

[2017-06-17 18:39] jarek commented on #582
Norway data also missing since 00:01 UTC 17 June

[2017-06-18 08:15] corradio commented on #582
@Dalius-ENTSO-E do you have any insights?

[2017-06-18 09:02] jarek opened #583 "Idea for dealing with small tap targets on mobile"
I've been looking at the site on a phone and have ran into the issues with small tap targets Google was complaining about :)

I had an idea on how this could be solved:
- when we're on mobile (or otherwise have viewport size too small):
- define areas with small tap targets. These can be hardcoded for now, I would expect. Off the top of my head, this would currently include Portugal, Northern Irel

[2017-06-18 18:08] daniel-callejas-sevilla opened #584 "Add regional data for the US"
From a [reddit comment](https://www.reddit.com/r/dataisbeautiful/comments/6hzgmf/live_map_over_co2_emissions_from_electricity_in/dj2mgcs/?context=3),

[Here's the live data at a regional level](https://www.eia.gov/beta/realtime_grid/#/status?end=20170618T12) for the US.

[2017-06-18 18:40] jarek commented on #584
Hi Daniel,

Thanks for the link. U.S. regional integration was previously discussed as part of #143. Last update on that was that it was problematic more on the display level than on the data level - the system operator area borders are really tough to map and draw accurately. Hopefully it can happen sometime though!

[2017-06-18 20:26] jarek commented on #563
Here is the notebook: https://gist.github.com/jarek/bb06a7e1c5d9005b29c63562ac812ad7 and the write-up with links to the Statistics Canada data tables: http://piorkowski.ca/rev/2017/06/canadian-electricity-co2-intensities/

Around 300 to maybe 400 g for New Brunswick exports (depending on how conservative we want to be) should do it :). I'll try to agitate for proper real-time data in Canada...