[2018-07-23 18:35] systemcatch commented on #1517
I ran the parser 7 times in 1 minute, 2 connections refused and 5 succeeded. Interestingly after a refusal the next run 5 seconds later worked perfectly. We could setup some kind of try/except to get past this?

[2018-07-23 23:20] lorrieq commented on #1518
Hey @alixunderplatz, I'll take this one.

What's the difference between **DALNTH01** and **DALNTHL1** in the json? **DALNTH01** seems to always be zero, maybe we just want to ping [**DALNTHL1**](http://nemlog.com.au/api/unit/DALNTHL1/20180718/20180718/json)?

We have to decide what we want to do when some batteries return values and some return `None` due to a failed API request. For now I just se

[2018-07-24 07:21] alixunderplatz commented on #1518
Hi @lorrieq, no idea what the difference is, but let's go for DALNTHL1 then! Thanks for taking this and for your PR! :)

[2018-07-24 07:31] alixunderplatz opened #1520 "Uttarakhand (IN-UT) data source issue"
The real-time data froze on 26-06-2018 14:57:46 on http://uksldc.in/real-time-data.php
:(

[2018-07-24 13:36] systemcatch commented on #1520
Hopefully no stalled data got imported to the database since this parser reads the date from the page.

[2018-07-24 17:57] ggtronic opened #1521 "CA-QC no data"
Hello...i'm new to github and  live in CA-QC :  no source/data show up for my province ?
https://www.electricitymap.org/?page=country&solar=false&remote=true&wind=false&countryCode=CA-QC

is it possible to at least show static current source for our province ?
seems like only real data fetching can show things ?
We dont have "live" data yet but have this energy source confirmation :
http://www.hyd

[2018-07-25 18:05] strassburger opened #1522 "README.md Typo"
typo in README.md
there:
testing a parser
in line
python test_parser.py DE --target-datetime 2018-01-01T08:00
target-datetime should be target_datetime

[2018-07-26 02:16] ggtronic commented on #1521
thanks for reply : Québec doesnt have a live fetch since its source doesnt change much :  95%+renewable with only 5% to 10% source shift ... your map would look so complete & nice if you would show static historical source for country that doesnt offer live info feed ? our rate are also fix : 5.82centsCAD+tx/kwh first 33kwh/day and 8.92centsCAD+tx/kwh for whats left/day   http://yvesauger.com/wp-c

[2018-07-27 05:41] corradio opened #1523 "Remove opbeat from electricity map frontend server"

[2018-07-27 06:35] corradio opened #1524 "CSS bundle is too large"
![image](https://user-images.githubusercontent.com/1655848/43305410-f489b560-9177-11e8-8c8d-74989dc212b7.png)

[2018-07-27 08:44] #1522 closed

[2018-07-27 08:55] corradio commented on #1517
That's interesting. The parser runs often, so occasional connection refusals should not be a problem.
Maybe we got banned?
@jarek Do the requests from the server sometimes go through, or do they always fail?

[2018-07-27 09:03] lorrieq commented on #1518
closed by #1519

[2018-07-27 09:12] corradio commented on #987
@jarek can we close this now?

[2018-07-27 09:30] corradio commented on #1340
I've asked Twitter for help.

[2018-07-27 09:43] corradio commented on #1499
Thank you for checking @lorrieq !
I'm closing this as this is strictly a backend issue

[2018-07-27 09:43] #1499 closed

[2018-07-27 09:58] energyrevolution opened #1526 "Nuclear Energy - RED"
Dear Electricitymap Team,
I would like you to change the colour-code of the Electricitymap in a way, that the harmful nuclear energy is not giving the psychologically most positive GREEN colour, but to be changed to RED for those countries which use Uranium or other substances for their nuclear power plants.
Thank you
Warm regards

[2018-07-27 10:02] corradio commented on #1526
Hello Krisztina,
Thank you for reaching out.
I understand your concern (and we have a lot of requests that echo your remarks).
In our FAQ you can read that:

## Why are nuclear-powered countries shown as green on the map?

Our focus is solely on carbon emissions. We do not make judgments about nuclear being bad, because then we would end up requiring to do an endless assessment for what "bad" mean

[2018-07-27 10:02] #1526 closed

[2018-07-27 10:13] systemcatch commented on #1517
@corradio how often is the parser running?

[2018-07-27 10:15] #1518 closed

[2018-07-27 10:17] corradio commented on #1517
It depends. It runs continuously and calls the parsers in parallel but waits for them all to finish before sending out a new request batch.

[2018-07-27 10:31] corradio commented on #1483
To make the case clearer, I've made a proposal.
The pathological case (to me) seems to happen when we have a country at 600g which shows in red, as red seems (to me again) not to fit very well into the scale green->orange->red->darkbrown.
The idea is that if we remove red with a darker orange / light brown, maybe the order will be a bit more obvious.

Original:
![image](https://user-images.githubu

[2018-07-27 10:38] systemcatch opened #1527 "US-SVERI data portal is timing out"
This has been going on for at least a week now. The link times out in my browser as well, I think the site is offline rather than us being blocked. I've sent an email to Arizona University and will keep chasing them until I get a response.

[code]

[2018-07-27 10:45] systemcatch opened #1528 "New keys causing problems in US-SPP"
US-SPP is missing from the map due to changes in their data keys.

Error
[code]
Warning
[code]

[2018-07-27 10:54] corradio commented on #1503
I don't think this is a bug.

Here's an example with Greece:
![image](https://user-images.githubusercontent.com/1655848/43317174-231904c0-919c-11e8-9036-2d294cf4c423.png)

![image](https://user-images.githubusercontent.com/1655848/43317073-bd1f3ac2-919b-11e8-8a91-ad4a487122de.png)
Notice how the last 2h of the graph is flat. That's because the last measurement of production is valid for 2h, but af

[2018-07-27 10:56] corradio commented on #1503
Ha! Actually the graphs are allright, it's just that the axis have no lines so we dont see the bounds of the graph!

[2018-07-27 11:22] corradio commented on #1356
Feel free to re-open if it happens again!

[2018-07-27 12:34] systemcatch commented on #1517
Given that the page we use is requested every minute by the main site map display it shouldn't be overloading them. However there is unlikely to be any other requests for that data bar us and the main site.

[2018-07-27 12:39] #1528 closed

[2018-07-27 17:14] alixunderplatz commented on #1520
Looks like it was back online for a few hours, but now its offline again :/

![image](https://user-images.githubusercontent.com/25743609/43336411-20ae7a8c-91d1-11e8-9221-d2ebd3610819.png)

[2018-07-27 18:49] jarek commented on #987
I am working on changing the production parser so that it can handle target_datetime (for up to 3 months in the past). We can close this ticket if you like, I have the URL saved now :)

[2018-07-27 18:54] jarek commented on #987
If anyone else is wondering: this "choppy" import chart today is because 0 MW values on the full hour were inserted by the old code. After deploy of #1515, the corrected values since midnight Toronto time were fetched with every-5-minute timestamps, but the older 0 values were not overwritten, resulting in 0 import from QC on full hour, and correct values in between.

This will not be an issue goi

[2018-07-27 19:30] jarek commented on #1517
My test requests sometimes went through and completed successfully.

Right now it looks like the server got one data point overnight as well. It seems to have been 23:15 Berlin time, which suspiciously is just after midnight in Moldova. Maybe they have a daily limit of requests which we are quickly exhausting? But that would be silly.

![image](https://user-images.githubusercontent.com/47415/43342

[2018-07-28 10:12] corradio opened #1532 "Connection error overlay layout problems"
![image](https://user-images.githubusercontent.com/1655848/43355596-4dd486b2-925f-11e8-8b62-e5ee40b122b0.png)

The connection error (and new app version) boxes should probably be shown at the bottom (above the tabs) on mobile, and at the top on desktop (keep current behaviour).

Also, on mobile, the connection error box is not visible on other tabs (it should!)

On desktop, the overlay is behind t

[2018-07-28 18:10] systemcatch commented on #1527
@corradio
Received a response. Very disappointing news, looks like the SVERI initiative is shutdown.

[2018-07-28 18:30] systemcatch commented on #1517
The parser has to load http://www.moldelectrica.md/ro/activity/system_state first to get cookies so it can then load http://www.moldelectrica.md/utils/load4 with data. All the errors seem to happen with the system_state link so if we had a try/except with a suitable delay to retry again (say 3 times) that may solve the problem? As long as it's not excessive I don't see that being a problem.

[2018-07-29 14:16] jarek commented on #1482
Data point: from https://en.wikipedia.org/wiki/List_of_pumped-storage_hydroelectric_power_stations,  https://en.wikipedia.org/wiki/Ludington_Pumped_Storage_Power_Plant is in MISO area (Michigan) with listed generating capacity of 2172 MW. That actually lines up kinda nicely with the values in charts in Bruno's post.

Another idea: look through MISO website for historical reports as to fuel sources

[2018-07-29 14:44] corradio commented on #1527
I'm thinking we could raise awareness on our Twitter account about this issue.
What do you think @ovbm ?

[2018-07-29 18:40] alixunderplatz commented on #1520
![image](https://user-images.githubusercontent.com/25743609/43369479-6d0e56dc-936f-11e8-89f3-7b76c9ce61ed.png)

It worked again for a longer period this weekend, but then it froze again :/

[2018-07-30 09:42] systemcatch commented on #1160
Still no luck getting access to the part I need.  I suggest someone else build this parser so we aren't losing data, the EM server has full access right?

[2018-07-30 10:21] corradio commented on #1160
There are DC flows here:
http://www.ercot.com/content/cdr/html/real_time_system_conditions.html
![image](https://user-images.githubusercontent.com/1655848/43391970-8975a0fe-93f2-11e8-8398-a25eef600fda.png)

THere's a lot of data but I didn't manage to find generation mix. I could only find wind/solar production and total production.

Here's the source code of the html in case someone wants to take

[2018-07-30 11:16] antifa-ev opened #1533 "Any parseable countries left?"
Do you have all countries with live electricity generation data done? Are there any left?

[2018-07-30 11:18] corradio commented on #1533
Hi @antifa-ev,

The best is to look at the issues to figure out if some countries have data that is not yet on the map.
We created this label but it's not fully up to date:
https://github.com/tmrowco/electricitymap-contrib/issues?q=is%3Aopen+is%3Aissue+label%3A%22parser+buildable%21%22

Olivier

[2018-07-30 11:18] #1533 closed

[2018-07-30 13:59] corradio opened #1534 "Darkmode setting is not remembered as cookie"

[2018-07-30 13:59] corradio opened #1535 "Darkmode should also change panel colors"

[2018-07-30 19:41] jarek commented on #757
Hello,

I've noticed that the zones RU-1 and RU-2 don't have names in the locale files, and so show blank in the zones list:

![image](https://user-images.githubusercontent.com/47415/43418981-ea7ff8de-943f-11e8-9ef8-2c7dd2944826.png)

![image](https://user-images.githubusercontent.com/47415/43419019-079e70c6-9440-11e8-9d88-f96222c042c8.png)

What should they be properly named? Is it fine to name t

[2018-07-30 21:16] alixunderplatz commented on #757
On the website of INTER RAO, it says:
https://www.interrao.ru/en/activity/traiding/tradesb.php

What about choosing these "official" names?

In Russian, that is
"Европейская часть и Урал (Россия)"
and
"Сибирь (Россия)"

And in German
"Europäischer Teil und Ural Region (Russland)"
and
"Sibirien (Russland)"

[2018-07-31 09:25] #1516 closed

[2018-07-31 11:30] systemcatch commented on #1497
More information on Baja California. It has quite a bit of geothermal power which will effect the export mix. Rough breakdown of capacity found so far (likely out of date).

Geothermal - 600-700MW
Oil ~ 200MW
Gas ~ 1500MW (bulk of new generation added recently)
Wind & Solar ~ very little contribution
Hydro - no information found yet, though to be low

[2018-07-31 19:07] jarek commented on #1503
I actually saw this happening again today for NO4 / North Norway. Dumps of `state` endpoint and `history` for NO-NO3 and NO-NO4 at the time when the issue manifested are attached.

![norway 1](https://user-images.githubusercontent.com/47415/43481138-72863476-9505-11e8-90de-74f9c86e42cd.PNG)
![norway 2](https://user-images.githubusercontent.com/47415/43481140-72b43cea-9505-11e8-9b6c-7adb01bd183f.PN

[2018-07-31 19:55] corradio commented on #1503
Thanks for re-opening. We'll get to the bottom of this!
So the last history state is timestamped 2018-07-31T13:00:00.000Z
In theory, this means that its last valid measurement must be after 11:00 (2h tolerance).

The state of the map is timestamped 2018-07-31T13:05:59.744Z
In theory, this means that its last valid measurement must be after 11:05:59.744 (2h tolerance).

What *could* happen is that

[2018-07-31 20:17] jarek commented on #1503
I think the crux here is in the initial report from Bruno:

But actually it's not the last datapoint that is 10 minutes old, it is the last moment of validity of the last datapoint, and the last datapoint is actually 130 minutes old. The question is then how to display that...

As I understand it, the problem is that in database we have data timestamped for discrete time moments, but on front-end

[2018-07-31 20:32] jarek commented on #1503
And also - is the extension 2 hours, or 4 hours?

Right now NEISO is showing a 4 hour extension/trail:

![screenshot - 310718 - 22 29 54](https://user-images.githubusercontent.com/47415/43485349-444074c6-9511-11e8-8bbc-c649799eda3f.png)

The last data update here was clearly at 6:15 CEST, but the flatline extends out to 10:15 CEST (exact times shown above when hovering).

The same is seen for MISO

[2018-07-31 20:41] corradio commented on #1503
I understand your idea. It's actually a bit more tricky than that.
We have many different types of datapoints (exchanges, productions), and every new datapoint have far reaching ramification (think about how an exchange datapoint changes the whole co2 intensities of the whole grid). Therefore, we introduced the grid "state", which is just the latest version of all the different types of datapoints

[2018-08-01 19:08] jarek commented on #1503
Hm, one more possible thing:

- my time now is 8:27 PM
- with a "live" zone, the timestamp shown under zone name is "August 1, 2018 8:25 PM"
- dragging the scrobbler back and forth on a live zone results in the right-most position it goes to being 8:15 PM (if I understand right, EM backend sends out data in 15-minute chunks?)
- Norway is showing currently grey
- when I drag the scrobbler to the pa

[2018-08-02 11:09] corradio commented on #1503
Hi @jarek,
I've quoted some phrases to clarify:

Yes for the histories. The "live" state is emitted at non-periodic intervals. It is emitted as soon as all the parsers have finished running.

I'm not sure I understand that fix. What do you mean by scrobbler? The slider? The history axis?  They both go to the datetime of the current state (8:25).

It depends on other zones that can be reached by me

[2018-08-02 18:16] jarek commented on #1503
Sorry, I've been calling this control the scrobbler:

![image](https://user-images.githubusercontent.com/47415/43601627-ed4e2ae0-968d-11e8-829e-e6e77c14919d.png)

Right now is 8:09 PM, when I load a page I get timestamp 7:57 (that's the stateDatetime I guess):

![image](https://user-images.githubusercontent.com/47415/43602336-f10c2338-968f-11e8-8d6e-94a572edb4ea.png)

When I move the scrobbler a b

[2018-08-02 18:36] #1489 closed

[2018-08-02 18:43] #1532 closed

[2018-08-03 11:43] corradio commented on #1503
Allright, just wanted to make sure I understood you correctly.
You are correct with all your statements. I don't think it makes sense to update the backend, but we could try to be creative in the frontend (I don't really have ideas for now).

I was able to confirm the bug you mention. I'm opening a new issue.

[2018-08-03 11:44] corradio opened #1545 ""Now" position of slider should match `stateDatetime`"
Raised by @jarek :

Right now is 8:09 PM, when I load a page I get timestamp 7:57 (that's the stateDatetime):

![image](https://user-images.githubusercontent.com/47415/43602336-f10c2338-968f-11e8-8d6e-94a572edb4ea.png)

When I move the scrobbler a bit to left then back to as far right as it goes, I get shown timestamp 7:45. Because it moves in 15 minute intervals. Instead, it should show 7:57 at t

[2018-08-03 14:11] lorrieq commented on #1516
This parser is breaking because now that the new month has come the day is a single digit and `arrow` cannot parse the datetime format without a leading zero on the day.
e.g. `3-08-2018 19:39:41` vs `03-08-2018 19:39:41`

[2018-08-07 07:35] corradio opened #1550 "Add JP forecasts"
@tmslaine discovered forecasted data for Japan, which we could add!

See https://github.com/tmrowco/electricitymap-contrib/pull/1543

[2018-08-07 08:15] corradio opened #1551 "Switch French RTE parser to new API"
The old API is deprecated, and we should use this one instead. The parser needs to be updated:

https://opendata.reseaux-energies.fr/explore/dataset/eco2mix-national-tr/api/?disjunctive.nature

Currently France is gray on the map :(

[2018-08-07 08:42] lorrieq commented on #1551
I believe RTE have a [new API](https://data.rte-france.com) with the same generation mix on a 15 minute resolution if you want to stick with them!

[2018-08-07 11:26] corradio commented on #1551
The data.rte-france.com platform is going to be deprecated aswell
apparently.

On Tue, Aug 7, 2018 at 10:42 AM Laurence Quinn <notifications@github.com>
wrote:

[2018-08-07 19:11] alixunderplatz commented on #1517
Seems fixed ;)

![image](https://user-images.githubusercontent.com/25743609/43796871-cbcd5dd6-9a85-11e8-95d0-9d92d2d07a5a.png)

[2018-08-07 19:11] #1517 closed

[2018-08-07 21:02] brunolajoie commented on #1497
These may be contractual agreement, which might (or might not) reflect physical power flow, depending on the topology of the Baja grid. If electricity from these gas power plant is mixed within the Baja power grid, we'll need to look at the whole Baja grid power mix. I've asked Dra. Gabriela for some details!

[2018-08-08 07:07] corradio opened #1553 "Add JP prices"
See https://github.com/tmrowco/electricitymap-contrib/pull/1543#issuecomment-411281685 by @tmslaine

[2018-08-08 15:29] lorrieq commented on #1551
Damn. I'll get to work on updating the parser.

[2018-08-08 20:02] brunolajoie commented on #1551
eCO2mix API is working again as I speak! Closing and reopening is needed!

[2018-08-08 20:02] #1551 closed

[2018-08-09 07:48] brunolajoie commented on #1497
Answer from Dra. Gabriela Muñoz Meléndez:

The WECC joins the Mexican energy system in Baja throughout two main substations in California using three synchronous and permanent interconnections of 800 MW capacities, for a voltage level of 230 kW each. They are operated by the California Independent System Operator (CAISO). Along the northern Mexican border, the BC plants account for 99% (2,626.5 GW

[2018-08-09 10:32] systemcatch commented on #1497
If only those plants are capable of exporting to California then it seems like the correct method is to use the first mix you proposed.

[2018-08-10 13:17] corradio opened #1554 "Toggle between consumption and production view"

[2018-08-10 13:18] corradio opened #1555 "Toggle between physical and contractual accounting"
The idea here is to show on the electricityMap the difference between location-based (physical) accounting and market-based (contractual) accounting.

[2018-08-10 14:25] brunolajoie commented on #1497
answer from Dra. Melendez:

So, it seems reasonable to use a carbon intensity of 453gCO2eq/kWh for US-CA imports from Baja, with the following assumptions: 92.3% gas, 7.7% wind

[2018-08-11 09:25] jarek commented on #1029
Copying out my message from Slack for the record. Steps to ideally create new geometries would be:

- look at the Natural Earth shapefile (linked in https://github.com/tmrowco/electricitymap-contrib/pull/1536#issuecomment-409319168) and note region_cod for each of the provinces in https://github.com/tmrowco/electricitymap-contrib/issues/1029#issuecomment-373960398
- edit topogen.sh to include Ital

[2018-08-11 10:40] alixunderplatz commented on #1242
FYI: I accidentally found a website with some more general and regional info on the profile of mexican electricity generation and the location of power plants - images are from around 2016:
http://www.conacytprensa.mx/index.php/tecnologia/energia/6597-cenace-energia-potencia-electrica

![image](https://user-images.githubusercontent.com/25743609/43990889-4dc5896a-9d62-11e8-8a5a-e12d24e7e812.png)

!

[2018-08-11 12:10] alixunderplatz opened #1558 "Real-time data for Ecuador"
There is generation data per type for Ecuador, which is updated hourly (around minutes :30 to :40).
http://www.cenace.org.ec/docs/InformacionOperativa.htm

Two issues:

1.) OCR is required to read the images with generation figures (actually not really a problem)

2.) The data represents the cumulative generation per type and day. The generation of each hour is added to the previous generation for

[2018-08-11 12:28] #1476 closed

[2018-08-11 13:40] jarek commented on #1558
It would be great to ask them for figures per hour (and if possible in text format), if someone can.

If no other options come up, I don't mind setting up a proxy service that would save previous hours' values and calculate the most recent figure.

[2018-08-11 21:16] eimose opened #1559 "Electricity prices on Bornholm"
The electricity prices on Bornholms are the same as in Denmark East, i.e. DK2.

[2018-08-12 15:02] corradio commented on #1521
Hi @ggtronic,

Thanks for reaching out. I understand your point of view. The electricityMap project really is about showing real-time data. Even if the color doesn't change much, other parameters might evolve over time (load for example). Therefore, we require real-time data. Also, this enables us to put pressure on data providers to publish real-time data.
At this stage we don't have real-time da

[2018-08-12 15:02] #1521 closed

[2018-08-12 15:09] #1559 closed

[2018-08-13 09:17] corradio commented on #1555
Report found for EU 2017:
https://www.aib-net.org/facts/european_residual_mix
https://www.aib-net.org/documents/103816/176792/AIB_2017_Residual_Mix_Results_v13/8eb82c2b-0fe9-5786-6b21-03e8b6830a94
![image](https://user-images.githubusercontent.com/1655848/44023361-6d9e3564-9eea-11e8-8f74-f0ed62939981.png)

[2018-08-13 10:00] systemcatch commented on #1558
With some resizing I can get OCR to work.

![image019](https://user-images.githubusercontent.com/30196510/44025077-fffddf1c-9ee6-11e8-8f53-49e2d97a1c93.png)
[code]

![ec_read](https://user-images.githubusercontent.com/30196510/44025053-ea4fac40-9ee6-11e8-9fcc-0e815ed0c701.png)

It would be fun to use a proxy to make this a real time source, but trying to get a better format from them is probably t

[2018-08-13 15:34] Maggus71 commented on #1397
Here is the installed effect per bidding area in Sweden. Using this you should be able to break down the "other" category and give the users a pretty good picture of what kind of electricity they get in their power outlet.
![skarmklipp 2018-08-13 17 29 06](https://user-images.githubusercontent.com/39273556/44041590-6e1f64e8-9f1e-11e8-8f23-0bd6e2f800ac.png)
![skarmklipp 2018-08-13 17 28 53](https:/

[2018-08-14 08:46] jarek opened #1561 "Costa Rica page has changed and now errors"
[code]

https://github.com/tmrowco/electricitymap-contrib/blob/86f06791f2292c8a20e383a4642ced8b16083333/parsers/CR.py#L178

[2018-08-15 08:14] #1555 closed

[2018-08-15 11:27] brunolajoie commented on #1397
Super interesting. It will be difficult to implement an winter vs. summer change (eMap is ill equipped to deal with such thing). But your table is helping to make assumptions for the SE3 vs SE4 thermal generation breakdown that we needed. Would you have the same table in GWh instead of MW? That would be even more precise. Thank you!

[2018-08-15 17:18] chazanov commented on #1029
I would like to further work on it, but I've got some problems with my local electricitymap instance. When doing this pull request, I've had not yet been able to run it locally.

Now docker works for me, but the colors are wrong and Japan is missing, despite I've just cloned from git.

[2018-08-15 21:19] alixunderplatz commented on #541
@tmslaine Japan looks great on the map!!! 👍

These are the sources for adding the remaining operating NPPs:

**KANSAI**:
[Oi (or Ohi or Ooi) NPP](https://en.wikipedia.org/wiki/%C5%8Ci_Nuclear_Power_Plant) , lowest in the list:
http://www.kepco.co.jp/energy_supply/energy/nuclear_power/info/monitor/live_unten/index.html
with seperate gifs for unit 3 and unit 4
http://www.kepco.co.jp/interchange/nucl

[2018-08-16 06:11] corradio opened #1562 "JP data is mostly unknown"
Hi @tmslaine,

I've been monitoring JP data, and it seems like most states are returning only "unknown" generation. How come?

![image](https://user-images.githubusercontent.com/1655848/44191450-d1c7d480-a12b-11e8-8615-d88720a3239d.png)

[2018-08-16 06:16] corradio commented on #1029
Hi @chazanov,

It makes sense that the colors are wrong (we use fake data locally). Japan
is missing because this PR is behind master. Don't worry about it, it will
be fixed once merged.
I suggest you sync up with @antifa-ev on Slack (slack.tmrow.com) to make
sure there's no double work.

Olivier

On Wed, Aug 15, 2018 at 7:18 PM chazanov <notifications@github.com> wrote:

[2018-08-16 07:27] corradio commented on #1562
Duplicate of #541

[2018-08-16 07:27] #1562 closed

[2018-08-16 07:49] scottlee120 opened #1563 "Real-time production data for South Korea"
http://epsis.kpx.or.kr/epsisnew/selectMain.do

Data is provided in 5-minute intervals across the country as a whole. For now, there's only numbers on total production capacity (공급능력(MW)), actual production (현재부하(MW)), and a reserve capacity/ratio. Working on seeing if there's more detail on production mix.

The EN and KR versions are not the same - for live data, it seems available only on the KR

[2018-08-16 08:01] scottlee120 commented on #1563
http://epsis.kpx.or.kr/epsisnew/selectMainEpsMep.ajax

Chart data raw format

[2018-08-16 08:05] scottlee120 commented on #1563
Historical data by year with a composition breakdown (thermal, nuclear, etc.)

http://epsis.kpx.or.kr/epsisnew/selectEkesKepGrid.do?menuId=010400

[2018-08-16 08:09] Maggus71 commented on #1397
I´m sorry I do not have the same figures in GWh. To my knowledge nobody has that since no authority reports the production per bidding area. Since you have the production figures for the wind, hydro and nuclear production for the whole of Sweden already today it would be pretty easy to distribute the production in the four bidding areas according to the installed effect. Then you should be able to

[2018-08-16 10:52] systemcatch commented on #1563
Further info in #855  that might help you.

[2018-08-16 16:17] tmslaine commented on #541
@corradio
My assumption was that areas with only unknown generation would appear grey on eMap, like New Brunswick, Canada. What will happen if every generation type except unknown is removed from the dictionaries returned by the JP parser?

@brunolajoie
From the pull request:
Japanese Ministry of Economy, Trade and Industry has statistics for the fiscal year 2017 (Apr 2017-Mar 2018) for the nation

[2018-08-16 16:35] corradio commented on #541
Actually CA-NB is manually excluded. The conditions for having a color
(i.e. having a carbon intensity) is just that there is production and
import (with some exceptions for Bornholm and others).

Olivier

On Thu, Aug 16, 2018 at 6:17 PM tmslaine <notifications@github.com> wrote:

[2018-08-16 16:37] systemcatch commented on #1561
Right this is what I'm sending at this point.

[code]

headers some of which I've manually set.
[code]

data
[code]

The cookies are being handled correctly but still no table in the response. @jarek can you take a look as well?

[2018-08-16 17:16] jarek commented on #1562
because we never had a breakdown, other than nuclear production (which needs to be mapped to region), and solar for the one southern region

[2018-08-16 17:18] jarek commented on #541
IMO JP regions other than JP-KY should be excluded until we map nuclear production to region. Colouring based on 100% unknown from yearly breakdown is really pushing the purpose of Electricity Map.

[2018-08-16 17:32] brunolajoie commented on #541
You're probably right

[2018-08-17 10:51] corradio commented on #541
will do

On Thu, Aug 16, 2018 at 7:32 PM Bruno Lajoie <notifications@github.com>
wrote:

[2018-08-19 21:05] jld3103 opened #1570 "Move the FAQ to translations"
[Here](https://github.com/tmrowco/electricitymap-contrib/blob/2d0819058b51b67fe562ed99f1ca8ae9f61dbc39/web/src/components/faq.js#L9) it says:
```this faq object can be moved to translation files at a later date, once we are 100% agreed on its contents```

I think the content should be acceptable, because it wasn't updated/changed for months.

[2018-08-19 22:01] jld3103 commented on #1570
See #1572.

[2018-08-20 10:34] #1570 closed

[2018-08-21 11:34] eimose opened #1576 "Import intensity could fallback on yearly averages when missing/unknown"
When a country, or area, is importing electricity from another country and the exporting country's production sources are unknown, it seems as if the intensity of the imported electricity is set to be equal to the intensity of the importing country. But this is hardly meaningful. Would it be possible to set the unknown intensity of imported electricity to an average or mean value from a historical

[2018-08-21 12:34] corradio commented on #1576
That's a very good idea, which I also wanted to implement. I think it should be quite easy to do on our side. I'll add it on our backlog so we discuss it internally.

[2018-08-21 15:47] brunolajoie opened #1578 "deleted"

[2018-08-21 15:49] #1578 closed

[2018-08-22 17:05] stadelma opened #1579 "The enrgy balance (export - import) per country is missing"
It should be easy to do. on a per country base, sum up all exports in MW and then sum up all imports in MW. Then calculate export minus import and give the number including the sign. A positive number indicates the country exports more then it imports. A negatve sign means the country imports more then it exports. And if you can draw a graph for this balance over a period at a to be selected time

[2018-08-22 18:08] jarek commented on #1579
Hello,

A similar subject was previously discussed in https://github.com/tmrowco/electricitymap-contrib/issues/1030. Would that provide the information you're looking for?

[2018-08-22 18:10] jarek commented on #1030
For what it's worth, when using the Electricity Map lately I have wished for a fourth graph for "outgoing power" as suggested by Bruno on May 4. So +1 on this for me.

[2018-08-23 06:00] corradio commented on #1196
Hey guys. Would it help if we switched to OpenNEM?
See https://opennem.org.au/#/regions/qld
They have a neat API that returns JSON: https://data.opennem.org.au/power/qld1.json

[2018-08-23 08:51] jarek commented on #1196
https://github.com/tmrowco/electricitymap-contrib/issues/1196#issuecomment-381183801

[2018-08-24 20:46] danielsjf opened #1581 "Publish parsers as a separate package on pypi"
I want to integrate electricity prices and CO2 emissions in Home Assistant. HA is a platform for home automation and has many components to 'speak' to other services.

I was thinking about using Python packages to integrate with ENTSO-e, but in that case there would be some custom work in converting that to CO2 emission rates. Some [attempts](https://community.home-assistant.io/t/any-good-ideas-ar

[2018-08-25 17:17] janikgar commented on #1160
I've been intrigued by this issue, as my husband works in the energy industry. Can we reliably infer information from this document? [This](http://www.ercot.com/content/wcm/lists/143977/CapacityDemandandReserveReport-Dec2017.pdf) is ERCOT's forecast for fuel mix through 2027. Look at p. 20 for the winter fuel mix and p. 32 for summer. They include a system-wide fuel mix. Until we can find specific

[2018-08-27 08:55] #1553 closed

[2018-08-28 14:09] lorrieq opened #1585 "Decoding error in JP price parser"
`JP.fetch_price` is failing due to a `UnicodeDecodeError` in `pandas.read_csv`, the CSV file contains Japanese characters. I don't get this issue locally and saw it for the first time on the Kibana logs.

Maybe it's as simple as passing an `encoding` parameter to `pandas.read_csv`. But I'm using the same version of `pandas` that's specified in the `requirements.txt` file, so maybe that's not it. I

[2018-08-28 14:58] corradio commented on #1585
Hmm maybe. @maxbellec any ideas?

[2018-08-28 15:54] corradio commented on #1581
Hi @danielsjf,

Why not use api.electricitymap.org?

Olivier

[2018-08-28 16:58] jarek commented on #1585
I was able to replicate the UnicodeDecodeError on my other Debian installation. Giving `read_csv` `encoding='shift-jis'` seemed to have fixed it. Sorry, I can't debug the locale/encoding settings more right now.

[2018-08-28 17:17] jarek commented on #596
As has been brought up in Slack: there now exists http://carbonintensity.org.uk which has a regional breakdown of CO2eq intensity in Great Britain.

However this shows the _consumption_ mix and not the raw production mix + exchanges we would need. Oli said he had asked National Grid for the raw data but I gather he hasn't gotten it.

The breakdown is also a little weird in that it shows imports fo

[2018-08-28 19:46] danielsjf commented on #1581
Well I checked that but it was quite expensive for some home automation queries. It was €50/month which is a lot for scheduling for instance your dishwasher when it is cheap or when the CO2 emissions are low :-) Therefore I was hoping to integrate directly with the parsers. There is no need for a history.

[2018-08-28 19:46] danielsjf commented on #1581
Well I checked that but it was quite expensive for some home automation queries. It was €50/month which is a lot for scheduling for instance your dishwasher when it is cheap or when the CO2 emissions are low :-) Therefore I was hoping to integrate directly with the parsers. There is no need for a history.

[2018-08-28 20:29] danielsjf commented on #1581
Cool. Didn't find that one. Yes it is certainly for personal use. However, if I build the integration and release it, is that allowed. In that case other people might also start to use it for personal use. In any case, I have no ambition to sell that data directly or use it in any way to make a profit.

Does the API also supports price signals or only CO2? Optimally I would like to cover both.

[2018-08-28 20:43] danielsjf commented on #1581
I also have again the same question. Can I make a python package to interact with the API and publish it on pypi?

[2018-08-29 06:59] corradio commented on #596
Yes those would be DNOs (distribution).

On Tue, Aug 28, 2018 at 7:17 PM jarek <notifications@github.com> wrote:

[2018-08-29 07:03] corradio commented on #1581
Hi @danielsjf,
Yes sure go ahead with the integration. Just let us know what you build, so we can advertise it! Our only limitation is that you're not allowed to make a profit from it (else we should talk, and we should share the earnings).
The API unfortunately doesn't support price signals.
For the pypi co2 signal package, I think you can go ahead. I'd be nice to be kept in the loop, and possibl

[2018-08-29 09:49] #1585 closed

[2018-08-29 12:45] brunolajoie opened #1588 "deleted"

[2018-08-29 12:46] #1588 closed

[2018-08-31 11:57] corradio opened #1590 "Arrows are slowing down the map"
I've noticed that removing arrows speed up the map significantly, especially when the wind is present.
Maybe we should consider drawing them in canvas, or in webgl

[2018-09-01 07:13] jarek commented on #1482
Idea about simple possible solution: whenever "unknown"/MISO's "other" is negative, assign it entirely to hydro storage; when it's positive, assign it to "unknown".

That is, when "other" is -1700 MW, that is possibly made up of say 200 MW run-of-river hydro, 100 MW diesel, and -2000 MW of hydro storage. Instead we assign the whole -1700 MW to hydro storage.

Some data from yesterday (Friday befor

[2018-09-02 08:47] jld3103 opened #1592 "Switch to lokalise.co for translations"
[lokalise.co](lokalise.co) is and online translation platform. It would be very easy to integrate this in the project.
Everyone could see how far the translations for their language are.
[Here](https://docs.lokalise.co/integrations/github) you can see that it is easy to integrate and automate with Github.
I think it would help the people who want to translate the map in their language a lot.

[2018-09-02 09:00] magol commented on #1592
Transifex.com is another greate service to make translations.

[2018-09-02 11:55] alixunderplatz opened #1593 "Namibia is offline"
In the last days, no data for Namibia was on the map.

Looks like the timestamp on the [nampower site](https://www.nampower.com.na/Scada.aspx) is from the future (+1 hour ahead of actual local time, although it's clearly live data).
Can you check if this is the reason? The last modification was due to timestamp issues, too.

Maybe the following part can be expanded to incude data that is up to 360

[2018-09-02 12:28] jarek commented on #1593
I'm betting this is summer/daylight savings time thing again, as seen in https://github.com/tmrowco/electricitymap-contrib/pull/1344

But to be honest https://www.nampower.com.na/Scada.aspx doesn't load for me because the SSL certificate is invalid. That's also the error returned by the parser for me:

`requests.exceptions.SSLError: HTTPSConnectionPool(host='www.nampower.com.na', port=443): Max re

[2018-09-02 12:48] jarek commented on #1593
Ok, adding `verify=False` to https://github.com/tmrowco/electricitymap-contrib/blob/44024d5c00903fc6a5db4c5cc3676d510a8d2011/parsers/NA.py#L40 then gives `ValueError: Namibia scada data is too old to use, data is 23.03472222222222 hours old.` This is because `diff` is something like `-1 day, 23:01:04.836388`.

Using `diff.total_seconds()` in the comparison "works", and on my machine returns:

[cod

[2018-09-02 12:48] jarek commented on #1593
Removing bug label as it's not a bug in our code

[2018-09-02 17:10] brunolajoie commented on #1482
In terms of real-world physics, this looks fair enough, especially as there is little change to have both storage AND other thermal (diesel, solid waste, garbage and wood pulp burners) at the same time!

I'll let oli have a say about the backend data pipeline.

[2018-09-02 18:27] corradio commented on #1482
Thank you for the extensive review @jarek.
As a principle, I tend to try to have reliable data in databases. This
means I strive to have data that is complete in the sense of:
- When looking at hydro data, it actually IS hydro (i.e. we *know* that
it's hydro)
- When looking at hydro data, we know it includes all of the hydro (i.e.
there's no other hydro that has been added to other categories)

I

[2018-09-04 11:32] #1483 closed

[2018-09-06 14:00] #1534 closed

[2018-09-09 09:34] bmckinlay opened #1595 "Data temporarily unavailable"
Fantastic site, but frustrating that large portions of the data often seem to be "temporarily unavailable"!

<img width="513" alt="screen shot 2018-09-09 at 10 32 59" src="https://user-images.githubusercontent.com/13368547/45263139-daa28200-b41b-11e8-88c4-bc21aeefde08.png">

[2018-09-09 09:41] jarek commented on #1595
Hi @bmckinlay, thanks for the kind words! There's some sort of server problem at the moment, we've notified the admins and we'll try to have it back as soon as possible. Please come back and check again :)

[2018-09-09 11:47] jarek commented on #1595
It looks like most regions are back online now.

Some still are unavailable because the data sources changed or are broken (e.g. Costa Rica, Namibia) - those are logged in Github issues here, and will be fixed eventually. In some cases data is unavailable at some times and comes back later, e.g. Argentina after midnight Argentine time. We've noticed this happening quite a lot with Norway, too - th

[2018-09-09 15:09] snarfed commented on #1160
@janikgar did you find any publicly accessible resources for fuel mix?

@corradio if we have total output and fuel mix forecast from the PDF @janikgar linked, i'm guessing you all wouldn't want to just blindly apply the forecasted ratios to the total output and claim that's realtime data, right?

i may look at writing a parser that reports the real thermal, wind, and solar, and then lumps the rest

[2018-09-09 16:45] corradio commented on #1160
@snarfed we strive to never use forecasts to display data, as those might be incorrect. Reporting wind, solar and putting in rest into unknown is not a bad solution to start with.

[2018-09-11 10:43] systemcatch commented on #1590
This includes the import/export arrows right? Maybe removing the animation could help?

[2018-09-11 10:45] corradio commented on #1590
It would, but it would also make me sad :(

On Tue 11 Sep 2018 at 12:43, Chris <notifications@github.com> wrote:

[2018-09-11 11:25] bmckinlay opened #1596 "Incomplete data being reported for Great Britain"
As much as I would like the UK's grid to be 90% renewable, this doesn't seem correct. Data for gas & nuclear production missing?

<img width="478" alt="screen shot 2018-09-11 at 12 21 20" src="https://user-images.githubusercontent.com/13368547/45357241-a4046d00-b5bd-11e8-8c25-317b0f9ba7c4.png">

[2018-09-11 11:27] systemcatch commented on #1473
For this one we could make a try/except that catches this and generates a warning rather than an error.

[2018-09-11 11:36] systemcatch commented on #1596
Yes this is clearly wrong, unfortunately it looks like the quality filters haven't caught it so far.
![gb_drop](https://user-images.githubusercontent.com/30196510/45357599-9dc2c080-b5be-11e8-9270-bf2fd09f53b8.png)

[2018-09-11 11:43] corradio commented on #1596
It seems like the validation code from the ENTSOE parser (https://github.com/tmrowco/electricitymap-contrib/blob/master/parsers/ENTSOE.py#L293) hasn't been ported to the ELEXON parser:
https://github.com/tmrowco/electricitymap-contrib/blob/master/parsers/ELEXON.py#L210
Someone fancy adding that check?

[2018-09-11 11:45] corradio commented on #1590
Every arrow is a different GIF. Arrows are hidden/shown on zoom/drag. I
don't know of other formats that are universally supported.
We tried with SVG but that was slower due to CPU-bound animations.
I think an alternative could be to animate in canvas.

On Tue, Sep 11, 2018 at 1:24 PM Chris <notifications@github.com> wrote:

[2018-09-11 16:38] #1473 closed

[2018-09-12 11:14] systemcatch commented on #1590
Maybe we could reduce it to one object that just gets properties (rotation, colour, pulse), or possibly use CSS sprites in some way (sorry if I'm going over stuff you've already thought of, I'm just throwing out random ideas).

By canvas you mean the way countries are drawn?

[2018-09-12 11:49] corradio commented on #1590
Countries are drawn using WebGL, but the wind animation is actually drawn
using canvas. We could do the same with arrows.
I don't know about CSS sprites or about how we would just have on object.
Are you able to investigate? That could be good ideas.

Olivier

On Wed, Sep 12, 2018 at 1:14 PM Chris <notifications@github.com> wrote:

[2018-09-12 11:49] #1507 closed

[2018-09-12 16:37] systemcatch commented on #1276
Where would be the place to fix this @corradio ?

[2018-09-13 05:08] corradio commented on #1276
I think it would require debugging the `sortedProductionData` object in countrytable.js, L491

[2018-09-13 09:14] systemcatch commented on #1276
Seems like on [L492](https://github.com/tmrowco/electricitymap-contrib/blob/master/web/src/components/countrytable.js#L492) it is checking whether each type is not storage and assigns a value of zero if that comparison it returns false.

[2018-09-13 16:23] brunolajoie opened #1600 "GB-NIR fetch historical data available with 15-min"
Using the same sources than current parser for live data.

http://ws.soni.ltd.uk/DownloadCentre/aspx/FuelMix.aspx
http://ws.soni.ltd.uk/DownloadCentre/aspx/SystemOutput.aspx
http://ws.soni.ltd.uk/DownloadCentre/aspx/MoyleTie.aspx

Quite interesting as current database is 80% empty for NIR
![image-2](https://user-images.githubusercontent.com/22095643/45501672-22117100-b782-11e8-89d1-b8d489bdb5fe.pn

[2018-09-14 07:46] #1114 closed

[2018-09-14 09:40] systemcatch commented on #1600
I'll do this one.

[2018-09-14 09:43] corradio commented on #1177
Shall we rename this issue to MISO <-> SPP exchange?

[2018-09-14 09:44] corradio commented on #1126
Is this still happening @nvbargen ?

[2018-09-14 10:37] nvbargen commented on #1126
Yes, I still can't see the solar shading regardless of whether I have the display in "night" or "day" mode. However, I will get the "solar readout" on scale bar, when moving the mouse pointer around the map.

[2018-09-14 12:02] corradio commented on #1126
ok thanks. Let's try to have someone else able to replicate this problem so
we can gather more datapoints and ideas about how to fix this.

On Fri, Sep 14, 2018 at 12:37 PM nvbargen <notifications@github.com> wrote:

[2018-09-15 13:16] jarek commented on #1482
An alternative is to dig up statistical data on what actually makes up this "unknown" category over longer periods of time. MISO might have it on their website... Unfortunately I don't have time to go searching at the moment.

Last couple of days MISO hasn't gone negative overnight, it looks like this as a sample:

![image](https://user-images.githubusercontent.com/47415/45586597-35474c80-b8fa-11e

[2018-09-16 06:08] #1412 closed

[2018-09-16 06:08] #1371 closed

[2018-09-16 06:08] #1302 closed

[2018-09-16 06:10] corradio commented on #1596
This shouldn't happen anymore after the PR we merged.

[2018-09-16 06:10] #1596 closed

[2018-09-16 06:11] corradio commented on #1581
Closing this as there's nothing we can do. Feel free to re-open if you think otherwise!

[2018-09-16 06:11] #1581 closed

[2018-09-16 06:12] corradio commented on #1503
@jarek I'm closing this as I don't think there's anything we can do. Feel free to re-open if you think otherwise.

[2018-09-16 06:12] #1503 closed

[2018-09-16 06:13] corradio commented on #1442
I'm closing this due to inactivity. Feel free to re-open if this is still an issue.

[2018-09-16 06:13] #1442 closed

[2018-09-16 06:13] corradio commented on #1249
@lorrieq were you able to do it? Else I'll simply un-assign you.

[2018-09-16 06:15] corradio commented on #1232
@magol @brandongalbraith I'm closing this issue due to inactivity. As much as I love the idea, I'm not sure we can do much about it right now.

[2018-09-16 06:15] #1232 closed

[2018-09-16 06:15] corradio commented on #842
Closing this as it's not a priority. Feel free to re-open if you think otherwise!

[2018-09-16 06:15] #842 closed

[2018-09-16 13:02] jarek commented on #1356
![image](https://user-images.githubusercontent.com/47415/45596759-7ce4db80-b9c1-11e8-89ac-409c7f7c2022.png)

[2018-09-16 13:09] jarek commented on #1356
Honestly I'm not sure what we can do to prevent this. Maybe discard data in the parser if data for more than a few datapoints have the exact same sum?

I also noticed that https://sger.coordinador.cl is an under-construction page. The main domain has some content like https://www.coordinador.cl/sistema-informacion-publica/portal-de-operaciones/operacion-real/generacion-real-de-las-centrales/ but c

[2018-09-17 01:46] brandongalbraith commented on #1232
@corradio Good call on closing this. After having spent a few hours digging and speaking to an ISO operator, it turns out that this problem is huge. I'd be interested in hearing what your team's idea of an ideal API for consumption would be, which would help me mount a standardization effort (which might be in vain but would be fun to attempt). If/when you've got the time, feel free to get in touc

[2018-09-17 08:04] #1600 closed

[2018-09-17 11:52] corradio commented on #1029
@alixunderplatz I need help on making the mapping between ENTSOE bidding zones and the zones that you defined.

![image](https://user-images.githubusercontent.com/1655848/45621502-dc55f080-ba80-11e8-94ca-81555a058d38.png)

Can you help?

[2018-09-17 13:37] #1274 closed

[2018-09-17 17:42] corradio commented on #1276
I have a local fix:

![image](https://user-images.githubusercontent.com/1655848/45640003-c6145880-bab1-11e8-96ab-efbfc5067694.png)

[2018-09-17 17:43] #1276 closed

[2018-09-17 19:49] alixunderplatz commented on #1029
@corradio sure! :)

IT-NO" includes ENTSO-E zone "BZN|IT-North"

"IT-CNO" includes ENTSO-E zone "BZN|IT-Centre-North"

"IT-CSO" includes ENTSO-E zone "BZN|IT-Centre-South"

"IT-SO" includes the sum of ENTSO-E zones "BZN|IT-South", "BZN|IT-Brindisi", "BZN|IT-Foggia", "BZN|IT-Rossano"

"IT-SAR" includes ENTSO-E zone "BZN|IT-Sardinia"

"IT-SIC"includes the sum of ENTSO-E zones "BZN|IT-Sicily" and "BZ

[2018-09-17 20:11] alixunderplatz commented on #1593
The image is refreshing and showing the recent timestamp and date correctly.

![image](https://user-images.githubusercontent.com/25743609/45647469-3927ca00-bac6-11e8-835d-da688201580a.png)

It is still grey on the map, though 😢 What is the reason?

[2018-09-17 20:20] corradio opened #1605 "DE-AT-LU Split"
Seen on the ENTSOE TP:

Does this affect us? cc @brunolajoie @alixunderplatz

[2018-09-17 20:29] alixunderplatz commented on #1605
I totally missed this development o.O

I think this will only affect the electricity price for the zones, no influence on generation mix in the countries whatsoever, as it's split by country already.

It will lead to higher electricity prices in Austria, I assume...

[2018-09-17 20:36] alixunderplatz commented on #1029
@corradio We include these "micro bidding zones", which consist of a power plant feeding in to one node in the grid, in the surrounding larger bidding zones.
Imagine there is a substation in the grid where one power plant and its units are feeding in, and that's it. These micro-zones only do exist due to grid or market restrictions.

[2018-09-17 20:38] corradio commented on #1029
very clear thanks.

[2018-09-18 09:14] #1523 closed

[2018-09-18 10:09] systemcatch commented on #1242
MX exchanges are failing due to SSL verification of of the sites certificate.

[2018-09-18 14:08] brunolajoie commented on #1605
It might be interesting to monitor if this improves the quality of data per control area for germany (to allow us to split in 3 areas as per #1216)

[2018-09-18 19:49] alixunderplatz commented on #78
Any news from TenneT?

![image](https://user-images.githubusercontent.com/25743609/45711627-76559000-bb8a-11e8-995c-c320464e69e5.png)

![image](https://user-images.githubusercontent.com/25743609/45712136-d26ce400-bb8b-11e8-85d0-c1e7dde982ad.png)

[2018-09-18 20:09] corradio commented on #78
No news on my side unfortunately..

On Tue 18 Sep 2018 at 21:49, Alex <notifications@github.com> wrote:

[2018-09-19 11:18] Neamar opened #1608 "Repository link is http, not https"
This is a very simple issue:

![image](https://user-images.githubusercontent.com/536844/45750154-f967fc00-bc05-11e8-94a4-93be5bc5d757.png)

The link to electricitymap is still using the http:// version. There is a redirect in place already, but with the push from Chrome to have everything under https, it's probably worth updating there too.

Keep up the good work :)

[2018-09-19 12:12] corradio commented on #1608
Good point. Done :)

[2018-09-19 12:12] #1608 closed

[2018-09-19 16:16] jarek commented on #1593
Namibia is now back follow systemcatch's PR

[2018-09-19 16:16] #1593 closed

[2018-09-19 20:07] alixunderplatz commented on #1242
Total generation for all Mexican zones could still be added to the map as well (like for Japan), although there is no value added regarding carbon intensity. But it's always interesting just to have it and visualize it.

https://www.cenace.gob.mx/Paginas/Publicas/Info/DemandaRegional.aspx

![image](https://user-images.githubusercontent.com/25743609/45777929-71124700-bc57-11e8-8923-68a7502efa32.png

[2018-09-20 09:17] systemcatch commented on #896
I'm going to take a look at getting this one up and running. Can you guys figure out some of the carbon intensities we should be using here.

[2018-09-20 14:34] corradio commented on #1029
Should be online in a bit. The only thing missing now is SACODC/AC.

[2018-09-20 15:59] corradio opened #1610 "Map navigation using arrow keys should not focus search box"

[2018-09-21 15:29] brunolajoie opened #1612 "Refine Italy regions "unknown" fuel source"
"Unknown" fuel type is pretty important for Italy, especially in the North.
This issue is about investigating, on average over a year, what type of fuel mix "unknown" comprises of, in order to upgrade its related carbon intensity on the electricityMap.
![image](https://user-images.githubusercontent.com/22095643/45890682-db47fa80-bdc3-11e8-9896-b274900367b4.png)

[2018-09-21 17:10] alixunderplatz commented on #1029
I totally forgot about generation capacities for the new regions.
This website from TERNA has a very nice breakdown by regions for renewable sources, which have to be aggregated in the respective bidding zones:

https://www.terna.it/en-gb/sistemaelettrico/fontirinnovabili.aspx
![image](https://user-images.githubusercontent.com/25743609/45894727-81e5c880-bdcf-11e8-8606-3c81185bf5b3.png)

_____

ENT

[2018-09-22 16:59] alixunderplatz commented on #757
We could add the wholesale electricity price if desired:

http://br.so-ups.ru/Public/MainPageData/BR/IndicatorBR.aspx
Select price zones 1 and 2 to access the tables. The left column of the two is the correct one to use:

![image](https://user-images.githubusercontent.com/25743609/45919645-cdb07480-be98-11e8-9ac8-caca895a4b80.png)

[2018-09-24 09:47] #1356 closed

[2018-09-24 10:15] corradio commented on #1576
@brunolajoie any take on this?

[2018-09-25 05:27] corradio opened #1613 "ES-IB: coal should be required?"
![image](https://user-images.githubusercontent.com/1655848/45994560-7ecf2e80-c094-11e8-947f-aa2525af88af.png)

[2018-09-25 05:33] corradio opened #1614 "Re-enable IN-PR"
See https://github.com/tmrowco/electricitymap-contrib/commit/3c5e4b9d374b1ba5947ccdd2899474b1c541e508

[2018-09-25 07:33] brunolajoie commented on #1613
Very hard to say. It happened a few time in the past, often seemed buggy, but sometime very close to being truely 0
![image](https://user-images.githubusercontent.com/22095643/45999460-06716900-c0a6-11e8-8578-a8bba35edf78.png)

[2018-09-25 07:35] brunolajoie commented on #1613
probably. But we'll need to be carefull is they really stop coal for any reason in the future
![image](https://user-images.githubusercontent.com/22095643/45999542-40426f80-c0a6-11e8-9721-1249643f9d08.png)

[2018-09-25 07:35] corradio commented on #1613
how do you identify cases where it's truly 0?
We could try to double check that by finding cases where coal is close to 0 and total load is continuous (as opposed to the screenshot I sent where there's a sudden drop in load/production)

[2018-09-25 07:36] brunolajoie commented on #1613
(@oli comment updated above)

[2018-09-25 08:03] #1614 closed

[2018-09-25 13:46] brunolajoie commented on #1576
I think it's a very good idea too!
It requires to compute a fixed default GHG intensity for all zone of electricityMap, I guess, right?

[2018-09-25 14:05] corradio commented on #1576
that's right

[2018-09-25 15:51] eimose commented on #1576
You forecast the co2 intensity for all areas. Couldn't you just use that when actual values are missing?

[2018-09-25 19:20] corradio commented on #1576
Indeed @eimose but it poses certain threats as people might scrape the results and not pay for our API :(

[2018-09-26 10:48] systemcatch commented on #896
Quick question, can we create the GB shape from a mix of subunit and state shapes? There's 80+ adm1 regions which is going to be a pain to work with. It'd be nice to keep the England & Wales subunits and just build Scotland from regions.

[2018-09-26 10:56] corradio commented on #896
there's no reason why we couldn't code it that way!

On Wed, Sep 26, 2018 at 12:48 PM Chris <notifications@github.com> wrote:

[2018-09-26 16:59] jarek commented on #1613
Hey guys, sorry to harp on about this. But this kind of problem comes up repeatedly for different parsers and it would really be easiest to solve on the backend by rejecting points with too big of a difference in local consumption from previous datapoint.

Here we could add a filter saying that more than 20 MW of coal is required. Then coal drops to 25 MW and we have a similar hole in the chart. O

[2018-09-26 17:19] corradio commented on #1613
What bout coding à simple derivative filter in the data validation method
that we can apply to all inputs?

On Wed 26 Sep 2018 at 18:59, jarek <notifications@github.com> wrote:

[2018-09-26 20:42] alixunderplatz commented on #1613
The coal power plant on Mallorca has 2x125 MW and 2x130 MW hard coal units.
To have at least one of the blocks running seems like a basic requirement for save grid operation on the Balearic islands.

From brunos graph you see that coal usually is above 100 MW.
Lowest I could find this year was [74 MW on 16th April](https://demanda.ree.es/visiona/baleares/mallorca/acumulada/2018-04-16) during a pos

[2018-09-28 13:57] maxbellec opened #1616 "button to discard onboarding"
We should be able to skip the onboarding with a single, easy to see button.
Optionally, the onboarding should disappear if we click in the space around it.

[2018-09-28 14:19] corradio commented on #1616
I think the space button already does that

On Fri 28 Sep 2018 at 15:57, maxbellec <notifications@github.com> wrote:

[2018-09-28 15:05] maxbellec commented on #1616
yep indeed, that should help

[2018-09-29 19:12] tmslaine commented on #1612
ENTSO-E transparency platform has a lot of large units in Italian bidding zones listed with fuel type 'Other'.
A data-driven solution to this issue could be something like:
A) Check if 'Other' generation from data view 'Actual generation by Type' can be mimicked by summing generation from units of category 'Other' from data view 'Actual generation by Unit' in the transparency platform
B) If A) is

[2018-09-30 21:12] eimose commented on #1576
That makes sense. However, I would think the forecast is only valuable if it is for the following 48 hours and not if it is only for the current hour. In other words, you could make the carbon intensity forecast for the current hour available instead of the full forecast and then use this value for a country, if the data source fails for a period. This would also challenge you on speed, as you wou

[2018-10-01 13:17] #1616 closed

[2018-10-01 22:18] lorrieq commented on #1605
To fix the prices for these three countries on the map and close this issue:

`ENTSOE_DOMAIN_MAPPINGS`:
- Add key `DE-LU` with value `10Y1001A1001A82H`

`ENTSOE_PRICE_DOMAIN_OVERRIDE `:
- Remove key for `AT`
- Change value of keys `DE` and `LU` to `ENTSOE_DOMAIN_MAPPINGS['DE-LU']`

If nobody has time beforehand, I can get to this tomorrow evening.

[2018-10-02 06:37] brunolajoie opened #1618 "Investigate non-ENTSOE data source for Portugal Production mix"
ENTSOE TP data for PT has been returning "N/A" for more than 2 weeks now.
It might be good to start looking at other data sources for production mix, if it exists

[2018-10-02 09:41] systemcatch commented on #896
Reading the latest Energy audit from http://www.oref.co.uk/resources/orkney-energy-audit/ it mentions the following capacity figures.

Wind - 48MW
Solar - 1.2MW
Wave - research only at the moment but leases held for 550MW in future.
Tide - same as above for 530MW.

@alixunderplatz any idea for their carbon intensity?

[2018-10-02 16:47] lorrieq commented on #1605
[Sample output](https://github.com/tmrowco/electricitymap-contrib/files/2438815/de_at_lu_prices.txt)

[2018-10-02 17:56] alixunderplatz commented on #1618
I already had a look last week and here is what I could find:

![image](https://user-images.githubusercontent.com/25743609/46367083-09a7be80-c67d-11e8-8ad7-26a0106b1ec9.png)

http://www.mercado.ren.pt/EN/Electr/MarketInfo/Gen/Pages/Actual.aspx

This is the link for downloading the .xls files:
http://www.mercado.ren.pt/UserPagesFase2/Dados_download.aspx?Dia1=2018-10-02&Dia2=2018-10-02&Nome=ProdVeri

[2018-10-03 09:16] systemcatch opened #1621 "US-NEISO is throwing a keyerror"
Been happening for at least a week.
[code]

[2018-10-03 09:56] Dalius-ENTSO-E commented on #1618
Hi,
Yes, we see that data submissions stopped from REN. REN is informed and I will update you as soon as I will get some news from them.

[2018-10-03 11:00] Dalius-ENTSO-E commented on #1618
Hi,
The issue happened with REN communication system on the 27th of September, ~23:00 (not 2-3 weeks). Good news - issue has been resolved and data submissions are renewed. All  missing data should be delivered during today or during tomorrow at the latest.
Best regards,
Dalius

[2018-10-03 13:48] Dalius-ENTSO-E commented on #1618
Actual generation per production type data for PT are already uploaded for the current day and previous days.

[2018-10-04 13:51] jmgarnier commented on #1008
On the follow up for this issue, I think you should have a settings with a  slider to adjust CO2eq for each kind of energy. electricitymap.org is being used as an argument agains renewable energies 😭

I am not sure this what you wanted to happen when starting this business .... Man made climate change is getting worst alarmingly fast 😨. Renewables are part of the solution ... I hope!

[2018-10-04 21:29] alixunderplatz opened #1623 "Create parser for India as a whole"
Hey everyone,
it's been a while since I brought up that source for India's electricity generation in #304:
http://meritindia.in/

We have all categories broken down as needed, except for the "renewables" (mainly wind+solar), which could be simply mapped to "unknown". Thermal category = coal.
Everything else is quite self-explanatory and should be easy to code.
For further details and some sample d

[2018-10-05 06:33] brunolajoie opened #1624 "Onboarding modal text too large for some languages"
For instance in German:
![image](https://user-images.githubusercontent.com/22095643/46519614-43ddaf80-c879-11e8-98c2-d936b77eb55a.png)

[2018-10-05 10:07] brunolajoie commented on #1624
looking at this picture, it would be good to put some opacity in the background electricityMap, to make the modal more visibly floating above

[2018-10-05 13:08] corradio opened #1626 "Historystate implementation should use URLSearchParams"
https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams#Example

[2018-10-05 14:11] brunolajoie commented on #1623
Yeah, i see...i'm really hesistant here, cause in a way we loose the pressure to add data state by state ...and its nice to have a bit of wind vs. solar variability, as we see them currently for Gujarat and Kernataka. What do you think @corradio ?

[2018-10-05 15:39] jarek commented on #1008
Create your own reality?

Even with nuclear at 110 gCO2eq-lifecycle/kWh, French electricity would be, in this year, more climate-friendly than Germany's. Anything else would be guessing the future.

(IMHO)

[2018-10-05 20:27] alixunderplatz commented on #1623
@brunolajoie just to make it clear: it is not my intention to replace the other per-state-data with the new IN-parser. It's just that somebody has to record the data (and if not you guys, who else will :) The visualization of that data is secondary right now).

I see potential here because there is no chance of transparently viewing any electricity data *timeseries* for IN as a whole (1/6 of world

[2018-10-05 21:19] brunolajoie commented on #1623
I share your opinion, but our current backend cannot be disconnected from the front end. Basically, we store what we display on the electricityMap......tough decision!

[2018-10-05 21:34] brunolajoie commented on #1008
Hello @jmgarnier ! Thanks for contacting us!

Rest assure, values for nuclear are currently already including all lifecycle-related emissions! The fact is, that compared to the amount of kWh produced over the lifetime of the plant, CO2 emissions are extremely low. We use IPCC median, but when I look at professional databses such as Ecoinvent, figures are very similar.

We only focus on greenhouse

[2018-10-05 21:47] corradio opened #1627 "Crash reporting: should load before JS"
In order to capture all errors, we should load crash reporting independently of JS.

[2018-10-05 21:56] conrad-heimbold opened #1628 "electricitymap.org doesn't load completely"
The electricitymap.org website doesn't load completely.
The electricity arrow just keeps on beating; but doesn't stop beating. The map is never shown.
In the Fn-F12 console, I could only see http-200-codes; so overloading can't be the problem (overloading would have been indicated by http code 503, 269 or 429).
But I got the following javascript error:

[code]
Full log as file:
[www.electricitymap

[2018-10-05 21:57] corradio commented on #1628
Thanks for the report. A fix is already on the way!

[2018-10-05 22:05] corradio commented on #1628
Should be fixed now. Feel free to re-open if it happens again

[2018-10-05 22:05] #1628 closed

[2018-10-06 10:49] #1627 closed

[2018-10-06 10:58] corradio commented on #1623
I'm actually quite sure we can add a IN parser that is run by the backend
and that is not shown on the map.
We just have to make sure no interconnector is configured to avoid messing
up with the flow-tracing models.

On Fri, Oct 5, 2018 at 11:19 PM Bruno Lajoie <notifications@github.com>
wrote:

[2018-10-08 08:46] jarek commented on #1623
Could this also be done for USA as a whole? Our regional breakdowns there are imperfect due to their complex geography and reporting and especially lack of exchange data (e.g. seasonal changes to imports to California or my favourite hobby horse, missing 2 GW of coal in Washington state).

[2018-10-08 08:49] jarek commented on #1482
OK, happening again, e.g. currently -421 MW at 2:45 local time

[2018-10-08 08:55] corradio commented on #1623
Yes but the problem is that we don't have a reliable parser for the total
of the US AFAIK.

On Mon, Oct 8, 2018 at 10:46 AM jarek <notifications@github.com> wrote:

[2018-10-08 19:40] jmgarnier commented on #1008
@jarek

Not sure what you are trying to achieve with this kind of gut reaction. If you were standing in front of me, I am not sure you would react the same way. Especially with someone you don't know.

The reality is that CO2eq is a complex number to calculate and electricitymap model simplifies the problem by using one number instead of a range => https://www.researchgate.net/publication/22239655

[2018-10-09 10:44] corradio opened #1630 "FR: key coal has negative value -9.0"
[code]

Probably a good idea to set small negative values to 0

[2018-10-09 11:02] jarek commented on #1630
ENTSOE parser does this https://github.com/tmrowco/electricitymap-contrib/blob/27d9f7e8f1641b3b536e9bdb1bf9c1a1c1520041/parsers/ENTSOE.py#L887

Probably makes sense to adapt https://github.com/tmrowco/electricitymap-contrib/blob/926ee622abb0c22cd15a26044c6b218183aa7a52/parsers/lib/quality.py#L79

Using 50 MW or less than 0.1% of total production or something

[2018-10-09 12:40] #1630 closed

[2018-10-09 15:13] brunolajoie commented on #1008
To repeat myself,
- 12g is IPCC median value, we did not "cherry pick" it.
- But still, I have analysed the very reputable ecoinventv3 database, and for a country like France, for instance, LCA emission intensity values are (in gCO2eq/kWh)

  | value_infrastructure | value_operation | value_total
-- | -- | -- | --
electricity production, nuclear, pressure   water reactor | 2.2684 | 10.6401 | 12.90

[2018-10-10 09:33] #1621 closed

[2018-10-10 12:16] jarek opened #1633 "Uruguay unreliable data"
This seems unlikely to be accurate:

![image](https://user-images.githubusercontent.com/47415/46735512-b2b27280-cc96-11e8-9bc4-7cfb51bf2478.png)

It is not a matter of exports either, or interchange data is inaccurate:

![image](https://user-images.githubusercontent.com/47415/46735603-f9a06800-cc96-11e8-8d73-58e09a528886.png)

![image](https://user-images.githubusercontent.com/47415/46735625-08871

[2018-10-11 05:00] #1605 closed

[2018-10-11 07:22] lorrieq opened #1634 "Fix AT->IT-NO exchange on ENTSOE"
Since the DE-AT-LU bidding zone split, the zone codes for this exchange have changed.

My current assumption is that the correct request is to simply use the codes for AT and IT-NO but that ENTSOE haven't sorted this out on their side.

[2018-10-11 11:41] kshirvan opened #1635 "Emissions from Natural gas transportation"
Multiple studies have shown methane emissions from natural gas transportation contribute significantly to the overall natural gas impact on warming of the climate. It would be beneficial to at least put an estimate on this front because methane is actually many times worse than CO2 and thus the results shown on the map are heavily biased when substantial amount of natural gas is used. While data o

[2018-10-12 11:05] AurelWu commented on #162
I also think it's a rather important distinction as the emission values are rather different and using a fixed and global value of 820g for all coal plants distorts the real picture quite a bit in lignite heavy countries.
As the backend is not opensource and the parsers (or at least some, didn't check all) already fetch the different types individually before aggregating them, I am not sure how to

[2018-10-12 19:53] alixunderplatz commented on #162
@corradio @brunolajoie One closed issue that I still have in mind regarding coal in general is #1146

There was a detailed comment that the GHG emissions from coal in general are higher.
The IPCC "world average" for coal is a bit over 1000 g/kWh instead of 820 g/kWh (pulverized coal and probably mostly newer, efficient hard coal plants).
For some reason, "Coal PC" with 820 g/kWh made it to that on

[2018-10-12 20:22] jarek commented on #162
In my experience, many sources (North America particularly) don't specify the type of coal at all, and report only "coal". Tracking down whether lignite or bituminous or anthracite is used in a given region is often possible, but at that point we're running pretty close to issue #738 anyway.

[2018-10-13 09:14] alixunderplatz commented on #162
The most significant countries on the electricitymap with an undistinguishable coal split are Russia, the USA, India and Canada.

![image](https://user-images.githubusercontent.com/25743609/46902500-bc222180-cec6-11e8-9695-fca0d1219145.png)

Germany as largest lignite miner generated 135 TWh in 2016 from 171.5 Mt lignite, so around 0.78 TWh/Mt. The average generating power was 15.4 GW.

Assuming a

[2018-10-15 11:27] systemcatch commented on #1634
This can be closed now due to #1636 ?

[2018-10-15 11:36] lorrieq commented on #1634
Yes, thanks!

[2018-10-15 11:36] #1634 closed

[2018-10-15 11:37] systemcatch commented on #1633
This is the history graph at the moment.

![uy_no_data](https://user-images.githubusercontent.com/30196510/46948714-e4e91900-d076-11e8-9109-9096b4df8736.png)

Frequent error in the logs [here](https://kibana.electricitymap.org/app/kibana#/discover/1710fdd0-2460-11e8-a779-9d01de8d7a71?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now%2Fw,mode:quick,to:now%2Fw))&_a=(columns:!(level,e

[2018-10-15 13:56] systemcatch commented on #1633
This is the url that the Salto Grande function is trying to access, http://www.cammesa.com/uflujpot.nsf/FlujoW?OpenAgent&Tensiones y Flujos de Potencia&15/10/2018 10:00

It returns an error for now as well as past dates. I've noticed that all of the Argentinian exchanges and parser are offline as well. I'll need to investigate this further.

ref #1334

[2018-10-15 14:31] jasonrwang commented on #78
Hi, I just wanted to add some more bad news to this conversation. At the moment (2018-10-15 16:26), the [ENTSOE wind generation data](https://transparency.entsoe.eu/generation/r2/actualGenerationPerProductionType/show?name=&defaultValue=true&viewType=TABLE&areaType=BZN&atch=false&datepicker-day-offset-select-dv-date-from_input=D&dateTime.dateTime=15.10.2018+00:00|CET|DAYTIMERANGE&dateTime.endDateT

[2018-10-16 08:40] lorrieq commented on #1618
Hey guys, are we looking to implement the other source that @alixunderplatz has found or are we ok to stay with the current source and close this issue?
If the former, I can take on the implementation.

[2018-10-16 11:30] systemcatch commented on #1633
I don't see an error with the AR production parser in the logger so not sure why it's not displayed, @corradio ?

All the AR exchanges seem to have moved, none of the links work anymore. Hopefully we can fix them, it's very annoying that the Salto Grande function is stopping UY working.

[2018-10-16 11:58] corradio commented on #1633
I think we have a problem with our logger that is not directing output to
Kibana. We're looking into it (cc @maxbellec)

Olivier

On Tue, Oct 16, 2018 at 1:30 PM Chris <notifications@github.com> wrote:

[2018-10-16 17:33] brunolajoie commented on #1618
Thanks @lorrieq, but I'll close this issue as it seems that ENTSOE data is striclty similar (no better granularity directly from REN), and PT seems back on the map. I've implemented a tracker to see if/how often our current parser fails, and will re-open if that value is too low! Thanks for your proposed help!

[2018-10-16 17:33] #1618 closed

[2018-10-17 09:39] lorrieq commented on #1550
From the conversation in the issue it looks like we can get forecasts for demand and the exchanges. @tmslaine can you detail a bit more where this forecast data is as opposed to the actual data as it's a bit unclear in the issue.

[2018-10-17 09:44] systemcatch commented on #1633
![uysg](https://user-images.githubusercontent.com/30196510/47077476-ed695d00-d1f8-11e8-9ca0-f6b409d479ad.png)

Could we use _compras a salto grande_ instead? cc @alixunderplatz

[2018-10-17 11:48] maxbellec commented on #1633
@systemcatch the errors are logged in kibana. For errors in AR in the last 7 days, see below link.

![screenshot at 2018-10-17 13-47-30](https://user-images.githubusercontent.com/7253902/47084261-45ad5880-d213-11e8-9b2e-17c63edac5c9.png)

 https://kibana.electricitymap.org/app/kibana#/discover/1710fdd0-2460-11e8-a779-9d01de8d7a71?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-7d

[2018-10-17 15:06] systemcatch commented on #1633
Looks like the AR exchanges (including Salto Grande) are working again!

@maxbellec for the production parser I don't see errors anymore.

[code]

[2018-10-17 16:05] jarek commented on #1633
I would _guess_ that it was mostly correct up to around noon UTC today (screenshot timezone is UTC+2), then started breaking. Can we see any reason why?

![image](https://user-images.githubusercontent.com/47415/47100076-f8db7900-d236-11e8-8fc5-e637fa9be5ea.png)

[2018-10-17 16:26] pierremmm opened #1642 "Production by source - suggestion"
It’d be great to have graphs on “who is producing how much” of electricity from à to be selected source.
Would show wind production by country in a graph, same for PV production in another graph, coal production, etc

[2018-10-18 08:42] systemcatch commented on #1633
Big chunk of hydro missing. Checking the logger it looks like the salto grande function was failing again (uses cammesa.com which is a bit unreliable). We might be able to fill in with past data.

[2018-10-18 09:05] jarek opened #1644 "Tooltip says "? $/MWh" when price is 0"
Money for nothing and wind for free...

![image](https://user-images.githubusercontent.com/47415/47143139-c9734d80-d2c4-11e8-9203-8b5ea7584564.png)

Price is actually 0:

![image](https://user-images.githubusercontent.com/47415/47143182-e0b23b00-d2c4-11e8-89b4-1723b06116c8.png)

Parser returns:

[code]

https://api.electricitymap.org/v3/history?countryCode=CA-ON returns:

![image](https://user-ima

[2018-10-18 09:08] jarek commented on #1644
I'm not expert on frontend, but looks like it's here: https://github.com/tmrowco/electricitymap-contrib/blob/8acf8b381dac9643ba19dc10d0ac47ccab8aec63/web/src/main.js#L965

[2018-10-18 09:09] corradio commented on #1644
ha! Nice reference. I'll fix this now.

[2018-10-18 09:09] #1644 closed

[2018-10-19 08:59] systemcatch opened #1645 "Corsica is missing from Entsoe domain mappings"
If this is expected maybe we could add an exception to avoid cluttering up the logger with errors.

[code]

[2018-10-19 11:43] systemcatch opened #1647 "Punjab (India) data format has changed"
http://www.punjabsldc.org/pungenrealw.asp?pg=pbGenReal

These changes are resulting in the datetime, solar & thermal regexs no longer matching. @blackleg do you want to correct them?

[2018-10-19 14:39] uswoods opened #1648 "Question regarding SPP"
This may be offtopic, but does anybody how the price contours at http://pricecontourmap.spp.org/pricecontourmap/ are calculated? Do they play any role in reality?

[2018-10-20 13:27] alixunderplatz commented on #1648
Hi @uswoods !
The key term to look for regarding these price countours of SPP is "nodal pricing". A "node" usually is a substation within the high voltage grid.
It is based on grid constraints as well as bids for consumption and generation on one node of the grid instead of a unique price for the grid/bidding zone as a whole. So this pricing model is "connecting" load and generation on local level

[2018-10-21 22:04] joalb opened #1650 "ERCOT - TX US power prices missing"
Is there any reason you have not been able to add ERCOT to the map?

[2018-10-22 06:47] jarek commented on #1650
Please see #1160 for tracking ERCOT progress

[2018-10-22 06:47] #1650 closed

[2018-10-22 12:45] lorrieq commented on #1647
At the moment it looks like everything is ok again except there is no solar value provided. We can either:
- remove lines 41-43 in [`IN_PB.py`](https://github.com/tmrowco/electricitymap-contrib/blob/master/parsers/IN_PB.py) and set solar production to 0.
- keep the regex for solar but catch the exception that occurs if there's no match and set `solar_value` to 0. Not sure if solar is gone for good

[2018-10-22 15:15] systemcatch commented on #1647
I believe the solar generation is now available at http://www.punjabsldc.org/solarppW.asp?pg=solarppW

[2018-10-22 15:22] lorrieq commented on #1647
Nice!

[2018-10-22 16:28] systemcatch commented on #1520
Still broken as of right now.

[2018-10-22 16:32] systemcatch commented on #1613
I believe a derivative filter is now available from #1640 so can it be applied here?

[2018-10-22 16:42] systemcatch commented on #1288
@alixunderplatz are you still able to do this one?

[2018-10-22 16:49] systemcatch commented on #1405
The SVERI initiative has been shutdown (see #1527 ), closing this issue until we hear about any positive changes there.

[2018-10-22 16:49] #1405 closed

[2018-10-22 18:32] alixunderplatz commented on #1288
@systemcatch nope, not much spare time atm, sorry 😢 I even forgot I had self-assigned this one back then^^

[2018-10-22 18:38] corradio commented on #1613
yeah!

On Mon, Oct 22, 2018 at 6:33 PM Chris <notifications@github.com> wrote:

[2018-10-23 08:59] systemcatch commented on #1647
@alixunderplatz good spot on the biomass, they'll need to be specifically mapped to type.. We should be able to use the "SUSPECT" status quite easily.

[2018-10-25 08:08] lorrieq commented on #1645
Looking at the domain mapping for `FR-COR->IT-CNO` says `FR-COR`'s code is `10Y1001A1001A893` (which is labelled as `Italy_Saco_DC` in the ENTSOE [guide](https://transparency.entsoe.eu/content/static_content/Static%20content/web%20api/Guide.html)).
Maybe we just need to add a mapping to `ENTSOE_EXCHANGE_DOMAIN_OVERRIDE`:
`'FR-COR->IT-SAR': ['10Y1001A1001A893', ENTSOE_DOMAIN_MAPPINGS['IT-SAR']]`

[2018-10-25 11:41] lorrieq commented on #1647
closed by #1652

[2018-10-25 11:41] #1647 closed

[2018-10-25 14:32] brunolajoie opened #1653 "Understand why API/health keeps outputing rapid down & ups"

[2018-10-25 14:42] #1653 closed

[2018-10-25 17:35] yrrahknarf opened #1654 "Double counting of emissions"
Since you include emission from import from a country who already have counting its emission in their country  the sum from each country will be higher than real. I have looked on Sweden and see that you calcukate the produktion in Sweden plus add import even if we export more.

Please explain

[2018-10-26 07:34] brunolajoie commented on #1654
I don't believe we double count, have a look at the screenshot below (but let me know if there is still something unclear, or that i might have missed!)
![image](https://user-images.githubusercontent.com/22095643/47551362-496f6800-d902-11e8-8174-6dc4c851d035.png)

[2018-10-26 08:18] alixunderplatz commented on #1648
@uswoods Feel free to comment if anything is unclear. I'm closing this issue for now.

[2018-10-26 08:18] #1648 closed

[2018-10-26 11:00] lorrieq commented on #1654
To calculate the carbon intensity for exports, the carbon intensity for all production and imports is calculated. I think that you think it is double counting because you can get some high carbon fuel contributing to a higher carbon intensity in both the exporting country and the importing country. But I think this is ok and because the carbon intensity is an average value (gCO2eq/kWh).

[2018-10-26 13:03] yrrahknarf commented on #1654
Lets us make a simple example:

Sweden have from their produktion 40 g and export only to Finland

Finland 200 g from their produktion and 5  from import from Sweden total 205.

Electricity map gives 40 + 205 = 245 g but the emission to the air 240 g

[2018-10-26 13:10] corradio commented on #1654
Hi @yrrahknarf,

For your simple example, electricityMap doesn't do 40 + 205, but instead does a weighted average based on the amount imported and the amount produced. With 10% imports it would be 0.9 * 200 + 0.1 * 5 = 180.5. There's not double counting as the sum of all carbon intensities multiplied by all consumptions is equal to the total amount emitted.

For a more detailed explanation, see ht

[2018-10-26 15:49] corradio opened #1656 "iOS: onboarding button + tabs not visible when app is not installed"
![image](https://user-images.githubusercontent.com/1655848/47577528-6a0de100-d947-11e8-9c0d-1d0c6547b9ed.png)

[2018-10-26 23:30] jarek commented on #1654
I think the other point is that where Electricity Map gives the headline number as "64g" (for example Sweden right now), you have to note the smaller print with units: gCO2eq/kWh. That means that while Sweden is "64g" and Finland "250g", their emissions added up aren't "314g", because the emissions depend on kWh consumed in the two countries.

But I do have a possibly related question: in the Carb

[2018-10-28 09:47] corradio commented on #1654
Hi @jarek,

That's right, the % of emissions shown in your screenshot is based on the
total influx of carbon (without exports/storage).
That's what we mean by "electricity available". Some of it will be exported.
The reason we do that is to be able to showcase an equivalent tooltip for
exported values, that shows which % of electricity available is exported.
This is done to stay consistent with th

[2018-10-28 12:46] yrrahknarf commented on #1654
To go straight to the point:

You should have a value of emissions from electricity generation in each country. The statistical structure for reporting emissions is based on international agreements that the emissions count when they occur. The motive is that emissions within a country can be controlled. The method is used to monitor the climate targets set up within the UN, the EU and nationally

[2018-10-28 12:51] brunolajoie commented on #1654
What you suggest is work in progress ;)
But let's be very clear : we're not double counting anything. If a Danish consumer consumes power at a time when DK imports from Sweden, he **does** consume (and should be accounted responsible for consuming) some nuclear or hydro from Sweden.

[2018-10-28 12:53] corradio commented on #1654
It seems will be fixed by https://github.com/tmrowco/electricitymap-contrib/issues/1554, so I'm closing this issue.

[2018-10-28 12:53] #1654 closed

[2018-10-28 20:01] brunolajoie opened #1658 "Strange behavior of Portugal data"
Could that be wind curtailment? Or, more realistically, data issue?

![image](https://user-images.githubusercontent.com/22095643/47621197-96b32b80-daf4-11e8-8cdb-65dd46a0e7c8.png)

[2018-10-28 22:04] jarek commented on #1658
Listed installed capacity of wind is 5.03 GW and on that bump it reported producing 5.59 GW, the hour before was 3.4 GW and the hour after 2.6 GW. During that hour there was also reported 1.12 GW of hydro storage charging, while the hour before was 83 MW charging and the hour after was 270 MW charging. It looks like the wind point is an error.

[2018-10-28 22:11] jarek commented on #1658
Actually I'm willing to bet this is double-counting due to time zone change. That high point contains wind production from 2:00 to 3:00 before the change and the production from 2:00 to 3:00 after the change added up.

Italy was also weird during that time.

I also saw the following thing, which I'm betting is related to time change, but reporting just in case: weird display issue for Portugal his

[2018-10-29 17:45] #1550 closed

[2018-10-29 18:32] #1645 closed

[2018-10-30 02:09] ovbm commented on #1656
what's this component called (the appstore one), or how can I test this locally?

[2018-10-30 06:03] corradio commented on #1656
I was able to test locally in the simulator. Yes indeed it's a native
safari thing.

On Tue 30 Oct 2018 at 03:21, Olivier Baumann <notifications@github.com>
wrote:

[2018-10-30 19:30] alixunderplatz commented on #1340
:)

![image](https://user-images.githubusercontent.com/25743609/47744741-5e415800-dc82-11e8-9fef-f85e332300ea.png)

[2018-10-31 09:43] #1613 closed

[2018-10-31 10:18] systemcatch commented on #1633
Looking better at the moment.

![better_uy](https://user-images.githubusercontent.com/30196510/47781687-37bd0480-dcf6-11e8-92c6-07e102f26c04.png)

[2018-10-31 10:49] jarek commented on #1527
I will close this issue as it appears that SVERI is not coming back :(

[2018-10-31 10:49] #1527 closed

[2018-10-31 10:49] jarek commented on #814
Any updates on Hawaii @corradio ?

[2018-10-31 10:50] jarek commented on #1563
Hi @scottlee120, were you able to find real-time production mix for South Korea?

[2018-10-31 10:51] corradio commented on #814
Unfortunately none. I tried re-contacting but without luck

On Wed, Oct 31, 2018 at 11:49 AM jarek <notifications@github.com> wrote:

[2018-10-31 14:14] #1561 closed

[2018-10-31 15:16] #1477 closed

[2018-11-02 15:20] lorrieq opened #1662 "Account for Nemo Link interconnector in GB exchange parser"
`ELEXON.fetch_exchange` is failing because a new column has been introduced, to account for the Nemo Link interconnector between the UK and Belgium. This looks to [go live](http://www.nemo-link.com/timeline/) sometime at the start of 2019. A new exchange needs to be created for `BE->GB` and the parser needs to be updated to account for the change.

![image](https://user-images.githubusercontent.co

[2018-11-03 12:28] #1662 closed, assigned to lorrieq

[2018-11-05 10:09] brunolajoie opened #1665 "Double check Australia data"
Our current Australian parsers are doing a bottom-up, powerplant by powerplant reconstruction of total power produced in Australia's zones.

I'd like to check if we are not missing any significant part of the mix.

Below is the annual averages below derived from our parsers, over the 2017-09-01 to 2018-09-01 (we don't have one full calendar year yet)

**If anyone have access to official annual sta

[2018-11-05 12:58] #1554 closed

[2018-11-05 15:52] brunolajoie commented on #1623
According to this [source](http://terienvis.nic.in/index3.aspx?sslid=5295&subsublinkid=1560&langid=1&mid=1),

Wind Power capacity installed is 32.5 GW and Solar Power 13.6 GW.
So, at first approximation, "new-renewable" consists of 70% Wind and 30% solar.

This mix could be used in PR #1664 in order to compute the CO2 intensity of the "unknown" category and add it to the text that jsutifies this c

[2018-11-05 15:55] brunolajoie commented on #1658
Closing as it's probably timezone change related !

[2018-11-05 15:55] #1658 closed

[2018-11-05 16:01] brunolajoie opened #1666 "remove imports from production view on left panel"
![image](https://user-images.githubusercontent.com/22095643/48009552-44899000-e11c-11e8-83e0-a3d05fb658ff.png)

And same for Carbon emissions: remove imports and rename "Carbon emissions of electricity production in the last 24h"

![image](https://user-images.githubusercontent.com/22095643/48009569-4ce1cb00-e11c-11e8-8848-c771396d4bf0.png)

[2018-11-05 21:45] alixunderplatz commented on #1665
@brunolajoie for shorter periods, cross-check the live data for the market areas with with https://opennem.org.au
I'm quite sure no significant part should be missing.

[2018-11-05 22:12] alixunderplatz commented on #1623
Produced energy in 2016 according to [IEA](https://www.iea.org/statistics/?country=INDIA&year=2016&category=Key%20indicators&indicator=ElecGenByFuel&mode=chart&categoryBrowse=false&dataTable=ELECTRICITYANDHEAT&showDataTable=true):
solar: 14 130 GWh | 24%
wind: 44 856 GWh | 76%

Installed capacity 07/2017 according to Bruno's source:
solar: 13.6 GW | 30%
wind: 32.5 GW | 70%

Figures for installed c

[2018-11-06 21:07] alixunderplatz commented on #757
To make this endless thread even longer:
The market data for Russia now features a "renewable" category (ВИЭ).
http://br.so-ups.ru/Public/MainPageData/BR/PowerGeneration.aspx

![image](https://user-images.githubusercontent.com/25743609/48093095-ba6e2400-e20e-11e8-9308-bc40725d5215.png)

I suggest implementing this, although the influence is small at the moment, but it diversifies the mix. :)

For

[2018-11-07 03:59] jarek opened #1668 "Northern Ireland data quality issues"
Right now we show (timezone of screenshots UTC-5):

![image](https://user-images.githubusercontent.com/47415/48109856-1b015f00-e217-11e8-8e55-eeaa9187d19d.png)

Link from GB (Scotland) is the "Moyle" link - SONI show it a large part of the _supply_:

![image](https://user-images.githubusercontent.com/47415/48109901-52700b80-e217-11e8-991d-e7ea8b675cf0.png)

Our data shows it as export, and at over

[2018-11-07 09:56] #1623 closed

[2018-11-07 11:20] #1666 closed

[2018-11-07 11:47] systemcatch commented on #757
Hey Alex I can do this if you help me with the translations. I think it's just a matter of updating the mapping for each Russian zone. Can you look at the raw data in the link below and see if you can find the renewable key?

[raw data](http://br.so-ups.ru/Public/Export/Csv/PowerGen.aspx?&startDate=06.11.2018&endDate=06.11.2018&territoriesIds=-1:&notCheckedColumnsNames=)

[2018-11-07 13:15] zonepilot commented on #1558
Hello
I speak fluent Spanish having worked in S. America many years, I would be happy to ask some questions. As I am new to this, but find it very interesting, please can you help med explain how the data is presented and captured to work with the live map? Also, if you are  in Ecuador, could you please find out contact details to whom the questions wouild be asked?
BR
Michael

[2018-11-07 15:41] systemcatch commented on #1558
Hi @zonepilot, thank you very much for offering to help with this.

Contact details are at http://www.cenace.org.ec/index.php?option=com_contact&view=contact&id=1:name&catid=12:contacts

What we would like is for the data in those images to be made available in a text format (json, csv, xml for example). We would also like it in an hourly format rather than cumulative for the entire day.

Simply p

[2018-11-07 19:43] zonepilot commented on #1558
OK, I have sent an inquiry asking for hourly data in text format, while referring to this project with links to website etc, let's see what comes out of it!,

BR

[2018-11-07 20:19] alixunderplatz commented on #1668
ENTSO-E data for the exchanges of Ireland and GB were irregular or NA today, so it really seems like there are some data issues.

![image](https://user-images.githubusercontent.com/25743609/48158242-4d23c700-e2d2-11e8-83b3-60a2b318cd29.png)

![image](https://user-images.githubusercontent.com/25743609/48158400-b4da1200-e2d2-11e8-8d7c-7cd5c1f99e85.png)

[2018-11-08 13:35] brunolajoie commented on #1668
I've renamed the issue

If I understand well, data fro ENTSOE TP for GB-NIR has been seen incorrect many times:
- GB-NIR reported "production per plant type" seen insufficient, leading to sometimes negative computed consumption (prod - net export) values.

- GN-NIR to GB power exchanges are sometime missing (N/A)

Pinging @Dalius-ENTSO-E for his information

[2018-11-08 14:02] jarek commented on #1668
Our parser https://github.com/tmrowco/electricitymap-contrib/blob/master/parsers/GB_NIR.py uses SONI data, not ENTSOE, for both exchanges and production. Per https://github.com/tmrowco/electricitymap-contrib/blob/master/config/zones.json#L1446 ENTSOE is used for consumption, price, and forecasts.

[2018-11-08 14:28] brunolajoie commented on #1668
Ah, apology I did not read carefully your issue! It might well be that we coded the NIR import in reverse. Did you check absolute values in your previous screenshot to see if they match?

[2018-11-08 14:49] brunolajoie commented on #1668
Hey @systemcatch, looking at your code [here](https://github.com/tmrowco/electricitymap-contrib/blob/86781b197595764d4cbc3bf00501db7ff9328272/parsers/GB_NIR.py#L177), if have two questions:

- Why do we only use 'Total_Moyle_Load_MW' and not the sum of all 4 columns on the CSV?
![image](https://user-images.githubusercontent.com/22095643/48206055-d0462b00-e36d-11e8-86a9-4ba181d590f5.png)

- I belie

[2018-11-08 20:55] #1668 closed

[2018-11-09 09:56] brunolajoie commented on #1535
Would look better for https://getbarry.co/ for instance!
![image](https://user-images.githubusercontent.com/22095643/48255836-1ce14300-e40e-11e8-87d8-3db0fdecffcb.png)

[2018-11-11 09:36] alixunderplatz opened #1671 "Tooltip values don't change for import/export bars"
Minor bug observed on android and PC. For reproduction:
- Select a country
- select one of the import/export bars below the generation bars
- use the slider to select different times
-> the values in the tooltip won't change at all (opposed to the values for generation type bars)

[2018-11-11 10:36] corradio commented on #1671
Indeed I can reproduce

On Sun, Nov 11, 2018 at 10:37 AM Alex <notifications@github.com> wrote:

[2018-11-11 13:00] jarek commented on #1463
BTW, I actually _still_ see this issue, now on mobile Firefox 62.0.2. Possibly related to #1671?

[2018-11-11 16:29] #896 closed

[2018-11-12 15:55] jarek commented on #1347
Please see #1580 for the latest progress on this

[2018-11-12 16:56] brunolajoie commented on #1668
Looking pretty good now (17:56 Paris Time)

![image](https://user-images.githubusercontent.com/22095643/48362545-2be12300-e6a4-11e8-860e-aa817718fd12.png)

![image](https://user-images.githubusercontent.com/22095643/48362559-34d1f480-e6a4-11e8-9f25-856207f45c89.png)

[2018-11-13 00:02] jarek commented on #1340
Generally it is important to stay positive, but perhaps not in this exact case... The issue being of course that we have no way of telling which is storage and which is production.

[2018-11-13 09:32] corradio commented on #1671
Fixed!

[2018-11-13 09:32] #1671 closed

[2018-11-13 14:04] brunolajoie commented on #1671
You rock!
The impossible-to-see bug of the year!

On Tue, 13 Nov 2018 at 10:33, Olivier Corradi <notifications@github.com>
wrote:

[2018-11-13 14:46] lorrieq commented on #1558
Hey guys, I had emailed them before in Spanish as well and finally got a response. Looks like @zonepilot's follow up email got the ball rolling. Thanks! My translation of the response is below:

_"The CENACE maintains information on its portal that has the approval of the Dirección Ejecutiva.
I do not see an inconvenience in having a space on the web page where one can download the requested infor

[2018-11-15 07:26] corradio opened #1674 "North and South Carolina States"
![image](https://user-images.githubusercontent.com/1655848/48536114-dd9f7000-e8ad-11e8-8a5b-12221706e622.png)
https://www.eia.gov/state/?sid=NC#tabs-4
![image](https://user-images.githubusercontent.com/1655848/48536132-ec862280-e8ad-11e8-8369-e4833fdb94c6.png)
https://www.eia.gov/state/?sid=SC#tabs-4

Given https://api.watttime.org/:
- NC would be Duke Energy
- SC would be South Carolina Electric

[2018-11-15 07:27] corradio opened #1675 "Data for Georgia State"
![image](https://user-images.githubusercontent.com/1655848/48536153-fb6cd500-e8ad-11e8-8b3b-bde9b54ad71d.png)
https://www.eia.gov/state/?sid=GA#tabs-4

Give api.watttime.org that would be Southern Co Services
![image](https://user-images.githubusercontent.com/1655848/48536402-cc0a9800-e8ae-11e8-807a-f5aa0db8376f.png)

Real-time generation + imports available here (but no mix):
https://www.eia.gov/

[2018-11-15 07:29] corradio opened #1676 "Data for Oregon"
![image](https://user-images.githubusercontent.com/1655848/48536168-07589700-e8ae-11e8-850b-d8873d83dfbe.png)
https://www.eia.gov/state/?sid=OR

According to api.watttime.org, that would be PacifiCorp West:

![image](https://user-images.githubusercontent.com/1655848/48536372-aed5c980-e8ae-11e8-9fa2-10ae58ecbeb7.png)

Real-time generation + imports available here (but no mix):
https://www.eia.gov/r

[2018-11-15 12:21] jarek commented on #1676
Note that around 60% of population of Oregon is around Portland, which is not actually covered by PacifiCorp.

Map at http://www.pacificorp.com/about/eim.html might be useful: http://www.pacificorp.com/content/dam/pacificorp/image/About_Us/EIM/EIM-map-PacifiCorp-417x523.jpg

[2018-11-17 15:35] systemcatch commented on #1015
Maybe we could create new zones for each of these sources and have the data be collected in the backend only and not be displayed on the map. That way we'd avoid having to change the backend or deal with conflicting data but still be able to collect everything.

For example we could create a new zone called RO-TRAN for Romania.

[2018-11-19 16:55] brunolajoie commented on #1676
Monthly data production estimates can be found on EIA for all past months, broken down by fuel type, if we want to compute static estimates with monthly granularity (example with coal [here](https://www.eia.gov/electricity/monthly/epm_table_grapher.php?t=epmt_2_08_a))

[2018-11-19 17:04] jarek commented on #166
The PEI data source gives only the current data. However, I have just ran across https://energy.reinvented.net/, which is operated by Peter Rukavina (who runs the ruk.ca website linked in the second comment). It contains a scraped CSV archive of the data, every 15 minutes, going back to November 2012. If we are ever interested in getting archive data for PEI, it might be the ticket.

[2018-11-19 18:11] systemcatch commented on #1676
Found a big spreadsheet showing monthly generation by type by state at https://www.eia.gov/electricity/data/state/

Direct link to the file - https://www.eia.gov/electricity/data/state/generation_monthly.xlsx

It goes back to 2001!

[2018-11-19 18:29] brunolajoie opened #1680 "send jedlix remaining NL data after new export run"

[2018-11-19 18:32] #1680 closed

[2018-11-20 12:33] systemcatch commented on #1347
Is there anything else that needs to be done here?

[2018-11-20 15:02] systemcatch commented on #1257
We can get total generation data for CY going back to 2008.

http://www.dsm.org.cy/en/archive-of-total-daily-system-generation-on-the-transmission-system-mw?id=21&tt=graphic&startdt=05%2F11%2F2008&type=7&submit=Go

Wind to 2012 and solar estimate to 2016.

http://www.dsm.org.cy/nqcontent.cfm?id=23&tt=graphic&startdt=17%2F11%2F2016&type=7&submit=Go

[2018-11-21 12:18] corradio opened #1681 "Rewrite map in React"
The map is starting to be quite slow. It is also related to #1590, but I've noticed multiple renders happening for each components. A one-way data-flow would alleviate that.

[2018-11-21 12:57] brunolajoie opened #1682 "Bar chart X&Y axis title/units missing for zones with long names"
This zone for instance displays correctly
![image](https://user-images.githubusercontent.com/22095643/48842555-dd631100-ed94-11e8-83ae-65e5a7b42170.png)

All US zone, like this one, displays missing X axis unis "GW" and Y axis title "by source"
![image](https://user-images.githubusercontent.com/22095643/48842577-e653e280-ed94-11e8-8e51-f59d271f8275.png)

[2018-11-21 13:49] corradio commented on #1682
It's actually not US zones but all zones where the name takes two lines right?

[2018-11-21 14:31] brunolajoie opened #1683 "CL-SIC real-time data missing"
Data for SL-SIC seems to be irregular, being present about 60% of the time only over the last 6 months (see picture below, since April 2018)
![image](https://user-images.githubusercontent.com/22095643/48847496-fa521100-eda1-11e8-8755-7829cfe6c8fe.png)

We need

1. To understand if its related to our parser not handling response correctly, or if its due to the source of data that breaks downs regul

[2018-11-21 14:42] jarek commented on #1682
Right:

![image](https://user-images.githubusercontent.com/47415/48848352-b515eb00-ed71-11e8-9aa2-6a4723dc7751.png)

[2018-11-21 17:21] systemcatch commented on #1590
@corradio I've thought about this again.

Using [this article](https://moz.com/blog/how-to-improve-site-performance-using-gifs) as a reference I converted all of the arrows from gifs to html5 videos (mp4) with the following command.

[code]

Total size of all arrows dropped from 653KB to 185KB. There's likely some performance gains in the browser as well.

[2018-11-21 17:37] corradio commented on #1590
That's pretty cool! Do you see any differences in perf in the browser? I'm
not sure the size changes a lot, but it shouldn't hurt!
The way I'm testing it is that I activate the wind layer, and see how
smooth it runs. Without arrows it runs very smooth on my laptop, and with
arrows it lags.

On Wed, Nov 21, 2018 at 6:21 PM Chris <notifications@github.com> wrote:

[2018-11-21 17:54] systemcatch commented on #1683
Hey Bruno, I've taken a look at the parser response. All of the data comes from https://sic.coordinador.cl/informes-y-documentos/fichas/operacion-real/

1. The parser is working fine, data seems to be regularly delayed by a number of days (this is the same as when I wrote this parser). Never saw it 2 weeks behind though.

2. Looking at the parser it would be simple to modify to enable backfilling

[2018-11-21 18:08] systemcatch commented on #1590
I haven't had a chance to run it yet, it'll need some modification of the html tags I guess (any pointers for where to do that?).

I'll try testing with the wind layer once I get it working.

[2018-11-21 18:10] corradio commented on #1590
I think there's a map layer called exchangelayer.js or something like that.
If you search for `img` or `gif` you should be able to see where it
generates the tag.

On Wed, Nov 21, 2018 at 7:08 PM Chris <notifications@github.com> wrote:

[2018-11-22 13:43] brunolajoie commented on #1683
All right, so it's good news if I understand well, data is there, but just sometimes with more than 24h delay, therefore not visible on the electricityMap history graphs.

Historical data seems to dates back several years. So, I guess we just need to add a fetch_history feature - cool! We'll just have to make it robust to potential change in power plant fleets

[2018-11-22 15:06] systemcatch commented on #1683
Yes it has always been a delayed data source, we've never found a real time one.

I can add a target_datetime parameter to the fetch production function.

[2018-11-22 15:57] systemcatch commented on #928
![good_news](https://user-images.githubusercontent.com/30196510/48913078-49b24300-ee6f-11e8-9a18-db8c663f9cb3.jpg)

I've now got access to the data miner 2 API which has an enormous amount of historical data for production, exchange and many other things ( see https://dataminer2.pjm.com/list for a full list).

@corradio how is the US-PJM zone looking in terms of data completeness, any significant

[2018-11-22 16:21] brunolajoie commented on #928
We've got pretty good data back to April 2015, at the exception of net exchange with MISO which only starts in March 2018, and net exchange with other regions than MISO or NYISO if they exists.
How does yours looks like?

[2018-11-22 17:13] brunolajoie commented on #928
So, there exists data back to 2014 for exchanges with MISO (to be collected), NYISO (already existing), but also data about LGEE, TVA, CPLW, DUK and CPLE that have no corresponding eMap zones right now

[2018-11-23 10:39] systemcatch commented on #1160
We have wind, solar and total demand right? That might be enough to write a basic parser?

[2018-11-23 10:42] corradio commented on #1160
sounds like it indeed!

On Fri, Nov 23, 2018 at 11:39 AM Chris <notifications@github.com> wrote:

[2018-11-23 10:57] brunolajoie commented on #1160
Yes, that's the plan! 💪

[2018-11-23 11:49] brunolajoie commented on #1683
Very interesting. I'm sending them an email right now to decide what to do next.

For now, lets keep it split in two regions (because we have the gas vs. coal breakdown on the sub zones, while here it's only solar/Wind vs. other) and add historical datasets for both.

We'll merge both regions when we'll get a better breakdown.
Meanwhile: have you seen a way to get power exchanges between SIC and S

[2018-11-23 11:51] brunolajoie commented on #1683
Also, how well interconnected are they, in terms of %of load being exchanged?

[2018-11-23 16:21] systemcatch commented on #1683
@alixunderplatz I got creative with Wireshark and was able to glean where the app is getting it's data from.

http://panelapp.coordinadorelectrico.cl/api/chart/demanda
http://panelapp.coordinadorelectrico.cl/api/chart/ernc
http://panelapp.coordinadorelectrico.cl/api/chart/produccion

[2018-11-23 18:40] alixunderplatz commented on #1683
@systemcatch great you could find these urls!
@brunolajoie afaik, the exchange of sic and sing is not really included anywhere except for that one source I mentioned somewhere in the main issue. let's see what they'll reply to your mail. Chile can be very proud of the upcoming achievements (many renewable GWs under development), I think they'd agree to share their live data with the world ;)

[2018-11-24 08:54] Agazoth opened #1687 "Consumption/Production switch on detail pane"
The Consumption/Production switch on the map is great. When flipped, the setting is inherited by the details pane. It should be possible to change between Consumption/Production in the details pane aswell. Using Android app.

[2018-11-25 17:48] reinvented commented on #166
I was told that the endpoint for Prince Edward Island, at http://www.gov.pe.ca/windenergy/chart-values.php would be deprecated on Oct. 31, 2018. That hasn't happened, but I believe that is still the plan.

Here's the technical information I received about the replacement endpoint:

**Wind Energy Endpoint**
POST https://wdf.princeedwardisland.ca/prod/workflow

**Request Header**
Content-Type : appl

[2018-11-26 14:10] brunolajoie commented on #1160
I've checked ERCOT website, and the same data is available at the "market" level than at the "state level":
- load
- wind, solar generation
- DC Tie Flows at the state border [source](http://www.ercot.com/mktrules/guides/procedures/ERCOT%20DC%20Tie%20Operations%20V3Rev8.doc)
![image](https://user-images.githubusercontent.com/22095643/49019079-55627a00-f18d-11e8-881a-922ffc211eed.png)

Market / Geo

[2018-11-27 15:13] brunolajoie opened #1690 "Use yearly average carbon intensity for hydro discharge emission factor"
Potentially, using a round-trip efficiency loss factor.

Fallback on "world-average carbon intensity" factor if country-specific yearly country average is unknown.

Step 1:  Input annual average emission factor for each eMap zones when possible, in `defaultExportCo2eqFootprint` (using eMap historical database)
Step 2:  code the link between hydro_discharge CO2 intensity factor and `defaultExportCo

[2018-11-27 15:14] corradio commented on #1690
Could potentially be done together with https://github.com/tmrowco/electricitymap-contrib/issues/1576

[2018-11-28 09:07] brunolajoie commented on #1683
I've got this kind answer from SIC

We are working in some projects to let available for our customers the real time data coming from our scada system, we hope to have some news during the next few months so please be aware of our website news.
Kind Regards,

So, trying to summarize:
- Right now, the only real-time (<1h) data we have found is total generation, wind, and PV.
We don't have yet the b

[2018-11-28 10:00] brunolajoie commented on #1683
Current parser fetch xlsx from
https://sic.coordinador.cl/informes-y-documentos/fichas/operacion-real/
which has stopped updating new xls files since November 6th.

It seems to have been deprecated and replaced by
https://www.coordinador.cl/sistema-informacion-publica/portal-de-operaciones/operacion-real/generacion-real-de-las-centrales/

cc @systemcatch

[2018-11-28 10:14] systemcatch commented on #1683
Hey @brunolajoie I'm working on updating the parser to fetch past data. It'd be annoying if they've stopped producing xls files as that would require a whole new parser.

[2018-11-28 10:36] brunolajoie commented on #1683
@systemcatch Actually, I found the most recent excels
https://sic.coordinador.cl/wp-content/uploads/estadisticas/operdiar/18/OP181127.xls
It's just the a html tag that is not updated!
No need to write a whole new parser

[2018-11-28 17:19] #1576 closed

[2018-11-28 17:19] #1690 closed

[2018-11-29 12:07] brunolajoie opened #1693 "Refetch historical CL-SIC data"
launched from 2015 first. (will lauch 2011-2015 later)

gcloud compute ssh --zone europe-west1-d instance-1 -- sudo docker-compose -f /home/shared/deploy/electricitymapproject/docker-compose.production_gce.yml -p electricitymapproject run --rm feeder_electricity python refetch.py --start 2015-01-01 --email bruno.lajoie@tmrow.com 'CL-SIC'

[2018-11-29 13:14] jarek opened #1694 "Emissions released via hydro storage not shown on "origin of emissions" chart"
Long screenshot is long:

![](https://user-images.githubusercontent.com/47415/49224159-af8e5580-f3ae-11e8-9ee3-4bd16647f304.png)

[2018-11-29 15:11] brunolajoie commented on #1694
good catch!

[2018-11-30 08:05] brunolajoie opened #1695 "JP-SK: 'NoneType' object does not support item assignment"
Errror seen on [kibana](https://kibana.electricitymap.org/app/kibana#/discover/1710fdd0-2460-11e8-a779-9d01de8d7a71?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-1h,mode:quick,to:now))&_a=(columns:!(level,extra.key,message),filters:!(('$state':(store:appState),exists:(field:level),meta:(alias:!n,disabled:!f,index:'93e631f0-245f-11e8-a779-9d01de8d7a71',key:level,negate:!f,type:e

[2018-11-30 14:02] systemcatch commented on #1347
@corradio if you add Formentera to your specific exclusion list so it's coloured correctly when solely importing from Ibiza this can be closed.

[2018-11-30 19:20] alixunderplatz commented on #1347
@systemcatch one small thing that needs to be done for Formentera in general, is adding "Generacion auxiliar" to the ree scraper of @blackleg and assign this type to "oil" here (see my last comment above). This is a bit more relevant for the summer months with higher peak loads, when this category is constantly running.

[2018-11-30 22:11] corradio commented on #1347
@systemcatch `ES-IB-FO` is already added to the list.

On Fri, Nov 30, 2018 at 8:20 PM Alex <notifications@github.com> wrote:

[2018-12-01 14:22] brunolajoie opened #1698 "Error when computing share of low-carbon / renewable using "fallbackZoneMixes""
Example below with Poland, importing from "grey" germany

![image](https://user-images.githubusercontent.com/22095643/49329306-c84c6600-f57c-11e8-8008-a6055783c231.png)

[2018-12-01 15:09] #1698 closed

[2018-12-02 10:39] systemcatch commented on #1347
@corradio weird because it's still coloured grey in the image below. Maybe I'm not understanding correctly?

![fo-no-colour](https://user-images.githubusercontent.com/30196510/49338762-562c5d80-f61e-11e8-9ca2-510d2541cb9c.png)

@alixunderplatz ah ok fair enough, maybe when @blackleg has a moment he can add that.

[2018-12-02 11:13] systemcatch commented on #1695
I see quite a few errors like this for most of the JP zones, all of them happen when the exchange/exchange forecast functions are called in occtonet.py.

Looking at the code I think the problem is on https://github.com/tmrowco/electricitymap-contrib/blob/master/parsers/occtonet.py#L225. The request errors for whatever reason and the get_headers function returns None which then causes the error in

[2018-12-02 12:04] systemcatch commented on #1695
Having said that maybe it would be better to just raise an Exception here since it's never going to work when the request returns an error.

[2018-12-02 17:35] #1694 closed

[2018-12-02 17:40] corradio commented on #1590
This could maybe be used: https://github.com/antimatter15/jsgif

[2018-12-02 18:47] corradio commented on #1347
Indeed I'll take a look.

[2018-12-03 09:43] corradio commented on #1347
@systemcatch fixed

[2018-12-03 10:33] brunolajoie opened #1701 "Statnett choppy exchange values"
SE is currently greyed on the map.

Testing parser returns nothing
![image](https://user-images.githubusercontent.com/22095643/49368454-07022d80-f6ef-11e8-8059-19a260d3bbc3.png)

[2018-12-03 10:34] corradio commented on #1701
The kibana error you're pointing at is the exchange data, so it's not related. However it's weird indeed.

[2018-12-03 10:36] brunolajoie commented on #1701
Could not find any other kibana issue with SE!

[2018-12-03 10:36] corradio commented on #1701
![image](https://user-images.githubusercontent.com/1655848/49368661-914a9180-f6ef-11e8-8989-6793444a3c84.png)

The ENTSOE parser is not used for SE. SE.py is used (svk.se)

[2018-12-03 10:38] brunolajoie commented on #1701
Ah correct! sry! indeed svk.se is down. Let's wait
![image](https://user-images.githubusercontent.com/22095643/49368784-ef777480-f6ef-11e8-9740-c531a0ac9516.png)

[2018-12-03 17:18] systemcatch commented on #1695
So errors are now being logged properly, we see this error 9 times in the past 24 hours.

[code]

translated to english

[code]

which is not very helpful. :roll_eyes:

There's some other errors as well that keep cropping up.

59 times in 7 days.

[code]

21 in 7 days.

[code]

[2018-12-04 18:43] jarek commented on #1701
Exchanges and some production appear to be back in SVK data, but hydro production is currently missing

[2018-12-05 20:54] jarek commented on #1701
Hydro production still missing. Exchanges with Lithuania and Poland are reported as 0 in past 24 hours, not sure if that's accurate or missing data.

[2018-12-06 11:38] systemcatch commented on #1196
OpenNEM have a python repo https://github.com/opennem/opennempy that we could use to work with the data returned by the web api.

One possibility is that instead of switching the data source entirely we create some new zones that don't display on the map (e.g. AUS-NSW-ON), write a new parser to work with this data (should be simple) and do a comparison to see which is better. Then we can make an i

[2018-12-06 14:53] brunolajoie commented on #1196
That could work (@oli?) but just to be sure
- Are we still experimenting issues with current Australia parsers?
- Can their API go back in time to harmonize historical datasets if we switch to that one?
- The net cross-border flow is a bit of an enigma. We could maybe model the flow between two regions in order to minimize loop flows, right? But will it be the same?

Let's figure out if its worth

[2018-12-06 15:20] jarek commented on #1701
Hydro production still missing. Do we have a contact at SVK we can ask for it? Or switch back to ENTSOE for a while? (Initially switched in #872)

[2018-12-06 17:23] corradio commented on #1196
You mentioned the wrong oli (I'm @corradio). I don't think we should create
other zones, but we can always have a cron job running somewhere to collect
the data and compare

On Thu, Dec 6, 2018 at 3:53 PM Bruno Lajoie <notifications@github.com>
wrote:

[2018-12-07 13:30] jarek commented on #1701
Sweden is currently offline.

Exchange data also appears unreliable. The green band are Finland's imports from Sweden:

![image](https://user-images.githubusercontent.com/47415/49650475-45069680-f9fa-11e8-9bf8-6e4d3d633508.png)

[2018-12-07 20:57] systemcatch commented on #1701
Looks like it's back online again, Finland's imports still look choppy though.
![screenshot from 2018-12-07 20-52-41](https://user-images.githubusercontent.com/30196510/49672319-98acca80-fa62-11e8-8997-03dc654ba056.png)

[2018-12-08 00:29] kylemcdonald opened #1702 "CO2eq per kWh at per-state level"
The EPA maintains information about the CO2eq per kWh on a per-state level https://www.epa.gov/energy/emissions-generation-resource-integrated-database-egrid

Check eGRID2016_summarytables table 3, with data from 2016.

State | CO2e (lb/MWh)
--- | ---
AK | 930.0
AL | 917.5
AR | 1,122.6
AZ | 937.1
CA | 454.1
CO | 1,477.9
CT | 502.1
DC | 483.0
DE | 889.3
FL | 1,029.0
GA | 1,007.4
HI | 1,532.9
IA | 1

[2018-12-08 09:06] alixunderplatz opened #1703 "Add new interconnector "Nemo Link" between GB <-> Belgium"
Nemo Link has been inaugurated this week! :)
Capacity is 1.000 MW in both directions.
https://eandt.theiet.org/content/articles/2018/12/uk-belgium-nemo-link-electricity-interconnector-ready-for-use/

The new interconnector was previously mentioned in #1662 #1663, but not yet implemented in exchanges.json.

Some sample data from ENTSO-E (with only small amounts transferred between the zones for tes

[2018-12-08 10:38] #1703 closed

[2018-12-08 10:38] corradio commented on #1703
say no more!

[2018-12-09 08:40] freefess opened #1704 "List of energy sources is not fully shown in Firefox"
It works with CO2 emission also.
![issue](https://user-images.githubusercontent.com/4992394/49695112-c1d67380-fba6-11e8-86aa-f5c1be8f98d8.JPG)

[2018-12-09 15:08] jarek commented on #1704
It's because the label text for carbon intensity is too long:

![image](https://user-images.githubusercontent.com/47415/49699049-13c4cc80-fb9a-11e8-99a6-0d082e998db7.png)

Actually that's the same issue as #1682. I'll close this in favour of that one. Thanks for noticing and reporting.

[2018-12-09 15:08] #1704 closed

[2018-12-09 15:08] corradio commented on #1682
@ovbm are you able to help on that one?

[2018-12-09 15:09] jarek commented on #1682
As seen in #1704, this can also be caused by longer labels for carbon intensity fields:

![image](https://user-images.githubusercontent.com/47415/49699049-13c4cc80-fb9a-11e8-99a6-0d082e998db7.png)

[2018-12-11 07:20] brunolajoie commented on #1702
Thanks for noticing.
Difference can come from two main factors:

1/ We take into account imports, in order to compute carbon intensity of electricity consumed, while I bet EPA reports the carbon intensity of electricity produced.

2/ We use IPCC's emission factor per main type power plant below.
EPA probably uses its own emission factor that might differ.
![ipcc 2014 powerplant ghg intensity](http

[2018-12-11 15:25] #1682 closed

[2018-12-12 10:07] nikobh opened #1707 "DK1-DK2 seems to go in the wrong direction"
Looking at the link between West Denmark and East Denmark it seems that the direction of energy flow is opposite of what is displayed on https://energinet.dk/
It has been like that for a week or so.

[2018-12-12 10:47] nikobh commented on #1707
The same seems to be the case between East Denmark and Sweden.

[2018-12-12 13:46] corradio commented on #1707
Indeed it's confirmed:
on energinet it shows DK1 -> DK2, as well as on ENTSOE:
![image](https://user-images.githubusercontent.com/1655848/49873422-19c9e000-fe1c-11e8-9f0c-bc5ce297466d.png)

Statnett however (from which we pull the data) are reporting it wrong:
![image](https://user-images.githubusercontent.com/1655848/49873610-9a88dc00-fe1c-11e8-9012-36a991302917.png)
The other exchanges from stat

[2018-12-12 15:09] jarek commented on #1701
Still problematic today. Also apparently some of the exchanges are (currently?) reported the wrong way, see #1707

![image](https://user-images.githubusercontent.com/47415/49878589-f12eef80-fdf5-11e8-8d50-53bac49aa1f7.png)

[2018-12-12 15:10] jarek commented on #1707
See also #1701 for other problems with Statnett exchange data

[2018-12-12 18:41] brunolajoie commented on #143
I've found a cray map of the US grid. http://www.eei.org/about/members/uselectriccompanies/Documents/EEIMemCoTerrMap.pdf

Does anyone understand the difference between all these "EEI companies", Utilities, ISO grids, IPCC? I'm starting to get lost with the US power system ;)

![image](https://user-images.githubusercontent.com/22095643/49890984-ba80c580-fe45-11e8-9ece-00e5ae3a9421.png)

[2018-12-13 10:16] brunolajoie opened #1708 "UK capacity outdated"
email recieved:

The U.K.’s installed solar PV capacity has reached 12.8 GW across 939,872 installations as of the end of January 2018, according to the latest provisional statistics released by the U.K. Department for Business, Energy and Industrial Strategy (BEIS).

[2018-12-13 23:58] Hyric89 commented on #1654
Looks like this question has been posed before, just not for the matter I have in mind.

This is about energy storage. I've noticed that for Pumped Hydro Storage, its carbon intensity is based on the carbon intensity of its grid. For Germany, this figure is 348 gCO₂eq/kWh as shown on the map:

![image](https://user-images.githubusercontent.com/35940453/49971218-19a50f80-ff04-11e8-86c6-75151d714808

[2018-12-15 11:28] pierremmm opened #1709 "Pan European view"
Hi,
I would really like to have a Europe or EU total, even if limited to the countries, you presently monitor which are quite representative already.
Is it something that is planned to be added?
Thanks

[2018-12-16 14:45] corradio commented on #1590
Seems like mp4 in img src is not supported in Chrome

[2018-12-16 15:33] corradio commented on #1590
Seems like playing gif on canvas could help:
https://codepen.io/corradio/pen/PXzqwO?editors=0010
using
https://github.com/blindman67/GIFGroover

Will try to integrate into the map to test

[2018-12-16 18:31] Hyric89 commented on #1654
If I'm understanding your point correctly, like with electricity exports, every kWh exported carries with it the intensity. In abstraction, what this means is that emissions are stored when charging up and then released when discharged.

[2018-12-16 18:34] corradio commented on #1590
I've created a branch here to try it out:
https://github.com/tmrowco/electricitymap-contrib/tree/olc/canvas-arrows

[2018-12-16 18:36] corradio commented on #1654
That's right!

On Sun, Dec 16, 2018 at 7:31 PM Hyric89 <notifications@github.com> wrote:

[2018-12-17 12:56] brunolajoie commented on #1654
We should probably write that down much more clearly in the FAQ

On Sun, 16 Dec 2018 at 19:36, Olivier Corradi <notifications@github.com>
wrote:

[2018-12-17 16:37] #1709 closed

[2018-12-18 01:03] jarek commented on #1701
![image](https://user-images.githubusercontent.com/47415/50125409-bf26ee80-0236-11e9-910a-c4a69d38742a.png)

[2018-12-18 10:07] systemcatch commented on #1708
I guess https://www.gov.uk/government/statistics/solar-photovoltaics-deployment is the source they are referring to. We currently use ENTSOE which has now been updated to 12.4GW installed.

Maybe we could create a method to update capacities automatically from ENTSOE's api?

[2018-12-18 11:17] systemcatch opened #1713 "Seminole Electric Cooperative (Florida)"
Seminole Electric Cooperative generates power in central Florida and distributes it to smaller coops shown on this map.

![blobid11_1520526359148](https://user-images.githubusercontent.com/30196510/50150570-47000d80-02b6-11e9-8f71-668742894c69.png)

It has a 1.3GW coal plant and an 800MW gas plant plus some solar PV generation.
https://www.seminole-electric.com/facilities/generation/

The solar da

[2018-12-18 11:30] brunolajoie opened #1714 "NO zones are most often "grey" on live electricityMap"
How is it that NO zones are most often "greyed" on live electricityMap while historical data is present with no gaps in our historical database?

Is NO parser providing good data, but with a delay? Could we try to fix that?

Details below

1. Most of the time I check, NO bidding zones are greyed out
![image](https://user-images.githubusercontent.com/22095643/50150893-a9114080-02bf-11e9-8e47-cb816c

[2018-12-18 11:32] corradio commented on #1714
It's probably due to a delay from ENTSOE? Probably the hydro part is only
filled with some delay.

On Tue, Dec 18, 2018 at 12:30 PM Bruno Lajoie <notifications@github.com>
wrote:

[2018-12-18 16:50] systemcatch commented on #143
My understanding of that map is that those are all for profit companies that serve consumers. I recognize some of the companies in California that are part of CAISO, doesn't look to be any electric coops on that map.

[2018-12-18 17:50] brunolajoie commented on #738
We have a new lead: The following paper "[Real-Time Carbon Accounting Method for the European Electricity Markets](https://arxiv.org/abs/1812.06679)", supplementary material Table 1,2,3, provides: **emission factors for each EU country, per type of power plant, and distinguishing Operational vs. Lifecycle emissions factor.**

We could use it to have a more precise electricityMap for each EU countr

[2018-12-19 09:36] brunolajoie commented on #1708
Yes, that could make sense to write such script, which could be appied for all countries where we currently use ENTSOE as a datasource for capacity installed. There are few exceptions, as per README.md, where we don't use ENTSOE in Europe, which would have to be dealt with on a case by case.

[2018-12-19 14:05] thomasgibon commented on #738
Hi @brunolajoie, that was quick :)

First, I think we need to wait for the reviewers' comments and decision on the paper. I ran quality checks on this data, but third-party verification is most welcome.

Second, your proposition sounds adequate:
- if country-specific data exists: use it,
- elif country is in EU28: use EU28 average,
- else: use IPCC average.
For some technologies, the change would

[2018-12-19 15:59] thomasgibon commented on #738
Very good point, it would work if we used the lifecycle numbers only.

However, the IPCC also provides a rough breakdown of these emissions in Table A.III.2 of AR5 WGIII: https://www.ipcc.ch/site/assets/uploads/2018/02/ipcc_wg3_ar5_annex-iii.pdf

The split is direct/indirect, though, meaning that all low-carbon sources have "0" direct emissions. Maybe show the lifecycle numbers by default, and whe

[2018-12-20 16:51] brunolajoie commented on #738
Table A.III.2 is already what we use. However you see it's not "global coal average" but only "Pulverized coal PC", which makes this 820 a bit low for the electricityMap.

I'm not sure to understand your first sentence?

[2018-12-21 12:39] nikobh commented on #1707
It looks like we are back on track with DK1 - DK2. But the direction is still wrong between DK2 and Sweden

[2018-12-26 10:42] alixunderplatz opened #1716 "Include Solar data for Dominican Republic"
Two of the largest PV plants of the Carribean, "Montecristi" with 58 MW (next year up to 119 MW) and "Monte Plata" with 69 MW are located in the Dominican Republic.
https://www.pv-magazine.com/2018/07/25/fs-solar-commissions-caribbeans-largest-pv-plant/
http://www.gesyw.com/portfolio/project/56d9431a353dc

I had a look into our source, data is reported for these two large scale solar plants under

[2018-12-26 15:03] #1716 closed

[2018-12-26 20:43] alixunderplatz commented on #565
Related to the latest improvements in PR #1718 on the parser for Argentina:

There is a dashboard for renewable generation per type, including real-time-data for wind, solar, biomass and small hydro (<50MW)!!!
Live-data available as text, graph and .csv
https://despachorenovables.cammesa.com/renovables/

![image](https://user-images.githubusercontent.com/25743609/50456141-cba3f900-0952-11e9-8930-1

[2018-12-27 21:32] systemcatch commented on #1509
@alixunderplatz Found some other links that may be useful.

http://www.xm.com.co/Paginas/Generacion/Despacho-nacional.aspx
Zip files going back years showing breakdown by hour for what I think is every power plant in Columbia. It might might also show interconnections.

http://www.xm.com.co/Paginas/Generacion/Despacho-Termico.aspx
Same but for thermal plants only.

I think we might have enough to

[2018-12-28 13:33] #1288 closed

[2018-12-28 14:55] alixunderplatz commented on #1633
I think I just observed the reason for the hydro data issues:

**SCADA data from 10:04**
There is a negative hydro generation. It consists of the sum of "Terra", "Baygorra", "Constitucion" plus "Compras a Salto Grande" (aka **traded** energy from Salto Grande Uruguay to Argentina). Since the traded amount sometimes is higher than the generation of the other three, there is a negative hydro generat

[2018-12-28 15:35] alixunderplatz commented on #1161
I think we managed to have another data issue fixed on ENTSO-E :)
We now observe way more biomass being used, especially in DK-2 (not sure for how long it has been like that. Maybe you can cross-check the Danish electricity data for the last months?):

![image](https://user-images.githubusercontent.com/25743609/50519882-4852e680-0abd-11e9-93a3-9b86cf131bc2.png)

On ENTSO-E per unit generation, the

[2018-12-28 15:35] #1161 closed

[2018-12-28 15:47] #1275 closed

[2018-12-28 15:56] #1347 closed

[2018-12-28 16:06] corradio commented on #1161
yay!

[2018-12-29 00:57] alixunderplatz opened #1719 "Rewrite ENTE.py to parse all Central American exchanges"
The way the recent [ENTE.py parser](https://github.com/tmrowco/electricitymap-contrib/blob/master/parsers/ENTE.py) calculates the exchanges is really complicated and not complete for all exchanges due to mathematical uncertainties.
From what I observed, there is an easier way to do this, taking the same values from the .csv plus an extra little detail! 😃

Here is the map:
http://www.enteoperador.o

[2018-12-29 13:12] alixunderplatz commented on #1563
SUMMARY
-----
From the data sources presented here and in #855, we could write a parser with all nuclear + hydro generation and fill the rest as "unknown".
@brunolajoie @corradio do you think that is enough info to begin with?

__________________

- South Korea is an electrical island with no exchanges so far.
- Load is 70-90 GW at the moment.
- [Renewable electricity goal for 2030](https://renewa

[2018-12-29 17:50] systemcatch commented on #1719
Hey @alixunderplatz, looks like you've solved the mystery of how the ENTE map gets flow arrow directions! I think when I looked at this ages ago the logical values weren't changing which led me to discount them, but clearly they are determining direction.

I can rewrite the parser easily based on this information.

[2018-12-29 18:00] alixunderplatz commented on #1719
@systemcatch that would be great! :)
Yeah I was lucky enough to observe these numbers changing at the right time ;)

One more info on the Honduras<->Nicaragua interconnection for you:
I saw 'HONIN' have the direction values:
- 1 with arrow pointing towards HN
- 2 without any arrow
and today I just saw
- 0 (arrow pointing towards NI)

![image](https://user-images.githubusercontent.com/25743609/5054

[2018-12-29 23:39] strassburger commented on #636
No cooperation of hydro.com
No interest any more.
Thanks to everybody here,

[2018-12-30 14:03] alixunderplatz opened #1722 "Pumped storage generation in Argentina"
There are two hydro pumped storage power plants in Argentina!
We're currently mapping them as usual 'hydro'
https://en.wikipedia.org/wiki/Los_Reyunos_Dam
https://en.wikipedia.org/wiki/Rio_Grande_Hydroelectric_Complex

They have the ending "HB" in the list of generators:
http://portalweb.cammesa.com/memnet1/revistas/estacional/base_gen.html
![image](https://user-images.githubusercontent.com/2574360

[2018-12-30 18:50] #1719 closed

[2019-01-03 15:58] #1722 closed

[2019-01-03 19:44] alixunderplatz commented on #1633
There is something that still worries me a bit is the whole Salto Grande / Argentina / Uruguay thing in terms of double-accounting for the production in UY and AR.
SG has 14x135 MW, so 1890 MW total. Each country, to my understanding, owns 7x135, so 945 MW.
UY sells a lot of the output to AR.

Uruguay's UTE live SCADA data says 1725 MW output (about 45min later than the Cammesa data).
![image](htt

[2019-01-03 23:01] alixunderplatz commented on #636
@strassburger There is hope for King Island, maybe I have found a workaround ;)
(you guys know I love optical character recognition 😆)
I updated my knowledge of making screenshots of websites in python ([here](https://medium.com/@ronnyml/website-screenshot-generator-with-python-593d6ddb56cb)).

[code]

@systemcatch I'm sure you'll find a way to improve image quality/size and simply 'OCR' the data

[2019-01-04 11:06] consideRatio opened #1727 "Feature request: A country's average emission in the past 12 months"
It would be great to see the average emissions of countries.

[2019-01-06 00:50] alixunderplatz commented on #304
Live state-wide generation for West Bengal, no fuel type specified:
http://www.wbsldc.in/
![image](https://user-images.githubusercontent.com/25743609/50729988-9ada7580-1143-11e9-8019-b6ba36c0640f.png)

Live generation of WBPDCL, which owns [five coal power plants with 4.865 MW]:(https://en.wikipedia.org/wiki/List_of_power_stations_in_West_Bengal#Coal):
https://www.wbpdcl.co.in/cgis/
![image](https

[2019-01-07 16:51] Gazer75 opened #1729 "NO capacity outdated"
No idea where the data comes from, but ENSTOE is not to be trusted on this.

At any point you can get a csv file from here for hydro:
https://www.nve.no/energiforsyning-og-konsesjon/vannkraft/vannkraftdatabase
This can then be filtered to get the pure pumps out (Pumpe).
Can also filter for each of the five areas (Elspotområde).

File for wind can be found at:
https://www.nve.no/energiforsyning-og-

[2019-01-07 16:58] brunolajoie commented on #1727
Thanks, noted.
We're looking into building something like that, potentially in a separate webpage.

[2019-01-07 16:58] #1727 closed

[2019-01-07 17:53] jarek commented on #1729
Note that the website currently does not display capacities in Norway because regional capacities were not added so far after the split into the five regions.

[2019-01-07 19:08] brunolajoie commented on #1161
Noted! Thanks!!

[2019-01-07 19:42] systemcatch commented on #636
One thing which I could do is to split the island off from Tasmania using the same method I did for the Balearic Islands.

[2019-01-07 20:33] consideRatio opened #1730 "WIP: Sweden's electricity prices"
# About
I'd like to learn about this project in order to potentially contribute to it. This project has huge impact to the climate change discussion and I'd be so happy to have supported it in some way. But first things first, I need to learn more about it and avoid spending your time in vain. I hope to learn while working with a concrete goal.

@corradio @brunolajoie could you give me some feedba

[2019-01-07 20:55] Gazer75 commented on #1729
Those regions have existed for at least 16 years. I found the history of the reservoir status back to 2002 divided by these areas.

Some strange values can be found at ENTSOE site here:
https://transparency.entsoe.eu/generation/r2/installedGenerationCapacityAggregation/show

Only explanation is grid limitation or that a large portion of the generators are offline for maintenance.

Either way the v

[2019-01-07 21:01] jarek commented on #1730
Please see #1397 for notes about splitting Sweden. The status currently seems to be on hold as complete generation split by fuel is not available in real time for the regions. As the different regions have different prices, lack of region split is likely why the prices aren't included right now.

[2019-01-07 21:13] consideRatio commented on #1730
@jarek ah thanks for the guidance!

[2019-01-08 05:35] #1730 closed

[2019-01-08 08:13] brunolajoie commented on #1730
Thanks a lot @consideRatio for your support!

We would like to split Sweden into 4 bidding zone indeed. If you were to find a reliable real-time production mix per main power plant type for each SE bidding zone, let us know! Our comments in #1397 might be outdated, who knows! I haven't checked for few months if things have improved! Or maybe there are other sources of data existing that we're miss

[2019-01-08 10:37] brunolajoie opened #1732 "SIC parser fetch_exchange fails with historical date"
Testing SIC parser fetch_exchange with a past date returns a Error 500 from sipub.coordinador.cl
![image](https://user-images.githubusercontent.com/22095643/50825572-a3949c80-1339-11e9-8c66-43143af9ab4c.png)

[2019-01-08 16:44] brunolajoie commented on #1707
Do you have any clue about historical values as well? Have they been corrected on ENTSOE TP, or are they still wrong? (I hope they are corrected !!)

[2019-01-08 20:42] alixunderplatz opened #1733 "Add high-res data source for El Salvador"
The charts for El Salvador on [https://www.graficostr.ut.com.sv/](https://www.graficostr.ut.com.sv/) have a resolution of **4 seconds** for the data timestamps, which usually are < 30 seconds behind real-time.
![image](https://user-images.githubusercontent.com/25743609/50857114-edf33900-138c-11e9-8a1c-ab10f2052f74.png)
I am not too sure if it makes sense for Electricitymap to have such a high reso

[2019-01-09 10:57] systemcatch commented on #1733
Brilliant @alixunderplatz! I can't load the page atm but to my knowledge resolution that high is not a problem for the backend, but even if we average to 1min that's still a big improvement on the hourly resolution we get now.

[2019-01-09 11:00] brunolajoie commented on #1713
Thanks for the find, good to keep it here.
Let's keep that implementation for a bit later when we'll have a more holistic view of the area!

[2019-01-09 11:08] brunolajoie commented on #1733
Agree, but we need to be caution because we don't have ability to get back
in time with El Salvador parser as they are coded right now!
We should check that
- data is similar
- dataflow is not interupted often

On Wed, 9 Jan 2019 at 11:57, Chris <notifications@github.com> wrote:

[2019-01-09 14:01] Gazer75 commented on #1729
Closing this issue for now then. I'll try to update capacities later when more of the wind farms under construction start producing later this year. NVE expects almost 2000MW worth of wind to be finished in 2019 according to the 2018 3rd quarter report.

[2019-01-09 14:01] #1729 closed

[2019-01-09 15:42] systemcatch commented on #1733
I went back to the data source we use for El Salvador (http://estadistico.ut.com.sv/OperacionDiaria.aspx). On the top right of the page there's a button that lets you request data for different days, so it should be possible to modify the parser to get historical data!

[2019-01-09 15:53] brunolajoie commented on #1733
Probably better to stick to that datasource then!
But if they are exactly the same, we would use both ;)

[2019-01-09 16:01] systemcatch commented on #1713
To be honest I wouldn't expect a better view of the area anytime soon given that there's no ISO and every other generator is for profit which usually means they provide no data.

[2019-01-09 16:54] Gazer75 opened #1736 "NO "Uknown" origin assumption"
Carbon intensity here is probably to high. Assuming coal is just simply wrong.

If this is data from district heating, which I bet it is, then...
50% is "recycled heat"(92% waste burning, 6% heat waste from industry)
22% from bio (40% wood chips, 29% unspecified solid biofuels)
13% electrical boilers
10% is ambient heat (heatpump(electric) ~28%, sewage ~26% and seawater ~25%)
5% oil/gas

Source: h

[2019-01-09 20:58] alixunderplatz commented on #1736
Good point!

Here is what the [IEA statistics](https://www.iea.org/statistics/?country=NORWAY&year=2016&category=Key%20indicators&indicator=ElecGenByFuel&mode=chart&categoryBrowse=false&dataTable=ELECTRICITYANDHEAT&showDataTable=true) say for Norway 2016:

Production from: | GWh | Share
-- | -- | --
coal | 146 | **0,098%**
oil | 30 | **0,020%**
gas | 2600 | 1,738%
biofuels | 41 | **0,027%**
waste

[2019-01-09 22:15] systemcatch commented on #1730
@consideRatio any help is appreciated. There's lots of open issues that need fixing so as long as an issue isn't assigned to anyone feel free to start working on it.

[2019-01-09 23:41] Gazer75 commented on #1736
We do not use coal for anything in mainland so no idea where IEA is getting that from. Maybe the coal plants in Barentsburg and Longyearbyen on Svalbard.
The IEA numbers are not even close to matching the 2016 numbers from the website I linked.

https://www.ssb.no/en/energi-og-industri/statistikker/fjernvarme
have some interesting tables. I think table 3 and 4 is probably what is relevant here.

[2019-01-10 08:49] Gazer75 commented on #1736
Got a callback from someone at Statnett that explained a bit. The other category from ENTSOE is mostly hydro from small plants <10MW. Rest is district heating.
They do not have the system and capacity currently to deal with all of the mini and micro plants. Currently there are 1288 hydro plants at <10MW capacity.
Total capacity of all small plants under 10MW was just over 2702MW as of 7. January 2

[2019-01-10 09:18] brunolajoie commented on #1713
Thanks for the info! I think we could label this issue as "parser buildable" then, right?

[2019-01-10 10:50] systemcatch commented on #1713
Ok I've done that now. One question is if we need to represent this area on map considering it will behind by 1-2 days.

[2019-01-10 11:48] brunolajoie commented on #1713
If we think this zone breakdown is here to stay, that would make sense to invest a bit of time designing it if we find the geojson to go along, indeed.
Actually, in the end, our map of the US will probably looks like Watttime one's I guess
![image](https://user-images.githubusercontent.com/22095643/50966653-ee4b1b80-14d5-11e9-8567-a8d913d5b05b.png)

[2019-01-10 15:11] corradio commented on #1707
Seems like DK - SE also are in the wrong direction :o

[2019-01-10 19:09] jarek commented on #1736
In general I would suggest encouraging organizations to publish data as accurate as possible, because this scales much better than Electricity Map manually tracking down breakdowns for every region around the world.

Currently it is 20:00 in Oslo and the only region with significant "unknown" production is NO3 at 235 MW / 6%. This has grown from 43 MW 24 hours prior. Perhaps I'm misunderstanding N

[2019-01-10 19:40] Gazer75 commented on #1736
They want to get it more detailed, but it takes time, resources and money. They are not required to provide more details to ENTSOE so that is probably why it is not a priority.

Statnett and all the other power companies responsible for the regional power lines have to spend billions of NOK over the next decade to upgrade and/or replace old lines.
Norway had a lot of expansion going on after WW2 s

[2019-01-11 08:04] 4nd3r opened #1737 "Emissions from oil shale"
Estonia produces electricity from oil shale.

This is a solid fossil fuel that is in the same statistical group with coal.

It would be correct to dislpay the emissions from oil shale under "coal" (solid) not "oil" (liquid).

Source: https://ec.europa.eu/eurostat/statistics-explained/index.php?title=Glossary:Fossil_fuel&oldid=120658

[2019-01-11 08:50] brunolajoie commented on #1563
Thanks Alex! And I guess the power exchanges are not that big for South Korea, so doing the delta between total consumption and partial production would make sense. Let us know if you find wind or PV values (even historical only)

[2019-01-11 08:55] brunolajoie commented on #1737
Thanks for notifying. Your source seems uncontroversial, I'll make the change!

[2019-01-11 09:54] brunolajoie commented on #1707
Confirmed discrepancy on DK2->SE4 export direction
- Energinet.dk and ENTSOE agree
- Statnett reports opposite

eMap currently sources its exchange from Statnett

I suggest to change back to ENTSOE (easy we already have the parser, but houlry granularity only), and contact Statnett to inform them.

Or we code a new parser using energinet data directly (probably the most robust solution on the long

[2019-01-11 10:01] corradio commented on #1707
Energinet publishes this dataset:
https://www.energidataservice.dk/dataset/transmissionlines/resource_extract/d22ec918-fa2e-4aa0-a6dd-0658500b876e

But it's hourly so might as well use ENTSOE if we want to revert.
Just to be sure, did you check on the Statnett website or in our parser?
There could be an implementation problem in our parser.

On Fri, Jan 11, 2019 at 10:54 AM Bruno Lajoie <notificat

[2019-01-11 10:09] brunolajoie commented on #1707
It seems to be a stattnett problem!

[2019-01-11 10:18] brunolajoie commented on #1707
if anyone has a contact at [Stattnet](https://www.statnett.no/en/for-stakeholders-in-the-power-industry/data-from-the-power-system/), do not hesitate to inform them. Thank you

[2019-01-11 10:19] #1737 closed

[2019-01-11 10:38] #1707 closed

[2019-01-11 12:29] brunolajoie opened #1740 "Left panel blank for countries without parsers"
![image](https://user-images.githubusercontent.com/22095643/51033761-b5c64300-15a4-11e9-90cb-d778bd2f0a3a.png)

The div inviting people to contribute by adding new parsers has disappeared

(same problem on mobile app)
cc @ovbm

[2019-01-11 19:09] systemcatch commented on #437
This came up on Slack again. Probably worth looking at implementing a toggle of some kind or at least updating the documentation to show users how to switch using the url method.

[2019-01-11 22:09] alixunderplatz commented on #541
We could also add Okinawa electricity demand data:
https://www.okiden.co.jp/denki/
No breakdown of production types, this is what fuel mix looked like in 2014 (from http://www.tj.kyushu-u.ac.jp/leading/en/c_publication/EG2016-3-2content/Pages%2036-44.pdf):

Historical 60-min and 5-min load data:
https://www.okiden.co.jp/denki/dl/index.html

[2019-01-11 22:56] alixunderplatz commented on #541
There is another source in English for Japan by ISEP for all zones with a historical breakdown per type :)))))
https://isep-energychart.com/en/

It seems lik there only is historical data at the moment as well ([going back to June 2018](https://isep-energychart.com/en/graphics/electricityproduction/?region=all&period_year=2018&period_month=6&period_day=1&period_length=1+month&display_format=residu

[2019-01-12 12:02] systemcatch commented on #541
I can see data all the way back to May 2016, definitely worth scraping this.

[2019-01-12 12:30] alixunderplatz commented on #679
I created the "historical data" label for zones with available generation data for the past. 🏷

Isn't it possible to use the real-time mix and fill the gap between the generation per type and the demand with "unknown" (like for Kyushu/Japan and for NL)?
This unknown share today makes up between 2-2.5 GW of a total load between 8-10 GW today, so it's always around 25%. In my eyes that's tolerable.

[2019-01-12 16:51] jarek commented on #679
I have to admit I haven't checked on this in a while and I never contacted WESM about the inconsistencies. I will try to look again and see if the data matches up now.

[2019-01-13 10:27] corradio opened #1742 "ENTSOE parser cleanup"
EE oil shale fix by @brunolajoie didn't work because the mapping
https://github.com/tmrowco/electricitymap-contrib/blob/master/parsers/ENTSOE.py#L52-L64

is not used.

We should make sure those lines use the mapping directly, instead of using functions that do not depend on the mapping:

https://github.com/tmrowco/electricitymap-contrib/blob/master/parsers/ENTSOE.py#L863-L875

Good catch @alixunde

[2019-01-13 13:08] brunolajoie commented on #1742
- EE oil shale quick fix in PR #1743.
- Refacto as suggested above is still needed

[2019-01-13 14:12] corradio opened #1744 "Darkmode is not remembered in mobile app"
Happens because Cordova doesn't support Cookies?

[2019-01-13 15:44] brunolajoie commented on #437
What about we simply force it as visible URL query string; so that it's
visible by default in the url?

[2019-01-13 18:14] systemcatch commented on #1213
So an update on this. I've been able to build the basic parser but unfortunately the data format changes significantly before 11th January 2018. To get that format parsing will take longer than I anticipated.

[2019-01-13 18:19] systemcatch commented on #437
That's an improvement (assuming we document it as well) but tbh I don't think non developers will understand how to use it.

[2019-01-13 18:50] Methanogen commented on #787
Hi,
It seems that you have done a lot of good work in this area!
I have been looking at negative prices for CAISO and have heard that Hydro is a factor. The daily sheet you refer to does provide 5-minute data for Small Hydro and for Large Hydro.
Have either of you compiled a time series that goes back months or even a year by any chance?
Regards,
David Willson

[2019-01-13 19:59] alixunderplatz opened #1745 "Toggle "residual load" view and "baseload view""
An inspiration from the Japanese transpaency website [isep-energychart.com](https://isep-energychart.com/en/graphics/electricityproduction/?region=all&period_year=2018&period_month=6&period_day=1&period_length=3days&display_format=plie_up):

"Residual load" view: all renewable sources are on the bottom of the diagram, nuclear, fossil and pumped hydro are used to fill the residual load:
![image](ht

[2019-01-14 12:57] brunolajoie commented on #541
That's huge! Would be a very useful addition to the eMap ecosystem. Japan is such an important economy to add for comparison purpose to followup progress within the COP21 framework!

[2019-01-14 15:14] brunolajoie commented on #787
@Methanogen thanks! yes we do, please contact us at hello@electricitymap.org!

[2019-01-14 16:54] brunolajoie commented on #1745
I (personally) prefer the new world view :)
Let's vote here 👍 for the top graph (residual load, new world view) and 👎 for the bottom graph (baseload, old world view)

[2019-01-15 20:56] alixunderplatz commented on #1340
This problem still persists. No more answers from EirGrid on my tweet since 12th November 2018.
https://twitter.com/alixunderplatz/status/1062075074092634113

I think it makes sense to disable hydro pumped storage for Ireland for now.
Maybe you could try to ask another time via twitter in the name of electricitymap.

![image](https://user-images.githubusercontent.com/25743609/51208740-c4975780-190

[2019-01-16 08:10] Dalius-ENTSO-E commented on #1340
Hi Chanpreet,
Please note, that EriGrid reports pumping mode (which should be reported as consumption part) as generation which is absolutely incorrect. See users observations below:
[cid:image001.png@01D4AD7A.CC4BC4C0]

Could you please contact EirGrid and advise them how the pumping mode should be reported? They have to report this as consumption, but not as a negative generation. Negative value

[2019-01-16 20:21] fconrotte commented on #212
Now that Austria is split from Germany in ENTSOE data, it seems the values are populated in the Luxembourg electricity generation grid

Could it be used to support Luxembourg on ElectricityMap ?

https://transparency.entsoe.eu/generation/r2/actualGenerationPerProductionType/show?name=&defaultValue=true&viewType=TABLE&areaType=BZN&atch=false&datepicker-day-offset-select-dv-date-from_input=D&dateTim

[2019-01-23 10:59] systemcatch opened #1751 "Turn off pip progress bars for CircleCI build"
Take a look at this recent CircleCI build log for #1746.

[build_3745_step_107_container_0.txt](https://github.com/tmrowco/electricitymap-contrib/files/2786874/build_3745_step_107_container_0.txt)

It can't be viewed on the CircleCI interface because it's too large. Most of the log is taken up with progress bars for downloads from pypi.  Since that's not useful for this project I suggest we turn t

[2019-01-24 09:05] #1545 closed

[2019-01-24 09:52] #1751 closed

[2019-01-24 11:40] #1740 closed

[2019-01-24 14:48] systemcatch commented on #1732
Looks ok to me as well.

[code]

[2019-01-24 14:52] systemcatch commented on #1732
Why is the timezone offset different for min and max returned?

[2019-01-24 16:04] sebastien-bartoli opened #1753 "Hydro storage reserves"
I have an idea for contribution, and want to add hydro storage capacity on the left panel for each country.

Source of the data :
- https://www.services-rte.com/fr/visualisez-les-donnees-publiees-par-rte/stock-hydraulique.html (visualisation and max capacity)
- https://data.rte-france.com/catalog/-/api/user_guide/226953#_Toc506996014 (actual API endpoint with current storage)

My idea is to add on

[2019-01-26 14:03] nickflynn opened #1754 "UK wind and generation output currently diverging massively from other monitor websites"
Right now (13.58 26th January) https://www.mygridgb.co.uk/ shows wind at 12.5 GW and generation at 38GW .  ElectricityMap showing wind at 2.36 GW and generation at 28.5GW.   https://www.gridwatch.templar.co.uk/ showing wind at 10GW and Generation at 35.31GW

I understand that each website has a slightly different way of monitoring but something is very wrong here.

[2019-01-26 14:36] corradio commented on #1754
Indeed that is problematic. We get the data from BMReports. Do you know any alternative or better data source?

[2019-01-26 14:57] nickflynn commented on #1754
No.   I know the mygrid website also uses BMreports and sheffield university for solar.  I notice that the wind is always a little higher on mygird than than BMreports,  I think that is because mygrid factors in microwind somehow.   BMreports / Exelon is showing just under 10 GW of wind now.   https://www.bmreports.com/bmrs/?q=eds/main

The guy on who runs mygrid, Andrew Crossland has an email add

[2019-01-26 15:20] corradio commented on #1754
@lorrieq any clue?

[2019-01-26 18:31] jarek commented on #1754
How does it compare to the data in ENTSO-E?

[2019-01-28 16:22] brunolajoie commented on #1754
This is our dataset for GB wind for 2018 (in MW)
mean      4772.920635
std       2853.686857
min        334.271000
25%       2366.611251
50%       4373.077542
75%       6881.473470
max      18331.732847
![image](https://user-images.githubusercontent.com/22095643/51849954-08cc2400-2321-11e9-8411-2b5bafb7f1b5.png)

How "wrong" does it look to your opinion? Does this deserve change of parser and also

[2019-01-28 20:12] bmckinlay opened #1755 "Great Britain: wind power being under-reported"
Both wind and total generation for Great Britain seems to be consistently under-reported.

Comparing wind generation reported by electricitymap.org to other sources (such as gridwatch.co.uk) at 20:00 GMT on Jan 28th, electricitymap.org reports 1.29GW wind of 43.5GW total, while gridwatch.co.uk reports 5.55GW wind of 45.05GW total.

This disparity has been consistent for the past week or so and see

[2019-01-28 22:14] jarek commented on #1755
Thanks for noticing and reporting. Please see #1754 for more details on this issue.

[2019-01-28 22:17] jarek commented on #1754
Whatever it is our parser is getting, it's not the same as displayed on bmreports page. EM screenshot in UTC-5, note that bmreports chart shows almost 48 hours.

![image](https://user-images.githubusercontent.com/47415/51869973-4a100400-2320-11e9-83cd-bda98fe0a481.png)

![image](https://user-images.githubusercontent.com/47415/51870087-93f8ea00-2320-11e9-813b-10a464821317.png)

Right now bmreports

[2019-01-28 23:46] lorrieq commented on #1754
Hey guys, apologies for not being quicker on this.
We are reading production data per fuel type from [this report](https://www.bmreports.com/bmrs/?q=actgenration/actualaggregated).

It looks like an issue on their end as something weird happened to the wind in this report around 05:30 on the 25th and it has stayed strange since.
![image](https://user-images.githubusercontent.com/6525086/51873736-3

[2019-01-29 06:49] brunolajoie commented on #1753
Hello Sebastien, thanks a lot for that idea.

Unfortunately, I haven't seen such data available for a lot of regions beyond France.
it seems a bit early to add to the electricityMap, but I hope in the future when more data is openly accessible we could add such information to the system. It will require a change in the backend though.

If we were to do so, we could simply start by just having it a

[2019-01-29 06:49] #1753 closed

[2019-01-29 13:44] lorrieq commented on #1754
_The data display in BM Reports is as received from National Grid_ was the response from BMRS. I have forwarded my email on to the National Grid contact they provided me.

[2019-01-30 11:20] #1755 closed

[2019-01-31 17:44] systemcatch commented on #1516
Looks like the entire sldc.com site has been down for most of January!

[2019-02-02 13:47] GeoffreyFrogeye opened #1758 "Production / Consumption switch cannot be translated"
Same for the tooltip.

[2019-02-03 16:47] strassburger opened #1759 "electricityMap app not available in F-Droid Android software repository"
Can not find  electricityMap APP in F-Droid.
I try to work without google app store.
Is it a problem to put it there?

[2019-02-03 20:38] jarek commented on #1759
Hm, mobile Firefox does show the "add to home screen" button ("house with plus inside" icon in address bar) but this is just a nice shortcut icon on your desktop that launches a whole Firefox with electricitymap.org loading in it from scratch. I don't know if installing the app caches more things or something.

This is the button:

![image](https://user-images.githubusercontent.com/47415/52182267-

[2019-02-04 11:08] brunolajoie commented on #1732
It's my computer which must have been baned

[2019-02-04 11:08] #1732 closed

[2019-02-04 16:41] brunolajoie opened #1761 "FR real-time production data not fetching"
Kibana [error](https://kibana.electricitymap.org/app/kibana#/doc/96f67170-0c49-11e9-85c1-1d63df8c862c/logstash-2019.02.04/doc?id=lmpUuWgBNz7S35JwCX8L&_g=())
```KeyError: "['nucleaire' 'charbon' 'gaz' 'fioul' 'eolien' 'solaire' 'bioenergies'\n 'hydraulique_fil_eau_eclusee' 'hydraulique_lacs'\n 'hydraulique_step_turbinage' 'pompage'] not in index"```

[2019-02-04 17:01] strassburger commented on #1759
@jarek,
thanks for your effort.
I understand that the result is like a desktop icon with a link to open just the website of electricitymap with firefox.
Nearly like i use it now with a firefox bookmark.
Think an app is some more or isnt it?

[2019-02-04 17:11] jarek commented on #1761
those keys are the expected keys for mapping generation, defined in https://github.com/tmrowco/electricitymap-contrib/blob/a1014c242caacac9f59f6175261ec04bea52170f/parsers/FR.py#L17 and used in https://github.com/tmrowco/electricitymap-contrib/blob/a1014c242caacac9f59f6175261ec04bea52170f/parsers/FR.py#L71

looks like server response has changed or possibly is empty

[2019-02-04 17:37] brunolajoie commented on #1761
@lorrieq would you have an idea about this? relates to your PR #1560 i thing

[2019-02-05 09:42] lorrieq commented on #1761
Hey, I just took a look.
The API is expected to return something like the below but it is returning the data in the same format (a record for each datetime) but without any fuel keys present. Hopefully this is just a temporary issue on their end, otherwise we will need a new source. I have [contacted](https://opendata.reseaux-energies.fr/pages/contact/) them in English, if somebody wants to send a

[2019-02-05 10:36] andsouto opened #1762 "Allow Hydro Storage to have only negative capacity"
The rationale behind this is data for Spain provided by NTSOE includes pumped storage consumption in “Hydro Pumped Storage” but pump storage actual generation is included in “Hydro Water Reservoir” together with the rest of hydro. Data is being shown right but the 5645MW of hydro storage capacity is not shown because if added it will show the same capacity for generation but actual generation will

[2019-02-05 10:37] brunolajoie commented on #1761
I contacted them too

[2019-02-05 10:44] lorrieq commented on #1761
@corradio, good idea. I can implement that if this is confirmed to be a temporary issue at the source!

[2019-02-05 10:46] corradio commented on #1761
I've seen it happen before so I think that would be great indeed!

On Tue, Feb 5, 2019 at 11:44 AM Laurence Quinn <notifications@github.com>
wrote:

--

www.tmrow.com
+45 53 70 44 03

[image: Image result for linkedin] <http://linkedin.com/in/oliviercorradi>
linkedin.com/in/oliviercorradi <https://www.linkedin.com/in/oliviercorradi>
[image: Image result for twitter]  @corradio <https://twitter.com

[2019-02-06 12:00] bmckinlay commented on #1754
Yes, switching to the report at https://www.bmreports.com/bmrs/?q=generation/fueltype looks like the right solution to me.

The values here seem to line up with what other sites report, including the shown on bmreports itself. This is also a higher-resolution data source, being reported every 5 minutes instead of each settlement period (30 minutes).

[2019-02-06 19:24] alixunderplatz commented on #541
@brunolajoie Any news from ISEP or a reply to your tweet ?

[2019-02-06 19:30] #1213 closed

[2019-02-06 19:40] alixunderplatz commented on #1029
Here we still need to figure out how to deal with the complex exchange structrure between Italy Central North <-> Corsica / Sardinia <-> Italy Central South zones.
Maybe someone can take another look on the capacities per region (at least for the renewables)
Otherwise we could close this issue since the split was merged already.

[2019-02-07 15:05] brunolajoie commented on #1761
Received an email saying they fixed the issue thanks to our feedback.
Emailing them works very well
Good to know!

[2019-02-07 15:05] #1761 closed

[2019-02-07 18:25] brunolajoie commented on #1754
Yes, we should go ahead and change report to the [/fueltype one](https://www.bmreports.com/bmrs/?q=generation/fueltype) if you think
- data is better
- it uses our same elexon token
- we can fetch back in time too (to correct january faulty data to start with)

It seems true, but I haven't had time to give a deeper look at it! Your call!

[2019-02-07 20:53] brunolajoie commented on #983
Hi @sandeen ! We have now collected 1 year of data from the live parser, and are now interested in adding more historical MISO data to our database! Could you let us know what you found?

[2019-02-07 20:58] brunolajoie commented on #541
Nothing unfortunately!

On Wed, Feb 6, 2019 at 8:24 PM Alex <notifications@github.com> wrote:

[2019-02-07 21:47] sandeen commented on #983
Hi @brunolajoie - I thought I had already provided all the historical data I had.    Did that never get integrated?  I think I still have the tarball I prepared, let me know how I could provide it.

(Edit: Looking above, @systemcatch seems to have said that my data was already incorporated...)
(Edit2: I haven't found a nice way to get any older data)

[2019-02-07 23:29] jarek commented on #1759
I'm actually not sure what the app is, as I don't have it installed (nor do I have the Play Store), maybe someone else can confirm

[2019-02-08 07:30] corradio commented on #1759
The app is a thin wrapper around the website that makes it start faster (because it doesn't have to load the web application itself).
@strassburger else you can always find the apk on the internet (I think there are some apk scrappers somewhere) and install it?
I'm not sure I see a simple way to add an app to F-Droid else.

[2019-02-08 10:10] brunolajoie commented on #983
Sorry if I forgot. We've got data since ~Feb 2018 in the database. Is that what you found? or did you get longer time series?

[2019-02-08 11:51] systemcatch commented on #983
I remember cleaning up @sandeen's old data and sending it to @corradio, I think he said there was an issue open in the private repo for integrating it.

Looking through my computer I've got several xls files for MISO for 2013/14/15/16.

[2019-02-08 12:09] corradio commented on #983
I remember inserting all the data that @systemcatch sent me!

On Fri, Feb 8, 2019 at 12:51 PM Chris <notifications@github.com> wrote:

--

www.tmrow.com
+45 53 70 44 03

[image: Image result for linkedin] <http://linkedin.com/in/oliviercorradi>
linkedin.com/in/oliviercorradi <https://www.linkedin.com/in/oliviercorradi>
[image: Image result for twitter]  @corradio <https://twitter.com/corradio>

[2019-02-08 14:56] sandeen commented on #983
Ok - well, I think I still have the json files that I cobbled together, let me know if you want them again.  It goes back to Dec 2013.  If the json is a mess, I have it in other forms.

[2019-02-10 00:55] jarek commented on #1701
This has been obsoleted/resolved by switching away from Stattnet data in #1739

[2019-02-10 00:55] #1701 closed

[2019-02-10 19:09] erdmark opened #1765 "Coal emissions too low for Germany"
On your site coal has a carbon intensity of 820g/kWh in Germany.
I think it is a bit higher. In Germany there are two types of coal burned, normal hard coal with ~870 and lignite coal with ~1130g.
The data is from energy-charts.de for 2016. I divided CO2 emissions by generated power over the whole year. The weighted average of both types 1020, much higher than what electricitymap calculates with.

[2019-02-10 20:16] jarek commented on #1765
Please see issue #738 for ongoing efforts to systematically get more accurate emission intensities for several countries

[2019-02-10 23:52] GedEssex opened #1766 "UK www.bmreports.com"
Why does...
https://www.bmreports.com/bmrs/?q=eds/main
disagree so much with...
https://www.electricitymap.org/?wind=false&solar=false&page=country&remote=true&countryCode=GB
for the UK?

[2019-02-11 00:50] jarek commented on #1766
Hello, apparently this is because of reporting problems somewhere in BM or National Grid. We're trying to workaround it by using a different report. Please see issue #1754 for details.

[2019-02-11 00:50] #1766 closed

[2019-02-11 08:28] brunolajoie commented on #983
Happy to discuss on slack (I've sent you a message)

[2019-02-11 15:59] systemcatch commented on #738
Quoting @erdmark in #1765

[2019-02-12 12:22] wojciej opened #1768 "Idea - new approach to display detailed information about percentage production / consumption or carbon emission."
Hello,
I have noticed that for countries with very small production per type it is very hard to get detailed information by trying to hover the vertical graph.

For example
Spain has only 11,32MW of "hydro storage capacity", now when we look at the map its impossible to get detailed info of how much is it utilised by hovering over the graph.
![screen shot 2019-02-12 at 13 19 46](https://user-image

[2019-02-12 12:28] aarbur commented on #1768
What about making the text ("hydro storage") also hoverable/clickable/tappable, as well as the bar chart? Or better still, the entire row: text string, bar and unused-bar-space.

[2019-02-12 12:33] wojciej commented on #1768
Hey, the text thing is exactly what I meant by "hovering over a name of the source", but adding option for action on entire row seems to be even better - if possible.

[2019-02-13 06:20] jzlcdh commented on #738
I like the idea of having a toggle switch between lifecycle and operational. I presume the operational figures are much more accurate than the lifecycle ones? Certainly a couple of years ago here in Turkey methane emissions from coal mining were the least certain figures in the country's ghg emissions. I don't know if that is still true and whether they are also very uncertain in other coal mining

[2019-02-13 06:43] alixunderplatz opened #1770 "Italy South and Sicily need parser update"
Production for Italian micro-bidding zones Priolo, Foggia and Brindisi isn't reported to ENTSO-E anymore since 1st January 2019. Probably it now is included in the respective surrounding zones? This is why we miss Italy South and Sicily on the map. Only micro-zone Rossano (included in our "Italy South") still has data which still must be added to ENTSO-E's "South".

[2019-02-13 08:55] brunolajoie commented on #738
Yes, the idea of the toogle switch would be awesome.
As discussed [above](https://github.com/tmrowco/electricitymap-contrib/issues/738#issuecomment-448309577) we're waiting for the peer review of the following [paper](https://arxiv.org/abs/1812.06679) which could provide such figures. We would be able to have the Lifecycle vs. Operation emissions, splitted by EU-country, and use EU-28 average as d

[2019-02-13 10:15] thomasgibon commented on #738
I concur, great idea. I don't think we have heard back from the reviewers yet.

The main criticism I am awaiting from the review is the relevance of separating indirect (i.e. not on-site, such as coal mining, logistics, ...) vs. direct (e.g. direct emissions from combustion) emissions, as opposed to what is done in the paper, i.e. separating infrastructure (i.e. invested capital, namely constructi

[2019-02-13 13:12] brunolajoie commented on #738
@thomasgibon I personally like very much the split in the paper (operational vs. non-operational emissions. One is clearly per kWh. The other depends on the lifetime & load factor of the power plant). What would be the split closer to scope 2 vs. scope 3 GHG accounting? Let's wait for the reviews!

[2019-02-13 19:40] systemcatch commented on #1770
I see this error for Italy South quite often;

[code]

and this one for Sicily;

[code]
ENTSOE looks to have data present at the moment for both zones, what do we need to change?

[2019-02-13 21:22] alixunderplatz commented on #1770
@systemcatch right, we have data for both zones, but we add some very tiny bidding zones on top. These don't seem to exist ( / don't seem to report data) anymore since 1st January, so we need to exclude them from the sum of the surrounding zones. I think the errors come from calculating production of big zone + "N/A" of small zone.

[2019-02-14 09:52] brunolajoie opened #1772 "Taiwan real-time data has stopped working"
Taiwain seems to have been offline recently
It used to work correctly, something may have changed in the data source?

Kibana error description [here](https://kibana.electricitymap.org/app/kibana#/discover/10af54f0-0c4a-11e9-85c1-1d63df8c862c?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-24h,mode:quick,to:now))&_a=(columns:!(message,extra.key,level),filters:!(('$state':(store:a

[2019-02-14 11:36] systemcatch commented on #1772
This is the error that is being raised.
[code]

[2019-02-14 13:01] systemcatch commented on #1772
Looking at the listed [source](http://www.taipower.com.tw/d006/loadGraph/loadGraph/genshx_.html) in the readme it seems the data is supplied from http://www.taipower.com.tw/d006/loadGraph/loadGraph/data/genary.txt, which is different to the source in the parser (http://data.taipower.com.tw/opendata01/apply/file/d006001/001.txt)

[2019-02-14 13:28] brunolajoie commented on #1772
Good catch! Let us know if you see it as quickly fixeable or if it need a entire rewrite

[2019-02-14 15:43] systemcatch commented on #1772
Actually looking closely at http://www.taipower.com.tw/tc/page.aspx?mid=206&cid=404&cchk=8ccc1918-8cae-4f40-a2d0-b43454f4f218, there's a request to http://www.taipower.com.tw/d006/loadGraph/loadGraph/data/loadfueltype.csv for the underlying graph data.

That csv contains data for the entire day so it could provide us with way to return a list of datapoints rather than just one.

[2019-02-14 16:03] systemcatch commented on #983
Sent you the data again @brunolajoie

[2019-02-14 18:02] brunolajoie commented on #1772
Oh cool, swapping the URL to http://www.taipower.com.tw/d006/loadGraph/loadGraph/data/genary.txt indeed fix the problem easily. I'll do it right now to stop the bleeding.

Now, to chose between http://www.taipower.com.tw/d006/loadGraph/loadGraph/data/genary.txt  and http://www.taipower.com.tw/d006/loadGraph/loadGraph/data/loadfueltype.csv, a good argument could be if one could fetch historical dat

[2019-02-14 18:47] systemcatch commented on #1772
As far as I can tell there is currently no historical data available at the granularity we require.

[2019-02-14 19:24] #1772 closed

[2019-02-14 19:44] brunolajoie commented on #1177
Any update on the possibility to add "MISO->SPP exchange"?

[2019-02-14 19:48] brunolajoie opened #1774 "Add US-SPP historical Wind & Solar and load forecasts refetch ability"
SPP has excellent data sources available [here](https://marketplace.spp.org/groups/operational_data) that we are not exploiting to its full potential.

Our current [SPP parser](https://github.com/tmrowco/electricitymap-contrib/blob/master/parsers/US_SPP.py) could be improved by

- [x] adding ability to fetch wind & solar forecasts, as we did with the ENTSOE parser [here](https://github.com/tmrowco

[2019-02-15 03:02] jarek commented on #1765
Please follow-up in issue #738 - I will close this issue to clean up duplicates.

[2019-02-15 03:02] #1765 closed

[2019-02-15 09:47] #1702 closed

[2019-02-15 23:53] #1708 closed

[2019-02-16 00:30] strassburger commented on #1759
@corradio
As long there is no easy way to put a app of electricitymap to the F-Droid reposito:
I can live with just al firefox bookmark.

[2019-02-16 00:30] #1759 closed

[2019-02-16 06:35] alixunderplatz commented on #1770
I checked and now it's very clear to me that three micro bidding zones were merged.
31st December 23:00 IT-South has 3500 MW. From 1st January 00:00 it has >5000 MW and data for IT-BR and IT-FO is "n/e".

![image](https://user-images.githubusercontent.com/25743609/52895608-45bb6600-31bd-11e9-8743-087677a61555.png)

![image](https://user-images.githubusercontent.com/25743609/52895562-b01fd680-31bc-

[2019-02-16 06:46] alixunderplatz commented on #1770
Looks like the exchange IT-South with Greeceis broken as well, because it used the zone "IT-BR". Needs to be switched to "IT-South" in the ENTSOE parser

[2019-02-18 01:01] jarek commented on #1642
Will this really work with our world data being substantially incomplete? A chart of per-country coal production without China... or for that matter a chart of per-country wind production without China?

[2019-02-18 01:07] jarek commented on #814
I'm going to close it again since we don't have data. On upside, these current "renewable watch" images on https://www.mauielectric.com/clean-energy-hawaii/integration-tools-and-resources/renewable-watch seem to be screenshots of Windows 7 machines so maybe they'll be upgrading the system soon when Windows 7 support runs out and they provide an API then...

[2019-02-18 01:10] jarek commented on #1579
Hello, I'm going to close this in favour of issue #1030 which seems to be about a substantially similar idea. Please reopen if this is not correct.

[2019-02-18 01:10] #1579 closed

[2019-02-18 01:11] jarek commented on #1675
Is there any useful data we can integrate available now? As far as I can see this seems to be the same as every other U.S. region?

[2019-02-18 01:13] jarek commented on #1675
What kind of help would we be looking for with this issue? Is it still a good label? Same with #1674, #1676

[2019-02-18 01:19] jarek commented on #1736
Hi - has anyone been able to get more detailed data here?

Looking at the past 24 hours (weekend), "unknown" has been basically totally not there for all of Norway's zero - again suggesting it is not district heating, as it is 3-4 degrees Celsius in Oslo.

[2019-02-18 01:28] jarek commented on #1463
I still see this issue on Android Firefox 64.0.2, steps to reproduce are as in first comment, observed behaviour remained the same, except time slider starts at earliest value then jumps to the most recent value after about a second (even though time display under region name is unchanged).

[2019-02-18 02:28] jarek commented on #1375
Hm, what's the status of this right now? The "electricity is stored" string is still used, but the emissions thing has been corrected, right?

[2019-02-18 02:35] Gazer75 commented on #1736
I contacted both Statnett and ENTSOE. Got reply from ENTSOE and was told they would look into it and fix any errors.

[2019-02-18 02:35] jarek commented on #1450
@alexaristotelous Did you ever hear back from the Cyprus transmission system operator?

I just looked and there haven't been numbers for production capacity (1478MW oil to 10MW biomass as referred to by systemcatch), latest capacities numbers in ENTSOE are from 2017.

If there hasn't been an update, maybe we can close the issue?

[2019-02-18 02:37] jarek commented on #1445
Hello,

I will close this issue as it appears we intend to resolve this using the approach in issue #738.

[2019-02-18 02:37] #1445 closed

[2019-02-18 02:41] jarek commented on #1736
Great, let's watch it over next couple of days and see if there is still any significant "unknown" generation reported.

[2019-02-18 08:10] corradio commented on #1375
I think so (indeed the emissions thing has been corrected), cc @brunolajoie

[2019-02-18 16:35] brunolajoie commented on #1642
Closing as this does not fit with current electricitymap front end. Thanks for suggesting though!
Non-map based graphs will be part of a "dashboard" view of historical time series based on eMap data  that we are hoping to build in the future

[2019-02-18 16:35] #1642 closed

[2019-02-18 18:01] alexaristotelous commented on #1450
Hey @jarek

Thanks for reaching out, I got involved in something else and forgot to check up on this.
Afraid they didn't get back to me regarding biomass. I know they'll be adding more power capacity soon, so hopefull that will force them to be a bit more transparent.

[2019-02-18 18:01] #1450 closed

[2019-02-19 09:41] aarbur commented on #1754
Why is the data still noisy, even though "Add option to read GB wind from other report #1779" has been merged?

[2019-02-19 10:02] corradio commented on #1754
It hasn't been released to production yet.
It will be done soon.

On Tue 19 Feb 2019 at 10:41, aarbur <notifications@github.com> wrote:

--

www.tmrow.com
+45 53 70 44 03

[image: Image result for linkedin] <http://linkedin.com/in/oliviercorradi>
linkedin.com/in/oliviercorradi <https://www.linkedin.com/in/oliviercorradi>
[image: Image result for twitter]  @corradio <https://twitter.com/corradio>

[2019-02-19 21:12] lorrieq commented on #1754
Looks good now. Maybe confirm the data has been backfilled in the backend before closing the issue.

[2019-02-20 11:59] brunolajoie commented on #1675
I don't think there's anything we can help with for now. I've removed "help wanted" label from these issues.

[2019-02-20 12:46] brunolajoie commented on #1754
Historical refetch worked perfectly. Thanks!

[2019-02-20 12:46] #1754 closed

[2019-02-22 07:02] Flaco2727 opened #1783 "Data from South Italy and Sicily"
Hi! Thanks for this great project. I would like to draw your attention to the data from the south of Italy (south and Sicily) which are missing since several weeks. Most of the Italian installed capacity is actually in these regions so it would be nice to have them back. Thanks and keep going with your work !

[2019-02-23 11:28] conrad-heimbold opened #1784 "Internat. Energy Agency (IEA) not a reputable source"
I saw the IEA a couple of times mentioned as source in some threads here.

However, I think we should be skeptical about the IEA and if it is a reputable source, taking into consideration the systematically wrong predictions that the IEA made in the past: https://en.wikipedia.org/wiki/International_Energy_Agency#Critics

I think it is safe to say that the IEA had a political agenda when they made

[2019-02-23 11:33] conrad-heimbold commented on #1784
It would be good to implement some kind of meta-tags inside the data where you can also safe the source of the data. This way, if one source of data is proven to be inconsistent / wrong, you can find out easily where else its data has been used.

[2019-02-23 14:10] jarek commented on #1784
Hello,

Thank you for the note.

To clarify, we have used IEA statistics on past generation to estimate carbon footprint of "unknown" fuel or in cases where energy is imported from a region where we don't have data.

As an example, we've used https://www.iea.org/statistics/?country=ZAMBIA&year=2016&category=Key%20indicators&indicator=ElecGenByFuel&mode=table&dataTable=ELECTRICITYANDHEAT (tab "Data

[2019-02-23 17:02] systemcatch commented on #1783
Please see #1770

[2019-02-23 17:02] #1783 closed

[2019-02-23 17:21] systemcatch commented on #1563
I'm thinking of taking a crack at writing a basic parser here, but before I start are we happy with @alixunderplatz's suggestion of a breakdown of nuclear, hydro and unknown (with a specific emissions factor)? Since there's no exchanges this setup shouldn't 'contaminate' the rest of the data set.

[2019-02-24 06:09] Gazer75 opened #1785 "Norways largest windpark, Roan, opened (256MW)"
Another 256MW worth of wind capacity has to be added to NO and NO3 for Norway.
If you look at logs you might see a production for NO3 that is over current set capacity :)
As of writing this on the morning of 24. February 2019 there is pretty high wind in the area so it might show significant production.
The windpark consists of 71 Vestas V117 3.6MW turbines.

[2019-02-24 16:40] systemcatch commented on #1785
Hi @Gazer75 thanks for pointing that out, do you want to submit a PR updating the capacity?

[2019-02-24 17:57] brunolajoie commented on #1784
I'm closing this issue, as it does not refers to a specific issue in our code base. Feel free to re-open another issue with more precide details on what to "fix"?

[2019-02-24 17:57] #1784 closed

[2019-02-24 19:25] brunolajoie commented on #1563
I'm pretty much aligned with @alixunderplatz's suggestion! 👍

[2019-02-24 20:28] Gazer75 commented on #1785
Hoped someone with write permission could just update the two lines in the file affected by this directly :)

[2019-02-25 18:03] brunolajoie commented on #983
The JSON that I received only contains data for 2013 (@sandeen @systemcatch). Let me know if you find data for the 2014-2017 period :) Thanks!

[2019-02-25 18:10] sandeen commented on #983
http://sandeen.net/electricitymap/miso-pretty.json.bz2 is what I provided last year and has data thru Jan 2018 AFAIK.

[2019-02-25 19:01] brunolajoie commented on #1774
To be more precise,

- This address https://marketplace.spp.org/file-api/download/midterm-resource-forecast?path=%2F2019%2F02%2F25%2FOP-MTRF-201902251200.csv provides the J+7 hourly wind and solar generation forecasts made on the 2019-02-25-12:00 local time (csv [here](https://drive.google.com/a/tmrow.com/file/d/1hFhRKLFDVlcSLR3ev61q308MUTuJ4K0e/view?usp=sharing)). These files can be fetched back

[2019-02-26 11:07] systemcatch commented on #983
@sandeen yup your data is fine I just need to fix my processing script.

[2019-02-27 08:55] conrad-heimbold commented on #1784
Thank you for your answer brunolajoie, if I have some time I will take a look into the issues / code to find the data coming from the IEA that might be wrong.

[2019-02-28 03:37] #410 closed

[2019-02-28 13:09] brunolajoie opened #1788 "Add US-MISO day ahead wind & solar forecasts"
Both Wind Production and Total Load seem available with a day-head forecast from the following webpage https://www.misoenergy.org/markets-and-operations/real-time-displays/

These forecasts could be added to the MISO parser

[2019-02-28 17:31] systemcatch commented on #1788
API's for both of those are available at https://www.misoenergy.org/markets-and-operations/RTDataAPIs/

[2019-03-02 18:55] corradio commented on #1774
@systemcatch did you already work on this? Else I might take a look at this this week.

[2019-03-03 14:01] #1742 closed

[2019-03-03 16:36] #987 closed

[2019-03-03 18:52] jarek commented on #1758
Hi @GeoffreyFrogeye, I think this has been fixed in #1782. Can you take a look?

[2019-03-03 18:52] #1758 closed

[2019-03-03 18:53] jarek commented on #1714
I haven't seen this being an issue recently, maybe the operator has improved their data submission timeliness?

[2019-03-03 18:56] jarek commented on #1055
Removing "help wanted" as for the time we have no data to integrate

[2019-03-03 19:00] brandongalbraith commented on #1055
Is this a matter of someone doing the research of making contact to suss
out a data source? Seeking context to contribute on this issue if possible.

On Sun, Mar 3, 2019 at 1:56 PM jarek <notifications@github.com> wrote:

[2019-03-03 19:11] jarek commented on #1055
Basically, we'd need the system operator (EEM here I guess) to provide computer-readable data in addition to the generated image. CSV, XML, JSON, whatever is most convenient for them. @alixunderplatz posted an email address in the first post and @systemcatch said he wrote to them, but I guess they never heard back, or nothing that we can use. It can be tough to get the message to the right technic

[2019-03-03 22:58] corradio commented on #1714
Seems like that indeed. Closing

[2019-03-03 22:58] #1714 closed

[2019-03-03 23:02] #1770 closed

[2019-03-04 09:47] systemcatch commented on #1055
Yeah I never heard back from them, probably need something better than google translated Portuguese.

It's annoying as that graph is likely generated from an excel file.

[2019-03-04 09:48] systemcatch commented on #1774
@corradio just about to submit a PR. :wink:

[2019-03-04 15:02] #1788 closed

[2019-03-05 20:58] brandongalbraith commented on #1055
Emailed the author of [Energy storage for renewable energy integration: the case of
Madeira Island, Portugal](https://ac.els-cdn.com/S187661021735227X/1-s2.0-S187661021735227X-main.pdf?_tid=46cc2cd0-6523-4ca7-ace2-15715503e774&acdnat=1551819483_cebc71474e0ce00498566bb797b244bc) who has collaborated with EEM in hopes they're able to provide a technical contact for generation data.

[2019-03-10 16:48] jarek commented on #1340
Update: looking recently, Ireland's hydro storage in the middle of the night has been reported as 0. It looks like instead of reporting hydro storage always positive as before, they set the reported value to minimum zero. That's less wrong, but not strictly correct...

[2019-03-11 17:18] jarek commented on #166
new PEI endpoint implemented in #1791

[2019-03-11 17:18] #166 closed

[2019-03-12 07:06] corradio opened #1792 "DE->DK-DK1 issue"
Traceback (most recent call last):
  File "/home/feeder/lib/fetch_data.py", line 169, in launch_parsers
    objs = res.get(timeout)
  File "/usr/local/lib/python3.6/multiprocessing/pool.py", line 644, in get
    raise self._value
  File "/usr/local/lib/python3.6/multiprocessing/pool.py", line 119, in worker
    result = (True, func(*args, **kwds))
  File "/home/feeder/lib/fetch_data.py", line 167,

[2019-03-12 09:58] systemcatch commented on #1792
https://github.com/tmrowco/electricitymap-contrib/blob/20c24f909ebb17ab6392376d944c83febb250173/parsers/DK.py#L155 is causing the Assertion Error.

Response is not 200 or there's no data right now I guess.

[2019-03-12 10:47] corradio commented on #1792
Maybe it would be better to throw an error with the HTTP status and error
so we can log this

On Tue, Mar 12, 2019 at 10:58 AM Chris <notifications@github.com> wrote:

--

www.tmrow.com
+45 53 70 44 03

[image: Image result for linkedin] <http://linkedin.com/in/oliviercorradi>
linkedin.com/in/oliviercorradi <https://www.linkedin.com/in/oliviercorradi>
[image: Image result for twitter]  @corradio <

[2019-03-12 18:59] alixunderplatz commented on #1340
Just found another answer from 25th Feb to my tweet. @jarek the have fixed the problem almost like you described:

https://twitter.com/EirGrid/status/1100005872149905408
"Hi Alex. This has now been corrected so only positive generation values are included when we report on Pumped Hydro generation. Many thanks, the EirGrid team."

So since 5th February it seems only production is reported, but no p

[2019-03-13 08:22] corradio opened #1794 "Most of Australia is down"
Parsers indicate "HTTP Error 503: Service Unavailable: Back-end server is at capacity".

[2019-03-13 09:13] brunolajoie commented on #1794
it might be time to switch to OpenNEM now? (as discussed in #1196, using
a neat API that returns JSON: https://data.opennem.org.au/power/qld1.json )

[2019-03-13 12:36] jarek commented on #1794
... down under? >_>

[2019-03-15 13:51] rodwalker opened #1797 "Suggest delay time to optimize CO2 footprint for dishwasher, etc."
I would like to suggest a new functionality for your app. It would enable people about to start the dishwasher to easily set a delay time, in order to minimize the CO2 footprint.

Upon opening the new entry-point, or new app, the user would see a configurable set of icon-buttons for dishwasher, washer, drier. Pushing one instantly shows a number of hours to set the delay. The optimization would us

[2019-03-18 09:41] lorrieq commented on #1792
Closed in #1798

[2019-03-18 09:41] #1792 closed

[2019-03-18 14:57] corradio commented on #1774
I think all 3 have been done right @brunolajoie @systemcatch ?

[2019-03-18 16:49] systemcatch commented on #1774
@corradio the historical generation mix hasn't been done yet, I can start working on that soon. There's one file per year so they end up being kind of huge.

[2019-03-18 16:51] corradio commented on #1774
ok great! No rush on this one. I've updated the issue. Again, thank you very much for your very valuable help

[2019-03-19 10:00] corradio commented on #1794
wrote to data@digital.gov.au

[2019-03-20 06:08] corradio commented on #1794
got an answer. New URL: https://services.aremi.data61.io/aemo/v6/csv/all

[2019-03-20 06:10] #1794 closed

[2019-03-20 20:22] alixunderplatz commented on #78
It's been over two years now since this data quality issue has been discussed.
electricityMap is not the only project depending on correct data. Market participants, other transparency platforms, scientists and the interested people of The NL and the EU also have the right to get informed about the near-real-time generation mix in The Netherands.

Once again, here's a summary of the recent status

[2019-03-20 20:25] corradio commented on #78
@Dalius-ENTSO-E can you help us make our voice be heard?

[2019-03-20 20:34] Dalius-ENTSO-E commented on #78
Hi,
Sure. Thanks for very interesting and very good observations. I will analyse all these comments very detail tomorrow and then I will let you know.

[2019-03-21 06:23] ChrisLoer commented on #1590
One option to consider would be representing the arrows as lines in a GeoJSON source, and then adding a line layer to the map. You can use the `line-gradient` property to change the colors (and the `line-gradient` property is quick to update, so it should be reasonable to drive this kind of animation with it). See the "animate a route line" example at https://blog.mapbox.com/map-pride-2018-with-ou

[2019-03-22 07:54] Dalius-ENTSO-E commented on #78
Hi,
Majority of these issues are related no producers. TenneT NL can't influence them. I received the following feedback and clarification:
Currently TenneT and the NRA are working together on this topics. The following steps are defined to create more quality in this:
1.	Create new publication for art. 16.1.b&c => planning live March 2019
a.	Data first will be published all in "others" as being n

[2019-03-22 07:55] Dalius-ENTSO-E commented on #78
Local National Regulator: www.acm.nl

[2019-03-22 21:18] planetbb commented on #774
How do I start from here???
The link above doesn't work for now.

[2019-03-22 22:09] alixunderplatz commented on #774
Hi @planetbb, the repo was renamed, see this folder for the different language files:
https://github.com/tmrowco/electricitymap-contrib/tree/master/web/locales
Use the english version EN.json as template and create the Korean KR.json from it.
Feel free to ask any questions regarding the translation here in this issue :) I will reopen it for now

[2019-03-23 11:22] corradio commented on #1590
Hi @ChrisLoer ,

from looking at the code it seems that the animation is driven by the JS thread, every 20ms:

![image](https://user-images.githubusercontent.com/1655848/54865460-3f914a00-4d66-11e9-9011-0f243e908821.png)

This seems to be very expensive if we have ~ 20arrows that we animate using JS.

[2019-03-23 12:27] corradio opened #1805 "Safari iPad layout bug"
Seen at https://twitter.com/piotelat/status/1109349200607801345
Safari iPad

[2019-03-23 19:16] alixunderplatz opened #1806 "Check import/export directions for Northern Ireland"
We had a PR #1669 that dealt with the direction of exchanges with Northern Ireland (GB-NIR).
Today's graph for NIR looks very suspicious to me:
![image](https://user-images.githubusercontent.com/25743609/54869982-b9dec000-4da0-11e9-8fb8-f1704b2e56b7.png)
Simultaneous imports towards NIR should result in a smooth load curve or in a reaction of the production, not in a weird up and down.

Here is an

[2019-03-23 20:08] systemcatch commented on #1774
hey @brunolajoie, for the historical mixes do you want me to create a script that reads each file and outputs a .txt file for each year? Then I can send you the data to be added to your database.

[2019-03-24 22:40] planetbb commented on #1563
This is monthly data breakdown into production source (available up to DEC2017).
Let me contact them for more updated veraion.
BTW, why do you need real-time data anyway?

http://kosis.kr/statisticsList/statisticsListIndex.do?menuId=M_01_01&vwcd=MT_ZTITLE&parmTabId=M_01_01&parentId=G.1;G2.2;339_33901.3;#SelectStatsBoxDiv

[2019-03-24 22:58] jarek commented on #1563
In some regions the production mix changes greatly on a daily basis. Check out California's CO2eq intensity when their solar kicks in as an example. Changes to European CO2 intensity from wind tend to take closer to 48 hours, but nevertheless make a big difference. Electricity Map was built to track (and predict) these intra-day CO2 intensity differences, so it needs hourly data.

[2019-03-25 13:25] brunolajoie commented on #1774
Hi @systemcatch, thanks a lot for this, we've found and integrated historical data ourself already!
I'm closing the issue as everything has been done!
awesome 💯

[2019-03-25 13:25] #1774 closed

[2019-03-25 20:32] alixunderplatz opened #1809 "Discuss type for renewable category for Ukraine UA"
Currently, there is no breakdown for the Ukrainian renewable category provided on https://ua.energy/diyalnist/dyspetcherska-informatsiya/dobovyj-grafik-vyrobnytstva-spozhyvannya-e-e/

The renewable category (ВДЕ) is mapped as "wind" in the parser, because wind used to be the dominant source in the past.
Going through the last few days on the website, you will notice a very clear solar peak at noon

[2019-03-25 20:39] corradio commented on #1809
A conservative answer would be to do 2. I'd say.

On Mon 25 Mar 2019 at 21:32, Alex <notifications@github.com> wrote:

--

Olivier Corradi

Founder, CEO

<https://www.linkedin.com/in/oliviercorradi> <https://twitter.com/corradio>

tmrow.com

[2019-03-26 10:42] brunolajoie commented on #1809
If we put it in "unknown", can there be a way to tell that this unknown is "renewable", in the computation of the renewable percent of the country? I don't think so, but it could be a good thing to implement, what dyou think?

[2019-03-26 13:16] jarek commented on #1809
Orkney is currently all unknown and yet showing 100% and 100% renewable, so looks like you're already able to do that somehow?

[2019-03-27 08:35] corradio commented on #1590
@ChrisLoer have you seen this?
https://github.com/mapbox/mapbox-gl-js/pull/7999

[2019-03-27 08:37] scottlee120 commented on #1563
hey guys - just logged in and saw this. unknown in KR is going to be pretty high (i guess like 60% coal minimum as LNG is usually more expensive). not sure you'll get much of a reply if you contact KOSIS directly but if you see a phone number, let me know and i might be able to call them -> generally, in korea, you need eventually to call someone to get an answer as email is not a suitable means o

[2019-03-27 09:58] systemcatch commented on #1809
Let's do number 2, a 50/50 split of wind/solar for carbon intensity looks good to me.

Need to find someone who speaks Ukrainian to get in touch with them as well.

[2019-03-30 07:48] #1809 closed

[2019-04-01 09:15] jiwidi opened #1814 "Can't build docker image. Failing to fetch"
Hi,

When trying to run `docker-compose run --rm web npm run watch` I get the following output:

[code]

Which can be related with [this](https://unix.stackexchange.com/questions/508724/failed-to-fetch-jessie-backports-repository) stackoverflow post (5 days old) where the answer explains that this packages have been moved to the debian.archive.

Maybe the dockerfile needs and update link?
Change h

[2019-04-01 09:18] corradio commented on #1814
The Docker file has just been updated. I suggest you pull the latest master version and it should work!

[2019-04-01 11:02] jiwidi commented on #1814
Hey! thanks for the quick answer.

Im now getting stuck when running the docker compose. This is my output:

[code]

It get's stuck on this step on two different machines I tested it so far. Any advice? @corradio

[2019-04-01 11:11] corradio commented on #1814
That's expected! The `npm run watch` command keeps running forever and watches changes you make in the code to recompile the frontend.
Alongside the watch command you will need to open a new terminal with `docker-compose up --build`.
Feel free to update the README if that wasn't clear enough!

Olivier

[2019-04-01 11:34] jiwidi commented on #1814
Great! I already submitted a pr. Since this issue is solved I'll close the issue.

[2019-04-01 11:34] #1814 closed

[2019-04-01 19:38] #1612 closed

[2019-04-02 09:35] systemcatch commented on #1563
Hey everyone I've made a rough draft of the parser, couple of things I need help with atm.

1. Carbon intensity for the unknown portion of generation.
2. Each source returns data at different times, e.g. right now hydro is 18:20, load 18:30, nuclear 18:33. How do we combine these together?

[2019-04-02 18:58] alixunderplatz commented on #1563
@systemcatch
1. Here's the carbon intensity based on data of IEA for South Korea:
2016: 41.8% coal, 3.1% oil, 22.5% gas, 1.1% biofuels, 0.9% solar, 0.3% wind
This leads to a carbon intensity of 680 g/kWh for the unknown part (nuclear and hydro excluded).
Solar capacity in 2018 has nearly doubled since 2016, but the share is still small.

2. In my opinion, it's never 100% sure whether the timestamp

[2019-04-04 08:52] systemcatch commented on #1563
@alixunderplatz Brilliant I will implement your suggestions for both.

[2019-04-06 06:12] alixunderplatz opened #1817 "Fix exchanges of RU-zones"
The RU parser needs another small tweak. Exchanges with all eastern countries don't seem to work on the map.
When fetching the recent hour, the exchanges show "0.0 MW" because the data is not yet available.
`fetch_exchange(CN, RU-AS) ->
{'sortedZoneKeys': 'CN->RU-AS', 'datetime': datetime.datetime(2019, 4, 6, 8, 48, 10, 810991, tzinfo=tzfile('W-SU')), 'netFlow': 0.0, 'source': 'so-ups.ru'}
fetch_e